<!-- received="Sat Oct  2 03:47:35 1999 PDT" -->
<!-- sent="Sat, 02 Oct 1999 12:52:29 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.37" -->
<!-- id="" -->
<!-- inreplyto="xsane-0.37" -->
<title>sane-devel: Re: xsane-0.37</title>
<h1>Re: xsane-0.37</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 02 Oct 1999 12:52:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Andreas Kraska: "Mustek SE 12000SP Firmware 2.02"</a>
<li> <b>Previous message:</b> <a href="0001.html">Tim Waugh: "Re: xsane-0.37"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Tim Waugh wrote:<br>
<p>
<i>&gt; On Wed, 29 Sep 1999, Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; after everyone got xsane-0.36, here is xsane-0.37 ;-)</i><br>
<i>&gt;</i><br>
<i>&gt; The final link step failed for me because I don't have -lintl.  Taking out</i><br>
<i>&gt; -lintl from the command line worked fine.</i><br>
<i>&gt;</i><br>
<i>&gt; Does something need adjusting in configure.in?</i><br>
<i>&gt;</i><br>
<p>
No.<br>
Should be fixed in xsane-0.37<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Andreas Kraska: "Mustek SE 12000SP Firmware 2.02"</a>
<li> <b>Previous message:</b> <a href="0001.html">Tim Waugh: "Re: xsane-0.37"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
