<!-- received="Mon Oct  4 01:58:18 1999 PDT" -->
<!-- sent="Mon, 04 Oct 1999 10:59:09 +0200" -->
<!-- name="abel deuring" -->
<!-- email="a.deuring@satzbau-gmbh.de" -->
<!-- subject="Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s" -->
<!-- id="" -->
<!-- inreplyto="SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s" -->
<title>sane-devel: Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</title>
<h1>Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</h1>
<b>abel deuring</b> (<a href="mailto:a.deuring@satzbau-gmbh.de"><i>a.deuring@satzbau-gmbh.de</i></a>)<br>
<i>Mon, 04 Oct 1999 10:59:09 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Dominique Bovey: "Acer Scanners?"</a>
<li> <b>Previous message:</b> <a href="0010.html">Levente NOVAK: "Re: Microtek Phantom 636cx again"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">David Brodbeck: "SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Brodbeck wrote:<br>
<i>&gt; </i><br>
<i>&gt; Summary:</i><br>
<i>&gt; -------</i><br>
<i>&gt; I'm running Linux kernel 2.2.10, and SANE 1.0.1.  I have an Agfa</i><br>
<i>&gt; Snapscan 1236S plugged into a Future Domain TMC-16xx card (forget which, I</i><br>
<i>&gt; think it's a 1606.)  When I load the fdomain and sg modules, the scanner</i><br>
<i>&gt; is detected fine.  Running find-scanner as root finds it, too.  Trying to</i><br>
<i>&gt; scan something, though, locks the whole machine solid.</i><br>
<p>
Make sure that you have the latest version of the Agfa backend<br>
installed. There is an incompatibility between older version of the<br>
backend and Linux kernels &gt;= 2.2.6.<br>
<p>
Abel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Dominique Bovey: "Acer Scanners?"</a>
<li> <b>Previous message:</b> <a href="0010.html">Levente NOVAK: "Re: Microtek Phantom 636cx again"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">David Brodbeck: "SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
