<!-- received="Sun Oct 10 02:19:48 1999 PDT" -->
<!-- sent="Sun, 10 Oct 1999 13:21:10 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: HP 6350C support?" -->
<!-- id="" -->
<!-- inreplyto="HP 6350C support?" -->
<title>sane-devel: Re: HP 6350C support?</title>
<h1>Re: HP 6350C support?</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Sun, 10 Oct 1999 13:21:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Oliver Rauch: "xsane-0.38 available"</a>
<li> <b>Previous message:</b> <a href="0073.html">David Crooke: "[Fwd: Followup - SCSI stalls with Umax Astra 610S / Tekram DC390 / Linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0061.html">Rob Komar: "HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Rob,<br>
<p>
please try hp-backend V0.83 from <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>.<br>
The problem is the answer of the scanner to an image extent inquiry:<br>
<p>
<i>&gt; [hp] hp_device_support_probe: 10481 supported (2550..2550, 2550)</i><br>
<p>
This tells that the possible window x-extent is from 2550 to 2550 with<br>
its current value at 2550. For non-ADF scans it would be 0..2550, 2550.<br>
This problem should be fixed in the v0.83 backend.<br>
On the other hand, the response of the scanner may indicate that for<br>
ADF-scans you will always get the maximum scan width back. Even if you<br>
have specified a scan window in (x)scanimage.<br>
<p>
--Peter<br>
 <br>
Rob Komar wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; we recently purchased an HP 6350C scanner with ADF and set</i><br>
<i>&gt; it up via SCSI on our Linux box.  The SANE installation seemed</i><br>
<i>&gt; to go smoothly.  tools/find-scanner locates the scanner</i><br>
<i>&gt; properly (/dev/scanner is a link to /dev/sga):</i><br>
<i>&gt; </i><br>
<i>&gt; find-scanner: found processor "HP C7670A 3925" at device /dev/scanner</i><br>
<i>&gt; find-scanner: found processor "HP C7670A 3925" at device /dev/sg0</i><br>
<i>&gt; find-scanner: found processor "HP C7670A 3925" at device /dev/sga</i><br>
<i>&gt; </i><br>
<i>&gt; However, when I run `xscanimage hp', I get:</i><br>
<i>&gt; </i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of dll to 128.</i><br>
<i>&gt; [dll] adding backend net</i><br>
<i>&gt; [dll] adding backend hp</i><br>
<i>&gt; [dll] loading backend hp</i><br>
<i>&gt; [dll] dlopen()ing `/usr/local/lib/sane/libsane-hp.so.1'</i><br>
<i>&gt; [dll] init: initializing backend `hp'</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of hp to 2.</i><br>
<i>&gt; [hp] hp_read_config: hp backend v0.82 starts reading config file</i><br>
<i>&gt; [hp] hp_read_config: processing line &lt;scsi HP&gt;</i><br>
<i>&gt; [hp] hp_read_config: processing line &lt;/dev/scanner&gt;</i><br>
<i>&gt; [hp] hp_read_config: attach scsi HP</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probing Plus</i><br>
<i>&gt; [hp] probe_scanner: Scanjet Plus compatible</i><br>
<i>&gt; [hp] probing IIc</i><br>
<i>&gt; [hp] probing IIp</i><br>
<i>&gt; [hp] probing IIcx</i><br>
<i>&gt; [hp] probing 4c/3c</i><br>
<i>&gt; [hp] probing 3p</i><br>
<i>&gt; [hp] probing 4P</i><br>
<i>&gt; [hp] probe_scanner: Scanjet 4P compatible</i><br>
<i>&gt; [hp] probing 5P</i><br>
<i>&gt; [hp] probe_scanner: Scanjet 5P compatible</i><br>
<i>&gt; [hp] probing Photo Scanner</i><br>
<i>&gt; [hp] probing 6200C/6250C</i><br>
<i>&gt; [hp] probe_scanner: Scanjet 6200C/6250C compatible</i><br>
<i>&gt; [hp] hp_device_support_probe: Check supported commands for /dev/sga</i><br>
<i>&gt; [hp] hp_device_support_probe: 10307 supported (0..1, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10308 supported (0..1, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10309 supported (0..12, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10310 supported (4..200, 100)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10311 supported (4..800, 100)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10312 supported (1..1, 1)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10314 supported (0..1, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10315 supported (-1..3, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10316 supported (-127..127, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10317 supported (-127..127, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10318 supported (0..1, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10323 supported (12..3200, 300)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10324 supported (12..3200, 300)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10325 supported (0..5, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10468 not supported</i><br>
<i>&gt; [hp] hp_device_support_probe: 10469 not supported</i><br>
<i>&gt; [hp] hp_device_support_probe: 10481 supported (2550..2550, 2550)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10482 supported (1..3508, 3508)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10489 supported (0..2549, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10490 supported (0..3507, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10950 supported (0..4, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10951 not supported</i><br>
<i>&gt; [hp] hp_device_support_probe: 10956 supported (-2..0, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10965 supported (-2..5, 2)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10966 not supported</i><br>
<i>&gt; [hp] hp_device_support_probe: 10969 supported (0..0, 0)</i><br>
<i>&gt; [hp] hp_device_support_probe: 10970 not supported</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] probe_change_doc: inquire ADF capability</i><br>
<i>&gt; [hp] probe_change_doc: check if change document is supported</i><br>
<i>&gt; [hp] probe_scanner: Probing /dev/sga</i><br>
<i>&gt; [hp] read_calib_file: Error opening calibration file /root/.sane/calib-hp:+-dev+-sga.dat for reading</i><br>
<i>&gt; xscanimage: hp-option.c:2979: hp_optset_fix_geometry_options: Assertion `tl_x &amp;&amp; tl_y &amp;&amp; br_x &amp;&amp; br_y' failed.</i><br>
<i>&gt; </i><br>
<i>&gt; (followed by a core dump)</i><br>
<i>&gt; </i><br>
<i>&gt; Is this due to the HP 6350C being unsupported or because of some</i><br>
<i>&gt; error on my part when setting it up?  Any info would be greatly</i><br>
<i>&gt; appreciated.</i><br>
<i>&gt; </i><br>
<i>&gt; Cheers,</i><br>
<i>&gt; Rob Komar</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Oliver Rauch: "xsane-0.38 available"</a>
<li> <b>Previous message:</b> <a href="0073.html">David Crooke: "[Fwd: Followup - SCSI stalls with Umax Astra 610S / Tekram DC390 / Linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0061.html">Rob Komar: "HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
