<!-- received="Tue Oct 12 08:42:06 1999 PDT" -->
<!-- sent="Tue, 12 Oct 1999 17:43:43 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax Vista-S8 -- anyone get this working under linux/BSD?" -->
<!-- id="" -->
<!-- inreplyto="Umax Vista-S8 -- anyone get this working under linux/BSD?" -->
<title>sane-devel: Re: Umax Vista-S8 -- anyone get this working under linux/BSD?</title>
<h1>Re: Umax Vista-S8 -- anyone get this working under linux/BSD?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 12 Oct 1999 17:43:43 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Yuri Dario: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0090.html">Timothy Reaves: "Re: Not to look a gift horse in the mouth..."</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Zot O'Connor: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Zot O'Connor wrote:<br>
<p>
<i>&gt; I've had no luck getting anyone to reply to notes (my last one was in</i><br>
<i>&gt; dec).</i><br>
<i>&gt;</i><br>
<i>&gt; I have a UMAX Vista-S8.  It works fine under 95/NT under a variety of</i><br>
<i>&gt; SCSI cards.</i><br>
<i>&gt;</i><br>
<i>&gt; Under all cards under linux, the scsi card (BIOS) sees the scanner, but</i><br>
<i>&gt; I get no device on the kernel search.</i><br>
<i>&gt;</i><br>
<i>&gt; The scanner chugs, so it is getting a "are you there" message.</i><br>
<i>&gt;</i><br>
<i>&gt; My guess is that the scanner is SCSI 8 Bit, and I need to convince linux</i><br>
<i>&gt; to see the scanner.</i><br>
<i>&gt;</i><br>
<i>&gt; Devices work past the scanner in the chain.</i><br>
<i>&gt;</i><br>
<i>&gt; Trying to add debugging to the kernel (2.2.5-15) doesn't seem to help.</i><br>
<i>&gt;</i><br>
<i>&gt; BTW I've seen this problem under RH 5.0, 5.1, 5.2, 6.0</i><br>
<i>&gt;</i><br>
<i>&gt; SCSI cards:  Future domain 1801, Adaptec 2402 (?), Adaptec 1708.</i><br>
<i>&gt;</i><br>
<i>&gt; I really want this puppy to work under linux.</i><br>
<i>&gt;</i><br>
<p>
What does<br>
cat /proc/scsi/scsi say?<br>
<p>
Is the scanner in ready mode when the system boots?<br>
<p>
Turn on the scanner 2 minutes before you boot your system.<br>
<p>
Please keep me informed if the Umax Vista S8 works.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Yuri Dario: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0090.html">Timothy Reaves: "Re: Not to look a gift horse in the mouth..."</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Zot O'Connor: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- reply="end" -->
</ul>
