<!-- received="Tue Oct 12 12:53:15 1999 PDT" -->
<!-- sent="Tue, 12 Oct 1999 21:53:03 +0200 (METDST)" -->
<!-- name="Gerhard Wiesinger" -->
<!-- email="e9125884@student.tuwien.ac.at" -->
<!-- subject="Problem with xsane preview ..." -->
<!-- id="199910121953.VAA15897@stud4.tuwien.ac.at" -->
<!-- inreplyto="" -->
<title>sane-devel: Problem with xsane preview ...</title>
<h1>Problem with xsane preview ...</h1>
<b>Gerhard Wiesinger</b> (<a href="mailto:e9125884@student.tuwien.ac.at"><i>e9125884@student.tuwien.ac.at</i></a>)<br>
<i>Tue, 12 Oct 1999 21:53:03 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Oliver Rauch: "Re: Problem with xsane preview ..."</a>
<li> <b>Previous message:</b> <a href="0093.html">Dr. Ing. Dieter Jurzitza: "RE: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel 2.2.5 ("</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Oliver Rauch: "Re: Problem with xsane preview ..."</a>
<li> <b>Reply:</b> <a href="0095.html">Oliver Rauch: "Re: Problem with xsane preview ..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello, Hello Oliver!<br>
<p>
Still having the preview crashing problem (until xsane 0.39).<br>
<p>
When I select View/show preview the preview window appears and xsane<br>
crashes.<br>
<p>
Error message is:<br>
Gdk-ERROR **: BadMatch (invalid parameter attributes)<br>
  serial 9132 error_code 8 request_code 62 minor_code 0<br>
<p>
aborting...<br>
<p>
Linux Distribution: DLD 6.01, GTK 1.2.3, GLIB 1.2.3<br>
<p>
Any ideas?<br>
<p>
Ciao,<br>
Gerhard<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Oliver Rauch: "Re: Problem with xsane preview ..."</a>
<li> <b>Previous message:</b> <a href="0093.html">Dr. Ing. Dieter Jurzitza: "RE: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel 2.2.5 ("</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Oliver Rauch: "Re: Problem with xsane preview ..."</a>
<li> <b>Reply:</b> <a href="0095.html">Oliver Rauch: "Re: Problem with xsane preview ..."</a>
<!-- reply="end" -->
</ul>
