<!-- received="Tue Oct 12 22:50:01 1999 PDT" -->
<!-- sent="Tue, 12 Oct 1999 22:51:12 -0700" -->
<!-- name="Zot O'Connor" -->
<!-- email="zot@zotconsulting.com" -->
<!-- subject="Re: Umax Vista-S8 -- anyone get this working under linux/BSD?" -->
<!-- id="" -->
<!-- inreplyto="Umax Vista-S8 -- anyone get this working under linux/BSD?" -->
<title>sane-devel: Re: Umax Vista-S8 -- anyone get this working under linux/BSD?</title>
<h1>Re: Umax Vista-S8 -- anyone get this working under linux/BSD?</h1>
<b>Zot O'Connor</b> (<a href="mailto:zot@zotconsulting.com"><i>zot@zotconsulting.com</i></a>)<br>
<i>Tue, 12 Oct 1999 22:51:12 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Oliver Rauch: "Re: xsane-0.37 (0.38)"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Zot O'Connor wrote:</i><br>
<p>
<i>&gt; What does</i><br>
<i>&gt; cat /proc/scsi/scsi say?</i><br>
<i>&gt; </i><br>
<i>&gt; Is the scanner in ready mode when the system boots?</i><br>
<i>&gt; </i><br>
<i>&gt; Turn on the scanner 2 minutes before you boot your system.</i><br>
<i>&gt; </i><br>
<i>&gt; Please keep me informed if the Umax Vista S8 works.</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<p>
/proc/scsi/scsi shows only the drives in the system.  The scanner has<br>
been on for a while.<br>
<p>
<pre>
-- 
Zot O'Connor
<p>
www.ZotConsulting.com
www.WhiteKnightHackers.com
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Oliver Rauch: "Re: xsane-0.37 (0.38)"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- reply="end" -->
</ul>
