<!-- received="Fri Oct 15 12:25:38 1999 PDT" -->
<!-- sent="Fri, 15 Oct 1999 21:16:46 +0200" -->
<!-- name="Johan Bengtsson" -->
<!-- email="johanb@lls.se" -->
<!-- subject="Epson GT-7000 vs. Umax 1220S" -->
<!-- id="99101521323702.00630@localhost.localdomain" -->
<!-- inreplyto="v03110702b42d255f40a0@[128.218.120.66]" -->
<title>sane-devel: Epson GT-7000 vs. Umax 1220S</title>
<h1>Epson GT-7000 vs. Umax 1220S</h1>
<b>Johan Bengtsson</b> (<a href="mailto:johanb@lls.se"><i>johanb@lls.se</i></a>)<br>
<i>Fri, 15 Oct 1999 21:16:46 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Adam Williams: "Re: Win9x-Client"</a>
<li> <b>Previous message:</b> <a href="0112.html">Pamela Akazawa: "Re: find-scanner...but?"</a>
<li> <b>In reply to:</b> <a href="0112.html">Pamela Akazawa: "Re: find-scanner...but?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I will buy a new scanner to my Linux box soon and I need some advice. I'm<br>
looking for a reasonably cheap flatbed scanner that can be equipped with a<br>
transparency adapter. The transprency adapter must be able handle negs larger<br>
than 24x36, like 6x6, 6x9 etc. I know it's much better to buy a real negative<br>
scanner for scanning negs, but it's all I can afford right now. The Umax 1220<br>
seems to fit the bill, but the Epson GT-7000 also seems to be an interesting<br>
choice. Which of these models would in your opinion be the best choice? Does<br>
the Epson transparency adapter work with Linux? Is there any other scanners<br>
with similar specs that work with Linux?<br>
<p>
I'm _very_ grateful for any advice!<br>
<p>
Best regards,<br>
Johan Bengtsson<br>
<p>
Tent Of Miracles - the unofficial homepage of the legendary band Spirit:<br>
<a href="http://www.lls.se/~johanb/spirit/">http://www.lls.se/~johanb/spirit/</a><br>
August - free html editor for Unix/Linux:<br>
<a href="http://www.lls.se/~johanb/august/">http://www.lls.se/~johanb/august/</a><br>
E-mail @ home: johanb@lls.se<br>
ICQ: 27505976<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Adam Williams: "Re: Win9x-Client"</a>
<li> <b>Previous message:</b> <a href="0112.html">Pamela Akazawa: "Re: find-scanner...but?"</a>
<li> <b>In reply to:</b> <a href="0112.html">Pamela Akazawa: "Re: find-scanner...but?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
