<!-- received="Sat Oct 16 10:05:18 1999 PDT" -->
<!-- sent="Sat, 16 Oct 1999 18:51:38 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek Phantom 636cx again" -->
<!-- id="" -->
<!-- inreplyto="19991005201320.A345@szisz" -->
<title>sane-devel: Re: Microtek Phantom 636cx again</title>
<h1>Re: Microtek Phantom 636cx again</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sat, 16 Oct 1999 18:51:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Bernd Schroeder: "Re: Wrong colors with Scanmaker X6"</a>
<li> <b>Previous message:</b> <a href="0117.html">Wim Taymans: "Wrong colors with Scanmaker X6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
sorry for the late response.<br>
<p>
On Tue, Oct 05, 1999 at 08:13:20PM +0200, =??Q?Nov=E1k_Levente?= wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; On Tue, 05 Oct 1999 19:14:20 Bernd Schroeder wrote:</i><br>
<i>&gt; &gt; Hi,</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; On Tue, Oct 05, 1999 at 09:30:55AM +0200, Levente NOVAK wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; &gt; - the image mirrored (like if it would be seen through a mirror)</i><br>
<i>&gt; &gt; &gt; - vertical stripes or bands, especially one much darker. It is like if the</i><br>
<i>&gt; &gt; &gt; scanned image would be a copy produced by a dirty copier or a printer</i><br>
<i>&gt; &gt; &gt; which has toner problems. </i><br>
<i>&gt; &gt; &gt; None of the above problems is present when I scan under Windows. The</i><br>
<i>&gt; &gt; &gt; mirror phenomenon is not really annoying as I can flip the images with an</i><br>
<i>&gt; &gt; &gt; appropriate program, but the dark stripe is. Does the scanner compensate</i><br>
<i>&gt; &gt; &gt; under Windows for the fluorescent tube's light unevenness, or is it</i><br>
<i>&gt; &gt; &gt; something else?</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; If I knew, what the scan software  does under Windows, it would probably be</i><br>
<i>&gt; &gt; easier to fix problem of a certain type. But normally there is a colour</i><br>
<i>&gt; &gt; calibration process at the beginning of each scani which does exactly</i><br>
<i>&gt; &gt; such a compensation. According to the</i><br>
<i>&gt; &gt; spec this calibration can either be performed by the device or by the</i><br>
<i>&gt; &gt; backend. Default is that the device does the calibration, so one could</i><br>
<i>&gt; &gt; try the calibration by backend, but this is where the other phantom cx models</i><br>
<i>&gt; &gt; stopped working, and it won't work for your particular device anyways.</i><br>
<i>&gt; </i><br>
<i>&gt; Unfortunately I don't know of a method what would permit to "intercept" the commands sent by the Windows driver. Do you? </i><br>
<i>&gt;</i><br>
<p>
You could try it with wine, which has builtin tracing capabilities.<br>
I tried it some months ago with a SCSI model and managed to get it<br>
scanning the SCSI bus using the ASPI 16-bit layer with a simple<br>
test application, that comes with the Microtek software. IIRC it is <br>
called scantest.exe.<br>
<p>
<i>&gt; </i><br>
<i>&gt; &gt; &gt;                       Advanced picture system: No</i><br>
<i>&gt; &gt; &gt;                       Stripes: No</i><br>
<i>&gt; &gt; &gt;                       Slides: Yes</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; This is the reason why the backend aborted, when you first tried it.</i><br>
<i>&gt; &gt; Normally the TMA and ADF option can be inquired, if they are supported,</i><br>
<i>&gt; &gt; even if there is no TMA or ADF attached to the device. Either this</i><br>
<i>&gt; &gt; isn't possible ffor the Slide mode or there is a bug in the backend, so that</i><br>
<i>&gt; &gt; it gets confused with stripes and slides. I will check this.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<p>
[...]<br>
<p>
<i>&gt; &gt; &gt;   LUT capabilities:   None</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; This attribute normally indicates the size of the gamma and the shading</i><br>
<i>&gt; &gt; tables, which can be sent to the scanner. The shading table is used for</i><br>
<i>&gt; &gt; the calibration process, so this is the reason, why 'calibration by backend' </i><br>
<i>&gt; &gt; will probably not work for you.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Did you try the following: Do one or more scans under Windows, and then</i><br>
<i>&gt; &gt; reboot into Linux *without* switching the power of the device off. If</i><br>
<i>&gt; &gt; it is a colour calibration problem, it is possible that it is still</i><br>
<i>&gt; &gt; calibrated, when you start a scan under Linux.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Yes, I tried, but the dark stripe remains. The scanner is constantly on and I booted to Linux with loadlin (so without doing a reset).</i><br>
<i>&gt;  </i><br>
<i>&gt; &gt; I don't know, why some devices indicate that they do not accept these tables.</i><br>
<i>&gt; &gt; Before I have seen this only once with the device of one V6USL user, but</i><br>
<i>&gt; &gt; another device of another user (same model, same FW) had this attribute</i><br>
<i>&gt; &gt; set to 4096 words, which is ok.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Is it possible that the Phantom 636cx "lies" concerning this capability?</i><br>
<p>
In the meanwhile I do not think so any more. Two people have tried it<br>
with a V6USL, which also often says, that it does not support gamma tables,<br>
and these devices did not accept the gamma tables that these users tried<br>
to send.<br>
<p>
[...]<br>
<p>
<i>&gt; &gt; &gt;   Scanning direction: Right to left</i><br>
<p>
In the meanwhile I have a new release of the backend, where it might<br>
be fixed, that the image is mirrored (see my other mail).<br>
<p>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Bernd Schroeder: "Re: Wrong colors with Scanmaker X6"</a>
<li> <b>Previous message:</b> <a href="0117.html">Wim Taymans: "Wrong colors with Scanmaker X6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
