<!-- received="Wed Oct 20 07:56:09 1999 PDT" -->
<!-- sent="Wed, 20 Oct 1999 11:59:07 +0200" -->
<!-- name="Fabrice Pollet" -->
<!-- email="pollet@ensta.fr" -->
<!-- subject="GT-9600, GT-7000" -->
<!-- id="199910200959.LAA01370@fab.ensta.fr" -->
<!-- inreplyto="" -->
<title>sane-devel: GT-9600, GT-7000</title>
<h1>GT-9600, GT-7000</h1>
<b>Fabrice Pollet</b> (<a href="mailto:pollet@ensta.fr"><i>pollet@ensta.fr</i></a>)<br>
<i>Wed, 20 Oct 1999 11:59:07 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Oliver Rauch: "Re: 16 bit images"</a>
<li> <b>Previous message:</b> <a href="0158.html">gull@condor.resnet.mtu.edu: "Re: problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
+---------+---------+--------------+---------+---------+------------+<br>
<i>| Backend | Version | Manufacturer | Model   | Comment | Manual     |</i><br>
+---------+---------+--------------+---------+---------+------------+<br>
<i>| epson   | 1.0.1   | EPSON        | GT-9600 | OK      | sane-epson |</i><br>
<i>|         |         |              +---------+         |            |</i><br>
<i>|         |         |              | GT-7000 |         |            |</i><br>
+---------+---------+--------------+---------+---------+------------+<br>
<p>
<p>
<pre>
-- 
   Fabrice POLLET
							 ___  ________ _
  ENSTA / LEI / AMI	E-mail : <a href="mailto:pollet@ensta.fr">pollet@ensta.fr</a>	| __\| _|_   _/ \
 32 boulevard Victor	Tel    : +33 01 45 52 54 25	| __\____ | |/ _ \
75739 PARIS CEDEX 15	Fax    : +33 01 45 52 55 87	|___\_____|___/ \_\
    F R A N C E
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Oliver Rauch: "Re: 16 bit images"</a>
<li> <b>Previous message:</b> <a href="0158.html">gull@condor.resnet.mtu.edu: "Re: problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
