<!-- received="Sun Oct 24 10:11:57 1999 PDT" -->
<!-- sent="Sun, 24 Oct 1999 19:08:56 +0200" -->
<!-- name="Claudio Francese" -->
<!-- email="c.francese@studenti.to.it" -->
<!-- subject="Looking for info about Mustek ScanExpress 600CP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Looking for info about Mustek ScanExpress 600CP</title>
<h1>Looking for info about Mustek ScanExpress 600CP</h1>
<b>Claudio Francese</b> (<a href="mailto:c.francese@studenti.to.it"><i>c.francese@studenti.to.it</i></a>)<br>
<i>Sun, 24 Oct 1999 19:08:56 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#178">[ date ]</a><a href="index.html#178">[ thread ]</a><a href="subject.html#178">[ subject ]</a><a href="author.html#178">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Menno Tillema: "Re: Mustek MFS-1200SP Pro SCSI doesn t work"</a>
<li> <b>Previous message:</b> <a href="0177.html">Klaus Eisenblaetter: "Re: Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, <br>
did someone develop a driver for parallel scanner Mustek ScanExpress<br>
600CP?<br>
If not where can I find specifications and communication protocol for<br>
this device?<br>
<p>
Thank you in advance<br>
Claudio Francese<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Menno Tillema: "Re: Mustek MFS-1200SP Pro SCSI doesn t work"</a>
<li> <b>Previous message:</b> <a href="0177.html">Klaus Eisenblaetter: "Re: Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
