<!-- received="Mon Oct 25 09:32:00 1999 PDT" -->
<!-- sent="Mon, 25 Oct 1999 18:26:00 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problem with compilation of xsane-0.40 and patch" -->
<!-- id="" -->
<!-- inreplyto="Problem with compilation of xsane-0.40 and patch" -->
<title>sane-devel: Re: Problem with compilation of xsane-0.40 and patch</title>
<h1>Re: Problem with compilation of xsane-0.40 and patch</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 25 Oct 1999 18:26:00 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#183">[ date ]</a><a href="index.html#183">[ thread ]</a><a href="subject.html#183">[ subject ]</a><a href="author.html#183">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Oliver Rauch: "Re: Autoconf/configure"</a>
<li> <b>Previous message:</b> <a href="0182.html">Kevin Dalley: "Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Maybe in reply to:</b> <a href="0182.html">Kevin Dalley: "Problem with compilation of xsane-0.40 and patch"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0189.html">Kevin Dalley: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Reply:</b> <a href="0189.html">Kevin Dalley: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin Dalley wrote:<br>
<p>
<i>&gt; When I try to compile xsane-0.40 using the old version libgimp1</i><br>
<i>&gt; (1.0.4), I get the following compilation error:</i><br>
<i>&gt;</i><br>
<i>&gt; gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/X11R6/include -I/usr/lib/glib/include  -I/usr/local/include -DLOCALEDIR=\""/usr/share/xsane/locale"\" -D_GNU_SOURCE       -DPATH_SANE_DATA_DIR=/usr/share/xsane/sane      -DV_MAJOR=0 -DV_MINOR=40 -DSANE_V_MAJOR=1 -g -O2 -Wall xsane-preferences.c</i><br>
<i>&gt; In file included from xsane-preferences.c:27:</i><br>
<i>&gt; xsane.h:245: parse error before `FILE'</i><br>
<i>&gt; xsane.h:245: warning: no semicolon at end of struct or union</i><br>
<i>&gt; xsane.h:366: parse error before `}'</i><br>
<i>&gt; xsane.h:366: warning: type defaults to `int' in declaration of `Xsane'</i><br>
<i>&gt; xsane.h:366: warning: data definition has no type or storage class</i><br>
<i>&gt; make: *** [xsane-preferences.o] Error 1</i><br>
<i>&gt;</i><br>
<i>&gt; One simple fix to this problem is:</i><br>
<i>&gt;</i><br>
<i>&gt; --- xsane-0.40.orig/frontend/xsane.h</i><br>
<i>&gt; +++ xsane-0.40/frontend/xsane.h</i><br>
<i>&gt; @@ -39,6 +39,7 @@</i><br>
<i>&gt;</i><br>
<i>&gt;  /* ---------------------------------------------------------------------------------------------------------------------- */</i><br>
<i>&gt;</i><br>
<i>&gt; +#include &lt;stdio.h&gt;</i><br>
<i>&gt;  #include &lt;getopt.h&gt;</i><br>
<i>&gt;  #include &lt;xsane-back-gtk.h&gt;</i><br>
<i>&gt;  #include &lt;xsane-preferences.h&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Kevin Dalley</i><br>
<i>&gt; <a href="mailto:kevind@rahul.net">kevind@rahul.net</a></i><br>
<p>
Hi Kevin,<br>
I already heared of that problem,<br>
<p>
which system do you use?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Oliver Rauch: "Re: Autoconf/configure"</a>
<li> <b>Previous message:</b> <a href="0182.html">Kevin Dalley: "Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Maybe in reply to:</b> <a href="0182.html">Kevin Dalley: "Problem with compilation of xsane-0.40 and patch"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0189.html">Kevin Dalley: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>Reply:</b> <a href="0189.html">Kevin Dalley: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<!-- reply="end" -->
</ul>
