<!-- received="Mon Oct 25 13:37:42 1999 PDT" -->
<!-- sent="25 Oct 1999 13:37:31 -0700" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="Re: Problem with compilation of xsane-0.40 and patch" -->
<!-- id="" -->
<!-- inreplyto="Mon, 25 Oct 1999 18:26:00 +0200"" -->
<title>sane-devel: Re: Problem with compilation of xsane-0.40 and patch</title>
<h1>Re: Problem with compilation of xsane-0.40 and patch</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>25 Oct 1999 13:37:31 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#189">[ date ]</a><a href="index.html#189">[ thread ]</a><a href="subject.html#189">[ subject ]</a><a href="author.html#189">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Oliver Rauch: "xsane-0.41"</a>
<li> <b>Previous message:</b> <a href="0188.html">Gerhard Wiesinger: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>In reply to:</b> <a href="0183.html">Oliver Rauch: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; writes:<br>
<p>
<i>&gt; Kevin Dalley wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; When I try to compile xsane-0.40 using the old version libgimp1</i><br>
<i>&gt; &gt; (1.0.4), I get the following compilation error:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/X11R6/include -I/usr/lib/glib/include  -I/usr/local/include -DLOCALEDIR=\""/usr/share/xsane/locale"\" -D_GNU_SOURCE       -DPATH_SANE_DATA_DIR=/usr/share/xsane/sane      -DV_MAJOR=0 -DV_MINOR=40 -DSANE_V_MAJOR=1 -g -O2 -Wall xsane-preferences.c</i><br>
<i>&gt; &gt; In file included from xsane-preferences.c:27:</i><br>
<i>&gt; &gt; xsane.h:245: parse error before `FILE'</i><br>
<i>&gt; &gt; xsane.h:245: warning: no semicolon at end of struct or union</i><br>
<i>&gt; &gt; xsane.h:366: parse error before `}'</i><br>
<i>&gt; &gt; xsane.h:366: warning: type defaults to `int' in declaration of `Xsane'</i><br>
<i>&gt; &gt; xsane.h:366: warning: data definition has no type or storage class</i><br>
<i>&gt; &gt; make: *** [xsane-preferences.o] Error 1</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; One simple fix to this problem is:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; --- xsane-0.40.orig/frontend/xsane.h</i><br>
<i>&gt; &gt; +++ xsane-0.40/frontend/xsane.h</i><br>
<i>&gt; &gt; @@ -39,6 +39,7 @@</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;  /* ---------------------------------------------------------------------------------------------------------------------- */</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; +#include &lt;stdio.h&gt;</i><br>
<i>&gt; &gt;  #include &lt;getopt.h&gt;</i><br>
<i>&gt; &gt;  #include &lt;xsane-back-gtk.h&gt;</i><br>
<i>&gt; &gt;  #include &lt;xsane-preferences.h&gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; --</i><br>
<i>&gt; &gt; Kevin Dalley</i><br>
<i>&gt; &gt; <a href="mailto:kevind@rahul.net">kevind@rahul.net</a></i><br>
<i>&gt; </i><br>
<i>&gt; Hi Kevin,</i><br>
<i>&gt; I already heared of that problem,</i><br>
<i>&gt; </i><br>
<i>&gt; which system do you use?</i><br>
<p>
Oops.  I forgot to mention that I use Debian GNU/Linux.  I compile for <br>
 x86, but uploads are compiled for many other hardware platforms.<br>
<p>
In libgimp from 1.1.10, I found stdio.h included in the following<br>
libgimp header file:<br>
<p>
/usr/include/libgimp/parasite.h:24:#include &lt;stdio.h&gt;<br>
<p>
In libgimp from 1.0.4, stdio.h is not included in any header file.  I<br>
suspect that this problem will be quite common in many platforms.<br>
<p>
<p>
<pre>
-- 
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Oliver Rauch: "xsane-0.41"</a>
<li> <b>Previous message:</b> <a href="0188.html">Gerhard Wiesinger: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<li> <b>In reply to:</b> <a href="0183.html">Oliver Rauch: "Re: Problem with compilation of xsane-0.40 and patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
