<!-- received="Tue Oct 26 08:38:50 1999 PDT" -->
<!-- sent="Tue, 26 Oct 1999 19:02:53 +0000" -->
<!-- name="joakim verona" -->
<!-- email="joakim@verona.se" -->
<!-- subject="continued snapscan troubles" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: continued snapscan troubles</title>
<h1>continued snapscan troubles</h1>
<b>joakim verona</b> (<a href="mailto:joakim@verona.se"><i>joakim@verona.se</i></a>)<br>
<i>Tue, 26 Oct 1999 19:02:53 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#195">[ date ]</a><a href="index.html#195">[ thread ]</a><a href="subject.html#195">[ subject ]</a><a href="author.html#195">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Oliver Rauch: "Re: xsane-0.41"</a>
<li> <b>Previous message:</b> <a href="0194.html">Greg Lehey: "Re: Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">joakim verona: "Re: continued snapscan troubles"</a>
<li> <b>Reply:</b> <a href="0200.html">joakim verona: "Re: continued snapscan troubles"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello!<br>
<p>
I posted  some time ago to this list about my troubles with getting <br>
a snapscan to work under sane 1.0.1. I got a lot of tips that I have<br>
been trying out,<br>
but i'm still having troubles.<br>
<p>
briefly, i have a dual celeron machine runing rh6 and an aha152x scsi<br>
card, kernel 2.2.12smp.<br>
the scanner hangs after a while, before producing useful data, the same<br>
problem others seem<br>
to be having on this list.<br>
<p>
i tried terminating the scanner. i then tried it out on my laptop, using<br>
the same versions<br>
of the softwares. the scsi driver is still aha152x with my pcmcia scsi<br>
card.<br>
<p>
i tried it with snapscan backend 0.7 and the 1.0 alpha.<br>
with the 1.0 alpha backend, the scanner dumps a lot of data, but the<br>
head does not move.<br>
<p>
any more sugestions? i will try the scanner on windows also to rule out<br>
hardware problems<br>
with the scanner, but i'm not very eager to do that because then i must<br>
install windows<br>
on my laptop :-(<br>
<p>
other people with this same problem seems to have solved it by using the<br>
0.7 backend, but im not<br>
so lucky. what can the difference be? the firmware revision in the<br>
scanner? is it possible<br>
to upgrade the snapscan?<br>
<p>
<pre>
-- 
Joakim Verona
<a href="mailto:joakim@verona.se">joakim@verona.se</a>
<a href="http://www.verona.se/~joakimv">http://www.verona.se/~joakimv</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Oliver Rauch: "Re: xsane-0.41"</a>
<li> <b>Previous message:</b> <a href="0194.html">Greg Lehey: "Re: Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">joakim verona: "Re: continued snapscan troubles"</a>
<li> <b>Reply:</b> <a href="0200.html">joakim verona: "Re: continued snapscan troubles"</a>
<!-- reply="end" -->
</ul>
