<!-- received="Wed Oct 27 12:51:47 1999 PDT" -->
<!-- sent="Wed, 27 Oct 1999 21:54:40 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.41" -->
<!-- id="" -->
<!-- inreplyto="xsane-0.41" -->
<title>sane-devel: Re: xsane-0.41</title>
<h1>Re: xsane-0.41</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 27 Oct 1999 21:54:40 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Allan Third: "Re: Recommended cheap SCSI scanners?"</a>
<li> <b>Previous message:</b> <a href="0212.html">Klaus Eisenblaetter: "Re: Recommended cheap SCSI scanners?"</a>
<li> <b>Maybe in reply to:</b> <a href="0190.html">Oliver Rauch: "xsane-0.41"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dave Hill wrote:<br>
<p>
<i>&gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Does xsane-0.41 solve the problem?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Yes, it now compiles OK.</i><br>
<i>&gt;</i><br>
<i>&gt; However, a problem I forgot to mention is that po/Makefile.in</i><br>
<i>&gt; isn't in "configure input" format so it doesn't get modified</i><br>
<i>&gt; by configure. This means that if you want to put xsane anywhere</i><br>
<i>&gt; other than /usr/local, or your install program isn't called</i><br>
<i>&gt; "ginstall", then you have to modify po/Makefile by hand.</i><br>
<i>&gt;</i><br>
<p>
Hi Dave,<br>
Makefile.in is a quick shot in the moment.<br>
If I have the time I will work on it. In fact I already<br>
started that but I have not much time for it in the moment.<br>
So it may take some days.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Allan Third: "Re: Recommended cheap SCSI scanners?"</a>
<li> <b>Previous message:</b> <a href="0212.html">Klaus Eisenblaetter: "Re: Recommended cheap SCSI scanners?"</a>
<li> <b>Maybe in reply to:</b> <a href="0190.html">Oliver Rauch: "xsane-0.41"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
