<!-- received="Wed Aug  6 23:35:01 1997 MST" -->
<!-- sent="Wed, 6 Aug 1997 22:39:38 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: COOLSCAN II backend" -->
<!-- id="199708062039.WAA01815@cave.BitWizard.nl" -->
<!-- inreplyto="199708061301.JAA17765@nigel.redhat.com" -->
<title>sane-devel: Re: COOLSCAN II backend</title>
<h1>Re: COOLSCAN II backend</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Wed, 6 Aug 1997 22:39:38 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0028.html">Didier Carlier: "Re: COOLSCAN II backend - resend"</a>
<li> <b>In reply to:</b> <a href="0024.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<li> <b>Reply:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Michael K. Johnson wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Didier Carlier writes:</i><br>
<i>&gt; &gt;The umax backend seems ok, with little modifications, I got it to do</i><br>
<i>&gt; &gt;simple things like the INQUIRE and POSITION commands on the COOLSCAN,</i><br>
<i>&gt; &gt;and these seem to work. It even reads data but unfortunately the</i><br>
<i>&gt; &gt;picture I get is a 28.8 Meg file all black ;-).</i><br>
<i>&gt; </i><br>
<i>&gt; Ooh, that means you really are most of the way there.  I'm fairly</i><br>
<i>&gt; certain that the problem is that the scanner is confused by the</i><br>
<i>&gt; set window command -- that often causes scanners to return all</i><br>
<i>&gt; zeros for data.  Of course, getting the rest of the way there</i><br>
<i>&gt; can be a long journey.  I don't know what you have done so far,</i><br>
<i>&gt; but I'd try reducing the size of the window descriptor block,</i><br>
<i>&gt; probably to just the minimum defined by section 14 of the scsi</i><br>
<i>&gt; 2 standard.  That gives less potential for conflict between</i><br>
<i>&gt; elements in the wdb, and a better chance of a good scan.  If</i><br>
<i>&gt; that works, you can fill the wdb back in once you hear from Nikon</i><br>
<i>&gt; what their vendor-specific extensions to the wdb look like.</i><br>
<p>
Ohhh.. The coolscan wdb looks pretty normal. <br>
<p>
Didier do you have the SCSI spec? So does "section 14" mean anything<br>
to you?<br>
<p>
Anyway, the Windows driver issues a "change units" command, and then<br>
programs the window in pixels. The scan range is about an inch, so it<br>
sets the units to 1/2800th of an inch or something close to that.<br>
<p>
You can also try to simply specify a window of 0, 0 to 0.5, 0.5<br>
(600,600 in the default resolution of 1/1200th of an inch).<br>
<p>
Michael, your scanner just gives "black" when you give it a bad window?<br>
The Tamarack simply locks up :-( ...<br>
<p>
				Roger.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0028.html">Didier Carlier: "Re: COOLSCAN II backend - resend"</a>
<li> <b>In reply to:</b> <a href="0024.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<li> <b>Reply:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<!-- reply="end" -->
</ul>
