<!-- received="Thu Aug  7 09:26:17 1997 MST" -->
<!-- sent="Thu, 7 Aug 1997 14:00:46 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: COOLSCAN II backend" -->
<!-- id="199708071200.OAA00955@cave.BitWizard.nl" -->
<!-- inreplyto="199708070841.KAA32389@fritz.sema.be" -->
<title>sane-devel: Re: COOLSCAN II backend</title>
<h1>Re: COOLSCAN II backend</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Thu, 7 Aug 1997 14:00:46 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">David Mosberger-Tang: "Re: Mustek continued..."</a>
<li> <b>Previous message:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<li> <b>In reply to:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0037.html">Peter Knoppers: "Re: COOLSCAN II backend"</a>
<li> <b>Reply:</b> <a href="0037.html">Peter Knoppers: "Re: COOLSCAN II backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Didier Carlier wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Rogier Wolff writes:</i><br>
<i>&gt; </i><br>
<i>&gt;  &gt; Ohhh.. The coolscan wdb looks pretty normal. </i><br>
<i>&gt;  &gt; </i><br>
<i>&gt;  &gt; Didier do you have the SCSI spec? So does "section 14" mean anything</i><br>
<i>&gt;  &gt; to you?</i><br>
<i>&gt; </i><br>
<i>&gt; Sure </i><br>
<i>&gt; </i><br>
<i>&gt;  &gt; Anyway, the Windows driver issues a "change units" command, and then</i><br>
<i>&gt;  &gt; programs the window in pixels. The scan range is about an inch, so it</i><br>
<i>&gt;  &gt; sets the units to 1/2800th of an inch or something close to that.</i><br>
<i>&gt;  &gt; </i><br>
<i>&gt;  &gt; You can also try to simply specify a window of 0, 0 to 0.5, 0.5</i><br>
<i>&gt;  &gt; (600,600 in the default resolution of 1/1200th of an inch).</i><br>
<i>&gt; </i><br>
<i>&gt; Would you have a trace of a scan from the Windows driver that you</i><br>
<i>&gt; could send by email ? That could probably help.</i><br>
<i>&gt; </i><br>
<i>&gt; What puzzles me is that all commands are accepted up to the first</i><br>
<i>&gt; READ, at which point the front panel led flashes rapidly for a couple of</i><br>
<i>&gt; seconds. This, according to the user's manual indicates an error</i><br>
<i>&gt; condition, but the return code from the function is ok.</i><br>
<i>&gt; All further READs also complete successfully, without flashes of</i><br>
<i>&gt; the led on the front panel and at the end I get a black image (all</i><br>
<i>&gt; zeroes).</i><br>
<i>&gt; </i><br>
<i>&gt; I guess there are a lot of places where a 'vendor specific' field of a </i><br>
<i>&gt; command is required to be set to some value for the scanner, so</i><br>
<i>&gt; debugging this without the specs (or possibly a trace ?) might be non</i><br>
<i>&gt; realistic.</i><br>
<p>
The "expensive" machine that we used to trace the stuff is actually<br>
pretty old. So we had to copy over the bytes by hand.... So it is<br>
possible that some errors were made.<br>
<p>
I can't find the trace that Peter Knoppers might have sent me. It is<br>
HIS coolscan, and he typed the trace.... He is getting a CC, and is<br>
hereby requested to send the trace to Didier (<a href="mailto:carlierd@acm.org">carlierd@acm.org</a>).... <br>
<p>
					Roger.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">David Mosberger-Tang: "Re: Mustek continued..."</a>
<li> <b>Previous message:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<li> <b>In reply to:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0037.html">Peter Knoppers: "Re: COOLSCAN II backend"</a>
<li> <b>Reply:</b> <a href="0037.html">Peter Knoppers: "Re: COOLSCAN II backend"</a>
<!-- reply="end" -->
</ul>
