<!-- received="Wed Aug 13 17:31:15 1997 MST" -->
<!-- sent="Wed, 13 Aug 1997 16:54:06 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color" -->
<!-- id="199708132354.QAA01269@panda.mosberger" -->
<!-- inreplyto="m0wybR2-000BWVC@charon.beck-sw.de" -->
<title>sane-devel: Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</title>
<h1>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 13 Aug 1997 16:54:06 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "pre-0.63 patch"</a>
<li> <b>Previous message:</b> <a href="0059.html">Christophe Zwecker: "Re: libc prob with 0.62 solved, now gimp"</a>
<li> <b>In reply to:</b> <a href="0058.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Stefan Luettringhaus-Kappel: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color          Problem]"</a>
<li> <b>Reply:</b> <a href="0063.html">Stefan Luettringhaus-Kappel: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color          Problem]"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well, I haven't received many replies to my survey.  So let me ask<br>
this one question:<br>
<p>
     Is there anyone for whom the MFS-12000SP does not presently work<br>
     satisfactorily?<br>
<p>
  --david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "pre-0.63 patch"</a>
<li> <b>Previous message:</b> <a href="0059.html">Christophe Zwecker: "Re: libc prob with 0.62 solved, now gimp"</a>
<li> <b>In reply to:</b> <a href="0058.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Stefan Luettringhaus-Kappel: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color          Problem]"</a>
<li> <b>Reply:</b> <a href="0063.html">Stefan Luettringhaus-Kappel: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color          Problem]"</a>
<!-- reply="end" -->
</ul>
