<!-- received="Thu Aug 14 03:40:03 1997 MST" -->
<!-- sent="Thu, 14 Aug 1997 12:31:08 +0200" -->
<!-- name="Markus Kramer" -->
<!-- email="ma_kramer@linkpoint.de" -->
<!-- subject="Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color" -->
<!-- id="199708132359.QAA01316@panda.mosberger" -->
<!-- inreplyto="MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color" -->
<title>sane-devel: Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</title>
<h1>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</h1>
<b>Markus Kramer</b> (<a href="mailto:ma_kramer@linkpoint.de"><i>ma_kramer@linkpoint.de</i></a>)<br>
<i>Thu, 14 Aug 1997 12:31:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Stefan Luettringhaus-Kappel: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color          Problem]"</a>
<li> <b>Previous message:</b> <a href="0061.html">David Mosberger-Tang: "pre-0.63 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Well, I haven't received many replies to my survey.  So let me ask</i><br>
<i>&gt; this one question:</i><br>
<p>
<i>&gt;      Is there anyone for whom the MFS-12000SP does not presently work</i><br>
<i>&gt;      satisfactorily?</i><br>
<i>&gt;</i><br>
<p>
Sorry to tell you, I still have the same problems using my 1200SP (Lost<br>
lines in grayscale mode and color-scan giving different colored lines<br>
looking somehow like the image quite a bit distorted). I just did not<br>
have the time so far to aquire all information needed for the survey.<br>
But I think I can manage to do so by end of next week.<br>
<p>
Markus<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Stefan Luettringhaus-Kappel: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color          Problem]"</a>
<li> <b>Previous message:</b> <a href="0061.html">David Mosberger-Tang: "pre-0.63 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
