<!-- received="Wed Aug 27 10:16:04 1997 MST" -->
<!-- sent="Wed, 27 Aug 1997 12:39:17 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Agfa Snapscan driver?" -->
<!-- id="199708271639.MAA21581@tristan.redhat.com" -->
<!-- inreplyto="Agfa Snapscan driver?" -->
<title>sane-devel: Re: Agfa Snapscan driver?</title>
<h1>Re: Agfa Snapscan driver?</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Wed, 27 Aug 1997 12:39:17 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#96">[ date ]</a><a href="index.html#96">[ thread ]</a><a href="subject.html#96">[ subject ]</a><a href="author.html#96">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Oliver.Rauch@Wolfsburg.DE: "Re: Agfa Snapscan driver"</a>
<li> <b>Previous message:</b> <a href="0095.html">Michael Burghart: "Hi...Newcomer question.;))"</a>
<li> <b>Maybe in reply to:</b> <a href="0091.html">Michel Roelofs: "Agfa Snapscan driver?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Oliver.Rauch@Wolfsburg.DE: "Re: Agfa Snapscan driver"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang writes:<br>
<i>&gt;  Michel&gt; If not, I have just got some specs for it from Agfa (in</i><br>
<i>&gt;  Michel&gt; Word-format). I'm not a good programmer, if someone might</i><br>
<i>&gt;  Michel&gt; help me then maybe I can do some work (programming and</i><br>
<i>&gt;  Michel&gt; testing).</i><br>
<i>&gt;</i><br>
<i>&gt;That's good news!  Let's hope somebody comes forward with such a</i><br>
<i>&gt;scanner and the time/knowledge to write such a driver.  If you want to</i><br>
<i>&gt;give it a shot on your own, you might want to look at some existing</i><br>
<i>&gt;backends.  Depending on what the Agfa protocol looks like, the HP,</i><br>
<i>&gt;Mustek, or UMAX backend may provide a useful starting point.  If you</i><br>
<i>&gt;have any questions, feel free to drop a note.</i><br>
<p>
Someone told me a year and a half ago that my umax source looked like<br>
it would be easy to modify to support agfa scanners, and that he had<br>
specs that agfa gave him.  He promptly disappeared from the net, though,<br>
so I don't know how true that is...  :-)<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Oliver.Rauch@Wolfsburg.DE: "Re: Agfa Snapscan driver"</a>
<li> <b>Previous message:</b> <a href="0095.html">Michael Burghart: "Hi...Newcomer question.;))"</a>
<li> <b>Maybe in reply to:</b> <a href="0091.html">Michel Roelofs: "Agfa Snapscan driver?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Oliver.Rauch@Wolfsburg.DE: "Re: Agfa Snapscan driver"</a>
<!-- reply="end" -->
</ul>
