<!-- received="Fri Aug 29 11:05:22 1997 MST" -->
<!-- sent="Fri, 29 Aug 1997 10:54:22 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Backtracking in color scanning" -->
<!-- id="199708291754.KAA02430@hopper.mosberger" -->
<!-- inreplyto="3406E4E0.17C1DC85@informatik.uni-koblenz.de" -->
<title>sane-devel: Re: Backtracking in color scanning</title>
<h1>Re: Backtracking in color scanning</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 29 Aug 1997 10:54:22 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">David Mosberger-Tang: "Re: Nikon LS-1000"</a>
<li> <b>Previous message:</b> <a href="0101.html">Rainer krienke: "Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0104.html">shendrix@gypsy.atlantic.infi.net: "Re: Backtracking in color scanning"</a>
<li> <b>Reply:</b> <a href="0104.html">shendrix@gypsy.atlantic.infi.net: "Re: Backtracking in color scanning"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 29 Aug 1997 17:04:01 +0200, Rainer krienke &lt;<a href="mailto:krienke@mailhost.uni-koblenz.de">krienke@mailhost.uni-koblenz.de</a>&gt; said:</i><br>
<p>
  Rainer&gt; When I scan color images at resolutions of say 300dpi the<br>
  Rainer&gt; scan process works right, but is very slow. This is because<br>
  Rainer&gt; the scanner scans some line and then goes back (that's<br>
  Rainer&gt; backtracking if I understood it right) and then scans the<br>
  Rainer&gt; next lines. Looking at the scanner it seems the the way the<br>
  Rainer&gt; scanner goes back is just a little smaller then the way it<br>
  Rainer&gt; has scanned before. Scanning a paper of size DINA4 (~30cm at<br>
  Rainer&gt; length, ~21cm wide) at 300dpi takes about 2min and 45<br>
  Rainer&gt; sec. If I scan at 100 dpi the effect is basically still<br>
  Rainer&gt; there but the sanner then scans a larger area in one step<br>
  Rainer&gt; before going back only a little. So the whole thing works<br>
  Rainer&gt; faster.<br>
<p>
  Rainer&gt; What suprises me a lot, is that under windows doing the same<br>
  Rainer&gt; scanprocess at the same resolution (via the mustec-twain<br>
  Rainer&gt; driver) does not cause backtracking to occur and is<br>
  Rainer&gt; completed much much faster (not even half the time).<br>
<p>
What size scan-buffer are you using?  If you're using the default size<br>
of 32KB, could you try increasing it to 127.5KB?  See sane-scsi(5) for<br>
info on how to do that.<br>
<p>
If increasing the scan buffer size to 127.5KB doesn't help, the<br>
backtracking could be due to timing problems.  If the scanner software<br>
is too slow to issue the next "read data" command then backtracking<br>
would occur.  What kind of computer are you using and how much memory<br>
does it have?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">David Mosberger-Tang: "Re: Nikon LS-1000"</a>
<li> <b>Previous message:</b> <a href="0101.html">Rainer krienke: "Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0104.html">shendrix@gypsy.atlantic.infi.net: "Re: Backtracking in color scanning"</a>
<li> <b>Reply:</b> <a href="0104.html">shendrix@gypsy.atlantic.infi.net: "Re: Backtracking in color scanning"</a>
<!-- reply="end" -->
</ul>
