<!-- received="Sun Aug 31 17:13:45 1997 MST" -->
<!-- sent="Mon, 01 Sep 1997 00:42:25 +0100" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: umax-backend" -->
<!-- id="m0x5JdR-000J8rC@hex.prestel.co.uk" -->
<!-- inreplyto="umax-backend" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 01 Sep 1997 00:42:25 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Rainer Krienke: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0117.html">Rogier Wolff: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0117.html">Rogier Wolff: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a> said:<br>
<i>&gt; Unfortunately, neither GIMP nor PPM support more than 24 bpp so the =</i><br>
<p>
<i>&gt; real thing that's missing is frontend support.  Incidentally, isn't =</i><br>
<p>
<i>&gt; 30 bpp mode normally used to achieve higher resolution through =</i><br>
<p>
<i>&gt; interpolation?  I imagine such a feature would be more useful for the =</i><br>
<p>
<i>&gt; average user than 30bpp support---though I'm not claiming that 30bpp =</i><br>
<p>
<i>&gt; is never useful. =</i><br>
<p>
<p>
On a the only quality assurance program I have ever seen for a scanner,<br>
the low couple of bits where just noise (a =A320,000 12bit grayscale scan=<br>
ner<br>
for X-Ray films using a stablised HeNe laser and a photomultiplier tube).=<br>
<p>
<p>
I doubt it is any different on a compartitvely cheap UMAX scanner with a<br>
CCD and flurescent lighting, so just chuck the two low bits from each cha=<br>
nnel,<br>
which are probably noise anyway and treat it as a noiseless 24bit scanner=<br>
=2E<br>
<p>
<p>
JAB.<br>
<p>
<p>
<p>
-- =<br>
<p>
Jonathan A. Buzzard,<br>
34 Kepwell Road, Prudhoe,           Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a><br>
Northumberland. NE42 6PD              Tel: +44(0)1661-832195<br>
United Kingdom<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Rainer Krienke: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0117.html">Rogier Wolff: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0117.html">Rogier Wolff: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
