<!-- received="Tue Sep  2 08:22:09 1997 MST" -->
<!-- sent="Tue, 02 Sep 97 10:48:00 -0400" -->
<!-- name="shendrix@gypsy.atlantic.infi.net" -->
<!-- email="shendrix@gypsy.atlantic.infi.net" -->
<!-- subject="Re: Backtracking in color scanning" -->
<!-- id="9709021448.AA22170@gypsy.atlantic.infi.net" -->
<!-- inreplyto="19970901104750.53420@drawbridge.in-berlin.de" -->
<title>sane-devel: Re: Backtracking in color scanning</title>
<h1>Re: Backtracking in color scanning</h1>
<a href="mailto:shendrix@gypsy.atlantic.infi.net"><i>shendrix@gypsy.atlantic.infi.net</i></a><br>
<i>Tue, 02 Sep 97 10:48:00 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Wolfgang Jung: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0122.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In message &lt;19970901104750.53420@drawbridge.in-berlin.de&gt; <br>
    <a href="mailto:woju@keep.in-berlin.de">woju@keep.in-berlin.de</a> (&gt; ) writes:<br>
<p>
<i>&gt; Just calcualte the Data the scanner needs to transfer.</i><br>
<i>&gt; As Far as I could find the Mustek Scanner justs  uses async transfer</i><br>
<i>&gt; to the HOST which could be as slow as 1.5MB/S (even if you Adapter</i><br>
<i>&gt; could get up to 7MB/s )</i><br>
<i>&gt; An tiny Area of 1" times 1" brings you with 24 Bit and 1200 dpi Color</i><br>
<i>&gt; into 4320000 Bytes of Imagedata. if the scanner is able to scan that within</i><br>
<i>&gt; 1 Second the scanner needs to stop to get rid of the</i><br>
<i>&gt; Data.</i><br>
<p>
Well, under Windows95 it usually never did backtracking.  When it did,<br>
it only backed up half the number of times it does with sane.   This<br>
was with the little cheap controller it came with too.<br>
<p>
There had got to be a way to get it as fast as under Windows.  My scanner<br>
is backtracking every half inch sometimes.  Under Win95 it always moved at<br>
least a couple of inches before backtracking.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Wolfgang Jung: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0122.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
