<!-- received="Thu Sep  4 12:27:43 1997 MST" -->
<!-- sent="Thu, 4 Sep 1997 20:19:23 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="umax scan resolution" -->
<!-- id="199709041819.UAA10336@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: umax scan resolution</title>
<h1>umax scan resolution</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 4 Sep 1997 20:19:23 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">rwsimmon@ee.utah.edu: "support of Solaris x86?"</a>
<li> <b>Previous message:</b> <a href="0133.html">jim barchuk: "pnmto???? 'bad magic number'"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Umax-scanner owners!<br>
<p>
In the moment the umax-sane-backend only supports as<br>
maximum resolution the value "optical resolution" that is<br>
set by the scanner and in some cases is only the half<br>
of the resolution the firmware of the scanner supports.<br>
<p>
The scan-width is given as a value related to a resolution<br>
of 1200 dpi. It is calculated:<br>
<p>
phys_width = width_in_pixels * 1200 / resolution;<br>
<p>
that works fine from 1 to 600 dpi.<br>
<p>
If I use more than 600 dpi, the scanner calculates<br>
another length in pixels as I used for calculation,<br>
so the scanned image is "crunched". If there is a<br>
difference, then the scanner calculated one pixel less<br>
than I expect.<br>
<p>
So I tried different ways to change the calculation,<br>
the first is:<br>
<p>
phys_width = ( width_in_pixels + 0.5) * 1200 / resolution;<br>
<p>
and the second:<br>
<p>
phys_width = width_in_pixels * 1200 / resolution + 0.5<br>
<p>
(tried with double and integer and ...)<br>
<p>
but that doesn't make the thing better. Then sometimes<br>
the scanner usese the right length, sometimes one pixel more<br>
or one pixel less than I expect.<br>
<p>
In the UMAX scsi-protocol is described, how the resolutions<br>
are created:<br>
<p>
O = hardware-resolution<br>
S = selected resolution<br>
D = O - S<br>
<p>
n-th pixel = INT ( n *O/D ) pixel of hardware-resolution , n=0..D<br>
<p>
that seem to be the pixels that are thrown away.<br>
<p>
<p>
I don't have the time to find out what value<br>
for phys_width (related to 1200 dpi) I have to set<br>
to get width_in_pixels pixels back.<br>
<p>
If anybody likes to use the resolutions &gt; optical_res<br>
or &gt; 600 dpi, say me how I do calculate it and I will<br>
include it.<br>
<p>
----------<br>
<p>
30 bit support (e.g. for umax-Astra 1200S) is half done!<br>
So I think it will be included into sane-0.64. But I don't<br>
know if xscanimage supports more than 24 bits per pixel!<br>
<p>
But at least 30 bit gamma correction will work!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">rwsimmon@ee.utah.edu: "support of Solaris x86?"</a>
<li> <b>Previous message:</b> <a href="0133.html">jim barchuk: "pnmto???? 'bad magic number'"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
