<!-- received="Tue Sep  9 14:54:59 1997 MST" -->
<!-- sent="Tue, 9 Sep 1997 17:21:49 -0500" -->
<!-- name="jim barchuk" -->
<!-- email="jbarchuk@worldnet.att.net" -->
<!-- subject="'bad magic number' update" -->
<!-- id="199709092139.OAA23815@aries.azstarnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: 'bad magic number' update</title>
<h1>'bad magic number' update</h1>
<b>jim barchuk</b> (<a href="mailto:jbarchuk@worldnet.att.net"><i>jbarchuk@worldnet.att.net</i></a>)<br>
<i>Tue, 9 Sep 1997 17:21:49 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<li> <b>Previous message:</b> <a href="0151.html">Mail Delivery Subsystem: "Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<li> <b>Maybe reply:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello All!<br>
<p>
<i>&gt; Using HP Scanjet 5p, RedHat 4.2, distribution 2.0.30 kernel on</i><br>
<i>&gt; PPRO/200.</i><br>
<p>
Installed sane 0.63.<br>
<p>
<i>&gt; -Was- using RH 4.0. At that time everything installed smoothly and</i><br>
<i>&gt; worked perfectly as soon as I figured out /dev/sgb. :)</i><br>
<i>&gt; </i><br>
<i>&gt; -Now-, under 4.2, all pnmto??? utils fail with:</i><br>
<i>&gt; </i><br>
<i>&gt; pnmtotiff: bad magic number - not a ppm, pgm, or pbm file</i><br>
<p>
Okee doke, found a clue. I see:<br>
<p>
<a href="http://glacier.unl.edu/~samal/class/DIST/lectures/pgm.html">http://glacier.unl.edu/~samal/class/DIST/lectures/pgm.html</a><br>
<p>
This info is pgm-specific but I guessed it couldn't be too far off <br>
the mark of other p?? formats.<br>
<p>
The first two lines of the file that scanimage produces seem to be <br>
the x and y dimensions of the area scanned, usually looks like:<br>
<p>
0.1<br>
0.1<br>
P6<br>
# SANE data follows<br>
60 60<br>
255<br>
normal-looking-data...<br>
<p>
When I remove those two leading lines pnmto???? works perfectly.<br>
<p>
Any ideas what I could be doing wrong to cause these x/y lines to <br>
be inserted? <br>
<p>
Or is scanimage creating some other file type that I should be using<br>
other converters?<br>
<p>
Have a :) day!<br>
<p>
jim barchuk<br>
<a href="mailto:jbarchuk@worldnet.att.net">mailto:jbarchuk@worldnet.att.net</a><br>
<a href="http://www.10mb.com/jbarchuk/">http://www.10mb.com/jbarchuk/</a><br>
<a href="http://www.thesurvey.com">http://www.thesurvey.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<li> <b>Previous message:</b> <a href="0151.html">Mail Delivery Subsystem: "Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<li> <b>Maybe reply:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<!-- reply="end" -->
</ul>
