<!-- received="Wed Sep 10 14:11:57 1997 MST" -->
<!-- sent="Wed, 10 Sep 1997 20:37:34 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Testing and OCR (was Re: HP C5100 photosmart)" -->
<!-- id="m0x8rdu-000BWRC@charon.beck-sw.de" -->
<!-- inreplyto="199708211552.LAA20167@lemur.magnet.com" -->
<title>sane-devel: Re: Testing and OCR (was Re: HP C5100 photosmart)</title>
<h1>Re: Testing and OCR (was Re: HP C5100 photosmart)</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 10 Sep 1997 20:37:34 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Q:Support for non-SCSI scanners?"</a>
<li> <b>Previous message:</b> <a href="0159.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<li> <b>In reply to:</b> <a href="0078.html">Andrew Kuchling: "Testing and OCR (was Re: HP C5100 photosmart)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;What's everything?  Is there a standard regression test that you run on</i><br>
<i>&gt; &gt;a scanner to say, yes it does work?  </i><br>
<p>
<i>&gt; 	The mention of "regression test" reminds me of something; I'd</i><br>
<i>&gt; like to see a test backend that doesn't actually do anything, but has</i><br>
<i>&gt; every possible combination of option type and unit and constraint, in</i><br>
<i>&gt; order to allow testing that frontends can handle every possible</i><br>
<i>&gt; option.</i><br>
The PNM backend is intended for exactly this. Well it has a function, too<br>
(reading PNMs), but this is only to be able to test the data-transfer<br>
process, too.<br>
<p>
<i>&gt; been tested on the PNM and qcam backends.  Unfortunately, I won't get</i><br>
<i>&gt; around to writing this test backend for a while.</i><br>
You could extend the PNM backend with some further silly options (gamma-mapping <br>
maybe ?).<br>
<p>
<i>&gt; BTW, there's someone named Stuart Inglis who's working on a free OCR program; </i><br>
<i>&gt; the Web page is at <a href="http://www.cs.waikato.ac.nz/~singlis/ocr/">http://www.cs.waikato.ac.nz/~singlis/ocr/</a> .</i><br>
Oh - nice. Should have a look at it.<br>
<p>
<i>&gt; Currently he has a set of command-line programs which take PBM files and </i><br>
<i>&gt; process them, but no higher-level interface.</i><br>
Actually this is nice for batch-processing. A GUI should only be needed<br>
if the system needs help, e.g. in page-separation.<br>
<p>
I'd really appreciate a good OCR program for Linux.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Q:Support for non-SCSI scanners?"</a>
<li> <b>Previous message:</b> <a href="0159.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<li> <b>In reply to:</b> <a href="0078.html">Andrew Kuchling: "Testing and OCR (was Re: HP C5100 photosmart)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
