<!-- received="Wed Sep 10 15:24:55 1997 MST" -->
<!-- sent="Wed, 10 Sep 1997 15:32:38 -0700" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Microtek backend:  in progress?" -->
<!-- id="199709102224.SAA24268@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek backend:  in progress?</title>
<h1>Microtek backend:  in progress?</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Wed, 10 Sep 1997 15:32:38 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Per Harald Myrvang: "saned check_hosts() frobnication"</a>
<li> <b>Previous message:</b> <a href="0162.html">Wolfgang Jung: "Re: Gray Mode of MFS12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I vaguely recall that someone was planning to gel a backend for the Microtek<br>
 scanners out of Jan Schoenepauck's mtekscan code.<br>
<p>
Is that happening?  I finally have both a scanner (E6) and some time, and would<br>
 like to help.  (If there isn't already any code out there to alpha/beta test,<br>
 I'd be willing to take a first stab at the port myself.)<br>
<p>
<p>
-matt marjanovic<br>
 maddog@mir.com<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Per Harald Myrvang: "saned check_hosts() frobnication"</a>
<li> <b>Previous message:</b> <a href="0162.html">Wolfgang Jung: "Re: Gray Mode of MFS12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
