<!-- received="Mon Sep 22 10:59:32 1997 MST" -->
<!-- sent="Mon, 22 Sep 1997 11:07:32 -0700" -->
<!-- name="Martin Goik" -->
<!-- email="martin.goik@abas.de" -->
<!-- subject="Mustek scanner Problems" -->
<!-- id="199709220939.IAA19795@suntlc.etnoteam.it" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek scanner Problems</title>
<h1>Mustek scanner Problems</h1>
<b>Martin Goik</b> (<a href="mailto:martin.goik@abas.de"><i>martin.goik@abas.de</i></a>)<br>
<i>Mon, 22 Sep 1997 11:07:32 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Michael Sweet: "Update SGI SCSI support for SANE-0.63"</a>
<li> <b>Previous message:</b> <a href="0215.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi sane developer's<br>
Recently I installed sane-0.62 for my mustek MFS-12000SP v1.02 scanner<br>
on a linux 2.0.29 box . <br>
<p>
The good news about the driver is: It works. The bad <a href="news:">news:</a> It does not<br>
work very well.<br>
<p>
When I call scanimage without any parameters I get a simple preview<br>
image in greyscale at 18dpi as mentioned in the documentation. Playing<br>
around with the -x and -y options for limiting the scanned region does<br>
not have any effect at all. When I increase the --resolution option to a<br>
value of more than 50 (dpi) (I dont't know the exact figure now) the<br>
scanner reaches its  maximum scan height, so I have to do an emergency<br>
shutdown. The resulting image is truncated but still usable despite from<br>
the fact that it is distorted in y direction i.e. the width appears to<br>
be correct but the height is too small. This behaviour gets even worse<br>
by further increasing the resolution. Interestingly the physical height<br>
of the scanner is not reached if I enable --mode color but still -x and<br>
-y options do not show any effect at all.<br>
<p>
Is there hope of an update in the not too distant future?<br>
<p>
Since I'm not subscribed to this mailing list I would greatly appreciate<br>
E-mail responses to <a href="mailto:martin.goik@abas.de">martin.goik@abas.de</a> .<br>
<p>
<p>
<pre>
-- 
Martin Goik           Software engineer           
<a href="http://www.iai.fzk.de/~goik">http://www.iai.fzk.de/~goik</a>
ABAS-Software AG   <a href="http://www.abas.de">http://www.abas.de</a>
+++++++++++++++++++++++++++++++++++++++    
If you thought flashing ads on Web sites were annoying, wait till the
Web and your operating system are "seamlessly integrated" and watch the
pulsating promotional crud spill out over your desktop.  
-- Scott Rosenburg
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Michael Sweet: "Update SGI SCSI support for SANE-0.63"</a>
<li> <b>Previous message:</b> <a href="0215.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
