<title>sane-devel by subject</title>
<a name="start"><h1>sane-devel by subject</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Thu 31 Jul 1997 - 12:41:37 MST</i><br>
<b>Ending:</b> <i>Wed 24 Sep 1997 - 22:18:31 MST</i><br>
<b>Messages:</b> 230
<p>
<ul>
<li> <b>"Permission denied" on /dev/sga under linux?</b>
<ul>
<li> <a href="0187.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="187"><i>Mon, 15 Sep 1997 00:45:53 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0185.html">eric</a> <a name="185"><i>Sun, 14 Sep 1997 17:41:15 -0400</i></a>
</ul>
<li> <b>'bad magic number' update</b>
<ul>
<li> <a href="0153.html">jim barchuk</a> <a name="153"><i>Tue, 9 Sep 1997 18:55:44 -0500</i></a>
</ul>
<ul>
<li> <a href="0152.html">jim barchuk</a> <a name="152"><i>Tue, 9 Sep 1997 17:21:49 -0500</i></a>
</ul>
<li> <b>Agfa Snapscan driver</b>
<ul>
<li> <a href="0097.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="97"><i>Wed, 27 Aug 1997 19:40:10 +0200 (MET DST)</i></a>
</ul>
<li> <b>Agfa Snapscan driver?</b>
<ul>
<li> <a href="0096.html">Michael K. Johnson</a> <a name="96"><i>Wed, 27 Aug 1997 12:39:17 -0400</i></a>
</ul>
<ul>
<li> <a href="0094.html">David Mosberger-Tang</a> <a name="94"><i>Wed, 27 Aug 1997 08:50:59 -0700</i></a>
</ul>
<ul>
<li> <a href="0091.html">Michel Roelofs</a> <a name="91"><i>Tue, 26 Aug 1997 13:59:27 +0200 (MET DST)</i></a>
</ul>
<li> <b>Astra 600S, ncr 53c875 (tekram) SCI solved</b>
<ul>
<li> <a href="0177.html">Michael K. Johnson</a> <a name="177"><i>Fri, 12 Sep 1997 16:47:21 -0400</i></a>
</ul>
<ul>
<li> <a href="0176.html">Michael K. Johnson</a> <a name="176"><i>Fri, 12 Sep 1997 16:26:46 -0400</i></a>
</ul>
<ul>
<li> <a href="0175.html">Preston Brown</a> <a name="175"><i>Fri, 12 Sep 1997 15:28:53 -0400 (EDT)</i></a>
</ul>
<li> <b>Backtracking in color scanning</b>
<ul>
<li> <a href="0143.html">Rogier Wolff</a> <a name="143"><i>Sun, 7 Sep 1997 13:53:49 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0141.html">Rogier Wolff</a> <a name="141"><i>Sun, 7 Sep 1997 09:06:37 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0137.html">David Mosberger-Tang</a> <a name="137"><i>Sat, 6 Sep 1997 11:45:52 -0700</i></a>
</ul>
<ul>
<li> <a href="0127.html">Rogier Wolff</a> <a name="127"><i>Tue, 2 Sep 1997 18:07:43 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0124.html">Wolfgang Jung</a> <a name="124"><i>Tue, 2 Sep 1997 17:32:25 +0200</i></a>
</ul>
<ul>
<li> <a href="0123.html">shendrix@gypsy.atlantic.infi.net</a> <a name="123"><i>Tue, 02 Sep 97 10:48:00 -0400</i></a>
</ul>
<ul>
<li> <a href="0118.html">Rogier Wolff</a> <a name="118"><i>Mon, 1 Sep 1997 13:55:42 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0116.html">Wolfgang Jung</a> <a name="116"><i>Mon, 1 Sep 1997 10:47:50 +0200</i></a>
</ul>
<ul>
<li> <a href="0113.html">Mathias Weigt</a> <a name="113"><i>Mon, 1 Sep 1997 09:54:10 -0600</i></a>
</ul>
<ul>
<li> <a href="0112.html">Rainer Krienke</a> <a name="112"><i>Mon, 1 Sep 1997 08:33:41 +0200</i></a>
</ul>
<ul>
<li> <a href="0107.html">Michael Ritzert</a> <a name="107"><i>Sat, 30 Aug 1997 11:44:00 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0106.html">Rogier Wolff</a> <a name="106"><i>Sat, 30 Aug 1997 09:30:10 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0105.html">Rainer Krienke</a> <a name="105"><i>Fri, 29 Aug 1997 22:28:35 +0200</i></a>
</ul>
<ul>
<li> <a href="0104.html">shendrix@gypsy.atlantic.infi.net</a> <a name="104"><i>Fri, 29 Aug 97 14:13:36 -0400</i></a>
</ul>
<ul>
<li> <a href="0102.html">David Mosberger-Tang</a> <a name="102"><i>Fri, 29 Aug 1997 10:54:22 -0700</i></a>
</ul>
<ul>
<li> <a href="0101.html">Rainer krienke</a> <a name="101"><i>Fri, 29 Aug 1997 17:04:01 +0200</i></a>
</ul>
<li> <b>Broken configure?</b>
<ul>
<li> <a href="0009.html">Michael Sweet</a> <a name="9"><i>Fri, 01 Aug 1997 09:14:30 -0400</i></a>
</ul>
<ul>
<li> <a href="0005.html">Michael K. Johnson</a> <a name="5"><i>Thu, 31 Jul 1997 21:30:22 -0400</i></a>
</ul>
<li> <b>But wait, there's more...  :-)</b>
<ul>
<li> <a href="0006.html">Michael K. Johnson</a> <a name="6"><i>Thu, 31 Jul 1997 22:28:15 -0400</i></a>
</ul>
<li> <b>Can't find device</b>
<ul>
<li> <a href="0194.html">Dan Mueth</a> <a name="194"><i>Wed, 17 Sep 1997 09:27:48 -0700</i></a>
</ul>
<li> <b>compiling sane-0.62</b>
<ul>
<li> <a href="0073.html">David Mosberger-Tang</a> <a name="73"><i>Wed, 20 Aug 1997 18:05:06 -0700</i></a>
</ul>
<li> <b>COOLSCAN II backend</b>
<ul>
<li> <a href="0037.html">Peter Knoppers</a> <a name="37"><i>Fri, 8 Aug 1997 09:35:03 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0035.html">Rogier Wolff</a> <a name="35"><i>Thu, 7 Aug 1997 14:00:46 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0033.html">Michael K. Johnson</a> <a name="33"><i>Thu, 07 Aug 1997 10:15:05 -0400</i></a>
</ul>
<ul>
<li> <a href="0032.html">Michael K. Johnson</a> <a name="32"><i>Thu, 07 Aug 1997 10:09:17 -0400</i></a>
</ul>
<ul>
<li> <a href="0030.html">Didier Carlier</a> <a name="30"><i>Thu, 7 Aug 1997 10:41:37 +0200</i></a>
</ul>
<ul>
<li> <a href="0029.html">Rogier Wolff</a> <a name="29"><i>Wed, 6 Aug 1997 22:39:38 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0024.html">Michael K. Johnson</a> <a name="24"><i>Wed, 06 Aug 1997 09:01:03 -0400</i></a>
</ul>
<ul>
<li> <a href="0020.html">Didier Carlier</a> <a name="20"><i>Wed, 6 Aug 1997 10:25:03 +0200</i></a>
</ul>
<li> <b>COOLSCAN II backend - resend</b>
<ul>
<li> <a href="0028.html">Didier Carlier</a> <a name="28"><i>Wed, 6 Aug 1997 17:09:21 +0200</i></a>
</ul>
<ul>
<li> <a href="0026.html">David Mosberger-Tang</a> <a name="26"><i>Wed, 6 Aug 1997 07:55:05 -0700</i></a>
</ul>
<ul>
<li> <a href="0016.html">Rogier Wolff</a> <a name="16"><i>Tue, 5 Aug 1997 22:29:21 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0010.html">Michael K. Johnson</a> <a name="10"><i>Fri, 01 Aug 1997 09:26:58 -0400</i></a>
</ul>
<ul>
<li> <a href="0008.html">carlierd@acm.org</a> <a name="8"><i>Fri, 1 Aug 1997 11:41:51 +0200</i></a>
</ul>
<li> <b>Dark scans from Astra 600S</b>
<ul>
<li> <a href="0192.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="192"><i>Tue, 16 Sep 1997 19:35:51 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0191.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="191"><i>Tue, 16 Sep 1997 19:33:49 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0183.html">Bernd Seemann</a> <a name="183"><i>Sat, 13 Sep 1997 19:21:51 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0181.html">Preston Brown</a> <a name="181"><i>Sat, 13 Sep 1997 11:40:21 -0400 (EDT)</i></a>
</ul>
<li> <b>Datacopy 730GS</b>
<ul>
<li> <a href="0219.html">Richard Stearn</a> <a name="219"><i>Tue, 23 Sep 1997 14:50:34 +0100</i></a>
</ul>
<li> <b>Destroyed my MUSTEK II 600 CD Scanner!</b>
<ul>
<li> <a href="0067.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="67"><i>Fri, 15 Aug 1997 11:22:38 +0200 (MET DST)</i></a>
</ul>
<li> <b>Destroyed my MUSTEK II 600 CD Scanner! HELP!</b>
<ul>
<li> <a href="0066.html">David Mosberger-Tang</a> <a name="66"><i>Thu, 14 Aug 1997 14:50:33 -0700</i></a>
</ul>
<li> <b>Dokumentation about MUSTEK</b>
<ul>
<li> <a href="0114.html">Wolfgang Jung</a> <a name="114"><i>Mon, 1 Sep 1997 10:50:03 +0200</i></a>
</ul>
<li> <b>Epson 1200C</b>
<ul>
<li> <a href="0065.html">Zach Beane</a> <a name="65"><i>Thu, 14 Aug 1997 13:31:39 -0400</i></a>
</ul>
<li> <b>Epson ES-1200C</b>
<ul>
<li> <a href="0004.html">Fritz Jetzek</a> <a name="4"><i>Fri, 01 Aug 1997 00:08:01 +0200</i></a>
</ul>
<ul>
<li> <a href="0003.html">Zach Beane</a> <a name="3"><i>Thu, 31 Jul 1997 17:50:52 -0400</i></a>
</ul>
<li> <b>Error compiling sane 0.62 on AIX 4.1</b>
<ul>
<li> <a href="0025.html">David Mosberger-Tang</a> <a name="25"><i>Wed, 6 Aug 1997 07:33:18 -0700</i></a>
</ul>
<ul>
<li> <a href="0023.html">Rogan Dawes</a> <a name="23"><i>Wed, 6 Aug 1997 14:13:57 +0200</i></a>
</ul>
<li> <b>GIMP 0.99.11 and sane</b>
<ul>
<li> <a href="0229.html">David Mosberger-Tang</a> <a name="229"><i>Wed, 24 Sep 1997 22:26:34 -0700</i></a>
</ul>
<ul>
<li> <a href="0227.html">Michael Sweet</a> <a name="227"><i>Wed, 24 Sep 1997 06:06:56 -0700</i></a>
</ul>
<ul>
<li> <a href="0224.html">Allan Nielsen</a> <a name="224"><i>Wed, 24 Sep 1997 12:03:34 +0200 (MET DST)</i></a>
</ul>
<li> <b>Gray Mode of MFS12000SP</b>
<ul>
<li> <a href="0162.html">Wolfgang Jung</a> <a name="162"><i>Wed, 10 Sep 1997 22:50:37 +0200</i></a>
</ul>
<ul>
<li> <a href="0158.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="158"><i>Wed, 10 Sep 1997 21:05:18 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0115.html">Wolfgang Jung</a> <a name="115"><i>Sat, 30 Aug 1997 00:03:32 +0200 (MET DST)</i></a>
</ul>
<li> <b>Hi...Newcomer question.;))</b>
<ul>
<li> <a href="0098.html">David Mosberger-Tang</a> <a name="98"><i>Wed, 27 Aug 1997 12:41:05 -0700</i></a>
</ul>
<ul>
<li> <a href="0095.html">Michael Burghart</a> <a name="95"><i>Wed, 27 Aug 1997 17:54:31 +0200 (MEST)</i></a>
</ul>
<li> <b>How to remove moire effects from scanned picture ?</b>
<ul>
<li> <a href="0220.html">Henning Sauer</a> <a name="220"><i>Tue, 23 Sep 1997 19:46:34 +0200 (MET DST)</i></a>
</ul>
<li> <b>HP 4C problems...</b>
<ul>
<li> <a href="0213.html">Mathias Weigt</a> <a name="213"><i>Sun, 21 Sep 1997 17:17:44 +0059 (MDT)</i></a>
</ul>
<li> <b>HP 4P problems</b>
<ul>
<li> <a href="0214.html">Petri Lehtonen</a> <a name="214"><i>Sun, 21 Sep 1997 23:19:19 +0300 (EET DST)</i></a>
</ul>
<ul>
<li> <a href="0212.html">Rogier Wolff</a> <a name="212"><i>Sun, 21 Sep 1997 09:50:23 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0211.html">Mathias Weigt</a> <a name="211"><i>Sun, 21 Sep 1997 08:32:44 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0210.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="210"><i>Sat, 20 Sep 1997 04:08:29 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0208.html">Rogier Wolff</a> <a name="208"><i>Sat, 20 Sep 1997 17:26:18 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0207.html">Wolfgang Jung</a> <a name="207"><i>Fri, 19 Sep 1997 22:03:39 +0200</i></a>
</ul>
<ul>
<li> <a href="0204.html">Petri Lehtonen</a> <a name="204"><i>Fri, 19 Sep 1997 20:16:00 +0300 (EET DST)</i></a>
</ul>
<ul>
<li> <a href="0199.html">Rogier Wolff</a> <a name="199"><i>Fri, 19 Sep 1997 08:29:46 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0198.html">Petri Lehtonen</a> <a name="198"><i>Thu, 18 Sep 1997 23:29:42 +0300 (EET DST)</i></a>
</ul>
<ul>
<li> <a href="0197.html">Mathias Weigt</a> <a name="197"><i>Thu, 18 Sep 1997 21:14:18 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0196.html">Petri Lehtonen</a> <a name="196"><i>Thu, 18 Sep 1997 20:50:54 +0300 (EET DST)</i></a>
</ul>
<li> <b>hp 5p</b>
<ul>
<li> <a href="0172.html">Eric Ludlam</a> <a name="172"><i>Fri, 12 Sep 1997 08:55:20 -0400 (EDT)</i></a>
</ul>
<li> <b>HP C5100 photosmart</b>
<ul>
<li> <a href="0076.html">Rex Vaughn</a> <a name="76"><i>Thu, 21 Aug 1997 10:55:53 -0400</i></a>
</ul>
<ul>
<li> <a href="0071.html">David Mosberger-Tang</a> <a name="71"><i>Wed, 20 Aug 1997 18:00:47 -0700</i></a>
</ul>
<ul>
<li> <a href="0070.html">Rex Vaughn</a> <a name="70"><i>Sun, 17 Aug 1997 16:58:03 -0400</i></a>
</ul>
<li> <b>HP C5100 photosmart)</b>
<ul>
<li> <a href="0160.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="160"><i>Wed, 10 Sep 1997 20:37:34 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0078.html">Andrew Kuchling</a> <a name="78"><i>Thu, 21 Aug 1997 11:52:58 -0400 (EDT)</i></a>
</ul>
<li> <b>HP OfficeJet Pro 1150c</b>
<ul>
<li> <a href="0179.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="179"><i>Fri, 12 Sep 1997 23:11:01 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0174.html">Laszlo Vecsey</a> <a name="174"><i>Fri, 12 Sep 1997 12:35:15 -0400 (EDT)</i></a>
</ul>
<li> <b>libc prob with 0.62 solved, now gimp</b>
<ul>
<li> <a href="0059.html">Christophe Zwecker</a> <a name="59"><i>13 Aug 1997 15:41:27 +0200</i></a>
</ul>
<ul>
<li> <a href="0057.html">Christophe Zwecker</a> <a name="57"><i>Wed, 13 Aug 1997 12:16:49 +0200</i></a>
</ul>
<li> <b>Linking as GIMP plug-in</b>
<ul>
<li> <a href="0150.html">jerome marchand</a> <a name="150"><i>Mon, 8 Sep 1997 21:12:39 -0700</i></a>
</ul>
<ul>
<li> <a href="0148.html">Allan Nielsen</a> <a name="148"><i>Mon, 8 Sep 1997 08:25:29 +0200 (MET DST)</i></a>
</ul>
<li> <b>lost umax-mails are found ;-)</b>
<ul>
<li> <a href="0068.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="68"><i>Sat, 16 Aug 1997 12:05:34 +0200 (MET DST)</i></a>
</ul>
<li> <b>Microtek backend:  in progress?</b>
<ul>
<li> <a href="0163.html">Matto Marjanovic</a> <a name="163"><i>Wed, 10 Sep 1997 15:32:38 -0700</i></a>
</ul>
<li> <b>minimal config.</b>
<ul>
<li> <a href="0149.html">Rogan Dawes</a> <a name="149"><i>Mon, 8 Sep 1997 11:41:00 +0200</i></a>
</ul>
<ul>
<li> <a href="0040.html">Rogan Dawes</a> <a name="40"><i>Fri, 8 Aug 1997 13:57:31 +0200</i></a>
</ul>
<li> <b>miroctek</b>
<ul>
<li> <a href="0167.html">Bob van der Poel</a> <a name="167"><i>Thu, 11 Sep 1997 14:37:52 -0700</i></a>
</ul>
<li> <b>Mustec 1200SP Firmware 1.02 Color</b>
<ul>
<li> <a href="0064.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="64"><i>Thu, 14 Aug 1997 18:31:25 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0062.html">Markus Kramer</a> <a name="62"><i>Thu, 14 Aug 1997 12:31:08 +0200</i></a>
</ul>
<ul>
<li> <a href="0060.html">David Mosberger-Tang</a> <a name="60"><i>Wed, 13 Aug 1997 16:54:06 -0700</i></a>
</ul>
<ul>
<li> <a href="0058.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="58"><i>Wed, 13 Aug 1997 13:17:52 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0039.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="39"><i>Thu, 7 Aug 1997 22:29:58 +0200 (MET DST)</i></a>
</ul>
<li> <b>Mustec 1200SP Firmware 1.02 Color          Problem]</b>
<ul>
<li> <a href="0063.html">Stefan Luettringhaus-Kappel</a> <a name="63"><i>Thu, 14 Aug 1997 13:17:19 +0200 (MEST)</i></a>
</ul>
<li> <b>Mustec 1200SP Firmware 1.02 Color Problem</b>
<ul>
<li> <a href="0031.html">krienke@mailhost.uni-koblenz.de</a> <a name="31"><i>Thu, 7 Aug 1997 15:09:19 +0200</i></a>
</ul>
<li> <b>Mustec 1200SP Firmware 1.02 Color Problem]</b>
<ul>
<li> <a href="0034.html">David Mosberger-Tang</a> <a name="34"><i>Thu, 7 Aug 1997 08:16:43 -0700</i></a>
</ul>
<li> <b>Mustek 1200SP PRO</b>
<ul>
<li> <a href="0093.html">David Mosberger-Tang</a> <a name="93"><i>Wed, 27 Aug 1997 08:44:16 -0700</i></a>
</ul>
<ul>
<li> <a href="0092.html">Evgeny Stambulchik</a> <a name="92"><i>Wed, 27 Aug 1997 13:18:16 +0300 (IDT)</i></a>
</ul>
<li> <b>Mustek continued...</b>
<ul>
<li> <a href="0036.html">David Mosberger-Tang</a> <a name="36"><i>Thu, 7 Aug 1997 20:39:38 -0700</i></a>
</ul>
<li> <b>Mustek MFS-12000SP Ver. 1.02, 1.06 &amp; sane-0.63</b>
<ul>
<li> <a href="0201.html">karl@ccbfb.org</a> <a name="201"><i>Fri, 19 Sep 1997 08:25:44 -0700</i></a>
</ul>
<li> <b>mustek problems in lineart mode</b>
<ul>
<li> <a href="0203.html">Michael Ritzert</a> <a name="203"><i>Fri, 19 Sep 1997 13:39:51 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0193.html">Michael Ritzert</a> <a name="193"><i>Tue, 16 Sep 1997 09:16:39 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0188.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="188"><i>Mon, 15 Sep 1997 10:46:23 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0186.html">Michael Ritzert</a> <a name="186"><i>Sun, 14 Sep 1997 21:07:12 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0184.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="184"><i>Sun, 14 Sep 1997 18:43:03 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0182.html">Michael Ritzert</a> <a name="182"><i>Sat, 13 Sep 1997 08:22:27 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0178.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="178"><i>Fri, 12 Sep 1997 19:16:15 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0171.html">Marco Lonsing</a> <a name="171"><i>Fri, 12 Sep 1997 10:06:56 +0200</i></a>
</ul>
<ul>
<li> <a href="0169.html">Michael Ritzert</a> <a name="169"><i>Thu, 11 Sep 1997 13:06:22 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0159.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="159"><i>Wed, 10 Sep 1997 16:22:52 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0144.html">Michael Ritzert</a> <a name="144"><i>Sun, 07 Sep 1997 15:55:28 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0139.html">David Mosberger-Tang</a> <a name="139"><i>Sat, 6 Sep 1997 11:57:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0129.html">Michael Ritzert</a> <a name="129"><i>Wed, 03 Sep 1997 15:38:31 +0200 (CEST)</i></a>
</ul>
<li> <b>Mustek problems.</b>
<ul>
<li> <a href="0131.html">Mathias Weigt</a> <a name="131"><i>Thu, 4 Sep 1997 09:26:21 -0600</i></a>
</ul>
<ul>
<li> <a href="0130.html">Allan Nielsen</a> <a name="130"><i>Wed, 3 Sep 1997 20:52:02 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0128.html">Allan Nielsen</a> <a name="128"><i>Wed, 3 Sep 1997 01:04:27 -0700</i></a>
</ul>
<li> <b>Mustek scanner Problems</b>
<ul>
<li> <a href="0216.html">Martin Goik</a> <a name="216"><i>Mon, 22 Sep 1997 11:07:32 -0700</i></a>
</ul>
<li> <b>Never mind...</b>
<ul>
<li> <a href="0007.html">Michael K. Johnson</a> <a name="7"><i>Thu, 31 Jul 1997 21:42:02 -0400</i></a>
</ul>
<li> <b>Nikon LS-1000</b>
<ul>
<li> <a href="0103.html">David Mosberger-Tang</a> <a name="103"><i>Fri, 29 Aug 1997 10:47:39 -0700</i></a>
</ul>
<ul>
<li> <a href="0100.html">Didier Carlier</a> <a name="100"><i>Fri, 29 Aug 1997 08:30:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0099.html">Per Harald Myrvang</a> <a name="99"><i>Fri, 29 Aug 1997 15:52:10 +0200 (METDST)</i></a>
</ul>
<li> <b>Nikon LS-20</b>
<ul>
<li> <a href="0109.html">Didier Carlier</a> <a name="109"><i>Sun, 31 Aug 1997 15:48:21 +0200</i></a>
</ul>
<li> <b>Nikon Super Coolscan LS 1000 and SANE</b>
<ul>
<li> <a href="0056.html">Per Harald Myrvang</a> <a name="56"><i>Wed, 13 Aug 1997 10:15:41 +0200 (METDST)</i></a>
</ul>
<li> <b>Paperport ix - scanner keyboard</b>
<ul>
<li> <a href="0022.html">Michael Sweet</a> <a name="22"><i>Wed, 06 Aug 1997 08:31:41 -0400</i></a>
</ul>
<ul>
<li> <a href="0019.html">Chris Faherty</a> <a name="19"><i>Tue, 05 Aug 1997 22:33:41 -0400</i></a>
</ul>
<ul>
<li> <a href="0018.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="18"><i>Wed, 6 Aug 1997 02:07:04 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0017.html">Chris Faherty</a> <a name="17"><i>Tue, 05 Aug 1997 17:42:13 -0400</i></a>
</ul>
<li> <b>pnmto???? 'bad magic number'</b>
<ul>
<li> <a href="0133.html">jim barchuk</a> <a name="133"><i>Thu, 4 Sep 1997 12:49:01 -0500</i></a>
</ul>
<li> <b>pre-0.63 patch</b>
<ul>
<li> <a href="0069.html">Michael Sweet</a> <a name="69"><i>Sat, 16 Aug 1997 19:13:31 -0400</i></a>
</ul>
<ul>
<li> <a href="0061.html">David Mosberger-Tang</a> <a name="61"><i>Wed, 13 Aug 1997 16:59:14 -0700</i></a>
</ul>
<li> <b>Preliminary SCSI support for SGI IRIX!</b>
<ul>
<li> <a href="0000.html">Michael Sweet</a> <a name="0"><i>Thu, 31 Jul 1997 15:19:01 -0400</i></a>
</ul>
<li> <b>Preview Window problems</b>
<ul>
<li> <a href="0027.html">David Mosberger-Tang</a> <a name="27"><i>Wed, 6 Aug 1997 07:50:05 -0700</i></a>
</ul>
<ul>
<li> <a href="0002.html">Michael Sweet</a> <a name="2"><i>Thu, 31 Jul 1997 15:46:31 -0400</i></a>
</ul>
<ul>
<li> <a href="0001.html">Michael Sweet</a> <a name="1"><i>Thu, 31 Jul 1997 15:22:44 -0400</i></a>
</ul>
<li> <b>Problem with Mustek</b>
<ul>
<li> <a href="0090.html">Wolfgang Jung</a> <a name="90"><i>Mon, 25 Aug 1997 22:21:46 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0086.html">Wolfgang Jung</a> <a name="86"><i>Sat, 23 Aug 1997 23:44:10 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0085.html">Wolfgang Jung</a> <a name="85"><i>Sat, 23 Aug 1997 21:17:07 +0200 (MET DST)</i></a>
</ul>
<li> <b>Problems with sane on Next hardware (mustek 600 II CD scanner)</b>
<ul>
<li> <a href="0038.html">C. David Shaffer</a> <a name="38"><i>Fri,  8 Aug 97 01:57:11 -0500</i></a>
</ul>
<li> <b>Problems with xscanimage (sane 0.63)</b>
<ul>
<li> <a href="0146.html">Ignacio Garcia</a> <a name="146"><i>Sun, 07 Sep 1997 15:19:32 -0500</i></a>
</ul>
<li> <b>probs with 0.62</b>
<ul>
<li> <a href="0047.html">Christophe Zwecker</a> <a name="47"><i>12 Aug 1997 01:39:39 +0200</i></a>
</ul>
<ul>
<li> <a href="0046.html">Fritz Jetzek</a> <a name="46"><i>Mon, 11 Aug 1997 19:56:12 +0200</i></a>
</ul>
<ul>
<li> <a href="0042.html">David Mosberger-Tang</a> <a name="42"><i>Mon, 11 Aug 1997 07:46:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0041.html">Christophe Zwecker</a> <a name="41"><i>Mon, 11 Aug 1997 15:36:35 +0200</i></a>
</ul>
<li> <b>Q: HP IICX</b>
<ul>
<li> <a href="0209.html">Pedro Guimaraes</a> <a name="209"><i>Sat, 20 Sep 1997 11:36:27 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0205.html">Shawn T. Rutledge</a> <a name="205"><i>Fri, 19 Sep 1997 11:05:15 -0700</i></a>
</ul>
<ul>
<li> <a href="0202.html">Mathias Weigt</a> <a name="202"><i>Fri, 19 Sep 1997 19:04:15 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0200.html">Michael Burghart</a> <a name="200"><i>Fri, 19 Sep 1997 16:27:42 +0200 (MEST)</i></a>
</ul>
<li> <b>Q:Support for non-SCSI scanners?</b>
<ul>
<li> <a href="0161.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="161"><i>Wed, 10 Sep 1997 21:49:38 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0077.html">David Mosberger-Tang</a> <a name="77"><i>Thu, 21 Aug 1997 08:09:03 -0700</i></a>
</ul>
<ul>
<li> <a href="0075.html">Mathias Weigt</a> <a name="75"><i>Thu, 21 Aug 1997 10:12:44 -0600</i></a>
</ul>
<ul>
<li> <a href="0074.html">Heinrich Rebehn</a> <a name="74"><i>Thu, 21 Aug 1997 08:36:54 +0200</i></a>
</ul>
<li> <b>RE: mustek problems in lineart mode</b>
<ul>
<li> <a href="0132.html">Michael Ritzert</a> <a name="132"><i>Thu, 04 Sep 1997 14:43:00 +0200 (CEST)</i></a>
</ul>
<li> <b>RE: Problem with Mustek</b>
<ul>
<li> <a href="0089.html">Michael Ritzert</a> <a name="89"><i>Mon, 25 Aug 1997 13:39:12 +0200 (CEST)</i></a>
</ul>
<li> <b>Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)</b>
<ul>
<li> <a href="0151.html">Mail Delivery Subsystem</a> <a name="151"><i>Tue, 9 Sep 1997 14:39:07 -0700</i></a>
</ul>
<li> <b>sane &amp; gtk problems</b>
<ul>
<li> <a href="0083.html">Michael K. Johnson</a> <a name="83"><i>Fri, 22 Aug 1997 09:42:43 -0400</i></a>
</ul>
<ul>
<li> <a href="0079.html">David Mosberger-Tang</a> <a name="79"><i>Thu, 21 Aug 1997 21:44:27 -0700</i></a>
</ul>
<li> <b>SANE and AIX</b>
<ul>
<li> <a href="0021.html">Rogan Dawes</a> <a name="21"><i>Wed, 6 Aug 1997 12:10:31 +0200</i></a>
</ul>
<li> <b>SANE and Mustek MFC-600S</b>
<ul>
<li> <a href="0142.html">Rogier Wolff</a> <a name="142"><i>Sun, 7 Sep 1997 08:59:11 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0136.html">David Mosberger-Tang</a> <a name="136"><i>Sat, 6 Sep 1997 11:20:13 -0700</i></a>
</ul>
<li> <b>sane as a gimp plug-in.</b>
<ul>
<li> <a href="0166.html">Ricardo Muggli</a> <a name="166"><i>Thu, 11 Sep 1997 03:52:46 -0500 (CDT)</i></a>
</ul>
<li> <b>Sane configuration?</b>
<ul>
<li> <a href="0014.html">Michael K. Johnson</a> <a name="14"><i>Sat, 02 Aug 1997 09:20:05 -0400</i></a>
</ul>
<li> <b>SANE FTP Archive Problem?</b>
<ul>
<li> <a href="0195.html">Craig Milo Rogers</a> <a name="195"><i>Wed, 17 Sep 1997 14:24:48 -0700</i></a>
</ul>
<li> <b>SANE Support for HP Scanjet 5P</b>
<ul>
<li> <a href="0190.html">Georg Greve</a> <a name="190"><i>Tue, 16 Sep 1997 11:34:18 -0700</i></a>
</ul>
<li> <b>saned check_hosts() frobnication</b>
<ul>
<li> <a href="0170.html">David Mosberger-Tang</a> <a name="170"><i>Thu, 11 Sep 1997 21:06:43 -0700</i></a>
</ul>
<ul>
<li> <a href="0164.html">Per Harald Myrvang</a> <a name="164"><i>Thu, 11 Sep 1997 13:58:41 +0200 (METDST)</i></a>
</ul>
<li> <b>scsi generic devices</b>
<ul>
<li> <a href="0055.html">Christophe Zwecker</a> <a name="55"><i>13 Aug 1997 09:08:34 +0200</i></a>
</ul>
<ul>
<li> <a href="0053.html">David Mosberger-Tang</a> <a name="53"><i>Tue, 12 Aug 1997 18:34:35 -0700</i></a>
</ul>
<ul>
<li> <a href="0052.html">Christophe Zwecker</a> <a name="52"><i>13 Aug 1997 02:24:13 +0200</i></a>
</ul>
<ul>
<li> <a href="0051.html">David Mosberger-Tang</a> <a name="51"><i>Tue, 12 Aug 1997 16:32:03 -0700</i></a>
</ul>
<ul>
<li> <a href="0050.html">Christophe Zwecker</a> <a name="50"><i>13 Aug 1997 00:08:14 +0200</i></a>
</ul>
<ul>
<li> <a href="0048.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="48"><i>Tue, 12 Aug 1997 11:03:21 +0200 (MET DST)</i></a>
</ul>
<li> <b>Some things you have to be an outsider to see...</b>
<ul>
<li> <a href="0011.html">Michael K. Johnson</a> <a name="11"><i>Fri, 01 Aug 1997 21:25:56 -0400</i></a>
</ul>
<li> <b>Status of Logitech handheld support???</b>
<ul>
<li> <a href="0180.html">Alen Salamun</a> <a name="180"><i>Sat, 13 Sep 1997 04:00:11 -0700</i></a>
</ul>
<li> <b>Success in decreasing backtrackrate on mustec 1200sp in color mode</b>
<ul>
<li> <a href="0145.html">Rainer krienke</a> <a name="145"><i>Sun, 07 Sep 1997 17:27:26 +0200</i></a>
</ul>
<li> <b>Sun Solaris</b>
<ul>
<li> <a href="0189.html">F. Paquet</a> <a name="189"><i>Mon, 15 Sep 1997 14:16:11 -0700</i></a>
</ul>
<li> <b>support of Solaris x86?</b>
<ul>
<li> <a href="0135.html">rwsimmon@ee.utah.edu</a> <a name="135"><i>Fri, 5 Sep 1997 01:59:31 -0700</i></a>
</ul>
<li> <b>System hangs with custom gamma table</b>
<ul>
<li> <a href="0084.html">Mathias Weigt</a> <a name="84"><i>Sat, 23 Aug 1997 18:18:54 +0059 (MDT)</i></a>
</ul>
<li> <b>uc840/uc630</b>
<ul>
<li> <a href="0228.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="228"><i>Wed, 24 Sep 1997 17:33:22 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0226.html">Tristan Tarrant</a> <a name="226"><i>Wed, 24 Sep 1997 14:24:47 -0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0225.html">Michael K. Johnson</a> <a name="225"><i>Wed, 24 Sep 1997 08:17:03 -0400</i></a>
</ul>
<ul>
<li> <a href="0223.html">Tristan Tarrant</a> <a name="223"><i>Wed, 24 Sep 1997 08:47:08 -0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0222.html">Michael K. Johnson</a> <a name="222"><i>Tue, 23 Sep 1997 16:53:13 -0400</i></a>
</ul>
<ul>
<li> <a href="0221.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="221"><i>Tue, 23 Sep 1997 18:06:03 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0215.html">Tristan Tarrant</a> <a name="215"><i>Mon, 22 Sep 1997 08:39:24 -0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0206.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="206"><i>Fri, 19 Sep 1997 20:27:57 +0200 (MET DST)</i></a>
</ul>
<li> <b>Umax Astra 600S</b>
<ul>
<li> <a href="0156.html">Preston Brown</a> <a name="156"><i>Wed, 10 Sep 1997 15:32:36 -0400 (EDT)</i></a>
</ul>
<li> <b>Umax Astra 600S problems</b>
<ul>
<li> <a href="0173.html">Michael K. Johnson</a> <a name="173"><i>Fri, 12 Sep 1997 10:14:03 -0400</i></a>
</ul>
<ul>
<li> <a href="0168.html">Preston Brown</a> <a name="168"><i>Thu, 11 Sep 1997 20:59:15 -0400 (EDT)</i></a>
</ul>
<li> <b>UMAX on Sparc/Solaris 2.5</b>
<ul>
<li> <a href="0140.html">Jim McBeath</a> <a name="140"><i>Sat, 6 Sep 1997 16:29:00 -0700</i></a>
</ul>
<li> <b>umax scan resolution</b>
<ul>
<li> <a href="0134.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="134"><i>Thu, 4 Sep 1997 20:19:23 +0200 (MET DST)</i></a>
</ul>
<li> <b>UMAX Scanner ?</b>
<ul>
<li> <a href="0126.html">Michael K. Johnson</a> <a name="126"><i>Tue, 02 Sep 1997 16:42:39 -0400</i></a>
</ul>
<ul>
<li> <a href="0125.html">Henning Sauer</a> <a name="125"><i>Tue, 02 Sep 1997 20:15:00 +0200 (MET DST)</i></a>
</ul>
<li> <b>Umax UC 840</b>
<ul>
<li> <a href="0165.html">Michael Burghart</a> <a name="165"><i>Thu, 11 Sep 1997 06:18:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0157.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="157"><i>Wed, 10 Sep 1997 21:58:22 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0155.html">Michael K. Johnson</a> <a name="155"><i>Wed, 10 Sep 1997 14:59:35 -0400</i></a>
</ul>
<ul>
<li> <a href="0154.html">Michael Burghart</a> <a name="154"><i>Wed, 10 Sep 1997 16:06:10 +0200 (MEST)</i></a>
</ul>
<li> <b>UMAX-ASTRA-300P</b>
<ul>
<li> <a href="0054.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="54"><i>Tue, 12 Aug 1997 20:29:45 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0049.html">orauch@physik.uni-osnabrueck.de</a> <a name="49"><i>Tue, 12 Aug 1997 18:53:53 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0045.html">Michael K. Johnson</a> <a name="45"><i>Mon, 11 Aug 1997 14:00:36 -0400</i></a>
</ul>
<ul>
<li> <a href="0044.html">orauch@physik.uni-osnabrueck.de</a> <a name="44"><i>Mon, 11 Aug 1997 19:17:42 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0043.html">Pedro Guimaraes</a> <a name="43"><i>Mon, 11 Aug 1997 12:16:04 -0400 (EDT)</i></a>
</ul>
<li> <b>umax-backend</b>
<ul>
<li> <a href="0138.html">David Mosberger-Tang</a> <a name="138"><i>Sat, 6 Sep 1997 11:51:06 -0700</i></a>
</ul>
<ul>
<li> <a href="0122.html">Jonathan A. Buzzard</a> <a name="122"><i>Tue, 02 Sep 1997 00:36:44 +0100</i></a>
</ul>
<ul>
<li> <a href="0121.html">Rogier Wolff</a> <a name="121"><i>Mon, 1 Sep 1997 22:37:36 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="120"><i>Mon, 1 Sep 1997 22:38:34 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0119.html">Jonathan A. Buzzard</a> <a name="119"><i>Mon, 01 Sep 1997 13:45:46 +0100</i></a>
</ul>
<ul>
<li> <a href="0117.html">Rogier Wolff</a> <a name="117"><i>Mon, 1 Sep 1997 08:38:31 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0111.html">Jonathan A. Buzzard</a> <a name="111"><i>Mon, 01 Sep 1997 00:42:25 +0100</i></a>
</ul>
<ul>
<li> <a href="0110.html">David Mosberger-Tang</a> <a name="110"><i>Sun, 31 Aug 1997 12:16:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0108.html">Oliver.Rauch@Wolfsburg.DE</a> <a name="108"><i>Sun, 31 Aug 1997 10:48:02 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0015.html">Phil Ptkwt Kristin</a> <a name="15"><i>Sat, 2 Aug 1997 20:06:07 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0013.html">Michael K. Johnson</a> <a name="13"><i>Sat, 02 Aug 1997 08:15:15 -0400</i></a>
</ul>
<ul>
<li> <a href="0012.html">orauch@physik.uni-osnabrueck.de</a> <a name="12"><i>Sat, 2 Aug 1997 13:24:28 +0200 (MET DST)</i></a>
</ul>
<li> <b>Update SGI SCSI support for SANE-0.63</b>
<ul>
<li> <a href="0217.html">Michael Sweet</a> <a name="217"><i>Tue, 23 Sep 1997 05:59:22 -0700</i></a>
</ul>
<li> <b>Update SGI SCSI support for SANE-0.63 (try #2)</b>
<ul>
<li> <a href="0218.html">Michael Sweet</a> <a name="218"><i>Tue, 23 Sep 1997 06:06:42 -0700</i></a>
</ul>
<li> <b>xscanimage as gimp plug-in</b>
<ul>
<li> <a href="0088.html">Fritz Jetzek</a> <a name="88"><i>Mon, 25 Aug 1997 12:20:50 +0200</i></a>
</ul>
<ul>
<li> <a href="0087.html">Marco Lonsing</a> <a name="87"><i>Mon, 25 Aug 1997 11:22:21 +0200</i></a>
</ul>
<ul>
<li> <a href="0082.html">Mathias Weigt</a> <a name="82"><i>Fri, 22 Aug 1997 14:00:38 -0600</i></a>
</ul>
<ul>
<li> <a href="0081.html">Rainer Krienke</a> <a name="81"><i>Fri, 22 Aug 1997 12:40:27 +0200</i></a>
</ul>
<ul>
<li> <a href="0080.html">Marco Lonsing</a> <a name="80"><i>Fri, 22 Aug 1997 11:19:06 +0200</i></a>
</ul>
<li> <b>xscanimage with gimp 0.99</b>
<ul>
<li> <a href="0147.html">Wolfgang Jung</a> <a name="147"><i>Mon, 8 Sep 1997 00:10:19 +0200</i></a>
</ul>
<li> <b>xscanimage-0.62 crashes gimp-0.99.10</b>
<ul>
<li> <a href="0072.html">David Mosberger-Tang</a> <a name="72"><i>Wed, 20 Aug 1997 18:03:26 -0700</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Wed 24 Sep 1997 - 22:18:31 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:09 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
