<!-- received="Wed Sep  1 08:36:17 1999 PDT" -->
<!-- sent="Wed, 01 Sep 1999 16:33:26 +0100" -->
<!-- name="Mike Bhola" -->
<!-- email="mikeb@basaix.uk.ibm.com" -->
<!-- subject="600IICD on NCR810" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: 600IICD on NCR810</title>
<h1>600IICD on NCR810</h1>
<b>Mike Bhola</b> (<a href="mailto:mikeb@basaix.uk.ibm.com"><i>mikeb@basaix.uk.ibm.com</i></a>)<br>
<i>Wed, 01 Sep 1999 16:33:26 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Brian Macy: "HP 4100, 5100, 6300..."</a>
<li> <b>Previous message:</b> <a href="0002.html">Menaka Lashitha Bandara: "Acer Prisa 610S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am considering replacing my DTC3181E with an NCR810 based card.<br>
However, I would still like to retain the ability to run under Win98 as<br>
well. The Mustek supplied Twain driver only appears to support the<br>
DTC3181E or one of the Adaptec cards. Is anyone else running this way<br>
and if so how did they do it.<br>
 <br>
<pre>
--
<p>
Regards, Mike
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Brian Macy: "HP 4100, 5100, 6300..."</a>
<li> <b>Previous message:</b> <a href="0002.html">Menaka Lashitha Bandara: "Acer Prisa 610S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
