<!-- received="Sat Sep  4 05:16:01 1999 PDT" -->
<!-- sent="Sat, 04 Sep 1999 14:20:53 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="sane-umax-build-11 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-umax-build-11 available</title>
<h1>sane-umax-build-11 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 04 Sep 1999 14:20:53 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Menaka Lashitha Bandara: "DTC3181 under Linux"</a>
<li> <b>Previous message:</b> <a href="0019.html">Oliver Rauch: "xsane-0.34"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
sane-umax-build-11 is available on<br>
<a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a><br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Menaka Lashitha Bandara: "DTC3181 under Linux"</a>
<li> <b>Previous message:</b> <a href="0019.html">Oliver Rauch: "xsane-0.34"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
