<!-- received="Wed Sep  8 20:37:37 1999 PDT" -->
<!-- sent="Wed, 8 Sep 1999 22:39:02 -0500 (CDT)" -->
<!-- name="Paul Barton McFarling" -->
<!-- email="pbm1@ra.msstate.edu" -->
<!-- subject="MUSTEK  PARALLEL" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: MUSTEK  PARALLEL</title>
<h1>MUSTEK  PARALLEL</h1>
<b>Paul Barton McFarling</b> (<a href="mailto:pbm1@ra.msstate.edu"><i>pbm1@ra.msstate.edu</i></a>)<br>
<i>Wed, 8 Sep 1999 22:39:02 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Mitch Wikoff: "RE: Need Install Hint."</a>
<li> <b>Previous message:</b> <a href="0048.html">Raymond A. Ingles: "Net scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Could someone repost the url to the Mustek parallel backend? <br>
I deleted the email.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Mitch Wikoff: "RE: Need Install Hint."</a>
<li> <b>Previous message:</b> <a href="0048.html">Raymond A. Ingles: "Net scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
