<!-- received="Thu Sep  9 14:14:16 1999 PDT" -->
<!-- sent="Thu, 09 Sep 1999 23:17:41 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: scanner not seen (was "")" -->
<!-- id="" -->
<!-- inreplyto="scanner not seen (was "")" -->
<title>sane-devel: Re: scanner not seen (was "")</title>
<h1>Re: scanner not seen (was "")</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 09 Sep 1999 23:17:41 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#56">[ date ]</a><a href="index.html#56">[ thread ]</a><a href="subject.html#56">[ subject ]</a><a href="author.html#56">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">iehrenwald@earthlink.net: "Fixed my problem :)"</a>
<li> <b>Previous message:</b> <a href="0055.html">Vincent J. Parrilla: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:iehrenwald@earthlink.net">iehrenwald@earthlink.net</a> wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; I have an Adaptec 1505 ISA and an UMAX Astra 1220S.  The SCSI card sees</i><br>
<i>&gt; the scanner fine and all, but xsane won't see the device.  I am using the</i><br>
<i>&gt; latest debian packages from debian potato.  I edited the</i><br>
<i>&gt; /etc/sane.d/umax.conf so it looks like:</i><br>
<i>&gt;</i><br>
<i>&gt; --- snip ---</i><br>
<i>&gt; scsi UMAX</i><br>
<i>&gt; /dev/sg0</i><br>
<i>&gt; --- snip ---</i><br>
<i>&gt;</i><br>
<i>&gt; /dev/sg0 exists, is in the scanner group, my user is in the scanner group.</i><br>
<i>&gt; The dll.conf has everything commented out but , pnm, net and umax.  When I</i><br>
<i>&gt; try and select the scanner with xsane I only see the pnm deviced.  I tried</i><br>
<i>&gt; commenting out the pnm in dll.conf and xsane tells me there are no devices</i><br>
<i>&gt; available.</i><br>
<i>&gt;</i><br>
<i>&gt; Can someone help me out?  I really need this working.  Thanks.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
What does find-scanner print?<br>
Does xsane see the scanner if you run it as root?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">iehrenwald@earthlink.net: "Fixed my problem :)"</a>
<li> <b>Previous message:</b> <a href="0055.html">Vincent J. Parrilla: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
