<!-- received="Thu Sep  9 18:55:22 1999 PDT" -->
<!-- sent="Thu, 9 Sep 1999 21:57:21 -0400 (EDT)" -->
<!-- name="garrett@memesis.org" -->
<!-- email="garrett@memesis.org" -->
<!-- subject="QuickCam VC support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: QuickCam VC support</title>
<h1>QuickCam VC support</h1>
<a href="mailto:garrett@memesis.org"><i>garrett@memesis.org</i></a><br>
<i>Thu, 9 Sep 1999 21:57:21 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#58">[ date ]</a><a href="index.html#58">[ thread ]</a><a href="subject.html#58">[ subject ]</a><a href="author.html#58">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Tim Waugh: "Re: QuickCam VC support"</a>
<li> <b>Previous message:</b> <a href="0057.html">iehrenwald@earthlink.net: "Fixed my problem :)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
So I hear somebody is developing an NDA'ed driver for the Quickcam VC, but<br>
I can't find any evidence of such.  And fool that I am, I went and bought<br>
one of these things.<br>
<p>
If nobody has an idea about this driver, I'll be happy to start fiddling<br>
with the camera to make it work under Linux.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Tim Waugh: "Re: QuickCam VC support"</a>
<li> <b>Previous message:</b> <a href="0057.html">iehrenwald@earthlink.net: "Fixed my problem :)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
