<!-- received="Fri Sep 10 10:45:36 1999 PDT" -->
<!-- sent="Fri, 10 Sep 1999 19:49:32 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="sane-umax-1.0.1-build-12 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-umax-1.0.1-build-12 available</title>
<h1>sane-umax-1.0.1-build-12 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 10 Sep 1999 19:49:32 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Eduardo M. A. M. Mendes: "Recompiling the kernel to increase SG_BIG_STUFF"</a>
<li> <b>Previous message:</b> <a href="0063.html">Daniel James: "Epson GT5000 with Adaptec 2906 working!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Reply:</b> <a href="0072.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Reply:</b> <a href="0075.html">Oliver Rauch: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Reply:</b> <a href="0076.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
sane-umax.1.0.1-build-12 is available on<br>
<a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a><br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Eduardo M. A. M. Mendes: "Recompiling the kernel to increase SG_BIG_STUFF"</a>
<li> <b>Previous message:</b> <a href="0063.html">Daniel James: "Epson GT5000 with Adaptec 2906 working!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Reply:</b> <a href="0072.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Reply:</b> <a href="0075.html">Oliver Rauch: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Reply:</b> <a href="0076.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<!-- reply="end" -->
</ul>
