<!-- received="Fri Sep 10 14:52:39 1999 PDT" -->
<!-- sent="Fri, 10 Sep 1999 22:56:14 +0100" -->
<!-- name="John Vickers" -->
<!-- email="jvickers@dial.pipex.com" -->
<!-- subject="Re: Epson GT5000 with Adaptec 2906 working!" -->
<!-- id="" -->
<!-- inreplyto="Epson GT5000 with Adaptec 2906 working!" -->
<title>sane-devel: Re: Epson GT5000 with Adaptec 2906 working!</title>
<h1>Re: Epson GT5000 with Adaptec 2906 working!</h1>
<b>John Vickers</b> (<a href="mailto:jvickers@dial.pipex.com"><i>jvickers@dial.pipex.com</i></a>)<br>
<i>Fri, 10 Sep 1999 22:56:14 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Oliver Rauch: "Re: programs look for libsane-dll.so.1"</a>
<li> <b>Previous message:</b> <a href="0066.html">Bert Hobbs: "programs look for libsane-dll.so.1"</a>
<li> <b>Maybe in reply to:</b> <a href="0063.html">Daniel James: "Epson GT5000 with Adaptec 2906 working!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Daniel James wrote:<br>
<i>&gt; I twigged what I was doing wrong when someone said 'i've commented out every</i><br>
<i>&gt; line in dll.conf except...'  Somehow I missed the instruction to comment out</i><br>
<i>&gt; the other scanner names - once I did that, it worked first time.</i><br>
<p>
So it's behaving itself still ?  Exactly which sane driver are you using<br>
?<br>
The driver which comes with SANE-1.0.1, or Clive Stubbings' driver <br>
( <a href="http://www.vjet.demon.co.uk/scanner/">http://www.vjet.demon.co.uk/scanner/</a> ) ?<br>
<p>
His report of his contact with Epson suggests that they were slightly<br>
less<br>
helpful than they would have been had they just told him to bugger off.<br>
<p>
One appealing thing about the Epson scanners is that they seem to have<br>
normal SCSI connectors, and onboard switchable termination, which is<br>
pretty<br>
amazing for a scanner.  With all the other low-end SCSI - or is that<br>
"skuzzy" -<br>
scanners it seem like obtaining cabling &amp; terminators can be<br>
problematic.<br>
<p>
On the other hand, the Epson driver looks like it's<br>
been hacked about by various people over the years, without having a<br>
regular maintainer.  I guess an optimist might think that was because<br>
the original driver was nearly bug free.<br>
<p>
Regards,<br>
<p>
John.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Oliver Rauch: "Re: programs look for libsane-dll.so.1"</a>
<li> <b>Previous message:</b> <a href="0066.html">Bert Hobbs: "programs look for libsane-dll.so.1"</a>
<li> <b>Maybe in reply to:</b> <a href="0063.html">Daniel James: "Epson GT5000 with Adaptec 2906 working!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
