<!-- received="Sun Sep 12 10:14:40 1999 PDT" -->
<!-- sent="Sun, 12 Sep 1999 19:18:36 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: sane-umax-1.0.1-build-12 available" -->
<!-- id="199909121718.TAA09518@lee.Cc.Uit.No" -->
<!-- inreplyto="sane-umax-1.0.1-build-12 available" -->
<title>sane-devel: Re: sane-umax-1.0.1-build-12 available</title>
<h1>Re: sane-umax-1.0.1-build-12 available</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 12 Sep 1999 19:18:36 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Petter Reinholdtsen: "SANE unstable development tree snapshot"</a>
<li> <b>Previous message:</b> <a href="0071.html">Scott C. Knight: "Mustek 600 II CD"</a>
<li> <b>Maybe in reply to:</b> <a href="0064.html">Oliver Rauch: "sane-umax-1.0.1-build-12 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Oliver Rauch: "Re: sane-umax-1.0.1-build-12 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Oliver Rauch]<br>
<i>&gt; sane-umax.1.0.1-build-12 is available on</i><br>
<i>&gt; <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a></i><br>
<p>
Why not make it available in the CVS tree?<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Petter Reinholdtsen: "SANE unstable development tree snapshot"</a>
<li> <b>Previous message:</b> <a href="0071.html">Scott C. Knight: "Mustek 600 II CD"</a>
<li> <b>Maybe in reply to:</b> <a href="0064.html">Oliver Rauch: "sane-umax-1.0.1-build-12 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Oliver Rauch: "Re: sane-umax-1.0.1-build-12 available"</a>
<!-- reply="end" -->
</ul>
