<!-- received="Sun Sep 12 11:45:07 1999 PDT" -->
<!-- sent="12 Sep 1999 11:48:23 -0700" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="web page says "SANE v1.01", should say "SANE v1.0.1"" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: web page says "SANE v1.01", should say "SANE v1.0.1"</title>
<h1>web page says "SANE v1.01", should say "SANE v1.0.1"</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>12 Sep 1999 11:48:23 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Oliver Rauch: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Previous message:</b> <a href="0073.html">Petter Reinholdtsen: "SANE unstable development tree snapshot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The sane web page says:<br>
<p>
	Apr 20: SANE v1.01 has finally been released! <br>
<p>
I believe that this should say "1.0.1" rather than "1.01".  I received <br>
email from someone who wanted to get the latest Debian release of<br>
sane, but couldn't find 1.01, only 1.0.1.<br>
<p>
Could someone fix this typo.<br>
<p>
<p>
<pre>
-- 
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Oliver Rauch: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Previous message:</b> <a href="0073.html">Petter Reinholdtsen: "SANE unstable development tree snapshot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
