<!-- received="Wed Sep 15 13:05:58 1999 PDT" -->
<!-- sent="Wed, 15 Sep 1999 21:53:25 +0200" -->
<!-- name="Per Aalrust" -->
<!-- email="PerAalrust@t-online.de" -->
<!-- subject="Problems with Mustek ScanExpress 12000 SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems with Mustek ScanExpress 12000 SP</title>
<h1>Problems with Mustek ScanExpress 12000 SP</h1>
<b>Per Aalrust</b> (<a href="mailto:PerAalrust@t-online.de"><i>PerAalrust@t-online.de</i></a>)<br>
<i>Wed, 15 Sep 1999 21:53:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Greg Lehey: "Acer 620: warning"</a>
<li> <b>Previous message:</b> <a href="0090.html">Peter Kammer: "Epson GT-9600 with Feeder"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
anybody out here, who got the above named scanner work with Linux. I<br>
have got Firmware version 1.01 and tried several hints, but it does not<br>
work propperly.<br>
<p>
I compiled SANE 1.0 from the sources (in sg.h SG_BIG_BUFF = 130559).<br>
<p>
Lineart runs perfectly in resolutions up to 400, above 400 there are<br>
horizontal stripes. <br>
<p>
In grey-mode the image (full size A4) contains stripes that seem to be<br>
shifted up and down vertically in any resolution (even 60). <br>
<p>
In Color-mode (full size A4) the colors are not correct and the image<br>
is  separated into two parts that are horizontally shifted (any<br>
resolution). The scanprocedure becomes very slow.<br>
<p>
In the /etc/sane.d/mustek.conf I have activated the following options:  <br>
<p>
option linedistance-fix<br>
option lineart-fix <br>
<p>
Anybody out here with a good idea that may help?<br>
<p>
Best regards<br>
Per<br>
<pre>
-- 
Working without Intel and M$.
Sending with Linux!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Greg Lehey: "Acer 620: warning"</a>
<li> <b>Previous message:</b> <a href="0090.html">Peter Kammer: "Epson GT-9600 with Feeder"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
