<!-- received="Fri Sep 17 01:08:44 1999 PDT" -->
<!-- sent="Fri, 17 Sep 1999 10:18:08 +0200 (MEST)" -->
<!-- name="Eike Suthau Abitur 1998" -->
<!-- email="suthau@gauss.euv-frankfurt-o.de" -->
<!-- subject="Mikrotek ScanMaker system" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mikrotek ScanMaker system</title>
<h1>Mikrotek ScanMaker system</h1>
<b>Eike Suthau Abitur 1998</b> (<a href="mailto:suthau@gauss.euv-frankfurt-o.de"><i>suthau@gauss.euv-frankfurt-o.de</i></a>)<br>
<i>Fri, 17 Sep 1999 10:18:08 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">David Nelson: "Re: USB Scanner w/ linux2.3.x"</a>
<li> <b>Previous message:</b> <a href="0103.html">Florian Hinzmann: "Re: USB Scanner w/ linux2.3.x"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0106.html">Brian Macy: "Re: Mikrotek ScanMaker system"</a>
<li> <b>Reply:</b> <a href="0106.html">Brian Macy: "Re: Mikrotek ScanMaker system"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've tried to attach my ScanMaker II to an adaptec 1542 scsi controller.<br>
I turned the bios off because I don't need it ( I hope ).<br>
<p>
The controller gets detectet all right - so does the scanner itself.<br>
However, trying to scan a picture makes the machine lock itself up after<br>
the actual picture has been transfered to the application and the<br>
scanner's head returns to its original position. The only thing I'm able<br>
to do after that is to switch between virtual consoles but nothing else<br>
seems to work.<br>
I'm currently still using a 2.2.1 Linux kernel without the recomended<br>
changes in the generic driver. <br>
<p>
I'd be very pleased indeed to get a hint as to what to do to be able to<br>
scan using Linux at last.<br>
					Eike<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">David Nelson: "Re: USB Scanner w/ linux2.3.x"</a>
<li> <b>Previous message:</b> <a href="0103.html">Florian Hinzmann: "Re: USB Scanner w/ linux2.3.x"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0106.html">Brian Macy: "Re: Mikrotek ScanMaker system"</a>
<li> <b>Reply:</b> <a href="0106.html">Brian Macy: "Re: Mikrotek ScanMaker system"</a>
<!-- reply="end" -->
</ul>
