<!-- received="Fri Sep 17 20:12:57 1999 PDT" -->
<!-- sent="Fri, 17 Sep 1999 20:32:56 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="[ANN] WinSANE..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: [ANN] WinSANE...</title>
<h1>[ANN] WinSANE...</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Fri, 17 Sep 1999 20:32:56 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Stefan Rutzinger: "Re: Mustek ScanMagic 9636S works."</a>
<li> <b>Previous message:</b> <a href="0111.html">John Craig: "Microtek E3 crashes..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Unfortunately it's not a winsane.exe announcement but something to help<br>
me out with problems people have noted with certain scanners. It's a<br>
program called testsane that will dump a bunch of info about what it<br>
finds. Please grab it at www.sunshinecomputing.com/winsane (there's a<br>
link in the status section) send send me your results.<br>
<p>
Thanks.<br>
Brian Macy<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Stefan Rutzinger: "Re: Mustek ScanMagic 9636S works."</a>
<li> <b>Previous message:</b> <a href="0111.html">John Craig: "Microtek E3 crashes..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
