<!-- received="Tue Sep 21 01:35:15 1999 PDT" -->
<!-- sent="Tue, 21 Sep 1999 10:30:17 +0200" -->
<!-- name="Juergen G. Schimmer" -->
<!-- email="schimmi@nbgm.siemens.de" -->
<!-- subject="Sane-V4L-Backend" -->
<!-- id="99092110443608.00731@pc-schmerer5.erlf80.asi.siemens.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane-V4L-Backend</title>
<h1>Sane-V4L-Backend</h1>
<b>Juergen G. Schimmer</b> (<a href="mailto:schimmi@nbgm.siemens.de"><i>schimmi@nbgm.siemens.de</i></a>)<br>
<i>Tue, 21 Sep 1999 10:30:17 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#129">[ date ]</a><a href="index.html#129">[ thread ]</a><a href="subject.html#129">[ subject ]</a><a href="author.html#129">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Robert Schwebel: "xsane-0.35 bug?"</a>
<li> <b>Previous message:</b> <a href="0128.html">Hugo.van.der.Kooij@caiw.nl: "Re: Error device I/O"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello<br>
<p>
I wrote a little backend, as an Sane &lt;-&gt; v4l Interface, so you can use<br>
your v4l-Devices like Quickcams, bttv-Videocards ... as Piture-Sources<br>
for SANE. It is still an alpha-version!<br>
Until now it works ok with the B&amp;W Quickcam (I know, there is a native<br>
SANE-backend for the Quickcam, but with this interface you can use<br>
the quickcam as v4l-Device and as SANE-Device).<br>
Bttv-v4l-Devices isnt working now,but i think i will get it working in the<br>
next days, but there is still a lot of work to be done after this. (No Tuning,<br>
no Source selection, no NTSC/PAL/SECAM selection....)<br>
<p>
Somebody interested ?<br>
<p>
Juergen <br>
<pre>
--
<pre>
---
Juergen G. Schimmer                             <a href="mailto:schimmi@nbgm.siemens.de">schimmi@nbgm.siemens.de</a>
.... und ausserdem sollte Windows geloescht werden!
    ceterum censeo delendam Windows esse
<pre>
--
<pre>
---
Juergen G. Schimmer                             <a href="mailto:schimmi@nbgm.siemens.de">schimmi@nbgm.siemens.de</a>
.... und ausserdem sollte Windows geloescht werden!
    ceterum censeo delendam Windows esse
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Robert Schwebel: "xsane-0.35 bug?"</a>
<li> <b>Previous message:</b> <a href="0128.html">Hugo.van.der.Kooij@caiw.nl: "Re: Error device I/O"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
