<!-- received="Tue Sep 21 08:43:48 1999 PDT" -->
<!-- sent="21 Sep 1999 17:52:18 +0200" -->
<!-- name="Camille DIOU" -->
<!-- email="diou@lirmm.fr" -->
<!-- subject="ppSCSI and Microtek Phantom 330 CX" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: ppSCSI and Microtek Phantom 330 CX</title>
<h1>ppSCSI and Microtek Phantom 330 CX</h1>
<b>Camille DIOU</b> (<a href="mailto:diou@lirmm.fr"><i>diou@lirmm.fr</i></a>)<br>
<i>21 Sep 1999 17:52:18 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Previous message:</b> <a href="0131.html">Robert Schwebel: "gimp and xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all,<br>
<p>
I've been looking the mailing-list archive to get my Phantom 330 CX<br>
working until Linux. I found what I was looking for, but there are<br>
still some problems. <br>
<p>
First, I attached the ppscsi 0.91 patch to  my 2.2.10 kernel. I also<br>
applied the patch (thanks to Michele Bini) I found in the<br>
mailing-list Juny archive to the microtek2 backend source.<br>
<p>
That seems to work. When I load the onscsi module, I get the following <br>
message :<br>
<p>
   [root@localhost scsi]# insmod onscsi<br>
   onscsi.1: onscsi 0.90 (0.91), OnSpec 90c26 at 0x378 mode 0 (Nybble) dly 1 nice<br>
   0 sg 16<br>
   scsi0 : onscsi<br>
   scsi : 1 host.<br>
     Vendor:           Model:  scanner 330CS    Rev: 1.26<br>
     Type:   Scanner                            ANSI SCSI revision: 02<br>
   Detected scsi generic sga at scsi0, channel 0, id 2, lun 0<br>
   [root@localhost scsi]#<br>
<p>
Also, 'find-scanner' responds:<br>
<p>
   [root@localhost /root]# find-scanner <br>
   find-scanner: found scanner "  scanner 330CS 1.26" at device /dev/sg0<br>
   find-scanner: found scanner "  scanner 330CS 1.26" at device /dev/sga<br>
   [root@localhost /root]# <br>
<p>
<p>
All right, but :<br>
<p>
 - scanimage doesn't work. The message I get is identical to those I<br>
   could have read on the Juny archive concerning the Phantom 330/336<br>
   CX. The only difference is that the revision number is 1.26. <br>
   The scanner doesn't scan anything but goes forward and backward for <br>
   2 or 3 cm, never more (even if the 'no-backtrack-option' is set to<br>
   'on' in microtek2.conf), until the programm die a few seconds<br>
   later. All what I get is:<br>
<p>
<p>
   [ ... I cut the scanner-ID output ... ]<br>
   P6<br>
   # SANE data follows<br>
   612 838<br>
   255<br>
   onscsi.1: PDMA timeout, bs=11 cb=10 db=1842 bu=1 sg=0 rd=1 lp=31 pe=0 cc=41<br>
   onscsi.1: Arbitration failure, bs=11 cb=0 db=1842 bu=0 sg=0 rd=1 lp=0 pe=0 cc=42<br>
   onscsi.1: Bus reset<br>
   onscsi.1: Arbitration failure, bs=31 cb=0 db=1842 bu=0 sg=0 rd=1 lp=0 pe=0 cc=43<br>
   [root@localhost scsi]#<br>
<p>
<p>
   After that, I have to unload the onscsi module, turn off the<br>
   scanner and then on, and last reload the module.<br>
<p>
 - xscanimage works better, but I have the same problems as Michele Bini: <br>
   * I also have an offset around 15-20 mm (at 24bpp)<br>
   * the preview is working well but the head doesn't stop and hits<br>
     the upper side of the scanner: I must turn off the scanner by hand.<br>
   * the acquisition itself does work well too, but when finished, the <br>
     head comes back to the bottom side, doesn't stop, and hits it.<br>
<p>
Note that with xscanimage, the no-backtrack-option seems to work well.<br>
<p>
<p>
Thus, some questions now. <br>
How could you explain that xscanimage (almost) works, but scanimage<br>
doesn't ? How to get it working ?<br>
Is there any way to avoid the head hitting the borders of the<br>
scanner? (I didn't find any solution in the archive since Juny).<br>
<p>
Thanks a lot for the help you can give me.<br>
<p>
<pre>
-- 
Regards,
<p>
Camille Diou
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Previous message:</b> <a href="0131.html">Robert Schwebel: "gimp and xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
