<!-- received="Mon Sep 27 00:37:09 1999 PDT" -->
<!-- sent="27 Sep 1999 09:35:17 +0200" -->
<!-- name="Camille DIOU" -->
<!-- email="diou@lirmm.fr" -->
<!-- subject="Re: ppSCSI and Microtek Phantom 330 CX" -->
<!-- id="" -->
<!-- inreplyto="Sun, 26 Sep 1999 00:40:34 +0200"" -->
<title>sane-devel: Re: ppSCSI and Microtek Phantom 330 CX</title>
<h1>Re: ppSCSI and Microtek Phantom 330 CX</h1>
<b>Camille DIOU</b> (<a href="mailto:diou@lirmm.fr"><i>diou@lirmm.fr</i></a>)<br>
<i>27 Sep 1999 09:35:17 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#173">[ date ]</a><a href="index.html#173">[ thread ]</a><a href="subject.html#173">[ subject ]</a><a href="author.html#173">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Andreas Czechanowski: "Links to special development efforts"</a>
<li> <b>Previous message:</b> <a href="0172.html">Marc C. Poulin: "problems with sane on solaris"</a>
<li> <b>In reply to:</b> <a href="0163.html">Michele Bini: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0181.html">Camille DIOU: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>  &gt; It is possible that it doesn't work. According to Michele Bini the</i><br>
<i>  &gt; Phantom 330cx doesn't understand one of the SCSI commands. This command</i><br>
<i>  &gt; is not executed for the Phantom 330cx during a normal scan. But it is</i><br>
<i>  &gt; still used in the calibration process. If you experience problems</i><br>
<i>  &gt; you must remove the call to scsi_wait_for_image() in the do-calibration()</i><br>
<i>  &gt; function.</i><br>
<p>
  MB&gt;  I have tried this, but the scan does not start (scanner led<br>
  MB&gt;  blinks) and the module gives errors and may eventually OOPS<br>
  MB&gt;  (i'm not using the latest ppscsi version).<br>
<p>
  MB&gt;  This seems to happen regardless if i enable or disable<br>
  MB&gt;  scsi_wait_for_image() in that function.<br>
<p>
Same as Michele. I didn't remove the call yet, but it doesn't work.<br>
( I've tested microtek2-pre0.8 backend with ppSCSI 0.91 module.)<br>
<p>
I'll test it without the scsi_wait_for_image() call as soon as<br>
possible. <br>
<p>
<pre>
-- 
Regards,
<p>
Camille Diou
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Andreas Czechanowski: "Links to special development efforts"</a>
<li> <b>Previous message:</b> <a href="0172.html">Marc C. Poulin: "problems with sane on solaris"</a>
<li> <b>In reply to:</b> <a href="0163.html">Michele Bini: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0181.html">Camille DIOU: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<!-- reply="end" -->
</ul>
