<!-- received="Tue Sep 28 10:55:39 1999 PDT" -->
<!-- sent="Tue, 28 Sep 1999 19:56:48 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Choice of SCSI Controller." -->
<!-- id="" -->
<!-- inreplyto="Choice of SCSI Controller." -->
<title>sane-devel: Re: Choice of SCSI Controller.</title>
<h1>Re: Choice of SCSI Controller.</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 28 Sep 1999 19:56:48 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#183">[ date ]</a><a href="index.html#183">[ thread ]</a><a href="subject.html#183">[ subject ]</a><a href="author.html#183">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Alexey Zilber: "RE: Choice of SCSI Controller."</a>
<li> <b>Previous message:</b> <a href="0182.html">Mitchell, Sean: "Mustek MFS 6000CX Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mitch Wikoff wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; I was wondering if any of you folks had a particular preference to a</i><br>
<i>&gt; cretain SCSI adapter to use under Linux.</i><br>
<i>&gt;</i><br>
<p>
I like the symbios logic ncr53c8xx cards, they are relative cheap and work good!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Alexey Zilber: "RE: Choice of SCSI Controller."</a>
<li> <b>Previous message:</b> <a href="0182.html">Mitchell, Sean: "Mustek MFS 6000CX Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
