<!-- received="Mon Feb  1 00:34:42 1999 PST" -->
<!-- sent="Mon, 1 Feb 1999 09:32:13 +0100" -->
<!-- name="Lars Hanke" -->
<!-- email="hanke@janeway.physik.uni-dortmund.de" -->
<!-- subject="I'd like a backend feature (UMAX)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: I'd like a backend feature (UMAX)</title>
<h1>I'd like a backend feature (UMAX)</h1>
<b>Lars Hanke</b> (<a href="mailto:hanke@janeway.physik.uni-dortmund.de"><i>hanke@janeway.physik.uni-dortmund.de</i></a>)<br>
<i>Mon, 1 Feb 1999 09:32:13 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Manuel Panea: "Re: Feature request for xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0002.html">Oliver Rauch: "Re: I'd like a backend feature (UMAX)"</a>
<li> <b>Reply:</b> <a href="0002.html">Oliver Rauch: "Re: I'd like a backend feature (UMAX)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I'm pretty new to scanners and SANE, so sorry, if you discussed this <br>
already ...<br>
<p>
The UMAX backend offers 3 color modes for my Astra 1220S, AFAIK. I <br>
would appreciate reduced color modes such as 256 colors or even 16.  <br>
I often scan presentation graphics. Sometimes a full A4 page at 300 <br>
dpi and I need some color, but certainly not 30 bit! A space <br>
reduction of 4 would be better than nothing. :)<br>
<p>
Aloha,<br>
	Lars. (<a href="mailto:mgr@asgard.ruhr.de">mgr@asgard.ruhr.de</a>)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Manuel Panea: "Re: Feature request for xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0002.html">Oliver Rauch: "Re: I'd like a backend feature (UMAX)"</a>
<li> <b>Reply:</b> <a href="0002.html">Oliver Rauch: "Re: I'd like a backend feature (UMAX)"</a>
<!-- reply="end" -->
</ul>
