<!-- received="Thu Feb  4 07:15:54 1999 PST" -->
<!-- sent="Thu, 04 Feb 1999 15:10:44 +0000" -->
<!-- name="F. Fernandez" -->
<!-- email="ferdez@despodata.pt" -->
<!-- subject="Re: ** SANE FAQ Online **" -->
<!-- id="" -->
<!-- inreplyto="** SANE FAQ Online **" -->
<title>sane-devel: Re: ** SANE FAQ Online **</title>
<h1>Re: ** SANE FAQ Online **</h1>
<b>F. Fernandez</b> (<a href="mailto:ferdez@despodata.pt"><i>ferdez@despodata.pt</i></a>)<br>
<i>Thu, 04 Feb 1999 15:10:44 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#26">[ date ]</a><a href="index.html#26">[ thread ]</a><a href="subject.html#26">[ subject ]</a><a href="author.html#26">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Nicolas de Peslouan: "Re: ** SANE FAQ Online **"</a>
<li> <b>Previous message:</b> <a href="0025.html">Hugo van der Kooij: "Re: ** SANE FAQ Online **"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Nicolas de Peslouan: "** SANE FAQ Online **"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0027.html">Nicolas de Peslouan: "Re: ** SANE FAQ Online **"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I get the following:<br>
<p>
<i>&gt; Proxy Error</i><br>
<i>&gt; The proxy server could not handle the request GET <a href="http://sane.intercab.fr/">http://sane.intercab.fr/</a>.</i><br>
<i>&gt; Reason: Host not found</i><br>
<i>&gt; Apache/1.3.2 Server at blackbird.despodata.pt Port 80</i><br>
<p>
<p>
<pre>
-- 
Fernando Fernandez
<a href="http://despodata.pt/ddata/pessoal/ferdez.htm">http://despodata.pt/ddata/pessoal/ferdez.htm</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Nicolas de Peslouan: "Re: ** SANE FAQ Online **"</a>
<li> <b>Previous message:</b> <a href="0025.html">Hugo van der Kooij: "Re: ** SANE FAQ Online **"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Nicolas de Peslouan: "** SANE FAQ Online **"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0027.html">Nicolas de Peslouan: "Re: ** SANE FAQ Online **"</a>
<!-- reply="end" -->
</ul>
