<!-- received="Mon Feb  8 18:47:56 1999 PST" -->
<!-- sent="Mon, 8 Feb 1999 18:44:55 -0800" -->
<!-- name="Guy Sotomayor" -->
<!-- email="ggs@shiresoft.com" -->
<!-- subject="(no subject)" -->
<!-- id="99020818464602.09424@elrond.shiresoft.com" -->
<!-- inreplyto="" -->
<title>sane-devel: (no subject)</title>
<h1>(no subject)</h1>
<b>Guy Sotomayor</b> (<a href="mailto:ggs@shiresoft.com"><i>ggs@shiresoft.com</i></a>)<br>
<i>Mon, 8 Feb 1999 18:44:55 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Gunter Koenigsmann: "Re: Programming Parallel Port"</a>
<li> <b>Previous message:</b> <a href="0044.html">William McVey: "Re: (no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">William McVey: "Re: (no subject)"</a>
<li> <b>Maybe reply:</b> <a href="0044.html">William McVey: "Re: (no subject)"</a>
<li> <b>Reply:</b> <a href="0047.html">Zachary L. Stauber: "Re: sane on s/linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 08 Feb 1999, you wrote:<br>
<i>&gt;Has anyone gotten SANE 1.0 to work on s/linux?  I have Red Hat 5.1 for</i><br>
<i>&gt;Sparc, full install, and I cannot get SANE 0.70 to compile on it.</i><br>
<i>&gt;Anyone out there have a binary RPM they have or can put together for me?</i><br>
<i>&gt;Or tell me how to compile it?  I'd appreciate it.  I've got it on a Sparc</i><br>
<i>&gt;10.</i><br>
<i>&gt;</i><br>
<i>&gt;						-Zack</i><br>
Yes,  there were a couple of problems.  The biggest one was due to a compiler<br>
bug that doesn't allow me to compile any of the UMAX code (but since I don't<br>
have one, I didn't worry about it too much).  This was SANE 1.0 on RH 5.1.<br>
<p>
TTFN - Guy<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Gunter Koenigsmann: "Re: Programming Parallel Port"</a>
<li> <b>Previous message:</b> <a href="0044.html">William McVey: "Re: (no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">William McVey: "Re: (no subject)"</a>
<li> <b>Maybe reply:</b> <a href="0044.html">William McVey: "Re: (no subject)"</a>
<li> <b>Reply:</b> <a href="0047.html">Zachary L. Stauber: "Re: sane on s/linux"</a>
<!-- reply="end" -->
</ul>
