<!-- received="Tue Feb 16 12:35:40 1999 PST" -->
<!-- sent="Tue, 16 Feb 1999 12:35:29 -0800" -->
<!-- name="Mike" -->
<!-- email="misha@anet.net" -->
<!-- subject="xscanimage &amp; SGI" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage &amp; SGI</title>
<h1>xscanimage &amp; SGI</h1>
<b>Mike</b> (<a href="mailto:misha@anet.net"><i>misha@anet.net</i></a>)<br>
<i>Tue, 16 Feb 1999 12:35:29 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Paul Jakma: "Re: Please help me with unrecogn. scanner (Microtek 630)"</a>
<li> <b>Previous message:</b> <a href="0093.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Michael Sweet: "Re: xscanimage &amp; SGI"</a>
<li> <b>Reply:</b> <a href="0097.html">Michael Sweet: "Re: xscanimage &amp; SGI"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
    I just installed sane on my SGI O2. I used the binary distribution<br>
from Mike Sweet's page since I don't have a compiler. I don't have a<br>
scanner, so I'm trying to use the demo software to try sane out. When<br>
I try to access Xtns&gt;AcquireImage&gt;Device dialog... nothing happens.<br>
I get this error:<br>
<p>
xscanimage: no devices available.<br>
** WARNING **: Can't open gimprc, reason unknown<br>
<p>
<p>
    Any help would be appreciated.<br>
<p>
<p>
<p>
<pre>
--
        Mike Amron
                COMPUTER ANIMATION
                        310-301-3534
                                <a href="mailto:misha@anet.net">misha@anet.net</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Paul Jakma: "Re: Please help me with unrecogn. scanner (Microtek 630)"</a>
<li> <b>Previous message:</b> <a href="0093.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Michael Sweet: "Re: xscanimage &amp; SGI"</a>
<li> <b>Reply:</b> <a href="0097.html">Michael Sweet: "Re: xscanimage &amp; SGI"</a>
<!-- reply="end" -->
</ul>
