<!-- received="Wed Feb 17 03:22:46 1999 PST" -->
<!-- sent="Wed, 17 Feb 1999 13:21:32 +0200" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: no devices available?" -->
<!-- id="" -->
<!-- inreplyto="no devices available?" -->
<title>sane-devel: Re: no devices available?</title>
<h1>Re: no devices available?</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Wed, 17 Feb 1999 13:21:32 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0098.html">Andreas Dilger: "Re: xscanimage &amp; SGI"</a>
<li> <b>Maybe in reply to:</b> <a href="0096.html">Jeff Evarts: "no devices available?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jeff Evarts wrote:<br>
<i>&gt; </i><br>
<i>&gt; This is clearly a user question, but there doesn't seem</i><br>
<i>&gt; to be a <a href="mailto:sane-user@mostang.com">sane-user@mostang.com</a>, nor is one referenced in</i><br>
<i>&gt; the web pages (that I could find)</i><br>
<i>&gt; </i><br>
<i>&gt; Anyway...</i><br>
<i>&gt; </i><br>
<i>&gt; I just installed sane v1.00 on my machine (running BSD/OS)</i><br>
<i>&gt; It compiled, built, and installed without error.</i><br>
<i>&gt; </i><br>
<i>&gt; I have a UMAX Astra 1200S at /dev/scanner. It's permissions</i><br>
<i>&gt; are 666. (Anyone can read or write them) The OS and the BIOS</i><br>
<i>&gt; both see the printer. OS diagnostics show the Astra at that</i><br>
<i>&gt; device.</i><br>
<p>
printer. I assume scanner is what you want to say...<br>
<p>
[snipping info]<br>
<i>&gt; </i><br>
<i>&gt; But "scanimage --list-devices" lists no devices.</i><br>
<i>&gt; </i><br>
<i>&gt; I'm probably doing something wrong, but I don't know how to</i><br>
<i>&gt; diagnose the problem. Is there a command I can enter from</i><br>
<i>&gt; the telnet session to list the devices? What else could I</i><br>
<i>&gt; be doing incorrectly?</i><br>
<i>&gt; </i><br>
<p>
I ___think___ (might be wrong since I don't have BSD) it has something<br>
to do with the file permissions in the "real" device file and not in the<br>
link (/dev/scanner--&gt;points to ???). My guess? Make configuration files<br>
points to the real device file and try out also the find-scanner<br>
utility. Make sure the permissions are OK or run the thing as root to<br>
acquire a proof of concept overview.<br>
<p>
<p>
	MF<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0098.html">Andreas Dilger: "Re: xscanimage &amp; SGI"</a>
<li> <b>Maybe in reply to:</b> <a href="0096.html">Jeff Evarts: "no devices available?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
