<!-- received="Wed Feb 17 19:18:54 1999 PST" -->
<!-- sent="Wed, 17 Feb 1999 19:17:04 -0800" -->
<!-- name="Frank Becker" -->
<!-- email="fbecker@nortelnetworks.com" -->
<!-- subject="Handheld scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Handheld scanners</title>
<h1>Handheld scanners</h1>
<b>Frank Becker</b> (<a href="mailto:fbecker@nortelnetworks.com"><i>fbecker@nortelnetworks.com</i></a>)<br>
<i>Wed, 17 Feb 1999 19:17:04 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Steven R. Robertson: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Previous message:</b> <a href="0102.html">Francisco Rodrigo Escobedo Robles: "Re: AT12 / DTC SCSI"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Milon Firikis: "Re: Handheld scanners"</a>
<li> <b>Reply:</b> <a href="0122.html">Milon Firikis: "Re: Handheld scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I was wondering if there are any handheld scanners <br>
supported by SANE. The scanner type isn't mentioned on the <br>
backend list on the SANE web site. I suspect that's because<br>
all of them are flatbeds...?<br>
<p>
The reason I'm asking, I wrote a backend for my handheld.<br>
It sortof works, but I have a few irks with the frontends.<br>
Maybe my backend isn't doing things correctly... On the <br>
windows software you had to tell the software when the<br>
scan was over. The (GUI)frontends only have a cancel button<br>
(maybe rename it to STOP?) which doesn't seem quite right.<br>
<p>
Any comments appreciated,<br>
Frank.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Steven R. Robertson: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Previous message:</b> <a href="0102.html">Francisco Rodrigo Escobedo Robles: "Re: AT12 / DTC SCSI"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Milon Firikis: "Re: Handheld scanners"</a>
<li> <b>Reply:</b> <a href="0122.html">Milon Firikis: "Re: Handheld scanners"</a>
<!-- reply="end" -->
</ul>
