<!-- received="Thu Feb 18 05:33:00 1999 PST" -->
<!-- sent="Thu, 18 Feb 1999 15:31:13 +0200" -->
<!-- name="Juha Sahakangas" -->
<!-- email="juhaz@dlc.fi" -->
<!-- subject="Re: Microtek - Scanner and SCSI - Emulation over EPP" -->
<!-- id="3.0.5.32.19990218153113.007d9650@mail.dlc.fi" -->
<!-- inreplyto="03A150F83213D111852100A0C918B01601CB3DBE@bchk001a.bch1.sie" -->
<title>sane-devel: Re: Microtek - Scanner and SCSI - Emulation over EPP</title>
<h1>Re: Microtek - Scanner and SCSI - Emulation over EPP</h1>
<b>Juha Sahakangas</b> (<a href="mailto:juhaz@dlc.fi"><i>juhaz@dlc.fi</i></a>)<br>
<i>Thu, 18 Feb 1999 15:31:13 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#107">[ date ]</a><a href="index.html#107">[ thread ]</a><a href="subject.html#107">[ subject ]</a><a href="author.html#107">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Eyermann Horst PN KE DP T 11: "AW: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<li> <b>Previous message:</b> <a href="0106.html">Ugo Paternostro: "FreeBSD 4.0-CURRENT and sane 1.00: a little patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At 12:26 18.2.1999 +0100, you wrote:<br>
<p>
<i>&gt;I do not care much about scanning speed, or locking up the system. But I</i><br>
<i>&gt;am interested to hear, about the SCSI emulation. Does anyone have</i><br>
<i>&gt;experience, if it works - what dirvers are necessary to use it?</i><br>
<p>
What SCSI emulation are you talking about? There is a IDE-SCSI emulation in<br>
linux kernel (which puts ide-devices look like scsi ones), but no any<br>
paraller port scsi-systems.. except parport Zip-drives<br>
<p>
I have microtek parallel port scanner which has scsi-command set, but it<br>
does NOT work with sane / linux. If anyone knows how to put this thing<br>
work, i'll really appreciate it.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Eyermann Horst PN KE DP T 11: "AW: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<li> <b>Previous message:</b> <a href="0106.html">Ugo Paternostro: "FreeBSD 4.0-CURRENT and sane 1.00: a little patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
