<!-- received="Thu Feb 18 09:57:18 1999 PST" -->
<!-- sent="Thu, 18 Feb 1999 09:55:33 -0800 (PST)" -->
<!-- name="justiny@newsguy.com" -->
<!-- email="justiny@newsguy.com" -->
<!-- subject="Re: Microtek - Scanner and SCSI - Emulation over EPP" -->
<!-- id="199902181755.JAA08472@newsguy.com" -->
<!-- inreplyto="Microtek - Scanner and SCSI - Emulation over EPP" -->
<title>sane-devel: Re: Microtek - Scanner and SCSI - Emulation over EPP</title>
<h1>Re: Microtek - Scanner and SCSI - Emulation over EPP</h1>
<a href="mailto:justiny@newsguy.com"><i>justiny@newsguy.com</i></a><br>
<i>Thu, 18 Feb 1999 09:55:33 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Stefan Kamphausen: "The logo-contest..."</a>
<li> <b>Previous message:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<li> <b>Maybe in reply to:</b> <a href="0105.html">Eyermann Horst PN KE DP T 11: "Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0112.html">Joachim Kunze: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At Thu, 18 Feb 1999 15:31:13 +0200, you wrote<br>
<i>&gt;At 12:26 18.2.1999 +0100, you wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt;I do not care much about scanning speed, or locking up the system. But I</i><br>
<i>&gt;&gt;am interested to hear, about the SCSI emulation. Does anyone have</i><br>
<i>&gt;&gt;experience, if it works - what dirvers are necessary to use it?</i><br>
<i>&gt;</i><br>
<i>&gt;What SCSI emulation are you talking about? There is a IDE-SCSI emulation in</i><br>
<i>&gt;linux kernel (which puts ide-devices look like scsi ones), but no any</i><br>
<i>&gt;paraller port scsi-systems.. except parport Zip-drives</i><br>
<i>&gt;</i><br>
<i>&gt;I have microtek parallel port scanner which has scsi-command set, but it</i><br>
<i>&gt;does NOT work with sane / linux. If anyone knows how to put this thing</i><br>
<i>&gt;work, i'll really appreciate it.</i><br>
<i>&gt;</i><br>
<p>
Err... there is a scsi over parallel port driver for Linux.<br>
<p>
Check <a href="http://www.torque.net/parport/">http://www.torque.net/parport/</a>.<br>
<p>
I believe this is what the folks who are doing the v310p backend are doing.<br>
<p>
--Justin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Stefan Kamphausen: "The logo-contest..."</a>
<li> <b>Previous message:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<li> <b>Maybe in reply to:</b> <a href="0105.html">Eyermann Horst PN KE DP T 11: "Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0112.html">Joachim Kunze: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- reply="end" -->
</ul>
