<!-- received="Fri Feb 19 14:34:10 1999 PST" -->
<!-- sent="Fri, 19 Feb 1999 22:32:06 +0000" -->
<!-- name="Rene Vellekoop" -->
<!-- email="rmvlkoop@caiw.nl" -->
<!-- subject="resolution option unknown" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: resolution option unknown</title>
<h1>resolution option unknown</h1>
<b>Rene Vellekoop</b> (<a href="mailto:rmvlkoop@caiw.nl"><i>rmvlkoop@caiw.nl</i></a>)<br>
<i>Fri, 19 Feb 1999 22:32:06 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#130">[ date ]</a><a href="index.html#130">[ thread ]</a><a href="subject.html#130">[ subject ]</a><a href="author.html#130">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">Warren Early: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<li> <b>Previous message:</b> <a href="0129.html">Andre Kessler: "Re: Out of memory"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0133.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0133.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0138.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0142.html">Heinrich Rebehn: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0143.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0158.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0218.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there!<br>
<p>
I use a Mustek 600 II N scanner. 'scanimage -L' returns:<br>
<p>
device `pnm:0' is a Noname PNM file reader virtual device<br>
device `pnm:1' is a Noname PNM file reader virtual device<br>
device `mustek:0x36b' is a Mustek MFC-06000CZ flatbed scanner<br>
<p>
Looks quite nice I think, the scanner moves about a centimeter up and down, lamp<br>
goes on, no problem..<br>
<p>
But when I acctually want to scan an image the scanner gives me the same action<br>
as the 'initialisation' as mentioned above but then locks up.  CTRL-C sais:<br>
stopping scanner... but this has no effect I have to kill the scanimage process<br>
and a 0 byte output file remains.<br>
<p>
<p>
another strange thing:<br>
<p>
    --resolution 51..600dpi (in steps of 1) [18]<br>
        Sets the resolution of the scanned image.<br>
(look at the default value and the range given)<br>
<p>
and when I do:<br>
<p>
# scanimage --resolution 100<br>
<p>
I get:<br>
scanimage: unrecognized option `--resolution'<br>
<p>
the --preview option also makes scanimage lock up.<br>
<p>
Anybody got an answer?<br>
<p>
Thanks in advance!<br>
<p>
Greets!<br>
<p>
Rene Vellekoop<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">Warren Early: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<li> <b>Previous message:</b> <a href="0129.html">Andre Kessler: "Re: Out of memory"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0133.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0133.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0138.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0142.html">Heinrich Rebehn: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0143.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0158.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Reply:</b> <a href="0218.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<!-- reply="end" -->
</ul>
