<!-- received="Sat Feb 20 05:54:12 1999 PST" -->
<!-- sent="Sat, 20 Feb 1999 14:54:24 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-saving formats" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-saving formats</title>
<h1>xsane-saving formats</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 20 Feb 1999 14:54:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Brian Macy: "Win32 SANE interface..."</a>
<li> <b>Previous message:</b> <a href="0133.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0136.html">Robert Schwebel: "Re: xsane-saving formats"</a>
<li> <b>Reply:</b> <a href="0136.html">Robert Schwebel: "Re: xsane-saving formats"</a>
<li> <b>Reply:</b> <a href="0137.html">Michael Sweet: "Re: xsane-saving formats"</a>
<li> <b>Reply:</b> <a href="0140.html">Oliver Rauch: "Re: xsane-saving formats"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I started adding other saving formats for xsane.<br>
planned is: pnm, ps, png, jpeg.<br>
<p>
Does anyone know an important and free library or format that<br>
should be supported too ? - GIF is not planned because of copyright,<br>
unGIF is not interesting because data reduction is not included.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Brian Macy: "Win32 SANE interface..."</a>
<li> <b>Previous message:</b> <a href="0133.html">Dr. Andreas Bolsch: "Re: resolution option unknown"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0136.html">Robert Schwebel: "Re: xsane-saving formats"</a>
<li> <b>Reply:</b> <a href="0136.html">Robert Schwebel: "Re: xsane-saving formats"</a>
<li> <b>Reply:</b> <a href="0137.html">Michael Sweet: "Re: xsane-saving formats"</a>
<li> <b>Reply:</b> <a href="0140.html">Oliver Rauch: "Re: xsane-saving formats"</a>
<!-- reply="end" -->
</ul>
