<!-- received="Tue Feb 23 11:48:27 1999 PST" -->
<!-- sent="Tue, 23 Feb 1999 19:23:57 +0100" -->
<!-- name="Darren Marshall" -->
<!-- email="darren@tuff.org.uk" -->
<!-- subject="Re: Primax for Linux - temp. down" -->
<!-- id="E10FNQz-000741-00@alien.tuff.org.uk" -->
<!-- inreplyto="Primax for Linux - temp. down" -->
<title>sane-devel: Re: Primax for Linux - temp. down</title>
<h1>Re: Primax for Linux - temp. down</h1>
<b>Darren Marshall</b> (<a href="mailto:darren@tuff.org.uk"><i>darren@tuff.org.uk</i></a>)<br>
<i>Tue, 23 Feb 1999 19:23:57 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Tripp Lilley: "Some thoughts about the SANE API"</a>
<li> <b>Previous message:</b> <a href="0153.html">Rick Knight: "RE: Acer scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0151.html">Christian Ordig: "Primax for Linux - temp. down"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0161.html">Christian Ordig: "Re: Primax for Linux - temp. down"</a>
<li> <b>Reply:</b> <a href="0161.html">Christian Ordig: "Re: Primax for Linux - temp. down"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Christian,<br>
<p>
If you need a new home for your site, I can supply you with one free of charge.<br>
<p>
Regards Darren<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Tripp Lilley: "Some thoughts about the SANE API"</a>
<li> <b>Previous message:</b> <a href="0153.html">Rick Knight: "RE: Acer scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0151.html">Christian Ordig: "Primax for Linux - temp. down"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0161.html">Christian Ordig: "Re: Primax for Linux - temp. down"</a>
<li> <b>Reply:</b> <a href="0161.html">Christian Ordig: "Re: Primax for Linux - temp. down"</a>
<!-- reply="end" -->
</ul>
