<!-- received="Wed Feb 24 09:11:38 1999 PST" -->
<!-- sent="Sun, 21 Feb 1999 21:34:21 +0100" -->
<!-- name="Henning Meier-Geinitz" -->
<!-- email="henningmg@gmx.de" -->
<!-- subject="Re: resolution option unknown" -->
<!-- id="" -->
<!-- inreplyto="36CDE666.D3753C84@caiw.nl" -->
<title>sane-devel: Re: resolution option unknown</title>
<h1>Re: resolution option unknown</h1>
<b>Henning Meier-Geinitz</b> (<a href="mailto:henningmg@gmx.de"><i>henningmg@gmx.de</i></a>)<br>
<i>Sun, 21 Feb 1999 21:34:21 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Petter Reinholdtsen: "Unofficial CVS branch relative to v1.00"</a>
<li> <b>Previous message:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; I use a Mustek 600 II N scanner. 'scanimage -L' returns:</i><br>
<i>&gt; </i><br>
<i>&gt; device `pnm:0' is a Noname PNM file reader virtual device</i><br>
<i>&gt; device `pnm:1' is a Noname PNM file reader virtual device</i><br>
<i>&gt; device `mustek:0x36b' is a Mustek MFC-06000CZ flatbed scanner</i><br>
<p>
Same here. I am using sane 0.73.<br>
<p>
<i>&gt; Looks quite nice I think, the scanner moves about a centimeter up and down, lamp</i><br>
<i>&gt; goes on, no problem..</i><br>
<i>&gt; </i><br>
<i>&gt; But when I acctually want to scan an image the scanner gives me the same action</i><br>
<i>&gt; as the 'initialisation' as mentioned above but then locks up.  CTRL-C sais:</i><br>
<i>&gt; stopping scanner... but this has no effect I have to kill the scanimage process</i><br>
<i>&gt; and a 0 byte output file remains.</i><br>
<p>
Did you use "scanimage -d mustek &gt; testfile"? This works for me.<br>
Perhaps it's the same timing problem I had in the beginning. My<br>
solution:<br>
<p>
1) Put a usleep in sanei_ab306.c. The following patch was for 0.72,<br>
but you get the idea.<br>
<p>
diff -ru sane-0.72.orig/sanei/sanei_ab306.c<br>
sane-0.72/sanei/sanei_ab306.c<br>
--- sane-0.72.orig/sanei/sanei_ab306.c  Tue Mar  3 03:13:25 1998<br>
+++ sane-0.72/sanei/sanei_ab306.c       Mon Apr 13 15:58:02 1998<br>
@@ -196,6 +196,8 @@<br>
       ab306_inb (p, base + 1));<br>
          while ((ab306_inb (p, base + 1) &amp; 0x20) == 0);<br>
	  <br>
	  +  usleep(100000);<br>
	  +<br>
	     DBG(4, "ab306_write: writing data\n");<br>
	        for (i = 0; i &lt; len; ++i)<br>
		     {                        <br>
		     <br>
		     <br>
2) Sometimes a higher debugging level can help:<br>
(for bash:) <br>
export SANE_DEBUG_SANEI_AB306=128  <br>
<p>
<p>
 <br>
<i>&gt; another strange thing:</i><br>
<i>&gt; </i><br>
<i>&gt;     --resolution 51..600dpi (in steps of 1) [18]</i><br>
<i>&gt;         Sets the resolution of the scanned image.</i><br>
<i>&gt; (look at the default value and the range given)</i><br>
<i>&gt; </i><br>
<i>&gt; and when I do:</i><br>
<i>&gt; </i><br>
<i>&gt; # scanimage --resolution 100</i><br>
<i>&gt; </i><br>
<i>&gt; I get:</i><br>
<i>&gt; scanimage: unrecognized option `--resolution'</i><br>
<p>
<p>
scanimage -d mustek --resolution 100 &gt; testfile<br>
<p>
works for me.<br>
<p>
Hope this helps.<br>
<p>
Ciao, Henning<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Petter Reinholdtsen: "Unofficial CVS branch relative to v1.00"</a>
<li> <b>Previous message:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
