<!-- received="Wed Feb 24 13:31:48 1999 PST" -->
<!-- sent="Wed, 24 Feb 1999 21:32:25 +0000 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Unofficial CVS branch relative to v1.00" -->
<!-- id="" -->
<!-- inreplyto="199902241916.UAA09467@mender.Cc.Uit.No" -->
<title>sane-devel: Re: Unofficial CVS branch relative to v1.00</title>
<h1>Re: Unofficial CVS branch relative to v1.00</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Wed, 24 Feb 1999 21:32:25 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Immo.Wedekind: "Q: Problems with Mustek MFS1200SP"</a>
<li> <b>Previous message:</b> <a href="0165.html">Oliver Rauch: "xsane-0.13 available"</a>
<li> <b>In reply to:</b> <a href="0164.html">Petter Reinholdtsen: "Unofficial CVS branch relative to v1.00"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Milon Firikis: "Re: Unofficial CVS branch relative to v1.00"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 24 Feb 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; As it seems to be a while until the SANE maintainer David</i><br>
<i>&gt; Mosberger-Tang finds time to release a new version on SANE, I sat down</i><br>
<i>&gt; this evening to collect (hopefully) all the (usefull) patches which</i><br>
<i>&gt; has passed by the mailingslist.  If someone is missing, please reply</i><br>
<i>&gt; to this message on the list.</i><br>
<p>
How about my test option patch for the scanimage frontend? I posted it in<br>
the expectation that perhaps someone would actually try it, perhaps if<br>
the CVS SANE version included it finally someone would take notice?<br>
<p>
As far as I'm concerned the reaction I got to my test patch means that<br>
NONE of the current SANE code works as described in the standard, would<br>
anyone care to contradict me?<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Immo.Wedekind: "Q: Problems with Mustek MFS1200SP"</a>
<li> <b>Previous message:</b> <a href="0165.html">Oliver Rauch: "xsane-0.13 available"</a>
<li> <b>In reply to:</b> <a href="0164.html">Petter Reinholdtsen: "Unofficial CVS branch relative to v1.00"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Milon Firikis: "Re: Unofficial CVS branch relative to v1.00"</a>
<!-- reply="end" -->
</ul>
