<!-- received="Sat Feb 27 07:37:45 1999 PST" -->
<!-- sent="Sat, 27 Feb 1999 16:36:43 +0100" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: CVS Branch fails to compile with egcs" -->
<!-- id="199902271536.QAA03543@mender.Cc.Uit.No" -->
<!-- inreplyto="CVS Branch fails to compile with egcs" -->
<title>sane-devel: Re: CVS Branch fails to compile with egcs</title>
<h1>Re: CVS Branch fails to compile with egcs</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sat, 27 Feb 1999 16:36:43 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#200">[ date ]</a><a href="index.html#200">[ thread ]</a><a href="subject.html#200">[ subject ]</a><a href="author.html#200">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Dennis Putnam: "Info Peripherals' ImageReaderISA"</a>
<li> <b>Previous message:</b> <a href="0199.html">Georg Huettenegger: "Re: horizontal stripes in your image"</a>
<li> <b>Maybe in reply to:</b> <a href="0188.html">Milon Firikis: "CVS Branch fails to compile with egcs"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Milon Firikis and egcs v1.0.2]<br>
<i>&gt; umax.c:3954: virtual memory exhausted</i><br>
<p>
Hm, I get the same message using EGCS v1.1.1.  Do SANE 1.00 compile<br>
with EGCS?  I don't see any large changes with this file that should<br>
have changed anything like this.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a> O- | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Dennis Putnam: "Info Peripherals' ImageReaderISA"</a>
<li> <b>Previous message:</b> <a href="0199.html">Georg Huettenegger: "Re: horizontal stripes in your image"</a>
<li> <b>Maybe in reply to:</b> <a href="0188.html">Milon Firikis: "CVS Branch fails to compile with egcs"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
