<!-- received="Sat Feb 27 15:50:52 1999 PST" -->
<!-- sent="Sun, 28 Feb 1999 00:49:29 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Xsane &amp; GNOME..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Xsane &amp; GNOME...</title>
<h1>Xsane &amp; GNOME...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 28 Feb 1999 00:49:29 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0214.html">Phil Parsons: "Trust? Imagery 2400SP support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; I see you're doing a great job with xsane.  I'm very glad that you're</i><br>
<i>&gt; doing this.</i><br>
<p>
Thanks.<br>
<p>
<i>&gt; May I ask what you think of adding GNOME support to xsane</i><br>
<i>&gt; or is it GNOME-compliant already?  I'm not much of a GUI person</i><br>
<i>&gt; myself, but I do like the GNOME project a lot because I think they</i><br>
<i>&gt; have shown good taste so far in what technology they adopt and how</i><br>
<i>&gt; they structure the project</i><br>
<p>
I already thought about making special versions or including special functions<br>
for GNOME/KDE. But there are a lot of other things that are much more important<br>
than that. I do not use KDE or GNOME and I do not know anything about their<br>
protocols/special functions. But that is no big problem, I did not know much<br>
about<br>
GTK but step by step I learn what I need to know.<br>
<p>
I think the first step is to make xsane compatible to all scanner-backends and<br>
remove the most bugs and improve error handling. After that I want to implement<br>
more output formats (e.g. via netpbm) and a support up to 16/48 bits per pixel.<br>
Then we need a new or much improved preview routine.<br>
<p>
If that is done I think GNOME-1.0 will be available and I will update to a<br>
linux-distribution<br>
that supports GNOME-1.0 and may be GTK-1.2 and then I will take a closer look at<br>
<p>
the special things around GNOME and KDE.<br>
<p>
So I think it will take a while before that - but it is on my plan!<br>
<p>
<p>
When you make sane-1.0.1 or sane-1.1.0, it would be nice if you would include<br>
xsane<br>
into it. I think the worst bugs are removed and the most people should be able<br>
to work with it<br>
without any big problems.<br>
<p>
<p>
Did you get my mail about starting a sane-development-line sane-1.1.x?<br>
How do you think about it?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0214.html">Phil Parsons: "Trust? Imagery 2400SP support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
