<!-- received="Sun Feb 28 04:55:35 1999 PST" -->
<!-- sent="Sun, 28 Feb 1999 07:52:56 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: Sane Logo" -->
<!-- id="" -->
<!-- inreplyto="Sane Logo" -->
<title>sane-devel: Re: Sane Logo</title>
<h1>Re: Sane Logo</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Sun, 28 Feb 1999 07:52:56 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#219">[ date ]</a><a href="index.html#219">[ thread ]</a><a href="subject.html#219">[ subject ]</a><a href="author.html#219">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0220.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0218.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Maybe in reply to:</b> <a href="0211.html">Joern Schekahn: "Sane Logo"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0220.html">Oliver Rauch: "Re: Sane Logo"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; ...</i><br>
<i>&gt; Now I think the last instance should be the vote of the</i><br>
<i>&gt; sane-developers if the logo will become the sane-logo. So please</i><br>
<i>&gt; write a bit about your thoughts about it!</i><br>
<i>&gt; ...</i><br>
<p>
A bit big don't you think?  How does it look when made smaller?<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0220.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0218.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Maybe in reply to:</b> <a href="0211.html">Joern Schekahn: "Sane Logo"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0220.html">Oliver Rauch: "Re: Sane Logo"</a>
<!-- reply="end" -->
</ul>
