<!-- received="Sun Feb 28 14:02:37 1999 PST" -->
<!-- sent="Sun, 28 Feb 1999 23:00:21 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: 16-bit frames and interleaving" -->
<!-- id="" -->
<!-- inreplyto="16-bit frames and interleaving" -->
<title>sane-devel: Re: 16-bit frames and interleaving</title>
<h1>Re: 16-bit frames and interleaving</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 28 Feb 1999 23:00:21 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#239">[ date ]</a><a href="index.html#239">[ thread ]</a><a href="subject.html#239">[ subject ]</a><a href="author.html#239">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0240.html">Oliver Rauch: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Previous message:</b> <a href="0238.html">Nathan Hand: "multiple cams"</a>
<li> <b>Maybe in reply to:</b> <a href="0049.html">Tripp Lilley: "16-bit frames and interleaving"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; The intention of the spec is to allow the former format only (assuming</i><br>
<i>&gt; a little-endian machine; on a big-endian, you'd get RM RL GM GL BM BL</i><br>
<i>&gt; ...).</i><br>
<i>&gt;</i><br>
<p>
Hi David,<br>
<p>
does the net backend or saned already transform the data if that is necessary ?<br>
<p>
What about gamma data upload to the backend?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0240.html">Oliver Rauch: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Previous message:</b> <a href="0238.html">Nathan Hand: "multiple cams"</a>
<li> <b>Maybe in reply to:</b> <a href="0049.html">Tripp Lilley: "16-bit frames and interleaving"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<!-- reply="end" -->
</ul>
