<!-- received="Sun Feb 28 15:48:41 1999 PST" -->
<!-- sent="Sun, 28 Feb 1999 18:45:21 -0500" -->
<!-- name="John Garrison" -->
<!-- email="jeg@visi.net" -->
<!-- subject="SCSI not detected" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SCSI not detected</title>
<h1>SCSI not detected</h1>
<b>John Garrison</b> (<a href="mailto:jeg@visi.net"><i>jeg@visi.net</i></a>)<br>
<i>Sun, 28 Feb 1999 18:45:21 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#251">[ date ]</a><a href="index.html#251">[ thread ]</a><a href="subject.html#251">[ subject ]</a><a href="author.html#251">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0250.html">Tripp Lilley: "Re: Scanimage -T backend tester [patch]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am having trouble getting linux to detect my scsi card.  When my<br>
computer boots up it says 'scsi detected 0' or something to that effect,<br>
but I do have an scsi card installed.  If I do a modprobe of scsi_debug,<br>
it finds a non-existent drive everywhere possible.  Somebody said the<br>
scanner number might be the same as the id number on the controller, so<br>
I changed it but nothing still happened.  Might I need to change some<br>
DIP switches on the SCSI Card?  I'm not sure exactly what type of SCSI<br>
card I have as it can with the scanner, and I can't find any reference<br>
to it in the docs, but I think it is an adaptec, what kind of adaptec I<br>
have no idea. <br>
<p>
Can somebody please help me get my scanner working?  I really need it<br>
and the linux newgroups haven't be much help getting my SCSI card<br>
detected.  I'm sure it is something simple I am not doing.<br>
<p>
Thanks alot for any help.<br>
<p>
John<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0250.html">Tripp Lilley: "Re: Scanimage -T backend tester [patch]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
