<!-- received="Mon Sep 29 08:58:48 1997 MST" -->
<!-- sent="Mon, 29 Sep 1997 09:48:56 -0400" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="Re: Mustek 600 II EP" -->
<!-- id="199709291348.JAA03853@prospero.dma.isg.mot.com" -->
<!-- inreplyto="Mustek 600 II EP" -->
<title>sane-devel: Re: Mustek 600 II EP</title>
<h1>Re: Mustek 600 II EP</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Mon, 29 Sep 1997 09:48:56 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Michael K. Johnson: "Re: Most SANE scanner to buy?"</a>
<li> <b>Previous message:</b> <a href="0006.html">Arjen Schoneveld: "Mustek 600 II EP"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Arjen Schoneveld: "Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<li> <b>Reply:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
I purchased a Mustek Paragon IISP (600 II CD) scanner and I am thrilled at the<br>
support from SANE.  Never the less, here are some problems I have encountered.<br>
<p>
	Mustek 600 II CD<br>
	AHA 1540 SCSI (card is set not to support "diconnects" for this device)<br>
	RedHat Linux 4.1 (kernel 2.0.27 i think)<br>
<p>
All problems are encountered using xscanimage using the latest<br>
available release (compiled by me) of SANE (0.64) and GIMP (0.99.11).<br>
<p>
	1) Unable to get xscanimage to function as a plug-in.  I have not<br>
	applied the patches as described in the xscanimage FAQ, but I read<br>
	it as if that patch is only for older versions of gimp.<br>
<p>
	2) Color scan resolution set to 100, out.pnm is reported to "appear<br>
	truncated" by xv on occasion.  Rescanning will usually produce a<br>
	working out.pnm<br>
<p>
	3) Color scan resolution set to 100, first scan comes out at incorrect<br>
	reolution.  Re-scan usually resets (?) scanner and produces a correct<br>
	out.pnm at 100 dpi<br>
<p>
	4) Sometimes when xscanimage runs, the preview window refuses to die.<br>
	xscanimage continues to work properly, but preview window hangs around.<br>
<p>
	5) My new Mustek 600 II CD went past length of bed (made that funky<br>
	noise as described in the man pages) when I made a color scan with<br>
	a resolution of 300 dpi.<br>
<p>
	6) Twice this weekend, the scanner became hung.  I was unable to<br>
	unload/reload the aha1542 module to reset the SCSI interface, thus<br>
	I had to reboot.<br>
<p>
I you have a specific format you would like to see the bug reports in please<br>
forword me a copy.  I will gladly participate in any testing you guys require.<br>
I'm really thankful to the ability to keep my machine Windoz free.  Keep up<br>
the good work!<br>
<p>
<p>
- Christoph<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Michael K. Johnson: "Re: Most SANE scanner to buy?"</a>
<li> <b>Previous message:</b> <a href="0006.html">Arjen Schoneveld: "Mustek 600 II EP"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Arjen Schoneveld: "Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<li> <b>Reply:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<!-- reply="end" -->
</ul>
