<!-- received="Mon Sep 29 10:47:08 1997 MST" -->
<!-- sent="Mon, 29 Sep 1997 18:16:20 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Most SANE scanner to buy?" -->
<!-- id="199709291616.SAA00211@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.3.85.9709280317.A20811-0100000@acad.stedwards.edu" -->
<title>sane-devel: Re: Most SANE scanner to buy?</title>
<h1>Re: Most SANE scanner to buy?</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 29 Sep 1997 18:16:20 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#9">[ date ]</a><a href="index.html#9">[ thread ]</a><a href="subject.html#9">[ subject ]</a><a href="author.html#9">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Nils Schuller: "success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>Previous message:</b> <a href="0008.html">Michael K. Johnson: "Re: Most SANE scanner to buy?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Ignacio,<br>
<p>
<i>&gt; </i><br>
<i>&gt; I think Oliver is completely right. I happen to have a UMAX Astra-600s </i><br>
<i>&gt; and it is very disapointing that UMAX neither  provide us with a driver </i><br>
<i>&gt; nor gives in any information in order to make this scanner work under </i><br>
<i>&gt; Linux.</i><br>
<p>
Oh, this sounds like UMAX doesn't support us, that's now right!<br>
<p>
We already got two scsi-specs form UMAX, one general for the<br>
UMAX-scanner and one for the Astra 1200S, but the Astra 600S<br>
behaves differnt to the other scanners.<br>
<p>
So please, if someone writes a mail, please write a friendly one!!!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Nils Schuller: "success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>Previous message:</b> <a href="0008.html">Michael K. Johnson: "Re: Most SANE scanner to buy?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
