<!-- received="Mon Sep 29 22:48:36 1997 MST" -->
<!-- sent="Tue, 30 Sep 1997 07:08:35 +0059 (MDT)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem7.pharmazie.uni-halle.de" -->
<!-- subject="Re: Mustek 600 II EP" -->
<!-- id="199709300403.AAA04983@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="m0xFkf2-000BW2C@charon.beck-sw.de" -->
<title>sane-devel: Re: Mustek 600 II EP</title>
<h1>Re: Mustek 600 II EP</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem7.pharmazie.uni-halle.de"><i>p5iba@medchem7.pharmazie.uni-halle.de</i></a>)<br>
<i>Tue, 30 Sep 1997 07:08:35 +0059 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Mail Delivery Subsystem: "Returned mail: Host unknown (Name server: altea.dlsi.ua.es.: non-recoverable error)"</a>
<li> <b>Previous message:</b> <a href="0023.html">Matto Marjanovic: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>In reply to:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>Reply:</b> <a href="0026.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus !<br>
<p>
<i>&gt; &gt; All problems are encountered using xscanimage using the latest</i><br>
<i>&gt; &gt; available release (compiled by me) of SANE (0.64) and GIMP (0.99.11).</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; 	1) Unable to get xscanimage to function as a plug-in.  I have not</i><br>
<i>&gt; &gt; 	applied the patches as described in the xscanimage FAQ, but I read</i><br>
<i>&gt; &gt; 	it as if that patch is only for older versions of gimp.</i><br>
<i>&gt; Probably the configure script doesn't detect GIMP properly and thus doesn't </i><br>
<i>&gt; build the "gimpified" version. Check the configure values, if all gimp-</i><br>
<i>&gt; related items are found. If not, fake them.</i><br>
<p>
Yes I had the same problem but I found that in gimp.h another file is <br>
included which is not at the expected place. Making a link solved the problem<br>
and configure finds gimp.h.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Mail Delivery Subsystem: "Returned mail: Host unknown (Name server: altea.dlsi.ua.es.: non-recoverable error)"</a>
<li> <b>Previous message:</b> <a href="0023.html">Matto Marjanovic: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>In reply to:</b> <a href="0019.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>Reply:</b> <a href="0026.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<!-- reply="end" -->
</ul>
