<!-- received="Mon Sep 29 22:58:45 1997 MST" -->
<!-- sent="Mon, 29 Sep 1997 23:06:55 -0700" -->
<!-- name="Mail Delivery Subsystem" -->
<!-- email="MAILER-DAEMON@listserv.azstarnet.com" -->
<!-- subject="Returned mail: Host unknown (Name server: altea.dlsi.ua.es.: non-recoverable error)" -->
<!-- id="199709300606.XAA13263@aries.azstarnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Returned mail: Host unknown (Name server: altea.dlsi.ua.es.: non-recoverable error)</title>
<h1>Returned mail: Host unknown (Name server: altea.dlsi.ua.es.: non-recoverable error)</h1>
<b>Mail Delivery Subsystem</b> (<a href="mailto:MAILER-DAEMON@listserv.azstarnet.com"><i>MAILER-DAEMON@listserv.azstarnet.com</i></a>)<br>
<i>Mon, 29 Sep 1997 23:06:55 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>Previous message:</b> <a href="0029.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a MIME-encapsulated message<br>
<p>
--XAA13263.875599612/aries.azstarnet.com<br>
<p>
The original message was received at Mon, 29 Sep 1997 22:16:52 -0700<br>
from slist@localhost<br>
<p>
   ----- The following addresses had permanent fatal errors -----<br>
<a href="mailto:oncina@altea.dlsi.ua.es">oncina@altea.dlsi.ua.es</a><br>
<p>
   ----- Transcript of session follows -----<br>
... while talking to mailin.hkstar.com.:<br>
<i>&gt;&gt;&gt; MAIL From:&lt;<a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>&gt; SIZE=1637</i><br>
&lt;&lt;&lt; 418 &lt;<a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>&gt;... unresolvable host name, check your configuration.<br>
<a href="mailto:serer@sermanet.com..">serer@sermanet.com..</a>. Deferred: No route to host<br>
550 <a href="mailto:oncina@altea.dlsi.ua.es..">oncina@altea.dlsi.ua.es..</a>. Host unknown (Name server: altea.dlsi.ua.es.: non-recoverable error)<br>
<p>
--XAA13263.875599612/aries.azstarnet.com<br>
Content-Type: message/delivery-status<br>
<p>
Reporting-MTA: dns; aries.azstarnet.com<br>
Arrival-Date: Mon, 29 Sep 1997 22:16:52 -0700<br>
<p>
Final-Recipient: RFC822; <a href="mailto:oncina@altea.dlsi.ua.es">oncina@altea.dlsi.ua.es</a><br>
Action: failed<br>
Status: 5.1.2<br>
Remote-MTA: dns; altea.dlsi.ua.es<br>
Last-Attempt-Date: Mon, 29 Sep 1997 23:05:22 -0700<br>
<p>
--XAA13263.875599612/aries.azstarnet.com<br>
Content-Type: text/rfc822-headers<br>
<p>
Return-Path: <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a><br>
Received: (from slist@localhost) by aries.azstarnet.com (8.8.5/8.8.5) id WAA13257; Mon, 29 Sep 1997 22:16:52 -0700<br>
Resent-Date: Mon, 29 Sep 1997 22:16:52 -0700<br>
Date: Tue, 30 Sep 1997 07:08:35 +0059 (MDT)<br>
From: "Mathias Weigt (Stud. 94)" &lt;<a href="mailto:p5iba@medchem7.pharmazie.uni-halle.de">p5iba@medchem7.pharmazie.uni-halle.de</a>&gt;<br>
Subject: Re: Mustek 600 II EP<br>
cc: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
In-Reply-To: <a href="024.html">&lt;m0xFkf2-000BW2C@charon.beck-sw.de&gt;</a>
<br>
Message-ID: &lt;<a href="mailto:Pine.3.89.9709300709.C5894-0100000@medchem7.pharmazie.uni-halle.de">Pine.3.89.9709300709.C5894-0100000@medchem7.pharmazie.uni-halle.de</a>&gt;<br>
MIME-Version: 1.0<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII<br>
Resent-Message-ID: &lt;"9tLNw1.0._E3.3j8Cq"@aries&gt;<br>
To: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
Resent-From: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
Reply-To: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
X-Mailing-List: &lt;<a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a>&gt; archive/latest/808<br>
X-Loop: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a><br>
Precedence: list<br>
Resent-Sender: <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a><br>
<p>
--XAA13263.875599612/aries.azstarnet.com--<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>Previous message:</b> <a href="0029.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
