<!-- received="Wed Oct  1 01:26:31 1997 MST" -->
<!-- sent="01 Oct 1997 14:51:47 +0900" -->
<!-- name="Kazuhiro Sasayama" -->
<!-- email="kaz@hypercore.co.jp" -->
<!-- subject="Re: Epson flatbed backend" -->
<!-- id="199710020437.AAA15071@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="30 Sep 1997 10:47:00 +0900" -->
<title>sane-devel: Re: Epson flatbed backend</title>
<h1>Re: Epson flatbed backend</h1>
<b>Kazuhiro Sasayama</b> (<a href="mailto:kaz@hypercore.co.jp"><i>kaz@hypercore.co.jp</i></a>)<br>
<i>01 Oct 1997 14:51:47 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">David Mosberger-Tang: "welcome to sane-devel@mostang.com!"</a>
<li> <b>Previous message:</b> <a href="0000.html">Matto Marjanovic: "improved Microtek backend..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<li> <b>Reply:</b> <a href="0013.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My first test version of the Epson backend is now available at<br>
&lt;URL:<a href="http://www.spice.or.jp/%7Ehypercor/dist/sane-epson-latest.tar.gz">http://www.spice.or.jp/%7Ehypercor/dist/sane-epson-latest.tar.gz</a>&gt;.<br>
<p>
Please test it and see if your scanner works.<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On 30 Sep 1997 10:47:00 +0900, Kazuhiro Sasayama &lt;<a href="mailto:kaz@hypercore.co.jp">kaz@hypercore.co.jp</a>&gt; said:</i><br>
<p>
    Kaz&gt; I'd like to start a little work on Epson flatbed scanner<br>
    Kaz&gt; backend soon.  Is anyone already working on it?<br>
<p>
<pre>
-- 
Kaz Sasayama &lt;<a href="mailto:kaz@hypercore.co.jp">kaz@hypercore.co.jp</a>&gt;
* Hypercore Software Design, Ltd. &lt;URL:<a href="http://www.spice.or.jp/%7Ehypercor/">http://www.spice.or.jp/%7Ehypercor/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">David Mosberger-Tang: "welcome to sane-devel@mostang.com!"</a>
<li> <b>Previous message:</b> <a href="0000.html">Matto Marjanovic: "improved Microtek backend..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<li> <b>Reply:</b> <a href="0013.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- reply="end" -->
</ul>
