<!-- received="Sat Oct  4 00:39:58 1997 MST" -->
<!-- sent="Sat, 4 Oct 1997 01:39:38 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="AGFA SnapScan backend" -->
<!-- id="19971004073939Z13241-2498+9@scapa.cs.ualberta.ca" -->
<!-- inreplyto="" -->
<title>sane-devel: AGFA SnapScan backend</title>
<h1>AGFA SnapScan backend</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Sat, 4 Oct 1997 01:39:38 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Mosberger-Tang: "sane-0.65 released"</a>
<li> <b>Previous message:</b> <a href="0002.html">David Mosberger-Tang: "welcome to sane-devel@mostang.com!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0010.html">Franck SCHNEIDER: "Re: AGFA SnapScan backend"</a>
<li> <b>Reply:</b> <a href="0010.html">Franck SCHNEIDER: "Re: AGFA SnapScan backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've started working on a backend for the AGFA SnapScan scanner. This<br>
may or may not end up being a derivative of the Umax backend--I've got<br>
some reading to do before I can really decide.<br>
<p>
If anybody else is already working on this give me a shout. Maybe we<br>
can pool our energies.<br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
	       		             --------------    Edmonton AB CANADA
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Mosberger-Tang: "sane-0.65 released"</a>
<li> <b>Previous message:</b> <a href="0002.html">David Mosberger-Tang: "welcome to sane-devel@mostang.com!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0010.html">Franck SCHNEIDER: "Re: AGFA SnapScan backend"</a>
<li> <b>Reply:</b> <a href="0010.html">Franck SCHNEIDER: "Re: AGFA SnapScan backend"</a>
<!-- reply="end" -->
</ul>
