<!-- received="Thu Oct  9 23:30:51 1997 MST" -->
<!-- sent="Fri, 10 Oct 1997 02:30:32 -0400 (EDT)" -->
<!-- name="Vance Stith" -->
<!-- email="vsmith@fast.net" -->
<!-- subject="RE: libsane.so.0 error." -->
<!-- id="" -->
<!-- inreplyto="199710090506.WAA32158@panda.mostang.com" -->
<title>sane-devel: RE: libsane.so.0 error.</title>
<h1>RE: libsane.so.0 error.</h1>
<b>Vance Stith</b> (<a href="mailto:vsmith@fast.net"><i>vsmith@fast.net</i></a>)<br>
<i>Fri, 10 Oct 1997 02:30:32 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Rogier Wolff: "Re: flatbed scanner, postscript printer"</a>
<li> <b>Previous message:</b> <a href="0044.html">Michael K. Johnson: "Re: segfault with sane-umax"</a>
<li> <b>In reply to:</b> <a href="0033.html">David Mosberger-Tang: "RE: libsane.so.0 error."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
how do I apply this patch? What is needed on the command line? I also have<br>
been having problems running xscanimage. I get the following:<br>
<p>
**ERROR**: sigsegv caught<br>
<p>
It attempts to load then craps out giving the above error msg. Anyone know<br>
of a fix?<br>
<p>
Thanks,<br>
<p>
Vance Stith<br>
BOPLCITY<br>
<p>
<p>
On Wed, 8 Oct 1997, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Tue, 07 Oct 1997 21:37:57 +0200 (MET DST), Henning Sauer &lt;<a href="mailto:hsauer@marnie.teuto.de">hsauer@marnie.teuto.de</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Henning&gt; On 07-Oct-97 Ricardo Muggli wrote:</i><br>
<i>&gt; </i><br>
<i>&gt;   &gt;&gt; Just in case this is distribution specific I am running Debian</i><br>
<i>&gt;   &gt;&gt; GNU/Linux 1.3.1</i><br>
<i>&gt;   &gt;&gt; </i><br>
<i>&gt;   Henning&gt; I had the same problem on my RedHat 4.2 Linux system!</i><br>
<i>&gt; </i><br>
<i>&gt; The following patch should fix the problem (you'll have to rerun</i><br>
<i>&gt; configure and make install after applying it).  Comments welcome.</i><br>
<i>&gt; </i><br>
<i>&gt; 	--david</i><br>
<i>&gt; --</i><br>
<i>&gt; --- backend/Makefile.in	Wed Oct  8 22:00:19 1997</i><br>
<i>&gt; +++ backend/Makefile.in~	Sat Oct  4 20:52:07 1997</i><br>
<i>&gt; @@ -89,14 +89,10 @@</i><br>
<i>&gt;  	    || exit 1; \</i><br>
<i>&gt;  	done</i><br>
<i>&gt;  	@$(LIBTOOL) $(MINST) --finish $(libdir)</i><br>
<i>&gt; -	rm -f $(libdir)/libsane.a $(libdir)/libsane.so \</i><br>
<i>&gt; -		$(libdir)/libsane.so.$(V_MAJOR)*</i><br>
<i>&gt; -	ln -s libsane-dll.a $(libdir)/libsane.a</i><br>
<i>&gt; +	rm -f $(libdir)/libsane.so.$(V_MAJOR)</i><br>
<i>&gt;  	ln -s libsane-dll.so $(libdir)/libsane.so</i><br>
<i>&gt; -	@cd $(libdir) &amp;&amp; for n in libsane-dll.so.$(V_MAJOR)*; do \</i><br>
<i>&gt; -	  nn=`echo $$n | sed s,^libsane-dll,libsane,`; \</i><br>
<i>&gt; -	  ln -s $$n $$nn; \</i><br>
<i>&gt; -	done || exit 1</i><br>
<i>&gt; +	rm -f $(libdir)/libsane.a</i><br>
<i>&gt; +	ln -s libsane-dll.a $(libdir)/libsane.a</i><br>
<i>&gt;  	@list="$(CONFIGS)"; for cfg in $$list; do \</i><br>
<i>&gt;  	  if test ! -r $(srcdir)/$${cfg}; then continue; fi; \</i><br>
<i>&gt;  	  if test -f $(configdir)/$${cfg}; then \</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Rogier Wolff: "Re: flatbed scanner, postscript printer"</a>
<li> <b>Previous message:</b> <a href="0044.html">Michael K. Johnson: "Re: segfault with sane-umax"</a>
<li> <b>In reply to:</b> <a href="0033.html">David Mosberger-Tang: "RE: libsane.so.0 error."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
