<!-- received="Fri Oct 10 09:18:17 1997 MST" -->
<!-- sent="Fri, 10 Oct 1997 18:06:23 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: segfault with sane-umax" -->
<!-- id="199710101606.SAA00267@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.971009120850.5134A-100000@swamp.bayern.net" -->
<title>sane-devel: Re: segfault with sane-umax</title>
<h1>Re: segfault with sane-umax</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Fri, 10 Oct 1997 18:06:23 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#51">[ date ]</a><a href="index.html#51">[ thread ]</a><a href="subject.html#51">[ subject ]</a><a href="author.html#51">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Oliver.Rauch@Wolfsburg.DE: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Java API"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; -    free(&amp;(dev-&gt;us));</i><br>
<p>
This line defenitly has to be removed! Someone  already informed me some weeks<br>
ago abot that problem and I removed it from the source.<br>
<p>
I thought it was fixed in sane-0.63, but I just looked at sane-0.63 and sane-0.64<br>
and the line is still in there. So if anyone has problems with that, remove that<br>
line!<br>
<p>
In the next update it will be fixed!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Oliver.Rauch@Wolfsburg.DE: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Java API"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
