<!-- received="Wed Oct 15 11:23:54 1997 MST" -->
<!-- sent="Wed, 15 Oct 1997 20:23:14 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="umax-backend" -->
<!-- id="199710151823.UAA08920@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: umax-backend</title>
<h1>umax-backend</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 15 Oct 1997 20:23:14 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0075.html">Michael Sweet: "Re: "strange" things with SANE on IRIX 5.3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0101.html">Peter Daum: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello UMAX Astra-1200 S owners!<br>
<p>
Sane-0.66 is available now and it supports 30-bit gamma-correction<br>
and a 30-bit scan-mode.<br>
<p>
Pleas would someone try the gamma-coorection and the option<br>
10-bit-mode and tell me if it works.<br>
<p>
Thanks<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0075.html">Michael Sweet: "Re: "strange" things with SANE on IRIX 5.3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0101.html">Peter Daum: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
