<!-- received="Thu Oct 16 23:53:41 1997 MST" -->
<!-- sent="Fri, 17 Oct 1997 02:52:54 -0400 (EDT)" -->
<!-- name="Billy the expert skier!" -->
<!-- email="druid@linux.nycmetro.com" -->
<!-- subject="Re: Problem building sane on FreeBSD 2.2.2" -->
<!-- id="199710170652.CAA25013@linux.nycmetro.com" -->
<!-- inreplyto="199710170158.SAA05696@panda.mostang.com" -->
<title>sane-devel: Re: Problem building sane on FreeBSD 2.2.2</title>
<h1>Re: Problem building sane on FreeBSD 2.2.2</h1>
<b>Billy the expert skier!</b> (<a href="mailto:druid@linux.nycmetro.com"><i>druid@linux.nycmetro.com</i></a>)<br>
<i>Fri, 17 Oct 1997 02:52:54 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#93">[ date ]</a><a href="index.html#93">[ thread ]</a><a href="subject.html#93">[ subject ]</a><a href="author.html#93">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Previous message:</b> <a href="0092.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0091.html">David Mosberger-Tang: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0094.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Reply:</b> <a href="0094.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Reply:</b> <a href="0102.html">David Mosberger-Tang: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;&gt;&gt; On Thu, 16 Oct 1997 22:43:32 +0800, Thomason Fan &lt;<a href="mailto:thomason@hkstar.com">thomason@hkstar.com</a>&gt; said:</i><br>
<i>&gt;</i><br>
<i>&gt;   Thomason&gt; Hello,</i><br>
<i>&gt;   Thomason&gt; While building sane-0.66, got the following messages:</i><br>
<i>&gt;</i><br>
<i>&gt;   Thomason&gt; libtool: link: warning: using a buggy system linker</i><br>
<i>&gt;   Thomason&gt; libtool: link: relinking will be reqired before `scanimage' can be</i><br>
<i>&gt;   Thomason&gt; installed</i><br>
<i>&gt;</i><br>
<i>&gt; No idea.  But it's a warning, so I'd think you're OK.  Any FreeBSD</i><br>
<i>&gt; experts out there?</i><br>
<i>&gt;</i><br>
<i>&gt; 	--david</i><br>
<p>
This might be due to a non-gnu linker (ld)..  do like me, and be safe and<br>
run the configure script with --disable-shared    This disabled shared<br>
libraries and links everything statically.  I do this for building sane on<br>
SCO :)<br>
<p>
By the way, David, I can't seem to get sane v0.66 compiled on SCO. Albeit<br>
I haven't tried to correct the errors I'm getting, but they are actual<br>
'error' notices when building sane..  in the Microtek and Umax backends.<br>
<p>
I'm using SCO OpenServer 5.0.2 (FreeSCO) with the C compilter that came<br>
with SCO, not gcc, and the latest gnu make.<br>
The 'warning' notices can be ignored.  Here is what I get.. <br>
<p>
-----snip here-----<br>
making all in backend<br>
make[1]: Entering directory `/tmp/sane-0.66/backend'<br>
cc -c -g -belf -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d -DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=66 -DBACKEND_NAME=microtek -DLIBDIR=/usr/local/lib microtek.c<br>
"../include/sane/sane.h", line 140: warning: typedef already qualified with "const"<br>
"microtek.c", line 144: warning: typedef already qualified with "const"<br>
"microtek.c", line 209: warning: statement not reached<br>
"microtek.c", line 323: error: assignment type mismatch<br>
"microtek.c", line 388: error: assignment type mismatch<br>
"microtek.c", line 389: error: assignment type mismatch<br>
"microtek.c", line 392: error: assignment type mismatch<br>
"microtek.c", line 393: error: assignment type mismatch<br>
"microtek.c", line 396: error: assignment type mismatch<br>
"microtek.c", line 397: error: assignment type mismatch<br>
"microtek.c", line 400: error: assignment type mismatch<br>
"microtek.c", line 401: error: assignment type mismatch<br>
"microtek.c", line 404: error: assignment type mismatch<br>
"microtek.c", line 405: error: assignment type mismatch<br>
"microtek.c", line 408: error: assignment type mismatch<br>
"microtek.c", line 409: error: assignment type mismatch<br>
"microtek.c", line 412: error: assignment type mismatch<br>
"microtek.c", line 413: error: assignment type mismatch<br>
"microtek.c", line 416: error: assignment type mismatch<br>
"microtek.c", line 417: error: assignment type mismatch<br>
"microtek.c", line 420: error: assignment type mismatch<br>
"microtek.c", line 421: error: assignment type mismatch<br>
"microtek.c", line 444: error: assignment type mismatch<br>
"microtek.c", line 455: error: assignment type mismatch<br>
"microtek.c", line 466: error: assignment type mismatch<br>
"microtek.c", line 476: error: assignment type mismatch<br>
"microtek.c", line 494: error: assignment type mismatch<br>
"microtek.c", line 529: error: assignment type mismatch<br>
"microtek.c", line 541: error: assignment type mismatch<br>
"microtek.c", line 553: error: assignment type mismatch<br>
"microtek.c", line 564: error: assignment type mismatch<br>
"microtek.c", line 593: warning: argument is incompatible with prototype: arg #2<br>
"microtek.c", line 594: warning: argument is incompatible with prototype: arg #2<br>
"microtek.c", line 595: warning: argument is incompatible with prototype: arg #2<br>
"microtek.c", line 854: warning: argument is incompatible with prototype: arg #2<br>
"microtek.c", line 855: warning: argument is incompatible with prototype: arg #2<br>
"microtek.c", line 886: warning: argument is incompatible with prototype: arg #2<br>
"microtek.c", line 887: warning: argument is incompatible with prototype: arg #2<br>
"microtek.c", line 1970: error: Syntax error before or at: }<br>
"microtek.c", line 2005: error: Syntax error before or at: else<br>
make[1]: *** [microtek.lo] Error 1<br>
cc -c -g -belf -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d -DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=66 -DBACKEND_NAME=umax -DLIBDIR=/usr/local/lib umax.c<br>
"../include/sane/sane.h", line 140: warning: typedef already qualified with "const"<br>
"./umax-scsidef.h", line 138: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 380: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 388: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 396: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 408: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 422: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 628: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 647: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 666: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 683: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 724: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 733: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 747: warning: initialization type mismatch<br>
"./umax-scsidef.h", line 789: warning: initialization type mismatch<br>
"./umax-uc630.h", line 191: warning: initialization type mismatch<br>
"./umax-uc840.h", line 191: warning: initialization type mismatch<br>
"./umax-ug630.h", line 191: warning: initialization type mismatch<br>
"./umax-scsi.c", line 173: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 176: warning: argument is incompatible with prototype: arg #4<br>
"./umax-scsi.c", line 195: warning: argument is incompatible with prototype: arg #4<br>
"./umax-scsi.c", line 410: warning: assignment type mismatch<br>
"./umax-scsi.c", line 413: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 415: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 418: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 420: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 425: warning: assignment type mismatch<br>
"./umax-scsi.c", line 437: warning: argument is incompatible with prototype: arg #2<br>
"./umax-scsi.c", line 456: warning: assignment type mismatch<br>
"./umax-scsi.c", line 459: warning: argument is incompatible with prototype: arg #2<br>
"./umax-scsi.c", line 782: warning: argument is incompatible with prototype: arg #2<br>
"./umax-scsi.c", line 804: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 805: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 806: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 811: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 843: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 845: warning: argument is incompatible with prototype: arg #4<br>
"./umax-scsi.c", line 865: warning: argument is incompatible with prototype: arg #4<br>
"./umax-scsi.c", line 871: warning: argument is incompatible with prototype: arg #4<br>
"./umax-scsi.c", line 896: warning: argument is incompatible with prototype: arg #2<br>
"./umax-scsi.c", line 897: warning: argument is incompatible with prototype: arg #2<br>
"./umax-scsi.c", line 898: warning: argument is incompatible with prototype: arg #2<br>
"./umax-scsi.c", line 1538: warning: assignment type mismatch<br>
"./umax-scsi.c", line 1540: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1552: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1553: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1554: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1555: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1556: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1557: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1562: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1563: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1565: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1566: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1567: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1568: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1569: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1570: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1572: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1575: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1618: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1619: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1620: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1621: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1622: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1623: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1624: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1645: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1647: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1650: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1652: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1655: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1657: warning: argument is incompatible with prototype: arg #1<br>
"./umax-scsi.c", line 1662: warning: argument is incompatible with prototype: arg #1<br>
"umax.c", line 176: warning: typedef already qualified with "const"<br>
"umax.c", line 251: warning: typedef already qualified with "const"<br>
"umax.c", line 2010: error: integral constant expression expected<br>
"umax.c", line 2033: error: integral constant expression expected<br>
"umax.c", line 2055: error: integral constant expression expected<br>
make[1]: *** [umax.lo] Error 1<br>
make[1]: Target `all' not remade because of errors.<br>
make[1]: Leaving directory `/tmp/sane-0.66/backend'<br>
-----snip there-----<br>
<p>
Is this because the source code is not so 'friendly' to non-gnu compilers?<br>
If so, how can it be corrected?<br>
<p>
Billy<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Previous message:</b> <a href="0092.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0091.html">David Mosberger-Tang: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0094.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Reply:</b> <a href="0094.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Reply:</b> <a href="0102.html">David Mosberger-Tang: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<!-- reply="end" -->
</ul>
