<!-- received="Thu Oct 23 13:59:43 1997 MST" -->
<!-- sent="Thu, 23 Oct 1997 22:57:29 +0200" -->
<!-- name="Joerg Diederich" -->
<!-- email="J_Diederich@herlab.ruhr.de" -->
<!-- subject="Dark scans with HP ScanJet 3c" -->
<!-- id="199710232057.WAA01397@herlab.ruhr.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Dark scans with HP ScanJet 3c</title>
<h1>Dark scans with HP ScanJet 3c</h1>
<b>Joerg Diederich</b> (<a href="mailto:J_Diederich@herlab.ruhr.de"><i>J_Diederich@herlab.ruhr.de</i></a>)<br>
<i>Thu, 23 Oct 1997 22:57:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#121">[ date ]</a><a href="index.html#121">[ thread ]</a><a href="subject.html#121">[ subject ]</a><a href="author.html#121">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0120.html">Joachim Woll: "Mustek 1200SP: Missing Lines"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">David Mosberger-Tang: "Re: Dark scans with HP ScanJet 3c"</a>
<li> <b>Reply:</b> <a href="0125.html">David Mosberger-Tang: "Re: Dark scans with HP ScanJet 3c"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Everyone,<br>
<p>
excuse me, if this is a RTFM question.<br>
<p>
I'm using sane 0.65 together with a HP ScanJet 3c<br>
(over a local area network, but that's probably not<br>
relevant for my problem).<br>
<p>
Everything works fine, but true color scans <br>
created by sane are - compared to<br>
results produced by the original HP software under<br>
windoze - very dark.<br>
<p>
Are there any suggestions for proper values of<br>
contrast and brightness? Or is it possible to<br>
calibrate sane?<br>
<p>
Thanks in advance!<br>
<p>
CU<br>
Joerg<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0120.html">Joachim Woll: "Mustek 1200SP: Missing Lines"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">David Mosberger-Tang: "Re: Dark scans with HP ScanJet 3c"</a>
<li> <b>Reply:</b> <a href="0125.html">David Mosberger-Tang: "Re: Dark scans with HP ScanJet 3c"</a>
<!-- reply="end" -->
</ul>
