<!-- received="Fri Oct 24 21:06:23 1997 MST" -->
<!-- sent="Sat, 25 Oct 1997 00:06:16 -0400" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="next release of Microtek back-end:  come and get it" -->
<!-- id="199710250406.AAA26013@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: next release of Microtek back-end:  come and get it</title>
<h1>next release of Microtek back-end:  come and get it</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sat, 25 Oct 1997 00:06:16 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#129">[ date ]</a><a href="index.html#129">[ thread ]</a><a href="subject.html#129">[ subject ]</a><a href="author.html#129">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Rogier Wolff: "Re: Dark scans with HP ScanJet 3c"</a>
<li> <b>Previous message:</b> <a href="0128.html">Matt Thompson: "RE: ./configure doesn't think I have X  (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sorry for the long delay, but v0.3 of the Microtek back-end source is now on<br>
<p>
  <a href="http://www.mir.com/mtek/">http://www.mir.com/mtek/</a><br>
<p>
<p>
New in this release:<br>
<p>
      More dumb bugs involving option capabilities fixed. <br>
      Scalar gamma correction control added. <br>
      Transparent media adapter (TMA) [should] works, <br>
         thanks to Tim Prime (<a href="mailto:Tim.Prime@eng.sun.com">Tim.Prime@eng.sun.com</a>). <br>
      Subtle bugs in color scan unpacking fixed. <br>
      Digital Brightness added for testing; does not quite work. <br>
      Much code clean-up. <br>
<p>
<p>
Thanks to those who contributed bug reports, and/or pointed out the obvious :).<br>
<p>
-Matt Marjanovic<br>
 maddog@mir.com<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Rogier Wolff: "Re: Dark scans with HP ScanJet 3c"</a>
<li> <b>Previous message:</b> <a href="0128.html">Matt Thompson: "RE: ./configure doesn't think I have X  (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
