<!-- received="Sat Oct 25 03:58:58 1997 MST" -->
<!-- sent="Sat, 25 Oct 1997 08:39:30 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Dark scans with HP ScanJet 3c" -->
<!-- id="199710250639.IAA00656@cave.BitWizard.nl" -->
<!-- inreplyto="199710240347.UAA11848@panda.mostang.com" -->
<title>sane-devel: Re: Dark scans with HP ScanJet 3c</title>
<h1>Re: Dark scans with HP ScanJet 3c</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Sat, 25 Oct 1997 08:39:30 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#130">[ date ]</a><a href="index.html#130">[ thread ]</a><a href="subject.html#130">[ subject ]</a><a href="author.html#130">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">David Mosberger-Tang: "forwarded message from Federico Mena"</a>
<li> <b>Previous message:</b> <a href="0129.html">Matto Marjanovic: "next release of Microtek back-end:  come and get it"</a>
<li> <b>In reply to:</b> <a href="0125.html">David Mosberger-Tang: "Re: Dark scans with HP ScanJet 3c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Thu, 23 Oct 1997 22:57:29 +0200, Joerg Diederich &lt;<a href="mailto:J_Diederich@herlab.ruhr.de">J_Diederich@herlab.ruhr.de</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Joerg&gt; Hi Everyone,</i><br>
<i>&gt; </i><br>
<i>&gt;   Joerg&gt; excuse me, if this is a RTFM question.</i><br>
<i>&gt; </i><br>
<i>&gt;   Joerg&gt; I'm using sane 0.65 together with a HP ScanJet 3c (over a</i><br>
<i>&gt;   Joerg&gt; local area network, but that's probably not relevant for my</i><br>
<i>&gt;   Joerg&gt; problem).</i><br>
<i>&gt; </i><br>
<i>&gt;   Joerg&gt; Everything works fine, but true color scans created by sane</i><br>
<i>&gt;   Joerg&gt; are - compared to results produced by the original HP</i><br>
<i>&gt;   Joerg&gt; software under windoze - very dark.</i><br>
<i>&gt; </i><br>
<i>&gt;   Joerg&gt; Are there any suggestions for proper values of contrast and</i><br>
<i>&gt;   Joerg&gt; brightness? Or is it possible to calibrate sane?</i><br>
<i>&gt; </i><br>
<i>&gt; The HP backend is still very minimal.  It was derived from hpscanpbm</i><br>
<i>&gt; and was adapted to SANE "in the blind" (without access to an HP</i><br>
<i>&gt; scanner).  Features such as gamma correction are not supported yet.</i><br>
<i>&gt; Getting the docs from HP isn't hard, but what's lacking right now is a</i><br>
<i>&gt; person to take the HP backend under his or her wing...</i><br>
<p>
Joerg, <br>
<p>
If you're not going to take the hint from David, you can adjust the<br>
gamma using a program like "xv". Load the picture in XV, and press "e"<br>
to edit the colors. In the middle-bottom control you can adjust the<br>
gamma. Works like a charm. <br>
<p>
					Roger. <br>
<p>
<pre>
-- 
** <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> ** +31-15-2137555 ** <a href="http://www.BitWizard.nl/">http://www.BitWizard.nl/</a> **
Florida -- A 39 year old construction worker woke up this morning when a
109-car freight train drove over him. According to the police the man was 
drunk. The man himself claims he slipped while walking the dog. 080897
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">David Mosberger-Tang: "forwarded message from Federico Mena"</a>
<li> <b>Previous message:</b> <a href="0129.html">Matto Marjanovic: "next release of Microtek back-end:  come and get it"</a>
<li> <b>In reply to:</b> <a href="0125.html">David Mosberger-Tang: "Re: Dark scans with HP ScanJet 3c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
