<!-- received="Sat Oct 25 13:14:06 1997 MST" -->
<!-- sent="Sat, 25 Oct 1997 13:14:05 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="SANE server will be down" -->
<!-- id="199710252014.NAA24927@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE server will be down</title>
<h1>SANE server will be down</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 25 Oct 1997 13:14:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">David Mosberger-Tang: "gdkpixmap.c patch for gtk+971025"</a>
<li> <b>Previous message:</b> <a href="0131.html">David Mosberger-Tang: "forwarded message from Federico Mena"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sometime this weekend I'll be moving my machine (mostang.com) to<br>
another room.  This means that the SANE home page may be inaccessible<br>
at times and that mail to sane-devel may be delayed.  It will be back<br>
up asap, but depending on how many things go wrong, it may take a<br>
while.<br>
<p>
If you just want the latest sources (sane-0.66), you can get them from<br>
the tsx mirror at:<br>
<p>
	<a href="ftp://tsx-11.mit.edu/pub/linux/packages/sane/">ftp://tsx-11.mit.edu/pub/linux/packages/sane/</a><br>
<p>
  --david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">David Mosberger-Tang: "gdkpixmap.c patch for gtk+971025"</a>
<li> <b>Previous message:</b> <a href="0131.html">David Mosberger-Tang: "forwarded message from Federico Mena"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
