<!-- received="Mon Oct 27 06:16:24 1997 PST" -->
<!-- sent="Mon, 27 Oct 1997 14:06:22 +0100 (MET)" -->
<!-- name="Klaus Weglehner" -->
<!-- email="klaus@amsys.nbg.sub.org" -->
<!-- subject="lost lines &amp; scsi-termination" -->
<!-- id="199710271306.OAA20824@amsys.nbg.sub.org" -->
<!-- inreplyto="" -->
<title>sane-devel: lost lines &amp; scsi-termination</title>
<h1>lost lines &amp; scsi-termination</h1>
<b>Klaus Weglehner</b> (<a href="mailto:klaus@amsys.nbg.sub.org"><i>klaus@amsys.nbg.sub.org</i></a>)<br>
<i>Mon, 27 Oct 1997 14:06:22 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Klaus Weglehner: "Searching for Paragon ROM!!"</a>
<li> <b>Previous message:</b> <a href="0142.html">Klaus Weglehner: "Scsi-Cabling"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi David!<br>
I build a scsi termination for the 50pin port of the 600II-CD this<br>
morning. Unfortunately it does no improvement.<br>
<p>
Bye...<br>
 Klaus<br>
 <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Klaus Weglehner: "Searching for Paragon ROM!!"</a>
<li> <b>Previous message:</b> <a href="0142.html">Klaus Weglehner: "Scsi-Cabling"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
