<!-- received="Thu Oct 30 22:08:47 1997 PST" -->
<!-- sent="Thu, 30 Oct 1997 22:08:46 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Mustek 1200SP: Missing Lines" -->
<!-- id="199710310608.WAA14836@panda.mostang.com" -->
<!-- inreplyto="34590C27.84956501@physik.uni-kassel.de" -->
<title>sane-devel: Re: Mustek 1200SP: Missing Lines</title>
<h1>Re: Mustek 1200SP: Missing Lines</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 30 Oct 1997 22:08:46 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Jacques-Yves ANDRE: "Epson filmscan 200."</a>
<li> <b>Previous message:</b> <a href="0162.html">David Mosberger-Tang: "Re: problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 30 Oct 1997 23:37:27 +0100, Joachim Woll &lt;<a href="mailto:woll@physik.uni-kassel.de">woll@physik.uni-kassel.de</a>&gt; said:</i><br>
<p>
<i>  &gt;&gt; However the main developer of the Mustek drivers semms to be able</i><br>
<i>  &gt;&gt; to reproduce this problems recently, so maybe there is hope ...</i><br>
  Joachim&gt; :-)<br>
<p>
Sorry to disappoint: I _cannot_ reproduce that problem.  My problem<br>
turned out to be due to improper SCSI termination.  Unfortunately, it<br>
appears that the "missing lines" problem is not due to termination<br>
problems.  So I'm afraid somebody with a 1200SP scanner would have to<br>
debug this problem.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Jacques-Yves ANDRE: "Epson filmscan 200."</a>
<li> <b>Previous message:</b> <a href="0162.html">David Mosberger-Tang: "Re: problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
