<!-- received="Sat Dec  4 15:01:04 1999 PST" -->
<!-- sent="Sat, 4 Dec 1999 18:46:21 +0100 (CET)" -->
<!-- name="Erwin Kaiser" -->
<!-- email="ekaiser@snafu.de" -->
<!-- subject="Re: Agfa Snapscan 600 - problems" -->
<!-- id="" -->
<!-- inreplyto="19991125223613Z433223-16915+212@scapa.cs.ualberta.ca" -->
<title>sane-devel: Re: Agfa Snapscan 600 - problems</title>
<h1>Re: Agfa Snapscan 600 - problems</h1>
<b>Erwin Kaiser</b> (<a href="mailto:ekaiser@snafu.de"><i>ekaiser@snafu.de</i></a>)<br>
<i>Sat, 4 Dec 1999 18:46:21 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#39">[ date ]</a><a href="index.html#39">[ thread ]</a><a href="subject.html#39">[ subject ]</a><a href="author.html#39">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Previous message:</b> <a href="0038.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Kevin,<br>
thank you very much for your help!<br>
My scanner now works pretty fine and does - nearly - everthing I tell him<br>
to do...<br>
...........Erwin<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Previous message:</b> <a href="0038.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
