<!-- received="Sun Dec  5 08:54:18 1999 PST" -->
<!-- sent="Sun, 5 Dec 1999 11:51:00 -0500 (EST)" -->
<!-- name="mabus" -->
<!-- email="mabus@nebulanet.net" -->
<!-- subject="Re: aha152x, microtek e6, kernel 2.2.13" -->
<!-- id="" -->
<!-- inreplyto="199912050352.WAA06920@ra.lexis-nexis.com" -->
<title>sane-devel: Re: aha152x, microtek e6, kernel 2.2.13</title>
<h1>Re: aha152x, microtek e6, kernel 2.2.13</h1>
<b>mabus</b> (<a href="mailto:mabus@nebulanet.net"><i>mabus@nebulanet.net</i></a>)<br>
<i>Sun, 5 Dec 1999 11:51:00 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Jochen Eisinger: "How to write a backend?"</a>
<li> <b>Previous message:</b> <a href="0046.html">thomas huber: "snapscan300-warum nicht?"</a>
<li> <b>In reply to:</b> <a href="0045.html">Larry Snyder: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sure enough. That was it. I recompiled and worked no problem. I already<br>
had /dev/sg*  Thanks a lot.<br>
<p>
<p>
On Sat, 4 Dec 1999, Larry Snyder wrote:<br>
<p>
<i>&gt; Did you enable SCSI_GENERIC in the kernel, and do you have</i><br>
<i>&gt; /dev/sg[0-7|a-h] out there in devices-land?</i><br>
<i>&gt; -ls-</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Jochen Eisinger: "How to write a backend?"</a>
<li> <b>Previous message:</b> <a href="0046.html">thomas huber: "snapscan300-warum nicht?"</a>
<li> <b>In reply to:</b> <a href="0045.html">Larry Snyder: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
