<!-- received="Sun Dec  5 15:20:57 1999 PST" -->
<!-- sent="Sun, 5 Dec 1999 18:20:24 -0500 (EST)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Re: aha152x, microtek e6, kernel 2.2.13" -->
<!-- id="199912052320.SAA17783@ra.lexis-nexis.com" -->
<!-- inreplyto="XFMail.991205231022.hermanr@mailroom.com" -->
<title>sane-devel: Re: aha152x, microtek e6, kernel 2.2.13</title>
<h1>Re: aha152x, microtek e6, kernel 2.2.13</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Sun, 5 Dec 1999 18:20:24 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#52">[ date ]</a><a href="index.html#52">[ thread ]</a><a href="subject.html#52">[ subject ]</a><a href="author.html#52">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">Douglas Gilbert: "Re: Segmentation Fault with scanimage"</a>
<li> <b>Previous message:</b> <a href="0051.html">Herman Roozenbeek: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Check out the man page on insmod and /usr/src/linux/Documentation/modules.txt.<br>
sg.o should be the one you're looking for.<br>
Good luck,<br>
-ls- <br>
<p>
<p>
Herman Roozenbeek &lt;<a href="mailto:hermanr@mailroom.com">hermanr@mailroom.com</a>&gt; wrote:<br>
<i>&gt;  </i><br>
<i>&gt; &gt; On Sat, 4 Dec 1999, Larry Snyder wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt;&gt; Did you enable SCSI_GENERIC in the kernel, and do you have</i><br>
<i>&gt; &gt;&gt; /dev/sg[0-7|a-h] out there in devices-land?</i><br>
<i>&gt; </i><br>
<i>&gt; I seem to have the same problems: my scanner (a CanoScan 300 with an AHA1502</i><br>
<i>&gt; SCSI-adapter) is recognized by the kernel, but find-scanner can't find it.</i><br>
<i>&gt; </i><br>
<i>&gt; I have sg.o in my /lib/modules, I suppose this is SCSI_GENERIC?</i><br>
<i>&gt; Should I do something special to activate it? </i><br>
<i>&gt; I also compiled aha152x.o as a module and since the kernel can find my</i><br>
<i>&gt; scanner I suppose that there is no problem with my modules as such.</i><br>
<i>&gt; </i><br>
<i>&gt; In /dev all the sg-devices are present. (My scanner should be on /dev/sg1, which</i><br>
<i>&gt; is the destination for the link /dev/scanner.)</i><br>
<i>&gt; </i><br>
<i>&gt; Any suggestions?</i><br>
<i>&gt; </i><br>
<i>&gt; Herman</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; You may have heard that a dean is to faculty as a hydrant is to a dog.</i><br>
<i>&gt;                 -- Alfred Kahn</i><br>
<i>&gt; </i><br>
<i>&gt; ------------------------------------------------</i><br>
<i>&gt; E-Mail: Herman Roozenbeek &lt;<a href="mailto:hermanr@mailroom.com">hermanr@mailroom.com</a>&gt;</i><br>
<i>&gt; Date: 05-Dec-99, 23:01:46</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">Douglas Gilbert: "Re: Segmentation Fault with scanimage"</a>
<li> <b>Previous message:</b> <a href="0051.html">Herman Roozenbeek: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
