<!-- received="Mon Dec  6 05:42:58 1999 PST" -->
<!-- sent="Mon, 6 Dec 1999 07:40:23 -0600" -->
<!-- name="Paul B. McFarling" -->
<!-- email="pbm1@ra.msstate.edu" -->
<!-- subject="Re: How to write a backend?" -->
<!-- id="99120607451300.02853@localhost.localdomain" -->
<!-- inreplyto="384AA3FC.82C6A0FA@gmx.net" -->
<title>sane-devel: Re: How to write a backend?</title>
<h1>Re: How to write a backend?</h1>
<b>Paul B. McFarling</b> (<a href="mailto:pbm1@ra.msstate.edu"><i>pbm1@ra.msstate.edu</i></a>)<br>
<i>Mon, 6 Dec 1999 07:40:23 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Klaas Freitag: "Re: snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0060.html">thomas huber: "snapscan300-warum nicht?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 05 Dec 1999, you wrote:<br>
<i>&gt; Hi there!</i><br>
<i>&gt; </i><br>
<i>&gt; I'd like to write a backend for my Mustek parallel port scanner, but</i><br>
<i>&gt; there isn't really good documentation on how to do this (or I just don't</i><br>
<i>&gt; find it). Is there soneome, who could help me (which functions have to</i><br>
<i>&gt; be implemented, or is there a backend-prototype or a how-to?)</i><br>
<i>&gt; </i><br>
<i>&gt; thanx</i><br>
<i>&gt; </i><br>
<i>&gt; -- jochen</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
there is a backend in progress for mustek parallel port scanners.  As of the<br>
moment it is only a command line interface driver, a direct port of the<br>
Windows driver, it works great.  I am currently writitng a frontend for this<br>
driver similar to the Windows interface for the driver. The driver is located<br>
at <a href="http://www.i2k.com/~jeffd/a4s2">http://www.i2k.com/~jeffd/a4s2</a>.<br>
hope this helps.<br>
<pre>
-- 
-------------------------------------------------------- 
Don't throw your PC
out of the window throw Window's out of your PC.
<p>
Paul B. McFarling
<a href="mailto:pbm1@ra.msstate.edu">pbm1@ra.msstate.edu</a>
--------------------------------------------------------.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Klaas Freitag: "Re: snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0060.html">thomas huber: "snapscan300-warum nicht?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
