<!-- received="Sun Dec 12 18:49:55 1999 PST" -->
<!-- sent="Mon, 13 Dec 1999 10:55:59 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: New unstable SANE snapshot (19991212)" -->
<!-- id="199912130255.KAA07140@minerva.cc.uit.no" -->
<!-- inreplyto="New unstable SANE snapshot (19991212)" -->
<title>sane-devel: Re: New unstable SANE snapshot (19991212)</title>
<h1>Re: New unstable SANE snapshot (19991212)</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 13 Dec 1999 10:55:59 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#96">[ date ]</a><a href="index.html#96">[ thread ]</a><a href="subject.html#96">[ subject ]</a><a href="author.html#96">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Mentore #cat# Siesto: "This is more than I can bear... (Epson GT 300)"</a>
<li> <b>Previous message:</b> <a href="0095.html">Bernd Schroeder: "Re: Microtek X6 and TMA"</a>
<li> <b>Maybe in reply to:</b> <a href="0093.html">Petter Reinholdtsen: "New unstable SANE snapshot (19991212)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Douglas Gilbert]<br>
<i>&gt; Is Kevin Charter's new SnapScan driver there? See:</i><br>
<i>&gt; <a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a></i><br>
<i>&gt; </i><br>
<i>&gt; The SnapScan driver in the Sane 1.0.1 and the Linux sg driver &gt;= lk</i><br>
<i>&gt; 2.2.6 don't get on very well on some machines.</i><br>
<p>
No.  I expect him to add it himself when he believe the code is<br>
ready. :-)<br>
He has write access to CVS.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Mentore #cat# Siesto: "This is more than I can bear... (Epson GT 300)"</a>
<li> <b>Previous message:</b> <a href="0095.html">Bernd Schroeder: "Re: Microtek X6 and TMA"</a>
<li> <b>Maybe in reply to:</b> <a href="0093.html">Petter Reinholdtsen: "New unstable SANE snapshot (19991212)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
