<!-- received="Tue Dec 14 14:14:37 1999 PST" -->
<!-- sent="Mon, 13 Dec 1999 21:54:33 +0100" -->
<!-- name="Dick Streefland" -->
<!-- email="Dick.Streefland@inter.NL.net" -->
<!-- subject="Re: [patch] support for Ricoh IS50" -->
<!-- id="" -->
<!-- inreplyto="199912120632.OAA05394@minerva.cc.uit.no" -->
<title>sane-devel: Re: [patch] support for Ricoh IS50</title>
<h1>Re: [patch] support for Ricoh IS50</h1>
<b>Dick Streefland</b> (<a href="mailto:Dick.Streefland@inter.NL.net"><i>Dick.Streefland@inter.NL.net</i></a>)<br>
<i>Mon, 13 Dec 1999 21:54:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">marcel pol: "Re: Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0101.html">Harry E. Clarke: "Questions"</a>
<li> <b>In reply to:</b> <a href="0092.html">Petter Reinholdtsen: "Re: [patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sunday 1999-12-12 14:32, Petter Reinholdtsen wrote:<br>
<i>| [Dick Streefland]</i><br>
<i>| &gt; The original author of this driver told me that he is not actively</i><br>
<i>| &gt; working on this driver anymore, and he suggested that I post this</i><br>
<i>| &gt; patch on this mailing list.</i><br>
<i>| </i><br>
<i>| I would feel more comfortable when adding backend patches to CVS if</i><br>
<i>| there existed some maintainer which collected and tested such Ricoh</i><br>
<i>| patches.  Would you be willing to maintain the Ricoh backend.  If you</i><br>
<i>| and the old maintainer could reach an agreement on this, it would be</i><br>
<i>| really nice.</i><br>
<p>
I don't think that I am in a position to maintain the Ricoh driver.<br>
I only have an IS50 device, so I cannot test the IS60. Also, I'm not<br>
particularly familiar with the sane source code. I only made this<br>
quick fix to get my IS50 working. This particular fix shouldn't<br>
affect the IS60.<br>
<p>
<pre>
-- 
Dick Streefland                    ////               De Bilt
<a href="mailto:dick.streefland@inter.nl.net">dick.streefland@inter.nl.net</a>      (@ @)       The Netherlands
------------------------------oOO--(_)--OOo------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">marcel pol: "Re: Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0101.html">Harry E. Clarke: "Questions"</a>
<li> <b>In reply to:</b> <a href="0092.html">Petter Reinholdtsen: "Re: [patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
