<!-- received="Wed Dec 22 01:21:27 1999 PST" -->
<!-- sent="Wed, 22 Dec 1999 10:22:04 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Printing images in their original size" -->
<!-- id="" -->
<!-- inreplyto="Printing images in their original size" -->
<title>sane-devel: Re: Printing images in their original size</title>
<h1>Re: Printing images in their original size</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 22 Dec 1999 10:22:04 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Warren Chartier: "Re: Microtek SlimScan Cx Parallel?"</a>
<li> <b>Previous message:</b> <a href="0151.html">genkin@canada.com: "Printing images in their original size"</a>
<li> <b>Maybe in reply to:</b> <a href="0151.html">genkin@canada.com: "Printing images in their original size"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0158.html">Matto Marjanovic: "Re: Printing images in their original size"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:genkin@canada.com">genkin@canada.com</a> wrote:<br>
<p>
<i>&gt; I've been using xsane as a plugin for Gimp, or I would scan something</i><br>
<i>&gt; into a jpeg file, at resolution of 400. All my consequtive attempts to</i><br>
<i>&gt; print out such image would result in either a scaled-to-fit-page-width</i><br>
<i>&gt; one, or in a magnified segment of an image.</i><br>
<p>
Did you test xsane as stand alone program?<br>
There is a photocopy mode which allows you to define the zoom factor.<br>
<p>
<i>&gt; I really hope there is, because I scanned a whole bunch of pictures</i><br>
<i>&gt; into .jpeg files, thinking to print them out later. Now I'm afraid I'm</i><br>
<i>&gt; stuck... I *have* to print them in their original size. ;^(</i><br>
<i>&gt;</i><br>
<p>
xv has a nice tool where you can select the size of the printed image.<br>
If you use xv and save the image as postscript you also have the chance to<br>
set position and size of the image.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Warren Chartier: "Re: Microtek SlimScan Cx Parallel?"</a>
<li> <b>Previous message:</b> <a href="0151.html">genkin@canada.com: "Printing images in their original size"</a>
<li> <b>Maybe in reply to:</b> <a href="0151.html">genkin@canada.com: "Printing images in their original size"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0158.html">Matto Marjanovic: "Re: Printing images in their original size"</a>
<!-- reply="end" -->
</ul>
