<!-- received="Mon Dec 27 04:32:30 1999 PST" -->
<!-- sent="Mon, 27 Dec 1999 13:37:57 -0000 (/etc/localtime" -->
<!-- name="marcel pol" -->
<!-- email="mpol@gmx.net" -->
<!-- subject="RE: can't compile sane 1.00 with pgcc-2.91.66" -->
<!-- id="" -->
<!-- inreplyto="0FNE006DR5TOKO@longneck.netc.pt" -->
<title>sane-devel: RE: can't compile sane 1.00 with pgcc-2.91.66</title>
<h1>RE: can't compile sane 1.00 with pgcc-2.91.66</h1>
<b>marcel pol</b> (<a href="mailto:mpol@gmx.net"><i>mpol@gmx.net</i></a>)<br>
<i>Mon, 27 Dec 1999 13:37:57 -0000 (/etc/localtime</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#178">[ date ]</a><a href="index.html#178">[ thread ]</a><a href="subject.html#178">[ subject ]</a><a href="author.html#178">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Leonard Bottleman: "Re: Update for Epson Backend / Perfection 1200S Support"</a>
<li> <b>Previous message:</b> <a href="0177.html">Paulo Abreu: "can't compile sane 1.00 with pgcc-2.91.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 27-Dec-99 Paulo Abreu wrote:<br>
<i>&gt; Hi:</i><br>
<i>&gt; </i><br>
<i>&gt; I can't compile sane on a pentium mmx running Linux Mandrake 6.0.</i><br>
<i>&gt; </i><br>
<i>&gt; After ./configure I do a make and then comes:</i><br>
<i>&gt; </i><br>
<i>&gt; abaton.c: In function 'sane_abaton_control_option':</i><br>
<i>&gt; abaton.c:1116: incompatible types in assingnment</i><br>
<p>
I got the same error.<br>
Try SANE 1.0.1. Worked for me.<br>
<p>
Marcel Pol<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Leonard Bottleman: "Re: Update for Epson Backend / Perfection 1200S Support"</a>
<li> <b>Previous message:</b> <a href="0177.html">Paulo Abreu: "can't compile sane 1.00 with pgcc-2.91.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
