<!-- received="Mon Dec 27 23:22:03 1999 PST" -->
<!-- sent="Tue, 28 Dec 1999 15:28:56 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Maintainers missing - what should we do?" -->
<!-- id="199912280728.PAA25483@minerva.cc.uit.no" -->
<!-- inreplyto="" -->
<title>sane-devel: Maintainers missing - what should we do?</title>
<h1>Maintainers missing - what should we do?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Tue, 28 Dec 1999 15:28:56 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Warren Chartier: "Microtek SlimScan C3"</a>
<li> <b>Previous message:</b> <a href="0183.html">David Turley: "Re: compile problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It seems like a few of the backends no longer have active maintainers.<br>
If I remember correctly, this is a problem for the following backends:<br>
<p>
  video4linux<br>
  ricoh<br>
  epson<br>
<p>
The easy solution would be to get someone else to take over as<br>
maintainers.  This option usually takes to long, and sometimes does<br>
not ever happend.  Any volunteers?<br>
<p>
The other option is to let the code rot, before it in the end is<br>
removed from the distribution when the smell is too bad.<br>
<p>
The next option is to remove it imediately, to avoid the problem.<br>
This is of course not a good option.<br>
<p>
The last option is to leave maintainance to the current SANE<br>
maintainer.  This is how it is now.  It is a bad option, which in the<br>
end turns into option two - code rot.<br>
<p>
BTW: The current lack of maintainer for the video4linux backend stops<br>
  it from being included in the SANE distribution.  This is not a<br>
  problem for the video4linux2 backend.<br>
<p>
BTW2: Please test the latest development snapshot.  Testing it on<br>
  HP/UX and Irix uncovered some code bugs.  All such bugs should be<br>
  removed as soon as possible.<br>
<p>
&lt;URL:<a href="http://www.student.uit.no/~pere/linux/sane/sane-devel-19991212.tar.gz">http://www.student.uit.no/~pere/linux/sane/sane-devel-19991212.tar.gz</a>&gt;<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Warren Chartier: "Microtek SlimScan C3"</a>
<li> <b>Previous message:</b> <a href="0183.html">David Turley: "Re: compile problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
