<!-- received="Tue Dec 28 01:18:11 1999 PST" -->
<!-- sent="Tue, 28 Dec 1999 04:22:08 -0500 (EST)" -->
<!-- name="Warren Chartier" -->
<!-- email="icebalm@bigfoot.com" -->
<!-- subject="Microtek SlimScan C3" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek SlimScan C3</title>
<h1>Microtek SlimScan C3</h1>
<b>Warren Chartier</b> (<a href="mailto:icebalm@bigfoot.com"><i>icebalm@bigfoot.com</i></a>)<br>
<i>Tue, 28 Dec 1999 04:22:08 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Previous message:</b> <a href="0184.html">Petter Reinholdtsen: "Maintainers missing - what should we do?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi All,<br>
<p>
I would just like to mention that I successfully got my Microtek SlimScan<br>
C3 Parallel Port scanner working using:<br>
<p>
ppSCSI 0.91 using the onscsi protocol module at: <br>
<a href="http://www.torque.net/parport/ppscsi.html">http://www.torque.net/parport/ppscsi.html</a><br>
<p>
SANE Development snapshot 19991212 at:<br>
<a href="http://www.student.uit.no/~pere/linux/sane/sane-devel-19991212.tar.gz">http://www.student.uit.no/~pere/linux/sane/sane-devel-19991212.tar.gz</a><br>
using a very slightly modified microtek2.c so it would recognize model <br>
code 0xaf.<br>
<p>
Thanks to all the developers of SANE, onSCSI and Matto Marjanovic for<br>
helping me to get this working. :)  The colors aren't as correct as the<br>
windows drivers, but its so subtle you'd never notice.<br>
<p>
Warren Chartier<br>
Minister of the Mobile Mechanized Infantry - <a href="http://www.juga.com">http://www.juga.com</a><br>
Fight Spam - Join CAUSE!  <a href="http://www.cause.org">http://www.cause.org</a><br>
<p>
---- BEGIN ECHELON BLOCK ----<br>
SCUD missile Ortega AK-47 Uzi $400 million in gold bullion Rule Psix Nazi<br>
militia Project Monarch counter-intelligence JFK cypherpunk Kibo Ron Brown<br>
clones bomb special-ops terrorism WACO nuclear missile MI5<br>
----- END ECHELON BLOCK -----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Previous message:</b> <a href="0184.html">Petter Reinholdtsen: "Maintainers missing - what should we do?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
