<!-- received="Tue Dec 28 05:06:57 1999 PST" -->
<!-- sent="Tue, 28 Dec 1999 14:09:29 +0100" -->
<!-- name="Jochen Eisinger" -->
<!-- email="jochen.eisinger@gmx.net" -->
<!-- subject="Re: Mustek ScanExpress 12000P" -->
<!-- id="" -->
<!-- inreplyto="Mustek ScanExpress 12000P" -->
<title>sane-devel: Re: Mustek ScanExpress 12000P</title>
<h1>Re: Mustek ScanExpress 12000P</h1>
<b>Jochen Eisinger</b> (<a href="mailto:jochen.eisinger@gmx.net"><i>jochen.eisinger@gmx.net</i></a>)<br>
<i>Tue, 28 Dec 1999 14:09:29 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#186">[ date ]</a><a href="index.html#186">[ thread ]</a><a href="subject.html#186">[ subject ]</a><a href="author.html#186">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Adrian Perez Jorge: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Previous message:</b> <a href="0185.html">Warren Chartier: "Microtek SlimScan C3"</a>
<li> <b>Maybe in reply to:</b> <a href="0176.html">Riku Turkia: "Mustek ScanExpress 12000P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mustek doesn't answer to queries about the protocolls for their<br>
pp-scanners, even the local technical support doesn't know anything. At<br>
the moment I'm working on a backend for the mustek a4s2-chipset, but I<br>
don't know whether you scanners uses this or not...<br>
<p>
<pre>
--
Don't throw your PC
out of the window throw Window's out of your PC.
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Adrian Perez Jorge: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Previous message:</b> <a href="0185.html">Warren Chartier: "Microtek SlimScan C3"</a>
<li> <b>Maybe in reply to:</b> <a href="0176.html">Riku Turkia: "Mustek ScanExpress 12000P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<!-- reply="end" -->
</ul>
