<!-- received="Thu Dec 30 20:32:29 1999 PST" -->
<!-- sent="Thu, 30 Dec 1999 23:15:37 -0500" -->
<!-- name="Janine Roe" -->
<!-- email="mjroe@bellatlantic.net" -->
<!-- subject="poor scanning quality" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: poor scanning quality</title>
<h1>poor scanning quality</h1>
<b>Janine Roe</b> (<a href="mailto:mjroe@bellatlantic.net"><i>mjroe@bellatlantic.net</i></a>)<br>
<i>Thu, 30 Dec 1999 23:15:37 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#208">[ date ]</a><a href="index.html#208">[ thread ]</a><a href="subject.html#208">[ subject ]</a><a href="author.html#208">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<li> <b>Previous message:</b> <a href="0207.html">Hermang: "parallel port reverse engneering?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just got my HP5100c scanner up and running.  I am trying to scan an<br>
image and the quality is poor.  The scanned image is streaked with<br>
colors.  How do I fix that?<br>
<p>
Thanks !<br>
<p>
<p>
<p>
<pre>
--
Janine
------------
Thirty spokes share the wheel's hub;
It is the center hole that makes it useful.
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<li> <b>Previous message:</b> <a href="0207.html">Hermang: "parallel port reverse engneering?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
