<!-- received="Fri Nov  7 16:41:29 1997 PST" -->
<!-- sent="Fri, 7 Nov 1997 22:53:26 +0000" -->
<!-- name="Johan Bengtsson" -->
<!-- email="johanb@lls.se" -->
<!-- subject="Help: Mustek 600 II N scanner" -->
<!-- id="199711072204.XAA27920@leonardo.lls.se" -->
<!-- inreplyto="" -->
<title>sane-devel: Help: Mustek 600 II N scanner</title>
<h1>Help: Mustek 600 II N scanner</h1>
<b>Johan Bengtsson</b> (<a href="mailto:johanb@lls.se"><i>johanb@lls.se</i></a>)<br>
<i>Fri, 7 Nov 1997 22:53:26 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0065.html">David Mosberger-Tang: "Re: Which host hardware/OS?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0067.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0068.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0070.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0080.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0085.html">Andreas Czechanowski: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have a Mustek 600 II N scanner that I'm trying to use with Linux. <br>
This scanner has a cable with a 26 pin connector that doesn't fit the <br>
Adaptec 1505 scsi card that I have. I'm not sure if this particular <br>
scanner has a scsi interface at all, it could be some proprietary <br>
interface (I have gathered some info from the net that seems to point <br>
in this direction). OK, two quick questions:<br>
<p>
1) Is it possible to use this scanner with SANE and Linux in general?<br>
<p>
2) Is it possible to use it with the Adaptec 1505 card? (maybe with <br>
an adapter or different cable?)<br>
<p>
I'm very grateful for any help!<br>
<p>
Regards<br>
Johan Bengtsson<br>
-------------------------------------------------------------<br>
               TENT OF MIRACLES<br>
-the unofficial homepage of the legendary band SPIRIT<br>
         <a href="http://www.lls.se/~johanb/spirit/">http://www.lls.se/~johanb/spirit/</a><br>
------------------------------------------------------------<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0065.html">David Mosberger-Tang: "Re: Which host hardware/OS?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0067.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0068.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0070.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0080.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0085.html">Andreas Czechanowski: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
