<!-- received="Sun Nov  9 00:37:08 1997 PST" -->
<!-- sent="Sun, 9 Nov 1997 00:34:36 -0800 (PST)" -->
<!-- name="Howard J. Poe" -->
<!-- email="falcor@cvconline.com" -->
<!-- subject="Doh!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Doh!</title>
<h1>Doh!</h1>
<b>Howard J. Poe</b> (<a href="mailto:falcor@cvconline.com"><i>falcor@cvconline.com</i></a>)<br>
<i>Sun, 9 Nov 1997 00:34:36 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0072.html">Howard J. Poe: "SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sorry, I found the answer to my problem with Xscanimage not working.<br>
<p>
Looks like my misconfiguration also failed to detect libgimp.h.<br>
<p>
*SIGH*<br>
<p>
Maybe I should start from pristine sources and see if it works now...<br>
<p>
Thanks,<br>
<p>
-Howard<br>
<p>
+-----------------------------------------------------------------------------+<br>
<i>|  Howard J. Poe, <a href="mailto:falcor@cvconline.com">falcor@cvconline.com</a>, hpoe@nyx.net, KC7DRT(Amateur Radio)   |</i><br>
<i>|            WWW homepage at <a href="http://www.cvconline.com/~falcor/">http://www.cvconline.com/~falcor/</a>                |</i><br>
+-----------------------------------------------------------------------------+<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0072.html">Howard J. Poe: "SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
