<!-- received="Sun Nov  9 04:48:41 1997 PST" -->
<!-- sent="Sun, 9 Nov 1997 11:59:41 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: SANE-HP Success with HP Scanjet 4P Model C1130A" -->
<!-- id="m0xUV5h-000BVJC@charon.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.95.971109001721.3622A-100000@Atreyu.cvconline.com" -->
<title>sane-devel: Re: SANE-HP Success with HP Scanjet 4P Model C1130A</title>
<h1>Re: SANE-HP Success with HP Scanjet 4P Model C1130A</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 9 Nov 1997 11:59:41 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0074.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0078.html">David Mosberger-Tang: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>Reply:</b> <a href="0078.html">David Mosberger-Tang: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I'm having trouble getting Xscanimage to work as a GIMP plugin, GIMP is</i><br>
<i>&gt; not seeing it.  It could be a problem with the fact that I'm using the</i><br>
<i>&gt; script in sane/frontend.  Is it possible to build a xscanimage binary?</i><br>
<i>&gt; Also, SANE did NOT detect GTK when I installed it using the RPMS from the</i><br>
<i>&gt; GIMP FTP site.</i><br>
This is the cause for the xscanimage binary not being built. I used to force it<br>
somewhere in the config.cache ...<br>
<p>
<i>&gt; Also, does SANE work on the Alpha under Linux?</i><br>
Yep.<br>
<p>
<i>&gt; P.S. Has anyone given though to integrating support with one of the JPEG</i><br>
<i>&gt; programs to save disk space while scanning?  </i><br>
Well - ppm has been chosen because <br>
<p>
a) it is very simple <br>
b) similar to the internal transmission format<br>
c) the netpbm tools allow for easy conversion.<br>
<p>
So how about scanimage | pbmtojpeg &gt;bla.jpg ?<br>
<p>
BTW: I see I am missing a pbmtojpeg utiliy ... is there one ? Or is it missing<br>
for a specific reason ?<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0074.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0078.html">David Mosberger-Tang: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>Reply:</b> <a href="0078.html">David Mosberger-Tang: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- reply="end" -->
</ul>
