<!-- received="Sun Nov  9 22:46:09 1997 PST" -->
<!-- sent="Mon, 10 Nov 1997 07:50:17 +-100" -->
<!-- name="Charite" -->
<!-- email="wiechen@rz.charite.hu-berlin.de" -->
<!-- subject="xscanimage plug-in" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage plug-in</title>
<h1>xscanimage plug-in</h1>
<b>Charite</b> (<a href="mailto:wiechen@rz.charite.hu-berlin.de"><i>wiechen@rz.charite.hu-berlin.de</i></a>)<br>
<i>Mon, 10 Nov 1997 07:50:17 +-100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Tristan Tarrant: "Re: xscanimage plug-in"</a>
<li> <b>Previous message:</b> <a href="0082.html">Joey Nelson: "Problem Scanning with UMAX S6E."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am using sane-0.67 with an hp 5p scanner. xscanimage works without problems in stand-alone mode. To use it with gimp-0.99.14 I have created a symlink in the gimp/plug-ins directory. When invoking gimp I get an xscanimage error message: unknown option --g and xscanimage terminates.<br>
How can I get it to work?<br>
<p>
Kai Wiechen<br>
Institute of Pathology, Charite, Berlin <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Tristan Tarrant: "Re: xscanimage plug-in"</a>
<li> <b>Previous message:</b> <a href="0082.html">Joey Nelson: "Problem Scanning with UMAX S6E."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
