<!-- received="Mon Nov 24 04:11:40 1997 PST" -->
<!-- sent="Mon, 24 Nov 1997 14:13:44 +0100" -->
<!-- name="Nicolas Lucas de Peslouan" -->
<!-- email="nlp@usa.net" -->
<!-- subject="Support for Umax 610S." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Support for Umax 610S.</title>
<h1>Support for Umax 610S.</h1>
<b>Nicolas Lucas de Peslouan</b> (<a href="mailto:nlp@usa.net"><i>nlp@usa.net</i></a>)<br>
<i>Mon, 24 Nov 1997 14:13:44 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#144">[ date ]</a><a href="index.html#144">[ thread ]</a><a href="subject.html#144">[ subject ]</a><a href="author.html#144">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Norm Peterson: "Any TWAIN support someday?"</a>
<li> <b>Previous message:</b> <a href="0143.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Astra 1200S problems!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
I'm trying to use SANE with UMAX 610S scanner. For as far as I<br>
understand, the SCSI card that came with the scanner [Another one with a<br>
DB25 connector...] are not supported by Linux, but I might have missed<br>
something. Anybody know ?<br>
<p>
And can I assume this scanner to be supported by SANE ?<br>
<p>
	Nicolas.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Norm Peterson: "Any TWAIN support someday?"</a>
<li> <b>Previous message:</b> <a href="0143.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Astra 1200S problems!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
