<!-- received="Thu Nov 27 10:20:03 1997 PST" -->
<!-- sent="Thu, 27 Nov 1997 19:16:52 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Life with a UMAX 610S Scanner on Linux" -->
<!-- id="199711271816.TAA00345@Babylon5.wolfsburg.de" -->
<!-- inreplyto="347D9E09.193883F1@usa.net" -->
<title>sane-devel: Re: Life with a UMAX 610S Scanner on Linux</title>
<h1>Re: Life with a UMAX 610S Scanner on Linux</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 27 Nov 1997 19:16:52 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Nicolas Lucas de Peslouan: "Re: Life with a UMAX 610S Scanner on Linux"</a>
<li> <b>Previous message:</b> <a href="0166.html">Enrico Oreglia: "Re: PARAGON 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; $ cat /dev/sg?</i><br>
<i>&gt; cat: /dev/sga: Permission denied</i><br>
<i>&gt; cat: /dev/sgb: Permission denied</i><br>
<i>&gt; cat: /dev/sgc: No such device or address</i><br>
<i>&gt; cat: /dev/sgd: No such device or address</i><br>
<i>&gt; cat: /dev/sge: No such device or address</i><br>
<i>&gt; cat: /dev/sgf: No such device or address</i><br>
<i>&gt; cat: /dev/sgg: No such device or address</i><br>
<i>&gt; cat: /dev/sgh: No such device or address</i><br>
<p>
As far as I see, your scsi-devices are:<br>
ID 3: SCSI-CDROM<br>
ID 5: UMAX-SCANNER<br>
<p>
and there is no SCSI-harddisc!<br>
<p>
If that is so, the scanner should be on device /dev/sgb<br>
<p>
So login as root and do<br>
chmod 666 /dev/sgb<br>
<p>
and I suggest to do:<br>
ln -s /dev/sgb /dev/scanner<br>
<p>
then try again and please tell if it works!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Nicolas Lucas de Peslouan: "Re: Life with a UMAX 610S Scanner on Linux"</a>
<li> <b>Previous message:</b> <a href="0166.html">Enrico Oreglia: "Re: PARAGON 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
