<!-- received="Fri Jul  2 09:21:45 1999 PDT" -->
<!-- sent="Fri, 2 Jul 1999 12:15:35 -0500" -->
<!-- name="Brian B." -->
<!-- email="ixnay@wws.net" -->
<!-- subject="Re: Artec AT6 yet again" -->
<!-- id="" -->
<!-- inreplyto="376ECA74.C5E178D8@active.ch" -->
<title>sane-devel: Re: Artec AT6 yet again</title>
<h1>Re: Artec AT6 yet again</h1>
<b>Brian B.</b> (<a href="mailto:ixnay@wws.net"><i>ixnay@wws.net</i></a>)<br>
<i>Fri, 2 Jul 1999 12:15:35 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#5">[ date ]</a><a href="index.html#5">[ thread ]</a><a href="subject.html#5">[ subject ]</a><a href="author.html#5">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">aanderson =: "mustek aha1520B problems"</a>
<li> <b>Previous message:</b> <a href="0004.html">Brian B.: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ok I got the sane-debug working here is errormesage<br>
<p>
[sanei_init_debug]: Setting debug level of artec to 13.<br>
[artec] attach_one<br>
[artec] Artec/Ultima backend version 0.3, last mod: 10/18/1998 22:45<br>
[artec] <a href="http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html</a><br>
[artec] attach: opening /dev/sg0<br>
[artec] attach: sending INQUIRY<br>
[artec] attach: wait for scanner to come ready<br>
[artec] wait_ready<br>
[artec] scanner does NOT support read capability data function<br>
[artec] attach: getting scanner capability data<br>
[artec] Scanner capability info.<br>
[artec]   Vendor      : ULTIMA<br>
[artec]   Model       : AT6<br>
[artec]   Type        : flatbed<br>
[artec]   Width       : 8.50 inches<br>
[artec]   Height      : 11.00 inches<br>
[artec]   X Range(mm) : 0-215<br>
[artec]   Y Range(mm) : 0-279<br>
[artec]   Horz. DPI   : 50-300<br>
[artec]   Vert. DPI   : 50-600<br>
[artec]   Contrast    : 0-255<br>
[artec]   REQ Sh. Cal.: 1<br>
[artec]   REQ Ln. Offs: 1<br>
[artec]   REQ Ch. Shft: 1<br>
[artec]   SetWind Size: 55<br>
[artec]   Calib Method: 0<br>
[artec] attach: found ULTIMA model AT6 version 1.01, x=0-14149222,<br>
y=0-18310758, xres=50-300dpi, yres=50-600dpi<br>
[artec] attach_one<br>
[artec] Artec/Ultima backend version 0.3, last mod: 10/18/1998 22:45<br>
[artec] <a href="http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html</a><br>
[artec] attach: opening /dev/scanner<br>
[artec] attach: sending INQUIRY<br>
[artec] attach: wait for scanner to come ready<br>
[artec] wait_ready<br>
[artec] scanner does NOT support read capability data function<br>
[artec] attach: getting scanner capability data<br>
[artec] Scanner capability info.<br>
[artec]   Vendor      : ULTIMA<br>
[artec]   Model       : AT6<br>
[artec]   Type        : flatbed<br>
[artec]   Width       : 8.50 inches<br>
[artec]   Height      : 11.00 inches<br>
[artec]   X Range(mm) : 0-215<br>
[artec]   Y Range(mm) : 0-279<br>
[artec]   Horz. DPI   : 50-300<br>
[artec]   Vert. DPI   : 50-600<br>
[artec] attach_one<br>
[artec] Artec/Ultima backend version 0.3, last mod: 10/18/1998 22:45<br>
[artec] <a href="http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html</a><br>
[artec] attach: opening /dev/scanner<br>
[artec] attach: sending INQUIRY<br>
[artec] attach: wait for scanner to come ready<br>
[artec] wait_ready<br>
[artec] scanner does NOT support read capability data function<br>
[artec] attach: getting scanner capability data<br>
[artec] Scanner capability info.<br>
[artec]   Vendor      : ULTIMA<br>
[artec]   Model       : AT6<br>
[artec]   Type        : flatbed<br>
[artec]   Width       : 8.50 inches<br>
[artec]   Height      : 11.00 inches<br>
[artec]   X Range(mm) : 0-215<br>
[artec]   Y Range(mm) : 0-279<br>
[artec]   Horz. DPI   : 50-300<br>
[artec]   Vert. DPI   : 50-600<br>
[artec]   Contrast    : 0-255<br>
[artec]   REQ Sh. Cal.: 1<br>
[artec]   REQ Ln. Offs: 1<br>
[artec]   REQ Ch. Shft: 1<br>
[artec]   SetWind Size: 55<br>
[artec]   Calib Method: 0<br>
[artec] attach: found ULTIMA model AT6 version 1.01, x=0-14149222,<br>
y=0-18310758, xres=50-300dpi, yres=50-600dpi<br>
[artec] sane_get_devices<br>
[artec] sane_open<br>
[artec] init_options<br>
[artec] sane_control_option 0, get value<br>
[artec] sane_control_option 0, get value<br>
[artec] sane_control_option 12, get value<br>
[artec] sane_control_option 13, get value<br>
[artec] sane_control_option 10, get value<br>
[artec] sane_control_option 11, get value<br>
[artec] sane_control_option 2, set value<br>
[artec] sane_control_option 11, set value<br>
[artec] sane_control_option 10, set value<br>
[artec] sane_control_option 10, get value<br>
[artec] sane_control_option 12, set value<br>
[artec] sane_control_option 11, get value<br>
[artec] sane_control_option 13, set value<br>
[artec] sane_start<br>
[artec] wait_ready<br>
[artec] 197 pixels per line, 197 bytes, 197 lines high, xdpi = 100, ydpi = 100,<br>
btr = 38809<br>
[artec] artec_calibrate_white_shading<br>
[artec] read_data<br>
<p>
hope that helps<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">aanderson =: "mustek aha1520B problems"</a>
<li> <b>Previous message:</b> <a href="0004.html">Brian B.: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
