<!-- received="Sat Jul  3 17:30:51 1999 PDT" -->
<!-- sent="Sun, 4 Jul 1999 01:26:43 +0100 (BST)" -->
<!-- name="Dave Gilbert" -->
<!-- email="gilbertd@treblig.org" -->
<!-- subject="Re: Corruption in scan on HP-5100C" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.10.9907032355100.7174-100000@tardis.home.dave" -->
<title>sane-devel: Re: Corruption in scan on HP-5100C</title>
<h1>Re: Corruption in scan on HP-5100C</h1>
<b>Dave Gilbert</b> (<a href="mailto:gilbertd@treblig.org"><i>gilbertd@treblig.org</i></a>)<br>
<i>Sun, 4 Jul 1999 01:26:43 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">henk van der knaap: "Re: Microtek Scanmaker 35t+"</a>
<li> <b>Previous message:</b> <a href="0022.html">aanderson =: "Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 3 Jul 1999, Dave Gilbert wrote:<br>
<p>
I got round my HP/parrallel port corruption problem by setting the 'slow'<br>
flag in the ppscsi driver - this really is SLOW - but it wroks; so it<br>
looks like the problem is below the level of sane.<br>
<p>
<p>
Dave<br>
<p>
 --------------------------------------------------------------------   <br>
/ Dr. David Alan Gilbert      | Running Linux on           |  Happy  \ <br>
\   gro.gilbert @ treblig.org |  Alpha, x86, ARM and SPARC |  In Hex /<br>
 ____________________________|___ <a href="http://www.treblig.demon.co.uk">http://www.treblig.demon.co.uk</a> __/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">henk van der knaap: "Re: Microtek Scanmaker 35t+"</a>
<li> <b>Previous message:</b> <a href="0022.html">aanderson =: "Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
