<!-- received="Thu Jul 15 08:48:13 1999 PDT" -->
<!-- sent="Thu, 15 Jul 1999 11:56:04 -0400 (EDT)" -->
<!-- name="Lee Bartolotti" -->
<!-- email="bartolot@muffin.ncsc.org" -->
<!-- subject="Re: My configure problem with 0.28" -->
<!-- id="9907151156.ZM20977@muffin.ncsc.org" -->
<!-- inreplyto="378DF739.2D0A8B42@wolfsburg.de" -->
<title>sane-devel: Re: My configure problem with 0.28</title>
<h1>Re: My configure problem with 0.28</h1>
<b>Lee Bartolotti</b> (<a href="mailto:bartolot@muffin.ncsc.org"><i>bartolot@muffin.ncsc.org</i></a>)<br>
<i>Thu, 15 Jul 1999 11:56:04 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<li> <b>Previous message:</b> <a href="0080.html">Meino Christian Cramer: "defunct reader process after scan an image..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I found the offending statement in the confugre file that<br>
caused 0.27 and 0.28 to fail whereas 0.26 worked.  It was<br>
on the LIBS step where<br>
<p>
LIBS="-lsane -L${x_libraries} $LIBS"<br>
<p>
Removing  -L${x_libraries}  allowed the configure to work.<br>
<p>
Many thanks for providing such a good product.<br>
<p>
Lee Bartolotti<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<li> <b>Previous message:</b> <a href="0080.html">Meino Christian Cramer: "defunct reader process after scan an image..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
