<!-- received="Thu Jul 15 20:45:27 1999 PDT" -->
<!-- sent="Fri, 16 Jul 1999 11:59:06 +0800" -->
<!-- name="Steve Gunnell" -->
<!-- email="steveg@ccis.adisys.com.au" -->
<!-- subject="Re: Xsane questions and wish list" -->
<!-- id="" -->
<!-- inreplyto="Xsane questions and wish list" -->
<title>sane-devel: Re: Xsane questions and wish list</title>
<h1>Re: Xsane questions and wish list</h1>
<b>Steve Gunnell</b> (<a href="mailto:steveg@ccis.adisys.com.au"><i>steveg@ccis.adisys.com.au</i></a>)<br>
<i>Fri, 16 Jul 1999 11:59:06 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Michael Cunningham: "Microtek 35t+ driver res?"</a>
<li> <b>Previous message:</b> <a href="0086.html">David Rose: "Minolta Dimage scan dual?"</a>
<li> <b>Maybe in reply to:</b> <a href="0077.html">Steve Gunnell: "Xsane questions and wish list"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; xsane uses the gamma bit depth the backend uses,</i><br>
<i>&gt; but the scanner gamma table has to be activated (normally</i><br>
<i>&gt; by custom gamma table in standard options, but backend dependent)!</i><br>
<p>
I'm just using the default settings. I assumed the scanner was beingchanged<br>
because when I closed xsane and went back to xscanimage<br>
my attempts to correct the white level in xsane were still being applied<br>
to the xscanimage previews. I had to turn the scanner off to clear them.<br>
<p>
<i>&gt; Check it in the info window (gamma correction by scanner!)</i><br>
<p>
Will do.<br>
<p>
<i>&gt; Ask the backend author about the supported bit depth!</i><br>
<p>
The Photosmart FAQ indicates that at my firmware rev the scannerwill only<br>
return 8 bit values to the host but the A/D converter handles<br>
at least 10 bit values. Lets hear it for crippleware. Maybe Henry knows.<br>
<p>
<i>&gt; I will not add such an option in the next time, don`t know if ever!</i><br>
<i>&gt; For fine tuning use the sliders in the histogram window!</i><br>
<p>
Ummm, okay, see below. Fine tuning is not what I want to do.<br>
<p>
<i>&gt; For what do you need the values? In the histogram window</i><br>
<p>
<i>&gt; you have the silders and the color density is given in the</i><br>
<i>&gt; histogram window.</i><br>
<p>
I'm scanning negatives. So I need to remove the colour mask from the<br>
images.To do that I need to set the white point to the value of the colour<br>
mask. So what<br>
I do is select a scanned chunk of colour mask and average it using the gimp<br>
generic convolution tool to give me the average RGB value for the colour<br>
mask.<br>
If I had a editable value box I could enter these values as the white point<br>
just like<br>
I do with the gimp histogram tool rather than having to mess around with<br>
little<br>
sliders that I can't control accurately. If I could set the colour mask<br>
scaling and<br>
the negative colour inversion once per film in xsane then I can save two<br>
gimp<br>
operations per frame which would be a considerable saving over the 45<br>
minutes per strip of 4 negatives that the process takes now.<br>
<p>
<i>&gt; If you want to use values take the brightness, contrast and gamma</i><br>
<i>&gt; values!</i><br>
<p>
These are no use to me because they are arbitrary values that do not<br>
simplyrelate to the RGB values that I need to change.<br>
<p>
If you have a better method for processing negatives that takes advantage of<br>
<p>
xsane's features then I would love to know about it.<br>
<p>
Thanks,<br>
<p>
Steve Gunnell<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Michael Cunningham: "Microtek 35t+ driver res?"</a>
<li> <b>Previous message:</b> <a href="0086.html">David Rose: "Minolta Dimage scan dual?"</a>
<li> <b>Maybe in reply to:</b> <a href="0077.html">Steve Gunnell: "Xsane questions and wish list"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<!-- reply="end" -->
</ul>
