<!-- received="Mon Jul 19 07:54:18 1999 PDT" -->
<!-- sent="Mon, 19 Jul 1999 17:04:07 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Possible xsane bug?" -->
<!-- id="" -->
<!-- inreplyto="Possible xsane bug?" -->
<title>sane-devel: Re: Possible xsane bug?</title>
<h1>Re: Possible xsane bug?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 19 Jul 1999 17:04:07 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Yuri Dario: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0115.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Maybe in reply to:</b> <a href="0108.html">Adam Williams: "Possible xsane bug?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Adam Williams: "Re: Possible xsane bug?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Adam Williams wrote:<br>
<p>
<i>&gt; When I use the copy function of xsane 0.29 it only produces the "bottom" 3/4 of</i><br>
<i>&gt; the page.  In scan mode it seems to work correctly.  My sane is 1.01 and my</i><br>
<i>&gt; scanner is a HP 4c.  Is this a bug or am I missing something obvious (I have</i><br>
<i>&gt; tried endless setting diddles).</i><br>
<i>&gt;</i><br>
<p>
Hi Adam,<br>
<p>
I tested it with my umax scanner and everything works fine.<br>
<p>
Is your zoomfactor to large?<br>
<p>
If you select scan mode: do you select the resolution with a slider<br>
<p>
or from a list?<br>
<p>
Bye<br>
<p>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Yuri Dario: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0115.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Maybe in reply to:</b> <a href="0108.html">Adam Williams: "Possible xsane bug?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Adam Williams: "Re: Possible xsane bug?"</a>
<!-- reply="end" -->
</ul>
