<!-- received="Tue Jul 20 08:57:20 1999 PDT" -->
<!-- sent="Tue, 20 Jul 1999 09:07:23 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: Release early, release often" -->
<!-- id="" -->
<!-- inreplyto="Release early, release often" -->
<title>sane-devel: Re: Release early, release often</title>
<h1>Re: Release early, release often</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Tue, 20 Jul 1999 09:07:23 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Previous message:</b> <a href="0125.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin Charter wrote:<br>
<i>&gt; I'm not convinced that it's a good idea to give all maintainers the</i><br>
<i>&gt; ability to create whole releases though. Perhaps having a couple of</i><br>
<i>&gt; people with that authority would be sufficient to avoid the bottleneck</i><br>
<i>&gt; problem? Is there a way to give maintainers restricted write access,</i><br>
<i>&gt; say to just the part of the package they are responsible for?</i><br>
<p>
Just have backend maintainers submit patches based on the latest<br>
official release. All David would have to do is have some place to dump<br>
them.<br>
<p>
Brian Macy<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Previous message:</b> <a href="0125.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
