<!-- received="Thu Jul 22 05:06:05 1999 PDT" -->
<!-- sent="Thu, 22 Jul 1999 03:00:15 -0700" -->
<!-- name="Tony Peden" -->
<!-- email="apeden@earthlink.net" -->
<!-- subject="Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)" -->
<!-- id="" -->
<!-- inreplyto="Microtek E3 won't scan, but II-G okay (SANE-OS/2)" -->
<title>sane-devel: Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)</title>
<h1>Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)</h1>
<b>Tony Peden</b> (<a href="mailto:apeden@earthlink.net"><i>apeden@earthlink.net</i></a>)<br>
<i>Thu, 22 Jul 1999 03:00:15 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0138.html">Tony Peden: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">Irv Thomae: "Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Irv Thomae wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt; &gt;  The E3 makes a series of short, slow-speed moves, then a brief,</i><br>
<i>&gt; &gt;high-pitch whine (fast return to home postion, following precal?)</i><br>
<i>&gt; &gt;Immediately after that short move, SCANIMAGE fails with a "Device I/O</i><br>
<i>&gt; &gt;error".</i><br>
<i>&gt;</i><br>
<p>
I am having trouble similar to this with my E6, rh6, Advansys 3925 SCSI card,<br>
and sane-1.0.1. With:<br>
SANE_DEBUG_MICROTEK=128<br>
SANE_DEBUG_DLL=128<br>
SANE_DEBUG_SANEI_SCSI=128<br>
I get:<br>
<p>
(microtek lines only)<br>
[microtek] do_precalibrate done.<br>
[microtek] .scanning_frame...<br>
[microtek] .scanning_frame:  in- 0,0  5099,7799<br>
[microtek] .scanning_frame: out- 0,0  5099,7799<br>
[microtek] .accessory...<br>
[microtek] .download_gamma...<br>
[microtek] .mode_select 22...<br>
[microtek] .mode_select:  pap_len: 7799<br>
[microtek] .mode_select_1 22...<br>
[microtek] .save_mode_sense 22...<br>
[microtek] .wait_ready 22...<br>
<p>
(all lines)<br>
[microtek] .start_scan...<br>
[sanei_scsi] scsi_req_enter: entered 0x80bbd98<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80bbd98<br>
[sanei_scsi] sanei_scsi.issue: 0x80bbd98<br>
[sanei_scsi] sanei_scsi_req_wait: read 36 bytes<br>
[sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Input/output error<br>
[microtek] .get_scan_status 22...<br>
[sanei_scsi] scsi_req_enter: entered 0x80bbd98<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80bbd98<br>
[sanei_scsi] sanei_scsi.issue: 0x80bbd98<br>
[sanei_scsi] sanei_scsi_req_wait: read 42 bytes<br>
[sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Input/output error<br>
[microtek] get_scan_status(6): 139, 16, 460548  -&gt; #0<br>
[microtek] &gt; 8b 10  0  4  7  7<br>
[microtek] get_scan_status:  busy, retry in 5...<br>
<p>
(if more of this output would be helpful I will post it)<br>
<p>
mtekscan 0.2 works fine, sane 0.74 worked for lineart scans only, and sane 1.0.1<br>
<p>
will work for lineart scans on the occasions when xscanimage does not<br>
present the pnm devices in the initial dialog (this has happened to me a couple<br>
of times but I haven't figured out how to repeat it).  Invoking xscanimage with<br>
the argument microtek:/dev/sga still produces the lockups, however.<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Tony Peden
<a href="mailto:apeden@earthlink.net">apeden@earthlink.net</a>
"Core dumping fscks tend to make me nervous" -- Linus Torvalds
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0138.html">Tony Peden: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">Irv Thomae: "Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- reply="end" -->
</ul>
