<!-- received="Thu Jul 22 06:10:35 1999 PDT" -->
<!-- sent="Thu, 22 Jul 99 09:00:41 -0500" -->
<!-- name="Irv Thomae" -->
<!-- email="irv.thomae@succinct.com" -->
<!-- subject="Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)" -->
<!-- id="199907221322.JAA12154@benz.tpk.net" -->
<!-- inreplyto="Microtek E3 won't scan, but II-G okay (SANE-OS/2)" -->
<title>sane-devel: Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)</title>
<h1>Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)</h1>
<b>Irv Thomae</b> (<a href="mailto:irv.thomae@succinct.com"><i>irv.thomae@succinct.com</i></a>)<br>
<i>Thu, 22 Jul 99 09:00:41 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Previous message:</b> <a href="0139.html">Tony Peden: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">Irv Thomae: "Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0143.html">Matto Marjanovic: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  In a way, I find this encouraging, since you're using the 'mainstream' <br>
1.0.1, not the OS/2 port.  Could there still be a bug in the Microtek <br>
backend?<br>
  (More comments inserted below)<br>
<p>
On Thu, 22 Jul 1999 03:00:15 -0700, Tony Peden wrote:<br>
<p>
<i>&gt;Irv Thomae wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt;</i><br>
<i>&gt;&gt; &gt;  The E3 makes a series of short, slow-speed moves, ....</i><br>
<i>&gt;&gt; &gt;Immediately after that short move, SCANIMAGE fails with a "Device I/O</i><br>
<i>&gt;&gt; &gt;error".</i><br>
<i>&gt;&gt;</i><br>
<p>
<i>&gt;I am having trouble similar to this with my E6, rh6, Advansys 3925 SCSI ..</i><br>
<i>&gt;and sane-1.0.1. With:</i><br>
<i>&gt;SANE_DEBUG_MICROTEK=128</i><br>
<i>&gt;SANE_DEBUG_DLL=128</i><br>
<i>&gt;SANE_DEBUG_SANEI_SCSI=128</i><br>
<i>&gt;I get:</i><br>
<i>&gt;</i><br>
<i>&gt;(microtek lines only)</i><br>
<i>&gt;[microtek] do_precalibrate done.</i><br>
<p>
  Can you correlate that with what the scanner's doing at that point, for <br>
example, does this happen at the same time you hear a "brief, high-pitched <br>
whine"?<br>
<p>
....[snip]<br>
<p>
<i>&gt;(all lines)</i><br>
<i>&gt;[microtek] .start_scan...</i><br>
<i>&gt;[sanei_scsi] scsi_req_enter: entered 0x80bbd98</i><br>
<i>&gt;[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80bbd98</i><br>
<i>&gt;[sanei_scsi] sanei_scsi.issue: 0x80bbd98</i><br>
<i>&gt;[sanei_scsi] sanei_scsi_req_wait: read 36 bytes</i><br>
<i>&gt;[sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Input/output </i><br>
error<br>
<i>&gt;[microtek] .get_scan_status 22...</i><br>
<i>&gt;[sanei_scsi] scsi_req_enter: entered 0x80bbd98</i><br>
<i>&gt;[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80bbd98</i><br>
<i>&gt;[sanei_scsi] sanei_scsi.issue: 0x80bbd98</i><br>
<i>&gt;[sanei_scsi] sanei_scsi_req_wait: read 42 bytes</i><br>
<i>&gt;[sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Input/output </i><br>
error<br>
<i>&gt;[microtek] get_scan_status(6): 139, 16, 460548  -&gt; #0</i><br>
<i>&gt;[microtek] &gt; 8b 10  0  4  7  7</i><br>
<i>&gt;[microtek] get_scan_status:  busy, retry in 5...</i><br>
<i>&gt;</i><br>
<i>&gt;(if more of this output would be helpful I will post it)</i><br>
<i>&gt;</i><br>
<p>
  How does it end?  On the E3, it seems to be "command 0x1b" (start/stop <br>
scan, in its start form) that fails.<br>
<p>
<i>&gt;mtekscan 0.2 works fine, sane 0.74 worked for lineart scans only, and sane </i><br>
<i>&gt;1.0.1 will work for lineart scans on the occasions when ....</i><br>
<i>&gt;</i><br>
<p>
  What's the most recent file-date in mtekscan 0.2?  Can you point me to an <br>
ftp site for it?  (AFAIK the most recent version of mtekscan that's been <br>
ported to OS/2 is based on code that dates from Sept 1997 - and doesn't work <br>
with *either* my E3 or the II-G.<br>
<p>
   Thanks,<br>
   Irv<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Previous message:</b> <a href="0139.html">Tony Peden: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">Irv Thomae: "Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0143.html">Matto Marjanovic: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<!-- reply="end" -->
</ul>
