<!-- received="Wed Jul 28 21:04:02 1999 PDT" -->
<!-- sent="Wed, 28 Jul 1999 23:21:03 -0500" -->
<!-- name="Brandon Ibach" -->
<!-- email="bibach@infomansol.com" -->
<!-- subject="Vivicam 2000 / Mustek VDC-100" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Vivicam 2000 / Mustek VDC-100</title>
<h1>Vivicam 2000 / Mustek VDC-100</h1>
<b>Brandon Ibach</b> (<a href="mailto:bibach@infomansol.com"><i>bibach@infomansol.com</i></a>)<br>
<i>Wed, 28 Jul 1999 23:21:03 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#209">[ date ]</a><a href="index.html#209">[ thread ]</a><a href="subject.html#209">[ subject ]</a><a href="author.html#209">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0208.html">Ewald R. de Wit: "SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings...<br>
   I recently purchased (used) a Vivicam 2000, and have been using the<br>
Mustek VDC-100 (which appears to be essentially the same device)<br>
driver under NT 4.  Ultimately, I'd like to access the camera from my<br>
Linux system.<br>
   I did a little trace of the serial traffic while doing some basic<br>
operations using the TWAIN driver, and the protocol looks pretty<br>
simple.  Does anyone have, or know where I can find, some information<br>
on the protocol for this device, or some general information on<br>
reverse engineering this type of protocol?<br>
   On a related note, what is the general feeling on supporting serial<br>
devices in SANE?  The FAQ mentions SCSI, Parallel and USB, but doesn't<br>
say anything about serial.<br>
   TIA...<br>
<p>
-Brandon :)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0208.html">Ewald R. de Wit: "SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
