<!-- received="Sat Jul 31 08:54:30 1999 PDT" -->
<!-- sent="31 Jul 1999 10:53:39 -0500" -->
<!-- name="James H. Cloos Jr." -->
<!-- email="cloos@jhcloos.com" -->
<!-- subject="Re: Papersize "legal"" -->
<!-- id="" -->
<!-- inreplyto="Sat, 31 Jul 1999 13:56:38 +0200"" -->
<title>sane-devel: Re: Papersize "legal"</title>
<h1>Re: Papersize "legal"</h1>
<b>James H. Cloos Jr.</b> (<a href="mailto:cloos@jhcloos.com"><i>cloos@jhcloos.com</i></a>)<br>
<i>31 Jul 1999 10:53:39 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#228">[ date ]</a><a href="index.html#228">[ thread ]</a><a href="subject.html#228">[ subject ]</a><a href="author.html#228">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0229.html">Oliver Rauch: "Re: Papersize "legal""</a>
<li> <b>Previous message:</b> <a href="0227.html">afadu209@oct.zaq.ne.jp: "Can I use Tekram DC-390 SCSI card on Linux box?"</a>
<li> <b>In reply to:</b> <a href="0226.html">Oliver Rauch: "Papersize "legal""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0229.html">Oliver Rauch: "Re: Papersize "legal""</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
Hash: SHA1<br>
<p>
letter is defined as 8.5in x 11in = 215.9mm x 279.4mm<br>
legal  is defined as 8.5in x 14in = 215.9mm x 355.6mm<br>
<p>
In practise, though, most paper is probably not accurate to 0.1mm.<br>
<p>
- -JimC<br>
- -- <br>
James H. Cloos, Jr.  &lt;<a href="http://www.jhcloos.com/cloos/public_key">http://www.jhcloos.com/cloos/public_key</a>&gt; 1024D/ED7DAEA6 <br>
&lt;<a href="mailto:cloos@jhcloos.com">cloos@jhcloos.com</a>&gt;     E9E9 F828 61A4 6EA9 0F2B  63E7 997A 9F17 ED7D AEA6<br>
        Save Trees:  Get E-Gold! &lt;<a href="http://www.jhcloos.com/go?e-gold">http://www.jhcloos.com/go?e-gold</a>&gt;<br>
-----BEGIN PGP SIGNATURE-----<br>
Version: GnuPG v0.9.8b-snap1999-07-15 (GNU/Linux)<br>
Comment: For info see <a href="http://www.gnupg.org">http://www.gnupg.org</a><br>
<p>
iD8DBQE3oxwBmXqfF+19rqYRAgn+AJ9S9p0A9JWCet+EyXOo7ihdIoNVXgCfUMfT<br>
6SWJf9oDO118uOmLXU9um88=<br>
=vAe8<br>
-----END PGP SIGNATURE-----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0229.html">Oliver Rauch: "Re: Papersize "legal""</a>
<li> <b>Previous message:</b> <a href="0227.html">afadu209@oct.zaq.ne.jp: "Can I use Tekram DC-390 SCSI card on Linux box?"</a>
<li> <b>In reply to:</b> <a href="0226.html">Oliver Rauch: "Papersize "legal""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0229.html">Oliver Rauch: "Re: Papersize "legal""</a>
<!-- reply="end" -->
</ul>
