<!-- received="Mon Sep 14 07:45:43 1998 PDT" -->
<!-- sent="Fri, 04 Sep 1998 11:06:44 -0700" -->
<!-- name="Carlos Storch" -->
<!-- email="carlos@macconnect.com" -->
<!-- subject="Nikon Scantouch" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Nikon Scantouch</title>
<h1>Nikon Scantouch</h1>
<b>Carlos Storch</b> (<a href="mailto:carlos@macconnect.com"><i>carlos@macconnect.com</i></a>)<br>
<i>Fri, 04 Sep 1998 11:06:44 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">John M. Mills: "Question on HP 4p Scanjet Backend"</a>
<li> <b>Previous message:</b> <a href="0079.html">Michael Kayz-Hyman: "Re: Primax Colorado Direct (parallel) support - bad news ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a Nikon scantouch which is running on macos 8.0. I have set up<br>
MkLinux with a Umax 900s/200. I am wondering if any of the drivers you<br>
have might have a chance of working. I have The Gimp succesfully running<br>
and am very encouraged by what I see.<br>
Thanks,<br>
Carlos Storch<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">John M. Mills: "Question on HP 4p Scanjet Backend"</a>
<li> <b>Previous message:</b> <a href="0079.html">Michael Kayz-Hyman: "Re: Primax Colorado Direct (parallel) support - bad news ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
