<!-- received="Mon Sep 14 07:45:39 1998 PDT" -->
<!-- sent="Thu, 3 Sep 1998 10:55:58 -0400 (EDT)" -->
<!-- name="John M. Mills" -->
<!-- email="jmills@jmills.gtri.gatech.edu" -->
<!-- subject="Question on HP 4p Scanjet Backend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Question on HP 4p Scanjet Backend</title>
<h1>Question on HP 4p Scanjet Backend</h1>
<b>John M. Mills</b> (<a href="mailto:jmills@jmills.gtri.gatech.edu"><i>jmills@jmills.gtri.gatech.edu</i></a>)<br>
<i>Thu, 3 Sep 1998 10:55:58 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">L. Victor Marks: "umax parallel port?"</a>
<li> <b>Next message:</b> <a href="0082.html">Marcel Oliver: "Re: ADF for microtek2 backend"</a>
<li> <b>Next message:</b> <a href="0082.html">Tom Martone: "Batch Scanning/Document Imaging Applications"</a>
<li> <b>Previous message:</b> <a href="0080.html">Carlos Storch: "Nikon Scantouch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
First, thanks to all those who have provided SANE.  As a relative newcomer<br>
to scanning use, I have been very happy to use it.  My setup is GNU/Linux<br>
[;-) 2.0.35, still libc.so.5, low-end AHA1502e SCSI card, HP 4p Scanjet,<br>
SANE 0.73 (about to go to 0.74), xscanimage, GIMP 0.99-31 (about to go to<br>
1.0.0), and Canon BJC620 run through Ghostscript' 'uniprint' (and<br>
reworking the printer's color map -- nearly there, I think).  I am quite<br>
happy with the usability and integration of these components, but not with<br>
the results of scanning -- results are dark and short-scaled, it seems.<br>
<p>
I notice in the HP backend notes a couple of unimplemented or non-working<br>
features: downloadable tone maps and lineart in particular.  Are these not<br>
implemented because the information is not available to create them,<br>
because the developers have moved on to other problems, or for some other<br>
reason?  If the information were available, I would like to hack at this a<br>
bit: perhaps I could make some headway.  My objective is that, if I can<br>
download some color mapping information, the image will require less<br>
color, brightness, and contrast manipulation when it has been scanned into<br>
the 3@8-bit RGB model, and thus leave more range for fine adjustment in<br>
GIMP without the shadow and highlight blocking I now see.  In short, I<br>
think that post-scan adjustments throw away dynamic range I cannot afford<br>
to lose.<br>
<p>
Would anyone who knows how to look into these limitations please suggest<br>
where I should start?  (I also have the option of working from Win95 and<br>
the HP drivers, should there be a way to capture traffic in that<br>
environment -- by writing a shim to the SCSI interface, for example.) I<br>
realize I am quite ignorant and don't know what I'm biting off, but "...<br>
even a blind pig finds an occasional acorn," as the local expression goes.<br>
<p>
Thanks - mills<br>
<p>
  John M. Mills, Senior Research Engineer -- <a href="mailto:john.mills@gtri.gatech.edu">john.mills@gtri.gatech.edu</a><br>
  Georgia Tech Research Institute, Georgia Tech, Atlanta, GA 30332-0834<br>
        Phone contacts: 404.894.0151 (voice), 404.894.6285 (FAX)<br>
         "The cardinal virtues of a programmer are Laziness,<br>
            Impatience, and Hubris." -- attr. Larry Wall <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">L. Victor Marks: "umax parallel port?"</a>
<li> <b>Next message:</b> <a href="0082.html">Marcel Oliver: "Re: ADF for microtek2 backend"</a>
<li> <b>Next message:</b> <a href="0082.html">Tom Martone: "Batch Scanning/Document Imaging Applications"</a>
<li> <b>Previous message:</b> <a href="0080.html">Carlos Storch: "Nikon Scantouch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
