<!-- received="Mon Sep 14 12:21:14 1998 PDT" -->
<!-- sent="Mon, 14 Sep 1998 20:17:07 +0100" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: UMAX 610P and (in)SANE" -->
<!-- id="m0zIe7X-0002YPC@hex" -->
<!-- inreplyto="UMAX 610P and (in)SANE" -->
<title>sane-devel: Re: UMAX 610P and (in)SANE</title>
<h1>Re: UMAX 610P and (in)SANE</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 14 Sep 1998 20:17:07 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Oliver Rauch: "Re: UMAX 610P and (in)SANE"</a>
<li> <b>Previous message:</b> <a href="0099.html">Kevin Charter: "Re: Little problem with Agfa SnapScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0077.html">Roy-Anders Larsen: "UMAX 610P and (in)SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">Oliver Rauch: "Re: UMAX 610P and (in)SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:royalarsen@yahoo.com">royalarsen@yahoo.com</a> said:<br>
<i>&gt; Of course on the 'official' SANE web pages, it is stated that there </i><br>
<i>&gt; is no support for UMAX parallel port scanners.  Then I find some </i><br>
<i>&gt; messages that some people are trying to make a backend themselves. </i><br>
<p>
That would have been me.<br>
<p>
<p>
<i>&gt; Then I find some messages (www.dejanews.com) that some people state </i><br>
<i>&gt; that the UMAX parallel port scanners are supported by SANE (???). </i><br>
<p>
I very much doubt that they are correct.<br>
<p>
<p>
<i>&gt; Of course, I should probably believe the official pages, and not the </i><br>
<i>&gt; messages individuals send, but since I have an Astra 610P and I need </i><br>
<i>&gt; to use it with linux, I choose to be optimistic. </i><br>
<p>
You choose wrong.<br>
<p>
<p>
UMAX have repeatedly refused to give me the necessary programming<br>
information for the parallel port protocol The reason given to me was<br>
that the only documentation on the parallel port protocol is combined<br>
with the documentation on the design of the ASIC. Umax are under the<br>
delusional belief that their ASIC is something special and the design<br>
needs to be protected. Why anyone would want to copy a design that only<br>
uses only SPP and EPP modes (that's right no PS/2 or ECP) is beyond me.<br>
There was also some suggestion that the ASIC design may have been licesened<br>
to other scanner manufacturers (more fool them).<br>
<p>
The scanner can be used in a limited extent under Wine, and should not be<br>
too hard to reverse engineer. There are only seven routines in the driver<br>
that do any sort of communication with the scanner and I had little trouble<br>
working out the SPP ones (there are 14 in reality 7 SPP and 7 corresponding<br>
EPP ones). It is just a case of understanding these and putting them<br>
back together.<br>
<p>
I was this time last year working on reverse engineering this protocol,<br>
however this work has been indefinately suspended since the begining of<br>
February this year. The reason being that whilst working on reverse<br>
engineering the protocol I had a flash of inspiration that lead me to<br>
workout a much longer term reverse engineering project I have had, namely<br>
being able to set the battery saving options on Toshiba laptops (ie. a<br>
Linux port of MaxTime).<br>
<p>
This has progressed to the point now where there are three laptops in<br>
transit from Toshiba Germany to me as I type this, for testing purposes.<br>
When I have finished with these I can return them and get some more etc.<br>
This is likely to keep me busy indefinately, and because of this I am<br>
likely to flog my scanner on to a friend who uses Windows and get a<br>
different scanner that does work under Linux (anyone tried getting the<br>
docs for the HP 4100 USB scanner?).<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Oliver Rauch: "Re: UMAX 610P and (in)SANE"</a>
<li> <b>Previous message:</b> <a href="0099.html">Kevin Charter: "Re: Little problem with Agfa SnapScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0077.html">Roy-Anders Larsen: "UMAX 610P and (in)SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">Oliver Rauch: "Re: UMAX 610P and (in)SANE"</a>
<!-- reply="end" -->
</ul>
