<!-- received="Fri Sep 18 07:27:37 1998 PDT" -->
<!-- sent="Fri, 18 Sep 1998 16:07:38 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek V300, anyone?" -->
<!-- id="" -->
<!-- inreplyto="3601E71D.6D12E792@mindspring.com" -->
<title>sane-devel: Re: Microtek V300, anyone?</title>
<h1>Re: Microtek V300, anyone?</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 18 Sep 1998 16:07:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Luca Montecchiani: "Primax Colorado Direct (parallel) support (The End)"</a>
<li> <b>Previous message:</b> <a href="0126.html">mike: "Re: Microtek V300, anyone?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Fri, Sep 18, 1998 at 12:52:45AM -0400, mike wrote:<br>
<i>&gt; Hello list!</i><br>
<i>&gt; </i><br>
<i>&gt; I have the following, and I wonder if anyone has had success?</i><br>
<i>&gt; </i><br>
<i>&gt; AMD K6/128mb</i><br>
<i>&gt; BusLogic BT-948</i><br>
<i>&gt; Microtek V300</i><br>
<i>&gt; </i><br>
<i>&gt; Linux 2.0.35-2 (RH5.1)</i><br>
<i>&gt; gimp-1.0.0-6</i><br>
<i>&gt; sane-0.74-3</i><br>
<i>&gt; </i><br>
<i>&gt; The scanner is connected to the BusLogic, and terminated. I</i><br>
<i>&gt; also have the controller set to asynch, disconnect off. Unfortunately,</i><br>
<i>&gt; the only 'devices' recognized sane are the pnms.  If I cat</i><br>
<i>&gt; /proc/scsi/scsi,</i><br>
<i>&gt; I see the Mustek listed</i><br>
<i>&gt; </i><br>
<i>&gt; I have not seen the V300 listed as a supported device, but what the</i><br>
<i>&gt; heck, it only cost me $29.  Anyone have success with this scanner?</i><br>
<i>&gt; I have all of the non-Microtek backends commented out of dll.conf.</i><br>
<p>
The V300 looks exactly like a Scanmaker 330, so perhaps they are the same.<br>
Support for the ScanMaker 330 is not included in sane-0.74.<br>
<p>
Please download one of the files in <br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2">ftp://ftp.muc.de/people/bernds/mtek2</a><br>
<p>
with a version 0.4 or higher. Maybe, that the V300 works with them. If<br>
not, please send me a trace with SANE_DEBUG_MICROTEK2 set to 30.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Luca Montecchiani: "Primax Colorado Direct (parallel) support (The End)"</a>
<li> <b>Previous message:</b> <a href="0126.html">mike: "Re: Microtek V300, anyone?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
