<!-- received="Thu Sep 24 11:26:52 1998 PDT" -->
<!-- sent="Thu, 24 Sep 1998 19:27:24 +0100" -->
<!-- name="Lee Mitchell" -->
<!-- email="lee@spamtastic.demon.co.uk" -->
<!-- subject="Re: xscanimage" -->
<!-- id="" -->
<!-- inreplyto="xscanimage" -->
<title>sane-devel: Re: xscanimage</title>
<h1>Re: xscanimage</h1>
<b>Lee Mitchell</b> (<a href="mailto:lee@spamtastic.demon.co.uk"><i>lee@spamtastic.demon.co.uk</i></a>)<br>
<i>Thu, 24 Sep 1998 19:27:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Rick Knebel: "permissions"</a>
<li> <b>Previous message:</b> <a href="0171.html">Frank Haase: "Re: Film scanner under sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Lee Mitchell: "xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks to all who helped with this one, especially Durk Talsma<br>
who's solution worked for me first time !<br>
<p>
Thanks all...<br>
<p>
Lee Mitchell<br>
<a href="mailto:lee@spamtastic.demon.co.uk">lee@spamtastic.demon.co.uk</a><br>
www.spamtastic.demon.co.uk<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Rick Knebel: "permissions"</a>
<li> <b>Previous message:</b> <a href="0171.html">Frank Haase: "Re: Film scanner under sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Lee Mitchell: "xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
