<!-- received="Thu Sep 24 14:40:47 1998 PDT" -->
<!-- sent="Thu, 24 Sep 1998 17:39:55 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: permissions" -->
<!-- id="m0zMJ7D-000q0oC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="permissions" -->
<title>sane-devel: Re: permissions</title>
<h1>Re: permissions</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Thu, 24 Sep 1998 17:39:55 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<li> <b>Previous message:</b> <a href="0175.html">Oliver Rauch: "Re: permissions"</a>
<li> <b>Maybe in reply to:</b> <a href="0173.html">Rick Knebel: "permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;I have done everthing in the man pages associated with making the</i><br>
<i> &gt;scanner group and adding user to it and changing permissions.</i><br>
<p>
Could you maybe post the output of "ls -l /dev/sg*", and also "id" for<br>
 yourself (or whichever user you want to be able to scan).<br>
<p>
If you add yourself to a group, you generally won't see that group in<br>
 your supplementary group id list until you login again.<br>
<p>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<li> <b>Previous message:</b> <a href="0175.html">Oliver Rauch: "Re: permissions"</a>
<li> <b>Maybe in reply to:</b> <a href="0173.html">Rick Knebel: "permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
