<!-- received="Sat Sep 26 13:24:24 1998 PDT" -->
<!-- sent="Sat, 26 Sep 1998 22:23:09 +0200" -->
<!-- name="Thomas Werner" -->
<!-- email="werner@Wolfsburg.DE" -->
<!-- subject="mustek scanmagic and sane" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: mustek scanmagic and sane</title>
<h1>mustek scanmagic and sane</h1>
<b>Thomas Werner</b> (<a href="mailto:werner@Wolfsburg.DE"><i>werner@Wolfsburg.DE</i></a>)<br>
<i>Sat, 26 Sep 1998 22:23:09 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#182">[ date ]</a><a href="index.html#182">[ thread ]</a><a href="subject.html#182">[ subject ]</a><a href="author.html#182">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Michael Katz-Hyman: "AS6e under WINE: It works!"</a>
<li> <b>Previous message:</b> <a href="0181.html">David B. Rees: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
yesterday I got a mustek scanmagic 4830S. It is detected by system<br>
during bootup (but without vendor), if I start find-scanner, I get the<br>
devices. Everything semes okay, but I can't access the scanner.<br>
scanimage -L shows my only the pnm-devices, xscanimage too.<br>
<p>
Any ideas?<br>
<p>
Thanks and bye<br>
<p>
			.... Thomas<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Michael Katz-Hyman: "AS6e under WINE: It works!"</a>
<li> <b>Previous message:</b> <a href="0181.html">David B. Rees: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
