<!-- received="Sun Sep 27 03:46:55 1998 PDT" -->
<!-- sent="Sun, 27 Sep 1998 19:44:16 +0900" -->
<!-- name="Shimony" -->
<!-- email="yuval@gol.com" -->
<!-- subject="Epson GT-2000" -->
<!-- id="3.0.3.32.19980927194416.006c3bf0@popmail.gol.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT-2000</title>
<h1>Epson GT-2000</h1>
<b>Shimony</b> (<a href="mailto:yuval@gol.com"><i>yuval@gol.com</i></a>)<br>
<i>Sun, 27 Sep 1998 19:44:16 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Bernd Schroeder: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0183.html">Michael Katz-Hyman: "AS6e under WINE: It works!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I just bought an Epson GT-2000 Scanner in Japan. <br>
(Not a flatbed, it looks like a small inkjet printer)<br>
During boot time, Linux (2.0.x) recognizes it.<br>
When I check for the scanner name I get it at /dev/sga.<br>
However when I run xscanimage, the device is not recognized.<br>
Any clues ?<br>
I am interested in mucking around the code if neccessary.<br>
<p>
Appreciate your comments,<br>
 Yuval<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Bernd Schroeder: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0183.html">Michael Katz-Hyman: "AS6e under WINE: It works!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
