<!-- received="Thu Dec  3 19:20:13 1998 PST" -->
<!-- sent="Thu, 3 Dec 1998 22:26:51 -0500" -->
<!-- name="David Huggins-Daines" -->
<!-- email="bn711@freenet.carleton.ca" -->
<!-- subject="Re: USB scanners?" -->
<!-- id="" -->
<!-- inreplyto="m0zl7Sr-000q19C@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: USB scanners?</title>
<h1>Re: USB scanners?</h1>
<b>David Huggins-Daines</b> (<a href="mailto:bn711@freenet.carleton.ca"><i>bn711@freenet.carleton.ca</i></a>)<br>
<i>Thu, 3 Dec 1998 22:26:51 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Andre Couture: "AT3:Transparancy &amp; ADF"</a>
<li> <b>Previous message:</b> <a href="0030.html">John Stoffel: "Re: HP ScanJet not recognized w/ scanimage -L"</a>
<li> <b>In reply to:</b> <a href="0013.html">Matto Marjanovic: "Re: USB scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Jonathan Buzzard: "Re: USB scanners?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, Dec 02, 1998 at 03:16:49AM -0500, Matto Marjanovic wrote:<br>
<i>&gt; This might be feasible soon with parallel ports, at least under Linux.</i><br>
<i>&gt;  Anyone know what the "parport" driver in the newer kernels does?</i><br>
<p>
Unfortunately, drivers for specific devices will probably still need to<br>
run in kernel-space.<br>
<p>
<i>&gt; I'm not sure how to "focus on USB" if I have no USB equipment.</i><br>
<i>&gt; What is the state of general USB support in various OS's?  As soon as</i><br>
<p>
NetBSD has it.  Noone else does.  For once, BSD beats Linux in hardware<br>
support.  Weird... :-)<br>
<p>
People tell me that USB is somewhat like a cross between SCSI and<br>
Ethernet - devices and host adaptors are adressable nodes on a bus,<br>
and can send messages and data to each other using a defined protocol.<br>
<p>
Right away, that sounds *way* better than parallel or serial ports.<br>
<p>
<i>&gt; and, here's the rant:</i><br>
<p>
(this is exactly what I said in a presentation to the local LUG the other<br>
night :)<br>
<p>
<i>&gt; The parallel port is still relatively useless, though, because:</i><br>
<i>&gt;   a) a low-overhead system API is pretty scarce, if it exists at all</i><br>
<i>&gt;   b) what else has a parallel-port besides a PC?  you can find SCSI</i><br>
<i>&gt;       and serial ports on Sparc's, PowerPC's, SGI's, etc...</i><br>
<p>
Alphas and Amigas...  not much else.  (Some PowerPCs, too, such as the<br>
BeBox and PPeP/PReP/CHRP boxen)<br>
<p>
<pre>
-- 
perl -Mstrict -l0we'print&amp;{sub{my(@q)=@_;&amp;{sub{my($q)=@_;&amp;$q($q,@q)}}(sub{my
($p,$q,@q,$r)=@_;$q&amp;&amp;(($q,$r)=@$q)&amp;&amp;qq@$\$q: ${\(ref$r?$/.eval q:local$\.=qq
; ;;&amp;$p($p,\@$r)::$r)}$/@.(&amp;$p($p,@q)||q$$);});}}([name=&gt;"David Huggins-Dain".
q[es]],[work=&gt;[[school=&gt;"linguist"],[elsewhere=&gt;"Linux hacker (for hire)"]]])'
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Andre Couture: "AT3:Transparancy &amp; ADF"</a>
<li> <b>Previous message:</b> <a href="0030.html">John Stoffel: "Re: HP ScanJet not recognized w/ scanimage -L"</a>
<li> <b>In reply to:</b> <a href="0013.html">Matto Marjanovic: "Re: USB scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Jonathan Buzzard: "Re: USB scanners?"</a>
<!-- reply="end" -->
</ul>
