<!-- received="Thu Dec  3 20:51:09 1998 PST" -->
<!-- sent="Mon, 25 May 1953 10:57:04 -0400" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="AT3:Transparancy &amp; ADF" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: AT3:Transparancy &amp; ADF</title>
<h1>AT3:Transparancy &amp; ADF</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Mon, 25 May 1953 10:57:04 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Chris Pinkham: "Re: AT3:Transparancy &amp; ADF"</a>
<li> <b>Previous message:</b> <a href="0031.html">David Huggins-Daines: "Re: USB scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Chris,<br>
<p>
I've notice in the documentation that there could be a Transparency kit that<br>
could be added/used with the Artec scanners.<br>
<p>
Basically it turn off the lamp and let you use a "overhead" type lamp to light<br>
up the document.<br>
<p>
I haven't seen any reference of such feature in Sane,<br>
How difficult would it be to add this to Sane? Something like a toggle button to<br>
turn on/off the lamp?<br>
<p>
I tought that could also be used to increase life expectency of the lamps.<br>
<p>
thanks<br>
Andre<br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Chris Pinkham: "Re: AT3:Transparancy &amp; ADF"</a>
<li> <b>Previous message:</b> <a href="0031.html">David Huggins-Daines: "Re: USB scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
