<!-- received="Thu Dec  3 21:00:57 1998 PST" -->
<!-- sent="Thu, 3 Dec 1998 23:59:56 -0500 (EST)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@infi.net" -->
<!-- subject="Re: AT3:Transparancy &amp; ADF" -->
<!-- id="199812040459.XAA01106@panther.panther.net" -->
<!-- inreplyto="E0C4F8BF.8D777B79@videotron.ca" -->
<title>sane-devel: Re: AT3:Transparancy &amp; ADF</title>
<h1>Re: AT3:Transparancy &amp; ADF</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@infi.net"><i>cpinkham@infi.net</i></a>)<br>
<i>Thu, 3 Dec 1998 23:59:56 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Andre Couture: "sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0032.html">Andre Couture: "AT3:Transparancy &amp; ADF"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Hi Chris,</i><br>
<i>&gt; </i><br>
<i>&gt; I've notice in the documentation that there could be a Transparency kit that</i><br>
<i>&gt; could be added/used with the Artec scanners.</i><br>
<p>
Yes, this is correct, it plugs into a port on the back of the scanner.  I<br>
have never seen one of these kits though.<br>
 <br>
<i>&gt; Basically it turn off the lamp and let you use a "overhead" type lamp to light</i><br>
<i>&gt; up the document.</i><br>
<p>
Well, sort of.  The documentation for the AT3 &amp; A6000C PLUS states that for<br>
these 2 models, the lamp inside the scanner can not be turned off via<br>
software.  I don't know what page it's on, but it's in section 4.4 concerning<br>
about mode select.<br>
<p>
<i>&gt; I haven't seen any reference of such feature in Sane,</i><br>
<i>&gt; How difficult would it be to add this to Sane? Something like a toggle</i><br>
<i>&gt; button to turn on/off the lamp?</i><br>
<p>
I believe some of the scanners that support turning the lamp on/off have<br>
this supported automatically in the backend, but I don't know for sure.<br>
 <br>
<i>&gt; I tought that could also be used to increase life expectency of the lamps.</i><br>
<p>
Maybe for the AT6 &amp; AT12 users, but not for us lowly AT3 &amp; A6000C PLUS users<br>
according to the docs. :-|<br>
<p>
Chris<br>
<p>
*****************************************************************************<br>
** Chris Pinkham                      Linux v2.0.35, Sane v1.00, GIMP v1.0 **<br>
** <a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a>                 <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **<br>
*****************************************************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Andre Couture: "sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0032.html">Andre Couture: "AT3:Transparancy &amp; ADF"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
