<!-- received="Fri Dec  4 21:34:02 1998 PST" -->
<!-- sent="Sat, 5 Dec 1998 00:33:03 -0500 (EST)" -->
<!-- name="Benedict P. Barszcz" -->
<!-- email="cp427@freenet.buffalo.edu" -->
<!-- subject="xscanimage compile errors" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage compile errors</title>
<h1>xscanimage compile errors</h1>
<b>Benedict P. Barszcz</b> (<a href="mailto:cp427@freenet.buffalo.edu"><i>cp427@freenet.buffalo.edu</i></a>)<br>
<i>Sat, 5 Dec 1998 00:33:03 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Oliver Rauch: "Re: xscanimage compile errors"</a>
<li> <b>Previous message:</b> <a href="0046.html">becka@rz.uni-duesseldorf.de: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">Oliver Rauch: "Re: xscanimage compile errors"</a>
<li> <b>Reply:</b> <a href="0048.html">Oliver Rauch: "Re: xscanimage compile errors"</a>
<li> <b>Reply:</b> <a href="0052.html">Justin Young: "Re: xscanimage compile errors"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greeting to all,<br>
	I have problems with compiling sane-1.00.<br>
I used to have sane-0.74 and it worked all right. <br>
Right now, after untaring the sources and starting configure I get no<br>
errors. But compilation fails at xscanimage in libgimp.so. It complains<br>
about thing that are undefined.<br>
<p>
I have upgraded gimp-libgimp-99.28 to gimp-libgimp-1.0.6 with no results<br>
to the above. My system is Redhat 5.1.<br>
<p>
Excuse my chaotic description of the problem.<br>
<p>
thank you for any reply.<br>
<p>
<p>
<i>&gt;&gt;&gt; regards &lt;&lt;&lt;</i><br>
Benedict<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Oliver Rauch: "Re: xscanimage compile errors"</a>
<li> <b>Previous message:</b> <a href="0046.html">becka@rz.uni-duesseldorf.de: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">Oliver Rauch: "Re: xscanimage compile errors"</a>
<li> <b>Reply:</b> <a href="0048.html">Oliver Rauch: "Re: xscanimage compile errors"</a>
<li> <b>Reply:</b> <a href="0052.html">Justin Young: "Re: xscanimage compile errors"</a>
<!-- reply="end" -->
</ul>
