<!-- received="Mon Dec  7 10:47:43 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 19:45:06 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re:  Solaris v2.6 support?" -->
<!-- id="" -->
<!-- inreplyto="199812071622.LAA12362@brittania.turner.com" -->
<title>sane-devel: Re:  Solaris v2.6 support?</title>
<h1>Re:  Solaris v2.6 support?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Mon, 7 Dec 1998 19:45:06 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Previous message:</b> <a href="0072.html">justiny@newsguy.com: "Re: HP1100A ?"</a>
<li> <b>In reply to:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0074.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 7 Dec 1998, Chris Riggins wrote:<br>
<p>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt;      I had the exact same trouble as Hugo for some time, but I followed some</i><br>
<i>&gt; advice from one of the earlier archived messages and both "find-scanner" and</i><br>
<i>&gt; "scanimage" detect my HP ScanJet 4c.  I'm running Solaris 2.6 on a</i><br>
<i>&gt; Sparcserver 20.  I compiled everything with gcc 2.7.2.3.</i><br>
<i>&gt; </i><br>
<i>&gt;      Like I said, I used to have Hugo's problem, "find-scanner" detected the</i><br>
<i>&gt; 4c, but scanimage couldn't see it.  It turned out to be a problem with the</i><br>
<i>&gt; conf files in /usr/local/etc/sane.d.  Now, when I run "scanimage" it gives me</i><br>
<i>&gt; a core dump.</i><br>
<p>
I suppose you wouldn't mind sharing with us the changes you have made?<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Previous message:</b> <a href="0072.html">justiny@newsguy.com: "Re: HP1100A ?"</a>
<li> <b>In reply to:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0074.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<!-- reply="end" -->
</ul>
