<!-- received="Mon Dec  7 19:51:50 1998 PST" -->
<!-- sent="Thu, 03 Dec 1998 10:31:15 +0100" -->
<!-- name="Edmund Humenberger" -->
<!-- email="ed@atnet.at" -->
<!-- subject="microtek Scanmaker 630  please help!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: microtek Scanmaker 630  please help!</title>
<h1>microtek Scanmaker 630  please help!</h1>
<b>Edmund Humenberger</b> (<a href="mailto:ed@atnet.at"><i>ed@atnet.at</i></a>)<br>
<i>Thu, 03 Dec 1998 10:31:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Gary D. Foster: "supported platform updates"</a>
<li> <b>Previous message:</b> <a href="0083.html">V. Doan: "Clueless about Umax 1220S gamma"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have this scanner, but it does not get recognised by the scsi<br>
adapter..<br>
<p>
I do not have the docu of the scanner.<br>
<p>
Question.<br>
<p>
Is the small switchnearby the ID dial  the termination switch or do I<br>
need a terminator anyway.<br>
<p>
Ed<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Gary D. Foster: "supported platform updates"</a>
<li> <b>Previous message:</b> <a href="0083.html">V. Doan: "Clueless about Umax 1220S gamma"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
