<!-- received="Mon Dec  7 19:52:42 1998 PST" -->
<!-- sent="Sun, 06 Dec 1998 15:29:40 +0800" -->
<!-- name="Alan Knowles" -->
<!-- email="alan_k@HK.Super.NET" -->
<!-- subject="Re: hp-backend: 2nd try parallel support and new ADF support]" -->
<!-- id="" -->
<!-- inreplyto="hp-backend: 2nd try parallel support and new ADF support]" -->
<title>sane-devel: Re: hp-backend: 2nd try parallel support and new ADF support]</title>
<h1>Re: hp-backend: 2nd try parallel support and new ADF support]</h1>
<b>Alan Knowles</b> (<a href="mailto:alan_k@HK.Super.NET"><i>alan_k@HK.Super.NET</i></a>)<br>
<i>Sun, 06 Dec 1998 15:29:40 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">hagopiar@vuser.vu.union.edu: "Re: Clueless about Umax 1220S gamma"</a>
<li> <b>Previous message:</b> <a href="0093.html">Thomas Nemeth: "Difference between 2 distro of Linux :("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Peter &amp; Co.<br>
<p>
Short note to say, that I still get no activity from the HP ScanJet 5s,<br>
(hangs on xscanimage etc.), <br>
<p>
Product info page is <a href="http://www.hp.com/cposupport/prodhome/sj5ssp.html">http://www.hp.com/cposupport/prodhome/sj5ssp.html</a><br>
for anyone who is interested..<br>
<p>
If someone can point me to a good starter page, on finding out how the<br>
scanner / pc communicate, I could provide some info to help develop a<br>
driver. I gave up sending polite notes to hp about the lack of info:)<br>
<p>
Best regards<br>
<p>
alan<br>
<p>
ps. peter you got the email address wrong on the message :) oops<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">hagopiar@vuser.vu.union.edu: "Re: Clueless about Umax 1220S gamma"</a>
<li> <b>Previous message:</b> <a href="0093.html">Thomas Nemeth: "Difference between 2 distro of Linux :("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
