<!-- received="Tue Dec  8 00:13:45 1998 PST" -->
<!-- sent="08 Dec 1998 00:12:28 -0800" -->
<!-- name="David Fox" -->
<!-- email="dsfox@cogsci.ucsd.edu" -->
<!-- subject="Re: Scanner Driver for HP3C?" -->
<!-- id="" -->
<!-- inreplyto="Mon, 7 Dec 1998 12:44:35 -0600"" -->
<title>sane-devel: Re: Scanner Driver for HP3C?</title>
<h1>Re: Scanner Driver for HP3C?</h1>
<b>David Fox</b> (<a href="mailto:dsfox@cogsci.ucsd.edu"><i>dsfox@cogsci.ucsd.edu</i></a>)<br>
<i>08 Dec 1998 00:12:28 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Hugo van der Kooij: "Re: HP ScanJet 5P"</a>
<li> <b>Previous message:</b> <a href="0098.html">Hugo van der Kooij: "Re:  Solaris v2.6 support?"</a>
<li> <b>In reply to:</b> <a href="0087.html">Fillmore, Tom: "Scanner Driver for HP3C?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Fillmore, Tom" &lt;<a href="mailto:Tom.Fillmore@Grubb-Ellis.com">Tom.Fillmore@Grubb-Ellis.com</a>&gt; writes:<br>
<p>
<i>&gt; Love the concept of this, but need a driver for the HP3C - is there a</i><br>
<i>&gt; substitute that will work?  Is there one in progress?</i><br>
<p>
The standard hp driver works for me.<br>
<pre>
-- 
David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD
UCSD HCI Lab                                         baL ICH DSCU
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Hugo van der Kooij: "Re: HP ScanJet 5P"</a>
<li> <b>Previous message:</b> <a href="0098.html">Hugo van der Kooij: "Re:  Solaris v2.6 support?"</a>
<li> <b>In reply to:</b> <a href="0087.html">Fillmore, Tom: "Scanner Driver for HP3C?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
