<!-- received="Tue Dec  8 00:46:00 1998 PST" -->
<!-- sent="Tue, 8 Dec 1998 09:43:43 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: HP ScanJet 5P" -->
<!-- id="" -->
<!-- inreplyto="36664C2C.3B11F660@lcjdap.soroscj.ro" -->
<title>sane-devel: Re: HP ScanJet 5P</title>
<h1>Re: HP ScanJet 5P</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 8 Dec 1998 09:43:43 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Lars Erik Kolden: "Re: sane and microtek scanmaker 35t"</a>
<li> <b>Previous message:</b> <a href="0099.html">David Fox: "Re: Scanner Driver for HP3C?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 3 Dec 1998, Robert-Velisav MICIOVICI wrote:<br>
<p>
<i>&gt; Is there development going under to support HP ScanJet 5P and brothers?</i><br>
<p>
Some if needed but the lot works for quite some time perfectly.<br>
<p>
<p>
<i>&gt; It is not listed in the support scanners list so I suppose it is not</i><br>
<i>&gt; done yet.</i><br>
<p>
It is. It was one of the first as David started off with  them and a few<br>
others.<br>
<p>
Hugo.<br>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Lars Erik Kolden: "Re: sane and microtek scanmaker 35t"</a>
<li> <b>Previous message:</b> <a href="0099.html">David Fox: "Re: Scanner Driver for HP3C?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
