<!-- received="Tue Dec  8 07:18:26 1998 PST" -->
<!-- sent="Tue, 08 Dec 1998 09:24:06 -0600" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.rice.edu" -->
<!-- subject="Re: SnapScan backend" -->
<!-- id="" -->
<!-- inreplyto="SnapScan backend" -->
<title>sane-devel: Re: SnapScan backend</title>
<h1>Re: SnapScan backend</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.rice.edu"><i>charter@cs.rice.edu</i></a>)<br>
<i>Tue, 08 Dec 1998 09:24:06 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Gordon Scott: "Re: Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0104.html">becka@rz.uni-duesseldorf.de: "Re: SANE standard,"</a>
<li> <b>Maybe in reply to:</b> <a href="0090.html">Chris Burghart: "SnapScan backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Chris Burghart wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I have just a small correction for the web page listing for the SnapScan</i><br>
<i>&gt; backend.  The listing says that only 8 bit color is supported, but the</i><br>
<i>&gt; driver actually supports 24 bits-per-pixel for the SnapScan 300,</i><br>
<i>&gt; and 30 bpp for the 310 and 600.</i><br>
<i>&gt; </i><br>
<p>
By 8 bit I mean 8 bits per channel, or 24 bits per pixel.<br>
<p>
All of the 300, 310 and 600 support 10 bits per channel (30 bpp) but I<br>
haven't gotten around to using the 10-bit gamma tables yet.<br>
<p>
Kevin<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Gordon Scott: "Re: Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0104.html">becka@rz.uni-duesseldorf.de: "Re: SANE standard,"</a>
<li> <b>Maybe in reply to:</b> <a href="0090.html">Chris Burghart: "SnapScan backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
