<!-- received="Tue Dec  8 09:36:57 1998 PST" -->
<!-- sent="Tue, 8 Dec 1998 18:34:26 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: supported platform updates" -->
<!-- id="" -->
<!-- inreplyto="bci67btbnao.fsf@honeybunch.ml.org" -->
<title>sane-devel: Re: supported platform updates</title>
<h1>Re: supported platform updates</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 8 Dec 1998 18:34:26 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#107">[ date ]</a><a href="index.html#107">[ thread ]</a><a href="subject.html#107">[ subject ]</a><a href="author.html#107">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Kevin Charter: "Re: Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0106.html">Gordon Scott: "Re: Getting started with SANE &amp; SnapScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 3 Dec 1998, Gary D. Foster wrote:<br>
<p>
<i>&gt; Thought I could add a few entries to your supported platform updates:</i><br>
<i>&gt; </i><br>
<i>&gt; I've been running sane-0.74 under sparc/solaris 2.6 with gimp</i><br>
<i>&gt; support.  Basically, everything should be a "yes" in your supported</i><br>
<i>&gt; platform matrix.</i><br>
<i>&gt; </i><br>
<i>&gt; I've also just finished installing sane-1.00 under sparc/solaris 2.7</i><br>
<i>&gt; (solaris7) and it all should be "yes" as well.  There were some</i><br>
<i>&gt; compilation difficulties and I had to tweak the code a bit here and</i><br>
<i>&gt; there to get it to finish compiling, but it's now up and running.</i><br>
<i>&gt; </i><br>
<i>&gt; These were compiled with egcs-1.1.1, btw.</i><br>
<p>
sane 1.00 with Solaris 2.6 and gcc is a no-go here.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Kevin Charter: "Re: Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0106.html">Gordon Scott: "Re: Getting started with SANE &amp; SnapScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
