<!-- received="Tue Dec  8 13:34:22 1998 PST" -->
<!-- sent="Tue, 8 Dec 1998 16:27:43 -0500" -->
<!-- name="Wolfgang Kaess" -->
<!-- email="100346.2055@compuserve.com" -->
<!-- subject="Internet Message Header" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Internet Message Header</title>
<h1>Internet Message Header</h1>
<b>Wolfgang Kaess</b> (<a href="mailto:100346.2055@compuserve.com"><i>100346.2055@compuserve.com</i></a>)<br>
<i>Tue, 8 Dec 1998 16:27:43 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Wolfgang Kaess: "Internet Message Header"</a>
<li> <b>Previous message:</b> <a href="0112.html">Wolfgang Kaess: "Internet Message Header"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Hubert Piatkowski" &lt;<a href="mailto:ncc@MNSi.Net">ncc@MNSi.Net</a>&gt; wrote: <br>
<p>
<i>&gt; Hi there, I am interested in finding out more about SANE as well as it's</i><br>
<i>&gt; support under OS/2, and would like to find out how to join the mailing &gt;</i><br>
list if at all possible.  Any information would be greatley appreciated.. <br>
<p>
<i> &gt; </i><br>
 OS/2 is supported, take a look at the SANE OS/2 Homepage <br>
 <a href="http://www.geocities.com/SiliconValley/Peaks/4320/sane2.html">http://www.geocities.com/SiliconValley/Peaks/4320/sane2.html</a> <br>
<p>
 Anybody is welcome to subscribe to this list and contribute to SANE <br>
 development.  For more information, please refer to SANE home page at: <br>
<p>
 <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a> <br>
<p>
<p>
Wolfgang Kaess Using SANE 0.73 with hp/xhp backend, compiled with IBM<br>
VisualAge C++ for OS/2. <br>
<p>
<p>
*** <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Wolfgang Kaess: "Internet Message Header"</a>
<li> <b>Previous message:</b> <a href="0112.html">Wolfgang Kaess: "Internet Message Header"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
