<!-- received="Thu Dec 10 05:22:14 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 15:21:59 +0200" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Interesting surfing. Competition ?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Interesting surfing. Competition ?</title>
<h1>Interesting surfing. Competition ?</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Thu, 10 Dec 1998 15:21:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#131">[ date ]</a><a href="index.html#131">[ thread ]</a><a href="subject.html#131">[ subject ]</a><a href="author.html#131">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Jorge Delgado Mendoza: "Trust EasyConnect 9600"</a>
<li> <b>Previous message:</b> <a href="0130.html">becka@rz.uni-duesseldorf.de: "Re: PNM bugfix doesn't help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="http://gphoto.fix.no/gphoto/">http://gphoto.fix.no/gphoto/</a><br>
<a href="http://www.pixtran.com/top/news/">http://www.pixtran.com/top/news/</a><br>
<p>
competition ?<br>
<p>
	MF<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Jorge Delgado Mendoza: "Trust EasyConnect 9600"</a>
<li> <b>Previous message:</b> <a href="0130.html">becka@rz.uni-duesseldorf.de: "Re: PNM bugfix doesn't help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
