<!-- received="Thu Dec 10 11:30:42 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 20:27:15 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="pre alpha version of my new sane-frontend out" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: pre alpha version of my new sane-frontend out</title>
<h1>pre alpha version of my new sane-frontend out</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 10 Dec 1998 20:27:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Michael Sweet: "[patch] Multiple fixes for SANE 1.0"</a>
<li> <b>Previous message:</b> <a href="0136.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everybody,<br>
<p>
I uploaded the first pre-alpha-version of my new sane-frontend to my homepage:<br>
<p>
<a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a><br>
<p>
In the moment I call it xsane, suggestions for the name and other things are<br>
welcome!<br>
<p>
Bug reports to my email-address (<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>) are welcome too,<br>
but please don`t ask any questions how to compile it or anything else<br>
if something does not work - I want to spent my time to improve the frontend<br>
instead of answering<br>
lots of mails!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Michael Sweet: "[patch] Multiple fixes for SANE 1.0"</a>
<li> <b>Previous message:</b> <a href="0136.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
