<!-- received="Fri Dec 11 13:18:53 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 22:18:18 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="New Umax-backend-Patch for gray gamma bug" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: New Umax-backend-Patch for gray gamma bug</title>
<h1>New Umax-backend-Patch for gray gamma bug</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 11 Dec 1998 22:18:18 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Previous message:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Umax Scanner Users,<br>
<p>
there is a new patch for the umax-backend that removes a bug in the gray gamma<br>
data conversion.<br>
<p>
The bug made a bad gamma table in grayscale mode for all scanners, although it<br>
was visible very much<br>
only with 10/12 bit scanners (Atsra 1200S and Astra 1220S).<br>
<p>
You can download the patch form my homepage:<br>
<p>
<a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a><br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Previous message:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
