<!-- received="Fri Dec 11 14:26:40 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 23:24:28 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Solaris 2.6 w/ HP ScanJet 4c" -->
<!-- id="" -->
<!-- inreplyto="199812112051.PAA03310@brittania.turner.com" -->
<title>sane-devel: Re: Solaris 2.6 w/ HP ScanJet 4c</title>
<h1>Re: Solaris 2.6 w/ HP ScanJet 4c</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 11 Dec 1998 23:24:28 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Chris Riggins: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Previous message:</b> <a href="0159.html">Oliver Rauch: "New Umax-backend-Patch for gray gamma bug"</a>
<li> <b>In reply to:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">Michael Sweet: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 11 Dec 1998, Chris Riggins wrote:<br>
<p>
<i>&gt; All,</i><br>
<i>&gt;      After applying Mike's earlier patch, I'm scanning with ease!  My</i><br>
<i>&gt; heartfelt thanks to Mike and all the others who've made Sane work!</i><br>
<p>
If only the patch was patching. Somehow the patch is not understood by my<br>
freshly compiled GNU patch v2.5 (nor by /bin/patch).<br>
<p>
patch keeps asking me for filenames. Somehow the patch is just not a patch<br>
as I would normally see them with Linux. (With which I never got any<br>
problem.)<br>
<p>
So suggestion about which patch (as I only have 4) I shoud use and with<br>
what options are still welcome.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Chris Riggins: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Previous message:</b> <a href="0159.html">Oliver Rauch: "New Umax-backend-Patch for gray gamma bug"</a>
<li> <b>In reply to:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">Michael Sweet: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- reply="end" -->
</ul>
