<!-- received="Fri Dec 11 18:00:51 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 21:00:40 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: Solaris 2.6 w/ HP ScanJet 4c" -->
<!-- id="" -->
<!-- inreplyto="Solaris 2.6 w/ HP ScanJet 4c" -->
<title>sane-devel: Re: Solaris 2.6 w/ HP ScanJet 4c</title>
<h1>Re: Solaris 2.6 w/ HP ScanJet 4c</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Fri, 11 Dec 1998 21:00:40 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#165">[ date ]</a><a href="index.html#165">[ thread ]</a><a href="subject.html#165">[ subject ]</a><a href="author.html#165">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Previous message:</b> <a href="0164.html">Neil Zampella: "Re: - Pacific Image Electronics 630P ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0167.html">Michael Sweet: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Chris Riggins wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; If only the patch was patching. Somehow the patch is not understood</i><br>
<i>&gt; &gt; by my freshly compiled GNU patch v2.5 (nor by /bin/patch).</i><br>
<p>
Are you referring to the patch I posted?<br>
<p>
<i>&gt; &gt; patch keeps asking me for filenames. Somehow the patch is just not a</i><br>
<i>&gt; &gt; patch as I would normally see them with Linux. (With which I never</i><br>
<i>&gt; &gt; got any problem.)</i><br>
<p>
Hmm, I just did a "diff -c" of each file I changed; it should be<br>
understood by just about any version of patch.<br>
<p>
One thing, tho - I made the patch from the sane-1.0 directory, not<br>
from the directory above it.  If you were applying it from the wrong<br>
directory the patch program wouldn't be able to find the files<br>
automatically...<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">Hugo van der Kooij: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<li> <b>Previous message:</b> <a href="0164.html">Neil Zampella: "Re: - Pacific Image Electronics 630P ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Chris Riggins: "Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0167.html">Michael Sweet: "Re: Solaris 2.6 w/ HP ScanJet 4c"</a>
<!-- reply="end" -->
</ul>
