<!-- received="Sat Dec 12 09:14:30 1998 PST" -->
<!-- sent="Wed, 09 Dec 1998 12:06:18 -0500" -->
<!-- name="Iomar Vargas" -->
<!-- email="i.vargas@computer.org" -->
<!-- subject="Segmentation Fault.  Core Dumped!!" -->
<!-- id="366EAE0A.8722DAA4@computer.org" -->
<!-- inreplyto="" -->
<title>sane-devel: Segmentation Fault.  Core Dumped!!</title>
<h1>Segmentation Fault.  Core Dumped!!</h1>
<b>Iomar Vargas</b> (<a href="mailto:i.vargas@computer.org"><i>i.vargas@computer.org</i></a>)<br>
<i>Wed, 09 Dec 1998 12:06:18 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">John Salmon: "hp photosmart and sane-1.00"</a>
<li> <b>Previous message:</b> <a href="0168.html">Mark Marsh: "future supported devices"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hey SANErs:<br>
<p>
    I having problems getting SANE to run in my machine.  I'm using<br>
Linux Slackware 3.1 with kernel 2.0.27.  The make runs OK, since the<br>
programs compile, but all of the utilities dump a core.  I have an<br>
ImageReader scanner with SCSI adapter.  Can someone please help.<br>
Thanks.<br>
<p>
Iomar Vargas<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">John Salmon: "hp photosmart and sane-1.00"</a>
<li> <b>Previous message:</b> <a href="0168.html">Mark Marsh: "future supported devices"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
