<!-- received="Sat Dec 12 09:18:07 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 22:32:45 -0800 (PST)" -->
<!-- name="William R. Ward" -->
<!-- email="wrw@BayView.COM" -->
<!-- subject="HP PhotoSmart scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP PhotoSmart scanner</title>
<h1>HP PhotoSmart scanner</h1>
<b>William R. Ward</b> (<a href="mailto:wrw@BayView.COM"><i>wrw@BayView.COM</i></a>)<br>
<i>Fri, 11 Dec 1998 22:32:45 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#175">[ date ]</a><a href="index.html#175">[ thread ]</a><a href="subject.html#175">[ subject ]</a><a href="author.html#175">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Gregory Propf: "Problems using Umax Astr 1220S scanner under SANE"</a>
<li> <b>Previous message:</b> <a href="0174.html">Lars Prieske: "sanei_config.h"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi...<br>
<p>
I just bought an HP PhotoSmart scanner and am trying to get it to work<br>
with SANE.  It seems to be trying really hard to scan, but the results<br>
are all dark.  I notice that the "Brightness" slider on the xscanimage<br>
control window is set to 0, and I cannot move it!!!  Perhaps that is<br>
why the images are so dark!<br>
<p>
Is it something that can be fixed by upgrading (I'm using debian<br>
hamm)?  Am I misconfiguring something (I'm using the sane-dll driver)?<br>
Or is this something you've never heard of before?<br>
<p>
--Bill.<br>
<p>
<pre>
-- 
William R Ward          Bay View Consulting      <a href="http://www.bayview.com/~wrw/">http://www.bayview.com/~wrw/</a>
<a href="mailto:wrw@bayview.com">wrw@bayview.com</a>        1803 Mission St. #339        voicemail +1 831/479-4072
PGP Key 0x2BD331E5    Santa Cruz CA 95060 USA           pager +1 831/458-8862
            Public key at <a href="http://www.bayview.com/~wrw/pubkey.txt">http://www.bayview.com/~wrw/pubkey.txt</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Gregory Propf: "Problems using Umax Astr 1220S scanner under SANE"</a>
<li> <b>Previous message:</b> <a href="0174.html">Lars Prieske: "sanei_config.h"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
