<!-- received="Sun Dec 13 12:54:39 1998 PST" -->
<!-- sent="Sun, 13 Dec 1998 16:02:58 -0500" -->
<!-- name="David Huggins-Daines" -->
<!-- email="bn711@freenet.carleton.ca" -->
<!-- subject="Re: New and improved development model?" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.02A.9812132106240.8580-100000@asimov.hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: New and improved development model?</title>
<h1>Re: New and improved development model?</h1>
<b>David Huggins-Daines</b> (<a href="mailto:bn711@freenet.carleton.ca"><i>bn711@freenet.carleton.ca</i></a>)<br>
<i>Sun, 13 Dec 1998 16:02:58 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#193">[ date ]</a><a href="index.html#193">[ thread ]</a><a href="subject.html#193">[ subject ]</a><a href="author.html#193">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0194.html">David Mosberger-Tang: "Re: sanei_config.h"</a>
<li> <b>Previous message:</b> <a href="0192.html">michael brunsteiner: "Re: Re: 6000SP: failed to open device /dev/sg0 invalid argument"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, Dec 13, 1998 at 09:13:10PM +0100, Hugo van der Kooij wrote:<br>
<i>&gt; On Sun, 13 Dec 1998, Petter Reinholdtsen wrote:</i><br>
<i>&gt; &gt; Any comments?  Any reason this has not been done earlier?</i><br>
<i>&gt; </i><br>
<i>&gt; Bandwidth? And lack of experience with CVS servers.</i><br>
<p>
Has anyone asked Debian or RedHat?  (i.e. cvs.gnome.org and cvs.gimp.org)<br>
SANE is relatively small compared to GNOME or the GIMP, I doubt it would<br>
be much of a strain on their servers.<br>
<p>
FWIW, I like the idea of at least having anonymous CVS access and<br>
regular snapshot releases / diffs (doesn't have to be nightly).  That<br>
way, people would have more of a chance to try compiling and running<br>
the new stuff in a variety of different configurations (and a variety <br>
of different GCC versions :-) right up to the minute an official<br>
release is made.<br>
<p>
Cheers<br>
<p>
<pre>
-- 
5.15:   Is C an acronym?
A:      Yes, it stands for "C".  It's another of those funky recursive
        acronyms.
(From the "comp.lang.c Infrequently Asked Questions list")
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0194.html">David Mosberger-Tang: "Re: sanei_config.h"</a>
<li> <b>Previous message:</b> <a href="0192.html">michael brunsteiner: "Re: Re: 6000SP: failed to open device /dev/sg0 invalid argument"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
