<!-- received="Sun Dec 13 13:02:47 1998 PST" -->
<!-- sent="Sun, 13 Dec 1998 13:02:47 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: New and improved development model?" -->
<!-- id="199812132102.NAA22225@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.4.02A.9812132106240.8580-100000@asimov.hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: New and improved development model?</title>
<h1>Re: New and improved development model?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 13 Dec 1998 13:02:47 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#195">[ date ]</a><a href="index.html#195">[ thread ]</a><a href="subject.html#195">[ subject ]</a><a href="author.html#195">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Ole Aamot: "Is SANE GPL'ed? (was Re: Solaris 2.6 w/ HP ScanJet 4c)"</a>
<li> <b>Previous message:</b> <a href="0194.html">David Mosberger-Tang: "Re: sanei_config.h"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 13 Dec 1998 16:02:58 -0500, David Huggins-Daines &lt;<a href="mailto:bn711@freenet.carleton.ca">bn711@freenet.carleton.ca</a>&gt; said:</i><br>
<p>
  David.H&gt; FWIW, I like the idea of at least having anonymous CVS<br>
  David.H&gt; access and regular snapshot releases / diffs (doesn't have<br>
  David.H&gt; to be nightly).  That way, people would have more of a<br>
  David.H&gt; chance to try compiling and running the new stuff in a<br>
  David.H&gt; variety of different configurations (and a variety of<br>
  David.H&gt; different GCC versions :-) right up to the minute an<br>
  David.H&gt; official release is made.<br>
<p>
Huh?  The pre1.0 release has been available for several weeks before<br>
we switched to 1.0.  I don't see how would more frequent snapshots<br>
would get people to compile SANE more often.  I think I strongly<br>
encouraged people to test out the pre1.0 releases and it's not my<br>
fault if people don't test it on platforms other than Linux until<br>
after 1.0 was released.<br>
<p>
Maybe the real issue is that we may need/want a sane-testers mailing<br>
list so people can be alerted to impending new releases without having<br>
to deal with the volumes of mail on sane-devel.  I'd be happy to<br>
maintain such a list.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Ole Aamot: "Is SANE GPL'ed? (was Re: Solaris 2.6 w/ HP ScanJet 4c)"</a>
<li> <b>Previous message:</b> <a href="0194.html">David Mosberger-Tang: "Re: sanei_config.h"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
