<!-- received="Mon Dec 14 12:35:59 1998 PST" -->
<!-- sent="Mon, 14 Dec 1998 21:34:06 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: Sane1.0 SOLARIS2.6" -->
<!-- id="199812142034.VAA07704@garfield.m.isar.de" -->
<!-- inreplyto="Sane1.0 SOLARIS2.6" -->
<title>sane-devel: Re: Sane1.0 SOLARIS2.6</title>
<h1>Re: Sane1.0 SOLARIS2.6</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Mon, 14 Dec 1998 21:34:06 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Peter Kirchgessner: "Re: HP Scanner causes machine to freeze"</a>
<li> <b>Previous message:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Maybe in reply to:</b> <a href="0210.html">Wolfgang Cohrs: "Sane1.0 SOLARIS2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0236.html">Alex Nicolaou: "Re: Sane1.0 SOLARIS2.6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 14 Dec 1998, Hugo van der Kooij wrote:<br>
<i>&gt; On Mon, 14 Dec 1998, Wolfgang Cohrs wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Hi,</i><br>
<i>&gt; &gt; i have installed sane1.0 on SunOS 5.6 Generic_105181-03 sun4u sparc</i><br>
<i>&gt; &gt; SUNW,Ultra-1System = SunOS.</i><br>
<i>&gt; &gt; find-scanner: found scanner "APPLE SCANNER II 2.04" at device /dev/scg0b</i><br>
<i>&gt; &gt; give this output.</i><br>
<i>&gt; &gt; as root  "scanimage -d apple:/dev/scg0b &gt; test " is ok</i><br>
<i>&gt; &gt; as a normal user i have this error</i><br>
<i>&gt; &gt; scanimage: open of device apple:/dev/scg0b failed: Invalid argument</i><br>
<i>&gt; </i><br>
<i>&gt; sane 1.0 does not work out of the box.</i><br>
<i>&gt; </i><br>
<i>&gt; There is a patch available that won't patch but if you fix the changes</i><br>
<i>&gt; manually you seem to get a working setup.</i><br>
<i>&gt; </i><br>
<p>
Since Wolfgang Cohrs can scan as root, it is a permission problem.<br>
/dev/scg0 is read/write by root only as default, and it is dangerous to<br>
change this (see README.Solaris).<br>
<p>
The problem you mentioned is the alignment bug fixed by the IRIX patch<br>
by Michael Sweet.<br>
<p>
I use Solaris 2.6 on an x86 platform, which does not have the alignment<br>
problem like the sparc architecture. That is the reason why sane-1.0<br>
worked for me -after removing the dc and the abaton backends from the<br>
Makefile) without any patch and I was not able to find out why your HP<br>
backend crashed.<br>
<p>
<p>
--martin <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Peter Kirchgessner: "Re: HP Scanner causes machine to freeze"</a>
<li> <b>Previous message:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Maybe in reply to:</b> <a href="0210.html">Wolfgang Cohrs: "Sane1.0 SOLARIS2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0236.html">Alex Nicolaou: "Re: Sane1.0 SOLARIS2.6"</a>
<!-- reply="end" -->
</ul>
