<!-- received="Sat Dec 26 11:19:51 1998 PST" -->
<!-- sent="Sat, 26 Dec 1998 13:02:24 -0600 (CST)" -->
<!-- name="Stingray" -->
<!-- email="chrisd@bsdbox.dynip.com" -->
<!-- subject="Re: SANE 1.0 and FreeBSD" -->
<!-- id="" -->
<!-- inreplyto="36852A8D.FD26DC38@kirchgessner.net" -->
<title>sane-devel: Re: SANE 1.0 and FreeBSD</title>
<h1>Re: SANE 1.0 and FreeBSD</h1>
<b>Stingray</b> (<a href="mailto:chrisd@bsdbox.dynip.com"><i>chrisd@bsdbox.dynip.com</i></a>)<br>
<i>Sat, 26 Dec 1998 13:02:24 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#285">[ date ]</a><a href="index.html#285">[ thread ]</a><a href="subject.html#285">[ subject ]</a><a href="author.html#285">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">Jeffrey Perry: "Which scanners work best with SANE?"</a>
<li> <b>Previous message:</b> <a href="0284.html">Peter Kirchgessner: "Re: SANE 1.0 and FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
here it is:<br>
<p>
[sanei_init_debug]: Setting debug level of hp to 4.<br>
[hp] init called<br>
[hp] get_devices called<br>
[hp] scsi_inquire: sending INQUIRE<br>
[hp] scsi_inquire: inquiry failed: Device busy<br>
[hp] /dev/uk0: Can't open scsi device<br>
[hp] exit called<br>
<p>
 <br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; if the tool find-scanner shows the scanner, please do the following:</i><br>
<i>&gt; Set environment variable SANE_DEBUG_HP=4 and start "scanimage -L"</i><br>
<i>&gt; redirecting</i><br>
<i>&gt; stdout and stderr to a file. If the hp-backend is called, it should</i><br>
<i>&gt; give printouts about testing the scanner. If so, send tis file</i><br>
<i>&gt; back to me. If there are no messages marked "[hp]", something seems</i><br>
<i>&gt; to be wrong with the configuration.</i><br>
<i>&gt; </i><br>
<i>&gt; --Peter</i><br>
<i>&gt; </i><br>
<i>&gt; -- </i><br>
<i>&gt; Peter Kirchgessner</i><br>
<i>&gt; WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a></i><br>
<i>&gt; e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">Jeffrey Perry: "Which scanners work best with SANE?"</a>
<li> <b>Previous message:</b> <a href="0284.html">Peter Kirchgessner: "Re: SANE 1.0 and FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
