<!-- received="Tue Dec 29 08:37:09 1998 PST" -->
<!-- sent="Tue, 29 Dec 1998 11:42:49 -0500 (EST)" -->
<!-- name="Jeffrey Perry" -->
<!-- email="j.perry@lynx.dac.neu.edu" -->
<!-- subject="sanew-devel arhives" -->
<!-- id="199812291642.LAA00488@networkxxiii.xionics.com" -->
<!-- inreplyto="" -->
<title>sane-devel: sanew-devel arhives</title>
<h1>sanew-devel arhives</h1>
<b>Jeffrey Perry</b> (<a href="mailto:j.perry@lynx.dac.neu.edu"><i>j.perry@lynx.dac.neu.edu</i></a>)<br>
<i>Tue, 29 Dec 1998 11:42:49 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#306">[ date ]</a><a href="index.html#306">[ thread ]</a><a href="subject.html#306">[ subject ]</a><a href="author.html#306">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0307.html">aRtsCi - Nikos Diamandis: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0305.html">Jeffrey Perry: "Re: OCR?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0308.html">aRtsCi - Nikos Diamandis: "Re: sanew-devel arhives"</a>
<li> <b>Reply:</b> <a href="0308.html">aRtsCi - Nikos Diamandis: "Re: sanew-devel arhives"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Anyone have a SEARCHABLE collection of the sane-devel<br>
archives?<br>
<p>
The website does not allow searching and majordomo says<br>
the index command is disabled on this list.<br>
<p>
Jeffrey Perry<br>
<a href="mailto:j.perry@lynx.dac.neu.edu">j.perry@lynx.dac.neu.edu</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0307.html">aRtsCi - Nikos Diamandis: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0305.html">Jeffrey Perry: "Re: OCR?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0308.html">aRtsCi - Nikos Diamandis: "Re: sanew-devel arhives"</a>
<li> <b>Reply:</b> <a href="0308.html">aRtsCi - Nikos Diamandis: "Re: sanew-devel arhives"</a>
<!-- reply="end" -->
</ul>
