<!-- received="Thu Dec 31 05:52:13 1998 PST" -->
<!-- sent="Thu, 31 Dec 1998 13:32:28 +0000" -->
<!-- name="Darren Marshall" -->
<!-- email="darren@tuff.org.uk" -->
<!-- subject="Primax Colorado Direct 9600 Support?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Primax Colorado Direct 9600 Support?</title>
<h1>Primax Colorado Direct 9600 Support?</h1>
<b>Darren Marshall</b> (<a href="mailto:darren@tuff.org.uk"><i>darren@tuff.org.uk</i></a>)<br>
<i>Thu, 31 Dec 1998 13:32:28 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#324">[ date ]</a><a href="index.html#324">[ thread ]</a><a href="subject.html#324">[ subject ]</a><a href="author.html#324">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0325.html">Agustin Barto: "Genius ColorPage-EP Support"</a>
<li> <b>Previous message:</b> <a href="0323.html">Robert Brink: "Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi <br>
<p>
Has anyone got any experience with trying to get a<br>
Primax Colorado Direct 9600 scanner working with <br>
SANE?.This model is a parallel port version, I was <br>
wondering if it may work using the driver for something <br>
else?.<br>
<p>
Any help or info appreciated.<br>
<p>
daz<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0325.html">Agustin Barto: "Genius ColorPage-EP Support"</a>
<li> <b>Previous message:</b> <a href="0323.html">Robert Brink: "Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
