<!-- received="Thu Apr  1 05:06:21 1999 PST" -->
<!-- sent="Thu, 01 Apr 1999 14:50:49 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: PCMCIA SCSI and SANE (Umax)" -->
<!-- id="" -->
<!-- inreplyto="PCMCIA SCSI and SANE (Umax)" -->
<title>sane-devel: Re: PCMCIA SCSI and SANE (Umax)</title>
<h1>Re: PCMCIA SCSI and SANE (Umax)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 01 Apr 1999 14:50:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">dch: "Re: To Astra 6X0S users!"</a>
<li> <b>Previous message:</b> <a href="0000.html">Oliver Rauch: "Re: To Astra 6X0S users!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Shamim Mohamed wrote:<br>
<p>
<i>&gt; Hi, I just unpacked and built SANE 1.00 to use with my laptop running Linux</i><br>
<i>&gt; (RedHat 5.2). I have a PCMCIA SCSI card which is working just fine.</i><br>
<i>&gt;</i><br>
<i>&gt; However:</i><br>
<i>&gt;</i><br>
<i>&gt; when I connect the UMAX Astra 1200S, scanimage --lsit-devices does not</i><br>
<i>&gt; recognise it. Here's my SCSI info:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;ventus  cat /proc/scsi/scsi</i><br>
<i>&gt; Attached devices:</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 05 Lun: 00</i><br>
<i>&gt;   Vendor: UMAX     Model: Astra 1200S      Rev: V2.9</i><br>
<i>&gt;   Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt;   Vendor: IOMEGA   Model: ZIP 100          Rev: J.02</i><br>
<i>&gt;   Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt;</i><br>
<i>&gt; But scanimage doesn't find anything:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;ventus  scanimage --list-devices</i><br>
<i>&gt; device `pnm:0' is a Noname PNM file reader virtual device</i><br>
<i>&gt; device `pnm:1' is a Noname PNM file reader virtual device</i><br>
<i>&gt;</i><br>
<i>&gt; (Same result running as root, so it's not a permissions issue.) I'm using</i><br>
<i>&gt; the default sane-umax.conf:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;ventus  cat /usr/local/etc/sane.d/umax.conf</i><br>
<i>&gt; scsi UMAX * Scanner</i><br>
<i>&gt; scsi LinoHell Office</i><br>
<i>&gt; /dev/scanner</i><br>
<i>&gt;</i><br>
<i>&gt; What am I doing wrong? (Sad to report, I can use the scanner under Win95 on</i><br>
<i>&gt; this laptop.)</i><br>
<i>&gt;</i><br>
<i>&gt; -s</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
Hi Shamim,<br>
<p>
did you set the device permissions correct?<br>
<p>
ls -l /dev/sg*<br>
<p>
It looks like your scanner is /dev/sga,<br>
do as root:<br>
chmod 777 /dev/sga<br>
<p>
Then retry!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">dch: "Re: To Astra 6X0S users!"</a>
<li> <b>Previous message:</b> <a href="0000.html">Oliver Rauch: "Re: To Astra 6X0S users!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
