<!-- received="Fri Apr  2 10:42:10 1999 PST" -->
<!-- sent="Fri, 2 Apr 1999 19:46:47 +0200" -->
<!-- name="Luciano Olivo" -->
<!-- email="luciano.olivo@ud.nettuno.it" -->
<!-- subject="Re: Mustek SE12000SP, SuSE5.3 and out of memory." -->
<!-- id="99040219313500.00449@xyz" -->
<!-- inreplyto="Mustek SE12000SP, SuSE5.3 and out of memory." -->
<title>sane-devel: Re: Mustek SE12000SP, SuSE5.3 and out of memory.</title>
<h1>Re: Mustek SE12000SP, SuSE5.3 and out of memory.</h1>
<b>Luciano Olivo</b> (<a href="mailto:luciano.olivo@ud.nettuno.it"><i>luciano.olivo@ud.nettuno.it</i></a>)<br>
<i>Fri, 2 Apr 1999 19:46:47 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Luciano Olivo: "Re: Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<li> <b>Previous message:</b> <a href="0012.html">Allan Strand: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In my last message I wrote:<br>
<i>&gt; . . .</i><br>
<i>&gt; I am beginning to think that some trick is needed to get SANE 1.0 to work</i><br>
<i>&gt; with SuSE 5.3,  the SE12000SP and the DMX3181LE scsi card.</i><br>
<p>
I found a trick that solves my problem, I hope that it could be useful to<br>
someone else.<br>
<p>
I must premise that:<br>
- I had to patch the kernel 2.0.35 with the mustek-scsi-patch-0.6 (to be able to <br>
   be able to use the DMX3181LE scsi card that comes with the scanner).<br>
   (it is better also to look into the istructions for the<br>
   mustek-scsi-patch-0.5).   <br>
- I set SG_BIG_BUFF to 130559 in sg.h,  <br>
- that I compiled the patched generic scsi driver (for NCR5380) as a module <br>
- that I did not use the kerneld daemon, loading manually the modules.  <br>
<p>
The sequence that worked was:<br>
- after boot, do not load the generic scsi modules<br>
- run  xscanimage  <br>
- select the pnm:0 device in the window that opens (in the  window there are<br>
   now only pnm:0 and pnm:1)  and then the OK button <br>
- exit from xscanimage<br>
- open a terminal window and load the generic scsi module, typing: <br>
   modprobe g_NCR5380 ncr_addr=0x280  dtc_3181e=1<br>
- run again xscanimage, this time select the scanner device in the window that<br>
   opens (for me is mustek:/dev/scanner), give OK and then scan.<br>
<p>
I don't know why, but this worked.<br>
<p>
Bye<br>
<p>
Lucian<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Luciano Olivo: "Re: Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<li> <b>Previous message:</b> <a href="0012.html">Allan Strand: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
