<!-- received="Sat Apr  3 12:35:57 1999 PST" -->
<!-- sent="Sat, 3 Apr 1999 18:11:05 +0100 (GMT)" -->
<!-- name="David Taylor" -->
<!-- email="davidt@xfiles.nildram.co.uk" -->
<!-- subject="Epson GT-5000 (parallel port)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT-5000 (parallel port)</title>
<h1>Epson GT-5000 (parallel port)</h1>
<b>David Taylor</b> (<a href="mailto:davidt@xfiles.nildram.co.uk"><i>davidt@xfiles.nildram.co.uk</i></a>)<br>
<i>Sat, 3 Apr 1999 18:11:05 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">David Mosberger-Tang: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0039.html">abel deuring: "Re: Fwd: Internationalized Sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Oliver Graf: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Reply:</b> <a href="0042.html">Oliver Graf: "Re: Epson GT-5000 (parallel port)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I sent this a few days ago, but noone responded.  And i have a little more<br>
info now..<br>
<p>
I've tried using the sane-epson backend, but it simply hangs (needs a<br>
kill -9 to stop it), catting from /dev/lp1 once turns off the 'Ready'<br>
light, catting a second time results in an IO error.  catting to /dev/lp1<br>
appears to work fine, except pressing Ctrl-D doesnt exit.. I'm not entirly<br>
sure that the epson backend isn't just treating it like a SCSI scanner,<br>
even though it appears to have parallel support in it - if i remove the<br>
code for setting 'is_scsi' and set it to 0, it instead says<br>
'scanimage: sane_start: Invalid argument'...  So, I dunno.<br>
<p>
<p>
<pre>
-- 
David Taylor
E-Mail:	<a href="mailto:dtaylor@nildram.co.uk.spam">dtaylor@nildram.co.uk.spam</a>
ICQ:	268004
[Remove .spam from e-mail to reply]
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">David Mosberger-Tang: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0039.html">abel deuring: "Re: Fwd: Internationalized Sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Oliver Graf: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Reply:</b> <a href="0042.html">Oliver Graf: "Re: Epson GT-5000 (parallel port)"</a>
<!-- reply="end" -->
</ul>
