<!-- received="Sun Apr  4 10:35:17 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 13:34:13 -0400" -->
<!-- name="Rick Knebel" -->
<!-- email="rknebel@uplink.net" -->
<!-- subject="umax 1120s" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: umax 1120s</title>
<h1>umax 1120s</h1>
<b>Rick Knebel</b> (<a href="mailto:rknebel@uplink.net"><i>rknebel@uplink.net</i></a>)<br>
<i>Sun, 4 Apr 1999 13:34:13 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Ross Lippert: "twainscan 600 III EP plus"</a>
<li> <b>Previous message:</b> <a href="0060.html">Petter Reinholdtsen: "Small patches for SANE 1.01 pre4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi I am running freebsd 3.1 and get this error message.<br>
cam_periph_mapmem: attempt to map 131029 bytes, which is greater than <br>
DFLTPHYS(65536)<br>
<p>
This is a patch I found to fix it<br>
<p>
*** sanei/sanei_scsi.c-org Sun Jan 3 16:37:08 1999<br>
--- sanei/sanei_scsi.c Sun Jan 3 16:37:11 1999<br>
***************<br>
*** 186,192 ****<br>
#endif<br>
<p>
#if USE == FREEBSD_CAM_INTERFACE<br>
! # define MAX_DATA MAXPHYS<br>
#endif<br>
<p>
#ifndef MAX_DATA<br>
--- 186,192 ----<br>
#endif<br>
<p>
#if USE == FREEBSD_CAM_INTERFACE<br>
! # define MAX_DATA DFLTPHYS<br>
#endif<br>
<p>
#ifndef MAX_DATA<br>
<p>
<p>
The problem is I do not know how to apply it.<br>
<p>
Please \Help<br>
<p>
Rick<br>
<p>
<p>
<pre>
-- 
Rick Knebel
<a href="mailto:rknebel@uplink.net">rknebel@uplink.net</a>
<a href="http://woodstock.csrlink.net/~bknebel">http://woodstock.csrlink.net/~bknebel</a>
<p>
Soon to be <a href="http://rknebel.uplink.net">http://rknebel.uplink.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Ross Lippert: "twainscan 600 III EP plus"</a>
<li> <b>Previous message:</b> <a href="0060.html">Petter Reinholdtsen: "Small patches for SANE 1.01 pre4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
