<!-- received="Sun Apr  4 11:07:16 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 11:07:14 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: umax 1120s" -->
<!-- id="199904041807.LAA15994@panda.mostang.com" -->
<!-- inreplyto="19990404133413.G317@rknebel.uplink.net" -->
<title>sane-devel: Re: umax 1120s</title>
<h1>Re: umax 1120s</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 4 Apr 1999 11:07:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Previous message:</b> <a href="0062.html">Ross Lippert: "twainscan 600 III EP plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 4 Apr 1999 13:34:13 -0400, Rick Knebel &lt;<a href="mailto:rknebel@uplink.net">rknebel@uplink.net</a>&gt; said:</i><br>
<p>
  Rick&gt; Hi I am running freebsd 3.1 and get this error message.<br>
  Rick&gt; cam_periph_mapmem: attempt to map 131029 bytes, which is<br>
  Rick&gt; greater than DFLTPHYS(65536)<br>
<p>
You may want to try the latest prerelease which is available in<br>
directory:<br>
<p>
	<a href="ftp://ftp.mostang.com/pub/sane/beta/">ftp://ftp.mostang.com/pub/sane/beta/</a><br>
<p>
Alternatively, change the relevant lines in sanei/sanei_scsi.c to read<br>
like this:<br>
<p>
#if USE == FREEBSD_CAM_INTERFACE<br>
# define MAX_DATA	(DFLTPHYS - PAGE_SIZE)<br>
#endif<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Previous message:</b> <a href="0062.html">Ross Lippert: "twainscan 600 III EP plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
