<!-- received="Tue Apr  6 03:55:46 1999 PDT" -->
<!-- sent="Tue, 06 Apr 1999 11:55:14 +0100" -->
<!-- name="killian@lucent.com" -->
<!-- email="killian@lucent.com" -->
<!-- subject="Epson GT-7000" -->
<!-- id="3709E812.29D@lucent.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT-7000</title>
<h1>Epson GT-7000</h1>
<a href="mailto:killian@lucent.com"><i>killian@lucent.com</i></a><br>
<i>Tue, 06 Apr 1999 11:55:14 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Ewald R. de Wit: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0094.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Bugs &amp; Fixes: FreeBSD, Snapscan, Sane 1.01-4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I just got myself an Epson GT-7000 SCSI, and it works<br>
wonderfuly with sane-1.00/xscanimage/GIMP on Linux-2.0.36.<br>
Thanks to all those who wrote the code.<br>
<p>
Perhaps now, I will add my help to futher development<br>
of the epson backend...<br>
<p>
<p>
Killian.<br>
<p>
<pre>
-- 
 * Killian Breslin * Lucent Technologies, Ireland. * +353-1-204-2246 *
<pre>
--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Ewald R. de Wit: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0094.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Bugs &amp; Fixes: FreeBSD, Snapscan, Sane 1.01-4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
