<!-- received="Tue Apr  6 08:57:13 1999 PDT" -->
<!-- sent="Tue, 06 Apr 1999 17:53:33 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: 16 bit per sample support" -->
<!-- id="" -->
<!-- inreplyto="16 bit per sample support" -->
<title>sane-devel: Re: 16 bit per sample support</title>
<h1>Re: 16 bit per sample support</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 06 Apr 1999 17:53:33 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0101.html">Allan Strand: "configuring sane-1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ewald R. de Wit wrote:<br>
<p>
<i>&gt; IMHO the</i><br>
<i>&gt; backend should just give you the data as the scanner sends it out and</i><br>
<i>&gt; it's the responsibility of the frontend to make sense of it.</i><br>
<p>
If the image depth is greater than 8 bits per sample most of the scanners<br>
(e.g all UMAX, as far as I know microtek too) do send the data padded to<br>
the most significant bits.<br>
<p>
If some scanners do not, it is just a shifting of the data for the backend -<br>
this<br>
should be no problem.<br>
<p>
The only problem I see is that the frontend does not now the real bit depth,<br>
because<br>
the backend says 16 bits in all this cases!<br>
<p>
<p>
<i>&gt; Putting it in all the backends would mean more (duplicate) work.</i><br>
<i>&gt;</i><br>
<p>
No, no duplicate work, because the backend or the frontend has to do this.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0101.html">Allan Strand: "configuring sane-1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
