<!-- received="Tue Apr  6 14:38:54 1999 PDT" -->
<!-- sent="Tue, 6 Apr 1999 17:39:04 -0400" -->
<!-- name="Rick Knebel" -->
<!-- email="rknebel@uplink.net" -->
<!-- subject="sane install" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane install</title>
<h1>sane install</h1>
<b>Rick Knebel</b> (<a href="mailto:rknebel@uplink.net"><i>rknebel@uplink.net</i></a>)<br>
<i>Tue, 6 Apr 1999 17:39:04 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#119">[ date ]</a><a href="index.html#119">[ thread ]</a><a href="subject.html#119">[ subject ]</a><a href="author.html#119">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Oliver Rauch: "xsane-0.21 / gtk-1.2"</a>
<li> <b>Previous message:</b> <a href="0118.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0121.html">Oliver Rauch: "Re: sane install"</a>
<li> <b>Reply:</b> <a href="0121.html">Oliver Rauch: "Re: sane install"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I am tring to install the latest port of sane on freebsd-3.1 and keep<br>
getting this error.<br>
Can anyone help.<br>
<p>
cc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/local/include<br>
-I/<br>
usr/X11R6/include/gtk12 -I/usr/X11R6/include -I/usr/local/include/glib12 -O<br>
-pip<br>
e -I/usr/local/include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.<br>
d         -DPATH_SANE_DATA_DIR=/usr/local/share           -DV_MAJOR=1<br>
-DV_MINOR=<br>
0 -O -pipe -Wall progress.c<br>
cc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/local/include<br>
-I/<br>
usr/X11R6/include/gtk12 -I/usr/X11R6/include -I/usr/local/include/glib12 -O<br>
-pip<br>
e -I/usr/local/include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.<br>
d         -DPATH_SANE_DATA_DIR=/usr/local/share           -DV_MAJOR=1<br>
-DV_MINOR=<br>
0 -O -pipe -Wall preview.c<br>
cc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/local/include<br>
-I/<br>
usr/X11R6/include/gtk12 -I/usr/X11R6/include -I/usr/local/include/glib12 -O<br>
-pip<br>
e -I/usr/local/include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.<br>
d         -DPATH_SANE_DATA_DIR=/usr/local/share           -DV_MAJOR=1<br>
-DV_MINOR=<br>
0 -O -pipe -Wall preferences.c<br>
cc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/local/include<br>
-I/<br>
usr/X11R6/include/gtk12 -I/usr/X11R6/include -I/usr/local/include/glib12 -O<br>
-pip<br>
e -I/usr/local/include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.<br>
d         -DPATH_SANE_DATA_DIR=/usr/local/share           -DV_MAJOR=1<br>
-DV_MINOR=<br>
0 -O -pipe -Wall gtkglue.c<br>
cc -o .libs/xscanimage xscanimage.o progress.o preview.o preferences.o<br>
gtkglue.o<br>
 ../sanei/libsanei.a -Wl,--rpath -Wl,/usr/local/lib<br>
../backend/.libs/libsane.so <br>
../lib/liblib.a -lgimp -L/usr/X11R6/lib -L/usr/X11R6/lib -lgtk12 -lgdk12<br>
-L/usr/<br>
local/lib -Wl,-E -lgmodule12 -lglib12 -lintl -lXext -lX11 -lm -ljpeg -lintl<br>
-lm <br>
-L/usr/local/lib -lcam<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _debug'<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _message'<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _warning'<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _error'<br>
gmake[1]: *** [xscanimage] Error 1<br>
gmake[1]: Leaving directory<br>
/usr/ports/graphics/sane/work/sane-1.00/frontend'<br>
gmake: *** [all-recursive] Error 1<br>
*** Error code 2<br>
<p>
Stop.<br>
*** Error code 1<br>
<p>
Stop.<br>
*** Error code 1<br>
<p>
Stop.<br>
===&gt;  Building for sane-1.00<br>
for subdir in lib sanei backend frontend doc tools; do          \<br>
  target=cho all-recursive | sed s/-recursive//; \<br>
  echo making $target in $subdir;       \<br>
  (cd $subdir &amp;&amp; gmake $target) \<br>
<i>   || case "" in *k*) fail=yes;; *) exit 1;; esac; \</i><br>
done &amp;&amp; test -z "$fail"<br>
making all in lib<br>
gmake[1]: Entering directory /usr/ports/graphics/sane/work/sane-1.00/lib'<br>
gmake[1]: Nothing to be done for ll'.<br>
gmake[1]: Leaving directory /usr/ports/graphics/sane/work/sane-1.00/lib'<br>
making all in sanei<br>
gmake[1]: Entering directory /usr/ports/graphics/sane/work/sane-1.00/sanei'<br>
gmake[1]: Nothing to be done for ll'.<br>
gmake[1]: Leaving directory /usr/ports/graphics/sane/work/sane-1.00/sanei'<br>
gmake: *** [all-recursive] Error 1<br>
*** Error code 2<br>
<p>
Stop.<br>
*** Error code 1<br>
<p>
Stop.<br>
*** Error code 1<br>
<p>
Stop.<br>
*** Error code 1<br>
<p>
Stop.<br>
 <br>
<p>
Thanks<br>
Rick<br>
<p>
<pre>
-- 
Rick Knebel
<a href="mailto:rknebel@uplink.net">rknebel@uplink.net</a>
<a href="http://woodstock.csrlink.net/~bknebel">http://woodstock.csrlink.net/~bknebel</a>
<p>
Soon to be <a href="http://rknebel.uplink.net">http://rknebel.uplink.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Oliver Rauch: "xsane-0.21 / gtk-1.2"</a>
<li> <b>Previous message:</b> <a href="0118.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0121.html">Oliver Rauch: "Re: sane install"</a>
<li> <b>Reply:</b> <a href="0121.html">Oliver Rauch: "Re: sane install"</a>
<!-- reply="end" -->
</ul>
