<!-- received="Tue Apr  6 21:09:05 1999 PDT" -->
<!-- sent="Tue, 6 Apr 1999 11:52:04 +0200 (CEST)" -->
<!-- name="Jan Braun" -->
<!-- email="Jan.Braun@itm.tu-clausthal.de" -->
<!-- subject="Probs on RedHat-5.2-Linux on Sparc" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Probs on RedHat-5.2-Linux on Sparc</title>
<h1>Probs on RedHat-5.2-Linux on Sparc</h1>
<b>Jan Braun</b> (<a href="mailto:Jan.Braun@itm.tu-clausthal.de"><i>Jan.Braun@itm.tu-clausthal.de</i></a>)<br>
<i>Tue, 6 Apr 1999 11:52:04 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#125">[ date ]</a><a href="index.html#125">[ thread ]</a><a href="subject.html#125">[ subject ]</a><a href="author.html#125">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Scott Wells: "New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Previous message:</b> <a href="0124.html">Red Hat Linux User: "Help? Undefined Reference g_debug compiling xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
i tried to build SANE-1.0 and -0.72 on a SparcStation-10 running with<br>
RedHat-5.2 but it failed.<br>
<p>
Are there any hints, that SANE compiled on this platform.<br>
<p>
(I'm quite new on Sparc-Linux and not very familiar with compiling<br>
sources.)<br>
<p>
Thanks for your help in advance<br>
<p>
       Jan<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Scott Wells: "New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Previous message:</b> <a href="0124.html">Red Hat Linux User: "Help? Undefined Reference g_debug compiling xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
