<!-- received="Thu Apr  8 12:14:14 1999 PDT" -->
<!-- sent="Thu, 8 Apr 1999 21:15:27 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Link from SANE pages to Windows clients" -->
<!-- id="199904081915.VAA25989@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: Link from SANE pages to Windows clients</title>
<h1>Link from SANE pages to Windows clients</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Thu, 8 Apr 1999 21:15:27 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Scott Wells: "RE: Link from SANE pages to Windows clients"</a>
<li> <b>Previous message:</b> <a href="0147.html">Dr. Andreas Bolsch: "Re: Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Scott Wells: "RE: Link from SANE pages to Windows clients"</a>
<li> <b>Reply:</b> <a href="0149.html">Scott Wells: "RE: Link from SANE pages to Windows clients"</a>
<li> <b>Reply:</b> <a href="0152.html">Andreas Dilger: "Re: Link from SANE pages to Windows clients"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There should be a link from the SANE web pages<br>
&lt;URL:<a href="http://www.mostang.com/sane/sane-frontends.html">http://www.mostang.com/sane/sane-frontends.html</a>&gt; to the windows<br>
clients.<br>
<p>
  WinSANE 0.0.0.0<br>
   &lt;URL:<a href="http://www.sunshinecomputing.com/winsane/">http://www.sunshinecomputing.com/winsane/</a>&gt;<br>
<p>
  WinSANE 0.9 / TWAIN driver<br>
   &lt;URL:<a href="http://integramicro.com/winsane/">http://integramicro.com/winsane/</a>&gt;<br>
<p>
Have anyone gotten these to work?  Which scanners / OSes?<br>
<p>
BTW:  Why are these peoples not cooperating, and why do they not work<br>
  from WinNT to an HP scanner. :-(<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Scott Wells: "RE: Link from SANE pages to Windows clients"</a>
<li> <b>Previous message:</b> <a href="0147.html">Dr. Andreas Bolsch: "Re: Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Scott Wells: "RE: Link from SANE pages to Windows clients"</a>
<li> <b>Reply:</b> <a href="0149.html">Scott Wells: "RE: Link from SANE pages to Windows clients"</a>
<li> <b>Reply:</b> <a href="0152.html">Andreas Dilger: "Re: Link from SANE pages to Windows clients"</a>
<!-- reply="end" -->
</ul>
