<!-- received="Thu Apr  8 15:17:36 1999 PDT" -->
<!-- sent="Thu, 8 Apr 1999 16:19:02 -0600 (MDT)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: Link from SANE pages to Windows clients" -->
<!-- id="199904082219.QAA01982@munet-d.enel.ucalgary.ca" -->
<!-- inreplyto="199904081915.VAA25989@lee.Cc.Uit.No" -->
<title>sane-devel: Re: Link from SANE pages to Windows clients</title>
<h1>Re: Link from SANE pages to Windows clients</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Thu, 8 Apr 1999 16:19:02 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Previous message:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<li> <b>In reply to:</b> <a href="0148.html">Petter Reinholdtsen: "Link from SANE pages to Windows clients"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Petter writes:<br>
<i>&gt;   WinSANE 0.0.0.0</i><br>
<i>&gt;    &lt;URL:<a href="http://www.sunshinecomputing.com/winsane/">http://www.sunshinecomputing.com/winsane/</a>&gt;</i><br>
<i>&gt; </i><br>
<i>&gt;   WinSANE 0.9 / TWAIN driver</i><br>
<i>&gt;    &lt;URL:<a href="http://integramicro.com/winsane/">http://integramicro.com/winsane/</a>&gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Have anyone gotten these to work?  Which scanners / OSes?</i><br>
<p>
I tried WinSANE 0.9, but couldn't get it to work.  The scanimage command-<br>
line worked fine, and the TWAIN driver appeared in the Adobe PhotoDeluxe<br>
menu, but the scanner never worked.  I have a UMAX 1220S/Linux + Win95.<br>
<p>
<i>&gt; BTW:  Why are these peoples not cooperating, and why do they not work</i><br>
<i>&gt;   from WinNT to an HP scanner. :-(</i><br>
<p>
I tried contacting the WinSANE 0.9 developer, but never a reply, and I<br>
don't think the program has been updated since it was initially created.<br>
<p>
I will have a look at 0.0.0.0, but IIRC, it does not have a TWAIN front-end.<br>
Thanks for the URL.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger   University of Calgary  \"If a man ate a pound of pasta and
                 Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \   cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>       hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Previous message:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<li> <b>In reply to:</b> <a href="0148.html">Petter Reinholdtsen: "Link from SANE pages to Windows clients"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
