<!-- received="Sun Apr 11 12:57:44 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 16:26:31 +0000" -->
<!-- name="Richard Kuhlbars" -->
<!-- email="kuhlbars@usa.net" -->
<!-- subject="GTK-Critical error with sane 1.01 pre4" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: GTK-Critical error with sane 1.01 pre4</title>
<h1>GTK-Critical error with sane 1.01 pre4</h1>
<b>Richard Kuhlbars</b> (<a href="mailto:kuhlbars@usa.net"><i>kuhlbars@usa.net</i></a>)<br>
<i>Sun, 11 Apr 1999 16:26:31 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#190">[ date ]</a><a href="index.html#190">[ thread ]</a><a href="subject.html#190">[ subject ]</a><a href="author.html#190">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0189.html">Richard Kuhlbars: "Solved: Compile Error with sane 1.01 pre4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have one minor problem which probably has something to do with the<br>
beta version.  After my scan is finshed (Adaptec 1505 w/Snapscan 600) I<br>
get the following error message:<br>
<p>
Gtk-CRITICAL **: file gtkprogress.c: line 518<br>
(gtk_progress_set_percentage): assertion `percentage &gt;= 0 &amp;&amp; percentage<br>
&lt;= 1.0' failed.<br>
<p>
Doesn't seem to hurt anything, but doesn't look nice.<br>
<p>
Regards<br>
Richard<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0189.html">Richard Kuhlbars: "Solved: Compile Error with sane 1.01 pre4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
