<!-- received="Sun Apr 11 13:17:32 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 13:17:30 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: updated RPM packages" -->
<!-- id="199904112017.NAA04745@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.4.10.9904100013510.7516-100000@bastion.nl3155vj16.vanderkooij.org" -->
<title>sane-devel: Re: updated RPM packages</title>
<h1>Re: updated RPM packages</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 11 Apr 1999 13:17:30 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Ruggero Valetti: "Scanner list update"</a>
<li> <b>Previous message:</b> <a href="0191.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Hugo,<br>
<p>
Thanks for updating the RPMS!  I plan to copy them to ftp.mostang.com<br>
as soon as I get access to the machine again ("ftp" is hosted by Red<br>
Hat).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Ruggero Valetti: "Scanner list update"</a>
<li> <b>Previous message:</b> <a href="0191.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
