<!-- received="Mon Apr 12 15:12:30 1999 PDT" -->
<!-- sent="Tue, 13 Apr 1999 00:13:13 +0200 (MEST)" -->
<!-- name="Jochen Baltes" -->
<!-- email="jbaltes@rhrk.uni-kl.de" -->
<!-- subject="Re: Mustek1200SP Firmware-1.05 same with FW-1.2" -->
<!-- id="" -->
<!-- inreplyto="37112A5C.A4FBE68A@flashnet.it" -->
<title>sane-devel: Re: Mustek1200SP Firmware-1.05 same with FW-1.2</title>
<h1>Re: Mustek1200SP Firmware-1.05 same with FW-1.2</h1>
<b>Jochen Baltes</b> (<a href="mailto:jbaltes@rhrk.uni-kl.de"><i>jbaltes@rhrk.uni-kl.de</i></a>)<br>
<i>Tue, 13 Apr 1999 00:13:13 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Laurent GRAWET: "Re: Which libraries are needed to compile ?"</a>
<li> <b>Previous message:</b> <a href="0213.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; Did anyone get a Mustek 1200SP / 12000SP with firmware 1.05 to work?</i><br>
<i>&gt; &gt; A neigbour saind he had the following problems:</i><br>
<i>&gt; &gt;  - scan time 10-60 times the time the windows driver needs</i><br>
<i>&gt; &gt;  - in lineart is ok only in some resolutions</i><br>
<i>&gt; &gt;  - colormode gives very bad results in all resolutions, but the</i><br>
<i>&gt; &gt; quality changes with the resolution</i><br>
<i>&gt; </i><br>
<i>&gt; I repeat:</i><br>
<i>&gt; </i><br>
<i>&gt; long time of scanning</i><br>
<i>&gt; lineart is ok</i><br>
<i>&gt; gray is ok</i><br>
<i>&gt; color: strange images with strange colors.</i><br>
<p>
<p>
I have the same problems with the Scanner "Paragon 1200SP" or "12000SP"<br>
form MUSTEK with the Firmware 1.2. In the How-to is anything wrote of<br>
color-problems but with "?".<br>
I thing there is the same problem.<br>
Did somebody has got an MUSTEK-Scanner with Firmware 1.7. Perhaps I can<br>
update the EEprom when I have the code.<br>
MUSTEK knows nothing about an update.<br>
<p>
I 've got the Controller-Card that comes with the Scanner: DTC 3181e.<br>
With Linux you can do something else with your computer, there is no<br>
break like in Windows (you can't move the mouse there).<br>
But the scan-process is with some pauses. In these pauses the light-line<br>
turn back a little bit and scan goes on. <br>
I see this phenomene in grey and color mode.<br>
<p>
<p>
grey is good (no differences in quality to the Windows-Scan,<br>
              perhapsscan-time is higher)<br>
but in color-mode at this areas are breaked lines, and color is blue or<br>
yellow but not true.<br>
<p>
In resolution 18 (prescan) no lines are there and color is good.<br>
But with higher resolution the lines get more.<br>
<p>
I 've got all three options for MUSTEK-Scanner enable.<br>
<p>
thank you<br>
<p>
<p>
bye<br>
Jochen<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Laurent GRAWET: "Re: Which libraries are needed to compile ?"</a>
<li> <b>Previous message:</b> <a href="0213.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
