<!-- received="Mon Apr 19 02:38:08 1999 PDT" -->
<!-- sent="Mon, 19 Apr 1999 11:36:41 +0200 (MET DST)" -->
<!-- name="Jerome ALET" -->
<!-- email="alet@unice.fr" -->
<!-- subject="Re: May I help you ?" -->
<!-- id="" -->
<!-- inreplyto="199904190914.LAA00498@lee.Cc.Uit.No" -->
<title>sane-devel: Re: May I help you ?</title>
<h1>Re: May I help you ?</h1>
<b>Jerome ALET</b> (<a href="mailto:alet@unice.fr"><i>alet@unice.fr</i></a>)<br>
<i>Mon, 19 Apr 1999 11:36:41 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Petter Reinholdtsen: "HP/UX installation patch for sane 1.01pre5"</a>
<li> <b>Previous message:</b> <a href="0248.html">Petter Reinholdtsen: "Re: May I help you ?"</a>
<li> <b>In reply to:</b> <a href="0248.html">Petter Reinholdtsen: "Re: May I help you ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 19 Apr 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; [Jerome Alet]</i><br>
<i>&gt; &gt; I want to know where I should begin to add support for these</i><br>
<i>&gt; &gt; scanners into Sane ? I've read in the archive of this list that</i><br>
<i>&gt; &gt; support for 1236 seems to exist but nothing is said about the 1236S.</i><br>
<i>&gt; </i><br>
<i>&gt; The patch really supports 1236S.  I just failed to notice the S in my</i><br>
<i>&gt; first try. :-)</i><br>
<i>&gt; Fetch the latest prerelease (1.01pre5), and try it.  The snapscan</i><br>
<i>&gt; backend should there support 1236S.</i><br>
<p>
OK, so I'll try this and give you feedback if I encounter any problem.<br>
<p>
Thanks.<br>
<p>
<i>&gt; &gt; May I try to help you or drivers already exist for these 2 scanners.</i><br>
<i>&gt; I know nothing about the FilmScan scanner.</i><br>
<p>
It's difficult to explain it in english, sorry, especially because my user<br>
manual is in french. However maybe you should take a look at:<br>
<p>
<a href="http://www.epson.co.uk/support/manuals/pdf/scanner/filmscan_200_user_guide.pdf">http://www.epson.co.uk/support/manuals/pdf/scanner/filmscan_200_user_guide.pdf</a><br>
<p>
to see what it looks like.<br>
<p>
I can do tests if you want but I'm not familiar with the Sane code so I<br>
don't think I'll be able to write a driver on my own, however I really<br>
want to help.<br>
<p>
thanks a lot.<br>
<p>
bye.<br>
Jerome ALET <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Petter Reinholdtsen: "HP/UX installation patch for sane 1.01pre5"</a>
<li> <b>Previous message:</b> <a href="0248.html">Petter Reinholdtsen: "Re: May I help you ?"</a>
<li> <b>In reply to:</b> <a href="0248.html">Petter Reinholdtsen: "Re: May I help you ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
