<!-- received="Mon Apr 19 21:58:27 1999 PDT" -->
<!-- sent="Mon, 19 Apr 1999 21:58:23 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Silly question?" -->
<!-- id="199904200458.VAA18984@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.4.10.9904171913290.28553-100000@bastion.nl3155vj16.vanderkooij.org" -->
<title>sane-devel: Re: Silly question?</title>
<h1>Re: Silly question?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 19 Apr 1999 21:58:23 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#264">[ date ]</a><a href="index.html#264">[ thread ]</a><a href="subject.html#264">[ subject ]</a><a href="author.html#264">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0263.html">David Mosberger-Tang: "Re: latest beta finally available!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Reply:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 17 Apr 1999 19:22:16 +0200 (CEST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<p>
  Hugo&gt; [hp] scsi_new: open failed (Invalid argument)<br>
  Hugo&gt; [hp] scsi: Can't open scsi device<br>
<p>
Looks like something is wrong with the device name.  What's in your<br>
hp.conf?<br>
<p>
BTW: Peter, how about printing the device name as part of this error<br>
message?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0263.html">David Mosberger-Tang: "Re: latest beta finally available!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Reply:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
