<!-- received="Tue Apr 20 08:17:20 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 15:17:57 +0000" -->
<!-- name="Luca Del Signore" -->
<!-- email="lucadels@tin.it" -->
<!-- subject="Re: at3 + ava 1505 again..." -->
<!-- id="" -->
<!-- inreplyto="at3 + ava 1505 again..." -->
<title>sane-devel: Re: at3 + ava 1505 again...</title>
<h1>Re: at3 + ava 1505 again...</h1>
<b>Luca Del Signore</b> (<a href="mailto:lucadels@tin.it"><i>lucadels@tin.it</i></a>)<br>
<i>Tue, 20 Apr 1999 15:17:57 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#267">[ date ]</a><a href="index.html#267">[ thread ]</a><a href="subject.html#267">[ subject ]</a><a href="author.html#267">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0268.html">Roderick Klein: "Re: SCANPORT Support planned ??"</a>
<li> <b>Previous message:</b> <a href="0266.html">Milon Firikis: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<li> <b>Maybe in reply to:</b> <a href="0255.html">Luca Del Signore: "at3 + ava 1505 again..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Irvin Probst wrote:<br>
<i>&gt; </i><br>
<i>&gt; Have you try scanimage -d driver_name:/dev/device_of_the_scanner ?</i><br>
<i>&gt; </i><br>
<i>&gt; For example with my Epson GT5500 it is</i><br>
<i>&gt; </i><br>
<i>&gt; scanimage -d epson:/dev/scanner  where /dev/scanner is a link to /dev/sga</i><br>
<p>
Yes i tried scanimage -d artec:/dev/scanner but the result is the same:<br>
everything freezes<br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt;                                 Irvin Probst</i><br>
<i>&gt; Micro$oft is not the answer, Micro$oft is the question and the answer is Linux</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0268.html">Roderick Klein: "Re: SCANPORT Support planned ??"</a>
<li> <b>Previous message:</b> <a href="0266.html">Milon Firikis: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<li> <b>Maybe in reply to:</b> <a href="0255.html">Luca Del Signore: "at3 + ava 1505 again..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
