<!-- received="Tue Apr 20 08:26:56 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 09:05:03 -0100" -->
<!-- name="Roderick Klein" -->
<!-- email="rwklein@wxs.nl" -->
<!-- subject="Re: SCANPORT Support planned ??" -->
<!-- id="" -->
<!-- inreplyto="SCANPORT Support planned ??" -->
<title>sane-devel: Re: SCANPORT Support planned ??</title>
<h1>Re: SCANPORT Support planned ??</h1>
<b>Roderick Klein</b> (<a href="mailto:rwklein@wxs.nl"><i>rwklein@wxs.nl</i></a>)<br>
<i>Tue, 20 Apr 1999 09:05:03 -0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#268">[ date ]</a><a href="index.html#268">[ thread ]</a><a href="subject.html#268">[ subject ]</a><a href="author.html#268">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Allan Jensen: "Mustek scanner 12000CX"</a>
<li> <b>Previous message:</b> <a href="0267.html">Luca Del Signore: "Re: at3 + ava 1505 again..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Anthony W. Henry wrote:<br>
<i>&gt; </i><br>
<i>&gt; I currently have a Scanport SQ-2400 SCSI scanner.  This scanner is the</i><br>
<i>&gt; only thing keeping Windows 95 on my harddrive.</i><br>
<i>&gt; </i><br>
<i>&gt;   I have been contemplating buying a scanner on</i><br>
<i>&gt; your supported list but the scanport does the job I want it for.</i><br>
<i>&gt; </i><br>
<i>&gt;    What I would like to know is if their is any development</i><br>
<i>&gt; work being done on Scanport scanners for SANE.   If any</i><br>
<i>&gt; work is being done I may decide to wait. (been waiting for</i><br>
<i>&gt; almost 2 yrs now :)    Otherwise I may have to budget for a new scanner</i><br>
<i>&gt; and try to get $50.00 or so out of this scanport used.</i><br>
<i>&gt; </i><br>
<i>&gt;     I am interested into going to a UNIX only system and your</i><br>
<i>&gt; project is my great hope for doing that.    (I had barely</i><br>
<i>&gt; installed Linux when I bought the scanport.  I have since gotten</i><br>
<i>&gt; software for everything I do running under Linux.)</i><br>
<i>&gt; </i><br>
<i>&gt;      If I do decide to buy a new scanner what is the **BEST**</i><br>
<i>&gt; supported scanner for SANE that is still readily available on</i><br>
<i>&gt; the market ??</i><br>
<i>&gt; </i><br>
 <br>
<p>
Big change that is not an scanport but a more famous brand. The hus just<br>
been changed. OEM resell I think. Look at the FCC number, go to<br>
www.fcc.gov and search the database. When you found the manufactor goto<br>
altavista or infoseek and enter the name. There is very big change that<br>
you will end up in a site somewhere in Taiwan.<br>
<p>
Why al this trouble well you may just be able to use your scanner with<br>
an backend that has already been made. I have a Trust scanner and did<br>
the same think as described. I found that my trust 2400SP is a scanner<br>
from teco information products. It does not work with SANE.<br>
<p>
Good Luck<br>
<p>
Greetings Roderick Klein<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Allan Jensen: "Mustek scanner 12000CX"</a>
<li> <b>Previous message:</b> <a href="0267.html">Luca Del Signore: "Re: at3 + ava 1505 again..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
