<!-- received="Tue Apr 20 22:31:17 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 22:31:15 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="SANE v1.0.1 released" -->
<!-- id="199904210531.WAA00769@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE v1.0.1 released</title>
<h1>SANE v1.0.1 released</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 20 Apr 1999 22:31:15 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#284">[ date ]</a><a href="index.html#284">[ thread ]</a><a href="subject.html#284">[ subject ]</a><a href="author.html#284">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0285.html">Brian Macy: "Anonymous CVS..."</a>
<li> <b>Previous message:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
All right, SANE v1.0.1 has finally been released.  It can be found<br>
at <a href="ftp://ftp.mostang.com/pub/sane/:">ftp://ftp.mostang.com/pub/sane/:</a><br>
<p>
  -rw-r--r--       1172 Apr 21 20:48 sane-1.0.1.lsm<br>
  -rw-r--r--     996384 Apr 21 20:48 sane-1.0.1.tar.gz<br>
  -rw-r--r--     199893 Apr 21 20:48 sane-1.00-1.0.1.diff.gz<br>
<p>
Hopefully, not too many bugs crept in this time (knock on wood...).<br>
<p>
Thanks to Ingo Wilken of the Computer Science department of the<br>
University of Oldenburg, there is now an ftp mirror in Germany.  To<br>
reach it, simply go to ftp.de.mostang.com (instead of<br>
ftp.mostang.com).  Note that it may take a day or so until the mirror<br>
is in sync with ftp.mostang.com.  If others want to setup a similar<br>
mirror for other countries, just send me the domain name.  For this to<br>
work reasonably, it should be possible to find SANE in directory<br>
/pub/sane/ and the mirror should be updated at least once a day.<br>
<p>
A list of the most important changes since SANE v1.00 is appended<br>
below.  Thanks to everyone who contributed to this release!<br>
<p>
Enjoy,<br>
<p>
	--david<br>
<p>
-*-Mode: outline-*-<br>
New with 1.01:<br>
<p>
* Miscellaneous<br>
   o configure --disable-shared works again<br>
   o scanimage -T testing option added (by Nick Lamb)<br>
   o in dll.conf, the pnm, dc25, and dc210 backends are now disabled<br>
     (commented out) by default.  The net backend is now enabled by<br>
     default.  The pnm backend has been disabled as it often proved<br>
     confusing to novice users.  The dc25 and dc210 backends were<br>
     disabled because they initialize very slowly if no camera is<br>
     attached.<br>
   o Downgraded PNM backend to the version shipped with SANE 0.74.<br>
     The scan area options as implemented in SANE 1.00 were<br>
     incorrectly implemented which made the backend unreliable.<br>
<p>
* New tool to turn off Mustek 600 II N scanner (by Andreas Czechanowski)<br>
   o the new binary tools/mustk600iin-off allows to turn off a<br>
     Mustek 600 II N scanner (note: you'll need to install this tool<br>
     manually if you want it)<br>
<p>
* New backend for Sharp scanners (by FUKUDA Kazuya &amp; Abel Deuring)<br>
   o supports the Sharp JX-610, JX-250, and JX-330 SCSI scanner<br>
   o preview/lineart/haftone/threshold are untested<br>
<p>
* Updated Kodak DC25 backend (by Peter Fales).<br>
<p>
* Updated HP backend (by Peter Kirchgessner)<br>
   o New features:<br>
	- Option 'unload after scan' for PhotoScanner<br>
	- Manual page sane-hp updated<br>
	- hp.desc updated<br>
<p>
   o Bugfixes:<br>
	- Adjustable scan size for scan from ADF<br>
	- No blanks in command line options<br>
	- Segmentation fault for starting scanimage -d hp:/dev/sg0<br>
	  without /dev/sgo in hp.conf<br>
<p>
  Scanning from the ADF therefore should work now.<br>
<p>
* Updated Microtek backend (by Matto Marjanovic)<br>
   o Fixed off-by-1 error in revision-number parsing. <br>
   o dump_inquiry() now prints the "Vendor Specific String". <br>
   o Added model code/vendor name for the other 600ZS. <br>
   o Made get_scan_status() retry delay increase with each try (will<br>
     this help the poor 600ZS?). <br>
   o Corrected base resolution for Agfa StudioScan II/IIsi (400dpi). <br>
   o Disabled backend's clever aspect-ratio correction code for<br>
     expanded-mode scans with StudioScan II/IIsi (scanner handles it<br>
     internally - smart scanner.) <br>
   o Fixed gamma LUT code parsing stupidity: now correctly<br>
     determines maximum allowed LUT size, and uses it. (Especially<br>
     necessary for StudioScan II/IIsi.) <br>
   o The E6 claims to only support 256-byte LUT's, but the backend<br>
     now ignores that misinformation (and uses 1024). <br>
   o Now ignores denial of expanded-mode by older E6's (model code<br>
     0x63), in addition to newer E6's. <br>
<p>
* Updated Microtek2 backend (by Bernd Schroeder)<br>
   o Added support for non-blocking I/O.<br>
   o Preliminary support for a strip and a slide mode.<br>
   o For people, who are annoyed, if the the scanhead moves back and fourth<br>
     during a scan (backtracking): There is a new option 'disable<br>
     backtracking'. At present this option must be activated by<br>
     uncommenting the respective entry in the included microtek2.conf<br>
     file. This is an advanced option.<br>
   o The X6EL should no longer produce pixel junk after one successful scan.<br>
<p>
* Updated Mustek backend (by Andreas Bolsch)<br>
   o larger buffer acquired (speeds up scanning slightly)<br>
   o for SE models minimal resolution increased from 60 dpi to 75 dpi<br>
   o for SE models 75 dpi in color mode is no longer used as the newer<br>
     firware version seems to be even more buggy<br>
   o bug in calculation of gamma table corrected (applies only to SE models,<br>
     NOT related to the overflow problem which was corrected via CLIP( ) )<br>
   o default resolution is now set according to the minimal resolution<br>
     (firmware dependent)<br>
   o for SE models all unsupported options (speed, ... ) explicitly  disabled<br>
<p>
* Updated Nikon Coolscan backend (by Didier Carlier)<br>
   o Reverse the pixel order for the LS-1000.<br>
<p>
* Updated snapscan backend to v0.6 (by Kevin Charter and Petter Reinholdtsen)<br>
   o Fixes the versioning problem.<br>
   o Add support for SnapScan 1236s (should also work for SnapScan 600).<br>
<p>
* Updated UMAX backend (by Oliver Rauch)<br>
   o Added support for Linotype Hell Saphir 2<br>
   o Changed bug in gray gamma data conversion<br>
   o Added support for Nikon AX-210<br>
   o Added "Vista S-6E" as supported<br>
   o Added PowerLook-II (PL-II) as supported<br>
   o Added Astra 600S as supported<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0285.html">Brian Macy: "Anonymous CVS..."</a>
<li> <b>Previous message:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
