<!-- received="Thu Apr 22 14:33:36 1999 PDT" -->
<!-- sent="Thu, 22 Apr 1999 22:33:29 +0100 (BST)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Star Office and scanner" -->
<!-- id="" -->
<!-- inreplyto="Pine.GSO.3.96L.990422145200.9515A-100000@unixs-eval.cis.pitt.edu" -->
<title>sane-devel: Re: Star Office and scanner</title>
<h1>Re: Star Office and scanner</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Thu, 22 Apr 1999 22:33:29 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#303">[ date ]</a><a href="index.html#303">[ thread ]</a><a href="subject.html#303">[ subject ]</a><a href="author.html#303">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0304.html">Fernando Segura: "DC-120"</a>
<li> <b>Previous message:</b> <a href="0302.html">Paul Jakma: "Re: Star Office and scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 22 Apr 1999, Rob Fargher wrote:<br>
<i>&gt;   I installed StarOffice for Linux recently  and was playing around</i><br>
<i>&gt; with it.  In the drawing component, in one of the pull-down menus was</i><br>
<i>&gt; an option for scanning.  I clicked on it, not expecting much as I</i><br>
<i>&gt; hadn't told StarOffice about my scanner or about Sane.</i><br>
<p>
On Thu, 22 Apr 1999, Phillip W Ross wrote:<br>
<i>&gt; 	I'm definately impressed!  I think Staroffice could use a little</i><br>
<i>&gt; bit better documentation.  I'm probably not alone on this opinion.</i><br>
<p>
Does anyone know how StarOffice chooses to use SANE -- do they use a<br>
static collection of backends built in to their proprietary (?) frontend<br>
or do they use the dynamic linking features of SANE, and pull in the<br>
libs according to dll.conf? I initially assumed they had re-implemented<br>
SANE-net but the negative reports from people using a scanner on a<br>
remote machine with StarOffice suggest otherwise.<br>
<p>
Either way, if this is confirmed, the SANE web site should definitely<br>
add a pointer (after checking with StarOffice's manufacturers) saying<br>
"Look! SANE allows office productivity packages to work with any<br>
supported scanner -- from a single common interface"<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0304.html">Fernando Segura: "DC-120"</a>
<li> <b>Previous message:</b> <a href="0302.html">Paul Jakma: "Re: Star Office and scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
