<!-- received="Fri Apr 23 00:04:47 1999 PDT" -->
<!-- sent="Fri, 23 Apr 1999 00:11:35 -0700 (PDT)" -->
<!-- name="Alex Belits" -->
<!-- email="abelits@phobos.illtel.denver.co.us" -->
<!-- subject="Re: Star Office and scanner" -->
<!-- id="" -->
<!-- inreplyto="199904230654.XAA09238@panda.mostang.com" -->
<title>sane-devel: Re: Star Office and scanner</title>
<h1>Re: Star Office and scanner</h1>
<b>Alex Belits</b> (<a href="mailto:abelits@phobos.illtel.denver.co.us"><i>abelits@phobos.illtel.denver.co.us</i></a>)<br>
<i>Fri, 23 Apr 1999 00:11:35 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#320">[ date ]</a><a href="index.html#320">[ thread ]</a><a href="subject.html#320">[ subject ]</a><a href="author.html#320">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0321.html">Ole W. Saastad: "Scanning and interpolation"</a>
<li> <b>Previous message:</b> <a href="0319.html">David Mosberger-Tang: "Re: Star Office and scanner"</a>
<li> <b>In reply to:</b> <a href="0319.html">David Mosberger-Tang: "Re: Star Office and scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0327.html">Yuri Dario: "Re: Star Office and scanner"</a>
<li> <b>Next in thread:</b> <a href="0326.html">Milon Firikis: "Re: Star Office and scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 22 Apr 1999, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Quite possible.  But very confusing.  How is a Linux user supposed to</i><br>
<i>&gt; know what TWAIN is?? ;-))</i><br>
<p>
---8&lt;---<br>
TWAIN<br>
<p>
TWAIN represents a standard software protocol and application programming<br>
interface (API) for the communication between devices, that can process<br>
digital picture's data, such as scanners, digitale cameras and software.<br>
TWAIN stands for "technolgy without an important name". Most scanners are<br>
provided with the respective TWAIN drivers thus enabling the communication<br>
with it.<br>
<p>
Presently, the TWAIN protocol is only supported in the Windows versions.<br>
On UNIX platforms, StarOffice is supporting the SANE standard, see<br>
<a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>.<br>
---&gt;8---<br>
<p>
<pre>
-- 
Alex
<p>
----------------------------------------------------------------------
 Excellent.. now give users the option to cut your hair you hippie!
                                                  -- Anonymous Coward
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0321.html">Ole W. Saastad: "Scanning and interpolation"</a>
<li> <b>Previous message:</b> <a href="0319.html">David Mosberger-Tang: "Re: Star Office and scanner"</a>
<li> <b>In reply to:</b> <a href="0319.html">David Mosberger-Tang: "Re: Star Office and scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0327.html">Yuri Dario: "Re: Star Office and scanner"</a>
<li> <b>Next in thread:</b> <a href="0326.html">Milon Firikis: "Re: Star Office and scanner"</a>
<!-- reply="end" -->
</ul>
