<!-- received="Fri Apr 23 07:18:49 1999 PDT" -->
<!-- sent="Fri, 23 Apr 1999 09:27:34 -0500" -->
<!-- name="Josh Udall" -->
<!-- email="jaudall@students.wisc.edu" -->
<!-- subject="Re: sane and Agfa 1236s" -->
<!-- id="" -->
<!-- inreplyto="sane and Agfa 1236s" -->
<title>sane-devel: Re: sane and Agfa 1236s</title>
<h1>Re: sane and Agfa 1236s</h1>
<b>Josh Udall</b> (<a href="mailto:jaudall@students.wisc.edu"><i>jaudall@students.wisc.edu</i></a>)<br>
<i>Fri, 23 Apr 1999 09:27:34 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#330">[ date ]</a><a href="index.html#330">[ thread ]</a><a href="subject.html#330">[ subject ]</a><a href="author.html#330">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0331.html">Rick Frank: "SANE on MacOS, MacOS X ?"</a>
<li> <b>Previous message:</b> <a href="0329.html">Brian Macy: "Network scanner over low bandwidth...."</a>
<li> <b>Maybe in reply to:</b> <a href="0310.html">Josh Udall: "sane and Agfa 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;</i><br>
<i>&gt; &gt; after "make install" (as root of course)</i><br>
<i>&gt; &gt; I get a loop in the install script. see below.</i><br>
<i>&gt; </i><br>
<i>&gt; It doesn't look like a loop to me. You go through the installation</i><br>
<i>&gt; of a number of backends, from abaton to canon; there is a similar</i><br>
<i>&gt; message printed at the end of each backend install. You wouldn't</i><br>
<i>&gt; find any devices if you interrupted the install here, because the</i><br>
<i>&gt; backend for your scanner is the snapscan backend, which is quite</i><br>
<i>&gt; far down on the list.</i><br>
<i>&gt; </i><br>
<i>&gt; Try letting the install finish and running scanimage again.</i><br>
<p>
I recompiled and did make install again.  Thanks for setting<br>
me straight.  However, scanimage still does not detect any<br>
devices.  All help is appreciated.<br>
<p>
[udall@SoLiTUDE sane-1.0.1]$ frontend/scanimage -T<br>
scanimage: no SANE devices found<br>
[udall@SoLiTUDE sane-1.0.1]$ frontend/scanimage -L<br>
[udall@SoLiTUDE sane-1.0.1]$ <br>
[udall@SoLiTUDE sane-1.0.1]$ frontend/scanimage --help -d<br>
pnm:0<br>
Usage: scanimage [OPTION]...<br>
.....<br>
Type ``scanimage --help -d DEVICE'' to get list of all<br>
options for DEVICE.<br>
<p>
List of available devices:<br>
    pnm:0 pnm:1<br>
[udall@SoLiTUDE sane-1.0.1]$ <br>
<p>
<p>
Thanks <br>
<p>
Josh<br>
<p>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I added /usr/local/lib/sane to my ld.so.conf then ran</i><br>
<i>&gt; &gt; ldconfig.</i><br>
<i>&gt; &gt; When I try scanimage, I get :</i><br>
<i>&gt; &gt; scanimage: no SANE devices found</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; How do I tell my machine there's a new? device.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I'm using an adaptec 1542 ISA Scsi card - it is built in my</i><br>
<i>&gt; &gt; kernel.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Kevin</i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0331.html">Rick Frank: "SANE on MacOS, MacOS X ?"</a>
<li> <b>Previous message:</b> <a href="0329.html">Brian Macy: "Network scanner over low bandwidth...."</a>
<li> <b>Maybe in reply to:</b> <a href="0310.html">Josh Udall: "sane and Agfa 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
