<!-- received="Sat Apr 24 09:55:07 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 21:54:56 +0500" -->
<!-- name="Faisal Nasim" -->
<!-- email="swiftkid@bigfoot.com" -->
<!-- subject="Re: Where is ScanImage in the RPM?" -->
<!-- id="" -->
<!-- inreplyto="Where is ScanImage in the RPM?" -->
<title>sane-devel: Re: Where is ScanImage in the RPM?</title>
<h1>Re: Where is ScanImage in the RPM?</h1>
<b>Faisal Nasim</b> (<a href="mailto:swiftkid@bigfoot.com"><i>swiftkid@bigfoot.com</i></a>)<br>
<i>Sat, 24 Apr 1999 21:54:56 +0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#345">[ date ]</a><a href="index.html#345">[ thread ]</a><a href="subject.html#345">[ subject ]</a><a href="author.html#345">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0346.html">becka@rz.uni-duesseldorf.de: "Re: Scanning and interpolation"</a>
<li> <b>Previous message:</b> <a href="0344.html">Nick Lamb: "Re: lineart vrs greyscale"</a>
<li> <b>Maybe in reply to:</b> <a href="0336.html">Faisal Nasim: "Where is ScanImage in the RPM?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
All I gotta say is, "Whooops" :)<br>
<p>
Oh yeah and "Thanx alot" too.<br>
<p>
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=<br>
Faisal Nasim (the Whiz Kid)<br>
Web: <a href="http://wss.hypermart.net/">http://wss.hypermart.net/</a><br>
AOL: Whiz Swift<br>
ICQ: 4265451<br>
FAX: (815) 846-2877<br>
----- Original Message -----<br>
From: Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt;<br>
To: &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt;<br>
Sent: Saturday, April 24, 1999 6:53 PM<br>
Subject: Re: Where is ScanImage in the RPM?<br>
<p>
<p>
<i>&gt;On Sat, 24 Apr 1999, Faisal Nasim wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; Hi,</i><br>
<i>&gt;&gt;</i><br>
<i>&gt;&gt; I download the latest RPM 1.01 (i guess), but where is scanimage?</i><br>
<i>&gt;</i><br>
<i>&gt;Did you download the clients?</i><br>
<i>&gt;</i><br>
<i>&gt;The SANE RPM consists of 3 packages:</i><br>
<i>&gt; SANE The core thing with all backends</i><br>
<i>&gt; SANE-CLIENTS The clients like xcam, scanimage and xscanimage</i><br>
<i>&gt; SANE-DEVEL The development stuff</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; Will it work with my HP 5p Flatbed scanner?</i><br>
<i>&gt;</i><br>
<i>&gt;It does with mine.</i><br>
<i>&gt;</i><br>
<i>&gt;Hugo.</i><br>
<i>&gt;</i><br>
<i>&gt;        +------------------------+------------------------------+</i><br>
<i>&gt;        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>&gt;        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>&gt;        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
<i>&gt;        +------------------------+------------------------------+</i><br>
<i>&gt;    "Computers let you make more mistakes faster than any other invention</i><br>
in<br>
<i>&gt;      human history, with the possible exception of handguns and tequila."</i><br>
<i>&gt;                (Mitch Radcliffe)</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0346.html">becka@rz.uni-duesseldorf.de: "Re: Scanning and interpolation"</a>
<li> <b>Previous message:</b> <a href="0344.html">Nick Lamb: "Re: lineart vrs greyscale"</a>
<li> <b>Maybe in reply to:</b> <a href="0336.html">Faisal Nasim: "Where is ScanImage in the RPM?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
