<!-- received="Sun Apr 25 05:46:52 1999 PDT" -->
<!-- sent="Sun, 25 Apr 1999 20:48:24 +0800" -->
<!-- name="EiNiD" -->
<!-- email="einid@tm.net.my" -->
<!-- subject="How to config my HP Scanjet 4p to work with SANE ?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: How to config my HP Scanjet 4p to work with SANE ?</title>
<h1>How to config my HP Scanjet 4p to work with SANE ?</h1>
<b>EiNiD</b> (<a href="mailto:einid@tm.net.my"><i>einid@tm.net.my</i></a>)<br>
<i>Sun, 25 Apr 1999 20:48:24 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#354">[ date ]</a><a href="index.html#354">[ thread ]</a><a href="subject.html#354">[ subject ]</a><a href="author.html#354">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0353.html">Brian Macy: "Re: lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Reply:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi everybody...<br>
<p>
i'm very new at this..<br>
<p>
i've downloaded SANE and install it on my pc.. now.. how do i config it<br>
to work with my HP Scanjet 4p ?<br>
<p>
the SCSI device is the one that comes with the scanner which is Symbios<br>
Logic 53C400A (HP Version ) SCSI Adapter.<br>
<p>
so how am i going to load the SCSI driver ??<br>
<p>
i hope somebody would guide me...<br>
<p>
thank you in advance...<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0353.html">Brian Macy: "Re: lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Reply:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<!-- reply="end" -->
</ul>
