<!-- received="Thu Apr 29 11:24:17 1999 PDT" -->
<!-- sent="Thu, 29 Apr 1999 20:18:12 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: HP ScanJet Plus" -->
<!-- id="" -->
<!-- inreplyto="HP ScanJet Plus" -->
<title>sane-devel: Re: HP ScanJet Plus</title>
<h1>Re: HP ScanJet Plus</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Thu, 29 Apr 1999 20:18:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#410">[ date ]</a><a href="index.html#410">[ thread ]</a><a href="subject.html#410">[ subject ]</a><a href="author.html#410">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0411.html">Russell W. Behne: "Re: HP ScanJet Plus"</a>
<li> <b>Previous message:</b> <a href="0409.html">Hugo van der Kooij: "Re: HP ScanJet Plus"</a>
<li> <b>Maybe in reply to:</b> <a href="0403.html">Russell W. Behne: "HP ScanJet Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Russell W. Behne" wrote:<br>
<i>&gt; </i><br>
<i>&gt; A friend just donated a HP ScanJet Plus to me, along with the Parallel</i><br>
<i>&gt; interface card, but no documentation.</i><br>
<i>&gt; </i><br>
<i>&gt; How can I create a /dev/hpscan for this card since none exists in the</i><br>
<i>&gt; /dev directory? I have no idea what the major and minor numbers should</i><br>
<i>&gt; be. Also, any other tips would be helpfull.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks,</i><br>
<i>&gt; Russ.</i><br>
<p>
Hi,<br>
<p>
there is a Linux driver available for the parallel card at<br>
<p>
<a href="ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan">ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan</a><br>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0411.html">Russell W. Behne: "Re: HP ScanJet Plus"</a>
<li> <b>Previous message:</b> <a href="0409.html">Hugo van der Kooij: "Re: HP ScanJet Plus"</a>
<li> <b>Maybe in reply to:</b> <a href="0403.html">Russell W. Behne: "HP ScanJet Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
