<!-- received="Fri Apr 30 08:24:26 1999 PDT" -->
<!-- sent="Fri, 30 Apr 1999 11:04:52 +0200" -->
<!-- name="Peter Teuchert" -->
<!-- email="petert@teuchert-datentechnik.de" -->
<!-- subject="sane 1.0.1" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 1.0.1</title>
<h1>sane 1.0.1</h1>
<b>Peter Teuchert</b> (<a href="mailto:petert@teuchert-datentechnik.de"><i>petert@teuchert-datentechnik.de</i></a>)<br>
<i>Fri, 30 Apr 1999 11:04:52 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#417">[ date ]</a><a href="index.html#417">[ thread ]</a><a href="subject.html#417">[ subject ]</a><a href="author.html#417">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0418.html">Wojciech Zabolotny: "Mustek parallel scanner Linux driver"</a>
<li> <b>Previous message:</b> <a href="0416.html">Rainer krienke: "SEGFAULT with sane 1.0.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0425.html">Milon Firikis: "Re: sane 1.0.1"</a>
<li> <b>Reply:</b> <a href="0425.html">Milon Firikis: "Re: sane 1.0.1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hello everybody.<br>
i'm new in the linux-world and have downloaded sane-1.0.1 recently.<br>
my scanner is a mustek MFS-12000CX - f/w 1.81 !!!!! the mustek.c-backend<br>
did not work with this scanner and i have changed this. so my questions<br>
are:<br>
what should i do to distribute this changes ?<br>
is there anybody interested in it ?<br>
many regards,<br>
peter.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0418.html">Wojciech Zabolotny: "Mustek parallel scanner Linux driver"</a>
<li> <b>Previous message:</b> <a href="0416.html">Rainer krienke: "SEGFAULT with sane 1.0.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0425.html">Milon Firikis: "Re: sane 1.0.1"</a>
<li> <b>Reply:</b> <a href="0425.html">Milon Firikis: "Re: sane 1.0.1"</a>
<!-- reply="end" -->
</ul>
