<!-- received="Tue Dec  2 15:10:29 1997 PST" -->
<!-- sent="2 Dec 1997 23:01:45 GMT" -->
<!-- name="Bas Vermeulen" -->
<!-- email="bvermeul@blackstar.xs4all.nl" -->
<!-- subject="Back-end for Ricoh RS322+" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Back-end for Ricoh RS322+</title>
<h1>Back-end for Ricoh RS322+</h1>
<b>Bas Vermeulen</b> (<a href="mailto:bvermeul@blackstar.xs4all.nl"><i>bvermeul@blackstar.xs4all.nl</i></a>)<br>
<i>2 Dec 1997 23:01:45 GMT</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">frees@technologist.com: "RE: Relysis"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I just got a Ricoh RS322+ A4 flatbed scanner (greyscale), and would like to<br>
know if this is supported by SANE. I checked out the distribution of sane,<br>
and couldn't find any mention of it.<br>
<p>
My question is: <br>
- Is there support for this scanner? (ie, is it compatible with any <br>
  protocol supported by sane)<br>
- If not, will it be hard to implement such a driver. (I already asked Ricoh<br>
  for information)<br>
<p>
Thank you all very much,<br>
<p>
Bas Vermeulen.<br>
<p>
<pre>
--
When I shop for hardware I always look for the "Designed for Windows 95" logo.
I really thank Microsoft(TM) for encouraging manufacturers to label their
products this way, so I know what to AVOID.
<p>
I stick to quality software:
<p>
Linux 2.0.31                        | IBM OS/2 Warp (TM) v4.0
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">frees@technologist.com: "RE: Relysis"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
