<!-- received="Wed Dec  3 03:09:43 1997 PST" -->
<!-- sent="Wed, 3 Dec 1997 12:09:22 +0100 (MET)" -->
<!-- name="Michael Burghart" -->
<!-- email="mb@suse.de" -->
<!-- subject="second SCSI controller.." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: second SCSI controller..</title>
<h1>second SCSI controller..</h1>
<b>Michael Burghart</b> (<a href="mailto:mb@suse.de"><i>mb@suse.de</i></a>)<br>
<i>Wed, 3 Dec 1997 12:09:22 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Wolfgang Jung: "Re: second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.68 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0006.html">Christoph Doerbeck: "Re: second SCSI controller.."</a>
<li> <b>Reply:</b> <a href="0006.html">Christoph Doerbeck: "Re: second SCSI controller.."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi...<br>
<p>
I just found out that SANE has problems recognizing a scanner attached to<br>
the second SCSI bus. SANE kept initializing the SCSI 0 bus...<br>
So, is there a way of attaching it to the second SCSI bus?<br>
<p>
gruesse<br>
-micha-<br>
<p>
<pre>
---
  Michael Burghart, S.u.S.E. GmbH, Gebhardtstr. 2, 90762 Fuerth, Germany
  Tel: +49-911-3247130 Mo/Do 13-18.00,	WWW: <a href="http://www.suse.de/">http://www.suse.de/</a>
  Fax: +49-911-3206727,					Email: <a href="mailto:mb@suse.de">mb@suse.de</a>
          [Error 23. Unable to locate /dev/reality. Universe Halted.]
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Wolfgang Jung: "Re: second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.68 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0006.html">Christoph Doerbeck: "Re: second SCSI controller.."</a>
<li> <b>Reply:</b> <a href="0006.html">Christoph Doerbeck: "Re: second SCSI controller.."</a>
<!-- reply="end" -->
</ul>
