<!-- received="Mon Dec  8 07:48:17 1997 PST" -->
<!-- sent="Mon, 8 Dec 1997 10:47:51 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: microtek scanmaker III,V,VI,A3 etcetera" -->
<!-- id="199712081547.KAA02907@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="microtek scanmaker III,V,VI,A3 etcetera" -->
<title>sane-devel: Re: microtek scanmaker III,V,VI,A3 etcetera</title>
<h1>Re: microtek scanmaker III,V,VI,A3 etcetera</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Mon, 8 Dec 1997 10:47:51 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Rogier Wolff: "Tamarack patch."</a>
<li> <b>Previous message:</b> <a href="0039.html">borm: "microtek scanmaker III,V,VI,A3 etcetera"</a>
<li> <b>Maybe in reply to:</b> <a href="0039.html">borm: "microtek scanmaker III,V,VI,A3 etcetera"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0053.html">Warren Early: "Re: microtek scanmaker III,V,VI,A3 etcetera"</a>
<li> <b>Reply:</b> <a href="0053.html">Warren Early: "Re: microtek scanmaker III,V,VI,A3 etcetera"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
(For anyone looking for Microtek backend <a href="news:">news:</a>  sorry to have been absent<br>
 for so long.  I'm just starting to process a backlog of e-mail.)<br>
<p>
Hey, Theo:  me, too.<br>
<p>
After spending copious amounts of time on the Microtek US tech support phone<br>
 lines (or 'line'), even after applying for the "Microtek Developer Program",<br>
 I have managed to get that same, inapplicable SCSI document *three* times.<br>
It is spooky --- as if their firmware was just deposited on someone's<br>
 desk by evil forces late one night.  My suspicion is that the only people<br>
 that might know about the E6/E3/III are hidden in the head office in Taiwan.<br>
*Someone* has to have the correct document *somewhere*, even as a dog-earred<br>
 old photocopy of a photocopy.<br>
<p>
If you or anyone else gets any insights into Microtek documentation, or just<br>
 the 10/12 bit modes, *please* pass them my way, and I'll incorporate them into<br>
 the backend.  I've pretty much exhausted the mtekscan source code.<br>
<p>
-Matt Marjanovic<br>
 maddog@mir.com<br>
<p>
ps:  <a href="http://www.vividata.com/scanshop.html">http://www.vividata.com/scanshop.html</a> seems to be a commercial program<br>
     which supports Microtek scanners (among others) on Unices.  They seem<br>
     to have free trial-periods, too.<br>
     Like I said, *someone* has the documentation.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Rogier Wolff: "Tamarack patch."</a>
<li> <b>Previous message:</b> <a href="0039.html">borm: "microtek scanmaker III,V,VI,A3 etcetera"</a>
<li> <b>Maybe in reply to:</b> <a href="0039.html">borm: "microtek scanmaker III,V,VI,A3 etcetera"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0053.html">Warren Early: "Re: microtek scanmaker III,V,VI,A3 etcetera"</a>
<li> <b>Reply:</b> <a href="0053.html">Warren Early: "Re: microtek scanmaker III,V,VI,A3 etcetera"</a>
<!-- reply="end" -->
</ul>
