<!-- received="Mon Dec  8 12:20:17 1997 PST" -->
<!-- sent="Mon, 8 Dec 1997 13:56:54 -0500 (EST)" -->
<!-- name="Raymond A. Ingles" -->
<!-- email="inglesra@frc.com" -->
<!-- subject="DTC3181A card usable in Linux?" -->
<!-- id="Pine.SUN.3.91.971208134051.12428Q-100000@tetra" -->
<!-- inreplyto="" -->
<title>sane-devel: DTC3181A card usable in Linux?</title>
<h1>DTC3181A card usable in Linux?</h1>
<b>Raymond A. Ingles</b> (<a href="mailto:inglesra@frc.com"><i>inglesra@frc.com</i></a>)<br>
<i>Mon, 8 Dec 1997 13:56:54 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX scanner on a Sparc"</a>
<li> <b>Previous message:</b> <a href="0042.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Raymond A. Ingles: "List problems?"</a>
<li> <b>Reply:</b> <a href="0107.html">Raymond A. Ingles: "List problems?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 I noted with happiness that the DTC3181E SCSI card that comes with many <br>
Mustek scanners has been known to work with Linux (not well, but it can <br>
be at least functional).<br>
<p>
 When I'd gotten my scanner I'd read ahead and gotten an NCR53c815 <br>
controller, and never bothered setting up the scanner in DOS/Win, so I'd <br>
never even taken the SCSI card that came with the scanner out of the bag.<br>
<p>
 Having visions of equipping my old 386 box with a SCSI controller (hey, <br>
I'm wierd, what can I say) I did in fact take it out of the bag, and <br>
found out...<br>
<p>
 ...it's a DTC3181A. Not a DTC3181E. Anyone want to hazard a guess on my <br>
chances? Anyone know what (if any) differences there may be?<br>
<p>
 Sincerely,<br>
<p>
 Ray Ingles         (248) 377-7735          <a href="mailto:ray.ingles@fanucrobotics.com">ray.ingles@fanucrobotics.com</a><br>
<p>
 "Anybody who has ever seen a photograph showing the kind of damage that<br>
a trout traveling that fast can inflict on the human skull knows that<br>
such photographs are very valuable. I paid $20 for mine." - Dave Barry<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX scanner on a Sparc"</a>
<li> <b>Previous message:</b> <a href="0042.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Raymond A. Ingles: "List problems?"</a>
<li> <b>Reply:</b> <a href="0107.html">Raymond A. Ingles: "List problems?"</a>
<!-- reply="end" -->
</ul>
