<!-- received="Tue Dec 16 00:39:18 1997 PST" -->
<!-- sent="Tue, 16 Dec 1997 03:39:31 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="adv. opt. patch for xscanimage..." -->
<!-- id="199712160839.DAA17534@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: adv. opt. patch for xscanimage...</title>
<h1>adv. opt. patch for xscanimage...</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 16 Dec 1997 03:39:31 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Matto Marjanovic: "new, improved Microtek backend"</a>
<li> <b>Previous message:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a "diff -u" patch for gtkglue.c, to change the behavior of xscanimage<br>
 with respect to backend options flagged as "advanced".<br>
<p>
It does two things:<br>
 a)  For all individual options flagged as "advanced", panel_build will only<br>
      display the option if the "Show advanced" button is toggled.  Group<br>
      identifiers flagged as "advanced" are handled the same as before.<br>
 b)  panel_rebuild is called whenever the "Show advanced" button is toggled<br>
      on or off.<br>
<p>
I figure as long as the option panel is getting rebuilt everytime a set_option<br>
 comes back with RELOAD_OPTIONS flagged, it can't hurt to rebuild it when the<br>
 advanced toggle is pressed.<br>
This way, you can place advanced enhancement options in the enhancement group,<br>
 etc, and it all looks nice and neat...<br>
<p>
(Looks sweet with the latest Microtek backend.)<br>
<p>
-matt m.<br>
<p>
<p>
<p>
<p>
--- gtkglue.c	Sun Nov 16 17:11:44 1997<br>
+++ gtkglue.c.mm	Tue Dec 16 02:25:48 1997<br>
@@ -939,6 +939,7 @@<br>
 	  break;<br>
 <br>
 	case SANE_TYPE_BOOL:<br>
+	  if ((opt-&gt;cap &amp; SANE_CAP_ADVANCED) &amp;&amp; !(dialog-&gt;advanced)) break;<br>
 	  assert (opt-&gt;size == sizeof (SANE_Word));<br>
 	  status = sane_control_option (dialog-&gt;dev, i, SANE_ACTION_GET_VALUE,<br>
 					&amp;val, 0);<br>
@@ -950,6 +951,7 @@<br>
 	  break;<br>
 <br>
 	case SANE_TYPE_INT:<br>
+	  if ((opt-&gt;cap &amp; SANE_CAP_ADVANCED) &amp;&amp; !(dialog-&gt;advanced)) break;<br>
 	  if (opt-&gt;size != sizeof (SANE_Word))<br>
 	    {<br>
 	      vector_opts[num_vector_opts++] = i;<br>
@@ -1000,6 +1002,7 @@<br>
 	  break;<br>
 <br>
 	case SANE_TYPE_FIXED:<br>
+	  if ((opt-&gt;cap &amp; SANE_CAP_ADVANCED) &amp;&amp; !(dialog-&gt;advanced)) break;<br>
 	  if (opt-&gt;size != sizeof (SANE_Word))<br>
 	    {<br>
 	      vector_opts[num_vector_opts++] = i;<br>
@@ -1060,6 +1063,7 @@<br>
 	  break;<br>
 <br>
 	case SANE_TYPE_STRING:<br>
+	  if ((opt-&gt;cap &amp; SANE_CAP_ADVANCED) &amp;&amp; !(dialog-&gt;advanced)) break;<br>
 	  buf = malloc (opt-&gt;size);<br>
 	  status = sane_control_option (dialog-&gt;dev, i, SANE_ACTION_GET_VALUE,<br>
 					buf, 0);<br>
@@ -1094,6 +1098,7 @@<br>
 	  break;<br>
 <br>
 	case SANE_TYPE_BUTTON:<br>
+	  if ((opt-&gt;cap &amp; SANE_CAP_ADVANCED) &amp;&amp; !(dialog-&gt;advanced)) break;<br>
 	  button = gtk_button_new ();<br>
 	  gtk_signal_connect (GTK_OBJECT (button), "clicked",<br>
 			      (GtkSignalFunc) push_button_callback, elem);<br>
@@ -1132,7 +1137,10 @@<br>
   if (num_vector_opts)<br>
     vector_new (dialog, main_hbox, num_vector_opts, vector_opts);<br>
 <br>
-  gsg_set_advanced (dialog, preferences.advanced);<br>
+  if (dialog-&gt;advanced)<br>
+    gtk_widget_show (dialog-&gt;advanced_vbox);<br>
+  else<br>
+    gtk_widget_hide (dialog-&gt;advanced_vbox);<br>
   gtk_widget_show (main_hbox);<br>
 }<br>
 <br>
@@ -1313,10 +1321,7 @@<br>
 gsg_set_advanced (GSGDialog *dialog, int advanced)<br>
 {<br>
   dialog-&gt;advanced = advanced;<br>
-  if (advanced)<br>
-    gtk_widget_show (dialog-&gt;advanced_vbox);<br>
-  else<br>
-    gtk_widget_hide (dialog-&gt;advanced_vbox);<br>
+  panel_rebuild (dialog);<br>
 }<br>
 <br>
 void<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Matto Marjanovic: "new, improved Microtek backend"</a>
<li> <b>Previous message:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
