<!-- received="Wed Dec 17 04:00:15 1997 PST" -->
<!-- sent="Wed, 17 Dec 1997 12:59:56 +0100 (MET)" -->
<!-- name="Allan Nielsen" -->
<!-- email="an@kampsax.dtu.dk" -->
<!-- subject="Re: jscanimage won't compile" -->
<!-- id="" -->
<!-- inreplyto="Pine.3.89.9712171020.A24989-0100000@medchem4.pharmazie.uni-halle.de" -->
<title>sane-devel: Re: jscanimage won't compile</title>
<h1>Re: jscanimage won't compile</h1>
<b>Allan Nielsen</b> (<a href="mailto:an@kampsax.dtu.dk"><i>an@kampsax.dtu.dk</i></a>)<br>
<i>Wed, 17 Dec 1997 12:59:56 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Egil Kvaleberg: "Tamarack Artiscan"</a>
<li> <b>Previous message:</b> <a href="0089.html">Mathias Weigt: "Re: jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 17 Dec 1997, Mathias Weigt (Stud. 94) wrote:<br>
<p>
<i>&gt; Servus !</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; [an@k2906 japi]# java Jscanimage</i><br>
<i>&gt; &gt; File not found (libsanej.so)</i><br>
<i>&gt; &gt; java.lang.UnsatisfiedLinkError: no sanej in shared library path</i><br>
<i>&gt; &gt;         at java.lang.Runtime.loadLibrary(Runtime.java)</i><br>
<i>&gt; &gt;         at java.lang.System.loadLibrary(System.java)</i><br>
<i>&gt; &gt;         at </i><br>
<i>&gt; &gt;         at Jscanimage.main(Jscanimage.java:99)</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; I have made make; make install And it went ok! What is wrong??</i><br>
<i>&gt; </i><br>
<i>&gt; Try typing ldconfig to tell that there is a new library available, then </i><br>
<i>&gt; it should work.</i><br>
<i>&gt; </i><br>
It still wont work. I've made a symlink from libsanej.so myself, but I get<br>
this when trying to run ldconfig:<br>
<p>
[root@k2906 lib]# /sbin/ldconfig -lv /usr/local/lib/libsanej.so<br>
/sbin/ldconfig: version 1.7.14<br>
/sbin/ldconfig: /usr/local/lib/libsanej.so is not a shared library<br>
<p>
[root@k2906 lib]# /sbin/ldconfig -lv /usr/local/lib/libsanej.so.0.0.68<br>
/sbin/ldconfig: version 1.7.14<br>
        libsanej.so.0 =&gt; libsanej.so.0.0.68<br>
<p>
[root@k2906 lib]# ll libsanej*<br>
-rw-rw-r--   1 root     root        31686 Dec 17 09:38 libsanej.a<br>
-rwxr-xr-x   1 root     root          421 Dec 17 09:38 libsanej.la<br>
lrwxrwxrwx   1 root     root           18 Dec 17 12:52 libsanej.so -&gt;<br>
libsanej.so.0.0.68<br>
lrwxrwxrwx   1 root     root           18 Dec 17 09:38 libsanej.so.0 -&gt;<br>
libsanej.so.0.0.68<br>
-rwxr-xr-x   1 root     root        34060 Dec 17 09:38 libsanej.so.0.0.68<br>
<p>
Please help...<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Egil Kvaleberg: "Tamarack Artiscan"</a>
<li> <b>Previous message:</b> <a href="0089.html">Mathias Weigt: "Re: jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
