<!-- received="Wed Dec 17 09:45:46 1997 PST" -->
<!-- sent="Wed, 17 Dec 1997 09:49:05 -0800" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: jscanimage won't compile" -->
<!-- id="" -->
<!-- inreplyto="jscanimage won't compile" -->
<title>sane-devel: Re: jscanimage won't compile</title>
<h1>Re: jscanimage won't compile</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Wed, 17 Dec 1997 09:49:05 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0096.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Mathias Weigt: "jscanimage won't compile"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mathias Weigt (Stud. 94) wrote:<br>
<i>&gt; </i><br>
<i>&gt; Servus !</i><br>
<i>&gt; </i><br>
<i>&gt; Ok I got swing-0.61 from java.sun.com.</i><br>
<i>&gt; Now all compiles cleanly but Jscanimage actually does nothing and Test</i><br>
<i>&gt; does nothing but printing the version numbers (but I think it should do a</i><br>
<i>&gt; little test-scan or at least list som devices ?).</i><br>
<p>
It's only half-done!:-)  Anyway, it currently just defaults to the first<br>
SANE device it finds (should be PNM), and it should come up with a<br>
dialog box that looks very similar to "xscanimage".<br>
<p>
Also, there should be several debugging statements printed on the<br>
console.  I couldn't get "jdb" to work, so I've been very liberal with<br>
"println".<br>
<p>
The "make" procedure should have also built a "libsanej.so", which you<br>
need to install in one of your LD_LIBRARY_PATH directories.  I believe<br>
that "make install" inside the "japi" directory should do this for you.<br>
<p>
I've done a lot more coding since the last release, and will be sending<br>
it in soon.  Bear in mind that I've been doing this on a machine without<br>
a scanner, so am just using the "pnm" device for testing.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0096.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Mathias Weigt: "jscanimage won't compile"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<!-- reply="end" -->
</ul>
