<!-- received="Wed Dec 17 14:49:01 1997 PST" -->
<!-- sent="Wed, 17 Dec 1997 17:48:41 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="another xscanimage patch..." -->
<!-- id="199712172248.RAA23700@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: another xscanimage patch...</title>
<h1>another xscanimage patch...</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Wed, 17 Dec 1997 17:48:41 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Benoit Masson: "Parallelle port driver ?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here are a couple of patches to gtkglue.c and xscanimage.c to fix the<br>
 following:<br>
<p>
a) The dialog window didn't shrink to fit after deselecting certain options<br>
    (e.g. "advanced options"), leaving unsightly blank spaces.<br>
   -&gt;Setting the 'autoshrink policy' on the toplevel window does the trick.<br>
     (Gee, those GTK guys thought of everything.)<br>
<p>
b) xscanimage would always start up with advanced options hidden, even if<br>
    the saved preferences indicated they should be displayed, and then you<br>
    would have to toggle them off and on again to see 'em.<br>
<p>
<p>
Nothing like staying home sick for a day...<br>
-matt m.<br>
<p>
--------------------------------------------------------------------<br>
<p>
--- gtkglue.c	Wed Dec 17 17:45:31 1997<br>
+++ gtkglue.c.mm2	Wed Dec 17 17:22:29 1997<br>
@@ -1192,7 +1192,7 @@<br>
   dialog-&gt;num_elements = num_elements;<br>
   dialog-&gt;param_change_callback = callback;<br>
   dialog-&gt;param_change_arg = arg;<br>
-  dialog-&gt;advanced = TRUE;	/* default to showing _all_ options */<br>
+  dialog-&gt;advanced = preferences.advanced; /* get value from preferences */<br>
 <br>
   dialog-&gt;element = malloc (num_elements * sizeof (dialog-&gt;element[0]));<br>
   memset (dialog-&gt;element, 0, num_elements * sizeof (dialog-&gt;element[0]));<br>
--- xscanimage.c	Wed Dec 17 17:43:43 1997<br>
+++ xscanimage.c.mm2	Wed Dec 17 17:42:07 1997<br>
@@ -1324,7 +1324,8 @@<br>
   /* create the dialog box */<br>
   ScanWin.shell = gtk_dialog_new ();<br>
   gtk_window_set_title (GTK_WINDOW (ScanWin.shell), (char *) devname);<br>
-<br>
+  gtk_window_set_policy (GTK_WINDOW (ScanWin.shell), <br>
+			 FALSE, TRUE, TRUE);<br>
   /* create the main vbox */<br>
   vbox = GTK_DIALOG (ScanWin.shell)-&gt;vbox;<br>
 <br>
@@ -1392,8 +1393,6 @@<br>
   dialog = gsg_create_dialog (dialog_window, devname, update_param, 0);<br>
   if (!dialog)<br>
     return;<br>
-<br>
-  gsg_set_advanced (dialog, FALSE);	/* turn off advanced options */<br>
 <br>
   /* The info row */<br>
   hbox = gtk_hbox_new (FALSE, 5);<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Benoit Masson: "Parallelle port driver ?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
