<!-- received="Thu Dec 18 07:29:35 1997 PST" -->
<!-- sent="Thu, 18 Dec 1997 08:17:33 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Parallelle port driver ?" -->
<!-- id="m0xiaD7-0000XTC@charon.beck-sw.de" -->
<!-- inreplyto="34986FE5.B1F31FCE@hol.fr" -->
<title>sane-devel: Re: Parallelle port driver ?</title>
<h1>Re: Parallelle port driver ?</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 18 Dec 1997 08:17:33 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Norm Peterson: "Re: Parallelle port driver ?"</a>
<li> <b>Previous message:</b> <a href="0103.html">A. Leidenfrost: "Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0105.html">Norm Peterson: "Re: Parallelle port driver ?"</a>
<li> <b>Reply:</b> <a href="0105.html">Norm Peterson: "Re: Parallelle port driver ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Is there a chance for SANE to be developped for parralelle port scanners</i><br>
<i>&gt; ? I personly got a DEXXA, it's a TWAIN compatible one is it really</i><br>
<i>&gt; different from SCSI scanners ?</i><br>
<p>
TWAIN means nothing. Please read the list archives on that topic.<br>
<p>
<i>&gt; thank to answer me I'm sorry if this question has been asked to you too</i><br>
<i>&gt; many time but i didn't find any information about it on your web page</i><br>
<i>&gt; ...</i><br>
<p>
It is in principle possible to access a parallel port scanner. However<br>
you need full documentation to do this. TWAIN only means "comes with M$<br>
software" nowadays.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Norm Peterson: "Re: Parallelle port driver ?"</a>
<li> <b>Previous message:</b> <a href="0103.html">A. Leidenfrost: "Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0105.html">Norm Peterson: "Re: Parallelle port driver ?"</a>
<li> <b>Reply:</b> <a href="0105.html">Norm Peterson: "Re: Parallelle port driver ?"</a>
<!-- reply="end" -->
</ul>
