<title>sane-devel by author</title>
<a name="start"><h1>sane-devel by author</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Tue 02 Dec 1997 - 15:10:29 PST</i><br>
<b>Ending:</b> <i>Wed 31 Dec 1997 - 09:12:53 PST</i><br>
<b>Messages:</b> 143
<p>
<ul>
<li> <b>A. Leidenfrost</b>
<ul>
<li> <a href="0122.html">Re: Probable Bugs &amp; Suggestions</a> <a name="122"><i>Fri, 19 Dec 1997 16:12:27 +0100 (CET)</i></a>
</ul>
<ul>
<li> <a href="0110.html">Re: Probable Bugs &amp; Suggestions</a> <a name="110"><i>Fri, 19 Dec 1997 12:19:37 +0100 (CET)</i></a>
</ul>
<ul>
<li> <a href="0103.html">Probable Bugs &amp; Suggestions</a> <a name="103"><i>Thu, 18 Dec 1997 16:08:23 +0100 (CET)</i></a>
</ul>
<li> <b>Adam Sjoegren</b>
<ul>
<li> <a href="0052.html">Sane with HP ScanJet 4p</a> <a name="52"><i>09 Dec 1997 23:35:40 +0100</i></a>
</ul>
<li> <b>Allan Nielsen</b>
<ul>
<li> <a href="0090.html">Re: jscanimage won't compile</a> <a name="90"><i>Wed, 17 Dec 1997 12:59:56 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0088.html">Re: jscanimage won't compile</a> <a name="88"><i>Wed, 17 Dec 1997 09:42:07 +0100 (MET)</i></a>
</ul>
<li> <b>Andreas Czechanowski</b>
<ul>
<li> <a href="0127.html">Mustek-0.68: 600 II N patch</a> <a name="127"><i>Tue, 23 Dec 1997 20:30:09 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0019.html">Re: Problem with compilation</a> <a name="19"><i>Thu, 4 Dec 1997 12:59:53 +0100 (MET)</i></a>
</ul>
<li> <b>Bas Vermeulen</b>
<ul>
<li> <a href="0012.html">Ricoh RS322+ (SCSI) support</a> <a name="12"><i>Wed, 3 Dec 1997 23:43:11 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0000.html">Back-end for Ricoh RS322+</a> <a name="0"><i>2 Dec 1997 23:01:45 GMT</i></a>
</ul>
<li> <b>becka@rz.uni-duesseldorf.de</b>
<ul>
<li> <a href="0115.html">Re: xscanimage won't start</a> <a name="115"><i>Sat, 1 Jan 1994 03:38:39 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0113.html">Re: Probable Bugs &amp; Suggestions</a> <a name="113"><i>Fri, 19 Dec 1997 13:36:18 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0104.html">Re: Parallelle port driver ?</a> <a name="104"><i>Thu, 18 Dec 1997 08:17:33 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0056.html">Re: Two SCSI bus question...</a> <a name="56"><i>Wed, 10 Dec 1997 02:06:28 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0050.html">Re: Two SCSI bus question...</a> <a name="50"><i>Tue, 9 Dec 1997 15:20:17 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0031.html">Re: second SCSI controller..</a> <a name="31"><i>Fri, 5 Dec 1997 12:37:06 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0015.html">Re: Ricoh RS322+ (SCSI) support</a> <a name="15"><i>Thu, 4 Dec 1997 03:01:20 +0100 (MET)</i></a>
</ul>
<li> <b>Benedikt Eric Heinen</b>
<ul>
<li> <a href="0028.html">Re: second SCSI controller..</a> <a name="28"><i>Fri, 5 Dec 1997 06:39:27 +0100 (CET)</i></a>
</ul>
<li> <b>Benoit Masson</b>
<ul>
<li> <a href="0100.html">Parallelle port driver ?</a> <a name="100"><i>Thu, 18 Dec 1997 01:35:49 +0100</i></a>
</ul>
<li> <b>Bernd Johannes Wuebben</b>
<ul>
<li> <a href="0117.html">UMAX 1200S SCSI CARD</a> <a name="117"><i>Fri, 19 Dec 1997 23:44:49 -0500 (EST)</i></a>
</ul>
<li> <b>Bernd Seemann</b>
<ul>
<li> <a href="0078.html">Re: umax Astra 6x0S (and S6E) info</a> <a name="78"><i>Fri, 12 Dec 1997 23:43:12 +0100 (MET)</i></a>
</ul>
<li> <b>borm</b>
<ul>
<li> <a href="0075.html">Re: Highscreen PerfectScan</a> <a name="75"><i>Fri, 12 Dec 1997 14:08:27 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0069.html">Re: Highscreen PerfectScan</a> <a name="69"><i>Fri, 12 Dec 1997 02:41:03 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0064.html">microtek scanmaker III 36 bit test scan succeeded</a> <a name="64"><i>Thu, 11 Dec 1997 06:24:47 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0061.html">scanmaker III documentation</a> <a name="61"><i>Wed, 10 Dec 1997 18:49:49 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0055.html">Re: microtek scanmaker III,V,VI,A3 etcetera</a> <a name="55"><i>Wed, 10 Dec 1997 01:51:53 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0039.html">microtek scanmaker III,V,VI,A3 etcetera</a> <a name="39"><i>Mon, 08 Dec 1997 14:09:32 +0000 (GMT)</i></a>
</ul>
<li> <b>Christoper.Riddoch</b>
<ul>
<li> <a href="0128.html">Xmas Scanner Blues</a> <a name="128"><i>Fri, 26 Dec 1997 14:38:29 -0700 (MST)</i></a>
</ul>
<li> <b>Christoph Doerbeck</b>
<ul>
<li> <a href="0139.html">Re: microtek scanner</a> <a name="139"><i>Wed, 31 Dec 1997 08:49:19 -0500</i></a>
</ul>
<ul>
<li> <a href="0059.html">Re: Two SCSI bus question...</a> <a name="59"><i>Wed, 10 Dec 1997 09:15:09 -0500</i></a>
</ul>
<ul>
<li> <a href="0051.html">Re: Two SCSI bus question...</a> <a name="51"><i>Tue, 09 Dec 1997 15:57:21 -0500</i></a>
</ul>
<ul>
<li> <a href="0049.html">Two SCSI bus question...</a> <a name="49"><i>Tue, 09 Dec 1997 08:55:20 -0500</i></a>
</ul>
<ul>
<li> <a href="0006.html">Re: second SCSI controller..</a> <a name="6"><i>Wed, 03 Dec 1997 09:11:48 -0500</i></a>
</ul>
<li> <b>Christoph Lameter</b>
<ul>
<li> <a href="0135.html">Parallel Port Scanner Mustek 600 II EP Plus</a> <a name="135"><i>Sun, 28 Dec 1997 11:19:35 -0800 (PST)</i></a>
</ul>
<li> <b>David Mosberger-Tang</b>
<ul>
<li> <a href="0126.html">Re: How to turn off lamp in ScanJet IIcx</a> <a name="126"><i>Tue, 23 Dec 1997 09:12:25 -0800</i></a>
</ul>
<ul>
<li> <a href="0123.html">Re: How to turn off lamp in ScanJet IIcx</a> <a name="123"><i>Mon, 22 Dec 1997 23:24:35 -0800</i></a>
</ul>
<ul>
<li> <a href="0102.html">Re: Parallelle port driver ?</a> <a name="102"><i>Wed, 17 Dec 1997 22:39:01 -0800</i></a>
</ul>
<ul>
<li> <a href="0096.html">Re: SANE support for AIX added</a> <a name="96"><i>Wed, 17 Dec 1997 09:04:45 -0800</i></a>
</ul>
<ul>
<li> <a href="0095.html">Re: jscanimage won't scan</a> <a name="95"><i>Wed, 17 Dec 1997 09:02:56 -0800</i></a>
</ul>
<ul>
<li> <a href="0094.html">Re: Tamarack Artiscan</a> <a name="94"><i>Wed, 17 Dec 1997 08:44:58 -0800</i></a>
</ul>
<ul>
<li> <a href="0084.html">Re: SANE support for AIX added</a> <a name="84"><i>Mon, 15 Dec 1997 20:38:21 -0800</i></a>
</ul>
<ul>
<li> <a href="0048.html">Alpha RPMs updated</a> <a name="48"><i>Tue, 9 Dec 1997 00:15:01 -0800</i></a>
</ul>
<ul>
<li> <a href="0029.html">Re: xerox</a> <a name="29"><i>Thu, 4 Dec 1997 22:48:20 -0800</i></a>
</ul>
<ul>
<li> <a href="0010.html">Re: Scanner not recognized on 2nd SCSI Host</a> <a name="10"><i>Wed, 3 Dec 1997 12:24:16 -0800</i></a>
</ul>
<ul>
<li> <a href="0007.html">Re: second SCSI controller..</a> <a name="7"><i>Wed, 3 Dec 1997 08:45:33 -0800</i></a>
</ul>
<ul>
<li> <a href="0003.html">sane-0.68 available</a> <a name="3"><i>Wed, 3 Dec 1997 01:04:38 -0800</i></a>
</ul>
<ul>
<li> <a href="0002.html">Re: NECH Scanner</a> <a name="2"><i>Tue, 2 Dec 1997 21:41:03 -0800</i></a>
</ul>
<li> <b>Didier Carlier</b>
<ul>
<li> <a href="0134.html">undefined reference to iswctype</a> <a name="134"><i>28 Dec 1997 12:24:50 +0100</i></a>
</ul>
<li> <b>Dominik Kubla</b>
<ul>
<li> <a href="0077.html">xcam not working on UDB (Linux/Alpha)?</a> <a name="77"><i>Fri, 12 Dec 1997 19:17:21 +0100</i></a>
</ul>
<li> <b>Don Roro de la Vega</b>
<ul>
<li> <a href="0065.html">Scanjet 5p under linux</a> <a name="65"><i>Thu, 11 Dec 1997 12:45:04 +0100</i></a>
</ul>
<li> <b>Early, Warren</b>
<ul>
<li> <a href="0062.html">Highscreen PerfectScan</a> <a name="62"><i>Wed, 10 Dec 1997 15:13:34 -0800</i></a>
</ul>
<li> <b>Egil Kvaleberg</b>
<ul>
<li> <a href="0091.html">Tamarack Artiscan</a> <a name="91"><i>Wed, 17 Dec 1997 12:21:09 +0100 (MET)</i></a>
</ul>
<li> <b>eric</b>
<ul>
<li> <a href="0035.html">Re: New HP ScanJet backend.</a> <a name="35"><i>Sat, 6 Dec 1997 16:41:39 -0500</i></a>
</ul>
<li> <b>Fred Hucht</b>
<ul>
<li> <a href="0125.html">Re: How to turn off lamp in ScanJet IIcx</a> <a name="125"><i>Tue, 23 Dec 1997 17:39:07 +0100 (MEZ)</i></a>
</ul>
<ul>
<li> <a href="0111.html">How to turn off lamp in ScanJet IIcx</a> <a name="111"><i>Fri, 19 Dec 1997 12:25:56 +0100 (MEZ)</i></a>
</ul>
<ul>
<li> <a href="0082.html">SANE support for AIX added</a> <a name="82"><i>Mon, 15 Dec 1997 15:11:45 +0100 (MEZ)</i></a>
</ul>
<li> <b>frees@technologist.com</b>
<ul>
<li> <a href="0001.html">RE: Relysis</a> <a name="1"><i>Wed, 03 Dec 1997 00:40:05 -0000 (GMT)</i></a>
</ul>
<li> <b>Geoffrey T Dairiki</b>
<ul>
<li> <a href="0034.html">Re: New HP ScanJet backend.</a> <a name="34"><i>Sat, 6 Dec 1997 09:42:43 -0800</i></a>
</ul>
<li> <b>Geoffrey T. Dairiki</b>
<ul>
<li> <a href="0037.html">Re: New HP ScanJet backend.</a> <a name="37"><i>Sat, 6 Dec 1997 17:22:59 -0800</i></a>
</ul>
<ul>
<li> <a href="0033.html">New HP ScanJet backend.</a> <a name="33"><i>Fri, 5 Dec 1997 18:56:39 -0800</i></a>
</ul>
<li> <b>goldman@ucla.edu</b>
<ul>
<li> <a href="0038.html">UMAX scanner on a Sparc</a> <a name="38"><i>Mon, 8 Dec 1997 03:21:41 -0800</i></a>
</ul>
<li> <b>Hallow</b>
<ul>
<li> <a href="0106.html">Re: Probable Bugs &amp; Suggestions</a> <a name="106"><i>Thu, 18 Dec 1997 11:01:44 -0500</i></a>
</ul>
<li> <b>Helmut Koeberle</b>
<ul>
<li> <a href="0026.html">Backend for Canon CanoScan 600</a> <a name="26"><i>Thu, 04 Dec 1997 21:59:44 +0100</i></a>
</ul>
<li> <b>Ian Tester</b>
<ul>
<li> <a href="0108.html">Re: Probable Bugs &amp; Suggestions</a> <a name="108"><i>Fri, 19 Dec 1997 12:41:13 +1100 (EST)</i></a>
</ul>
<li> <b>Jeff Dairiki</b>
<ul>
<li> <a href="0076.html">Re: xscanimage &amp;&amp; gtk+-971201.tar.gz</a> <a name="76"><i>Fri, 12 Dec 1997 09:56:42 -0800</i></a>
</ul>
<li> <b>Jeff Freedman</b>
<ul>
<li> <a href="0098.html">Re: jscanimage won't compile</a> <a name="98"><i>Wed, 17 Dec 1997 09:54:10 -0800</i></a>
</ul>
<ul>
<li> <a href="0097.html">Re: jscanimage won't compile</a> <a name="97"><i>Wed, 17 Dec 1997 09:49:05 -0800</i></a>
</ul>
<ul>
<li> <a href="0083.html">Re: jscanimage won't compile</a> <a name="83"><i>Mon, 15 Dec 1997 09:41:31 -0800</i></a>
</ul>
<li> <b>Jeremy Rosenberger</b>
<ul>
<li> <a href="0133.html">Re: xscanimage won't start</a> <a name="133"><i>Sat, 27 Dec 1997 14:44:17 -0700</i></a>
</ul>
<ul>
<li> <a href="0130.html">Re: xscanimage won't start</a> <a name="130"><i>Sat, 27 Dec 1997 00:38:25 -0700</i></a>
</ul>
<li> <b>Joachim Woll</b>
<ul>
<li> <a href="0025.html">MFS12000SP+DTC436: Success!</a> <a name="25"><i>Thu, 04 Dec 1997 21:10:46 +0100</i></a>
</ul>
<ul>
<li> <a href="0024.html">xerox</a> <a name="24"><i>Thu, 04 Dec 1997 21:35:28 +0100</i></a>
</ul>
<li> <b>Jonathan Buzzard</b>
<ul>
<li> <a href="0121.html">Re: How to turn off lamp in ScanJet IIcx</a> <a name="121"><i>Sun, 21 Dec 1997 18:43:14 +0000</i></a>
</ul>
<li> <b>Kevin Thompson</b>
<ul>
<li> <a href="0101.html">Re: Parallelle port driver ?</a> <a name="101"><i>Wed, 17 Dec 1997 21:47:42 PST</i></a>
</ul>
<li> <b>Klaus Stetter</b>
<ul>
<li> <a href="0137.html">Mustek Scanexpress 12000SP</a> <a name="137"><i>Tue, 30 Dec 1997 15:56:59 +0100 (MET)</i></a>
</ul>
<li> <b>Kristopher Herrin</b>
<ul>
<li> <a href="0032.html">HP ScanJet IIp support?</a> <a name="32"><i>Fri, 05 Dec 1997 12:47:56 -0600</i></a>
</ul>
<li> <b>Lutz Stege</b>
<ul>
<li> <a href="0114.html">xscanimage won't start</a> <a name="114"><i>Fri, 19 Dec 1997 16:18:18 +0200 (WET)</i></a>
</ul>
<ul>
<li> <a href="0112.html">Re: How to turn off lamp in ScanJet IIcx</a> <a name="112"><i>Fri, 19 Dec 1997 15:25:41 +0200 (WET)</i></a>
</ul>
<li> <b>Mario Wuttke</b>
<ul>
<li> <a href="0124.html">GLoria-Synergy and Victory ERazor</a> <a name="124"><i>Tue, 23 Dec 1997 16:11:07 -0800</i></a>
</ul>
<li> <b>Mark Andrachek</b>
<ul>
<li> <a href="0071.html">Re: Highscreen PerfectScan</a> <a name="71"><i>Thu, 11 Dec 1997 22:08:30 -0500</i></a>
</ul>
<ul>
<li> <a href="0070.html">Re: Highscreen PerfectScan</a> <a name="70"><i>Thu, 11 Dec 1997 22:03:20 -0500</i></a>
</ul>
<li> <b>Martin Huber</b>
<ul>
<li> <a href="0081.html">sane running on Solaris 2.5</a> <a name="81"><i>Sun, 14 Dec 1997 23:16:50 +0100 (MET)</i></a>
</ul>
<li> <b>Martin kleinsorge</b>
<ul>
<li> <a href="0018.html">Problem with compilation</a> <a name="18"><i>Thu, 04 Dec 1997 11:53:33 +0100</i></a>
</ul>
<li> <b>Martin Kroeker</b>
<ul>
<li> <a href="0068.html">Re: Highscreen PerfectScan</a> <a name="68"><i>Fri, 12 Dec 1997 00:02:50 +0100 (MET)</i></a>
</ul>
<li> <b>Mathias Koerber</b>
<ul>
<li> <a href="0131.html">Re: xscanimage won't start</a> <a name="131"><i>Sat, 27 Dec 1997 15:45:41 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0129.html">SANE and Minolta Dimage Dual Scan</a> <a name="129"><i>Sat, 27 Dec 1997 14:53:31 +0800 (SGT)</i></a>
</ul>
<li> <b>Mathias Weigt</b>
<ul>
<li> <a href="0092.html">jscanimage won't scan</a> <a name="92"><i>Wed, 17 Dec 1997 15:46:30 +0001 (MET)</i></a>
</ul>
<ul>
<li> <a href="0089.html">Re: jscanimage won't compile</a> <a name="89"><i>Wed, 17 Dec 1997 10:52:50 +0001 (MET)</i></a>
</ul>
<ul>
<li> <a href="0087.html">Re: jscanimage won't compile</a> <a name="87"><i>Wed, 17 Dec 1997 08:24:50 +0001 (MET)</i></a>
</ul>
<ul>
<li> <a href="0080.html">jscanimage won't compile</a> <a name="80"><i>Sun, 14 Dec 1997 20:02:44 +0001 (MET)</i></a>
</ul>
<li> <b>Matto Marjanovic</b>
<ul>
<li> <a href="0140.html">Re: microtek scanner</a> <a name="140"><i>Wed, 31 Dec 1997 10:42:17 -0500</i></a>
</ul>
<ul>
<li> <a href="0116.html">Re: How to turn off lamp in ...Microtek E6</a> <a name="116"><i>Fri, 19 Dec 1997 18:05:45 -0500</i></a>
</ul>
<ul>
<li> <a href="0109.html">Re: Probable Bugs &amp; Suggestions</a> <a name="109"><i>Thu, 18 Dec 1997 22:05:34 -0500</i></a>
</ul>
<ul>
<li> <a href="0099.html">another xscanimage patch...</a> <a name="99"><i>Wed, 17 Dec 1997 17:48:41 -0500</i></a>
</ul>
<ul>
<li> <a href="0086.html">new, improved Microtek backend</a> <a name="86"><i>Tue, 16 Dec 1997 03:44:50 -0500</i></a>
</ul>
<ul>
<li> <a href="0085.html">adv. opt. patch for xscanimage...</a> <a name="85"><i>Tue, 16 Dec 1997 03:39:31 -0500</i></a>
</ul>
<ul>
<li> <a href="0072.html">Re: Highscreen PerfectScan</a> <a name="72"><i>Thu, 11 Dec 1997 22:17:18 -0500</i></a>
</ul>
<ul>
<li> <a href="0060.html">Re: Two SCSI bus question...</a> <a name="60"><i>Wed, 10 Dec 1997 09:49:55 -0500</i></a>
</ul>
<ul>
<li> <a href="0047.html">Re: Highscreen PerfectScan</a> <a name="47"><i>Mon, 8 Dec 1997 23:40:27 -0500</i></a>
</ul>
<ul>
<li> <a href="0046.html">Re: SANE bug with large scans: Microtek E6/Linux 2.0.30</a> <a name="46"><i>Mon, 8 Dec 1997 23:51:25 -0500</i></a>
</ul>
<ul>
<li> <a href="0040.html">Re: microtek scanmaker III,V,VI,A3 etcetera</a> <a name="40"><i>Mon, 8 Dec 1997 10:47:51 -0500</i></a>
</ul>
<li> <b>Michael Burghart</b>
<ul>
<li> <a href="0008.html">Re: second SCSI controller..</a> <a name="8"><i>Wed, 3 Dec 1997 17:53:11 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0004.html">second SCSI controller..</a> <a name="4"><i>Wed, 3 Dec 1997 12:09:22 +0100 (MET)</i></a>
</ul>
<li> <b>Michael K. Johnson</b>
<ul>
<li> <a href="0022.html">Re: new-sane-homepage-outfit</a> <a name="22"><i>Thu, 04 Dec 1997 08:43:30 -0500</i></a>
</ul>
<li> <b>Michael Sweet</b>
<ul>
<li> <a href="0027.html">Running out of processes, going in SANE...</a> <a name="27"><i>Thu, 04 Dec 1997 17:17:46 -0500</i></a>
</ul>
<li> <b>Michele Bianchi</b>
<ul>
<li> <a href="0141.html">Re: microtek scanner</a> <a name="141"><i>Wed, 31 Dec 1997 17:15:28 +0100 (NFT)</i></a>
</ul>
<ul>
<li> <a href="0138.html">microtek scanner</a> <a name="138"><i>Wed, 31 Dec 1997 12:45:07 +0100 (NFT)</i></a>
</ul>
<li> <b>Nicolas Lucas de Peslouan</b>
<ul>
<li> <a href="0023.html">Using preview mode to scan in color with UMAX Astra 600/610S.</a> <a name="23"><i>Thu, 04 Dec 1997 19:31:56 +0100</i></a>
</ul>
<li> <b>Norm Peterson</b>
<ul>
<li> <a href="0105.html">Re: Parallelle port driver ?</a> <a name="105"><i>Thu, 18 Dec 1997 09:53:43 -0600 (CST)</i></a>
</ul>
<li> <b>Oliver.Rauch@Wolfsburg.DE</b>
<ul>
<li> <a href="0093.html">Re: SANE support for AIX added</a> <a name="93"><i>Tue, 16 Dec 1997 23:30:50 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0079.html">umax-backend</a> <a name="79"><i>Sun, 14 Dec 1997 13:54:13 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0067.html">umax Astra 6x0S (and S6E) info</a> <a name="67"><i>Thu, 11 Dec 1997 23:46:43 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0045.html">Re: Using preview mode to scan in color with UMAX Astra 600/610S.</a> <a name="45"><i>Mon, 8 Dec 1997 23:20:24 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0044.html">Re: UMAX scanner on a Sparc</a> <a name="44"><i>Mon, 8 Dec 1997 23:06:24 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0021.html">Re: Umax S-12 troubles (Linux)</a> <a name="21"><i>Thu, 4 Dec 1997 17:14:43 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0020.html">Re: new-sane-homepage-outfit</a> <a name="20"><i>Thu, 4 Dec 1997 17:09:39 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0013.html">Re: sane-0.68 available</a> <a name="13"><i>Wed, 3 Dec 1997 23:38:42 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0011.html">new-sane-homepage-outfit</a> <a name="11"><i>Wed, 3 Dec 1997 23:29:36 +0100 (MET)</i></a>
</ul>
<li> <b>Per Harald Myrvang</b>
<ul>
<li> <a href="0017.html">Re: new-sane-homepage-outfit</a> <a name="17"><i>Thu, 4 Dec 1997 10:40:52 +0100 (MET)</i></a>
</ul>
<li> <b>Peter Daum</b>
<ul>
<li> <a href="0074.html">xscanimage &amp;&amp; gtk+-971201.tar.gz</a> <a name="74"><i>Fri, 12 Dec 1997 10:53:01 +0100 (MET)</i></a>
</ul>
<li> <b>Philipp Klan</b>
<ul>
<li> <a href="0014.html">Re: Scanner not recognized on 2nd SCSI Host</a> <a name="14"><i>Thu, 04 Dec 1997 00:27:22 +0100</i></a>
</ul>
<ul>
<li> <a href="0009.html">Scanner not recognized on 2nd SCSI Host</a> <a name="9"><i>Wed, 03 Dec 1997 20:52:42 +0100</i></a>
</ul>
<li> <b>Raymond A. Ingles</b>
<ul>
<li> <a href="0107.html">List problems?</a> <a name="107"><i>Thu, 18 Dec 1997 11:27:05 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0043.html">DTC3181A card usable in Linux?</a> <a name="43"><i>Mon, 8 Dec 1997 13:56:54 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0042.html">DTC3181A card usable in Linux?</a> <a name="42"><i>Mon, 8 Dec 1997 13:56:54 -0500 (EST)</i></a>
</ul>
<li> <b>Robert Wilhelm</b>
<ul>
<li> <a href="0030.html">Artec 6000C plus</a> <a name="30"><i>Fri, 5 Dec 1997 12:49:56 +0100</i></a>
</ul>
<li> <b>rodgerd@ihug.co.nz</b>
<ul>
<li> <a href="0066.html">Re: Scanjet 5p under linux</a> <a name="66"><i>Fri, 12 Dec 1997 10:50:24 +1300</i></a>
</ul>
<li> <b>Rogier Wolff</b>
<ul>
<li> <a href="0118.html">Re: How to turn off lamp in ScanJet IIcx</a> <a name="118"><i>Sat, 20 Dec 1997 04:48:35 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0063.html">Re: Two SCSI bus question...</a> <a name="63"><i>Thu, 11 Dec 1997 00:55:08 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0058.html">Re: Two SCSI bus question...</a> <a name="58"><i>Wed, 10 Dec 1997 09:29:24 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0041.html">Tamarack patch.</a> <a name="41"><i>Mon, 8 Dec 1997 16:49:17 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0036.html">Re: Artec 6000C plus</a> <a name="36"><i>Sat, 6 Dec 1997 23:40:18 +0100 (MET)</i></a>
</ul>
<li> <b>Ryan McCowan</b>
<ul>
<li> <a href="0016.html">Umax S-12 troubles (Linux)</a> <a name="16"><i>Wed, 3 Dec 1997 23:05:20 -0600 (CST)</i></a>
</ul>
<li> <b>sane-devel@mostang.com</b>
<ul>
<li> <a href="0120.html">Request_for_quotation</a> <a name="120"><i>Sun, 21 Dec 1997 14:39:24 -0800</i></a>
</ul>
<li> <b>Stephan Loescher</b>
<ul>
<li> <a href="0142.html">Missing feature: "Auto"-button</a> <a name="142"><i>Wed, 31 Dec 1997 16:37:29 +0100 (CET)</i></a>
</ul>
<li> <b>Thomas Vogler</b>
<ul>
<li> <a href="0136.html">canon 2700F backend wanted...</a> <a name="136"><i>Mon, 29 Dec 1997 15:54:17 +0100</i></a>
</ul>
<li> <b>Tore Reimers</b>
<ul>
<li> <a href="0132.html">Re: Mustek-0.68: 600 II N patch</a> <a name="132"><i>Sat, 27 Dec 1997 20:15:18 +0100 (MET)</i></a>
</ul>
<li> <b>Warren Early</b>
<ul>
<li> <a href="0119.html">Re: How to turn off lamp in ScanJet IIcx</a> <a name="119"><i>Sun, 21 Dec 1997 03:17:29 -0800</i></a>
</ul>
<ul>
<li> <a href="0073.html">Re: Highscreen PerfectScan</a> <a name="73"><i>Thu, 11 Dec 1997 22:51:44 +0800 (GMT-8)</i></a>
</ul>
<ul>
<li> <a href="0057.html">Re: microtek scanmaker III,V,VI,A3 etcetera</a> <a name="57"><i>Tue, 09 Dec 1997 21:26:12 -0800</i></a>
</ul>
<ul>
<li> <a href="0054.html">Re: microtek scanmaker III,V,VI,A3 etcetera</a> <a name="54"><i>Tue, 9 Dec 1997 15:24:01 +0800 (GMT-8)</i></a>
</ul>
<ul>
<li> <a href="0053.html">Re: microtek scanmaker III,V,VI,A3 etcetera</a> <a name="53"><i>Tue, 9 Dec 1997 15:19:15 +0800 (GMT-8)</i></a>
</ul>
<li> <b>Wolfgang Jung</b>
<ul>
<li> <a href="0005.html">Re: second SCSI controller..</a> <a name="5"><i>Wed, 3 Dec 1997 12:26:27 +0100</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Wed 31 Dec 1997 - 09:12:53 PST</i><br>
<b>Archived on:</b> <i>Wed Dec 31 1997 - 09:13:42 PST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
