<!-- received="Thu Nov  4 11:09:42 1999 PST" -->
<!-- sent="Thu, 4 Nov 1999 14:16:39 -0500 (EST)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@infi.net" -->
<!-- subject="Re: sane doesnt work under red hat 6.1 (again)!" -->
<!-- id="199911041916.OAA17688@mulder.atlantic.infi.net" -->
<!-- inreplyto="3821DA60.EFF29BAF@tin.it" -->
<title>sane-devel: Re: sane doesnt work under red hat 6.1 (again)!</title>
<h1>Re: sane doesnt work under red hat 6.1 (again)!</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@infi.net"><i>cpinkham@infi.net</i></a>)<br>
<i>Thu, 4 Nov 1999 14:16:39 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Previous message:</b> <a href="0028.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Chris Pinkham wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Try commenting out everything but "net" and "artec" in your SANE dll.conf</i><br>
<i>&gt; &gt; file.  You don't even need net if you don't want to scan across the net.</i><br>
<i>&gt; </i><br>
<i>&gt; Weel yes chris, it was the hp line that made the segmentatio fault</i><br>
<i>&gt; error...now it opens but,as ususal, it locks everything up and i have to</i><br>
<i>&gt; reboot (nothing works, neither "ctrl-alt-backspace nor ctrl-alt-del).</i><br>
<i>&gt; It's the same problem i have since 6 months ago when i first tried to</i><br>
<i>&gt; use sane on my linux :(( </i><br>
<p>
Try finding the following section in artec.c and changing the "32768" to<br>
"8192".  That will reduce the maximum read size that the backend requests<br>
from the scanner.  You can try lower numbers also like 4096 if you want.<br>
<p>
--------------------------------------------------------<br>
    "AT3", "flatbed",<br>
      8.3, 11, 0, 255, 0, 255, 0, 0, 8, 55, 32768,<br>
      ARTEC_FLAG_CALIBRATE_RGB |<br>
--------------------------------------------------------<br>
<p>
I assume this works fine under Windows? <br>
<p>
Chris<br>
<p>
************************************************************************<br>
** Chris Pinkham                       AlphaLinux v2.2.5, Cajun 3.0-8 **<br>
** <a href="mailto:cpinkham@infi.net">cpinkham@infi.net</a>                  <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **<br>
************************************************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Previous message:</b> <a href="0028.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
