<!-- received="Sun Nov  7 07:05:20 1999 PST" -->
<!-- sent="Sun, 7 Nov 1999 16:25:31 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Getting a Phantom scanner to work (through Adaptec AVA-1502A)" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.10.9911052031120.791-100000@allan.wlug" -->
<title>sane-devel: Re: Getting a Phantom scanner to work (through Adaptec AVA-1502A)</title>
<h1>Re: Getting a Phantom scanner to work (through Adaptec AVA-1502A)</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sun, 7 Nov 1999 16:25:31 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Kai Haberzettl: "problem compiling xsane-0.43"</a>
<li> <b>Previous message:</b> <a href="0040.html">Petter Reinholdtsen: "Re: Autoconf/configure"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, Nov 05, 1999 at 09:09:14PM +0100, Carl-Johan Sveningsson wrote:<br>
<i>&gt; Hi there.</i><br>
<i>&gt; </i><br>
<i>&gt; With my hopes set high, I aimed for that this time getting SANE up and</i><br>
<i>&gt; running...</i><br>
<i>&gt; </i><br>
<i>&gt; I understood how to get the SCSI-card up and running, but I won't get much</i><br>
<i>&gt; further... (I use the aha152x)</i><br>
<i>&gt; </i><br>
<i>&gt; The driver will only partly detect the scanner...</i><br>
<i>&gt; find-scanner returns:</i><br>
<i>&gt; find-scanner: found scanner " Scanner 1.80" at device /dev/scanner</i><br>
<i>&gt; find-scanner: found scanner " Scanner 1.80" at device /dev/sg0</i><br>
<i>&gt; find-scanner: found scanner " Scanner 1.80" at device /dev/sga</i><br>
<i>&gt; </i><br>
<i>&gt; /proc/scsi/scsi contains:</i><br>
<i>&gt; Attached devices: </i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt;   Vendor:          Model: Scanner          Rev: 1.80</i><br>
<i>&gt;   Type:   Scanner                          ANSI SCSI revision: 04</i><br>
<i>&gt; </i><br>
<i>&gt; As you see, it won't report at all that the scanner is in fact a Microtek</i><br>
<i>&gt; Phantom [something]...</i><br>
<p>
It is normal that the vendor string for Microtek scanners consists<br>
of eight spaces. However, normally the model is specified more<br>
exact, for instance 'Scanner 636A4'. If it is a model which should be<br>
supported by the microtek2 backend, it won't work at all until this<br>
model is known to the backend. Thus it would be interesting what<br>
'[something]' is.<br>
<p>
The backend does some checks on the inquiry information, and refuses<br>
to work if it finds information, that it doesn't expect. For instance<br>
the models it supports are all SCSI-2 devices, and therefore<br>
it checks for an ANSI SCSI revision of 02.<br>
<p>
Does anybody have an idea, why /proc/scsi/scsi says revision 04 ?<br>
<p>
Then the backend checks for a model code. You should enable<br>
debugging (set SANE_DEBUG_MICROTEK2=30) to get the model code, once<br>
you get past the check for the SCSI version.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Kai Haberzettl: "problem compiling xsane-0.43"</a>
<li> <b>Previous message:</b> <a href="0040.html">Petter Reinholdtsen: "Re: Autoconf/configure"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
