<!-- received="Sun Nov  7 08:29:46 1999 PST" -->
<!-- sent="07 Nov 1999 17:26:49 +0100" -->
<!-- name="Kai Haberzettl" -->
<!-- email="khaberz@synnet.de" -->
<!-- subject="Re: problem compiling xsane-0.43" -->
<!-- id="" -->
<!-- inreplyto="Sun, 07 Nov 1999 17:15:24 +0100"" -->
<title>sane-devel: Re: problem compiling xsane-0.43</title>
<h1>Re: problem compiling xsane-0.43</h1>
<b>Kai Haberzettl</b> (<a href="mailto:khaberz@synnet.de"><i>khaberz@synnet.de</i></a>)<br>
<i>07 Nov 1999 17:26:49 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">A. MadPoet: "Problem installing xsane on Irix 6.5.2"</a>
<li> <b>Previous message:</b> <a href="0043.html">Oliver Rauch: "Re: problem compiling xsane-0.43"</a>
<li> <b>In reply to:</b> <a href="0043.html">Oliver Rauch: "Re: problem compiling xsane-0.43"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; writes:<br>
<p>
[...]<br>
<i>&gt; please try</i><br>
<i>&gt; make distclean</i><br>
<i>&gt; ./configure --with-included-gettext</i><br>
<p>
This did the job. Thanks!<br>
<p>
Kai<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">A. MadPoet: "Problem installing xsane on Irix 6.5.2"</a>
<li> <b>Previous message:</b> <a href="0043.html">Oliver Rauch: "Re: problem compiling xsane-0.43"</a>
<li> <b>In reply to:</b> <a href="0043.html">Oliver Rauch: "Re: problem compiling xsane-0.43"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
