<!-- received="Fri Nov 12 07:49:31 1999 PST" -->
<!-- sent="Fri, 12 Nov 1999 16:25:24 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Another Microtek Phantom 636 Problem" -->
<!-- id="" -->
<!-- inreplyto="382754CF.415EFB57@iname.com" -->
<title>sane-devel: Re: Another Microtek Phantom 636 Problem</title>
<h1>Re: Another Microtek Phantom 636 Problem</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 12 Nov 1999 16:25:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Bernd Schroeder: "Re: Getting a Phantom scanner to work (through Adaptec AVA-1502A)"</a>
<li> <b>Previous message:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, Nov 08, 1999 at 11:55:11PM +0100, Christoph wrote:<br>
<i>&gt; Hi All!</i><br>
<i>&gt; </i><br>
<i>&gt; As I read in this mailingslists' archive many people are having</i><br>
<i>&gt; problems with the Phantom 636 scanner from Microtek.</i><br>
<i>&gt; </i><br>
<i>&gt; I tried to get it working through the AVA-1505A Adapter it came with.</i><br>
<i>&gt; So far the SCSI-Adapter seems to work ok.</i><br>
<i>&gt; </i><br>
<i>&gt; cat /proc/scsi/scsi returns:</i><br>
<i>&gt; </i><br>
<i>&gt; Attached devices:</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 00 Lun: 00</i><br>
<i>&gt;   Vendor: IBM      Model: DCAS-34330       Rev: S65A</i><br>
<i>&gt;   Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt; Host: scsi1 Channel: 00 Id: 00 Lun: 00</i><br>
<i>&gt;   Vendor: IDE-CD   Model: ReWritable-2x2x6 Rev: 3.01</i><br>
<i>&gt;   Type:   CD-ROM                           ANSI SCSI revision: 02</i><br>
<i>&gt; Host: scsi2 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt;   Vendor:          Model: scanner V636A4   Rev: 1.20</i><br>
<i>&gt;   Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; </i><br>
<i>&gt; But when I try to scan with scanimage the system totaly crashes!</i><br>
<i>&gt; First I see the scanners led blinking once or twice then the system</i><br>
<i>&gt; freezes</i><br>
<i>&gt; and all that helps is a hard reset!</i><br>
<p>
Does the scanhead at least move a little bit? If so, then it might be<br>
that the SCSI setup is wrong. In most cases the settings for <br>
disconnect/reconnect cause this problem.<br>
<p>
If not, can you provide a trace with SANE_DEBUG_MICROTEK2 and <br>
SANE_DEBUG_SANEI_SCSI set to 30 (although I fear that the last lines<br>
of trace will be missing, if the system freezes).<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Bernd Schroeder: "Re: Getting a Phantom scanner to work (through Adaptec AVA-1502A)"</a>
<li> <b>Previous message:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
