<!-- received="Fri Nov 12 16:41:55 1999 PST" -->
<!-- sent="Fri, 12 Nov 1999 10:05:07 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: next release?" -->
<!-- id="199911120205.KAA27931@minerva.cc.uit.no" -->
<!-- inreplyto="next release?" -->
<title>sane-devel: Re: next release?</title>
<h1>Re: next release?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Fri, 12 Nov 1999 10:05:07 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Oliver Rauch: "Re: next release?"</a>
<li> <b>Previous message:</b> <a href="0110.html">Johan Bengtsson: "Great site with info about Umax 1220 scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0085.html">William L. Sebok: "next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0112.html">Oliver Rauch: "Re: next release?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[William L. Sebok]<br>
<i>&gt; Speaking of which, is there any word on when will be the next</i><br>
<i>&gt; release?  sane-1.0.1 dates from 21-Apr-99.</i><br>
<p>
I'm not aware of any such plans.  But then again, I'm just maintaining<br>
the CVS repository.  Making releases is Davids domain.<br>
<p>
I've been planning to make a new CVS snapshot, but I wanted a test<br>
environment first to make sure everything compiled.  Maybe later<br>
today.  The content is mostly release 1.0.1 plus backend updated and<br>
bugfixes.<br>
<p>
Are there anyone actually using the CVS snapshots or am I wasting my<br>
time?<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Oliver Rauch: "Re: next release?"</a>
<li> <b>Previous message:</b> <a href="0110.html">Johan Bengtsson: "Great site with info about Umax 1220 scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0085.html">William L. Sebok: "next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0112.html">Oliver Rauch: "Re: next release?"</a>
<!-- reply="end" -->
</ul>
