<!-- received="Mon Nov 15 01:18:14 1999 PST" -->
<!-- sent="Mon, 15 Nov 1999 10:22:16 +0100" -->
<!-- name="Klaus Espenlaub" -->
<!-- email="espenlaub@informatik.uni-ulm.de" -->
<!-- subject="Re: Microtek Backend" -->
<!-- id="" -->
<!-- inreplyto="Microtek Backend" -->
<title>sane-devel: Re: Microtek Backend</title>
<h1>Re: Microtek Backend</h1>
<b>Klaus Espenlaub</b> (<a href="mailto:espenlaub@informatik.uni-ulm.de"><i>espenlaub@informatik.uni-ulm.de</i></a>)<br>
<i>Mon, 15 Nov 1999 10:22:16 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#129">[ date ]</a><a href="index.html#129">[ thread ]</a><a href="subject.html#129">[ subject ]</a><a href="author.html#129">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Arnaud Gomes-do-Vale: "Sane on OpenBSD/sparc"</a>
<li> <b>Previous message:</b> <a href="0128.html">Henrik Schmidt: "Microtek Backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0128.html">Henrik Schmidt: "Microtek Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Henrik Schmidt wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I have still big problems with my Microtek ScanMaker III and Sane.</i><br>
<i>&gt; Up to now I received no help either from this list or the original coder</i><br>
<i>&gt; of the microtek backaend.</i><br>
<i>&gt; </i><br>
<i>&gt; Please tell me if there is still someone with knowlwdge of the microtek</i><br>
<i>&gt; backend who might be able to give some help.</i><br>
<p>
The current microtek backend maintainer is currently busy (final exams).<br>
He will probably be back in a week or so.<br>
<p>
Your problem is related to the new gamma table download code introduced in<br>
the microtek backend.  I suspect it is because your scanner supports &gt; 24<br>
bit scans. As far as I understand the gamma code, it currently doesn't handle<br>
this (but I haven't found a reason why it should fail).<br>
<p>
Quick and dirty hack (disabling gamma tables altogether): edit<br>
sane-1.0.1/backend/microtek.c (function download_gamma) to do<br>
return SANE_STATUS_GOOD;<br>
somewhere early.  Right before the debug message statement is probably a good<br>
place.<br>
<p>
This should make it work again, but without gamma correction support.<br>
For a real solution someone has to find the bug in the SCSI command set<br>
documentation.<br>
<p>
Hope that helps,<br>
<p>
Klaus<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Arnaud Gomes-do-Vale: "Sane on OpenBSD/sparc"</a>
<li> <b>Previous message:</b> <a href="0128.html">Henrik Schmidt: "Microtek Backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0128.html">Henrik Schmidt: "Microtek Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
