<!-- received="Mon Nov 15 08:24:28 1999 PST" -->
<!-- sent="Mon, 15 Nov 1999 17:29:24 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Takes really long - Mustek slow ?" -->
<!-- id="" -->
<!-- inreplyto="Takes really long - Mustek slow ?" -->
<title>sane-devel: Re: Takes really long - Mustek slow ?</title>
<h1>Re: Takes really long - Mustek slow ?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 15 Nov 1999 17:29:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Petter Reinholdtsen: "Re: next release?"</a>
<li> <b>Previous message:</b> <a href="0138.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Klaas Freitag wrote:<br>
<p>
<i>&gt; On Mon, 15 Nov 1999 Oliver Rauch wrote:</i><br>
<i>&gt; &gt; &gt; The call to the sane_open-function takes a tremendious long time - with my</i><br>
<i>&gt; &gt; &gt; scanner, which is a mustek 12000(-something) on a ncr-SCSI-Card on a SuSE</i><br>
<i>&gt; &gt; &gt; linux, it takes easily 10-15 seconds. In that period, the GUI hangs. I</i><br>
<i>&gt; &gt; &gt; think, Oliver, you have a similar problem in XSane ?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; If yoor scsi-driver is a module and you load it the first time</i><br>
<i>&gt; &gt; it can take such a long time because the driver has to be loaded and</i><br>
<i>&gt; &gt; the scsi bus has to be scanned.</i><br>
<i>&gt; &gt; If I call xsane a second time it is much faster. It also is much faster</i><br>
<i>&gt; &gt; when the scsi driver is compiled into the kernel - waht make other things</i><br>
<i>&gt; &gt; more compilcated.</i><br>
<i>&gt;</i><br>
<i>&gt; Yes, true. But taking in consideration all these facts, it is still very slow,</i><br>
<i>&gt; not only the first time. I see, with other scanners, you dont have the problem</i><br>
<i>&gt; so much. I think, its the time, until the scanner is in position (the time</i><br>
<i>&gt; increases, when you set a scan-position far away from the start-position of</i><br>
<i>&gt; the scanner-'head' (sorry, difficult in english ;)</i><br>
<i>&gt;</i><br>
<p>
The sane_open function should normally not cause move of the scanhead,<br>
that should be done in sane_start.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Petter Reinholdtsen: "Re: next release?"</a>
<li> <b>Previous message:</b> <a href="0138.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
