<!-- received="Mon Nov 15 10:40:57 1999 PST" -->
<!-- sent="Mon, 15 Nov 1999 19:22:24 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: sane and video4linux" -->
<!-- id="" -->
<!-- inreplyto="sane and video4linux" -->
<title>sane-devel: Re: sane and video4linux</title>
<h1>Re: sane and video4linux</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 15 Nov 1999 19:22:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Richard Kuhlbars: "Error compiling xsane 0.44"</a>
<li> <b>Previous message:</b> <a href="0141.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0124.html">raj2569@flashmail.com: "sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0152.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; I was going to add your backend to the CVS source,</i><br>
<p>
Hello Petter, hello Juergen<br>
<p>
when you add the 4vl-backend to the SANE-source, please make<br>
sure that it is only compiled on linux machines (or those machines<br>
where the backend does work on).<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Richard Kuhlbars: "Error compiling xsane 0.44"</a>
<li> <b>Previous message:</b> <a href="0141.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0124.html">raj2569@flashmail.com: "sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0152.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
