<!-- received="Mon Nov 15 15:48:15 1999 PST" -->
<!-- sent="Tue, 16 Nov 1999 00:53:26 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Error compiling xsane 0.44" -->
<!-- id="" -->
<!-- inreplyto="Error compiling xsane 0.44" -->
<title>sane-devel: Re: Error compiling xsane 0.44</title>
<h1>Re: Error compiling xsane 0.44</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 16 Nov 1999 00:53:26 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#145">[ date ]</a><a href="index.html#145">[ thread ]</a><a href="subject.html#145">[ subject ]</a><a href="author.html#145">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Michael J. Dikkema: "Vista S6E problems"</a>
<li> <b>Previous message:</b> <a href="0144.html">Oliver Rauch: "xsane-0.45: no segfault when loading *.drc"</a>
<li> <b>Maybe in reply to:</b> <a href="0143.html">Richard Kuhlbars: "Error compiling xsane 0.44"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0159.html">Richard Kuhlbars: "Re: Error compiling xsane 0.44"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Richard Kuhlbars wrote:<br>
<p>
<i>&gt; Hi all!</i><br>
<i>&gt;</i><br>
<i>&gt; I'm getting the following error when I am compiling xsane on my SUSE 6.0</i><br>
<i>&gt; Linux machine:</i><br>
<i>&gt;</i><br>
<i>&gt; gcc  -o xsane xsane-back-gtk.o xsane-front-gtk.o xsane-gamma.o</i><br>
<i>&gt; xsane-preview.o xsane-preferences.o xsane-setup.o xsane-save.o xsane-scan.o</i><br>
<i>&gt; xsane-icons.o xsane.o ../sanei/libsanei.a \</i><br>
<i>&gt;         ../lib/liblib.a -lgimp  ../intl/libintl.a -lpng -lsane  -ldl -ltiff</i><br>
<i>&gt; -ljpeg -lm</i><br>
<i>&gt; /usr/i486-linux/bin/ld: cannot open -lpng: No such file or directory</i><br>
<i>&gt; collect2: ld returned 1 exit status</i><br>
<i>&gt; make[1]: *** [xsane] Error 1</i><br>
<i>&gt; make[1]: Leaving directory `/opt/xsane-0.44/frontend'</i><br>
<i>&gt; make: *** [all-recursive] Error 1</i><br>
<p>
Hi Richard,<br>
<p>
try with<br>
./configure --disable-png<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Kinda stumped me.  Everything is fine and uptodate (glib, gtk+, sane).</i><br>
<i>&gt; scanimage works as well.</i><br>
<i>&gt;</i><br>
<i>&gt; BTW, i couldn't find xscanimage on the sane 1.01 dist.  Is xsane the</i><br>
<i>&gt; official replacement?</i><br>
<i>&gt;</i><br>
<p>
xscanimage is included in sane-1.01.<br>
<p>
There will be no "offical" sane frontend in the future and<br>
no graphical frontend will be included into sane any more.<br>
Then we will have a sane backend package and different<br>
frontend packages.<br>
<p>
I think that xsane gets the standard frontend  for scanners in that case.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Michael J. Dikkema: "Vista S6E problems"</a>
<li> <b>Previous message:</b> <a href="0144.html">Oliver Rauch: "xsane-0.45: no segfault when loading *.drc"</a>
<li> <b>Maybe in reply to:</b> <a href="0143.html">Richard Kuhlbars: "Error compiling xsane 0.44"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0159.html">Richard Kuhlbars: "Re: Error compiling xsane 0.44"</a>
<!-- reply="end" -->
</ul>
