<!-- received="Tue Nov 16 02:23:02 1999 PST" -->
<!-- sent="Tue, 16 Nov 1999 02:24:32 -0800" -->
<!-- name="David Paschal" -->
<!-- email="paschal@ns.net" -->
<!-- subject="Re: diff/patch (was: Re: HP OfficeJet Pro,R series support" -->
<!-- id="199911161024.CAA00975@axel.local" -->
<!-- inreplyto="diff/patch (was: Re: HP OfficeJet Pro,R series support" -->
<title>sane-devel: Re: diff/patch (was: Re: HP OfficeJet Pro,R series support</title>
<h1>Re: diff/patch (was: Re: HP OfficeJet Pro,R series support</h1>
<b>David Paschal</b> (<a href="mailto:paschal@ns.net"><i>paschal@ns.net</i></a>)<br>
<i>Tue, 16 Nov 1999 02:24:32 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#149">[ date ]</a><a href="index.html#149">[ thread ]</a><a href="subject.html#149">[ subject ]</a><a href="author.html#149">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0150.html">David Paschal: "Re: Takes really long -- hp-jdex does too"</a>
<li> <b>Previous message:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">David E. Nelson: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support"</a>
<li> <b>Reply:</b> <a href="0151.html">David E. Nelson: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks, David and Dave, for the info on diff and patch.  My apologies for not<br>
following up earlier.  Now for a few more questions...<br>
<p>
If I make my initial changes available in the form of a patch, then in what<br>
form should I make further changes available?  A patch to my patch, or a<br>
patch relative to the base code I'm working from (version 0.83 of the HP<br>
backend)?  I don't want to require people to apply several patches in a row<br>
just to get started.  Mind you, I haven't gotten any feedback yet, so either<br>
nobody has had occasion to try it out, or everything's working perfectly.  :-)<br>
<p>
Given that the HP backend seems pretty stable these days, is there even any<br>
point in generating patches, as opposed to just providing the entirety of<br>
the changed files?  (No flames, please -- I'm just wondering!)<br>
<p>
So how have other people dealt with branches like this without the benefit<br>
of fancy revision control systems?<br>
<p>
Thanks,<br>
David Paschal<br>
<a href="http://www.ns.net/~paschal/sane">http://www.ns.net/~paschal/sane</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0150.html">David Paschal: "Re: Takes really long -- hp-jdex does too"</a>
<li> <b>Previous message:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">David E. Nelson: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support"</a>
<li> <b>Reply:</b> <a href="0151.html">David E. Nelson: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support"</a>
<!-- reply="end" -->
</ul>
