<!-- received="Thu Nov 18 07:55:40 1999 PST" -->
<!-- sent="Thu, 18 Nov 1999 11:00:53 -0500" -->
<!-- name="jaijeet roychowdhury" -->
<!-- email="jaijeet@research.bell-labs.com" -->
<!-- subject="Re: Samsung Digimax 800k" -->
<!-- id="199911181600.LAA01482@tango.research.bell-labs.com" -->
<!-- inreplyto="Samsung Digimax 800k" -->
<title>sane-devel: Re: Samsung Digimax 800k</title>
<h1>Re: Samsung Digimax 800k</h1>
<b>jaijeet roychowdhury</b> (<a href="mailto:jaijeet@research.bell-labs.com"><i>jaijeet@research.bell-labs.com</i></a>)<br>
<i>Thu, 18 Nov 1999 11:00:53 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">PAILOTT@aol.com: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0163.html">Oliver Rauch: "Re: Error compiling xsane 0.44"</a>
<li> <b>Maybe in reply to:</b> <a href="0162.html">Mats Eriksson R: "Samsung Digimax 800k"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Take a look at www.gphoto.org, you might find some information there.<br>
<p>
Jaijeet<br>
<p>
<i>&gt; I'm thinking of buying a Samsung Digimax 800k digital camera (it is rather cheap,</i><br>
<i>&gt; 2000SEK ~ 250USD, for 800K pixels), but it only comes with TWAIN drivers for Windows. I prefer Linux.</i><br>
<i>&gt; </i><br>
<i>&gt; Does anyone know how to get the pictures from the camera to Linux via the serial port,or where I can find any specs on the interface ?</i><br>
<i>&gt; </i><br>
<i>&gt; (If anyone has something good or bad to say about the Digimax I will listen.)</i><br>
<i>&gt; </i><br>
<i>&gt; Mats Eriksson (<a href="mailto:Mats.R.Eriksson@era.ericsson.se">Mats.R.Eriksson@era.ericsson.se</a>)</i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">PAILOTT@aol.com: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0163.html">Oliver Rauch: "Re: Error compiling xsane 0.44"</a>
<li> <b>Maybe in reply to:</b> <a href="0162.html">Mats Eriksson R: "Samsung Digimax 800k"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
