<!-- received="Sun Nov 21 16:10:16 1999 PST" -->
<!-- sent="Sun, 21 Nov 1999 18:04:11 -0600" -->
<!-- name="Laura DeWitt" -->
<!-- email="cats-rule@home.net" -->
<!-- subject="Re: Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="Problem with SANE and SCSI scanner" -->
<title>sane-devel: Re: Problem with SANE and SCSI scanner</title>
<h1>Re: Problem with SANE and SCSI scanner</h1>
<b>Laura DeWitt</b> (<a href="mailto:cats-rule@home.net"><i>cats-rule@home.net</i></a>)<br>
<i>Sun, 21 Nov 1999 18:04:11 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#205">[ date ]</a><a href="index.html#205">[ thread ]</a><a href="subject.html#205">[ subject ]</a><a href="author.html#205">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0206.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0204.html">Oliver Rauch: "Re: Compile on Suse 5.3"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; Can somebody help me get SANE to work with my SCSI scanner?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]# scanimage --device sga -- help</i><br>
<i>&gt;                                                ^^^</i><br>
<i>&gt; Try using /dev/sga here.</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; scanimage: open of device sga failed: Invalid argument</i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]#  scanimage --device sg0</i><br>
<i>&gt; &gt; scanimage: open of device sg0 failed: Invalid argument</i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]# scanimage --list-devices</i><br>
<i>&gt; &gt; [root@c554912-a ldewitt]# find-scanner</i><br>
<i>&gt; &gt; find-scanner: found scanner "CANON IX-06015C 2.02" at device /dev/sg0</i><br>
<i>&gt; &gt; find-scanner: found scanner "CANON IX-06015C 2.02" at device /dev/sga</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<p>
sh-2.03$ scanimage -d /dev/sga<br>
scanimage: open of device /dev/sga failed: Invalid argument<br>
sh-2.03$ scanimage -d /dev/sg0<br>
scanimage: open of device /dev/sg0 failed: Invalid argument<br>
<p>
I think I am having the same problem as Herman Roozenbeek. Sorry for taking<br>
your name in vain Herman, but I saw your posting after I posted mine, so if<br>
you get any leads, let me know. I will do the same for you. Good luck.<br>
<p>
Laura<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0206.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0204.html">Oliver Rauch: "Re: Compile on Suse 5.3"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
