<!-- received="Mon Nov 22 01:28:49 1999 PST" -->
<!-- sent="Mon, 22 Nov 1999 10:29:48 +0100" -->
<!-- name="Manuel Panea" -->
<!-- email="mpd@rzg.mpg.de" -->
<!-- subject="Re: Canon scanners" -->
<!-- id="" -->
<!-- inreplyto="XFMail.991121192705.hermanr@mailroom.com" -->
<title>sane-devel: Re: Canon scanners</title>
<h1>Re: Canon scanners</h1>
<b>Manuel Panea</b> (<a href="mailto:mpd@rzg.mpg.de"><i>mpd@rzg.mpg.de</i></a>)<br>
<i>Mon, 22 Nov 1999 10:29:48 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#212">[ date ]</a><a href="index.html#212">[ thread ]</a><a href="subject.html#212">[ subject ]</a><a href="author.html#212">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Dave Restall - System Administrator: "Re:- Re: Backend development problems."</a>
<li> <b>Previous message:</b> <a href="0211.html">Bob van der Poel: "Re: GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
<p>
On Sun, 21 Nov 1999, Herman Roozenbeek wrote:<br>
<p>
<i>&gt; I use SuSE Linux 6.1, but I have Sane 1.0.1 installed.</i><br>
<i>&gt; Everything compiled without problems and I have the /usr/local/lib/libsane.*</i><br>
<i>&gt; files pointing to the corresponding /usr/local/lib/sane/libsane-canon.* files.</i><br>
<i>&gt; </i><br>
<i>&gt; The kernel recognizes the scanner at startup, so there is no problem with the</i><br>
<i>&gt; SCSI-setup.</i><br>
<i>&gt; </i><br>
<i>&gt; But when I run xscanimage, the programs informs me that there are no devices</i><br>
<i>&gt; found.</i><br>
<p>
Have you tried 'scanimage --list-devices'? If your scanner is listed as<br>
'canon:/dev/sg0', then try 'xscanimage -d canon:/dev/sg0'.<br>
<p>
  Manuel Panea                    Tel. +49 89 3299 1133<br>
  Rechenzentrum Garching          Fax  +49 89 3299 1301<br>
  Postfach 1533                   E-mail: <a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a><br>
  85740 Garching Germany          <a href="http://www.rzg.mpg.de/~mpd">http://www.rzg.mpg.de/~mpd</a><br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGPfreeware 5.0i for non-commercial use<br>
Charset: noconv<br>
<p>
iQCVAwUBODj/A4nxRMteJ3RRAQHtjQP/b0eYvm3nMlISEkW1HuAOc6+bOg8oWcDU<br>
WSgw9oC0gacvk+g0SD0NPbnKNV/k+rgOurhjeJt13RrphwJOccAa3qgZyn0G3Ltn<br>
kgNf9SyVblH3ZOkiHtAHFYSVhNA5cao4NqGzftOcSFvPVdZV58JZkKcl3X7inEkn<br>
Y5bW092qWxA=<br>
=yBVO<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Dave Restall - System Administrator: "Re:- Re: Backend development problems."</a>
<li> <b>Previous message:</b> <a href="0211.html">Bob van der Poel: "Re: GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
