<!-- received="Mon Nov 22 08:51:44 1999 PST" -->
<!-- sent="Mon, 22 Nov 1999 17:53:51 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: GIMP/SANE PERMISSIONS" -->
<!-- id="" -->
<!-- inreplyto="GIMP/SANE PERMISSIONS" -->
<title>sane-devel: Re: GIMP/SANE PERMISSIONS</title>
<h1>Re: GIMP/SANE PERMISSIONS</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 22 Nov 1999 17:53:51 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#217">[ date ]</a><a href="index.html#217">[ thread ]</a><a href="subject.html#217">[ subject ]</a><a href="author.html#217">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Laura DeWitt: "Re: Canon scanners"</a>
<li> <b>Previous message:</b> <a href="0216.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">David McCormick: "GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bob van der Poel wrote:<br>
<p>
<i>&gt;  - What users should be granted entrance to 'scanner' group?</i><br>
<i>&gt;  - What device to set. Could be that the device changes?</i><br>
<p>
The problem is that the user has wrize acces in that case.<br>
It would be much better if only the program (xsane/(x)scanimage)<br>
would have write access.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Laura DeWitt: "Re: Canon scanners"</a>
<li> <b>Previous message:</b> <a href="0216.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">David McCormick: "GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
