<!-- received="Wed Nov 24 13:23:34 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 00:31:23 +0300" -->
<!-- name="Cyril Y. Nickonorov" -->
<!-- email="cyril@mcst.ru" -->
<!-- subject="Umax 1220S problem fixed" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Umax 1220S problem fixed</title>
<h1>Umax 1220S problem fixed</h1>
<b>Cyril Y. Nickonorov</b> (<a href="mailto:cyril@mcst.ru"><i>cyril@mcst.ru</i></a>)<br>
<i>Thu, 25 Nov 1999 00:31:23 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#234">[ date ]</a><a href="index.html#234">[ thread ]</a><a href="subject.html#234">[ subject ]</a><a href="author.html#234">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Oliver Rauch: "Re: Problems with Umax 1220S"</a>
<li> <b>Previous message:</b> <a href="0233.html">Bernd Schroeder: "Re: Update of the microtek2 backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0236.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0236.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0241.html">Cyril Y. Nickonorov: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0242.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello and thanks to all who answered me.<br>
<p>
I just found why my scanner refused to do it's job. The problem was buffer size<br>
value in<br>
/usr/include/scsi/sg.h file. I've put there incorrect value and it causes sane<br>
to<br>
print "out of memory" error in log file.<br>
<p>
Now everything works just ok. :)<br>
<p>
Regards,<br>
Cyril.<br>
<p>
<pre>
--
Cyril Y. Nickonorov
E-mail: <a href="mailto:cyril@mcst.ru">cyril@mcst.ru</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Oliver Rauch: "Re: Problems with Umax 1220S"</a>
<li> <b>Previous message:</b> <a href="0233.html">Bernd Schroeder: "Re: Update of the microtek2 backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0236.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0236.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0241.html">Cyril Y. Nickonorov: "Re: Umax 1220S problem fixed"</a>
<li> <b>Reply:</b> <a href="0242.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<!-- reply="end" -->
</ul>
