<!-- received="Wed Nov 24 14:40:40 1999 PST" -->
<!-- sent="Wed, 24 Nov 1999 23:44:21 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1220S problem fixed" -->
<!-- id="" -->
<!-- inreplyto="Umax 1220S problem fixed" -->
<title>sane-devel: Re: Umax 1220S problem fixed</title>
<h1>Re: Umax 1220S problem fixed</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 24 Nov 1999 23:44:21 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#236">[ date ]</a><a href="index.html#236">[ thread ]</a><a href="subject.html#236">[ subject ]</a><a href="author.html#236">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0237.html">Erwin Kaiser: "Agfa Snapscan 600 - problems"</a>
<li> <b>Previous message:</b> <a href="0235.html">Oliver Rauch: "Re: Problems with Umax 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Cyril Y. Nickonorov: "Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Cyril Y. Nickonorov" wrote:<br>
<p>
<i>&gt; Hello and thanks to all who answered me.</i><br>
<i>&gt;</i><br>
<i>&gt; I just found why my scanner refused to do it's job. The problem was buffer size</i><br>
<i>&gt; value in</i><br>
<i>&gt; /usr/include/scsi/sg.h file. I've put there incorrect value and it causes sane</i><br>
<i>&gt; to</i><br>
<i>&gt; print "out of memory" error in log file.</i><br>
<i>&gt;</i><br>
<i>&gt; Now everything works just ok. :)</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
;-)<br>
<p>
Fine.<br>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0237.html">Erwin Kaiser: "Agfa Snapscan 600 - problems"</a>
<li> <b>Previous message:</b> <a href="0235.html">Oliver Rauch: "Re: Problems with Umax 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Cyril Y. Nickonorov: "Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<!-- reply="end" -->
</ul>
