<!-- received="Wed Nov 24 15:48:22 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 00:45:02 +0100 (CET)" -->
<!-- name="Erwin Kaiser" -->
<!-- email="ekaiser@snafu.de" -->
<!-- subject="Agfa Snapscan 600 - problems" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Agfa Snapscan 600 - problems</title>
<h1>Agfa Snapscan 600 - problems</h1>
<b>Erwin Kaiser</b> (<a href="mailto:ekaiser@snafu.de"><i>ekaiser@snafu.de</i></a>)<br>
<i>Thu, 25 Nov 1999 00:45:02 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#237">[ date ]</a><a href="index.html#237">[ thread ]</a><a href="subject.html#237">[ subject ]</a><a href="author.html#237">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0236.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo,<br>
my AGFA SNAPSCAN 600 and <br>
scanimage [sane 1.01] -d snapscan:/dev/scanner -T say: <br>
scanimage: scanning image of size 2539x3420 pixels at 24 bits/pixel<br>
scanimage: acquiring RGB frame, 8 bits/sample<br>
scanimage: reading one scanline, 7617 bytes...	FAIL No data<br>
scanimage: reading one byte...		FAIL No data<br>
scanimage: stepped read, 2 bytes... 	FAIL No data<br>
scanimage: stepped read, 4 bytes... 	FAIL No data<br>
scanimage: stepped read, 8 bytes... 	FAIL No data<br>
scanimage: stepped read, 16 bytes... 	FAIL No data<br>
scanimage: stepped read, 32 bytes... 	FAIL No data<br>
scanimage: stepped read, 64 bytes... 	FAIL No data<br>
scanimage: stepped read, 128 bytes... 	FAIL No data<br>
scanimage: stepped read, 256 bytes... 	FAIL No data<br>
scanimage: stepped read, 512 bytes... 	FAIL No data<br>
scanimage: stepped read, 1024 bytes... 	FAIL No data<br>
scanimage: stepped read, 2048 bytes... 	FAIL No data<br>
scanimage: stepped read, 4096 bytes... 	FAIL No data<br>
scanimage: stepped read, 8192 bytes... 	FAIL No data<br>
scanimage: stepped read, 8191 bytes... 	FAIL No data<br>
scanimage: stepped read, 4095 bytes... 	FAIL No data<br>
scanimage: stepped read, 2047 bytes... 	FAIL No data<br>
scanimage: stepped read, 1023 bytes... 	FAIL No data<br>
scanimage: stepped read, 511 bytes... 	FAIL No data<br>
scanimage: stepped read, 255 bytes... 	FAIL No data<br>
scanimage: stepped read, 127 bytes... 	FAIL No data<br>
scanimage: stepped read, 63 bytes... 	FAIL No data<br>
scanimage: stepped read, 31 bytes... 	FAIL No data<br>
scanimage: stepped read, 15 bytes... 	FAIL No data<br>
scanimage: stepped read, 7 bytes... 	FAIL No data<br>
scanimage: stepped read, 3 bytes... 	FAIL No data<br>
<p>
What may be wrong? <br>
Every suggestion appreciated!<br>
<p>
TIA Erwin.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0236.html">Oliver Rauch: "Re: Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
