<!-- received="Thu Nov 25 00:57:40 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 10:00:30 +0100" -->
<!-- name="Manuel Panea" -->
<!-- email="mpd@rzg.mpg.de" -->
<!-- subject="Re: Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="383CACD9.C2173E0@home.net" -->
<title>sane-devel: Re: Problem with SANE and SCSI scanner</title>
<h1>Re: Problem with SANE and SCSI scanner</h1>
<b>Manuel Panea</b> (<a href="mailto:mpd@rzg.mpg.de"><i>mpd@rzg.mpg.de</i></a>)<br>
<i>Thu, 25 Nov 1999 10:00:30 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#240">[ date ]</a><a href="index.html#240">[ thread ]</a><a href="subject.html#240">[ subject ]</a><a href="author.html#240">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Cyril Y. Nickonorov: "Re: Umax 1220S problem fixed"</a>
<li> <b>Previous message:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
<p>
<p>
On Wed, 24 Nov 1999, Laura DeWitt wrote:<br>
<p>
<i>&gt; Then I followed the instructions to make and install the software.</i><br>
<i>&gt; </i><br>
<i>&gt; There wasn't a canon.conf file, so I created one and made the first line be</i><br>
<i>&gt; /dev/scanner. Then I created a symbolic link from /dev/sga to /dev/scanner</i><br>
<i>&gt; </i><br>
<i>&gt; I also checked the dll.conf to make sure that canon was there and it was.</i><br>
<i>&gt; </i><br>
<i>&gt; sh-2.03$ cat /proc/scsi/scsi</i><br>
<i>&gt; Attached devices:</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 02 Lun: 00</i><br>
<i>&gt;   Vendor: CANON    Model: IX-06015C        Rev: 2.02</i><br>
<i>&gt;   Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; </i><br>
<i>&gt; Does anybody have any ideas why scanimage cannot find my scanner but</i><br>
<i>&gt; find-scanner can?</i><br>
<p>
<p>
Hi. I'm am the main developer of the Canon backend. Let's see if we can<br>
sort this out. Please type:<br>
<p>
  export SANE_DEBUG_SANEI=128<br>
  export SANE_DEBUG_CANON=128<br>
<p>
before starting scanimage or xscanimage. Save the (very verbose) debugging<br>
output in a file and send it to me. Maybe then I can see what's wrong.<br>
<p>
<p>
  Manuel Panea                    Tel. +49 89 3299 1133<br>
  Rechenzentrum Garching          Fax  +49 89 3299 1301<br>
  Postfach 1533                   E-mail: <a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a><br>
  85740 Garching Germany          <a href="http://www.rzg.mpg.de/~mpd">http://www.rzg.mpg.de/~mpd</a><br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGPfreeware 5.0i for non-commercial use<br>
Charset: noconv<br>
<p>
iQCVAwUBODzsqYnxRMteJ3RRAQFl0gP+NyQ+Tv8/TY6vZw52htIYvHyNYlhcczxm<br>
u8aN3JCJgS8fTd7agGEccGxhSMniIgWT8iRhuw6xLEpzjOnQ7ziUJ2OzSHXHlULE<br>
27FaY8Uxj3ZJbrJMYiMN0gUlz4b7CYX0zOo7FDebX3oBmA4v5W+8ET5Hlxs6NE0h<br>
qNJbhuzSsiA=<br>
=LOWg<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Cyril Y. Nickonorov: "Re: Umax 1220S problem fixed"</a>
<li> <b>Previous message:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
