<!-- received="Fri Nov 26 08:46:29 1999 PST" -->
<!-- sent="Fri, 26 Nov 1999 17:50:31 +0100" -->
<!-- name="Klaus Espenlaub" -->
<!-- email="espenlaub@informatik.uni-ulm.de" -->
<!-- subject="SCSI protocol snooping using WINE" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SCSI protocol snooping using WINE</title>
<h1>SCSI protocol snooping using WINE</h1>
<b>Klaus Espenlaub</b> (<a href="mailto:espenlaub@informatik.uni-ulm.de"><i>espenlaub@informatik.uni-ulm.de</i></a>)<br>
<i>Fri, 26 Nov 1999 17:50:31 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Manfred Muench: "Problems running an HP-scanner..."</a>
<li> <b>Previous message:</b> <a href="0261.html">Dave Restall - System Administrator: "undefined reference to `sane_pie...`"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
just wanted to drop a few lines regarding an invaluable reverse engineering<br>
tool: the windows emulator running under Linux.  At least the Microtek<br>
TWAIN module runs quite nicely under WINE, so all you need for a reverse<br>
engineering session is a hacked version of wnaspi32.dll (source included<br>
in the WINE sources) that dumps all commands sent to the SG driver to files<br>
on disk, too.<br>
<p>
A small problem is that very few scanner programs shipped with the scanners<br>
run under WINE.  They just crash WINE.  But who didn't expect that - they<br>
crash frequently under Windows, anyway.  The solution I found is the TWAIN<br>
capable image viewer IfanView.  You should be able to get it where you usually<br>
get Windows shareware/freeware from.  It runs nicely, except that you usually<br>
have to select the File|Open dialog once and cancel it before the TWAIN stuff<br>
actually works.<br>
<p>
If you have questions about details, just ask.  If somebody needs it I can<br>
post my ASPI driver patches to WINE.<br>
<p>
Cheers<br>
<pre>
-- 
Klaus Espenlaub                      Email:  <a href="mailto:espenlaub@informatik.uni-ulm.de">espenlaub@informatik.uni-ulm.de</a>
Universitaet Ulm                     Phone:  +49 731 50-24178
Abteilung Rechnerstrukturen          Fax:    +49 731 50-24182
D-89069 Ulm                          Office: Building O27, Room 316
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Manfred Muench: "Problems running an HP-scanner..."</a>
<li> <b>Previous message:</b> <a href="0261.html">Dave Restall - System Administrator: "undefined reference to `sane_pie...`"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
