<!-- received="Sun Nov 28 08:37:33 1999 PST" -->
<!-- sent="Sun, 28 Nov 1999 19:48:18 +0300" -->
<!-- name="Cyril Y. Nickonorov" -->
<!-- email="cyril@mcst.ru" -->
<!-- subject="Thanks" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Thanks</title>
<h1>Thanks</h1>
<b>Cyril Y. Nickonorov</b> (<a href="mailto:cyril@mcst.ru"><i>cyril@mcst.ru</i></a>)<br>
<i>Sun, 28 Nov 1999 19:48:18 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#278">[ date ]</a><a href="index.html#278">[ thread ]</a><a href="subject.html#278">[ subject ]</a><a href="author.html#278">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0279.html">Henning Meier-Geinitz: "Re: Mustek 600 IIN color patch"</a>
<li> <b>Previous message:</b> <a href="0277.html">Bernd Schroeder: "Re: Microtek Pagewizard support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0280.html">Oliver Rauch: "Re: Thanks"</a>
<li> <b>Reply:</b> <a href="0280.html">Oliver Rauch: "Re: Thanks"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello to all!<br>
<p>
Thanks a lot for all who gave me help on Umax 1220S support under<br>
Linux. All I had to do was installing sg driver right in kernel and correcting<br>
buffer size in sg.h. After this and sane recompilation everything works fine.<br>
Scanning at high resolutions too.<br>
<p>
Maybe this situation is evident and should be included in FAQ?<br>
<p>
Regards,<br>
Cyril.<br>
<p>
<pre>
--
Cyril Y. Nickonorov
E-mail: <a href="mailto:cyril@mcst.ru">cyril@mcst.ru</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0279.html">Henning Meier-Geinitz: "Re: Mustek 600 IIN color patch"</a>
<li> <b>Previous message:</b> <a href="0277.html">Bernd Schroeder: "Re: Microtek Pagewizard support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0280.html">Oliver Rauch: "Re: Thanks"</a>
<li> <b>Reply:</b> <a href="0280.html">Oliver Rauch: "Re: Thanks"</a>
<!-- reply="end" -->
</ul>
