<!-- received="Thu Mar  4 22:53:59 1999 PST" -->
<!-- sent="Thu, 4 Mar 1999 22:53:56 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="another pre-test" -->
<!-- id="199903050653.WAA09786@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: another pre-test</title>
<h1>another pre-test</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 4 Mar 1999 22:53:56 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Wolfgang Goeller: "Re: Have HP 4P, need more res"</a>
<li> <b>Previous message:</b> <a href="0058.html">Henning Meier-Geinitz: "Re: off.c (for Mustek 600 II N)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Milon Firikis: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0061.html">Milon Firikis: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0064.html">Craig Ruff: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0078.html">Petter Reinholdtsen: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0108.html">Milon Firikis: "Re: another pre-test"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OK, I just uploaded another pre-test:<br>
<p>
  <a href="ftp://ftp.mostang.com/pub/sane/alpha/sane-pre1.01-3.tar.gz">ftp://ftp.mostang.com/pub/sane/alpha/sane-pre1.01-3.tar.gz</a><br>
<p>
I won't be able to respond to patches/inquiries over the weekend but<br>
once back, I'd like to release 1.01 soon thereafter.  Thus, I'd really<br>
appreciate if you could kick the tires and see if the above<br>
pre-release works for you.<br>
<p>
Changes since the last pre-release:<br>
<p>
	- Irix changes are in (Mike Sweet)<br>
	- new/updated Canon backend (Manual Panea)<br>
	- scanimage -T option added (Nick Lamb)<br>
<p>
If you're a backend maintainer, could you please also run "scanimage<br>
-T" (and some variants such as "scanimage -T --mode color" etc.) to<br>
make sure your backend is API compliant?<br>
<p>
BTW: I haven't heard from anyone using *BSD or any other platform<br>
other than Linux or Irix.  If you want to make sure your platform is<br>
supported, please test this pre-release (if I don't hear, I'll just<br>
assume everything works great... ;-).<br>
<p>
Thanks!<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Wolfgang Goeller: "Re: Have HP 4P, need more res"</a>
<li> <b>Previous message:</b> <a href="0058.html">Henning Meier-Geinitz: "Re: off.c (for Mustek 600 II N)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Milon Firikis: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0061.html">Milon Firikis: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0064.html">Craig Ruff: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0078.html">Petter Reinholdtsen: "Re: another pre-test"</a>
<li> <b>Reply:</b> <a href="0108.html">Milon Firikis: "Re: another pre-test"</a>
<!-- reply="end" -->
</ul>
