<!-- received="Sun Mar  7 21:24:59 1999 PST" -->
<!-- sent="Mon, 08 Mar 1999 19:17:58 +0000" -->
<!-- name="John J. Frake" -->
<!-- email="frake@ibm.net" -->
<!-- subject="Scanner and SANR compatibility" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanner and SANR compatibility</title>
<h1>Scanner and SANR compatibility</h1>
<b>John J. Frake</b> (<a href="mailto:frake@ibm.net"><i>frake@ibm.net</i></a>)<br>
<i>Mon, 08 Mar 1999 19:17:58 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Brian Idzik: "Interesting scsi problem"</a>
<li> <b>Previous message:</b> <a href="0070.html">bob gordon: "FCPA"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am using a Genius ColorPage-SP2 scsi scanner with SANE and so far all<br>
functions work well.  If I can give you any further info please do not<br>
hesistate to ask.<br>
<p>
<pre>
--
John J. Frake
<a href="mailto:frake@ibm.net">frake@ibm.net</a> (Suse Linux 5.3)
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Brian Idzik: "Interesting scsi problem"</a>
<li> <b>Previous message:</b> <a href="0070.html">bob gordon: "FCPA"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
