<!-- received="Mon Mar  8 21:21:08 1999 PST" -->
<!-- sent="Mon, 08 Mar 1999 22:02:13 -0500" -->
<!-- name="John Brush" -->
<!-- email="jbrush@aros.net" -->
<!-- subject="Would like help w/saneos2, please?" -->
<!-- id="199903090521.VAA10840@panda.mostang.com" -->
<!-- inreplyto="36A85935.4942@zeus.cs.uni-bonn.de" -->
<title>sane-devel: Would like help w/saneos2, please?</title>
<h1>Would like help w/saneos2, please?</h1>
<b>John Brush</b> (<a href="mailto:jbrush@aros.net"><i>jbrush@aros.net</i></a>)<br>
<i>Mon, 08 Mar 1999 22:02:13 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#96">[ date ]</a><a href="index.html#96">[ thread ]</a><a href="subject.html#96">[ subject ]</a><a href="author.html#96">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">wolfgang Rapp: "xsane-0.14 dont run on my linux"</a>
<li> <b>Previous message:</b> <a href="0095.html">Christopher Curtis: "microtek2 driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have been trying to get saneos2 to work off and on for a year now :)<br>
I just can't bring myself to pay $50 for CFM when its not that great<br>
in the first place.<br>
<p>
Here is what is up:<br>
<p>
Warp4 fixpak 5<br>
<p>
Microtek E3 scanner, which runs fine in windows, and using the CFM<br>
demo.<br>
<p>
I have the emx runtime loaded on my system already.<br>
<p>
I unzip sane101p3 into a directory, setup the aspirout.sys in the<br>
config and I see it load okay when I boot.<br>
<p>
find-scanner finds a scanner at b0t0l0, as does scanimage -L<br>
<p>
I use the command line from that directory:<br>
<p>
SCANIMAGE.EXE -d microtek:b0t6l0 --resolution 156 -x50 -y50 <br>
<p>
The scanner bumps and grinds a bit and almost begins the scan, and<br>
then I get a error message that emxlibcm.dll has caused an access<br>
violation. Other times I get an access violation message that is<br>
caused by libsane.dll<br>
<p>
Either one ends with the error message screen, followed by the return<br>
to the screen and it shows this:<br>
<p>
[F:\sane]SCANIMAGE.EXE -d microtek:b0t6l0 --resolution 156 -x50 -y50<br>
SCANIMAGE.EXE: sane_start: Error during device I/O<br>
<p>
Process terminated by SIGSEGV<br>
core dumped<br>
SYS1808:<br>
The process has stopped.  The software diagnostic<br>
code (exception code) is  0005.<br>
<p>
These are the same errors I got when running the 0.74 version some<br>
time ago. <br>
<p>
I am a bit confused as to what this means, and how to go about fixing<br>
it. If it is totally foreign, I guess I need to do more debug<br>
information and provide the core dump, but I am hoping someone might<br>
have a suggestion to get it all going. Failing that, is the<br>
author/compiler of saneos2 willing to work with me? :) I don't want to<br>
burden someone that is doing so much good stuff for OS/2, if I can<br>
avoid it.<br>
<p>
<p>
Thank you all for any advice or suggestions.<br>
<p>
Regards,<br>
<p>
John<br>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">wolfgang Rapp: "xsane-0.14 dont run on my linux"</a>
<li> <b>Previous message:</b> <a href="0095.html">Christopher Curtis: "microtek2 driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
