<!-- received="Tue Mar  9 15:25:24 1999 PST" -->
<!-- sent="Wed, 10 Mar 1999 00:20:56 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: microtek2 driver" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.04.9903090024240.2397-100000@spanky.aet-usa.com" -->
<title>sane-devel: Re: microtek2 driver</title>
<h1>Re: microtek2 driver</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Wed, 10 Mar 1999 00:20:56 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Christopher Curtis: "Re: microtek2 driver"</a>
<li> <b>Previous message:</b> <a href="0099.html">Bernd Schroeder: "Re: microtek ScanMaker X6 (EL)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Mar 09, 1999 at 12:28:23AM -0500, Christopher Curtis wrote:<br>
<i>&gt; Hello all,</i><br>
<i>&gt; </i><br>
<i>&gt; I'm helping to work on developing a driver for the microtek V310 scanner</i><br>
<i>&gt; and am having some troubles.  The communication seems to be going okay,</i><br>
<i>&gt; but the scanner is not properly responding (I get "scanimage: sane_start:</i><br>
<i>&gt; Invalid argument" errors).  I'm running SANE 1.0 from debian and just want</i><br>
<i>&gt; to make sure that I'm using the latest version of the drivers.  Is this</i><br>
<i>&gt; the case, or is there newer microtek2 code I could use?</i><br>
<p>
The error 'invalid argument' normally occurs if the frontend is not<br>
called with correct arguments. Did you invoke scanimage with<br>
<p>
 scanimage -d microtek2:/dev/scanner<br>
<p>
or whatever your device is ?<br>
<p>
There exists a newer version of the backend on<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.291298.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.291298.tar.gz</a> .<br>
<p>
However, this version seems to have the problem, that the colors are wrong<br>
in some cases (see other mails on this list). But this is the version of<br>
the backend, where enhancements should be applied to.<br>
<p>
Hint: If you want to add the V310 check the function check_inquiry()<br>
in microtek2.c.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Christopher Curtis: "Re: microtek2 driver"</a>
<li> <b>Previous message:</b> <a href="0099.html">Bernd Schroeder: "Re: microtek ScanMaker X6 (EL)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
