<!-- received="Thu Mar 11 08:10:14 1999 PST" -->
<!-- sent="Thu, 11 Mar 1999 08:08:55 -0800" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: twain -&gt; sane proxy for windows" -->
<!-- id="" -->
<!-- inreplyto="twain -&gt; sane proxy for windows" -->
<title>sane-devel: Re: twain -&gt; sane proxy for windows</title>
<h1>Re: twain -&gt; sane proxy for windows</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Thu, 11 Mar 1999 08:08:55 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Oliver Rauch: "xsane-0.15 available"</a>
<li> <b>Previous message:</b> <a href="0114.html">Ole W. Saastad: "Digital Cameras"</a>
<li> <b>Maybe in reply to:</b> <a href="0111.html">David M. Whetstone: "twain -&gt; sane proxy for windows"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am working on a project which has this as it's final goal. Currently it is<br>
simply an application that scans over the network using default settings and<br>
allows you to copy the image to the clipboard. It's actually pretty useful<br>
in it's current form but I haven't gotten any feedback on it yet. I'm still<br>
working out how I want to license the source (it will be some sort of open<br>
source license) and am porting it and the 3rd party library it uses over to<br>
CygWin32/EGCS so you don't have to have the Borland compiler to build it.<br>
<p>
Anyways, the initial binary is at www.sunshinecomputing.com/winsane and the<br>
next release should include source and some better user feedback during the<br>
scan.<br>
<p>
Brian Macy<br>
<p>
----- Original Message -----<br>
From: David M. Whetstone &lt;<a href="mailto:dmw@hooked.net">dmw@hooked.net</a>&gt;<br>
To: &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt;<br>
Sent: Wednesday, March 10, 1999 5:10 PM<br>
Subject: twain -&gt; sane proxy for windows<br>
<p>
<p>
<i>&gt;I would like to be able to share my scanner through my linux server</i><br>
<i>&gt;with all my client machines (which happen to be running windows).</i><br>
<i>&gt;</i><br>
<i>&gt;I've searched the mailing list archive for this and found a couple of</i><br>
<i>&gt;references.  Is anyone working on this?  If not, I would be interested</i><br>
<i>&gt;in investigating this a little further.  Does anyone know where I can</i><br>
<i>&gt;get specs for TWAIN?  Anyone interested in collaborating?</i><br>
<i>&gt;</i><br>
<i>&gt;David Whetstone</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Oliver Rauch: "xsane-0.15 available"</a>
<li> <b>Previous message:</b> <a href="0114.html">Ole W. Saastad: "Digital Cameras"</a>
<li> <b>Maybe in reply to:</b> <a href="0111.html">David M. Whetstone: "twain -&gt; sane proxy for windows"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
