<!-- received="Sat Mar 13 23:36:03 1999 PST" -->
<!-- sent="Sun, 14 Mar 1999 08:31:05 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: microtek2 driver" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.04.9903091847140.2397-100000@spanky.aet-usa.com" -->
<title>sane-devel: Re: microtek2 driver</title>
<h1>Re: microtek2 driver</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sun, 14 Mar 1999 08:31:05 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Oliver Rauch: "New umax backend availableHi"</a>
<li> <b>Previous message:</b> <a href="0131.html">Nick Lamb: "HP ScanJet IIc ADF report"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Mar 09, 1999 at 06:59:39PM -0500, Christopher Curtis wrote:<br>
<i>&gt; On Wed, 10 Mar 1999, Bernd Schroeder wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; The error 'invalid argument' normally occurs if the frontend is not</i><br>
<i>&gt; &gt; called with correct arguments. Did you invoke scanimage with</i><br>
<i>&gt; &gt;  scanimage -d microtek2:/dev/scanner</i><br>
<i>&gt; </i><br>
<i>&gt; Yes.</i><br>
<p>
I just checked the code again, and the only place where this can happen<br>
at the beginning of a scan, is indeed, when the backend tries to open<br>
the device. Are the permissions of /dev/scanner or, if it is a link, <br>
the device /dev/scanner points to, correctly set ?<br>
<p>
<i>&gt; </i><br>
<i>&gt; &gt; There exists a newer version of the backend on</i><br>
<i>&gt; &gt;  <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.291298.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.291298.tar.gz</a> .</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Hint: If you want to add the V310 check the function check_inquiry()</i><br>
<i>&gt; &gt; in microtek2.c.</i><br>
<i>&gt; </i><br>
<p>
<i>&gt; find-scanner: found scanner " Scanner 300A4 4.11" at device /dev/scanner</i><br>
<i>&gt; </i><br>
<i>&gt; if that is of any importance to you.  It is a MicroTek ScanMaker V310.</i><br>
<p>
I have received your mail and have added the missing include. Does<br>
it now work ?<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Oliver Rauch: "New umax backend availableHi"</a>
<li> <b>Previous message:</b> <a href="0131.html">Nick Lamb: "HP ScanJet IIc ADF report"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
