<!-- received="Sun Mar 14 19:06:22 1999 PST" -->
<!-- sent="Sun, 14 Mar 1999 22:15:18 -0500 (EST)" -->
<!-- name="Christopher Curtis" -->
<!-- email="ccurtis@aet-usa.com" -->
<!-- subject="Re: microtek2 driver" -->
<!-- id="" -->
<!-- inreplyto="19990314073105.1682.qmail@aquila.muc.de" -->
<title>sane-devel: Re: microtek2 driver</title>
<h1>Re: microtek2 driver</h1>
<b>Christopher Curtis</b> (<a href="mailto:ccurtis@aet-usa.com"><i>ccurtis@aet-usa.com</i></a>)<br>
<i>Sun, 14 Mar 1999 22:15:18 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Manuel Panea: "Re: Canon CanoScan 2700F"</a>
<li> <b>Previous message:</b> <a href="0135.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 14 Mar 1999, Bernd Schroeder wrote:<br>
<p>
<i>&gt; On Tue, Mar 09, 1999 at 06:59:39PM -0500, Christopher Curtis wrote:</i><br>
<i>&gt; &gt; On Wed, 10 Mar 1999, Bernd Schroeder wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; The error 'invalid argument' normally occurs if the frontend is not</i><br>
<i>&gt; </i><br>
<i>&gt; I just checked the code again, and the only place where this can happen</i><br>
<i>&gt; at the beginning of a scan, is indeed, when the backend tries to open</i><br>
<i>&gt; the device. Are the permissions of /dev/scanner or, if it is a link, </i><br>
<i>&gt; the device /dev/scanner points to, correctly set ?</i><br>
<p>
I don't know what the permissions are, but all this was being done as<br>
root.  I think we've progressed beyond this point, though.  The error<br>
sequence is now:<br>
<p>
[microtek2] scsi_send_gamma: pos=0x805a5b8, size=3072, word=0, color=3<br>
[microtek2] scsi_wait_for_image: ms=0x8055820<br>
[microtek2] scsi_read_image_status: ms=0x8055820<br>
[microtek2] scsi_read_image_status: 'Error during device I/O'<br>
[microtek2] scsi_wait_for_image: 'Error during device I/O'<br>
[microtek2] cleanup_scanner: ms=0x8055820<br>
scanimage: sane_start: Error during device I/O<br>
<p>
but there are other problems that I think need to be resolved.  Further<br>
development is currently on hold until some issues get worked out.<br>
<p>
<i>&gt; I have received your mail and have added the missing include. Does</i><br>
<i>&gt; it now work ?</i><br>
<p>
No, but I don't know if it's a problem with your driver.  Right now I<br>
don't think it is.  Once more progress has been made, I'll be sure to let<br>
you know if you wish.<br>
<p>
Christopher<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Manuel Panea: "Re: Canon CanoScan 2700F"</a>
<li> <b>Previous message:</b> <a href="0135.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
