<!-- received="Mon Mar 15 16:36:42 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 01:16:53 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek scanners" -->
<!-- id="" -->
<!-- inreplyto="017CD638FB49D1118AC100805FAD982D379E8F@mail.microtek.nl" -->
<title>sane-devel: Re: Microtek scanners</title>
<h1>Re: Microtek scanners</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Tue, 16 Mar 1999 01:16:53 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">abel deuring: "SANE backend for Sharp JX-250"</a>
<li> <b>Previous message:</b> <a href="0155.html">Bernd Schroeder: "Re: microtek2 driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, Mar 12, 1999 at 04:19:43PM +0100, Leon van Zundert wrote:<br>
<i>&gt; Dear Sir/Madam,</i><br>
<i>&gt; </i><br>
<i>&gt; We have quite a few customers asking for Linux drivers.</i><br>
<i>&gt; </i><br>
<i>&gt; Could you tell us which scanners are supported by S.A.N.E., so we don't</i><br>
<i>&gt; get any dissapointet customers after sending them to your homepage.</i><br>
<p>
Basically you can find a list of supported scanners on the sane webserver.<br>
With sane-1.00 (microtek2 backend v0.5) the X6EL is working, too, but is<br>
missing on this list, because it was unclear, whether it would work, when<br>
this version was released. Ditto V300. In the meanwhile it has been<br>
reported, that the V600 works with this version, too.<br>
<p>
There exists a major problem with most models with 36-bit color depth:<br>
After one successful color scan subsequent scans produce a corrupted image<br>
(looks somehow like random noise scattered over the image). For FW-version<br>
1.0 of the devices the backend v0.5 has a workaround, but devices with a newer<br>
FW-version need to be patched to apply the workaround.<br>
<p>
For some models I have no information, whether they work, whereas some<br>
other probably work, if only a check for the model code is added to<br>
the backend (notably the Scanmaker 336).<br>
<p>
These are all SCSI models.<br>
<p>
A pre0.6 release of the backend exists on<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.120399.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.120399.tar.gz</a> .<br>
<p>
This version includes the workaround mentioned above for all FW-versions<br>
known to me. This version also knows about the 9600XL.<br>
<p>
However, some people have reported that under some circumstances the<br>
colors are wrong with an older pre0.6 release, and I don't know yet, whether<br>
this newer version fixes this.<br>
<p>
<i>&gt; Does S.A.N.E. also support parallel and USB scanners?</i><br>
<p>
As for the those models with a SCSI to parallelport adapter:<br>
According to an information from the the Linux parport mailing list and<br>
a link on the parport web server these devices have a builtin <br>
OnSpec90C26 chip. If the communication protocol between the device and the<br>
host is the same as for the pure SCSI models, these models should work<br>
once a generic parport driver is available. Maybe you can confirm,<br>
that they have this chip.<br>
<p>
Maybe the same is true for USB scanners, but at present USB is not supported.<br>
<p>
The Slimscan and Phantom&lt;insert a number here&gt;cx series will probably never<br>
be supported by the microtek2 backend. I asked Microtek in Taiwan for the <br>
documentation some months ago, and they told me that they don't have any<br>
documentation. In addition these models use a different technology and hence<br>
probably a rather different protocol.<br>
<p>
Basically the backend is written rather generic, so that all models <br>
to which the documentation of the SCSI command set applies, should<br>
work. However, during the development of the backend I have noticed that<br>
a number of models violate the spec in this respect or have some other<br>
oddities, which makes it often time consuming or impossible to figure<br>
out workarounds or how it really works.<br>
<p>
Examples are the mentioned corrupted images or the "two-many-bytes-per-<br>
scanline" problem discussed some days ago on this list.<br>
<p>
It would be very helpful if Microtek could give some support to solve<br>
these kinds of problems (maybe you can arrange for such a help). The fact<br>
that Microtek (and probably other manufacturers) get questions regarding<br>
Linux drivers is a clear indication for its growing importance.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">abel deuring: "SANE backend for Sharp JX-250"</a>
<li> <b>Previous message:</b> <a href="0155.html">Bernd Schroeder: "Re: microtek2 driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
