<!-- received="Wed Mar 17 13:39:57 1999 PST" -->
<!-- sent="Wed, 17 Mar 1999 22:31:10 +0100 (CET)" -->
<!-- name="Marco Foglia" -->
<!-- email="mfoglia@physik.unizh.ch" -->
<!-- subject="Linux Driver for Primax Colorado Direct" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Linux Driver for Primax Colorado Direct</title>
<h1>Linux Driver for Primax Colorado Direct</h1>
<b>Marco Foglia</b> (<a href="mailto:mfoglia@physik.unizh.ch"><i>mfoglia@physik.unizh.ch</i></a>)<br>
<i>Wed, 17 Mar 1999 22:31:10 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">FUKUDA Kazuya: "Re: SANE backend for Sharp JX 250 version 0.11"</a>
<li> <b>Previous message:</b> <a href="0184.html">abel deuring: "SANE backend for Sharp JX 250 version 0.11"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0197.html">Marco Foglia: "Re: Linux Driver for Primax Colorado Direct"</a>
<li> <b>Reply:</b> <a href="0197.html">Marco Foglia: "Re: Linux Driver for Primax Colorado Direct"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
the first version of the linux driver for the <br>
Primax Colorado Direct is out. At the moment<br>
it is very experimental. Be warned! <br>
<p>
You can get it directly from <br>
<p>
<a href="http://spinor1.physik.unizh.ch:8080/primax_scan-0.2.tgz">http://spinor1.physik.unizh.ch:8080/primax_scan-0.2.tgz</a><br>
<p>
or<br>
<p>
from the Primax Project Page at<br>
<p>
<a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a><br>
<p>
<p>
<p>
<pre>
---
Christian Ordig             | The Primax Scanner Driver Project for Linux/UN*X |
Germany                     |   <a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a>   |
   __   _                   |                                                  |
  / /  (_)__  __ ____  __   | Why Linux? Because it is free, stable, and       |
 / /__/ / _ \/ // /\ \/ /   | bugs can be fixed in source opposed to waiting   |
/____/_/_//_/\_,_/ /_/\_\   | for a stable WinTendo from Micro$oft.            |
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">FUKUDA Kazuya: "Re: SANE backend for Sharp JX 250 version 0.11"</a>
<li> <b>Previous message:</b> <a href="0184.html">abel deuring: "SANE backend for Sharp JX 250 version 0.11"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0197.html">Marco Foglia: "Re: Linux Driver for Primax Colorado Direct"</a>
<li> <b>Reply:</b> <a href="0197.html">Marco Foglia: "Re: Linux Driver for Primax Colorado Direct"</a>
<!-- reply="end" -->
</ul>
