<!-- received="Fri Mar 26 22:19:47 1999 PST" -->
<!-- sent="Sat, 27 Mar 1999 01:23:12 -0500" -->
<!-- name="Peter C. Norton" -->
<!-- email="spacey-sane-devel@lenin.nu" -->
<!-- subject="HP laserjet 1100A scanner attachment (1100 axe/ase)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP laserjet 1100A scanner attachment (1100 axe/ase)</title>
<h1>HP laserjet 1100A scanner attachment (1100 axe/ase)</h1>
<b>Peter C. Norton</b> (<a href="mailto:spacey-sane-devel@lenin.nu"><i>spacey-sane-devel@lenin.nu</i></a>)<br>
<i>Sat, 27 Mar 1999 01:23:12 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#243">[ date ]</a><a href="index.html#243">[ thread ]</a><a href="subject.html#243">[ subject ]</a><a href="author.html#243">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Hugo van der Kooij: "Re: HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<li> <b>Previous message:</b> <a href="0242.html">Chris Pinkham: "Re: Some info about Dexxa / Artec AS6E"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I don't see any compatability for this document scanner in any of the<br>
sane docs.<br>
<p>
This is an attachment to a laserjet 1100 that does pretty good<br>
greyscale document scanning.  It works through a parallel port.  Is<br>
there any support for this sort of thing, or anything I can do to help<br>
support it?<br>
<p>
If the concensus that the best thing I can do is write a driver,<br>
that's fine - as long as I can get some help in identifying how the<br>
thing works.<br>
<p>
-Peter<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Hugo van der Kooij: "Re: HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<li> <b>Previous message:</b> <a href="0242.html">Chris Pinkham: "Re: Some info about Dexxa / Artec AS6E"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
