<!-- received="Sun Feb  1 17:31:02 1998 PST" -->
<!-- sent="Sun, 01 Feb 1998 20:30:25 -0500" -->
<!-- name="Peter JD Hall" -->
<!-- email="phall@ilap.com" -->
<!-- subject="Re: Micotek E3, SANE-0.69" -->
<!-- id="" -->
<!-- inreplyto="Micotek E3, SANE-0.69" -->
<title>sane-devel: Re: Micotek E3, SANE-0.69</title>
<h1>Re: Micotek E3, SANE-0.69</h1>
<b>Peter JD Hall</b> (<a href="mailto:phall@ilap.com"><i>phall@ilap.com</i></a>)<br>
<i>Sun, 01 Feb 1998 20:30:25 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">rodgerd@ihug.co.nz: "Re: request for comments on hardware"</a>
<li> <b>Previous message:</b> <a href="0003.html">tim drummer: "request for comments on hardware"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matto Marjanovic wrote:<br>
<p>
<i>&gt;    Has anyone had any luck with SANE-0.69, Microtek E3 with "stock"</i><br>
<i>&gt;    Adaptec 1502AE scsi card, and RH 5.0?</i><br>
<i>&gt;</i><br>
<i>&gt; I don't know how RH takes care of setting up scsi drivers, but the</i><br>
<i>&gt;  1502AE card will work.  You need to use the aha152x driver, and you</i><br>
<i>&gt;  need to specify the IRQ/base address manually.</i><br>
<i>&gt;</i><br>
<i>&gt; In my /etc/conf.modules (for a Debian-based box):</i><br>
<i>&gt;</i><br>
<i>&gt;         options aha152x aha152x=0x140,9,7,0,1,1</i><br>
<i>&gt;</i><br>
<i>&gt; This is described in the source file, .../linux-xxx/drivers/scsi/aha152x.c</i><br>
<i>&gt;</i><br>
<i>&gt; -matt m.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Hi Matt,    I have the Microtek E3 scanner on the ava1502e card which is the<br>
stock card that the scanner comes with in the box.  The scanner runs fine<br>
under win 3.11.  I have been struggling with getting this card to work under<br>
linux, running Slackware 3.3.0, kernel 2.0.33.  I have finally succeded in<br>
getting the card recognized with the generic scsi driver and the aha152x<br>
driver loaded as modules at boot time:<br>
 Adding Swap: 16556k swap-space (priority -1)<br>
aha152x: BIOS test: passed, auto configuration: ok, detected 2 controller(s)<br>
aha152x0: vital data: PORTBASE=0x140, IRQ=10, SCSI ID=7, reconnect=enabled,<br>
parity=enabled, synchronous=disabled, delay=100, extended<br>
translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
aha152x1: vital data: PORTBASE=0x340, IRQ=12, SCSI ID=7, reconnect=enabled,<br>
parity=disabled, synchronous=disabled, delay=100, extended<br>
translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
scsi1 : Adaptec 152x SCSI driver; $Revision: 1.18 $<br>
scsi2 : Adaptec 152x SCSI driver; $Revision: 1.18 $<br>
scsi : 3 hosts.<br>
  Vendor:           Model: Scanner           Rev: 1.40<br>
  Type:   Scanner                            ANSI SCSI revision: 04<br>
Detected scsi generic sge at scsi1, channel 0, id 5, lun 0<br>
ncr53c810-0-&lt;2,0&gt;: SLOW SCSI 4.0 MB/s (250 ns, offset 8)<br>
Max size:326563   Log zone size:2048<br>
First datazone:36   Root inode number 73728<br>
The second card is my Sound blaster card which has a scsi controller on it<br>
that I do not use but I am unable to disable the scsi chip so it is<br>
recognized.<br>
<p>
The real problem is the following:<br>
    find-scanner: checking /dev/sga...<br>
find-scanner: found disk "QUANTUM MAVERICK 540S 0901" at device /dev/sga<br>
find-scanner: checking /dev/sgb...<br>
find-scanner: found disk "QUANTUM FIREBALL_TM2110S 300X" at device /dev/sgb<br>
find-scanner: checking /dev/sgc...<br>
find-scanner: found CD-drive "TOSHIBA CD-ROM XM-3501TA 2694" at device<br>
/dev/sgc<br>
find-scanner: checking /dev/sgd...<br>
find-scanner: found disk "QUANTUM FIREBALL_TM2110S 300X" at device /dev/sgd<br>
find-scanner: checking /dev/sge...<br>
find-scanner: found disk "  " at device /dev/sge.<br>
<p>
    I can not get sane to see the scanner as other than a hard drive.  The<br>
other scsi devices are on the ncr controller.  There is a symbolic link from<br>
scanner to /dev/sge.<br>
    Any pointers would be appreciated.  I have been struggling with this for<br>
several weeks and reading over the various howtos.<br>
Cheers,<br>
Peter Hall<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">rodgerd@ihug.co.nz: "Re: request for comments on hardware"</a>
<li> <b>Previous message:</b> <a href="0003.html">tim drummer: "request for comments on hardware"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
