<!-- received="Sun Feb  8 01:50:52 1998 PST" -->
<!-- sent="Sun, 8 Feb 1998 10:52:42 +0100 (CET)" -->
<!-- name="Benedikt Eric Heinen" -->
<!-- email="beh@icemark.ch" -->
<!-- subject="Re: sane-0.70: net-backend?" -->
<!-- id="" -->
<!-- inreplyto="199802072259.OAA11866@panda.mostang.com" -->
<title>sane-devel: Re: sane-0.70: net-backend?</title>
<h1>Re: sane-0.70: net-backend?</h1>
<b>Benedikt Eric Heinen</b> (<a href="mailto:beh@icemark.ch"><i>beh@icemark.ch</i></a>)<br>
<i>Sun, 8 Feb 1998 10:52:42 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S colormode"</a>
<li> <b>Previous message:</b> <a href="0035.html">David Mosberger-Tang: "Re: Mustek Scan Magic 4800 P"</a>
<li> <b>In reply to:</b> <a href="0030.html">David Mosberger-Tang: "Re: sane-0.70: net-backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Starting saned as root with '-d 99' gave the following error message in<br>
/var/adm/daemon.log:<br>
<p>
Feb  8 11:33:17 varenorn saned[7913]: failed to put socket in TCP_NODELAY mode (Socket operation on non-socket)<br>
<p>
<p>
<p>
I don't know whether this is already the indication for the real problem,<br>
so I include the setup for both machines:<br>
<p>
fenun.icemark.ch	==&gt;	client machine<br>
varenorn.icemark.ch	==&gt;	server w/ scanner <br>
<p>
<p>
<p>
Starting 'scanimage -L' doesn't do anything...<br>
Starting 'xscanimage varenorn.icemark.ch:/dev/scanner' yields:<br>
<p>
	beh@fenun:~ $ scanimage varenorn.icemark.ch:/dev/scanner<br>
	scanimage: no SANE devices found<br>
<p>
<p>
<p>
OK, let's get into a little more detail here:<br>
<p>
dll.conf on fenun:<br>
<p>
	# enable the next line if you want to allow access through the network:<br>
	net<br>
	#canon<br>
	#epson<br>
	#hp<br>
	#microtek<br>
	#mustek<br>
	#pint<br>
	#pnm<br>
	#qcam<br>
	#s9306<br>
	#snapscan<br>
	#tamarack<br>
	#umax<br>
<p>
dll.conf on varenorn:<br>
<p>
	# enable the next line if you want to allow access through the network:<br>
	net<br>
	#canon<br>
	#epson<br>
	#hp<br>
	#microtek<br>
	#mustek<br>
	#pint<br>
	#pnm<br>
	#qcam<br>
	#s9306<br>
	#snapscan<br>
	#tamarack<br>
	umax<br>
<p>
<p>
saned.conf on varenorn:<br>
<p>
	fenun.icemark.ch<br>
<p>
<p>
net.conf on fenun:<br>
<p>
	# This is the net config file.  Each line names a host to attach to.<br>
	# If you list "localhost" then your backends can be accessed either<br>
	# directly or through the net backend.  Going through the net backend<br>
	# may be necessary to access devices that need special privileges.<br>
	# localhost<br>
	varenorn.icemark.ch<br>
<p>
<p>
<p>
/dev/scanner on varenorn points to /dev/sge, which is the Umax Astra <br>
1200S. <br>
<p>
<p>
<p>
<i>&gt;  2) you didn't mention inetd.conf.  Be sure to set it up as well (see</i><br>
<i>&gt;     saned(1)).</i><br>
<p>
I didn't set it up there at first... :(<br>
I think it might be a good idea at least hinting to inetd.conf in<br>
sane-net.1 (or at least contain a SEE ALSO to saned(1))...<br>
<p>
<p>
<p>
<i>&gt; This way, debug messages will appear in your syslog (/var/adm/messages,</i><br>
<i>&gt; typically). </i><br>
<p>
The only problem I saw in /var/adm/daemon.log (nothing in<br>
/var/adm/messages) was the "TCP_NODELAY" line mentioned earlier...<br>
<p>
<p>
Further ideas?<br>
<p>
  Benedikt<br>
<p>
Windows 95: n.<br>
    32-bit extensions and a graphical shell for a 16-bit patch to an 8-bit<br>
    operating system originally coded for a 4-bit microprocessor,  written<br>
         by a 2-bit company that can't stand for 1 bit of competition.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S colormode"</a>
<li> <b>Previous message:</b> <a href="0035.html">David Mosberger-Tang: "Re: Mustek Scan Magic 4800 P"</a>
<li> <b>In reply to:</b> <a href="0030.html">David Mosberger-Tang: "Re: sane-0.70: net-backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
