<!-- received="Mon Feb  9 00:41:27 1998 PST" -->
<!-- sent="Mon, 9 Feb 1998 09:43:19 +0000" -->
<!-- name="Dr. Michael Grimm" -->
<!-- email="Michael.Grimm@schering.de" -->
<!-- subject="REMOVE" -->
<!-- id="9802090943.ZM12348@be3001.schering.de" -->
<!-- inreplyto="t3@t3mailer.com" -->
<title>sane-devel: REMOVE</title>
<h1>REMOVE</h1>
<b>Dr. Michael Grimm</b> (<a href="mailto:Michael.Grimm@schering.de"><i>Michael.Grimm@schering.de</i></a>)<br>
<i>Mon, 9 Feb 1998 09:43:19 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Dr. Michael Grimm: "Re: REMOVE"</a>
<li> <b>Previous message:</b> <a href="0039.html">Rex Vaughn: "Re: HP C5100A Photscanner support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0041.html">Dr. Michael Grimm: "Re: REMOVE"</a>
<li> <b>Reply:</b> <a href="0041.html">Dr. Michael Grimm: "Re: REMOVE"</a>
<li> <b>Reply:</b> <a href="0042.html">Julian Coleman: "Off topic - junk mail"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Feb 6, 12:20pm, t3mailer.com wrote:<br>
<i>&gt; Subject: MicroSynergy CD-R Specials Edition (10)</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Microsynergy CD-R Specials Edition (10)</i><br>
<i>&gt;</i><br>
<i>&gt;  To be removed from this mailing list, simply hit reply and type</i><br>
<i>&gt; REMOVE in the subject line. Thank you, Xceed Communications.</i><br>
<i>&gt; *********************************************************</i><br>
<i>&gt;  MicroSynergy is an industry-leading manufacturer of vertically</i><br>
<i>&gt; integrated systems that employ key optical peripherals and adapters</i><br>
<i>&gt; such as:</i><br>
<i>&gt;    CD Duplication Systems</i><br>
<i>&gt;    CD-ROM Servers</i><br>
<i>&gt;    CD Jukeboxes</i><br>
<i>&gt;    CD Towers</i><br>
<i>&gt;</i><br>
<i>&gt;  ***Note: To receive special pricing from this promotion, be sure to</i><br>
<i>&gt; mention "CD-R SPECIALS EDITION (10)" or type it into the</i><br>
<i>&gt; comment  field on the online order form. Thank you.</i><br>
<i>&gt;</i><br>
<i>&gt; IDT/Microsynergy is pleased to extend the following Specials,</i><br>
<i>&gt;</i><br>
<i>&gt; MS-5 CD Duplication System. Standalone duplication system with</i><br>
<i>&gt; FIVE  4x writers records up to 20 CD's per hour. All systems include:</i><br>
<i>&gt; 133MHz  Pentium(TM),   32MB of Memory, 2GB AV Hard Drive,</i><br>
<i>&gt; Floppy Drive, Keyboard, Mouse, Monitor,  MicroSynergy's</i><br>
<i>&gt; MultipliCD(TM) Duplication Software,  and   Windows NT(TM)</i><br>
<i>&gt; Preloaded Software. $5999.00</i><br>
<i>&gt;</i><br>
<i>&gt; Blank CD-Recordable media :</i><br>
<i>&gt; White Printable CD-R media in spindle (no jewel case) 650Mb, 74 min,</i><br>
<i>&gt; Green on Gold ONLY $1.09 Each with minimum order of 200 pieces.</i><br>
<i>&gt;</i><br>
<i>&gt; Blank CD-R media in jewel case by major manufacturer  650Mb, 74</i><br>
<i>&gt; min., Blue on Silver Printable ONLY $1.89 Each with  minimum  order</i><br>
<i>&gt; of 100 pieces.</i><br>
<i>&gt;</i><br>
<i>&gt; Blank CD-R media in spindle (no jewel case) by major manufacturer</i><br>
<i>&gt; 650Mb, 74 min., Blue on Silver Printable ONLY $1.69 Each with</i><br>
<i>&gt; minimum  order of 100 pieces.</i><br>
<i>&gt;</i><br>
<i>&gt; CD-R Printer with 1440x720 dpi using Epson 600 engine print 4 color</i><br>
<i>&gt; directly on the printable CD-R media while maintaining all features of</i><br>
<i>&gt; a standard paper printer Mac and PC compatible Only $1099.00</i><br>
<i>&gt;</i><br>
<i>&gt; 4x12x (4x Write/12x Read) CD-R Drive  - Package includes, CD-R</i><br>
<i>&gt; drive, 3  in one    mastering software for Mac, PC and DIRECT CD,</i><br>
<i>&gt; one PC of media and cable.</i><br>
<i>&gt; Internal $409.00, External $459.00</i><br>
<i>&gt;</i><br>
<i>&gt; CD-RW26I (2x6x CD-REWRITABLE DRIVE) includes, CDRW</i><br>
<i>&gt; drive, one CDRW media, Direct CD software and cable.</i><br>
<i>&gt;  Internal $365.00, External-$415.00</i><br>
<i>&gt;</i><br>
<i>&gt; CDR/JAZ DUO</i><br>
<i>&gt; (4x12x CDR DRIVE AND JAZ  DRIVE EXTERNAL UNIT)</i><br>
<i>&gt; Includes: External Duo, 3 in one mastering software for Mac, PC and</i><br>
<i>&gt; DIRECT CD, one PC of media, jaz cartridge, and cable $899.00</i><br>
<i>&gt;</i><br>
<i>&gt; For more information on Microsynergy's full line of products including:</i><br>
<i>&gt; CD Duplication Systems, Autoloading CD-R Duplicators, CD-ROM</i><br>
<i>&gt; Towers &amp; Servers, Jukeboxes, CD-Recordable drives, and CD-R media</i><br>
<i>&gt;  please visit our web site at <a href="http://www.idt-microsynergy.com">http://www.idt-microsynergy.com</a>. You can</i><br>
<i>&gt;  also order online through our secure site or call 714-477-1700 USA.</i><br>
<i>&gt; You can also fax or e-mail your order.  Our fax number is</i><br>
<i>&gt; 714-477-1717 and our email address is <a href="mailto:order@idt-microsynergy.com">order@idt-microsynergy.com</a>.</i><br>
<i>&gt; Please include your telephone number so that we can confirm your</i><br>
<i>&gt; order. Shipping information and cost is available online for most items.</i><br>
<i>&gt;</i><br>
<i>&gt; Shipping and handling not included. All prices are FOB Irvine, CA,</i><br>
<i>&gt; USA.</i><br>
<i>&gt;</i><br>
<i>&gt; Prices and availability may change without notice. All trademarks,</i><br>
<i>&gt; tradenames and logos are the properties of their respective owners.</i><br>
<i>&gt; Typographic errors are subject to correction.</i><br>
<i>&gt; This special  ends 2/19/98.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;-- End of excerpt from t3mailer.com</i><br>
<p>
<p>
<p>
<pre>
-- 
===============================================================
  The opinions expressed above are solely those of the author
          and are not necessarily those of Schering.
===============================================================
NAME:  Dr. Michael Grimm         ADDRESS: Schering AG
EMAIL: <a href="mailto:michael.grimm@schering.de">michael.grimm@schering.de</a>          Research Laboratories
PHONE: +49-30-468-15477                   D-13342 Berlin
FAX:   +49-30-468-16741                   Germany
        N E W  P H O N E  A N D  F A X  N U M B E R S !
===============================================================
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Dr. Michael Grimm: "Re: REMOVE"</a>
<li> <b>Previous message:</b> <a href="0039.html">Rex Vaughn: "Re: HP C5100A Photscanner support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0041.html">Dr. Michael Grimm: "Re: REMOVE"</a>
<li> <b>Reply:</b> <a href="0041.html">Dr. Michael Grimm: "Re: REMOVE"</a>
<li> <b>Reply:</b> <a href="0042.html">Julian Coleman: "Off topic - junk mail"</a>
<!-- reply="end" -->
</ul>
