<!-- received="Fri Feb 13 05:49:17 1998 PST" -->
<!-- sent="Fri, 13 Feb 1998 13:41:43 +0000" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: [PARPORT] Scanner - Primax PagePartner" -->
<!-- id="m0y3LNA-0002VhC@hex" -->
<!-- inreplyto="[PARPORT] Scanner - Primax PagePartner" -->
<title>sane-devel: Re: [PARPORT] Scanner - Primax PagePartner</title>
<h1>Re: [PARPORT] Scanner - Primax PagePartner</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Fri, 13 Feb 1998 13:41:43 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<li> <b>Previous message:</b> <a href="0083.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<li> <b>Reply:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:campbell@gear.torque.net">campbell@gear.torque.net</a> said:<br>
<i>&gt; What I have found so far is that some drivers simply "stun" the </i><br>
<i>&gt; lpt.vxd while they do what they need to (by direct access) and then </i><br>
<i>&gt; wake it up  when they have finished. (Sounds very much like Linux </i><br>
<i>&gt; ParPort to me).</i><br>
<i>&gt;</i><br>
<i>&gt; If this is correct then we will require some method which can </i><br>
<i>&gt; intercept  direct IO requests. Could someone correct me on this? Does </i><br>
<i>&gt; DosEMU do  this by using a "virtual machine" (that is every asm </i><br>
<i>&gt; command is  interpretted) and not executed by the CPU directly? </i><br>
<p>
After some abortive attempts to get Windows running under DOSemu, I<br>
downloaded the latest version of Wine. A quick poke around in the code<br>
revealed a promising looking file ./msdos/ioports.c which does controled<br>
emulation of in/out instructions.<br>
<p>
All looked promising, so I compiled Wine, edited the wine.conf to allow<br>
it access to my parallel port, installed the Windows 3.1 software for<br>
my Umax Astra 600P using Wine (that impressed me quite a bit). Switched<br>
the scanner on, held my breath and ran Umax's scanner test program.<br>
The good news is it ran, and it works! Correctly reporting the details<br>
of the Astra 600P, and the test scan worked (a lot more backtracking than<br>
under real Windows but who cares). Their would appear to be some TWAIN<br>
problem that crashes Wine with errors about a unknown vxd, so I have not<br>
been able to do a proper scan.<br>
<p>
I added a quick hack to ./msdos/ioports.c to print port activity to<br>
stderr, recompiled Wine, and tried running the scan test again. It worked<br>
and I got lots of port IO scrolling past on my xterm. I'am very confident<br>
that the Astra 600P is mearly a 600S with a parallel-to-SCSI conversion,<br>
my next step is to download the latest version of SANE, see what the<br>
UMAX backend does, and try and relate it to the IO-trace.<br>
<p>
It would also be nice to patch Wine so that IO-tracing is selectable as<br>
a command line option ala DOSemu.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<li> <b>Previous message:</b> <a href="0083.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<li> <b>Reply:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<!-- reply="end" -->
</ul>
