<!-- received="Fri Feb 13 11:07:59 1998 PST" -->
<!-- sent="Fri, 13 Feb 1998 20:07:55 +0100" -->
<!-- name="Ondrej Popp" -->
<!-- email="ondrej@geocities.com" -->
<!-- subject="Re: sane and gimp" -->
<!-- id="" -->
<!-- inreplyto="sane and gimp" -->
<title>sane-devel: Re: sane and gimp</title>
<h1>Re: sane and gimp</h1>
<b>Ondrej Popp</b> (<a href="mailto:ondrej@geocities.com"><i>ondrej@geocities.com</i></a>)<br>
<i>Fri, 13 Feb 1998 20:07:55 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Stefano Garavaglia: "Mustek 1200SP Fix (I hope :)"</a>
<li> <b>Previous message:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<li> <b>Maybe in reply to:</b> <a href="0067.html">tim drummer: "sane and gimp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yes... I have seen this problem too, and it took me a while to<br>
figure out what was going on. But I do not believe I reported<br>
this on this list... Well anyway the problem is caused by the fact<br>
that the sane distribution does not set a compiler directive,<br>
or.. this directive is not set properly by configure...<br>
So, compiling xscanimage in this way won't make it suitable as a gimp<br>
plugin. To fix this you must make sure xscanimage is compiled with the<br>
 <br>
HAVE_LIBGIMP_GIMP_H directive turned on.<br>
<p>
That makes the problem go away.<br>
<p>
You can set this directive in &lt;sane root&gt;/include/sane/config.h<br>
<p>
I hope I have remembered this correctly, (just browsing through the<br>
sane distribution again) so if I have not, its  something along<br>
these lines...<br>
<p>
regards<br>
<p>
Ondrej<br>
<p>
tim drummer wrote:<br>
<i>&gt; </i><br>
<i>&gt; i am having trouble getting the gimp to use the SANE xscaninmage</i><br>
<i>&gt; software as a plug-in. however, before i explain the problem, please let</i><br>
<i>&gt; me relate the success i have had!</i><br>
<i>&gt; </i><br>
<i>&gt; last night i purchased a umax astra 1200S scanner. i connected it to my</i><br>
<i>&gt; zip zoom card via the zip zoom drive itself and then terminated at the</i><br>
<i>&gt; scanner. this is a particualrly nice arrangement since the scanner is a 25</i><br>
<i>&gt; pin connector and so is the zip zoom.</i><br>
<i>&gt; </i><br>
<i>&gt; one item of difficulty is that the scanner is preset to ID 5 as is the zip</i><br>
<i>&gt; drive and it was easier to change the ID on the zip drive. however, when</i><br>
<i>&gt; booted with this configuration, the scanner shows up as /dev/sga using</i><br>
<i>&gt; find-scanner and upon trying to start a scan the whole system crashes ( i</i><br>
<i>&gt; should mention that my primary hard drive is on separate AHA 2940UW</i><br>
<i>&gt; controller) forcing a hard reset. upon swapping the SCSI ID's, the scanner</i><br>
<i>&gt; is now sgc and it works fantastically! i had the setup working using</i><br>
<i>&gt; xscanimage in under an hour.</i><br>
<i>&gt; </i><br>
<i>&gt; now to the problem: i compiled sane 0.70 without any problems, made the</i><br>
<i>&gt; symlink in my ~/.gimp/plug-ins directory to xscanimage as per the man</i><br>
<i>&gt; page, however upon starting the gimp (0.99.18) i get the following output:</i><br>
<i>&gt; </i><br>
<i>&gt; tim@nrb119c: /home/tim&gt;gimp</i><br>
<i>&gt; query plug-in: "/home/tim/.gimp/plug-ins/xscanimage"</i><br>
<i>&gt; /home/tim/.gimp/plug-ins/xscanimage: illegal option -- g</i><br>
<i>&gt; Usage: xscanimage [OPTION]... [DEVICE]</i><br>
<i>&gt; </i><br>
<i>&gt; Start up graphical user interface to access SANE (Scanner Access Now</i><br>
<i>&gt; Easy) devices.</i><br>
<i>&gt; </i><br>
<i>&gt; -h, --help                 display this help message and exit</i><br>
<i>&gt; -V, --version              print version information</i><br>
<i>&gt; wire_read: unexpected EOF</i><br>
<i>&gt; writing "/home/tim/.gimp/pluginrc"</i><br>
<i>&gt; Starting extensions:</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; i found a previous article in the SANE discussion archive from someone</i><br>
<i>&gt; having a similar problem and the recommendation was to make sure that the</i><br>
<i>&gt; gimp header file is being seen when SANE is compiled. i ran</i><br>
<i>&gt; make distclean</i><br>
<i>&gt; </i><br>
<i>&gt; and</i><br>
<i>&gt; </i><br>
<i>&gt; ./configure.</i><br>
<i>&gt; </i><br>
<i>&gt; i find:  checking for libgimp/gimp.h... yes</i><br>
<i>&gt; </i><br>
<i>&gt; then</i><br>
<i>&gt; </i><br>
<i>&gt; make</i><br>
<i>&gt; </i><br>
<i>&gt; and make install</i><br>
<i>&gt; </i><br>
<i>&gt; everything appears to compile ok, yet the problem persits. sure would be</i><br>
<i>&gt; nice to scan directly into the gimp.</i><br>
<i>&gt; </i><br>
<i>&gt; any suggestions??</i><br>
<i>&gt; </i><br>
<i>&gt; thanks!</i><br>
<i>&gt; </i><br>
<i>&gt; tim</i><br>
<i>&gt; </i><br>
<i>&gt; ===================================================================</i><br>
<i>&gt; Any man can deal with adversity. A real test of character is to put</i><br>
<i>&gt; someone in a position of power.</i><br>
<i>&gt;                                 -- Abraham Lincoln</i><br>
<i>&gt; An optimist believes we live in the best of all possible worlds. A</i><br>
<i>&gt; pessimist fears he is right.</i><br>
<i>&gt; </i><br>
<i>&gt; <a href="http://nrb119c.physics.fsu.edu/~tim">http://nrb119c.physics.fsu.edu/~tim</a></i><br>
<i>&gt; </i><br>
<i>&gt; Tim Drummer</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
         ________________________________________________________ 
        |                                                        |       
        |                                                        |       
        |   <a href="http://www.geocities.com/SiliconValley/Lakes/6150">http://www.geocities.com/SiliconValley/Lakes/6150</a>    | 
        |                                                        |       
     _  |                                                        |  _    
    / ) |                                                        | ( \   
  _( (_ |  _              E-mail: <a href="mailto:ondrej@geocities.com">ondrej@geocities.com</a>        _  | _) )_ 
 (((\ \)|_/ )________________________________________________( \_|(/
/)))
  \\\\ \_/ /                                                  \ \_/ //// 
   \      /                                                    \      /  
    \   _/                                                      \_   /   
    /__/                                                          \__\
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Stefano Garavaglia: "Mustek 1200SP Fix (I hope :)"</a>
<li> <b>Previous message:</b> <a href="0085.html">ccurtis@facm.fit.edu: "Re: [PARPORT] Scanner - Primax PagePartner"</a>
<li> <b>Maybe in reply to:</b> <a href="0067.html">tim drummer: "sane and gimp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
