<!-- received="Sat Feb 21 04:52:53 1998 PST" -->
<!-- sent="Sat, 21 Feb 1998 07:53:27 -0500 (EST)" -->
<!-- name="Allen Wilkinson" -->
<!-- email="aw@stratos.net" -->
<!-- subject="Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980215152647.1150A-100000@teq.lerc.nasa.gov" -->
<title>sane-devel: Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup</title>
<h1>Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup</h1>
<b>Allen Wilkinson</b> (<a href="mailto:aw@stratos.net"><i>aw@stratos.net</i></a>)<br>
<i>Sat, 21 Feb 1998 07:53:27 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">The Root of All Evil: "Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup"</a>
<li> <b>Previous message:</b> <a href="0119.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S-patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I got a number of good replies from my origianl posting. So I would like<br>
to post my solution to the groups here. <br>
<p>
I am using a 200MHz Pentium with IDE drives. I added the Adaptec AHA1502AE<br>
SCSI card that came with my Microtek E6 scanner purchased in December<br>
1997. My OS is RedHat Linux 5.0 with the 2.0.31 kernel. It was installed<br>
with default choices before getting the scanner and SCSI card. That<br>
installation had modular SCSI support compiled in.<br>
<p>
I prefer to start up the scanner infrequently after boot-up. Hence, I<br>
wrote 2 scripts that 1) enable SCSI card driver, and 2) starup scanner.<br>
See below:<br>
<p>
1)<br>
#!/bin/bash<br>
# script to start up AHA1502AX SCSI card for scanner<br>
<p>
modprobe /lib/modules/2.0.31/scsi/aha152x.o aha152x=0x140,9<br>
<p>
2)<br>
#!/bin/bash<br>
# script to start up SANE's xscanimage with Microtek E6 scanner<br>
<p>
xscanimage microtek:/dev/sga &amp;<br>
<p>
All works well now, Allen<br>
<pre>
--
Address:
<p>
Allen Wilkinson                       (phone) (216) 382-7613
1036 Pembrook Road                    (work)  (216) 433-2075
Cleveland Heights, OH 44121  USA      (INTERNET) <a href="mailto:awr@stratos.net">awr@stratos.net</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">The Root of All Evil: "Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup"</a>
<li> <b>Previous message:</b> <a href="0119.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S-patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
