<!-- received="Sat Feb 21 10:01:56 1998 PST" -->
<!-- sent="Sat, 21 Feb 1998 17:51:35 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: problems with sane-pint/logiscan-0.0.5" -->
<!-- id="m0y6I9H-0000XcC@charon.beck-sw.de" -->
<!-- inreplyto="34EEEBA9.A6F5E273@samantha.stat.purdue.edu" -->
<title>sane-devel: Re: problems with sane-pint/logiscan-0.0.5</title>
<h1>Re: problems with sane-pint/logiscan-0.0.5</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sat, 21 Feb 1998 17:51:35 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Donald Burr: "Is this scanner supported?  More info please!"</a>
<li> <b>Previous message:</b> <a href="0122.html">Jose Miguel Perez: "problems with sane-pint/logiscan-0.0.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I am having problems with my version</i><br>
<i>&gt; of scanio.h while compiling sane-pint.</i><br>
<i>&gt; The pint interface scanio.h that I have</i><br>
<i>&gt; comes  from the logiscan-0.0.5 (I'm trying</i><br>
<i>&gt; to get sane support to a scanman).</i><br>
<p>
PINT support was never completed for logiscan, because I did not<br>
have any frontend to test it with.<br>
<p>
Logiscan has been taken over by Terence J. Wells <br>
<a href="mailto:tjw30@cam.ac.uk">tjw30@cam.ac.uk</a> recently (got to update my webpage ...) and<br>
I assume he is interested in porting the LHII Interface to<br>
SANE.<br>
<p>
Please get in touch with him. I'll try to help as need arises, but can't<br>
do much but giving advice, because I do not have the Logitech scanner<br>
attached to my system anymore.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Donald Burr: "Is this scanner supported?  More info please!"</a>
<li> <b>Previous message:</b> <a href="0122.html">Jose Miguel Perez: "problems with sane-pint/logiscan-0.0.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
