<!-- received="Mon Feb 23 23:45:34 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 23:45:31 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="sane-0.71 available now" -->
<!-- id="199802240745.XAA14143@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.71 available now</title>
<h1>sane-0.71 available now</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 23 Feb 1998 23:45:31 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Brian Knox: "Looking for Advice/Help with Project..."</a>
<li> <b>Previous message:</b> <a href="0150.html">David Mosberger-Tang: "Re: How to send in patches/code ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OK, after a couple of somewhat buggy releases, I hope this release<br>
should work out of the box for most people (at least for Linux, the<br>
only platform I can currently test myself).<br>
<p>
Apart from bug fixes, here is what's new with 0.71:<br>
<p>
-------------------------------------------------------<br>
* Polaroid Digital Microscope Camera (DMC) backend<br>
  Written by David Skoll &lt;<a href="mailto:dskoll@chipworks.com">dskoll@chipworks.com</a>&gt;.<br>
<p>
* Apple scanner backend<br>
  Written by Milon Firikis &lt;<a href="mailto:milonf@isosun.ariadne-t.gr">milonf@isosun.ariadne-t.gr</a>&gt;.  This backend<br>
  supports AppleScanner and has preliminary support for OneScanner and<br>
  ColorOneScanner.<br>
<p>
* Nikon CoolScan backend<br>
  Written by Didier Carlier &lt;<a href="mailto:didier@sema.be">didier@sema.be</a>&gt;.<br>
<p>
* Apollo Domain/OS support<br>
  Contributed by Paul Walker &lt;<a href="mailto:pwalker@hifn.com">pwalker@hifn.com</a>&gt;.<br>
-------------------------------------------------------<br>
<p>
You can find the bits at their usual place:<br>
<p>
	<a href="ftp://ftp.mostang.com/pub/sane/">ftp://ftp.mostang.com/pub/sane/</a><br>
<p>
Source RPMS and binaries for Linux Alpha and i386 are in the RPMS<br>
subdirectory.<br>
<p>
If you're a backend writer, please check the ChangeLog file---I made a<br>
couple of trivial changes to some of the backends to improve things.<br>
In particular, I changed a couple of calls to fopen() to calls to<br>
sanei_config_open() and made sure that all backends are quiet when<br>
probing devices.<br>
<p>
Thanks to everybody who contributed patches, new backends, etc.!<br>
<p>
As usual, please let me know when you build SANE for non-Linux<br>
platforms so I can update the web page at<br>
<a href="http://www.mostang.com/sane/sane-support.html">http://www.mostang.com/sane/sane-support.html</a>.<br>
<p>
Enjoy,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Brian Knox: "Looking for Advice/Help with Project..."</a>
<li> <b>Previous message:</b> <a href="0150.html">David Mosberger-Tang: "Re: How to send in patches/code ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
