<!-- received="Tue Feb 24 08:33:35 1998 PST" -->
<!-- sent="Tue, 24 Feb 1998 17:16:50 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: color mode on 600S locks up my SCSI bus" -->
<!-- id="199802241616.RAA00211@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.95.980223174903.454B-100000@xanadu.local.net" -->
<title>sane-devel: Re: color mode on 600S locks up my SCSI bus</title>
<h1>Re: color mode on 600S locks up my SCSI bus</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Tue, 24 Feb 1998 17:16:50 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Matto Marjanovic: "Re: microtek E6 problems"</a>
<li> <b>Previous message:</b> <a href="0155.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Preston,<br>
<p>
<i>&gt; When I try to use color mode on my 600S, even with the newest patches (I</i><br>
<i>&gt; have tried through 70i) my SCSI bus locks up SOLID.  This is if I try</i><br>
<i>&gt; either to do a real scan (have only tried the "good" 150 and 300 dpis) or</i><br>
<i>&gt; preview mode.</i><br>
<i>&gt; </i><br>
<i>&gt; I know it is not a SCSI card problem -- grayscale scans are still working</i><br>
<i>&gt; marvelously.</i><br>
<i>&gt; </i><br>
<i>&gt; Oliver:  Any ideas on what could be doing this?</i><br>
<p>
That is very strange, the driver works with the Astra 600S on<br>
other systems without any scsi-bus-locks.<br>
patch 0.70h had probelms at 300 dpi, but 0.70i works!<br>
<p>
So it must have to do something with you hardware or<br>
hardware-drivers!<br>
<p>
I don't have any other ideas!<br>
<p>
Did you enable command queing and disconnect/reconnect for your<br>
scsi-card, that shoulb be disabled!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Matto Marjanovic: "Re: microtek E6 problems"</a>
<li> <b>Previous message:</b> <a href="0155.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
