<!-- received="Tue Feb 24 09:53:58 1998 PST" -->
<!-- sent="Tue, 24 Feb 1998 12:53:35 -0500 (EST)" -->
<!-- name="Tom Evans" -->
<!-- email="tjevans@evans.raleigh.ibm.com" -->
<!-- subject="Re: What version of gtk to use?" -->
<!-- id="199802241753.MAA20914@evans.raleigh.ibm.com" -->
<!-- inreplyto="Pine.LNX.3.96.980224170125.12949B-100000@k2906.kampsax.dtu.dk" -->
<title>sane-devel: Re: What version of gtk to use?</title>
<h1>Re: What version of gtk to use?</h1>
<b>Tom Evans</b> (<a href="mailto:tjevans@evans.raleigh.ibm.com"><i>tjevans@evans.raleigh.ibm.com</i></a>)<br>
<i>Tue, 24 Feb 1998 12:53:35 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Bernd Seemann: "Re: color mode on 600S locks up my SCSI bus"</a>
<li> <b>Previous message:</b> <a href="0159.html">David Mosberger-Tang: "lj article now available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<li> <b>Reply:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Check the perms. on your scsi-device /dev/sga or what ever.</i><br>
<i>&gt; It works ok with me, but I had the same problem, and I just upgraded to</i><br>
<i>&gt; RH5 (I think it was the upgrade that altered theperms here)</i><br>
You lost me, how does the above have to do with gtk?<br>
Since gtk is not yet reach a stable 1.0 level, I just like to know<br>
if there is a version which everybody uses. I ASSUME, that xscanimage will<br>
work in 16 bit mode as well as 8 bit mode. Either gtk 0.99.3 is bad or <br>
I have something else missing in my system.<br>
regards, TOm<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Bernd Seemann: "Re: color mode on 600S locks up my SCSI bus"</a>
<li> <b>Previous message:</b> <a href="0159.html">David Mosberger-Tang: "lj article now available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<li> <b>Reply:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<!-- reply="end" -->
</ul>
