<!-- received="Tue Feb 24 19:29:34 1998 PST" -->
<!-- sent="Wed, 25 Feb 1998 14:26:28 +1100 (EDT)" -->
<!-- name="Graham Stoney" -->
<!-- email="greyham@research.canon.com.au" -->
<!-- subject="Heretical TWAIN/Win95 Question..." -->
<!-- id="199802250326.OAA15215@miles.research.canon.com.au" -->
<!-- inreplyto="" -->
<title>sane-devel: Heretical TWAIN/Win95 Question...</title>
<h1>Heretical TWAIN/Win95 Question...</h1>
<b>Graham Stoney</b> (<a href="mailto:greyham@research.canon.com.au"><i>greyham@research.canon.com.au</i></a>)<br>
<i>Wed, 25 Feb 1998 14:26:28 +1100 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#165">[ date ]</a><a href="index.html#165">[ thread ]</a><a href="subject.html#165">[ subject ]</a><a href="author.html#165">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">David Mosberger-Tang: "Re: Looking for Advice/Help with Project..."</a>
<li> <b>Previous message:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0167.html">David Mosberger-Tang: "Re: Heretical TWAIN/Win95 Question..."</a>
<li> <b>Reply:</b> <a href="0167.html">David Mosberger-Tang: "Re: Heretical TWAIN/Win95 Question..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Folks,<br>
<p>
I have a question which is sure to push all the wrong buttons for SANE<br>
people, but I thought it might be worth an ask anyway. I'm looking into ways<br>
to share a network scanner under Windows 95 (and possibly NT). "tragedy" is<br>
the word that sprang to mind when I discovered that Windows and Linux have<br>
incompatible scanner/application interfaces (TWAIN and SANE), but since the<br>
platform I'm targetting is Windows, I'll be forced to provide a TWAIN Source.<br>
<p>
Now the introduction to SANE at <a href="http://www.mostang.com/sane/intro.html">http://www.mostang.com/sane/intro.html</a> says<br>
that "it would be pretty straight forward to access SANE devices through a<br>
TWAIN source", so my question is this: has anyone tried to use SANE to provide<br>
shared network scanner access to Win95 applications behind a TWAIN Source?<br>
<p>
(Ducking...)<br>
<p>
Thanks,<br>
Graham<br>
<pre>
-- 
Graham Stoney, Senior Hardware/Software Engineer
Canon Information Systems Research Australia
Ph: + 61 2 9805 2909	Fax: + 61 2 9805 2929
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">David Mosberger-Tang: "Re: Looking for Advice/Help with Project..."</a>
<li> <b>Previous message:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0167.html">David Mosberger-Tang: "Re: Heretical TWAIN/Win95 Question..."</a>
<li> <b>Reply:</b> <a href="0167.html">David Mosberger-Tang: "Re: Heretical TWAIN/Win95 Question..."</a>
<!-- reply="end" -->
</ul>
