<!-- received="Wed Feb 25 10:21:39 1998 PST" -->
<!-- sent="Wed, 25 Feb 1998 19:20:45 +0100" -->
<!-- name="Yves Huguenin" -->
<!-- email="yves.huguenin@urbanet.ch" -->
<!-- subject="RE: ScanExpress" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: ScanExpress</title>
<h1>RE: ScanExpress</h1>
<b>Yves Huguenin</b> (<a href="mailto:yves.huguenin@urbanet.ch"><i>yves.huguenin@urbanet.ch</i></a>)<br>
<i>Wed, 25 Feb 1998 19:20:45 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#173">[ date ]</a><a href="index.html#173">[ thread ]</a><a href="subject.html#173">[ subject ]</a><a href="author.html#173">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Matthias Trute: "Epson GT8000 (was Re: Epson GT-5500)"</a>
<li> <b>Previous message:</b> <a href="0172.html">David Mosberger-Tang: "Re: ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The problem is that musteck begin to use the standard SCSI-II command !<br>
With the old, the scanner does nothing.<br>
Thor<br>
<p>
<p>
-----Original Message-----<br>
From:	David Mosberger-Tang [SMTP:David.Mosberger@acm.org]<br>
Sent:	Wednesday, February 25, 1998 18:29<br>
To:	<a href="mailto:olaf@ramge.de;">olaf@ramge.de;</a> sane-devel@mostang.com<br>
Subject:	Re: ScanExpress<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 25 Feb 1998 16:24:52 GMT, <a href="mailto:olaf@ramge.de">olaf@ramge.de</a> said:</i><br>
<p>
  Olaf&gt; Hi, can you please tell me if there is a chance to use a<br>
  Olaf&gt; Mustek ScanExpress 12000SP under Sane?<br>
<p>
Sorry, as far as I know, the ScanExpress uses a protocol different<br>
from the scanners supported by the Mustek backend.  I'm not positive<br>
though, so you might want to try it anyway---just be careful when<br>
playing around as there is a chance of damaging the scanner when<br>
sending bad commands.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Matthias Trute: "Epson GT8000 (was Re: Epson GT-5500)"</a>
<li> <b>Previous message:</b> <a href="0172.html">David Mosberger-Tang: "Re: ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
