<!-- received="Mon May  3 20:02:33 1999 PDT" -->
<!-- sent="Mon, 3 May 1999 00:51:57 -0700 (PDT)" -->
<!-- name="Ryan" -->
<!-- email="rcain@tech.jps.net" -->
<!-- subject="(no subject)" -->
<!-- id="199905030751.AAA09423@tech.jps.net" -->
<!-- inreplyto="" -->
<title>sane-devel: (no subject)</title>
<h1>(no subject)</h1>
<b>Ryan</b> (<a href="mailto:rcain@tech.jps.net"><i>rcain@tech.jps.net</i></a>)<br>
<i>Mon, 3 May 1999 00:51:57 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#27">[ date ]</a><a href="index.html#27">[ thread ]</a><a href="subject.html#27">[ subject ]</a><a href="author.html#27">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">henri.maries: "driver for Konica scanner"</a>
<li> <b>Previous message:</b> <a href="0026.html">Antonis Giannopoulos: "Compeye Simplex DP66M parallel port scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0031.html">Hugo van der Kooij: "Re: your mail"</a>
<li> <b>Reply:</b> <a href="0031.html">Hugo van der Kooij: "Re: your mail"</a>
<li> <b>Reply:</b> <a href="0037.html">Christian Ordig: "(no subject)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
I have a <br>
Scanport SQ1030    30-Bit   Parallel  TWAIN  style scanner<br>
is there something you know of that i may be compatable with?<br>
Or am i shit out of luck here?!   <br>
Ive been trying everything in the help files and its not really working out<br>
for me.  Im sort of confused really if im doing something wrong.. or if<br>
my scanner just isnt supported..<br>
thanks..<br>
btw here is a link for a page of stats on me scanner..<br>
<p>
<a href="http://www.scanport.com/product_scanners_30bit_spec_sq1030.html">http://www.scanport.com/product_scanners_30bit_spec_sq1030.html</a><br>
<p>
thanks again<br>
Ryan<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">henri.maries: "driver for Konica scanner"</a>
<li> <b>Previous message:</b> <a href="0026.html">Antonis Giannopoulos: "Compeye Simplex DP66M parallel port scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0031.html">Hugo van der Kooij: "Re: your mail"</a>
<li> <b>Reply:</b> <a href="0031.html">Hugo van der Kooij: "Re: your mail"</a>
<li> <b>Reply:</b> <a href="0037.html">Christian Ordig: "(no subject)"</a>
<!-- reply="end" -->
</ul>
