<!-- received="Tue May  4 03:41:12 1999 PDT" -->
<!-- sent="Tue, 4 May 1999 11:41:41 +0100" -->
<!-- name="=?iso-8859-1?Q?Donnchadh_=D3_Donnabh=E1in?=" -->
<!-- email="d_odonnabhain@vistech.ie" -->
<!-- subject="RE: Mustek parallel scanner Linux driver" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990430142824.1977A-100000@ipebio15.ise.pw.edu.pl" -->
<title>sane-devel: RE: Mustek parallel scanner Linux driver</title>
<h1>RE: Mustek parallel scanner Linux driver</h1>
<b>=?iso-8859-1?Q?Donnchadh_=D3_Donnabh=E1in?=</b> (<a href="mailto:d_odonnabhain@vistech.ie"><i>d_odonnabhain@vistech.ie</i></a>)<br>
<i>Tue, 4 May 1999 11:41:41 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Pablo Bendersky: "Question"</a>
<li> <b>Previous message:</b> <a href="0032.html">Stephane Popinet: "epson filmscan 200"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Hi Wojtek,<br>
I haven't made much progress since then. If you want, I can send you<br>
 or anyone else the current source code. At the moment, all I have is<br>
a Linux device driver which can read/write registers on the scanner ASIC<br>
 and a few simple test programs. The scanner has to be controlled at a very<br>
low level. I am still trying to work out how to control the stepper motor.<br>
 I have been able to switch the lamp on/off detect whether the cover is<br>
up/down and move the scanner head home. I have been looking at the Plustek<br>
parallel port driver and my driver will need to do a lot of the same things.<br>
 I am 99% certain that I have correctly reverse engineered the low-level<br>
 protocol but I still need to work out what the internal scanner registers<br>
mean. At the moment I don't use the parport driver and I need to clean up<br>
 some of the code.<br>
<p>
        Donnchadh<br>
<p>
<p>
<p>
-----Original Message-----<br>
Subject: Mustek parallel scanner Linux driver<br>
<p>
<p>
I would like to ask if anybody continues the work announced in:<br>
<a href="http://www.mostang.com/mail-archive/sane-devel/1998-12/0231.html">http://www.mostang.com/mail-archive/sane-devel/1998-12/0231.html</a><br>
I'd like to help in testing/developing the driver.<br>
(I have the 9636P which AFAIK is equivalent to 12000P).<br>
<p>
			TIA<br>
			Wojtek Zabolotny<br>
			<a href="mailto:wzab@ise.pw.edu.pl">wzab@ise.pw.edu.pl</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Pablo Bendersky: "Question"</a>
<li> <b>Previous message:</b> <a href="0032.html">Stephane Popinet: "epson filmscan 200"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
