<!-- received="Tue May  4 07:27:14 1999 PDT" -->
<!-- sent="Tue, 04 May 1999 15:24:33 +0100" -->
<!-- name="Fernando Fernandez" -->
<!-- email="ferdez@despodata.pt" -->
<!-- subject="Scanner auto starting" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanner auto starting</title>
<h1>Scanner auto starting</h1>
<b>Fernando Fernandez</b> (<a href="mailto:ferdez@despodata.pt"><i>ferdez@despodata.pt</i></a>)<br>
<i>Tue, 04 May 1999 15:24:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Oliver Rauch: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0037.html">Christian Ordig: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I heard there are some scanners that can start scanning <br>
as soon as they sense a page in the autoloader.<br>
<p>
Does anybody know of such a scanner supported by SANE?<br>
<p>
Thanks in advance!<br>
<p>
Fernando<br>
<p>
<pre>
--
Fernando Fernandez
Despodata
<a href="http://despodata.pt/ddata/pessoal/ferdez.htm">http://despodata.pt/ddata/pessoal/ferdez.htm</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Oliver Rauch: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0037.html">Christian Ordig: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
