<!-- received="Mon May 10 21:19:26 1999 PDT" -->
<!-- sent="Mon, 10 May 1999 23:16:28 +0000" -->
<!-- name="Norman Elliott" -->
<!-- email="norman.elliott@diamond.co.uk" -->
<!-- subject="re Mustek scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: re Mustek scanner</title>
<h1>re Mustek scanner</h1>
<b>Norman Elliott</b> (<a href="mailto:norman.elliott@diamond.co.uk"><i>norman.elliott@diamond.co.uk</i></a>)<br>
<i>Mon, 10 May 1999 23:16:28 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Sven Riedel: "Networked Sane"</a>
<li> <b>Previous message:</b> <a href="0082.html">Eduardo M. A. M. Mendes: "Old umax scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">Oliver Rauch: "Re: re Mustek scanner"</a>
<li> <b>Reply:</b> <a href="0098.html">Oliver Rauch: "Re: re Mustek scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My Advansys 2930U SCSI card can see my<br>
Mustek SE6000SP scanner but scanimage -T <br>
reports no SANE devices found.<br>
find-scanner finds nothing. <br>
This is true when I am logged in as root<br>
so it doesn't seem to be a permissions<br>
problem. <br>
I have a link /dev/scanner pointing to /dev/sgg<br>
which I believe is SCSI ID 6. This is the SCSI<br>
ID my scanner is set to.<br>
I also have an Adaptec 1542 SCSI card which has<br>
my SCSI h/d and cdrom hanging off it. I have tried<br>
the scanner on this card with the same result.<br>
<p>
Any ideas guys?<br>
thanks<br>
norm<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Sven Riedel: "Networked Sane"</a>
<li> <b>Previous message:</b> <a href="0082.html">Eduardo M. A. M. Mendes: "Old umax scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">Oliver Rauch: "Re: re Mustek scanner"</a>
<li> <b>Reply:</b> <a href="0098.html">Oliver Rauch: "Re: re Mustek scanner"</a>
<!-- reply="end" -->
</ul>
