<!-- received="Mon May 10 21:19:26 1999 PDT" -->
<!-- sent="Mon, 10 May 1999 11:03:51 +0200" -->
<!-- name="Sven Riedel" -->
<!-- email="Sven.Riedel@tu-clausthal.de" -->
<!-- subject="Networked Sane" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Networked Sane</title>
<h1>Networked Sane</h1>
<b>Sven Riedel</b> (<a href="mailto:Sven.Riedel@tu-clausthal.de"><i>Sven.Riedel@tu-clausthal.de</i></a>)<br>
<i>Mon, 10 May 1999 11:03:51 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Dean@Home: "Re: saned troubles"</a>
<li> <b>Previous message:</b> <a href="0083.html">Norman Elliott: "re Mustek scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">Milon Firikis: "Re: Networked Sane"</a>
<li> <b>Reply:</b> <a href="0089.html">Milon Firikis: "Re: Networked Sane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I'm currently trying to use sane over the network. I installed sane as an<br>
inetd service and added the corresponding port to /etc/services (lets<br>
call this Machine A). The machine calling A (lets call it B) was added to<br>
A's saned.conf, and A was added to B's net.conf. the entry "net" is the<br>
first in Bs dll.conf. <br>
Running saned -d on A, and calling xscanimage on B runs fine. Running plain<br>
saned (manually) on A won't let B connect. And having saned as a pure inetd<br>
service results in Bs xscanimage to segfault. <br>
Both A and B have sane 1.01 installed. Any thoughts on how to handle this?<br>
ssh'ing over to A and calling saned -d by hand is not exactely what I call <br>
elegant :)<br>
<p>
Regs,<br>
Sven<br>
<pre>
-- 
Sven Riedel 				<a href="mailto:sr@gimp.org">sr@gimp.org</a>
Leibnizstr. 24 / App. 106		<a href="mailto:sven.riedel@tu-clausthal.de">sven.riedel@tu-clausthal.de</a>
38678 Clausthal	
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Dean@Home: "Re: saned troubles"</a>
<li> <b>Previous message:</b> <a href="0083.html">Norman Elliott: "re Mustek scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">Milon Firikis: "Re: Networked Sane"</a>
<li> <b>Reply:</b> <a href="0089.html">Milon Firikis: "Re: Networked Sane"</a>
<!-- reply="end" -->
</ul>
