<!-- received="Tue May 11 07:30:49 1999 PDT" -->
<!-- sent="Tue, 11 May 1999 17:29:59 +0200 (MET DST)" -->
<!-- name="Emanuele Campra" -->
<!-- email="campra@chiorino.com" -->
<!-- subject="Fujitsu Scanpartner 300C support" -->
<!-- id="199905111530.RAA02792@vecchia2.chiorino.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Fujitsu Scanpartner 300C support</title>
<h1>Fujitsu Scanpartner 300C support</h1>
<b>Emanuele Campra</b> (<a href="mailto:campra@chiorino.com"><i>campra@chiorino.com</i></a>)<br>
<i>Tue, 11 May 1999 17:29:59 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Tripp Lilley: "Re: Fujitsu Scanpartner 300C support"</a>
<li> <b>Previous message:</b> <a href="0093.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Tripp Lilley: "Re: Fujitsu Scanpartner 300C support"</a>
<li> <b>Reply:</b> <a href="0095.html">Tripp Lilley: "Re: Fujitsu Scanpartner 300C support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dear SANE developers,<br>
as I can't find the Fujitsu Scanpartner 300C in the list of the supported<br>
scanners, do you know how I can manage to get it working with my linux<br>
box?<br>
Thank you very much in advance for the support.<br>
<pre>
-- 
Emanuele Campra  CHIORINO S.p.A. - via S. Agata 9 - 13900 Biella (BI) ITALY
                 Tel. +39.15.8489388  FAX +39.15.8489380
                 e-mail: <a href="mailto:campra@chiorino.com">campra@chiorino.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Tripp Lilley: "Re: Fujitsu Scanpartner 300C support"</a>
<li> <b>Previous message:</b> <a href="0093.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Tripp Lilley: "Re: Fujitsu Scanpartner 300C support"</a>
<li> <b>Reply:</b> <a href="0095.html">Tripp Lilley: "Re: Fujitsu Scanpartner 300C support"</a>
<!-- reply="end" -->
</ul>
