<!-- received="Wed May 12 08:30:53 1999 PDT" -->
<!-- sent="12 May 1999 08:30:42 -0700" -->
<!-- name="David Fox" -->
<!-- email="dsfox@cogsci.ucsd.edu" -->
<!-- subject="Is the nikon ls-20 slide scanner quiet?" -->
<!-- id="" -->
<!-- inreplyto="11 May 1999 09:51:56 +0200"" -->
<title>sane-devel: Is the nikon ls-20 slide scanner quiet?</title>
<h1>Is the nikon ls-20 slide scanner quiet?</h1>
<b>David Fox</b> (<a href="mailto:dsfox@cogsci.ucsd.edu"><i>dsfox@cogsci.ucsd.edu</i></a>)<br>
<i>12 May 1999 08:30:42 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Dr. Andreas Bolsch: "Re: saned troubles"</a>
<li> <b>Previous message:</b> <a href="0110.html">Oliver Rauch: "Re: umax 1220s and FreeBSD 3.1"</a>
<li> <b>In reply to:</b> <a href="0087.html">Didier Carlier: "Re: nikon ls30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a polaroid slide scanner which, besides being unsupported by<br>
Sane, is too noisy to use in a quiet environment like a library.<br>
Can someone tell me if the Nikon slide scanners are quiet?<br>
<pre>
-- 
David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD
UCSD HCI Lab                                         baL ICH DSCU
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Dr. Andreas Bolsch: "Re: saned troubles"</a>
<li> <b>Previous message:</b> <a href="0110.html">Oliver Rauch: "Re: umax 1220s and FreeBSD 3.1"</a>
<li> <b>In reply to:</b> <a href="0087.html">Didier Carlier: "Re: nikon ls30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
