<!-- received="Fri May 14 03:03:59 1999 PDT" -->
<!-- sent="Fri, 14 May 1999 12:05:17 +0200 (MESZ)" -->
<!-- name="Gunter Koenigsmann" -->
<!-- email="siggkoen@cip.e-technik.uni-erlangen.de" -->
<!-- subject="Re: Low versus medium priced scanners" -->
<!-- id="" -->
<!-- inreplyto="373732AA.A8A1150C@kirchgessner.net" -->
<title>sane-devel: Re: Low versus medium priced scanners</title>
<h1>Re: Low versus medium priced scanners</h1>
<b>Gunter Koenigsmann</b> (<a href="mailto:siggkoen@cip.e-technik.uni-erlangen.de"><i>siggkoen@cip.e-technik.uni-erlangen.de</i></a>)<br>
<i>Fri, 14 May 1999 12:05:17 +0200 (MESZ)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Jeff: "Artec AS6E"</a>
<li> <b>Previous message:</b> <a href="0131.html">Didier Carlier: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
... Don't know if that really matters, but does it make sense comparing<br>
scanners when you want to work with the manufacturer of them?<br>
<p>
...Gunter<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Jeff: "Artec AS6E"</a>
<li> <b>Previous message:</b> <a href="0131.html">Didier Carlier: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
