<!-- received="Fri May 14 07:35:42 1999 PDT" -->
<!-- sent="Fri, 14 May 1999 16:39:58 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: horizontal colored stripes while scanning" -->
<!-- id="" -->
<!-- inreplyto="horizontal colored stripes while scanning" -->
<title>sane-devel: Re: horizontal colored stripes while scanning</title>
<h1>Re: horizontal colored stripes while scanning</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 14 May 1999 16:39:58 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Ondrej Popp: "Re: horizontal colored stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0135.html">Ondrej Popp: "horizontal colored stripes while scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0135.html">Ondrej Popp: "horizontal colored stripes while scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0137.html">Ondrej Popp: "Re: horizontal colored stripes while scanning"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ondrej Popp wrote:<br>
<p>
<i>&gt; However, now the stripes are gone, the I/O errors still show in the</i><br>
<i>&gt; debug trace. So that does not seem to make much difference either.</i><br>
<i>&gt;</i><br>
<i>&gt; I realy have no clue... can it be that the scanner needs to be</i><br>
<i>&gt; calibrated or anything and this gets messed up from time to time, and</i><br>
<i>&gt; the sane software is not able to fix this? Well for the time being it</i><br>
<i>&gt; seems to be working again :)</i><br>
<i>&gt;</i><br>
<i>&gt; tx for any suggestions,</i><br>
<i>&gt; Ondrej</i><br>
<i>&gt;</i><br>
<p>
Hi Ondrej,<br>
<p>
horizontal stripes have nothing to do with calibration (vertical stripes could).<br>
<p>
It looks like you have a hardware problem with your scanner.<br>
The I/O errors are not good, but the bad noises you get when the scanner<br>
produces stripes could mean that your scanner is not ok.<br>
<p>
I never heard of such problems before.<br>
<p>
Did you once forgot to open the transport-lock? That could have destroyed the<br>
stepping motor/electronic.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Ondrej Popp: "Re: horizontal colored stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0135.html">Ondrej Popp: "horizontal colored stripes while scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0135.html">Ondrej Popp: "horizontal colored stripes while scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0137.html">Ondrej Popp: "Re: horizontal colored stripes while scanning"</a>
<!-- reply="end" -->
</ul>
