<!-- received="Mon May 17 23:32:57 1999 PDT" -->
<!-- sent="Tue, 18 May 1999 08:37:10 +0200 (CEST)" -->
<!-- name="Mentore #cat# Siesto" -->
<!-- email="s135989@studenti.ing.unipi.it" -->
<!-- subject="Re: Acer PRISA 310P (Parallel)" -->
<!-- id="" -->
<!-- inreplyto="003501bea08c$c398f700$c8140b98@agfa.bayer.com" -->
<title>sane-devel: Re: Acer PRISA 310P (Parallel)</title>
<h1>Re: Acer PRISA 310P (Parallel)</h1>
<b>Mentore #cat# Siesto</b> (<a href="mailto:s135989@studenti.ing.unipi.it"><i>s135989@studenti.ing.unipi.it</i></a>)<br>
<i>Tue, 18 May 1999 08:37:10 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Ondrej Popp: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0163.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 17 May 1999, David A. Cooley wrote:<br>
<p>
+Is there any pre-release (Alpha or Beta) support for the Acer Prisa 310P<br>
+parallel scanner?<br>
+I know the risks of running drivers that are alpha or beta and am willing to<br>
+support any testing I can.<br>
+Thanks,<br>
+Dave<br>
+<br>
Actually the parallel port suport by SANE is limited to some Epson and<br>
Plustek scanners, AFAIK.<br>
<p>
Mentore<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Ondrej Popp: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0163.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
