<!-- received="Tue May 18 02:49:11 1999 PDT" -->
<!-- sent="Tue, 18 May 1999 11:52:59 +0200 (METDST)" -->
<!-- name="Manuel Panea" -->
<!-- email="mpd@rzg.mpg.de" -->
<!-- subject="Re: preview window feature request" -->
<!-- id="" -->
<!-- inreplyto="199905140011.KAA03168@sid.research.canon.com.au" -->
<title>sane-devel: Re: preview window feature request</title>
<h1>Re: preview window feature request</h1>
<b>Manuel Panea</b> (<a href="mailto:mpd@rzg.mpg.de"><i>mpd@rzg.mpg.de</i></a>)<br>
<i>Tue, 18 May 1999 11:52:59 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Wolfgang Cohrs: "xsane not running"</a>
<li> <b>Previous message:</b> <a href="0166.html">Andreas Rick: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>In reply to:</b> <a href="0129.html">Graham Stoney: "Re: preview window feature request"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
<p>
<p>
On Fri, 14 May 1999, Graham Stoney wrote:<br>
<p>
<i>&gt; Another feature I'd like to see is the ability to set slider values to some</i><br>
<i>&gt; exact number. Perhaps the field where the value is stored could be made</i><br>
<i>&gt; editable so you can both type the number in, and move the slider to change it.</i><br>
<i>&gt; Sometimes you want to set something exactly, and the resolution of the slider</i><br>
<i>&gt; just isn't up to it.</i><br>
<p>
If you set a slider with the mouse and leave the mouse over it, you can<br>
fine-tune its value with the left and right arrow keys on the keyboard.<br>
Not as handy as the proposed editable type-in field, but hey, it works.<br>
<p>
<p>
 ---------------------------------------------------------------------------<br>
  Manuel Panea                      ||               E-mail: <a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a><br>
  Rechenzentrum Garching            ||           <a href="http://www.rzg.mpg.de/~mpd">http://www.rzg.mpg.de/~mpd</a><br>
  Postfach 1533                     ||                Tel. +49 89 3299 1133<br>
  85740 Garching                    ||                Fax  +49 89 3299 1301<br>
  Germany                           ||         Public PGP key: see homepage<br>
 ---------------------------------------------------------------------------<br>
<p>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGPfreeware 5.0i for non-commercial use<br>
Charset: noconv<br>
<p>
iQCVAwUBN0E4gYnxRMteJ3RRAQH7qAP/aMe8jk2ySHYqy/Hh/epihQ0Khi8Nby00<br>
qQolP+gULv9mVbATL2DjJVJS9h6mwD+yVWFtcv76yVaefK5JAnlHhJrNbUuh3RmO<br>
c53XZBOVD0Mclf1fSJnn3REGW6GJ2BFPt5+hLBi3THX0TOVQfKeDhXeHaYS5xZo3<br>
EM86NFMJeMI=<br>
=KPLR<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Wolfgang Cohrs: "xsane not running"</a>
<li> <b>Previous message:</b> <a href="0166.html">Andreas Rick: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>In reply to:</b> <a href="0129.html">Graham Stoney: "Re: preview window feature request"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
