<!-- received="Wed May 19 04:28:19 1999 PDT" -->
<!-- sent="Wed, 19 May 1999 13:30:49 +0200" -->
<!-- name="Patrice HARDOUIN" -->
<!-- email="Webmaster.hebert@ac-rouen.fr" -->
<!-- subject="xscanimage with Gimp" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage with Gimp</title>
<h1>xscanimage with Gimp</h1>
<b>Patrice HARDOUIN</b> (<a href="mailto:Webmaster.hebert@ac-rouen.fr"><i>Webmaster.hebert@ac-rouen.fr</i></a>)<br>
<i>Wed, 19 May 1999 13:30:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Previous message:</b> <a href="0184.html">Russ Price: "Re: PhotoSmart problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0186.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0187.html">Patrice HARDOUIN: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0188.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0201.html">Oliver Rauch: "Re: xscanimage with Gimp"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I can't launch xscanimage with Gimp, it reply :<br>
# gimp<br>
~/.gimp/plug-ins/xscanimage: GIMP support missing.<br>
wire-read: unexpected EOF (plug-in crashed?)<br>
<p>
Anybody can help me ?<br>
<p>
(Patrice HARDOUIN, HP scanjet 5p at /dev/sgc, xscanimage avalaible)<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Previous message:</b> <a href="0184.html">Russ Price: "Re: PhotoSmart problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0186.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0187.html">Patrice HARDOUIN: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0188.html">Chris Bitmead: "Re: xscanimage with Gimp"</a>
<li> <b>Reply:</b> <a href="0201.html">Oliver Rauch: "Re: xscanimage with Gimp"</a>
<!-- reply="end" -->
</ul>
