<!-- received="Wed May 19 10:25:51 1999 PDT" -->
<!-- sent="Wed, 19 May 1999 19:30:56 +0200 (MEST)" -->
<!-- name="Bernd Schroeder" -->
<!-- email="Bernd.M.Schroeder@gmx.de" -->
<!-- subject="Re: microtek x6 (Firmware 1.3) problem" -->
<!-- id="25551.927135056@www1.gmx.net" -->
<!-- inreplyto="microtek x6 (Firmware 1.3) problem" -->
<title>sane-devel: Re: microtek x6 (Firmware 1.3) problem</title>
<h1>Re: microtek x6 (Firmware 1.3) problem</h1>
<b>Bernd Schroeder</b> (<a href="mailto:Bernd.M.Schroeder@gmx.de"><i>Bernd.M.Schroeder@gmx.de</i></a>)<br>
<i>Wed, 19 May 1999 19:30:56 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#190">[ date ]</a><a href="index.html#190">[ thread ]</a><a href="subject.html#190">[ subject ]</a><a href="author.html#190">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0189.html">Patrice Espie: "Fujitsu scanner : make a driver !"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Harald Finster: "microtek x6 (Firmware 1.3) problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0205.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; first I would like to thank everyone contributed to sane!</i><br>
<i>&gt; </i><br>
<i>&gt; Unfortunately I have a problem with a Microtec ScanMaker x6.</i><br>
<i>&gt; After nights and days of testing I have decided to ask you for advice.</i><br>
<i>&gt; I would be very grateful for any hint.</i><br>
<i>&gt; </i><br>
<i>&gt; I tested the scanner with sane 1.0 (as distributed with SuSE 6.1)</i><br>
<i>&gt; and sane 1.0.1 as well.</i><br>
<i>&gt; </i><br>
<i>&gt; The behaviour is as follows:</i><br>
<i>&gt; I start xscanimage - seemingly with success.</i><br>
<i>&gt; The log-window shows, that xscanimage is able to identify the scanner</i><br>
<i>&gt; (see log-file below).</i><br>
<i>&gt; I open the preview window and try to aquire the preview. </i><br>
<i>&gt; The only result is, that the scanner gives some noise (for a few </i><br>
<i>&gt; seconds) and xscanimage hangs. My impression is, that the whole</i><br>
<i>&gt; system becomes very slow after the operation.</i><br>
<i>&gt; Killing and restarting xscanimage does not show any result,</i><br>
<i>&gt; i.e. xscanimage does not issue anything on the terminal.</i><br>
<p>
[...]<br>
<p>
<i>&gt; SuSE Linux 6.1 (i386) - Kernel 2.2.5 with AHA152x support compiled into</i><br>
kernel<br>
<i>&gt; boot with parameters aha152x="0x140,11,7,0,1"</i><br>
<i>&gt; sane V1.0 / sane V1.0.1</i><br>
<p>
If possible do not change the default settings for this adapter.<br>
If the scanner moves the scanhead a little bit, this is usually<br>
an indication, that the settings for disconnect/reconnect are<br>
wrong. Try it with aha152x="0x140,11,7,1,1 . This is what I use<br>
(with interrupt 10 instead of 11).<br>
<p>
Once the scanner is running and you experience problems with<br>
wrong (transposed) colors, you should download the 0.7 release<br>
of the backend from <br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2">ftp://ftp.muc.de/people/bernds/mtek2</a><br>
<p>
Bernd<br>
<p>
<p>
<pre>
---
Sent through Global Message Exchange - <a href="http://www.gmx.net">http://www.gmx.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0189.html">Patrice Espie: "Fujitsu scanner : make a driver !"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Harald Finster: "microtek x6 (Firmware 1.3) problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0205.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<!-- reply="end" -->
</ul>
