<!-- received="Wed May 19 10:53:47 1999 PDT" -->
<!-- sent="Wed, 19 May 1999 19:58:49 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: xscanimage with Gimp" -->
<!-- id="" -->
<!-- inreplyto="3742A451.1642F8DB@ac-rouen.fr" -->
<title>sane-devel: Re: xscanimage with Gimp</title>
<h1>Re: xscanimage with Gimp</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 19 May 1999 19:58:49 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Peter Kirchgessner: "Re: PhotoSmart problem"</a>
<li> <b>Previous message:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 19 May 1999, Patrice HARDOUIN wrote:<br>
<p>
<i>&gt; I have the gimp 1.0.1 of Mandrake 5.3 (Red Hat 5.2), and Sane rpm from</i><br>
<i>&gt; mandrakes' site wich put automaticaly a shortcut for xscanimage in the Gimp</i><br>
<i>&gt; plug-ins folder.</i><br>
<p>
SANE as shipped with Mandrake 5.3 is plain broken! And I am not completely<br>
confident about gimp.<br>
<p>
Hugo.<br>
<p>
<pre>
-- 
Hugo van der Kooij; Oranje Nassaustraat 16; 3155 VJ  Maasland
<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>		 <a href="http://www.caiw.nl/~hvdkooij/">http://www.caiw.nl/~hvdkooij/</a>
--------------------------------------------------------------
Use of any of my email addresses for unsollicited (commercial)
    email is a clear intrusion of my privacy and illegal!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Peter Kirchgessner: "Re: PhotoSmart problem"</a>
<li> <b>Previous message:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
