<!-- received="Fri May 28 21:18:56 1999 PDT" -->
<!-- sent="Fri, 28 May 1999 23:30:01 -0500 (CDT)" -->
<!-- name="Henry Miller" -->
<!-- email="hank@black-hole.com" -->
<!-- subject="Re: status of LEO Scan S3" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.95.990528063442.6303A-100000@j176.ryd.student.liu.se" -->
<title>sane-devel: Re: status of LEO Scan S3</title>
<h1>Re: status of LEO Scan S3</h1>
<b>Henry Miller</b> (<a href="mailto:hank@black-hole.com"><i>hank@black-hole.com</i></a>)<br>
<i>Fri, 28 May 1999 23:30:01 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#270">[ date ]</a><a href="index.html#270">[ thread ]</a><a href="subject.html#270">[ subject ]</a><a href="author.html#270">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Magnus Karlsson: "Re: status of LEO Scan S3"</a>
<li> <b>Previous message:</b> <a href="0269.html">Oliver Rauch: "Re: Cheap HP 3200C scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Can anyone tell me the status of the driver for LEO Scan S3?</i><br>
<i>&gt; Searching the mailing-list archive doesn't provide anything newer than</i><br>
<i>&gt; August 1998.</i><br>
<i>&gt; If needed I would be happy to help.</i><br>
<p>
Help would be nice, I have enough that a minimally working driver could be<br>
made, but I havn't had the time to even start writing it.<br>
<p>
Minimal specs and notes can be found at<br>
<a href="http://www.black-hole.com/users/henrymiller/leo">http://www.black-hole.com/users/henrymiller/leo</a>  (see start.txt and<br>
notes.txt)  These aren't web pages, but should be useful to programers.<br>
Keep in touch, I'm interested in knowing if anyone makes progress, but I<br>
don't think I will.  Maybe some day I'll get around to it.  <br>
<p>
If there isn't enough info there, I can try to drag more info out.  This<br>
is all clean room reversed engineered, so we are not stuck to any license<br>
terms or non-disclosure.<br>
<p>
<pre>
--
      <a href="http://www.black-hole.com/users/henrymiller/">http://www.black-hole.com/users/henrymiller/</a> 
      <a href="mailto:hank@black-hole.com">hank@black-hole.com</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Magnus Karlsson: "Re: status of LEO Scan S3"</a>
<li> <b>Previous message:</b> <a href="0269.html">Oliver Rauch: "Re: Cheap HP 3200C scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
