<!-- received="Mon May 31 14:03:25 1999 PDT" -->
<!-- sent="Mon, 31 May 1999 23:02:19 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: problems with HP SJ 4C and Linux" -->
<!-- id="" -->
<!-- inreplyto="problems with HP SJ 4C and Linux" -->
<title>sane-devel: Re: problems with HP SJ 4C and Linux</title>
<h1>Re: problems with HP SJ 4C and Linux</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Mon, 31 May 1999 23:02:19 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#283">[ date ]</a><a href="index.html#283">[ thread ]</a><a href="subject.html#283">[ subject ]</a><a href="author.html#283">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0284.html">Nemeth Laszlo: "Mustek ScanExpress 12000SP slow"</a>
<li> <b>Previous message:</b> <a href="0282.html">Peter Kirchgessner: "FAQs for HP scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0280.html">Britt Bolen: "problems with HP SJ 4C and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Britt Bolen wrote:<br>
<i>&gt; </i><br>
<i>&gt; I've got a stock RedHat 6.0 Linux machine running on a P166 with an</i><br>
<i>&gt; ncr53c825 scsi controller.</i><br>
<i>&gt; </i><br>
<i>&gt; My machine sees the scanner as</i><br>
<i>&gt; </i><br>
<i>&gt;   Vendor: HP        Model: C2520A            Rev: 3503</i><br>
<i>&gt;   Type:   Processor                          ANSI SCSI revision: 02</i><br>
<i>&gt; </i><br>
<i>&gt; scanimage gives me this info....</i><br>
<i>&gt; </i><br>
<i>&gt; device `hp:/dev/scanner' is a Hewlett-Packard C2520A flatbed scanner</i><br>
<i>&gt; </i><br>
<i>&gt; When i set SANE_DEBUG_HP to 1 and try and grab an image, i get this</i><br>
<i>&gt; output... (abridged)</i><br>
<i>&gt; </i><br>
<i>&gt; [hp] sanei_hp_device_new: /dev/scanner: found HP ScanJet model C2520A</i><br>
<i>&gt; [hp] start: No request to mirror image vertically</i><br>
<i>&gt; [hp] start: No request to mirror image vertically</i><br>
<i>&gt; [hp] start: 2550 pixels per line, 319 bytes, 4199 lines high</i><br>
<p>
Hi Britt,<br>
<p>
up to here the SCSI communication was ok. Now the large amounts of data<br>
will be transfered. Several possibilities for failure:<br>
<p>
Termination ok ?<br>
hp-backend in SANE V1.0 has some problems in it. If possible try<br>
upgrading to SANE 1.01 ?<br>
<p>
To localize the problem, you also can increase the value of<br>
SANE_DEBUG_HP and SANE_DEBUG_SANEI_SCSI.<br>
<p>
--Peter<br>
<p>
<i>&gt; [hp] sanei_hp_scl_startScan: Start scan</i><br>
<i>&gt; [hp] start_reader: reader proces 14468 started</i><br>
<i>&gt; [hp] do_read: Start reading data from scanner</i><br>
<i>&gt; [hp] do_read: Error from scsi_req_wait: Error during device I/O</i><br>
<i>&gt; [hp] do_read: cleaning up leftover requests</i><br>
<i>&gt; [hp] read: EOF from pipe</i><br>
<i>&gt; [hp] do_cancel: child exited, status = 9</i><br>
<i>&gt; scanimage: sane_read: Error during device I/O</i><br>
<i>&gt; </i><br>
<i>&gt; and it dies...</i><br>
<i>&gt; </i><br>
<i>&gt; I have stock 2.2.5 kernel with the generic scsi module loaded.</i><br>
<i>&gt; </i><br>
<i>&gt; Any ideas on why this is dieing?</i><br>
<i>&gt; </i><br>
<i>&gt; thanks a lot,</i><br>
<i>&gt; </i><br>
<i>&gt; Britt</i><br>
<i>&gt; </i><br>
<i>&gt; ------------------------------------------------------------------------</i><br>
<i>&gt; Britt Bolen                                 EECS Computer Support Office</i><br>
<i>&gt; Division of Engineering and Applied Sciences      email:      bolen@eecs</i><br>
<i>&gt; Harvard University                                voice:    617 495-UNIX</i><br>
<i>&gt; ESL 112, 40 Oxford St., Cambridge, MA, 02138        fax:    617-496-1066</i><br>
<i>&gt; ------------------------------------------------------------------------</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0284.html">Nemeth Laszlo: "Mustek ScanExpress 12000SP slow"</a>
<li> <b>Previous message:</b> <a href="0282.html">Peter Kirchgessner: "FAQs for HP scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0280.html">Britt Bolen: "problems with HP SJ 4C and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
