<!-- received="Sat Aug  1 19:11:23 1998 PDT" -->
<!-- sent="Sat, 1 Aug 1998 19:09:48 -0100 (GMT+1)" -->
<!-- name="Norman Uhlmann" -->
<!-- email="unicorn@unicorn.franken.de" -->
<!-- subject="Re: segfault with Microtek Scanmaker 330" -->
<!-- id="" -->
<!-- inreplyto="19980728225134.2462.qmail@aquila.muc.de" -->
<title>sane-devel: Re: segfault with Microtek Scanmaker 330</title>
<h1>Re: segfault with Microtek Scanmaker 330</h1>
<b>Norman Uhlmann</b> (<a href="mailto:unicorn@unicorn.franken.de"><i>unicorn@unicorn.franken.de</i></a>)<br>
<i>Sat, 1 Aug 1998 19:09:48 -0100 (GMT+1)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Hugo van der Kooij: "Re: segfault with Microtek Scanmaker 330"</a>
<li> <b>Previous message:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 29 Jul 1998, Bernd Schroeder wrote:<br>
<p>
<i>&gt; Good to hear that a mode exists that works for you. However, the</i><br>
<i>&gt; problem that the backend returns an error for bigger buffer sizes still</i><br>
<i>&gt; exists. </i><br>
<p>
No it doesn't  :-))<br>
sane-0.74<br>
#define SG_BIG_BUFF 131072<br>
<p>
and I am able to scan :-))<br>
 <br>
<i>&gt; &gt; After that I got brave and compiled with</i><br>
<i>&gt; &gt; sg.h #define SG_BIG_BUFF 512000 but</i><br>
<i>&gt; &gt; it doesn't work :-((.</i><br>
<i>&gt; </i><br>
<i>&gt; To my knowledge the maximum value for SG_BIG_BUFF is 128KB - 0.5KB.</i><br>
<p>
Okay that's the way I have to understand the SCSI-HOWTO :-)<br>
+  generic header as well as the command block on input.  SG_BIG_BUFF can<br>
+  be safely increased upto (131072 - 512). <br>
though it is 512000bytes :-)<br>
<p>
Okay, but in sane-0.74 there is no support for ScanMaker 330, but it<br>
is no problem. <br>
Here is the diff output, but I don't know how to build a patch with it.<br>
Perhaps someone can do it for me :-?<br>
<p>
<pre>
---
bash$ diff microtek2.c.old microtek2.c
1638a1639,1641
&gt;       case 0x93 :
&gt;           *model_string = "ScanMaker 330";
&gt;           break;
1794a1798
&gt;       case 0x93: fprintf(stderr, "ScanMaker 330"); break;
<pre>
---
With it it works ok.
<p>
Further question.
<p>
My scanner seems to scan some centimeters and the goes back a little
and scan further. Is it normal, I fear about the mechanic of 
the scanner. Especially with high resolutions and 24bit depth.
<p>
Greetings Unicorn
<p>
 A unicorn slowly drifts downward to you
 speaks to you with the loveliest voice 
 you have ever heard, and vanishes into nothing
 You feel happy!                 
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Hugo van der Kooij: "Re: segfault with Microtek Scanmaker 330"</a>
<li> <b>Previous message:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
