<!-- received="Wed Aug  5 05:51:18 1998 PDT" -->
<!-- sent="Wed, 05 Aug 1998 14:50:11 +0200" -->
<!-- name="Joern Borgert" -->
<!-- email="borgert@theo-physik.uni-kiel.de" -->
<!-- subject="i wanna outta here" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: i wanna outta here</title>
<h1>i wanna outta here</h1>
<b>Joern Borgert</b> (<a href="mailto:borgert@theo-physik.uni-kiel.de"><i>borgert@theo-physik.uni-kiel.de</i></a>)<br>
<i>Wed, 05 Aug 1998 14:50:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Steffen Renisch: "level adjustment widget in xscanimage?"</a>
<li> <b>Previous message:</b> <a href="0011.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hello <br>
<p>
in spite this is a little out of topic:<br>
<p>
I WANNA OUT... i own no scanner no mo... i need<br>
no sane (not now) and therefor no information <br>
about its development...<br>
<p>
i allready tried <br>
<p>
unsubscribe <br>
<p>
and unsubscribe <a href="mailto:borgert@theo-physik.uni-kiel.de">borgert@theo-physik.uni-kiel.de</a><br>
<p>
to <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a><br>
<p>
but it had no effect!<br>
<p>
can anyone help me???<br>
<p>
thanx forwarded<br>
<p>
greets from j. borgert<br>
<p>
 <br>
+--------------------------------------------------+<br>
<i>| joern borgert &lt;<a href="mailto:borgert@theo-physik.uni-kiel.de">borgert@theo-physik.uni-kiel.de</a>&gt;  |</i><br>
<i>| Institut fuer Theoretische Physik, CAU zu Kiel   |</i><br>
+--------------------------------------------------+<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Steffen Renisch: "level adjustment widget in xscanimage?"</a>
<li> <b>Previous message:</b> <a href="0011.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
