<!-- received="Wed Aug  5 07:44:35 1998 PDT" -->
<!-- sent="Wed, 5 Aug 1998 14:55:33 +0200" -->
<!-- name="Brian Schau" -->
<!-- email="bsc@fleggaard.dk" -->
<!-- subject="SV: i wanna outta here" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SV: i wanna outta here</title>
<h1>SV: i wanna outta here</h1>
<b>Brian Schau</b> (<a href="mailto:bsc@fleggaard.dk"><i>bsc@fleggaard.dk</i></a>)<br>
<i>Wed, 5 Aug 1998 14:55:33 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#14">[ date ]</a><a href="index.html#14">[ thread ]</a><a href="subject.html#14">[ subject ]</a><a href="author.html#14">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Matto Marjanovic: "Re: level adjustment widget in xscanimage?"</a>
<li> <b>Previous message:</b> <a href="0013.html">Steffen Renisch: "level adjustment widget in xscanimage?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Use:<br>
<p>
unsubscribe sane-devel <a href="mailto:borgert@theo-physik.uni-kiel.de">borgert@theo-physik.uni-kiel.de</a><br>
<p>
<p>
... but send the mail to:<br>
<p>
	<a href="mailto:Majordomo@mostang.com">Majordomo@mostang.com</a><br>
<p>
... and put the 'unsubscibe' line mentioned above in the body (no<br>
quotes!).   Subject doesn't matter ...<br>
<p>
<p>
<p>
<p>
<i>&gt; -----Oprindelig meddelelse-----</i><br>
<i>&gt; Fra:	Joern Borgert [SMTP:borgert@theo-physik.uni-kiel.de]</i><br>
<i>&gt; Sendt:	5. august 1998 14:50</i><br>
<i>&gt; Til:	<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Emne:	i wanna outta here</i><br>
<i>&gt; </i><br>
<i>&gt; hello </i><br>
<i>&gt; </i><br>
<i>&gt; in spite this is a little out of topic:</i><br>
<i>&gt; </i><br>
<i>&gt; I WANNA OUT... i own no scanner no mo... i need</i><br>
<i>&gt; no sane (not now) and therefor no information </i><br>
<i>&gt; about its development...</i><br>
<i>&gt; </i><br>
<i>&gt; i allready tried </i><br>
<i>&gt; </i><br>
<i>&gt; unsubscribe </i><br>
<i>&gt; </i><br>
<i>&gt; and unsubscribe <a href="mailto:borgert@theo-physik.uni-kiel.de">borgert@theo-physik.uni-kiel.de</a></i><br>
<i>&gt; </i><br>
<i>&gt; to <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; </i><br>
<i>&gt; but it had no effect!</i><br>
<i>&gt; </i><br>
<i>&gt; can anyone help me???</i><br>
<i>&gt; </i><br>
<i>&gt; thanx forwarded</i><br>
<i>&gt; </i><br>
<i>&gt; greets from j. borgert</i><br>
<i>&gt; </i><br>
<i>&gt;  </i><br>
<i>&gt; +--------------------------------------------------+</i><br>
<i>&gt; | joern borgert &lt;<a href="mailto:borgert@theo-physik.uni-kiel.de">borgert@theo-physik.uni-kiel.de</a>&gt;  |</i><br>
<i>&gt; | Institut fuer Theoretische Physik, CAU zu Kiel   |</i><br>
<i>&gt; +--------------------------------------------------+</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail</i><br>
<i>&gt; <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Matto Marjanovic: "Re: level adjustment widget in xscanimage?"</a>
<li> <b>Previous message:</b> <a href="0013.html">Steffen Renisch: "level adjustment widget in xscanimage?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
