<!-- received="Tue Aug 11 15:57:00 1998 PDT" -->
<!-- sent="Wed, 12 Aug 1998 00:54:13 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: UMAX Astra 1220S, 0.74 seems to be dead" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980812000027.405A-100000@arnhold.arnhome" -->
<title>sane-devel: Re: UMAX Astra 1220S, 0.74 seems to be dead</title>
<h1>Re: UMAX Astra 1220S, 0.74 seems to be dead</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 12 Aug 1998 00:54:13 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#50">[ date ]</a><a href="index.html#50">[ thread ]</a><a href="subject.html#50">[ subject ]</a><a href="author.html#50">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Rogier Wolff: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0049.html">Werner Arnhold: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 12 Aug 1998, Werner Arnhold wrote:<br>
<p>
<i>&gt; On Mon, 10 Aug 1998, Hugo van der Kooij wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; On Mon, 10 Aug 1998, Werner Arnhold wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; On Mon, 10 Aug 1998, Hugo van der Kooij wrote:</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; &gt; On Mon, 10 Aug 1998, Werner Arnhold wrote:</i><br>
<i>&gt; 	.</i><br>
<i>&gt; 	.</i><br>
<i>&gt; 	.</i><br>
<i>&gt; &gt; &gt; &gt; Please remove all backends from the config file except the one you need.</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; Which backends and which config file do you mean? The *.conf in</i><br>
<i>&gt; &gt; &gt; /usr/local/etc/sane.d? The backends in the /usr/local/lib/sane dir? Or one</i><br>
<i>&gt; &gt; &gt; of the config.* in the main source dir? Or something different?</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; I would say it is rather obvious that if I refer to removing backends from</i><br>
<i>&gt; &gt; the config file (note: I mention it is 1 file) you should not be removing</i><br>
<i>&gt; &gt; libraries.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; And as we speak of a RPM file we are not referring to sources which will</i><br>
<i>&gt; &gt; only leave the sane.conf file in /etc/sane.d</i><br>
<i>&gt; </i><br>
<i>&gt; I beg your pardon, your answer doesn't help me. Maybe it is because you</i><br>
<i>&gt; speak of a RPM file. I got the sources from "sane-0.74.tar.gz", compiled</i><br>
<i>&gt; them and made a "make install". So I have no dir /etc/sane.d but</i><br>
<i>&gt; /usr/local/etc/sane.d with 18 files in it, but none named sane.conf, only</i><br>
<i>&gt; saned.conf. With this way every backend is made.</i><br>
<p>
Both names were used lately and as the tempature makes it too unpleasant<br>
to have my development systems running I could not verify all of it by<br>
hand.<br>
<p>
<i>&gt; I never used a RPM file. I compiled 0.73 and it worked fine</i><br>
<i>&gt; with a HP ScanJet 4p, but not with Astra, so I tried the next version.</i><br>
<p>
Well. If you break in a thread over RPM installation and you change the<br>
subject without telling you are bound to get unusable answers.<br>
<p>
<i>&gt; &gt; PS: This could be gathered as well from browsing a bit through the archive</i><br>
<i>&gt; &gt; as this is a rather common problem.</i><br>
<i>&gt; </i><br>
<i>&gt; Could you please give me a hint where this archive is to be found (an URL?)</i><br>
<i>&gt; I follow this mailing list for some time but cannot remember having seen</i><br>
<i>&gt; something like this. But maybe I dont't read it good enough.</i><br>
<p>
&lt;insert drumroll here ...&gt;<br>
<p>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
For this ocasion I did not remove this tagline from my reply so I would<br>
expect this to be rather obvious.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Rogier Wolff: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0049.html">Werner Arnhold: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
