<!-- received="Sat Aug 15 01:16:37 1998 PDT" -->
<!-- sent="Fri, 14 Aug 1998 21:44:44 +0200" -->
<!-- name="Marc Pentenrieder" -->
<!-- email="Marc.Pentenrieder@bnv-gz.baynet.de" -->
<!-- subject="Re: Problem with Mustek Scanexpress 12000 SP" -->
<!-- id="" -->
<!-- inreplyto="Problem with Mustek Scanexpress 12000 SP" -->
<title>sane-devel: Re: Problem with Mustek Scanexpress 12000 SP</title>
<h1>Re: Problem with Mustek Scanexpress 12000 SP</h1>
<b>Marc Pentenrieder</b> (<a href="mailto:Marc.Pentenrieder@bnv-gz.baynet.de"><i>Marc.Pentenrieder@bnv-gz.baynet.de</i></a>)<br>
<i>Fri, 14 Aug 1998 21:44:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Thomas Boutell: "sanecgi 0.4 released"</a>
<li> <b>Previous message:</b> <a href="0074.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Marc Pentenrieder: "Problem with Mustek Scanexpress 12000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo Jason,<br>
<p>
thanx a lot IT WORKS :-D<br>
<p>
Bye<br>
<p>
Marc<br>
<p>
<p>
<p>
Jason Faultless wrote:<br>
<p>
<i>&gt; Goto:</i><br>
<i>&gt;</i><br>
<i>&gt; <a href="http://www.math.TU-Berlin.de/funktion/bolsch/sane/">http://www.math.TU-Berlin.de/funktion/bolsch/sane/</a></i><br>
<i>&gt;</i><br>
<i>&gt; and follow the instructions to patch in the updated</i><br>
<i>&gt; code.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Jason.</i><br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Thomas Boutell: "sanecgi 0.4 released"</a>
<li> <b>Previous message:</b> <a href="0074.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Marc Pentenrieder: "Problem with Mustek Scanexpress 12000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
