<!-- received="Wed Apr  1 06:07:13 1998 PST" -->
<!-- sent="Wed, 1 Apr 1998 16:04:39 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Patch to 0.71 spec file" -->
<!-- id="" -->
<!-- inreplyto="199804010401.UAA05643@panda.mostang.com" -->
<title>sane-devel: Re: Patch to 0.71 spec file</title>
<h1>Re: Patch to 0.71 spec file</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 1 Apr 1998 16:04:39 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Bob van der Poel: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0000.html">Firikis Milon: "Re: Sane-0.71, Apple Color Onescanner, Solaris 2.6, scg SCSI driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 31 Mar 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Tue, 31 Mar 1998 22:06:34 +0200 (MET DST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Hugo&gt; Unfortunatly the HTML documentation is missing at present. Due</i><br>
<i>&gt;   Hugo&gt; to the ackwarc TeX to HTML convertor used.</i><br>
<i>&gt; </i><br>
<i>&gt; What do you mean?  Install dlh and the original spec will work fine</i><br>
<i>&gt; (at least as far as the documentation is concerned).</i><br>
<p>
Well. I took some effort and was finally able to find the dlh package. (As<br>
it is needed it should be pointed to and not require one to use the ftp<br>
search machine.)<br>
<p>
Then compiling did not quite go well. I hade to dig around and finally<br>
noticed that several Makefile.in files did not set the pkgdatadir variable<br>
at all.<br>
<p>
I have now created a bunch of RPM's out of the source file and they are on<br>
their way to ftp.redhat.com.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Bob van der Poel: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0000.html">Firikis Milon: "Re: Sane-0.71, Apple Color Onescanner, Solaris 2.6, scg SCSI driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
