<!-- received="Fri Apr  3 01:59:31 1998 PST" -->
<!-- sent="Fri, 03 Apr 1998 11:58:51 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek MSF-06000SP Rev. 2.10" -->
<!-- id="3524B2DB.93510E3D@ic.ac.uk" -->
<!-- inreplyto="Mustek MSF-06000SP Rev. 2.10" -->
<title>sane-devel: Re: Mustek MSF-06000SP Rev. 2.10</title>
<h1>Re: Mustek MSF-06000SP Rev. 2.10</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Fri, 03 Apr 1998 11:58:51 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Stefan Gombar: "Canon 300 support? (in OS/2)"</a>
<li> <b>Previous message:</b> <a href="0029.html">David Mosberger-Tang: "pre-release available for testing"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Martin Radford: "Mustek MSF-06000SP Rev. 2.10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">Rogier Wolff: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Reply:</b> <a href="0036.html">Rogier Wolff: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Reply:</b> <a href="0045.html">Martin Radford: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
What kind of SCSI card do you use? The one shipped with the scanner?<br>
I've a Mustek ScanExpress 12000SP and tried this card, but either<br>
nothing works or else (after some modifications of mustek.c)<br>
only 0x00's are read. <br>
<p>
I'll try another SCSI card next week, because I suspect there is<br>
some problem with the SCSI card/driver.<br>
<p>
Andreas<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Stefan Gombar: "Canon 300 support? (in OS/2)"</a>
<li> <b>Previous message:</b> <a href="0029.html">David Mosberger-Tang: "pre-release available for testing"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Martin Radford: "Mustek MSF-06000SP Rev. 2.10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">Rogier Wolff: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Reply:</b> <a href="0036.html">Rogier Wolff: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Reply:</b> <a href="0045.html">Martin Radford: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- reply="end" -->
</ul>
