<!-- received="Sun Apr  5 13:36:48 1998 PDT" -->
<!-- sent="Sun, 5 Apr 1998 22:35:21 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Q: support for digi cameras" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980405221414.270B-100000@magpc" -->
<title>sane-devel: Re: Q: support for digi cameras</title>
<h1>Re: Q: support for digi cameras</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 5 Apr 1998 22:35:21 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">David Mosberger-Tang: "Re: Mustek,"</a>
<li> <b>Previous message:</b> <a href="0062.html">Hugo van der Kooij: "Re: sane 0.72pre meets FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 5 Apr 1998, Simone Fabris wrote:<br>
<p>
<i>&gt; On Sun, 5 Apr 1998, Hugo van der Kooij wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Do you want us to wash you car as well?</i><br>
<i>&gt; </i><br>
<i>&gt; Yes, please.</i><br>
<i>&gt; </i><br>
<i>&gt; What's wrong with ASKING??? Too difficoult to be POLITE?</i><br>
<p>
Well. If someone explicitly tells us he does NOT read the mailinglist but<br>
does post questions and expects responses delivered on his doorstep then<br>
that is considered impolite.<br>
<p>
And after having having some one filling my mailbox with SPAM (not related<br>
to this mailinglist or the stated messages in any way, BTW) then I get<br>
into a pitbul mode and start biting anyone foolish enogh to give a good<br>
excuse.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">David Mosberger-Tang: "Re: Mustek,"</a>
<li> <b>Previous message:</b> <a href="0062.html">Hugo van der Kooij: "Re: sane 0.72pre meets FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
