<!-- received="Mon Apr  6 14:03:17 1998 PDT" -->
<!-- sent="Mon, 06 Apr 1998 14:04:01 -0700" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: Sane 0.71 and CanonScan" -->
<!-- id="" -->
<!-- inreplyto="Sane 0.71 and CanonScan" -->
<title>sane-devel: Re: Sane 0.71 and CanonScan</title>
<h1>Re: Sane 0.71 and CanonScan</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Mon, 06 Apr 1998 14:04:01 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<li> <b>Previous message:</b> <a href="0072.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Stefan Knodt: "Re: Sane 0.71 and CanonScan"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Robert-Peter Westphal wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I want to use your Sane-package together with my CanonScan 300 in OS/2,</i><br>
<i>&gt; but I have a few problems. I installed the aspirout.sys driver and the</i><br>
<i>&gt; emx runtimes correctly, find-scanner finds my scanner.</i><br>
<i>&gt; But the main problem is that the package I got (sane-071.zip) seems not</i><br>
<i>&gt; to contain the \dev-dir and no drivers. There are a few *.conf (but not</i><br>
<i>&gt; for canon), but these files contain a link to a dev\scanner dir which</i><br>
<i>&gt; not exists.</i><br>
<p>
I don't know about the cannon, but the OS/2 version uses the same<br>
"device" syntax in the .conf files as a couple of the other platforms,<br>
where you specify the SCSI board #, the ID of the scanner on the board,<br>
and the LUN (which is generally 0).  From memory, I believe you'd set<br>
the device to something like "b0t6l0" in the case where you have the<br>
scanner assigned to ID 6 on a single SCSI card.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<li> <b>Previous message:</b> <a href="0072.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Stefan Knodt: "Re: Sane 0.71 and CanonScan"</a>
<!-- reply="end" -->
</ul>
