<!-- received="Thu Apr  9 04:43:43 1998 PDT" -->
<!-- sent="Thu, 9 Apr 1998 04:42:33 -0700" -->
<!-- name="Michael Polo" -->
<!-- email="mikep@Polo.NET" -->
<!-- subject="getting sane 0.72 going on solaris 2.6..." -->
<!-- id="199804091142.EAA17596@enigma.Polo.NET" -->
<!-- inreplyto="" -->
<title>sane-devel: getting sane 0.72 going on solaris 2.6...</title>
<h1>getting sane 0.72 going on solaris 2.6...</h1>
<b>Michael Polo</b> (<a href="mailto:mikep@Polo.NET"><i>mikep@Polo.NET</i></a>)<br>
<i>Thu, 9 Apr 1998 04:42:33 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Jeff Freedman: "Re: Question regarding PNM-Format (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0089.html">becka@rz.uni-duesseldorf.de: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I made a few small changes to get things compiled with gcc...<br>
<p>
IMHO, I think the '@' lines in the Makefiles should have the '@'<br>
removed to allow better debugging.  I thought gcc was crapping out and<br>
it turned out that it was actually within libtool that the problems<br>
were occurring.  (/usr/bin/printf was seg faulting, replacing it with<br>
/usr/ucb/echo fixed it)<br>
<p>
IMHO #2 - we should include a saned.conf file (at least an empty one<br>
with a description) - I had to use 'truss' and dig through the<br>
documentation to find out it was needed.<br>
<p>
The patched lines are included below.<br>
<p>
To build:<br>
<p>
make sure free scg driver is installed before configure.<br>
~&gt; cd sane-0.72<br>
~/sane-0.72&gt; setenv SANE_BUILD_ECHO=/usr/ucb/echo<br>
~/sane-0.72&gt; export SANE_BUILD_ECHO<br>
~/sane-0.72&gt; ./configure; gmake ; gmake install<br>
<p>
<p>
To configure it (I actually configured it for network<br>
scanning which works great!)<br>
<p>
/usr/local/etc/sane.d/dll.conf:<br>
uncomment '#net' entry<br>
comment out everything else but 'umax' line (I have a umax scanner)<br>
<p>
/usr/local/etc/sane.d/net.conf<br>
add host name of system with scanner<br>
<p>
/usr/local/etc/sane.d/umax.conf<br>
change '/dev/scanner' to /dev/scg0e<br>
(symbolic links for /dev/scanner never seemed to work)<br>
<p>
/usr/local/etc/sane.d/saned.conf<br>
add host name of remote system<br>
<p>
I just rdisted /usr/local to both systems and things work<br>
great.<br>
<p>
<p>
I had to add this line to /etc/services on both systems:<br>
saned 6566/tcp<br>
<p>
and I added this line to /etc/inet/inetd.conf on the system<br>
with the scanner:<br>
<p>
saned stream tcp nowait root /usr/local/sbin/saned saned<br>
<p>
(I should study security problems with this, but...)<br>
<p>
on the remote system:<br>
~&gt; cd ~/.gimp/plug-ins<br>
~/.gimp/plug-ins&gt; ln -s /usr/local/bin/xscanimage .<br>
<p>
and that will get xscanimage working as a plug-in<br>
<p>
Hope this helps!<br>
<p>
Mike<br>
<p>
<p>
~&gt; /usr/local/bin/gnu/diff -ru sane-0.72 sane-0.72-orig <br>
diff -ru sane-0.72/ltconfig sane-0.72-orig/ltconfig<br>
--- sane-0.72/ltconfig	Thu Apr  9 02:08:38 1998<br>
+++ sane-0.72-orig/ltconfig	Thu Apr  2 23:25:40 1998<br>
@@ -29,7 +29,7 @@<br>
 # if CDPATH is set.<br>
 if test "${CDPATH+set}" = set; then CDPATH=; export CDPATH; fi<br>
 <br>
-echo=${SANE_BUILD_ECHO:-echo}<br>
+echo=echo<br>
 if test "X`($echo '\t') 2&gt;/dev/null`" = 'X\t'; then :<br>
 else<br>
   # The Solaris and AIX default echo program unquotes backslashes.<br>
diff -ru sane-0.72/sanei/sanei_pio.c sane-0.72-orig/sanei/sanei_pio.c<br>
--- sane-0.72/sanei/sanei_pio.c	Thu Apr  9 02:08:53 1998<br>
+++ sane-0.72-orig/sanei/sanei_pio.c	Mon Apr  6 21:49:44 1998<br>
@@ -522,12 +522,13 @@<br>
 <br>
 #else /* !HAVE_IOPERM */<br>
 <br>
-SANE_Status <br>
-sanei_pio_open (const char *dev, int *fdp)<br>
+int <br>
+sanei_pio_open (const char *dev, SANE_Status * status)<br>
 {<br>
-  *fdp = -1;<br>
-  return SANE_STATUS_INVAL;<br>
+  *status = SANE_STATUS_INVAL;<br>
+  return -1;<br>
 }<br>
+<br>
 <br>
 void <br>
 sanei_pio_close (int fd)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Jeff Freedman: "Re: Question regarding PNM-Format (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0089.html">becka@rz.uni-duesseldorf.de: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
