<!-- received="Fri Apr 10 20:31:18 1998 PDT" -->
<!-- sent="Fri, 10 Apr 1998 18:35:45 +0200" -->
<!-- name="Henning Meier-Geinitz" -->
<!-- email="henningmg@gmx.de" -->
<!-- subject="Re: sane-0.72 and mustek 600 II N" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980410161649.23944B-100000@hvdkooij" -->
<title>sane-devel: Re: sane-0.72 and mustek 600 II N</title>
<h1>Re: sane-0.72 and mustek 600 II N</h1>
<b>Henning Meier-Geinitz</b> (<a href="mailto:henningmg@gmx.de"><i>henningmg@gmx.de</i></a>)<br>
<i>Fri, 10 Apr 1998 18:35:45 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Bob van der Poel: "Re: xscanimage &amp; previews"</a>
<li> <b>Previous message:</b> <a href="0104.html">Paul D. Robertson: "Gamma correction and Astra 1200s?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; 9) </i><br>
<i>&gt; &gt; If the xscanimage preview window is closed xscanimage is terminated.</i><br>
<i>&gt; </i><br>
<i>&gt; Does this happen with the PNM: 0 device as well?</i><br>
<p>
Yes.<br>
<p>
Ciao, Henning<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Bob van der Poel: "Re: xscanimage &amp; previews"</a>
<li> <b>Previous message:</b> <a href="0104.html">Paul D. Robertson: "Gamma correction and Astra 1200s?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
