<!-- received="Sat Apr 11 19:49:23 1998 PDT" -->
<!-- sent="Sun, 12 Apr 1998 06:52:33 +0200 (CEST)" -->
<!-- name="Clemente Pamplona" -->
<!-- email="clemente@teruel.org" -->
<!-- subject="Problems with Mustek Parangom 1200 an Teckram CD-390" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems with Mustek Parangom 1200 an Teckram CD-390</title>
<h1>Problems with Mustek Parangom 1200 an Teckram CD-390</h1>
<b>Clemente Pamplona</b> (<a href="mailto:clemente@teruel.org"><i>clemente@teruel.org</i></a>)<br>
<i>Sun, 12 Apr 1998 06:52:33 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#107">[ date ]</a><a href="index.html#107">[ thread ]</a><a href="subject.html#107">[ subject ]</a><a href="author.html#107">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Larry 'Daffy' Daffner: "SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<li> <b>Previous message:</b> <a href="0106.html">Bob van der Poel: "Re: xscanimage &amp; previews"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At first sorry for my english :-(<br>
<p>
Im a Linux user (R.H 5.0 ) and I have a problem whith my mustek scanner.<br>
<p>
 The scaner is a Mustek Parangon 1200 SP iconecting to a Tekram DC-390<br>
correctly  supported by the kernel.<br>
    I use the GIMP, but, it try to scan, it scans, and wait a lot of time <br>
(until scsi device resets ) until i can view the image<br>
<p>
 I let you a trace of the problem.<br>
<p>
I have in /etc/profile the lines:<br>
----------------------<br>
<p>
export SANE_DEBUG_MUSTEK=3<br>
export SANE_CONFIG_DIR=/etc/sane.d<br>
<p>
---------<br>
<p>
 I use the gimp, and when I try to scan:<br>
<p>
.<br>
[mustek] attach: opening /dev/sga as scsi device<br>
[mustek] attach: sending INQUIRY<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] attach: firmware revision 1.06<br>
[mustek] attach: scanner has automatic line-distance correction<br>
[mustek] attach: found Mustek scanner model MFS-12000SP (flatbed scanner), 1-pass<br>
[mustek] sane_init: enabling linedistance-fix for /dev/sga<br>
[mustek] sane_init: enabling lineart-fix for /dev/sga<br>
.<br>
.<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] line_distance: got factor=8, (r/g/b)=(0/2/4)<br>
[mustek] line_distance: fixed up to factor=65535, (r/g/b)=(0/2/4)<br>
[mustek] get_image_status: bytes_per_line=48, lines=241<br>
[mustek] reader_process: limiting strip height to 1 inches (100 lines)<br>
[mustek] lines_per_buffer=100, bytes_per_line=48<br>
[mustek] read 4096 bytes<br>
mustek] read -1 bytes<br>
[mustek] read 4096 bytes<br>
mustek] read -1 bytes<br>
.<br>
.<br>
[mustek] read 4096 bytes<br>
[mustek] read -1 bytes<br>
[mustek] read 4096 bytes<br>
[mustek] read 1360 bytes<br>
[mustek] read 0 bytes<br>
it stops here, i must wait a lot of time when success  this:<br>
<p>
scsi : aborting command due to timeout : pid 102, scsi0, channel 0, id 5, lun 0 Start/Stop Unit 00 00 00 00 00<br>
 <br>
and then starts to scan<br>
<p>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] line_distance: got factor=8, (r/g/b)=(0/2/4)<br>
[mustek] line_distance: fixed up to factor=65535, (r/g/b)=(0/2/4)<br>
[mustek] get_image_status: bytes_per_line=1098, lines=619<br>
[mustek] lines_per_buffer=29, bytes_per_line=1098<br>
..<br>
.<br>
.<br>
[mustek] read -1 bytes<br>
[mustek] read 4096 bytes<br>
[mustek] read -1 bytes<br>
[mustek] read 4096 bytes<br>
[mustek] read -1 bytes<br>
[mustek] read 3822 bytes<br>
[mustek] read -1 bytes<br>
[mustek] read 0 bytes<br>
<p>
 and stops again.<br>
<p>
<p>
 Anyobody can help me?<br>
<p>
 Why dont return the image when it finish?<br>
<p>
<p>
 thanks<br>
            \     /			<a href="mailto:clemente@teruel.org">clemente@teruel.org</a><br>
    x________\(O)/________x		2:346/207.49<br>
       o  o  O(.)O  o  o		<a href="http://www.teruel.org/linux">http://www.teruel.org/linux</a><br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Larry 'Daffy' Daffner: "SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<li> <b>Previous message:</b> <a href="0106.html">Bob van der Poel: "Re: xscanimage &amp; previews"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
