<!-- received="Mon Apr 13 04:12:34 1998 PDT" -->
<!-- sent="Mon, 13 Apr 1998 13:11:41 +0200" -->
<!-- name="Christian Bucher" -->
<!-- email="cbucher@vernetzt.at" -->
<!-- subject="Re: Problems building 0.72 under IRIX" -->
<!-- id="" -->
<!-- inreplyto="Problems building 0.72 under IRIX" -->
<title>sane-devel: Re: Problems building 0.72 under IRIX</title>
<h1>Re: Problems building 0.72 under IRIX</h1>
<b>Christian Bucher</b> (<a href="mailto:cbucher@vernetzt.at"><i>cbucher@vernetzt.at</i></a>)<br>
<i>Mon, 13 Apr 1998 13:11:41 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Henning Meier-Geinitz: "Re: xscanimage looking for Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0117.html">Hugo van der Kooij: "Re: xscanimage looking for Mustek 1200SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0112.html">Michael Sweet: "Problems building 0.72 under IRIX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Michael Sweet wrote:<br>
<p>
<i>&gt;     2. sanei/sanei_pio.c and sanei_pio.h don't match up</i><br>
<p>
Sorry about that. The patch from Michael Polo is perfect.<br>
<p>
<p>
christian<br>
<p>
<pre>
-- 
+-------------------------------------------------------------------
| Christian Bucher
| phone: +43 1 5488640 mobil: +43 676 4208334
| <a href="mailto:cbucher@vernetzt.at">mailto:cbucher@vernetzt.at</a>
+-------------------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Henning Meier-Geinitz: "Re: xscanimage looking for Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0117.html">Hugo van der Kooij: "Re: xscanimage looking for Mustek 1200SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0112.html">Michael Sweet: "Problems building 0.72 under IRIX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
