<!-- received="Tue Apr 14 13:11:48 1998 PDT" -->
<!-- sent="Tue, 14 Apr 1998 13:10:36 -0700" -->
<!-- name="Michael Polo" -->
<!-- email="mikep@Polo.NET" -->
<!-- subject="Re: Sane0.71 questions" -->
<!-- id="199804142010.NAA03143@enigma.Polo.NET" -->
<!-- inreplyto="Sane0.71 questions" -->
<title>sane-devel: Re: Sane0.71 questions</title>
<h1>Re: Sane0.71 questions</h1>
<b>Michael Polo</b> (<a href="mailto:mikep@Polo.NET"><i>mikep@Polo.NET</i></a>)<br>
<i>Tue, 14 Apr 1998 13:10:36 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<li> <b>Previous message:</b> <a href="0138.html">Ignasi Garcia: "Re: Sane and gtk+-1.0.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi JP,<br>
<p>
(I'm copying this to the list in the hope that it can help<br>
 other people)<br>
<p>
<p>
<i>&gt; I've read your articles in the sane</i><br>
<i>&gt; discussion board and it seems to me that </i><br>
<i>&gt; your are an expert !</i><br>
<p>
no way - just wanted a scanner working on my system!<br>
<p>
<i>&gt; I have some questions concerning sane and solaris.</i><br>
<i>&gt; </i><br>
<i>&gt; On my sparc IPX running Solaris2.5.1, i have</i><br>
<i>&gt; compiled Sane0.71 succesfully with some hints</i><br>
<i>&gt; from you (the gtk_tooltips etc...), but</i><br>
<i>&gt; now having the executables nothing happens.</i><br>
<i>&gt; </i><br>
<i>&gt; Oh, the scanner attached at target id 1 is</i><br>
<i>&gt; a mustek 1200SP firmware rev. 1.07.</i><br>
<p>
I have a UMAX scanner, so hopefully my help will apply, but there's<br>
a chance it might not.<br>
<p>
<i>&gt; Ok, 'probe-scsi' in the boot monitor</i><br>
<i>&gt; shows me the scanner(id 1), and two harddisks(id 3,6),</i><br>
<i>&gt; the generic scsi-driver from J.Schilling is installed, also</i><br>
<i>&gt; the required lib's(gtk,gdk,gimp.h...) and the gimp.</i><br>
<i>&gt; </i><br>
<i>&gt; Now find-scanner finds nothing at all and</i><br>
<i>&gt; xscanimage only shows '[snapscan] mini-inquiry:operation not applicable'</i><br>
<i>&gt; and 'add_device: device not available' something like this.</i><br>
<i>&gt; </i><br>
<i>&gt; If i type 'find-scanner /dev/scg0b' it gives someth. like</i><br>
<i>&gt; </i><br>
<i>&gt; 	'found disk"  "'  , but no scanner</i><br>
<i>&gt; </i><br>
<i>&gt; and 'xscanimage /dev/scg0b' shows a little window saying 'invalid argument'</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Do you have any help,advice for me, please respond to me .</i><br>
<i>&gt; </i><br>
<i>&gt; TIA</i><br>
<i>&gt; </i><br>
<i>&gt; Greetings J.P.Meyer</i><br>
<p>
I guess it could be a couple of things.  I've gotten the<br>
'invalid argument' stuff plenty of times.<br>
<p>
<p>
Here are some things to check/try to get sane going:<br>
<p>
<p>
- make sure you're using the correct device name.<br>
  my scanner is configured for scsi unit 4, this is /dev/scg0e,<br>
  NOT /dev/scg0d (unit 0 is /dev/scg0a, etc...)<br>
<p>
  I know you have this right: unit 1 is indeed /dev/scg0b<br>
<p>
- edit /usr/local/etc/sane.d/dll.conf and edit out every line<br>
  but the one for your scanner<br>
<p>
<p>
- edit /usr/local/etc/sane.d/mustek.conf and change /dev/scanner<br>
  to /dev/scg0b<br>
<p>
<p>
- you can also try to specify the device type explicitly:<br>
    xscanimage mustek:/dev/scg0b<br>
<p>
  you can also use scanimage, it shouldn't depend on getting<br>
  xscanimage to build under gtk.<br>
<p>
    scanimage -d mustek:/dev/scg0b<br>
<p>
  for a network device, it would be something like:<br>
    scanimage -d net:systemname:umax:/dev/scg0e<br>
<p>
  I think if using these naming conventions work, but using<br>
  xscanimage or scanimage without arguments fails, then<br>
  your config files in /usr/local/etc/sane.d are screwed up.<br>
<p>
  It took me a while to figure out why xscanimage under gimp<br>
  was only showing pnm:0 and pnm:1.  Getting the config files<br>
  right fixed this.  <br>
<p>
  for network scanning, don't forget to create a<br>
  /usr/local/etc/sane.d/saned.conf file - it doesn't exist, but<br>
  it's required.<br>
<p>
- turn off scanner, reboot your system.  (stupid, but seemed<br>
  to work for me a few times).  see if that helps.  It helped<br>
  me once or twice.<br>
<p>
<p>
and finally, you can rebuild sane:<br>
<p>
- make sure that the scg driver is installed *FIRST*<br>
   sane's configure checks for the file <br>
   /usr/include/sys/scsi/targets/scgio.h<br>
   and doesn't add SCG support unless it is there. <br>
<p>
  that could cause your 'invalid argument' stuff.<br>
<p>
<p>
- install gnu make.  I installed it as 'gmake' to avoid confusion<br>
  sane doesn't compile with the standard sun make or 'dmake' from<br>
  the sun workshop compiler.<br>
<p>
- install gcc.  (It helps)<br>
<p>
- get the latest sane (I used 0.72) AND the latest gtk (I used 0.99.10)<br>
<p>
  (because I don't remember all the tweaks I did for 0.71 and wouldn't<br>
   be able to give full instructions again)<br>
<p>
- compile gtk:<br>
<p>
  cd &lt;gtk directory&gt;<br>
  ./configure<br>
  make install<br>
<p>
  this will install in /usr/local - please do this.  I can't know<br>
  if it will work if you install into another directory.  I don't<br>
  think it will work.<br>
  <br>
<p>
- modify sane-0.72/sanei/sanei_pio.c, replacing this function:<br>
<p>
int <br>
sanei_pio_open (const char *dev, SANE_Status * status)<br>
{<br>
  *status = SANE_STATUS_INVAL;<br>
  return -1;<br>
}<br>
<p>
with this one:<br>
<p>
SANE_Status <br>
sanei_pio_open (const char *dev, int *fdp)<br>
{<br>
  *fdp = -1;<br>
  return SANE_STATUS_INVAL;<br>
}<br>
<p>
<p>
(you'll find it around line 522)<br>
<p>
- change line 32 sane-0.72/ltconfig, otherwise the sun 'printf'<br>
  function segfaults way down in the middle of libtool.<br>
<p>
<p>
from:<br>
echo=echo<br>
<pre>
---
<p>
to:
echo=${SANE_BUILD_ECHO:-echo}
<p>
<p>
- in the sane directory, build sane:
<p>
  SANE_BUILD_ECHO=/usr/ucb/echo 
  export SANE_BUILD_ECHO
  ./configure
  gmake
  gmake install
<p>
<p>
- then edit /usr/local/etc/sane.d/dll.conf, commenting out every
  line but the one for your scanner
- edit /usr/local/etc/sane.d/&lt;yourscanner&gt;.conf, changing the
  /dev/scanner stuff to /dev/scg0&lt;unit&gt;
- should work.
<p>
Good Luck, (hope I didn't forget anything!)
<p>
Mike Polo
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<li> <b>Previous message:</b> <a href="0138.html">Ignasi Garcia: "Re: Sane and gtk+-1.0.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
