<!-- received="Wed Apr 15 17:48:59 1998 PDT" -->
<!-- sent="Thu, 16 Apr 1998 02:54:40 +0200" -->
<!-- name="Jan Krueger" -->
<!-- email="yesno@bln.de" -->
<!-- subject="Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets" -->
<!-- id="" -->
<!-- inreplyto="DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets" -->
<title>sane-devel: Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets</title>
<h1>Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets</h1>
<b>Jan Krueger</b> (<a href="mailto:yesno@bln.de"><i>yesno@bln.de</i></a>)<br>
<i>Thu, 16 Apr 1998 02:54:40 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Anonymous FTP maintenance: "A request..."</a>
<li> <b>Previous message:</b> <a href="0154.html">Hugo van der Kooij: "Re: sane-0.72-1.i386.rpm not yet available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dr. Andreas Bolsch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; That's really execellent news. I've tried to get some information</i><br>
<i>&gt; serveral times (from mustek's headquater in taiwan as well as their</i><br>
<i>&gt; european department, without any success).</i><br>
<i>&gt; What's the trick you have used to get it?</i><br>
<p>
I simply ignored them ignoring me ;)<br>
<p>
<i>&gt; Would be very pleased if you</i><br>
<i>&gt; post the specs somewhere for public access.</i><br>
<p>
Did so.<br>
<p>
I asked them for information on different firmware revisions and<br>
the accompanying bugs - they told me that no docs about<br>
firmware things exist. hum. Do you believe?<br>
If they dont know what they do, what do they do?<br>
How do they get those things work?<br>
Anyway, if you need specific special information please tell me.<br>
Ill try.<br>
<p>
Happy Anything<br>
Jan<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Anonymous FTP maintenance: "A request..."</a>
<li> <b>Previous message:</b> <a href="0154.html">Hugo van der Kooij: "Re: sane-0.72-1.i386.rpm not yet available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
