<!-- received="Fri Apr 17 06:22:09 1998 PDT" -->
<!-- sent="Fri, 17 Apr 1998 13:36:00 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)" -->
<!-- id="m0yQ9R2-0000cOC@charon.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.95.980417144126.19146C-100000@matjes.koerber.org" -->
<title>sane-devel: Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</title>
<h1>Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 17 Apr 1998 13:36:00 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#170">[ date ]</a><a href="index.html#170">[ thread ]</a><a href="subject.html#170">[ subject ]</a><a href="author.html#170">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Previous message:</b> <a href="0169.html">Mathias Koerber: "Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V) (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I must say I fairly dismayed by this attitude, especially that they</i><br>
<i>&gt; brand me an "individual customer" after I had made it clear in the</i><br>
<i>&gt; request that the information would enable me (us) to develop the driver</i><br>
<i>&gt; on our own, and thus was not intended for just me myself.</i><br>
<p>
It might help, if we try further requests under a corporate EMail address.<br>
<p>
I assume, that we have quite some software professionals here, and <br>
very probably some that run their own small company and could use its <br>
name for getting at information.<br>
<p>
It is much easier, when the "other side" thinks they are dealing with a<br>
professional developer trying to make a product that gives an alternate<br>
"surface" to scanning, and they are much more easily convinced, that<br>
it might be beneficial, if their product shows up in the "supported<br>
scanners" list.<br>
<p>
I know this is psychological trickery, but well - if it helps ?<br>
<p>
<i>&gt; I think we may have to publish a note on the SANE site to discourage</i><br>
<i>&gt; people from buying Minolta Scanners, until their attitude changes..</i><br>
<p>
Yep. Hardware manufacturers need to be taught that keeping interfaces secret<br>
is a stupid idea.<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
========  GGI - The Right Thing To Do : <a href="http://www.ggi-project.org/">http://www.ggi-project.org/</a>   ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Previous message:</b> <a href="0169.html">Mathias Koerber: "Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V) (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- reply="end" -->
</ul>
