<!-- received="Fri Apr 17 07:42:12 1998 PDT" -->
<!-- sent="Fri, 17 Apr 1998 16:42:14 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)" -->
<!-- id="35376A46.69262EDF@ic.ac.uk" -->
<!-- inreplyto="Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)" -->
<title>sane-devel: Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</title>
<h1>Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Fri, 17 Apr 1998 16:42:14 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">David Mosberger-Tang: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Previous message:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0173.html">David Mosberger-Tang: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0173.html">David Mosberger-Tang: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0184.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Of course, it a good idea to quote the company's policy.<br>
But be careful not to ask for boycott as this might lead<br>
to prosecution. Some companies are very narrow-minded.<br>
Just state the facts explicitly.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">David Mosberger-Tang: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Previous message:</b> <a href="0171.html">Rogier Wolff: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0173.html">David Mosberger-Tang: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0173.html">David Mosberger-Tang: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0184.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- reply="end" -->
</ul>
