<!-- received="Sat Apr 18 07:04:45 1998 PDT" -->
<!-- sent="Sat, 18 Apr 1998 14:58:39 +0100" -->
<!-- name="Jim Ford" -->
<!-- email="jf001@watford.net" -->
<!-- subject="Sane compilation ate my ram!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane compilation ate my ram!</title>
<h1>Sane compilation ate my ram!</h1>
<b>Jim Ford</b> (<a href="mailto:jf001@watford.net"><i>jf001@watford.net</i></a>)<br>
<i>Sat, 18 Apr 1998 14:58:39 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#186">[ date ]</a><a href="index.html#186">[ thread ]</a><a href="subject.html#186">[ subject ]</a><a href="author.html#186">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Oliver.Rauch@Wolfsburg.DE: "Re: Sane compilation ate my ram!"</a>
<li> <b>Previous message:</b> <a href="0185.html">Jonathan Buzzard: "Re: Sample/proposal for the overview pages"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0194.html">Peter JD Hall: "Re: Sane compilation ate my ram!"</a>
<li> <b>Reply:</b> <a href="0194.html">Peter JD Hall: "Re: Sane compilation ate my ram!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've just ordered a scanner and decided in the meantime to install the<br>
software. I grabbed the latest Sane package  (0.72) and have tried<br>
compiling it.  It first ate my 64 meg of ram and then when that ran out,<br>
started snacking on my swap partition. When _that_ ran out, it burped<br>
and announced "virtual memory exhausted"  (in line 3686 of compiling<br>
umax.c)!<br>
<p>
Now I guess that there is something wrong here and I don't have to<br>
install more memory!  I also guess that I'm not alone with this problem<br>
and I won't need to trawl through a lot of source code to find the<br>
problem for myself.<br>
<p>
Any ideas,  anyone?<br>
<p>
Regards: Jim Ford<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Oliver.Rauch@Wolfsburg.DE: "Re: Sane compilation ate my ram!"</a>
<li> <b>Previous message:</b> <a href="0185.html">Jonathan Buzzard: "Re: Sample/proposal for the overview pages"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0194.html">Peter JD Hall: "Re: Sane compilation ate my ram!"</a>
<li> <b>Reply:</b> <a href="0194.html">Peter JD Hall: "Re: Sane compilation ate my ram!"</a>
<!-- reply="end" -->
</ul>
