<!-- received="Sat Apr 18 21:06:28 1998 PDT" -->
<!-- sent="Sat, 18 Apr 1998 21:09:50 -0700 (PDT)" -->
<!-- name="root" -->
<!-- email="root@baitisj.rhn.orst.edu" -->
<!-- subject="Mustek MFS-8000SP almost works in color...." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek MFS-8000SP almost works in color....</title>
<h1>Mustek MFS-8000SP almost works in color....</h1>
<b>root</b> (<a href="mailto:root@baitisj.rhn.orst.edu"><i>root@baitisj.rhn.orst.edu</i></a>)<br>
<i>Sat, 18 Apr 1998 21:09:50 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#195">[ date ]</a><a href="index.html#195">[ thread ]</a><a href="subject.html#195">[ subject ]</a><a href="author.html#195">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Oliver.Rauch@Wolfsburg.DE: "Re: Custom gamma table causes undesired distortions in Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0194.html">Peter JD Hall: "Re: Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
***Please reply to <a href="mailto:baitisj@cyberdude.com!!******">baitisj@cyberdude.com!!******</a>*<br>
<p>
Hi there everyone. First of all, I'd like to compliment your skill in<br>
developing SANE.... I have an adaptec AHA152x ISA scsi card in this<br>
laptop, and discovered that Mustek's scanner drivers don't seem to work<br>
using this card (in Windoze!!!), for some very strange reason. I called up<br>
their tech<br>
support, and they told me that they wouldn't (or was that coudn't?) make<br>
my card work with the scanner.<br>
<p>
But it works in Linux. So kudos - you guys did what the Mustek developers<br>
can't seem to do!<br>
<p>
But anyhow, there must be a really simple problem with the Mustek driver. <br>
The scanner works great in greyscale. However, when I pump the resolution<br>
of the color scan up to a (measly) 200 dpi, the scanner head acts like it<br>
advances 1 cm, scans about .5 cm, and then backtracks 1.4 cm. Then this<br>
process repeats (forever!!!) until, hours later, the scan is done (and it<br>
looks really chopped up and crappy!!!)<br>
<p>
Is this a simple buffer problem? I'm offering my limited C programming<br>
skill in finding a solution to this problem... perhaps one of you can<br>
point me in the right direction.<br>
<p>
Thanks a bunch,<br>
Jeff Baitis<br>
<p>
***Please reply to <a href="mailto:baitisj@cyberdude.com!!******">baitisj@cyberdude.com!!******</a>*<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Oliver.Rauch@Wolfsburg.DE: "Re: Custom gamma table causes undesired distortions in Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0194.html">Peter JD Hall: "Re: Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
