<!-- received="Mon Apr 20 10:11:15 1998 PDT" -->
<!-- sent="Mon, 20 Apr 1998 13:10:30 -0400 (EDT)" -->
<!-- name="soneill" -->
<!-- email="soneill@netaxs.com" -->
<!-- subject="Suggestion for Improvement of Xscanimage" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Suggestion for Improvement of Xscanimage</title>
<h1>Suggestion for Improvement of Xscanimage</h1>
<b>soneill</b> (<a href="mailto:soneill@netaxs.com"><i>soneill@netaxs.com</i></a>)<br>
<i>Mon, 20 Apr 1998 13:10:30 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Michael Ritzert: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0214.html">Jean Paul Meyer: "find-scanner ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I originally sent this suggestion to David Mosberger, and he suggested that<br>
I send it along to you, since he won't have time to work on it personally.<br>
<p>
I've been using xscanimage for a while now and it works fine with my<br>
Microtek scanner. However, I would like to suggest a small modification to<br>
be incorporated into future versions of the programs. As it works now,<br>
there is no way to modify the type of cursor that appears on the preview<br>
window. Most of the time, the small cross-shaped cursor is fine for<br>
selecting the area to be scanned. There are situations, however, where I<br>
want to select the scanned area by distance from the corner, using the top<br>
and side scales for measurement. In order to do this accurately, it would be<br>
nice to have the cursor become a pair of moving cross-hairs, that extend<br>
from top to bottom and side to side of the window. That way, I could line up<br>
each hair with the exact scale marking I want, then select the scan area<br>
exactly.<br>
<p>
The lack of such a cross-hair cursor isn't a show-stopper as far as using<br>
xscanimage goes, but it would be nice to have this capability when it's<br>
needed. If the members of the sane development team can take a look at<br>
providing such a capability in a future release, I, and I'm sure other<br>
users, would be grateful.<br>
<p>
Thanks for the great job you've done so far.<br>
<p>
Steve O'Neill<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Michael Ritzert: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0214.html">Jean Paul Meyer: "find-scanner ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
