<!-- received="Mon Apr 20 10:34:06 1998 PDT" -->
<!-- sent="Mon, 20 Apr 1998 19:29:01 +0200 (CEST)" -->
<!-- name="Michael Ritzert" -->
<!-- email="Ritzert@t-online.de" -->
<!-- subject="Re: /proc/scsi/scsi" -->
<!-- id="" -->
<!-- inreplyto="199804131831.UAA00440@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: /proc/scsi/scsi</title>
<h1>Re: /proc/scsi/scsi</h1>
<b>Michael Ritzert</b> (<a href="mailto:Ritzert@t-online.de"><i>Ritzert@t-online.de</i></a>)<br>
<i>Mon, 20 Apr 1998 19:29:01 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0215.html">soneill: "Suggestion for Improvement of Xscanimage"</a>
<li> <b>In reply to:</b> <a href="0126.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">Michael K. Johnson: "Re: /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Oliver and everybody else!<br>
<p>
Sorry for answering that late, but I only could check this by now:<br>
<p>
On 13-Apr-98 <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<i>&gt; Hello Matt,</i><br>
<i>&gt; </i><br>
<i>&gt;&gt; Mmmm... another problem with just looking at /proc/scsi/scsi is that</i><br>
<i>&gt;&gt;  not all scanners provide useful vendor/model strings.  </i><br>
<i>&gt; For that I will add something like:</i><br>
<i>&gt; scsi-card, bus, id, lun:</i><br>
<i>&gt; eg: 0,0,5,0 </i><br>
<p>
Be aware that the scsi-card # above is not a constant, when the scsi driver is<br>
loaded as a module.<br>
That is, I have an AHA-2940UW for my disks that is scsi-card 0 and an AHA-1542CF<br>
for the scanner that is scsi-card 1 when I first load the module, scsi-card 2<br>
when I load the module for the second time...<br>
<p>
I'm using this script to initialize the scanner:<br>
-- 8&lt; --<br>
#!/bin/sh<br>
insmod aha1542<br>
echo "scsi add-single-device `ls /proc/scsi/aha1542` 0 6 0" &gt; /proc/scsi/scsi<br>
-- &gt;8 --<br>
<p>
This is not a general solution however, because there could be more than one<br>
card of one type and the ls would return two files and confuse everything.<br>
<p>
Ciao, Michael<br>
<pre>
---
|\/|_   Michael Ritzert -=&gt; <a href="mailto:ritzert@t-online.de">ritzert@t-online.de</a> &lt;=- 
|  |_)  <a href="http://home.t-online.de/home/ritzert">http://home.t-online.de/home/ritzert</a>
   | \  PGP and GPG keys available
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0215.html">soneill: "Suggestion for Improvement of Xscanimage"</a>
<li> <b>In reply to:</b> <a href="0126.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">Michael K. Johnson: "Re: /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
