<!-- received="Tue Apr 21 12:31:36 1998 PDT" -->
<!-- sent="Tue, 21 Apr 1998 20:00:24 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: /proc/scsi/scsi" -->
<!-- id="199804211800.UAA00262@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199804210421.VAA02749@panda.mostang.com" -->
<title>sane-devel: Re: /proc/scsi/scsi</title>
<h1>Re: /proc/scsi/scsi</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Tue, 21 Apr 1998 20:00:24 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#231">[ date ]</a><a href="index.html#231">[ thread ]</a><a href="subject.html#231">[ subject ]</a><a href="author.html#231">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0232.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Previous message:</b> <a href="0230.html">Slana: "Re: 0.69 - 0.72 upgrade"</a>
<li> <b>In reply to:</b> <a href="0223.html">David Mosberger-Tang: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello David,<br>
<p>
<i>&gt; I don't think that's a very good assumption.  IMHO, if we do want to</i><br>
<i>&gt; go towards autoconfiguration, we should go all the way.  That is, we</i><br>
<i>&gt; should try to get rid of the configuration file completely.  Anything</i><br>
<i>&gt; else will only increase user confusion.</i><br>
<p>
If we have /proc/scsi/scsi, there is no problem with that, a backend<br>
(or a sanei_xxx) just reads it and looks if it supports a scanner<br>
listed there.<br>
<p>
But if there is no /proc/scsi/scsi, it is not a good idea to scan<br>
all possible scsi-devices, especally if there are dozens of devices.<br>
<p>
I am thinking about making a configuration tool that scans the scsi-bus<br>
for scanners and processors (hp) and generates the config files<br>
with VENDOR="XXX" MODEL="YYY" ID=Z<br>
for the backends, so the user does not have to modify the *.conf-files.<br>
That tool could set the permissions for the /dev/... devices if it<br>
is called with root-permissions.<br>
It could be done with a nice graphical frontend, where you can<br>
enable and select network-functions and SANE-servers etc.<br>
We could make a group "scanner" and edit the /etc/group file with it.<br>
<p>
If someone changes the hardware-configuration, he has to call the<br>
configuration-program again.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0232.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Previous message:</b> <a href="0230.html">Slana: "Re: 0.69 - 0.72 upgrade"</a>
<li> <b>In reply to:</b> <a href="0223.html">David Mosberger-Tang: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
