<!-- received="Tue Apr 21 12:32:01 1998 PDT" -->
<!-- sent="Tue, 21 Apr 1998 19:46:51 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Suggestion for Improvement of Xscanimage" -->
<!-- id="199804211746.TAA00207@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.980420201500.4420A-100000@minerva.meatware.com" -->
<title>sane-devel: Re: Suggestion for Improvement of Xscanimage</title>
<h1>Re: Suggestion for Improvement of Xscanimage</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Tue, 21 Apr 1998 19:46:51 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#232">[ date ]</a><a href="index.html#232">[ thread ]</a><a href="subject.html#232">[ subject ]</a><a href="author.html#232">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Previous message:</b> <a href="0231.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Reply:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Reply:</b> <a href="0236.html">Justin: "Re: Suggestion for Improvement of Xscanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Justin,<br>
<p>
<p>
<i>&gt; &gt; I will work on xscanimage in the future. In the moment I am working on xxerox,</i><br>
<i>&gt; &gt; a new sane-frontend for making photocopies. If I come to the point where I</i><br>
<i>&gt; </i><br>
<i>&gt; xxerox? Oh man.. watch out for Xerox Corp.'s lawyers. ;)</i><br>
<p>
I already thought about that, but in my dictonary there is written:<br>
<p>
xerox = photocopy,<br>
<p>
The question is: is "xerox = photocopy" because everybody<br>
uses it that way because the name is taken from the company,<br>
or has there been the word "xerox" first<br>
and the company named itsel "xerox" aterwards?<br>
<p>
I don't know and if there might be a real problem with it,<br>
I will call id Xphotocopy, but that's too lonk :-( !<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Previous message:</b> <a href="0231.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Reply:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Reply:</b> <a href="0236.html">Justin: "Re: Suggestion for Improvement of Xscanimage"</a>
<!-- reply="end" -->
</ul>
