<!-- received="Wed Apr 22 13:48:47 1998 PDT" -->
<!-- sent="Wed, 22 Apr 1998 22:46:02 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Some help request on the makefile patch" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Some help request on the makefile patch</title>
<h1>Some help request on the makefile patch</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 22 Apr 1998 22:46:02 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#245">[ date ]</a><a href="index.html#245">[ thread ]</a><a href="subject.html#245">[ subject ]</a><a href="author.html#245">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">Philip Balister: "UMAX 1200S"</a>
<li> <b>Previous message:</b> <a href="0244.html">Ben Bullock: "gnu licence quibble"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  This message is in MIME format.  The first part should be readable text,<br>
  while the remaining parts are likely unreadable without MIME-aware tools.<br>
  Send mail to <a href="mailto:mime@docserver.cac.washington.edu">mime@docserver.cac.washington.edu</a> for more info.<br>
<p>
---1463811839-710362789-893277962=:3125<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII<br>
<p>
I could do with a little help on the RPM patch for the makefile.<br>
<p>
I have the environment variable called RPM_BUILD_ROOT. This one is set to<br>
/tmp/SANE during compilation of the RPM files.<br>
<p>
Then there is the macro configdir inside the Makefile that gets set to<br>
/tmp/SANE/etc/sane.d by the configure script.<br>
<p>
I made an AWK script that will take to variables and return the<br>
difference. So /tmp/SANE and /tmp/SANE/etc/sane.d will result in<br>
/etc/sane.d if I do:<br>
<p>
	echo "$RPM_BUILD_ROOT /tmp/SANE/etc/sane.d"|gawk -f substring.awk<br>
<p>
Now I have tried to glue this together but find I lack some knowledge<br>
regarding makefiles. So attached is a patch file that should do the trick.<br>
But it does not work as expected. Some settings are lost while others<br>
(notably: libtool) still needs to be patched.<br>
<p>
So attached here are the fix and the proposed spec file.<br>
<p>
I am open for suggestions to improvements.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
---1463811839-710362789-893277962=:3125<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII; name="sane.spec"<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.3.96.980422224602.3125A@hvdkooij">Pine.LNX.3.96.980422224602.3125A@hvdkooij</a>&gt;<br>
Content-Description: sane.spec<br>
<p>
U3VtbWFyeTogU0FORSAtLSBFYXN5IGxvY2FsIGFuZCBuZXR3b3JrZWQgc2Nh<br>
bm5lciBhY2Nlc3MNCk5hbWU6IHNhbmUNClZlcnNpb246IDAuNzINClJlbGVh<br>
c2U6IDQNCkNvcHlyaWdodDogR1BMIChwcm9ncmFtcyksIHJlbGF4ZWQgTEdQ<br>
TCAobGlicmFyaWVzKSwgYW5kIHB1YmxpYyBkb21haW4gKGRvY3MpDQpHcm91<br>
cDogWDExL0FwcGxpY2F0aW9ucy9HcmFwaGljcw0KU291cmNlOiBmdHA6Ly9m<br>
dHAubW9zdGFuZy5jb20vcHViL3NhbmUvc2FuZS0wLjcyLnRhci5neg0KUGF0<br>
Y2g6IHNhbmUtQnVpbGRSb290Rml4LnBhdGNoDQpQcm92aWRlczogbGlic2Fu<br>
ZS5zby4wDQpQYWNrYWdlcjogSHVnbyB2YW4gZGVyIEtvb2lqIDxodmRrb29p<br>
akBjYWl3Lm5sPg0KSWNvbjogc2FuZS54cG0NClVSTDogaHR0cDovL3d3dy5t<br>
b3N0YW5nLmNvbS9zYW5lLw0KQnVpbGRyb290OiAvdG1wL1NBTkUNClJlcXVp<br>
cmVzOiBndGsrDQojUHJlZml4OiAvdXNyDQoNCiMgUmVxdWlyZXMgdGhlIGZv<br>
bGxvd2luZyB0byBpbnN0YWxsOg0KIyAtIGdpbXAgKG9yaWdpbmFsIHdhcyBi<br>
dWlsZCBhZ2FpbnN0IDAuOTkuMjMpDQojIC0gZ3RrKyAob3JpZ2luYWwgd2Fz<br>
IGJ1aWxkIGFnYWluc3QgMC45OS45KQ0KIyAtIGRsaCAob3JpZ2luYWwgd2Fz<br>
IGJ1aWxkIGFnYWluc3QgMC43ZCkNCiMgLSBYMTEgZGV2ZWxvcG1lbnQgdHJl<br>
ZSBpbmNsdWRpbmcgeHBtIGxpYnJhcmllcy4NCg0KJWNoYW5nZWxvZw0KDQoq<br>
IFdlZCBBcHIgMjIgMTk5OCBIdWdvIHZhbiBkZXIgS29vaWogPGh2ZGtvb2lq<br>
QGNhaXcubmw+DQotIEJpbmFyaWVzIGFyZSBub3cgQnVpbGRSb290IHByb29m<br>
Lg0KDQoqIFdlZCBBcHIgMjIgMTk5OCBIdWdvIHZhbiBkZXIgS29vaWogPGh2<br>
ZGtvb2lqQGNhaXcubmw+DQotIEJpbmFyaWVzIGFyZSBub3QgQnVpbGRSb290<br>
IHByb29mLiByZWxlYXNlIDMgaXMgZG9uZSB3aXRob3V0IEJ1aWxkUm9vdCEN<br>
Cg0KKiBUdWUgQXByIDIxIDE5OTggSHVnbyB2YW4gZGVyIEtvb2lqIDxodmRr<br>
b29pakBjYWl3Lm5sPg0KLSBUZW1wLiBmaXggZm9yIHNvbWUgZG9jdW1lbnRh<br>
dGlvbnMgcHJvYmxlbXMgd2l0aCBCdWlsZFJvb3QuDQoNCiogU2F0IEFwciAx<br>
MSAxOTk4IEh1Z28gdmFuIGRlciBLb29paiA8aHZka29vaWpAY2Fpdy5ubD4N<br>
Ci0gRm9ybWFsIDAuNzIgbm93IG1hZGUgYXMgUlBNISAoQnVpbGQgYWdhaW5z<br>
dCBHVEsrIDAuOTkuMTAgYW5kIEdJTVAgMC45OS4yNCkNCi0gT3JpZ2luYWwg<br>
cGFja2FnZSB3YXMgcmVsZWFzZWQ6IFR1ZSBBcHIgNyAxOTk4DQoNCiogRnJp<br>
IEFwciAzIDE5OTggSHVnbyB2YW4gZGVyIEtvb2lqIDxodmRrb29pakBjYWl3<br>
Lm5sPg0KLSBNYWpvciBjaGFuZ2UgdG8gbWFrZSB0aGUgcGFja2FnZSBtb3Jl<br>
IHBvcnRhYmxlIGFuZCBwcmVwYXJlIGZvciB0aGUgcmVhbCAwLjcyDQogIHZl<br>
cnNpb24uIFRlc3RlZCBvbiB0aGUgMC43MiBwcmUtcmVsZWFzZS4NCg0KKiBN<br>
b24gRmViIDIzIDE5OTggRGF2aWQgTW9zYmVyZ2VyLVRhbmcgPERhdmlkLk1v<br>
c2JlcmdlckBhY20ub3JnPg0KLSBSZWxlYXNlIDAuNzENCg0KKiBXZWQgSmFu<br>
IDI4IDE5OTggRGF2aWQgTW9zYmVyZ2VyLVRhbmcgPERhdmlkLk1vc2Jlcmdl<br>
ckBhY20ub3JnPg0KLSBSZWxlYXNlIDAuNzANCg0KKiBUdWUgSmFuIDIwIDE5<br>
OTggRGF2aWQgTW9zYmVyZ2VyLVRhbmcgPERhdmlkLk1vc2JlcmdlckBhY20u<br>
b3JnPg0KLSBSZWxlYXNlIDAuNjkNCg0KKiBUdWUgRGVjIDIgMTk5NyBEYXZp<br>
ZCBNb3NiZXJnZXItVGFuZyA8RGF2aWQuTW9zYmVyZ2VyQGFjbS5vcmc+DQot<br>
IFJlbGVhc2UgMC42OA0KDQoqIFNhdCBOb3YgMSAxOTk3IERhdmlkIE1vc2Jl<br>
cmdlci1UYW5nIDxEYXZpZC5Nb3NiZXJnZXJAYWNtLm9yZz4NCi0gUmVsZWFz<br>
ZSAwLjY3DQoNCiogVHVlIE9jdCAxNCAxOTk3IERhdmlkIE1vc2Jlcmdlci1U<br>
YW5nIDxEYXZpZC5Nb3NiZXJnZXJAYWNtLm9yZz4NCi0gUmVsZWFzZSAwLjY2<br>
DQoNCiogU2F0IE9jdCA0IDE5OTcgRGF2aWQgTW9zYmVyZ2VyLVRhbmcgPERh<br>
dmlkLk1vc2JlcmdlckBhY20ub3JnPg0KLSBSZWxlYXNlIDAuNjUNCg0KKiBX<br>
ZWQgU2VwIDI0IDE5OTcgRGF2aWQgTW9zYmVyZ2VyLVRhbmcgPERhdmlkLk1v<br>
c2JlcmdlckBhY20ub3JnPg0KLSBSZWxlYXNlIDAuNjQNCg0KKiBTYXQgU2Vw<br>
IDYgMTk5NyBEYXZpZCBNb3NiZXJnZXItVGFuZyA8RGF2aWQuTW9zYmVyZ2Vy<br>
QGFjbS5vcmc+DQotIFJlbGVhc2UgMC42Mw0KDQoqIFNhdCBKdWwgMjYgMTk5<br>
NyBEYXZpZCBNb3NiZXJnZXItVGFuZyA8ZGF2aWRtQGF6c3Rhcm5ldC5jb20+<br>
DQotIFJlbGVhc2UgMC42Mg0KDQoqIFRodSBKdWwgMTAgMTk5NyBEYXZpZCBN<br>
b3NiZXJnZXItVGFuZyA8ZGF2aWRtQGF6c3Rhcm5ldC5jb20+DQotIFJlbGVh<br>
c2UgMC42MQ0KDQoqIFNhdCBKdW4gMTQgMTk5NyBEYXZpZCBNb3NiZXJnZXIt<br>
VGFuZyA8ZGF2aWRtQGF6c3Rhcm5ldC5jb20+DQotIFJlbGVhc2UgMC42DQoN<br>
CiogU2F0IE1heSAxMCAxOTk3IERhdmlkIE1vc2Jlcmdlci1UYW5nIDxkYXZp<br>
ZG1AYXpzdGFybmV0LmNvbT4NCi0gUmVsZWFzZSAwLjU3DQoNCiogTW9uIEFw<br>
ciAyOCAxOTk3IERhdmlkIE1vc2Jlcmdlci1UYW5nIDxkYXZpZG1AYXpzdGFy<br>
bmV0LmNvbT4NCi0gUmVsZWFzZSAwLjU2DQoNCiogVHVlIEFwciAyMiAxOTk3<br>
IERhdmlkIE1vc2Jlcmdlci1UYW5nIDxkYXZpZG1AYXpzdGFybmV0LmNvbT4N<br>
Ci0gUmVsZWFzZSAwLjU1DQoNCiogU3VuIEFwciAyMCAxOTk3IERhdmlkIE1v<br>
c2Jlcmdlci1UYW5nIDxkYXZpZG1AYXpzdGFybmV0LmNvbT4NCi0gUmVsZWFz<br>
ZSAwLjU0DQoNCiVkZXNjcmlwdGlvbg0KU0FORSAoU2Nhbm5lciBBY2Nlc3Mg<br>
Tm93IEVhc3kpIGlzIGEgc2FuZSBhbmQgc2ltcGxlIGludGVyZmFjZSB0byBi<br>
b3RoDQpsb2NhbCBhbmQgbmV0d29ya2VkIHNjYW5uZXJzIGFuZCBvdGhlciBp<br>
bWFnZSBhY3F1aXNpdGlvbiBkZXZpY2VzIGxpa2UNCmRpZ2l0YWwgc3RpbGwg<br>
YW5kIHZpZGVvIGNhbWVyYXMuICBTQU5FIGN1cnJlbnRseSBpbmNsdWRlcyBt<br>
b2R1bGVzIGZvcg0KYWNjZXNzaW5nOg0KCVNjYW5uZXJzOg0KCQlBZ2ZhIFNu<br>
YXBTY2FuDQoJCUFwcGxlDQoJCUFydGVjDQoJCUNhbm9uDQoJCUNvb2xTY2Fu<br>
DQoJCUVwc29uDQoJCUhQDQoJCU1pY3JvdGVrDQoJCU11c3Rlaw0KCQlOaWtv<br>
bg0KCQlTaWVtZW5zDQoJCVRhbWFyYWNrDQoJCVVNQVgNCglPdGhlcnM6CQ0K<br>
CQlDb25uZWN0aXgNCgkJUXVpY2tDYW1zDQphbmQgb3RoZXIgU0FORSBkZXZp<br>
Y2VzIHZpYSBuZXR3b3JrLg0KDQpGb3IgdGhlIGxhdGVzdCBpbmZvcm1hdGlv<br>
biBvbiBTQU5FLCB0aGUgU0FORSBzdGFuZGFyZCBkZWZpbml0aW9uLCBhbmQN<br>
Cm1haWxpbmcgbGlzdCBhY2Nlc3MsIHNlZSBodHRwOi8vd3d3Lm1vc3Rhbmcu<br>
Y29tL3NhbmUvDQoNClRoaXMgcGFja2FnZSBkb2VzIG5vdCBlbmFibGUgbmV0<br>
d29yayBzY2FubmluZyBieSBkZWZhdWx0OyBpZiB5b3Ugd2lzaA0KdG8gZW5h<br>
YmxlIGl0LCByZWFkIHRoZSBzYW5lZCgxKSBtYW5wYWdlLg0KDQolcGFja2Fn<br>
ZSBkZXZlbA0KU3VtbWFyeTogU0FORSAoU2Nhbm5lciBBY2Nlc3MgTm93IEVh<br>
c3kpIGRldmVsb3BtZW50IHRvb2xraXQNCkdyb3VwOiBYMTEvQXBwbGljYXRp<br>
b25zL0dyYXBoaWNzDQolZGVzY3JpcHRpb24gZGV2ZWwNClN0YXRpYyBsaWJy<br>
YXJpZXMgYW5kIGhlYWRlciBmaWxlcyBmb3Igd3JpdGluZyBTQU5FIG1vZHVs<br>
ZXMuDQoNCiVwcmVwDQolc2V0dXANCiVwYXRjaCAtcDENCg0KJWJ1aWxkDQou<br>
L2NvbmZpZ3VyZSAtLXByZWZpeD0kUlBNX0JVSUxEX1JPT1QvdXNyIC0tc3lz<br>
Y29uZmRpcj0kUlBNX0JVSUxEX1JPT1QvZXRjDQptYWtlIENGTEFHUz0tTzIN<br>
CihjZCBkb2MNCiBtYWtlIGRvY3MNCikNCg0KJWluc3RhbGwNCnJtIC1yZiAk<br>
UlBNX0JVSUxEX1JPT1QvZXRjL3NhbmUuZA0KbWFrZSBpbnN0YWxsDQptdiAk<br>
UlBNX0JVSUxEX1JPT1QvdXNyL3NiaW4vc2FuZWQgJFJQTV9CVUlMRF9ST09U<br>
L3Vzci9zYmluL2luLnNhbmVkDQoNCiMgZml4IGxkY29uZmlnIGJyb2tlbm5l<br>
c3MuLi4NCihjZCAkUlBNX0JVSUxEX1JPT1QvdXNyL2xpYg0KIHJtIGxpYnNh<br>
bmUuc28uMA0KIGxuIC1zIGxpYnNhbmUuc28gbGlic2FuZS5zby4wDQogbG4g<br>
LXMgbGlic2FuZS1kbGwubGEgbGlic2FuZS5sYQ0KIHJtIGxpYnNhbmUtZGxs<br>
LnNvDQogbG4gLXMgbGlic2FuZS1kbGwuc28uMCBsaWJzYW5lLWRsbC5zbw0K<br>
IHJtIGxpYnNhbmUtYXBwbGUuc28NCiBsbiAtcyBsaWJzYW5lLWFwcGxlLnNv<br>
LjAgbGlic2FuZS1hcHBsZS5zbw0KIHJtIGxpYnNhbmUtY2Fub24uc28NCiBs<br>
biAtcyBsaWJzYW5lLWNhbm9uLnNvLjAgbGlic2FuZS1jYW5vbi5zbw0KIHJt<br>
IGxpYnNhbmUtY29vbHNjYW4uc28NCiBsbiAtcyBsaWJzYW5lLWNvb2xzY2Fu<br>
LnNvLjAgbGlic2FuZS1jb29sc2Nhbi5zbw0KIHJtIGxpYnNhbmUtZG1jLnNv<br>
DQogbG4gLXMgbGlic2FuZS1kbWMuc28uMCBsaWJzYW5lLWRtYy5zbw0KIHJt<br>
IGxpYnNhbmUtZXBzb24uc28NCiBsbiAtcyBsaWJzYW5lLWVwc29uLnNvLjAg<br>
bGlic2FuZS1lcHNvbi5zbw0KIHJtIGxpYnNhbmUtaHAuc28NCiBsbiAtcyBs<br>
aWJzYW5lLWhwLnNvLjAgbGlic2FuZS1ocC5zbw0KIHJtIGxpYnNhbmUtbWlj<br>
cm90ZWsuc28NCiBsbiAtcyBsaWJzYW5lLW1pY3JvdGVrLnNvLjAgbGlic2Fu<br>
ZS1taWNyb3Rlay5zbw0KIHJtIGxpYnNhbmUtbXVzdGVrLnNvDQogbG4gLXMg<br>
bGlic2FuZS1tdXN0ZWsuc28uMCBsaWJzYW5lLW11c3Rlay5zbw0KIHJtIGxp<br>
YnNhbmUtbmV0LnNvDQogbG4gLXMgbGlic2FuZS1uZXQuc28uMCBsaWJzYW5l<br>
LW5ldC5zbw0KIHJtIGxpYnNhbmUtcG5tLnNvDQogbG4gLXMgbGlic2FuZS1w<br>
bm0uc28uMCBsaWJzYW5lLXBubS5zbw0KIyBybSBsaWJzYW5lLXBpbnQuc28N<br>
CiMgbG4gLXMgbGlic2FuZS1waW50LnNvLjAgbGlic2FuZS1waW50LnNvDQog<br>
cm0gbGlic2FuZS1xY2FtLnNvDQogbG4gLXMgbGlic2FuZS1xY2FtLnNvLjAg<br>
bGlic2FuZS1xY2FtLnNvDQogcm0gbGlic2FuZS1zOTAzNi5zbw0KIGxuIC1z<br>
IGxpYnNhbmUtczkwMzYuc28uMCBsaWJzYW5lLXM5MDM2LnNvDQogcm0gbGli<br>
c2FuZS1zbmFwc2Nhbi5zbw0KIGxuIC1zIGxpYnNhbmUtc25hcHNjYW4uc28u<br>
MCBsaWJzYW5lLXNuYXBzY2FuLnNvDQogcm0gbGlic2FuZS10YW1hcmFjay5z<br>
bw0KIGxuIC1zIGxpYnNhbmUtdGFtYXJhY2suc28uMCBsaWJzYW5lLXRhbWFy<br>
YWNrLnNvDQogcm0gbGlic2FuZS11bWF4LnNvDQogbG4gLXMgbGlic2FuZS11<br>
bWF4LnNvLjAgbGlic2FuZS11bWF4LnNvDQopDQovc2Jpbi9sZGNvbmZpZyAk<br>
UlBNX0JVSUxEX1JPT1QvdXNyL2xpYg0KDQolcG9zdA0KL3NiaW4vbGRjb25m<br>
aWcNCiMgaWYgZ2ltcCBpcyBpbnN0YWxsZWQsIGluc3RhbGwgeHNjYW4gYXMg<br>
YW4gZXh0ZW5zaW9uIHdpdGggYSBzeW1saW5rDQojIFRoaXMgcHJvYmFibHkg<br>
d2FudHMgUlBNIHRyaWdnZXJzIHRvIHdvcmsgcmlnaHQuDQoNCiVmaWxlcw0K<br>
JWNvbmZpZyAvZXRjL3NhbmUuZC8qDQovdXNyL2Jpbi9zY2FuaW1hZ2UNCi91<br>
c3IvYmluL3hzY2FuaW1hZ2UNCi91c3IvYmluL3hjYW0NCi91c3Ivc2Jpbi9p<br>
bi5zYW5lZA0KL3Vzci9saWIvbGlic2FuZS1hcHBsZS5sYQ0KL3Vzci9saWIv<br>
bGlic2FuZS1hcHBsZS5zbw0KL3Vzci9saWIvbGlic2FuZS1hcHBsZS5zby4w<br>
LjAuNzINCi91c3IvbGliL2xpYnNhbmUtYXJ0ZWMubGENCi91c3IvbGliL2xp<br>
YnNhbmUtYXJ0ZWMuc28NCi91c3IvbGliL2xpYnNhbmUtYXJ0ZWMuc28uMC4w<br>
LjcyDQovdXNyL2xpYi9saWJzYW5lLWNhbm9uLmxhDQovdXNyL2xpYi9saWJz<br>
YW5lLWNhbm9uLnNvDQovdXNyL2xpYi9saWJzYW5lLWNhbm9uLnNvLjAuMC43<br>
Mg0KL3Vzci9saWIvbGlic2FuZS1jb29sc2Nhbi5sYQ0KL3Vzci9saWIvbGli<br>
c2FuZS1jb29sc2Nhbi5zbw0KL3Vzci9saWIvbGlic2FuZS1jb29sc2Nhbi5z<br>
by4wLjAuNzINCi91c3IvbGliL2xpYnNhbmUtZGxsLmxhDQovdXNyL2xpYi9s<br>
aWJzYW5lLWRsbC5zbw0KL3Vzci9saWIvbGlic2FuZS1kbGwuc28uMC4wLjcy<br>
DQovdXNyL2xpYi9saWJzYW5lLWRtYy5sYQ0KL3Vzci9saWIvbGlic2FuZS1k<br>
bWMuc28NCi91c3IvbGliL2xpYnNhbmUtZG1jLnNvLjAuMC43Mg0KL3Vzci9s<br>
aWIvbGlic2FuZS1lcHNvbi5sYQ0KL3Vzci9saWIvbGlic2FuZS1lcHNvbi5z<br>
bw0KL3Vzci9saWIvbGlic2FuZS1lcHNvbi5zby4wLjAuNzINCi91c3IvbGli<br>
L2xpYnNhbmUtaHAubGENCi91c3IvbGliL2xpYnNhbmUtaHAuc28NCi91c3Iv<br>
bGliL2xpYnNhbmUtaHAuc28uMC4wLjcyDQovdXNyL2xpYi9saWJzYW5lLW1p<br>
Y3JvdGVrLmxhDQovdXNyL2xpYi9saWJzYW5lLW1pY3JvdGVrLnNvDQovdXNy<br>
L2xpYi9saWJzYW5lLW1pY3JvdGVrLnNvLjAuMC43Mg0KL3Vzci9saWIvbGli<br>
c2FuZS1tdXN0ZWsubGENCi91c3IvbGliL2xpYnNhbmUtbXVzdGVrLnNvDQov<br>
dXNyL2xpYi9saWJzYW5lLW11c3Rlay5zby4wLjAuNzINCi91c3IvbGliL2xp<br>
YnNhbmUtbmV0LmxhDQovdXNyL2xpYi9saWJzYW5lLW5ldC5zbw0KL3Vzci9s<br>
aWIvbGlic2FuZS1uZXQuc28uMC4wLjcyDQovdXNyL2xpYi9saWJzYW5lLXBu<br>
bS5sYQ0KL3Vzci9saWIvbGlic2FuZS1wbm0uc28NCi91c3IvbGliL2xpYnNh<br>
bmUtcG5tLnNvLjAuMC43Mg0KIy91c3IvbGliL2xpYnNhbmUtcGludC5sYQ0K<br>
Iy91c3IvbGliL2xpYnNhbmUtcGludC5zbw0KIy91c3IvbGliL2xpYnNhbmUt<br>
cGludC5zby4wLjAuNzINCi91c3IvbGliL2xpYnNhbmUtcWNhbS5sYQ0KL3Vz<br>
ci9saWIvbGlic2FuZS1xY2FtLnNvDQovdXNyL2xpYi9saWJzYW5lLXFjYW0u<br>
c28uMC4wLjcyDQovdXNyL2xpYi9saWJzYW5lLXM5MDM2LmxhDQovdXNyL2xp<br>
Yi9saWJzYW5lLXM5MDM2LnNvDQovdXNyL2xpYi9saWJzYW5lLXM5MDM2LnNv<br>
LjAuMC43Mg0KL3Vzci9saWIvbGlic2FuZS1zbmFwc2Nhbi5sYQ0KL3Vzci9s<br>
aWIvbGlic2FuZS1zbmFwc2Nhbi5zbw0KL3Vzci9saWIvbGlic2FuZS1zbmFw<br>
c2Nhbi5zby4wLjAuNzINCi91c3IvbGliL2xpYnNhbmUtdGFtYXJhY2subGEN<br>
Ci91c3IvbGliL2xpYnNhbmUtdGFtYXJhY2suc28NCi91c3IvbGliL2xpYnNh<br>
bmUtdGFtYXJhY2suc28uMC4wLjcyDQovdXNyL2xpYi9saWJzYW5lLXVtYXgu<br>
bGENCi91c3IvbGliL2xpYnNhbmUtdW1heC5zbw0KL3Vzci9saWIvbGlic2Fu<br>
ZS11bWF4LnNvLjAuMC43Mg0KL3Vzci9saWIvbGlic2FuZS5sYQ0KL3Vzci9s<br>
aWIvbGlic2FuZS5zbw0KL3Vzci9saWIvbGlic2FuZS5zby4wLjAuNzINCi91<br>
c3Ivc2hhcmUvc2FuZS1zdHlsZS5yYw0KJWRvYyBSRUFETUUgQVVUSE9SUyBO<br>
RVdTIGRvYy8qLnBzIGRvYy9zYW5lIGRvYy9pY29ucw0KL3Vzci9tYW4vbWFu<br>
MS9zYW5lZC4xDQovdXNyL21hbi9tYW4xL3NjYW5pbWFnZS4xDQovdXNyL21h<br>
bi9tYW4xL3hzY2FuaW1hZ2UuMQ0KL3Vzci9tYW4vbWFuNS9zYW5lLWRsbC41<br>
DQovdXNyL21hbi9tYW41L3NhbmUtZXBzb24uNQ0KL3Vzci9tYW4vbWFuNS9z<br>
YW5lLWhwLjUNCi91c3IvbWFuL21hbjUvc2FuZS1taWNyb3Rlay41DQovdXNy<br>
L21hbi9tYW41L3NhbmUtbXVzdGVrLjUNCi91c3IvbWFuL21hbjUvc2FuZS1u<br>
ZXQuNQ0KL3Vzci9tYW4vbWFuNS9zYW5lLXBpbnQuNQ0KL3Vzci9tYW4vbWFu<br>
NS9zYW5lLXBubS41DQovdXNyL21hbi9tYW41L3NhbmUtcWNhbS41DQovdXNy<br>
L21hbi9tYW41L3NhbmUtc2NzaS41DQovdXNyL21hbi9tYW41L3NhbmUtdW1h<br>
eC41DQoNCiVmaWxlcyBkZXZlbA0KL3Vzci9pbmNsdWRlL3NhbmUNCi91c3Iv<br>
bGliL2xpYnNhbmUtZGxsLmENCi91c3IvbGliL2xpYnNhbmUtYXBwbGUuYQ0K<br>
L3Vzci9saWIvbGlic2FuZS1jYW5vbi5hDQovdXNyL2xpYi9saWJzYW5lLWNv<br>
b2xzY2FuLmENCi91c3IvbGliL2xpYnNhbmUtZG1jLmENCi91c3IvbGliL2xp<br>
YnNhbmUtZXBzb24uYQ0KL3Vzci9saWIvbGlic2FuZS1ocC5hDQovdXNyL2xp<br>
Yi9saWJzYW5lLW1pY3JvdGVrLmENCi91c3IvbGliL2xpYnNhbmUtbXVzdGVr<br>
LmENCi91c3IvbGliL2xpYnNhbmUtbmV0LmENCi91c3IvbGliL2xpYnNhbmUt<br>
cG5tLmENCiMvdXNyL2xpYi9saWJzYW5lLXBpbnQuYQ0KL3Vzci9saWIvbGli<br>
c2FuZS1xY2FtLmENCi91c3IvbGliL2xpYnNhbmUtczkwMzYuYQ0KL3Vzci9s<br>
aWIvbGlic2FuZS1zbmFwc2Nhbi5hDQovdXNyL2xpYi9saWJzYW5lLXRhbWFy<br>
YWNrLmENCi91c3IvbGliL2xpYnNhbmUtdW1heC5hDQovdXNyL2xpYi9saWJz<br>
YW5lLmENCg==<br>
---1463811839-710362789-893277962=:3125<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII; name="sane-BuildRootFix.patch"<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.3.96.980422224602.3125B@hvdkooij">Pine.LNX.3.96.980422224602.3125B@hvdkooij</a>&gt;<br>
Content-Description: sane-BuildRootFix.patch<br>
<p>
LS0tIHNhbmUtMC43Mi9zdWJzdHJpbmcuYXdrLmRpc3QJV2VkIEFwciAyMiAy<br>
MTozMDoxMSAxOTk4DQorKysgc2FuZS0wLjcyL3N1YnN0cmluZy5hd2sJV2Vk<br>
IEFwciAyMiAyMTozNTo1NiAxOTk4DQpAQCAtMCwwICsxLDkgQEANCit7DQor<br>
CUJVSUxEUk9PVCA9ICQxOw0KKwlQUkVGSVggPSAkMjsNCisJS05JUCA9IGxl<br>
bmd0aChCVUlMRFJPT1QpOw0KKwlVSVRWT0VSID0gc3Vic3RyKFBSRUZJWCxL<br>
TklQKzEpDQorfTsNCitFTkQgew0KKwlwcmludCBVSVRWT0VSDQorfQ0KLS0t<br>
IHNhbmUtMC43Mi9mcm9udGVuZC9NYWtlZmlsZS5pbi5kaXN0CVdlZCBOb3Yg<br>
IDUgMDg6MzY6NDcgMTk5Nw0KKysrIHNhbmUtMC43Mi9mcm9udGVuZC9NYWtl<br>
ZmlsZS5pbglXZWQgQXByIDIyIDIyOjIyOjE4IDE5OTgNCkBAIC0xMSwxNSAr<br>
MTEsMTggQEANCiBzYmluZGlyID0gQHNiaW5kaXJADQogbGliZXhlY2RpciA9<br>
IEBsaWJleGVjZGlyQA0KIGRhdGFkaXIgPSBAZGF0YWRpckANCitkYXRhZGly<br>
MiA9ICQoc2hlbGwgZWNobyAiJChSUE1fQlVJTERfUk9PVCkgJChkYXRhZGly<br>
KSJ8Z2F3ayAtZiBzdWJzdHJpbmcuYXdrKQ0KIHN5c2NvbmZkaXIgPSBAc3lz<br>
Y29uZmRpckANCiBzaGFyZWRzdGF0ZWRpciA9IEBzaGFyZWRzdGF0ZWRpckAN<br>
CiBsb2NhbHN0YXRlZGlyID0gQGxvY2Fsc3RhdGVkaXJADQogbGliZGlyID0g<br>
QGxpYmRpckANCitsaWJkaXIyID0gJChzaGVsbCBlY2hvICIkKFJQTV9CVUlM<br>
RF9ST09UKSAkKGxpYmRpcikifGdhd2sgLWYgc3Vic3RyaW5nLmF3aykNCiBp<br>
bmZvZGlyID0gQGluZm9kaXJADQogbWFuZGlyID0gQG1hbmRpckANCiBpbmNs<br>
dWRlZGlyID0gQGluY2x1ZGVkaXJADQogb2xkaW5jbHVkZWRpciA9IC91c3Iv<br>
aW5jbHVkZQ0KIGNvbmZpZ2RpciA9ICR7c3lzY29uZmRpcn0vc2FuZS5kDQor<br>
Y29uZmlnZGlyMiA9ICQoc2hlbGwgZWNobyAiJChSUE1fQlVJTERfUk9PVCkg<br>
JChjb25maWdkaXIpInxnYXdrIC1mIHN1YnN0cmluZy5hd2spDQogDQogTUtE<br>
SVIgPSAkKHRvcF9zcmNkaXIpL21raW5zdGFsbGRpcnMNCiBJTlNUQUxMID0g<br>
QElOU1RBTExADQotLS0gc2FuZS0wLjcyL2RvYy9NYWtlZmlsZS5pbi5kaXN0<br>
CVNhdCBBcHIgIDQgMDY6MzQ6MTYgMTk5OA0KKysrIHNhbmUtMC43Mi9kb2Mv<br>
TWFrZWZpbGUuaW4JV2VkIEFwciAyMiAyMTo1NDo1OSAxOTk4DQpAQCAtOCwx<br>
OCArOCwyMyBAQA0KIHByZWZpeCA9IEBwcmVmaXhADQogZXhlY19wcmVmaXgg<br>
PSBAZXhlY19wcmVmaXhADQogYmluZGlyID0gQGJpbmRpckANCitiaW5kaXIy<br>
ID0gJChzaGVsbCBlY2hvICIkKFJQTV9CVUlMRF9ST09UKSAkKGJpbmRpciki<br>
fGdhd2sgLWYgLi4vc3Vic3RyaW5nLmF3aykNCiBzYmluZGlyID0gQHNiaW5k<br>
aXJADQorc2JpbmRpcjIgPSAkKHNoZWxsIGVjaG8gIiQoUlBNX0JVSUxEX1JP<br>
T1QpICQoc2JpbmRpcikifGdhd2sgLWYgLi4vc3Vic3RyaW5nLmF3aykNCiBs<br>
aWJleGVjZGlyID0gQGxpYmV4ZWNkaXJADQogZGF0YWRpciA9IEBkYXRhZGly<br>
QA0KK2RhdGFkaXIyID0gJChzaGVsbCBlY2hvICIkKFJQTV9CVUlMRF9ST09U<br>
KSAkKGRhdGFkaXIpInxnYXdrIC1mIC4uL3N1YnN0cmluZy5hd2spDQogc3lz<br>
Y29uZmRpciA9IEBzeXNjb25mZGlyQA0KIHNoYXJlZHN0YXRlZGlyID0gQHNo<br>
YXJlZHN0YXRlZGlyQA0KIGxvY2Fsc3RhdGVkaXIgPSBAbG9jYWxzdGF0ZWRp<br>
ckANCiBsaWJkaXIgPSBAbGliZGlyQA0KK2xpYmRpcjIgPSAkKHNoZWxsIGVj<br>
aG8gIiQoUlBNX0JVSUxEX1JPT1QpICQobGliZGlyKSJ8Z2F3ayAtZiAuLi9z<br>
dWJzdHJpbmcuYXdrKQ0KIGluZm9kaXIgPSBAaW5mb2RpckANCiBtYW5kaXIg<br>
PSBAbWFuZGlyQA0KIGluY2x1ZGVkaXIgPSBAaW5jbHVkZWRpckANCiBvbGRp<br>
bmNsdWRlZGlyID0gL3Vzci9pbmNsdWRlDQogY29uZmlnZGlyID0gJHtzeXNj<br>
b25mZGlyfS9zYW5lLmQNCitjb25maWdkaXIyID0gJChzaGVsbCBlY2hvICIk<br>
KFJQTV9CVUlMRF9ST09UKSAkKGNvbmZpZ2RpcikifGdhd2sgLWYgLi4vc3Vi<br>
c3RyaW5nLmF3aykNCiANCiBNS0RJUiA9ICQodG9wX3NyY2RpcikvbWtpbnN0<br>
YWxsZGlycw0KIElOU1RBTEwgPSBASU5TVEFMTEANCkBAIC0zOSwxMSArNDQs<br>
MTEgQEANCiBhbGw6ICQoTUFOUEFHRVMpDQogDQogJS4xICUuNTogJS5tYW4N<br>
Ci0Jc2VkIC1lICdzfEBEQVRBRElSQHwkKGRhdGFkaXIpfGcnIFwNCi0JICAg<br>
IC1lICdzfEBDT05GSUdESVJAfCQoY29uZmlnZGlyKXxnJyBcDQotCSAgICAt<br>
ZSAnc3xATElCRElSQHwkKGxpYmRpcil8ZycgXA0KLQkgICAgLWUgJ3N8QEJJ<br>
TkRJUkB8JChiaW5kaXIpfGcnIFwNCi0JICAgIC1lICdzfEBTQklORElSQHwk<br>
KHNiaW5kaXIpfGcnICReID4kQA0KKwlzZWQgLWUgJ3N8QERBVEFESVJAfCQo<br>
ZGF0YWRpcjIpfGcnIFwNCisJICAgIC1lICdzfEBDT05GSUdESVJAfCQoY29u<br>
ZmlnZGlyMil8ZycgXA0KKwkgICAgLWUgJ3N8QExJQkRJUkB8JChsaWJkaXIy<br>
KXxnJyBcDQorCSAgICAtZSAnc3xAQklORElSQHwkKGJpbmRpcjIpfGcnIFwN<br>
CisJICAgIC1lICdzfEBTQklORElSQHwkKHNiaW5kaXIyKXxnJyAkXiA+JEAN<br>
CiANCiBpbnN0YWxsOiAkKE1BTlBBR0VTKQ0KIAkkKE1LRElSKSAkKG1hbmRp<br>
cikvbWFuMSAkKG1hbmRpcikvbWFuNQ0KLS0tIHNhbmUtMC43Mi9iYWNrZW5k<br>
L01ha2VmaWxlLmluLmRpc3QJU2F0IEFwciAgNCAwNjo0OToyNCAxOTk4DQor<br>
Kysgc2FuZS0wLjcyL2JhY2tlbmQvTWFrZWZpbGUuaW4JV2VkIEFwciAyMiAy<br>
MjoxNTo0MCAxOTk4DQpAQCAtMTEsMTUgKzExLDE4IEBADQogc2JpbmRpciA9<br>
IEBzYmluZGlyQA0KIGxpYmV4ZWNkaXIgPSBAbGliZXhlY2RpckANCiBkYXRh<br>
ZGlyID0gQGRhdGFkaXJADQorZGF0YWRpcjIgPSAkKHNoZWxsIGVjaG8gIiQo<br>
UlBNX0JVSUxEX1JPT1QpICQoZGF0YWRpcikifGdhd2sgLWYgLi4vc3Vic3Ry<br>
aW5nLmF3aykNCiBzeXNjb25mZGlyID0gQHN5c2NvbmZkaXJADQogc2hhcmVk<br>
c3RhdGVkaXIgPSBAc2hhcmVkc3RhdGVkaXJADQogbG9jYWxzdGF0ZWRpciA9<br>
IEBsb2NhbHN0YXRlZGlyQA0KIGxpYmRpciA9IEBsaWJkaXJADQorbGliZGly<br>
MiA9ICQoc2hlbGwgZWNobyAiJChSUE1fQlVJTERfUk9PVCkgJChsaWJkaXIp<br>
InxnYXdrIC1mIC4uL3N1YnN0cmluZy5hd2spDQogaW5mb2RpciA9IEBpbmZv<br>
ZGlyQA0KIG1hbmRpciA9IEBtYW5kaXJADQogaW5jbHVkZWRpciA9IEBpbmNs<br>
dWRlZGlyQA0KIG9sZGluY2x1ZGVkaXIgPSAvdXNyL2luY2x1ZGUNCiBjb25m<br>
aWdkaXIgPSAke3N5c2NvbmZkaXJ9L3NhbmUuZA0KK2NvbmZpZ2RpcjIgPSAk<br>
KHNoZWxsIGVjaG8gIiQoUlBNX0JVSUxEX1JPT1QpICQoY29uZmlnZGlyKSJ8<br>
Z2F3ayAtZiAuLi9zdWJzdHJpbmcuYXdrKQ0KIA0KIFZfTUFKT1IgPSBAVl9N<br>
QUpPUkANCiBWX01JTk9SID0gQFZfTUlOT1JADQpAQCAtNjUsMTMgKzY4LDEz<br>
IEBADQogDQogbGlic2FuZS0lLmxhOiAlLmxvICUtcy5sbyAkKEVYVFJBKSAk<br>
KExJQk9CSlMpDQogCUAkKExJQlRPT0wpICQoTUxJTkspICQoQ0MpIC1leHBv<br>
cnQtZHluYW1pYyAtbyAkQCAkKExERkxBR1MpICReIFwNCi0JCS1ycGF0aCAk<br>
KGxpYmRpcikgLXZlcnNpb24taW5mbyAkKFZfTUFKT1IpOiQoVl9NSU5PUik6<br>
MA0KKwkJLXJwYXRoICQobGliZGlyMikgLXZlcnNpb24taW5mbyAkKFZfTUFK<br>
T1IpOiQoVl9NSU5PUik6MA0KIA0KICUtcy5sbzoJJS1zLmMNCiAJQCQoTElC<br>
VE9PTCkgJChNQ09NUCkgJChDT01QSUxFKSAtRFNUVUJTIC1EQkFDS0VORF9O<br>
QU1FPSQqICQ8DQogDQogJS5sbzoJJS5jDQotCUAkKExJQlRPT0wpICQoTUNP<br>
TVApICQoQ09NUElMRSkgLURCQUNLRU5EX05BTUU9JCogLURMSUJESVI9JChs<br>
aWJkaXIpICQ8DQorCUAkKExJQlRPT0wpICQoTUNPTVApICQoQ09NUElMRSkg<br>
LURCQUNLRU5EX05BTUU9JCogLURMSUJESVI9JChsaWJkaXIyKSAkPA0KIA0K<br>
ICUtcy5jOgkkKHNyY2Rpcikvc3R1YnMuYw0KIAlybSAtZiAkQA0KLS0tIHNh<br>
bmUtMC43Mi9zYW5laS9NYWtlZmlsZS5pbi5kaXN0CVNhdCBBcHIgIDQgMDY6<br>
NDg6MTYgMTk5OA0KKysrIHNhbmUtMC43Mi9zYW5laS9NYWtlZmlsZS5pbglX<br>
ZWQgQXByIDIyIDIxOjU0OjU5IDE5OTgNCkBAIC0xMSw2ICsxMSw3IEBADQog<br>
c2JpbmRpciA9IEBzYmluZGlyQA0KIGxpYmV4ZWNkaXIgPSBAbGliZXhlY2Rp<br>
ckANCiBkYXRhZGlyID0gQGRhdGFkaXJADQorZGF0YWRpcjIgPSAkKHNoZWxs<br>
IGVjaG8gIiQoUlBNX0JVSUxEX1JPT1QpICQoZGF0YWRpcikifGdhd2sgLWYg<br>
Li4vc3Vic3RyaW5nLmF3aykNCiBzeXNjb25mZGlyID0gQHN5c2NvbmZkaXJA<br>
DQogc2hhcmVkc3RhdGVkaXIgPSBAc2hhcmVkc3RhdGVkaXJADQogbG9jYWxz<br>
dGF0ZWRpciA9IEBsb2NhbHN0YXRlZGlyQA0KQEAgLTIwLDYgKzIxLDcgQEAN<br>
CiBpbmNsdWRlZGlyID0gQGluY2x1ZGVkaXJADQogb2xkaW5jbHVkZWRpciA9<br>
IC91c3IvaW5jbHVkZQ0KIGNvbmZpZ2RpciA9ICR7c3lzY29uZmRpcn0vc2Fu<br>
ZS5kDQorY29uZmlnZGlyMiA9ICQoc2hlbGwgZWNobyAiJChSUE1fQlVJTERf<br>
Uk9PVCkgJChjb25maWdkaXIpInxnYXdrIC1mIC4uL3N1YnN0cmluZy5hd2sp<br>
DQogDQogSU5TVEFMTCA9IEBJTlNUQUxMQA0KIElOU1RBTExfUFJPR1JBTSA9<br>
IEBJTlNUQUxMX1BST0dSQU1ADQotLS0gc2FuZS0wLjcyL2NvbmZpZ3VyZS5p<br>
bi5kaXN0CVN1biBBcHIgIDUgMDE6NTM6MzcgMTk5OA0KKysrIHNhbmUtMC43<br>
Mi9jb25maWd1cmUuaW4JV2VkIEFwciAyMiAyMTo1NDo1OSAxOTk4DQpAQCAt<br>
MTU0LDggKzE1NCw4IEBADQogQUNfU1VCU1QoTElCWDExKQ0KIEFDX1NVQlNU<br>
KExJQkdUSykNCiBBQ19TVUJTVChMSUJHSU1QKQ0KLUNQUEZMQUdTPSIke0NQ<br>
UEZMQUdTfSAtRFBBVEhfU0FORV9DT05GSUdfRElSPVwkKGNvbmZpZ2Rpcikg<br>
XA0KLQkgIC1EUEFUSF9TQU5FX0RBVEFfRElSPVwkKGRhdGFkaXIpIFwNCitD<br>
UFBGTEFHUz0iJHtDUFBGTEFHU30gLURQQVRIX1NBTkVfQ09ORklHX0RJUj1c<br>
JChjb25maWdkaXIyKSBcDQorCSAgLURQQVRIX1NBTkVfREFUQV9ESVI9XCQo<br>
ZGF0YWRpcjIpIFwNCiAJICAtRFZfTUFKT1I9JHtWX01BSk9SfSAtRFZfTUlO<br>
T1I9JHtWX01JTk9SfSINCiANCiBpZiB0ZXN0ICIke2FjX2N2X2hlYWRlcl9z<br>
eXNfc2NhbmlvX2h9IiA9ICJubyI7IHRoZW4NCi0tLSBzYW5lLTAuNzIvbGli<br>
L01ha2VmaWxlLmluLmRpc3QJVHVlIEp1bCAgOCAwNTo0NToxMiAxOTk3DQor<br>
Kysgc2FuZS0wLjcyL2xpYi9NYWtlZmlsZS5pbglXZWQgQXByIDIyIDIxOjU0<br>
OjU5IDE5OTgNCkBAIC0xMSw2ICsxMSw3IEBADQogc2JpbmRpciA9IEBzYmlu<br>
ZGlyQA0KIGxpYmV4ZWNkaXIgPSBAbGliZXhlY2RpckANCiBkYXRhZGlyID0g<br>
QGRhdGFkaXJADQorZGF0YWRpcjIgPSAkKHNoZWxsIGVjaG8gIiQoUlBNX0JV<br>
SUxEX1JPT1QpICQoZGF0YWRpcikifGdhd2sgLWYgLi4vc3Vic3RyaW5nLmF3<br>
aykNCiBzeXNjb25mZGlyID0gQHN5c2NvbmZkaXJADQogc2hhcmVkc3RhdGVk<br>
aXIgPSBAc2hhcmVkc3RhdGVkaXJADQogbG9jYWxzdGF0ZWRpciA9IEBsb2Nh<br>
bHN0YXRlZGlyQA0KQEAgLTIwLDYgKzIxLDcgQEANCiBpbmNsdWRlZGlyID0g<br>
QGluY2x1ZGVkaXJADQogb2xkaW5jbHVkZWRpciA9IC91c3IvaW5jbHVkZQ0K<br>
IGNvbmZpZ2RpciA9ICR7c3lzY29uZmRpcn0vc2FuZS5kDQorY29uZmlnZGly<br>
MiA9ICQoc2hlbGwgZWNobyAiJChSUE1fQlVJTERfUk9PVCkgJChjb25maWdk<br>
aXIpInxnYXdrIC1mIC4uL3N1YnN0cmluZy5hd2spDQogDQogSU5TVEFMTCA9<br>
IEBJTlNUQUxMQA0KIElOU1RBTExfUFJPR1JBTSA9IEBJTlNUQUxMX1BST0dS<br>
QU1ADQotLS0gc2FuZS0wLjcyL3Rvb2xzL01ha2VmaWxlLmluLmRpc3QJVHVl<br>
IE1hciAgMyAwMzo0OToyNyAxOTk4DQorKysgc2FuZS0wLjcyL3Rvb2xzL01h<br>
a2VmaWxlLmluCVdlZCBBcHIgMjIgMjI6MTg6NDkgMTk5OA0KQEAgLTExLDE1<br>
ICsxMSwxOCBAQA0KIHNiaW5kaXIgPSBAc2JpbmRpckANCiBsaWJleGVjZGly<br>
ID0gQGxpYmV4ZWNkaXJADQogZGF0YWRpciA9IEBkYXRhZGlyQA0KK2RhdGFk<br>
aXIyID0gJChzaGVsbCBlY2hvICIkKFJQTV9CVUlMRF9ST09UKSAkKGRhdGFk<br>
aXIpInxnYXdrIC1mIC4uL3N1YnN0cmluZy5hd2spDQogc3lzY29uZmRpciA9<br>
IEBzeXNjb25mZGlyQA0KIHNoYXJlZHN0YXRlZGlyID0gQHNoYXJlZHN0YXRl<br>
ZGlyQA0KIGxvY2Fsc3RhdGVkaXIgPSBAbG9jYWxzdGF0ZWRpckANCiBsaWJk<br>
aXIgPSBAbGliZGlyQA0KK2xpYmRpcjIgPSAkKHNoZWxsIGVjaG8gIiQoUlBN<br>
X0JVSUxEX1JPT1QpICQobGliZGlyKSJ8Z2F3ayAtZiAuLi9zdWJzdHJpbmcu<br>
YXdrKQ0KIGluZm9kaXIgPSBAaW5mb2RpckANCiBtYW5kaXIgPSBAbWFuZGly<br>
QA0KIGluY2x1ZGVkaXIgPSBAaW5jbHVkZWRpckANCiBvbGRpbmNsdWRlZGly<br>
ID0gL3Vzci9pbmNsdWRlDQogY29uZmlnZGlyID0gJHtzeXNjb25mZGlyfS9z<br>
YW5lLmQNCitjb25maWdkaXIyID0gJChzaGVsbCBlY2hvICIkKFJQTV9CVUlM<br>
RF9ST09UKSAkKGNvbmZpZ2RpcikifGdhd2sgLWYgLi4vc3Vic3RyaW5nLmF3<br>
aykNCiANCiBNS0RJUiA9ICQodG9wX3NyY2RpcikvbWtpbnN0YWxsZGlycw0K<br>
IElOU1RBTEwgPSBASU5TVEFMTEANCkBAIC01OCw3ICs2MSw3IEBADQogCSQo<br>
Q09NUElMRSkgJDwNCiANCiAlLmxvOgklLmMNCi0JQCQoTElCVE9PTCkgJChN<br>
Q09NUCkgJChDT01QSUxFKSAtRExJQkRJUj0kKGxpYmRpcikgJDwNCisJQCQo<br>
TElCVE9PTCkgJChNQ09NUCkgJChDT01QSUxFKSAtRExJQkRJUj0kKGxpYmRp<br>
cjIpICQ8DQogDQogYWxsOgkkKERFU1RJTkFUSU9OUykNCiANCg==<br>
---1463811839-710362789-893277962=:3125--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">Philip Balister: "UMAX 1200S"</a>
<li> <b>Previous message:</b> <a href="0244.html">Ben Bullock: "gnu licence quibble"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
