<!-- received="Wed Apr 22 18:43:39 1998 PDT" -->
<!-- sent="Wed, 22 Apr 1998 21:45:59 -0400" -->
<!-- name="Peter JD Hall" -->
<!-- email="phall@ilap.com" -->
<!-- subject="Re: Sane compilation ate my ram!" -->
<!-- id="" -->
<!-- inreplyto="Sane compilation ate my ram!" -->
<title>sane-devel: Re: Sane compilation ate my ram!</title>
<h1>Re: Sane compilation ate my ram!</h1>
<b>Peter JD Hall</b> (<a href="mailto:phall@ilap.com"><i>phall@ilap.com</i></a>)<br>
<i>Wed, 22 Apr 1998 21:45:59 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#247">[ date ]</a><a href="index.html#247">[ thread ]</a><a href="subject.html#247">[ subject ]</a><a href="author.html#247">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">Michael Hanf: "Color Problems with Mustek 12000SP"</a>
<li> <b>Previous message:</b> <a href="0246.html">Philip Balister: "UMAX 1200S"</a>
<li> <b>Maybe in reply to:</b> <a href="0229.html">Jim Ford: "Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0255.html">Jim Ford: "Re: Sane compilation ate my ram!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Raymond A. Ingles wrote:<br>
<p>
<i>&gt; On Tue, 21 Apr 1998, Jim Ford wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; I've just ordered a scanner and decided in the meantime to install the</i><br>
<i>&gt; &gt; software. I grabbed the latest Sane package  (0.72) and have tried</i><br>
<i>&gt; &gt; compiling it.  It first ate my 64 meg of ram and then when that ran out,</i><br>
<i>&gt; &gt; started snacking on my swap partition. When _that_ ran out, it burped</i><br>
<i>&gt; &gt; and announced "virtual memory exhausted"  (in line 3686 of compiling</i><br>
<i>&gt; &gt; umax.c)!</i><br>
<i>&gt;</i><br>
<i>&gt;  The output of "free", "vmstat", and/or "procinfo" during this process</i><br>
<i>&gt; would be helpful. These would help narrow down what process is eating</i><br>
<i>&gt; the memory, at least.</i><br>
<i>&gt;</i><br>
<i>&gt;  Sincerely,</i><br>
<i>&gt;</i><br>
<i>&gt;  Ray Ingles       (248) 377-7735       <a href="mailto:ray.ingles@fanucrobotics.com">ray.ingles@fanucrobotics.com</a></i><br>
<i>&gt;</i><br>
<i>&gt;                  Two rules for success in life:</i><br>
<i>&gt;            1. Don't tell people everything you know.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Hi Jim,    If you turn down the optimization when you compile under Slackware<br>
ie &lt;CFLAGS-g01 ./configure&gt; .  It appears to compile OK.<br>
      This was thanks to Paul Legato.<br>
Cheers,<br>
Peter Hall<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">Michael Hanf: "Color Problems with Mustek 12000SP"</a>
<li> <b>Previous message:</b> <a href="0246.html">Philip Balister: "UMAX 1200S"</a>
<li> <b>Maybe in reply to:</b> <a href="0229.html">Jim Ford: "Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0255.html">Jim Ford: "Re: Sane compilation ate my ram!"</a>
<!-- reply="end" -->
</ul>
