<!-- received="Thu Apr 23 23:20:31 1998 PDT" -->
<!-- sent="Fri, 24 Apr 1998 08:19:35 +0200" -->
<!-- name="Michael Hanf" -->
<!-- email="Michael_Hanf@KirchGruppe.DE" -->
<!-- subject="Re: Color Problems with Mustek 12000SP" -->
<!-- id="" -->
<!-- inreplyto="Color Problems with Mustek 12000SP" -->
<title>sane-devel: Re: Color Problems with Mustek 12000SP</title>
<h1>Re: Color Problems with Mustek 12000SP</h1>
<b>Michael Hanf</b> (<a href="mailto:Michael_Hanf@KirchGruppe.DE"><i>Michael_Hanf@KirchGruppe.DE</i></a>)<br>
<i>Fri, 24 Apr 1998 08:19:35 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#256">[ date ]</a><a href="index.html#256">[ thread ]</a><a href="subject.html#256">[ subject ]</a><a href="author.html#256">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0257.html">Peter Biechele: "Mustek 1200SP V1.02 with Color ?"</a>
<li> <b>Previous message:</b> <a href="0255.html">Jim Ford: "Re: Sane compilation ate my ram!"</a>
<li> <b>Maybe in reply to:</b> <a href="0248.html">Michael Hanf: "Color Problems with Mustek 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; I've got a Mustek Paragon 12000SP (V1.07) with an AHA2940 and have some </i><br>
<i>&gt; &gt; problems to get an acceptable color scan. It looks like if there's an offset</i><br>
<i>&gt; &gt; between the red, green and blue scanline.</i><br>
<i>&gt; &gt; The funny thing is, that it worked at the beginning. </i><br>
<i>&gt; </i><br>
<i>&gt; Perhaps you turned off (or on) the linedistance-fix in</i><br>
<i>&gt; /usr/local/etc/sane.d/mustek.conf (or whereever you store this file).</i><br>
<i>&gt; Try this (or comment it out if it's there):</i><br>
<i>&gt; </i><br>
<i>&gt; option  linedistance-fix</i><br>
<i>&gt; </i><br>
<i>&gt; after your scanner entry (/dev/scanner or whatever)</i><br>
<p>
I tried it with and without the linedistance-fix the result is always the same.<br>
<p>
<p>
Michael<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0257.html">Peter Biechele: "Mustek 1200SP V1.02 with Color ?"</a>
<li> <b>Previous message:</b> <a href="0255.html">Jim Ford: "Re: Sane compilation ate my ram!"</a>
<li> <b>Maybe in reply to:</b> <a href="0248.html">Michael Hanf: "Color Problems with Mustek 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
