<!-- received="Fri Apr 24 10:15:09 1998 PDT" -->
<!-- sent="Fri, 24 Apr 1998 10:15:05 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Can't get SANE to compile on SGI" -->
<!-- id="199804241715.KAA02202@panda.mostang.com" -->
<!-- inreplyto="9804241231.ZM23433@mneme.vigyan.com" -->
<title>sane-devel: Re: Can't get SANE to compile on SGI</title>
<h1>Re: Can't get SANE to compile on SGI</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 24 Apr 1998 10:15:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#260">[ date ]</a><a href="index.html#260">[ thread ]</a><a href="subject.html#260">[ subject ]</a><a href="author.html#260">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0261.html">Joerg Eggeling: "Re: Compile error in sane"</a>
<li> <b>Previous message:</b> <a href="0259.html">Brent L. Bates: "Can't get SANE to compile on SGI"</a>
<li> <b>In reply to:</b> <a href="0259.html">Brent L. Bates: "Can't get SANE to compile on SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 24 Apr 1998 12:31:28 -0400, "Brent L. Bates" &lt;<a href="mailto:blbates@vigyan.com">blbates@vigyan.com</a>&gt; said:</i><br>
<p>
  Brent&gt;    I've been trying to compile SANE (tried both versions 0.71<br>
  Brent&gt; &amp; 0.72) on a SGI running IRIX 6.2 and the make file in the<br>
  Brent&gt; `backend' directory is screwed up and will not let me finish.<br>
  Brent&gt; The error message I'm getting is:<br>
<p>
Others might argue that the IRIX make is screwed up.<br>
<p>
Just use GNU make and you should be all set (the README does say this,<br>
incidentally).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0261.html">Joerg Eggeling: "Re: Compile error in sane"</a>
<li> <b>Previous message:</b> <a href="0259.html">Brent L. Bates: "Can't get SANE to compile on SGI"</a>
<li> <b>In reply to:</b> <a href="0259.html">Brent L. Bates: "Can't get SANE to compile on SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
