<!-- received="Wed Apr 29 13:25:26 1998 PDT" -->
<!-- sent="Wed, 29 Apr 1998 12:24:34 -0800" -->
<!-- name="Slana" -->
<!-- email="suslosit@ptialaska.net" -->
<!-- subject="Re: problems with xscanimage" -->
<!-- id="" -->
<!-- inreplyto="problems with xscanimage" -->
<title>sane-devel: Re: problems with xscanimage</title>
<h1>Re: problems with xscanimage</h1>
<b>Slana</b> (<a href="mailto:suslosit@ptialaska.net"><i>suslosit@ptialaska.net</i></a>)<br>
<i>Wed, 29 Apr 1998 12:24:34 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#310">[ date ]</a><a href="index.html#310">[ thread ]</a><a href="subject.html#310">[ subject ]</a><a href="author.html#310">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0311.html">Matto Marjanovic: "Re: problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0309.html">ipt: "do you really have anything ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am afraid I have gotten lost in following the discussion.<br>
<p>
Who does this "bug" effect?  Will the average user non-developer be<br>
affected in their day-to-day use of SANE, GIMP, gtk* ?<br>
<p>
Thanks for any positive feedback to this .<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0311.html">Matto Marjanovic: "Re: problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0309.html">ipt: "do you really have anything ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
