<!-- received="Sat Dec 14 08:22:52 1996 MST" -->
<!-- sent="Sat, 14 Dec 1996 10:26:10 -0500 (EST)" -->
<!-- name="Erik Troan" -->
<!-- email="ewt@redhat.com" -->
<!-- subject="Re: sane-0.3: it's almost for real now!" -->
<!-- id="199612140421.VAA19413@panda.mosberger" -->
<!-- inreplyto="199612140421.VAA19413@panda.mosberger" -->
<title>sane-devel: Re: sane-0.3: it's almost for real now!</title>
<h1>Re: sane-0.3: it's almost for real now!</h1>
<b>Erik Troan</b> (<a href="mailto:ewt@redhat.com"><i>ewt@redhat.com</i></a>)<br>
<i>Sat, 14 Dec 1996 10:26:10 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">David Mosberger-Tang: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.3: it's almost for real now!"</a>
<li> <b>In reply to:</b> <a href="0004.html">Erik Troan: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Reply:</b> <a href="0004.html">Erik Troan: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Reply:</b> <a href="0010.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 13 Dec 1996, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; plug in.  I wasn't sure what the right thing to do is here.  Oh, I</i><br>
<i>&gt; also renamed the program from sanescan to xscan---I don't think that</i><br>
<i>&gt; name is taken yet, so why not?  But if you don't like it, just give a</i><br>
<i>&gt; holler.</i><br>
<p>
/pub/Linux/apps/graphics/scanners/xscan-1.1.tgz<br>
<p>
Seem to have precedent :-(<br>
<p>
Erik<br>
<p>
-------------------------------------------------------------------------------<br>
<i>|       I told you I'm not very bright -- Sugar in "Some Like It Hot"         |</i><br>
<i>|      "RPM is the greatest thing since swap-space" - Bryan C. Andregg</i><br>
<i>|                                                                             |</i><br>
<i>|       Erik Troan   =   <a href="mailto:ewt@redhat.com">ewt@redhat.com</a>     =    ewt@sunsite.unc.edu          |</i><br>
<p>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">David Mosberger-Tang: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.3: it's almost for real now!"</a>
<li> <b>In reply to:</b> <a href="0004.html">Erik Troan: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Reply:</b> <a href="0004.html">Erik Troan: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Reply:</b> <a href="0010.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
