<!-- received="Mon Dec 16 13:07:37 1996 MST" -->
<!-- sent="Mon, 16 Dec 1996 18:51:31 +0000 (GMT)" -->
<!-- name="Tristan Tarrant" -->
<!-- email="tst@orthanc.isengard.com.galactica.it" -->
<!-- subject="Re: sane-0.3: it's almost for real now!" -->
<!-- id="199612161851.SAA00180@orthanc.isengard.com" -->
<!-- inreplyto="tcppop3.3283298@bbs.galactica.it" -->
<title>sane-devel: Re: sane-0.3: it's almost for real now!</title>
<h1>Re: sane-0.3: it's almost for real now!</h1>
<b>Tristan Tarrant</b> (<a href="mailto:tst@orthanc.isengard.com.galactica.it"><i>tst@orthanc.isengard.com.galactica.it</i></a>)<br>
<i>Mon, 16 Dec 1996 18:51:31 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">David Mosberger-Tang: "Re: mail lossage?"</a>
<li> <b>Previous message:</b> <a href="0010.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Reply:</b> <a href="0013.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 14 Dic, <a href="mailto:sane-devel@azstarnet.com">sane-devel@azstarnet.com</a> wrote:<br>
<i>&gt; Tristan, do you have an idea of how long it will take to get the</i><br>
<i>&gt; preview working?  It looks like you made some real nice progress with</i><br>
<i>&gt; the graphical frontend, so it may be worth waiting for that before</i><br>
<i>&gt; announcing things more widely.</i><br>
<p>
I am currently in the middle of a few job interviews, so I don't have<br>
much time to work on the frontend. First thing to fix is the sane_cancel<br>
problem you mentioned in an earlier post. I'll try and do that asap.<br>
Next up is the preview. At the moment the preview area is always A4 in<br>
size, but obviously the maximum size should come from the backend. Then<br>
I'll add the actual preview code. I am playing about with the various<br>
visuals.<br>
Also I have a little question: for backends like the PNM one, there is<br>
no max width/height. Should I set the preview area to some dummy size,<br>
changing it when the backend figures out the sizes, or should the<br>
preview area not appear at all ?<br>
<p>
Tristan<br>
<pre>
-- 
 - Lo sai che la tua faccia assomiglia a uno che vale 1000 dollari ?
 - Si', ma tu non somigli a quello che li incassa. Due passi indietro...
	Il Biondo - Il buono, il brutto e il cattivo
<p>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">David Mosberger-Tang: "Re: mail lossage?"</a>
<li> <b>Previous message:</b> <a href="0010.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Reply:</b> <a href="0013.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
