<!-- received="Wed Jan  8 20:31:08 1997 MST" -->
<!-- sent="Wed, 8 Jan 1997 20:35:42 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="sane-0.32 available" -->
<!-- id="199701090335.UAA01465@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.32 available</title>
<h1>sane-0.32 available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 8 Jan 1997 20:35:42 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">David Mosberger-Tang: "sane-0.33 available"</a>
<li> <b>Previous message:</b> <a href="0028.html">David Mosberger-Tang: "sane-0.31 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">David  Mosberger: "Re: sane-0.32 available"</a>
<li> <b>Maybe reply:</b> <a href="0034.html">David  Mosberger: "Re: sane-0.32 available"</a>
<li> <b>Maybe reply:</b> <a href="0038.html">Michael K. Johnson: "Re: sane-0.32 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It has been brought to my attention that sane-0.3 didn't work on Red<br>
Hat 4.0 for the x86.  I just tried this myself and found that there<br>
was a typo in the Makefile that had the effect that the C files got<br>
compiled without -fPIC flag (that doesn't hurt much on the Alpha but<br>
is fatal on the x86).  I corrected that mistake and also added some<br>
code to the "install" rule so that /usr/local/lib gets added to<br>
/etc/ld.so.conf if it isn't there already.<br>
<p>
In other words, you should now _really_ be able to extract the tar<br>
file, run configure, make, and then make install and end up with a<br>
working "scan" binary (and xscan if you happen to have libgtk, libgdk,<br>
and libglib installed).<br>
<p>
The fixed tar file is available as:<br>
<p>
	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-0.32.tar.gz">ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-0.32.tar.gz</a><br>
<p>
Let me know if there is any other problem.<br>
<p>
Happy hacking,<br>
<p>
	--david<br>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">David Mosberger-Tang: "sane-0.33 available"</a>
<li> <b>Previous message:</b> <a href="0028.html">David Mosberger-Tang: "sane-0.31 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">David  Mosberger: "Re: sane-0.32 available"</a>
<li> <b>Maybe reply:</b> <a href="0034.html">David  Mosberger: "Re: sane-0.32 available"</a>
<li> <b>Maybe reply:</b> <a href="0038.html">Michael K. Johnson: "Re: sane-0.32 available"</a>
<!-- reply="end" -->
</ul>
