<!-- received="Sat Oct  3 13:29:39 1998 PDT" -->
<!-- sent="Wed, 23 Sep 1998 22:08:20 +0200" -->
<!-- name="micr@dds.nl" -->
<!-- email="micr@dds.nl" -->
<!-- subject="http://www.mostang.com/sane/sane-backends.html" -->
<!-- id="199809232008.WAA07900@millennium.paramike.dyn.ml.org" -->
<!-- inreplyto="" -->
<title>sane-devel: http://www.mostang.com/sane/sane-backends.html</title>
<h1>http://www.mostang.com/sane/sane-backends.html</h1>
<a href="mailto:micr@dds.nl"><i>micr@dds.nl</i></a><br>
<i>Wed, 23 Sep 1998 22:08:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Labo Chimie Physique 0326053233: "help for sane use"</a>
<li> <b>Previous message:</b> <a href="0031.html">Rick Knebel: "permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I have an ArtiScan 6000c which i don't see between the drivers.<br>
It also has a propriety SCSI card, but if there's no driver for<br>
that i can live with that and put it on my adaptec :)<br>
I recently downloaded new drivers from <a href="http://www.tamarack.com">http://www.tamarack.com</a> ,<br>
maybe that helps.<br>
<p>
Also i'm going to switch to a DEC Alpha so an Alpha version<br>
would be very nice :)<br>
<p>
Keep up the good work!<br>
<p>
Michiel.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Labo Chimie Physique 0326053233: "help for sane use"</a>
<li> <b>Previous message:</b> <a href="0031.html">Rick Knebel: "permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
