<!-- received="Sun Oct  4 06:30:46 1998 PDT" -->
<!-- sent="Sun, 04 Oct 1998 12:34:04 +0200 (CEST)" -->
<!-- name="Didier Carlier" -->
<!-- email="carlierd@acm.org" -->
<!-- subject="RE: Nikon or Minolta slide scanner?" -->
<!-- id="" -->
<!-- inreplyto="E0zO8OW-0003yH-00@post.mail.demon.net" -->
<title>sane-devel: RE: Nikon or Minolta slide scanner?</title>
<h1>RE: Nikon or Minolta slide scanner?</h1>
<b>Didier Carlier</b> (<a href="mailto:carlierd@acm.org"><i>carlierd@acm.org</i></a>)<br>
<i>Sun, 04 Oct 1998 12:34:04 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Craig Ruff: "Re: HP photosmart and negatives to positives"</a>
<li> <b>Previous message:</b> <a href="0053.html">Mitch Chapman: "Mustek 1200 III SP and color registration"</a>
<li> <b>In reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Mathias Koerber: "Re: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 29-Sep-98 David Bartlett wrote:<br>
<i>&gt; I'd like to get either the Nikon CoolScan III, or a Minolta Dimage Scan Dual</i><br>
<i>&gt; slide/film scanner. Neither appears to be supported by sane at present.</i><br>
<i>&gt; </i><br>
<i>&gt; 1. Is anyone working on drivers for either scanner?</i><br>
<i>&gt; </i><br>
<i>&gt; 2. If not, I'd consider taking on writing them, but would I be more likely to</i><br>
<i>&gt; get the necessary device information from Nikon or Minolta? Advice as to the</i><br>
<i>&gt; best way to go about getting the requisite information would also be welcome.</i><br>
<p>
I've asked for the Nikon Coolscan III specs in the hope that they weren't too<br>
different from the Coolscan II ones, but didn't receive any reply...<br>
<p>
I've heard that they are planning to release the specifications by the end of<br>
the year though.<br>
<p>
Good luck,<br>
Didier<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Craig Ruff: "Re: HP photosmart and negatives to positives"</a>
<li> <b>Previous message:</b> <a href="0053.html">Mitch Chapman: "Mustek 1200 III SP and color registration"</a>
<li> <b>In reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Mathias Koerber: "Re: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
