<!-- received="Tue Oct  6 10:06:05 1998 PDT" -->
<!-- sent="Tue, 6 Oct 1998 19:02:22 +0200" -->
<!-- name="Thomas Kluge" -->
<!-- email="thomas@darkstar.rhein-neckar.de" -->
<!-- subject="Mustek ScanExpress 6000 SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanExpress 6000 SP</title>
<h1>Mustek ScanExpress 6000 SP</h1>
<b>Thomas Kluge</b> (<a href="mailto:thomas@darkstar.rhein-neckar.de"><i>thomas@darkstar.rhein-neckar.de</i></a>)<br>
<i>Tue, 6 Oct 1998 19:02:22 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Wolfgang Kaess: "Internet Message Header [1 of 2]"</a>
<li> <b>Previous message:</b> <a href="0073.html">A. R. M.: "RE: Just a question..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0084.html">Daniel Stodden: "Re: Mustek ScanExpress 6000 SP"</a>
<li> <b>Reply:</b> <a href="0084.html">Daniel Stodden: "Re: Mustek ScanExpress 6000 SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I've got serious problems getting my ScanExpress 6000SP to work. That's <br>
what i tried:<br>
<p>
Compiled the kernel with support for the scsi-controller, it's a dawi 2975<br>
U with a Symbios 53C875-Chip. I connected the scanner to the controller,<br>
terminated the open end of the scanner and loaded the module. My<br>
syslog-entry looks like this:<br>
<p>
Oct  2 18:27:19 darkstar kernel: ncr53c8xx: at PCI bus 0, device 9, function<br>
0<br>
Oct  2 18:27:19 darkstar kernel: ncr53c8xx: 53c875 detected <br>
Oct  2 18:27:19 darkstar kernel: ncr53c875-0: rev=0x04, base=0xe2001000,<br>
io_port<br>
=0x6000, irq=9<br>
Oct  2 18:27:19 darkstar kernel: ncr53c875-0: ID 7, Fast-20, Parity Checking<br>
Oct  2 18:27:19 darkstar kernel: ncr53c875-0: on-board RAM at 0xe2000000<br>
Oct  2 18:27:19 darkstar kernel: ncr53c875-0: restart (scsi reset).<br>
Oct  2 18:27:19 darkstar kernel: ncr53c875-0: copying script fragments into<br>
the <br>
on-board RAM ...<br>
Oct  2 18:27:19 darkstar kernel: scsi0 : ncr53c8xx - revision 2.5f.1<br>
Oct  2 18:27:19 darkstar kernel: scsi : 1 host.<br>
Oct  2 18:27:28 darkstar kernel:   Vendor: SCANNER   Model:<br>
Re<br>
v: 1.00<br>
Oct  2 18:27:28 darkstar kernel:   Type:   Scanner<br>
AN<br>
SI SCSI revision: 01 CCS<br>
<p>
Then i created the device and the "scanner"-link:<br>
<p>
crw-rw-rw-   1 root     root      21,   0 Jun 29  1997 sg0<br>
lrwxrwxrwx   1 root     root            3 Oct  2 17:16 scanner -&gt; sg0<br>
<p>
Having compiled and installed sane 0.74, i tried "find-scanner" and it said:<br>
<p>
find-scanner: found scanner "SCANNER  1.00" at device /dev/scanner<br>
find-scanner: found scanner "SCANNER  1.00" at device /dev/sg0<br>
<p>
looks ok for me...<br>
<p>
...but it doesn't work:<br>
<p>
/dat/home/thomas[130] $ scanimage -d mustek:/dev/scanner<br>
scanimage: open of device mustek:/dev/scanner failed: Invalid argument<br>
<p>
I also tried it as root, same result.<br>
<p>
I left "mustek.conf" as delivered in the sane-distribution as i think it<br>
should be ok, and in dll.conf i deleted all lines except of "mustek".<br>
<p>
What looks strange to me:<br>
<p>
In /proc/scsi/scsi, there's a vendor named "SCANNER" and no type. No<br>
"Mustek", no "6000-SP" or somethink like that. Reading the man-pages, i'm<br>
sure the Scanexpress 6000 SP should be supported by sane, so what's wrong?<br>
Thank you _very much_ in advance for any hint.<br>
<p>
Thomas<br>
<p>
<pre>
-- 
EMAIL: <a href="mailto:thomas@darkstar.rhein-neckar.de">thomas@darkstar.rhein-neckar.de</a> WWW: www.rhein-neckar.de/~darkstar/
IRC: ctom   SITE: Tommi Online   PGP: send email with subject "get pgpkey"
-------------------------------Linux 2.0.35-------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Wolfgang Kaess: "Internet Message Header [1 of 2]"</a>
<li> <b>Previous message:</b> <a href="0073.html">A. R. M.: "RE: Just a question..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0084.html">Daniel Stodden: "Re: Mustek ScanExpress 6000 SP"</a>
<li> <b>Reply:</b> <a href="0084.html">Daniel Stodden: "Re: Mustek ScanExpress 6000 SP"</a>
<!-- reply="end" -->
</ul>
