<!-- received="Tue Oct  6 21:13:28 1998 PDT" -->
<!-- sent="Tue, 6 Oct 1998 19:51:19 +0200" -->
<!-- name="Henning Meier-Geinitz" -->
<!-- email="henningmg@gmx.de" -->
<!-- subject="Re: joy scanner 600 problems" -->
<!-- id="" -->
<!-- inreplyto="000201bdeb39$f84cfc20$af48e4cf@gametron.cadvison.com" -->
<title>sane-devel: Re: joy scanner 600 problems</title>
<h1>Re: joy scanner 600 problems</h1>
<b>Henning Meier-Geinitz</b> (<a href="mailto:henningmg@gmx.de"><i>henningmg@gmx.de</i></a>)<br>
<i>Tue, 6 Oct 1998 19:51:19 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Tobias Ernst: "Re: OS/2 ant sane 0.74"</a>
<li> <b>Previous message:</b> <a href="0085.html">Henning Meier-Geinitz: "Re: need help mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; the scanner is a 30 bit epp interface 9600 dpi maximum 600 x 1200 dpi optical resolution flatbed scanner</i><br>
<i>&gt; using win 95/ texbridge classic/ iphoto4 plus</i><br>
<p>
I don't think you are using the right mailinglist. Yaou arent't using<br>
SANE, are you?<br>
<p>
Ciao, Henning<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Tobias Ernst: "Re: OS/2 ant sane 0.74"</a>
<li> <b>Previous message:</b> <a href="0085.html">Henning Meier-Geinitz: "Re: need help mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
