<!-- received="Thu Oct  8 10:07:45 1998 PDT" -->
<!-- sent="Thu, 08 Oct 1998 19:10:44 +0200" -->
<!-- name="Thomas Heidel" -->
<!-- email="theidel@advis.de" -->
<!-- subject="Re: Just a question..." -->
<!-- id="" -->
<!-- inreplyto="Just a question..." -->
<title>sane-devel: Re: Just a question...</title>
<h1>Re: Just a question...</h1>
<b>Thomas Heidel</b> (<a href="mailto:theidel@advis.de"><i>theidel@advis.de</i></a>)<br>
<i>Thu, 08 Oct 1998 19:10:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Terry Mackintosh: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<li> <b>Previous message:</b> <a href="0117.html">bruno schwander: "Re: OS/2 ant sane 0.74"</a>
<li> <b>Maybe in reply to:</b> <a href="0070.html">Thomas Fischbacher: "Just a question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Daniel Stodden wrote:<br>
<p>
<i>&gt; "A. R. M." &lt;<a href="mailto:amojahed@julian.uwo.ca">amojahed@julian.uwo.ca</a>&gt; writes:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Nope!</i><br>
<i>&gt; &gt; Scanner is the type. (type of scsi device)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; : For Linux you can specify the device by the vendor,</i><br>
<i>&gt; &gt; : model, controller no., SCSI-ID, e.g. I've placed</i><br>
<i>&gt; &gt; : scsi SCANNER * * * * 6</i><br>
<i>&gt; &gt; : in my mustek.conf, where 6 refers to ID 6.</i><br>
<i>&gt; &gt; : (SCANNER is the vendor string --- funny!)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; re-nope.</i><br>
<i>&gt; for mustek's scanexpress, SCANNER is indeed the vendorstring.</i><br>
<i>&gt;</i><br>
<i>&gt; stop rotf, thats _not_ funny :)</i><br>
<i>&gt;</i><br>
<i>&gt; regards,</i><br>
<i>&gt; daniel</i><br>
<i>&gt;</i><br>
<p>
  re-re-nope.<br>
<p>
for the Mustek ScanMagic 4830 S it  looks like the vendor string is<br>
"FLATBED SCANNER"! But if you look carefull on what inquiery returns,<br>
you can _guess_ the real vendor is "TECO". I wounder if this is true for<br>
more<br>
Mustek Scaners other than the ScanMagic 4830? My be I get my scanner<br>
in this way on the suported list.<br>
ciao,<br>
thomas.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Terry Mackintosh: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<li> <b>Previous message:</b> <a href="0117.html">bruno schwander: "Re: OS/2 ant sane 0.74"</a>
<li> <b>Maybe in reply to:</b> <a href="0070.html">Thomas Fischbacher: "Just a question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
