<!-- received="Tue Oct 13 08:28:07 1998 PDT" -->
<!-- sent="Tue, 13 Oct 1998 16:28:54 +0100" -->
<!-- name="malcolm-sane@cs.york.ac.uk" -->
<!-- email="malcolm-sane@cs.york.ac.uk" -->
<!-- subject="Nikon LS-20 problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Nikon LS-20 problem</title>
<h1>Nikon LS-20 problem</h1>
<a href="mailto:malcolm-sane@cs.york.ac.uk"><i>malcolm-sane@cs.york.ac.uk</i></a><br>
<i>Tue, 13 Oct 1998 16:28:54 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">malcolm-sane@cs.york.ac.uk: "Artec A6000C problems"</a>
<li> <b>Previous message:</b> <a href="0132.html">Thomas Kluge: "xscanimage works, scanimage not (Umax Astra 1220S)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have just got a Nikon Coolscan II (the internal model LS-20i),<br>
and have been trying to get it to work under sane-0.74.<br>
<p>
The preview window works just fine, bringing up a good image from the<br>
slide.  However, the "scan" button not only fails to work, but it<br>
completely locks up the computer, to the extent that powering<br>
everything down is the only option.<br>
<p>
I wonder if this might be a problem with the SCSI card?  I am using<br>
the Adaptec 1505AI which was supplied with the scanner.  At one point, <br>
I had the card set to permit SCSI device-disconnect/reconnect, and at<br>
that time 'xscanimage' locked up immediately I pressed the 'scan'<br>
button.  Now however, I have disabled that option on the card,<br>
and pressing the 'scan' button causes the scanner to take in the<br>
slide, make a funny noise, then spit it out again before locking<br>
the computer up.<br>
<p>
Is there some other card option which is needed by the coolscan<br>
backend, but which I might have disabled, or vice versa?  For instance,<br>
there appears to be something called 'sync' which I have disabled.<br>
Should I try enabling it?<br>
<p>
Alternatively, if it is a software problem, how does the low-level SCSI<br>
format of the 'scan' command differ from the 'preview' command, since<br>
the latter works but the former doesn't?<br>
<p>
Regards,<br>
    Malcolm<br>
<p>
P.S.  My system is Linux 2.0.34, using the aha152x SCSI driver as a<br>
      module.<br>
P.P.S.  If someone can supply the Nikon programming specs, I would be<br>
        happy to delve into this question myself.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">malcolm-sane@cs.york.ac.uk: "Artec A6000C problems"</a>
<li> <b>Previous message:</b> <a href="0132.html">Thomas Kluge: "xscanimage works, scanimage not (Umax Astra 1220S)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
