<!-- received="Mon Oct 19 17:36:32 1998 PDT" -->
<!-- sent="Mon, 19 Oct 1998 17:35:45 -0700 (PDT)" -->
<!-- name="leila belhadjali" -->
<!-- email="leilab@aa.net" -->
<!-- subject="Re: New umax-backend for Astra 1220S (gamma-function)" -->
<!-- id="199810200035.RAA15350@big.aa.net" -->
<!-- inreplyto="362813D4.AA77FD93@wolfsburg.de" -->
<title>sane-devel: Re: New umax-backend for Astra 1220S (gamma-function)</title>
<h1>Re: New umax-backend for Astra 1220S (gamma-function)</h1>
<b>leila belhadjali</b> (<a href="mailto:leilab@aa.net"><i>leilab@aa.net</i></a>)<br>
<i>Mon, 19 Oct 1998 17:35:45 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#211">[ date ]</a><a href="index.html#211">[ thread ]</a><a href="subject.html#211">[ subject ]</a><a href="author.html#211">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">jbnivoit@ix.netcom.com: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0210.html">Jonathan Buzzard: "Re: parallel port scanner support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
That did it! Thanks so much, it works perfectly now! :)<br>
<p>
leila.<br>
--------------------- message from Oliver Rauch ---------------------<br>
<i>| </i><br>
<i>| Hi UMAX Astra 1220S users,</i><br>
<i>| </i><br>
<i>| I uploaded a new umax-backend version (0.74d) to my homepage:</i><br>
<i>| <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>| </i><br>
<i>| The Gamma-function should work with Astra 1220S now.</i><br>
<i>| Please would someone try it and tell me if it works?!</i><br>
<i>| </i><br>
<i>| Bye</i><br>
<i>| Oliver</i><br>
<i>| </i><br>
<i>| </i><br>
<i>| --</i><br>
<i>| Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>| To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>| </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">jbnivoit@ix.netcom.com: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0210.html">Jonathan Buzzard: "Re: parallel port scanner support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
