<!-- received="Fri Oct 23 00:46:14 1998 PDT" -->
<!-- sent="Fri, 23 Oct 1998 09:33:03 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: copy program and document feeder for hp" -->
<!-- id="199810230733.JAA21499@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="199810191437.KAA08734@chaos" -->
<title>sane-devel: Re: copy program and document feeder for hp</title>
<h1>Re: copy program and document feeder for hp</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 23 Oct 1998 09:33:03 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#248">[ date ]</a><a href="index.html#248">[ thread ]</a><a href="subject.html#248">[ subject ]</a><a href="author.html#248">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0249.html">becka@rz.uni-duesseldorf.de: "Re: Linux handscanner backend ?"</a>
<li> <b>Previous message:</b> <a href="0247.html">David Mosberger-Tang: "Re: SANE and GNU"</a>
<li> <b>In reply to:</b> <a href="0235.html">Sheldon E. Newhouse: "copy program and document feeder for hp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt;  I am wondering if there are any plans to implement programs such as </i><br>
<i>&gt;  1. the HP copy utility which comes with the HP scanjets.  Basically,</i><br>
<i>&gt;     click and copy to printer, no need to scan and look first.  Also</i><br>
<i>&gt;     does multiple copies. </i><br>
<p>
AFAIK this exists. It used to be called xerox, now photocopy or something<br>
to avoid TM clashes.<br>
<p>
<i>&gt;  2. Support for document feeders. </i><br>
<p>
This is a backend issue. If the backend supportd document feeders it should<br>
be pretty simple. The backend would export a "button type" option like <br>
FeedNextPage.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0249.html">becka@rz.uni-duesseldorf.de: "Re: Linux handscanner backend ?"</a>
<li> <b>Previous message:</b> <a href="0247.html">David Mosberger-Tang: "Re: SANE and GNU"</a>
<li> <b>In reply to:</b> <a href="0235.html">Sheldon E. Newhouse: "copy program and document feeder for hp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
