<!-- received="Fri Oct 23 09:37:45 1998 PDT" -->
<!-- sent="Fri, 23 Oct 1998 03:52:30 -0600" -->
<!-- name="Sean Reifschneider" -->
<!-- email="jafo@tummy.com" -->
<!-- subject="Scan Size Clarification and JPEG/whatever format data" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scan Size Clarification and JPEG/whatever format data</title>
<h1>Scan Size Clarification and JPEG/whatever format data</h1>
<b>Sean Reifschneider</b> (<a href="mailto:jafo@tummy.com"><i>jafo@tummy.com</i></a>)<br>
<i>Fri, 23 Oct 1998 03:52:30 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">David Mosberger-Tang: "Re: Scan Size Clarification and JPEG/whatever format data"</a>
<li> <b>Previous message:</b> <a href="0256.html">Andreas Tille: "Coolscan driver produces error at the image border"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It's not entirely clear to me from the draft document how soon after<br>
doing a "start scan" that it's expected the X and Y image size will<br>
be known.  The back-end I'm working on right now doesn't actually<br>
have the exact size (only an estimate because of auto-page-size<br>
detection) until after the first data read has completed.<br>
<p>
I suspect that some front-ends will expect it to be accurate before<br>
reading the first data-block (for writing a header or allocating<br>
the image buffer).<br>
<p>
Also, in the JPEG/MPEG/RAW image format arena...  I would propose that<br>
the only additional image type to be added be "RAW", with a standard<br>
option presenting the available image formats.  The front end would<br>
then request a specific format through the normal channels, the back-end<br>
would send it as RAW, and the front-end would either decode it or<br>
just write the raw bits to a file.<br>
<p>
This is in keeping with the idea that the protocol just be the medium<br>
which the frontend and backend communicate.  If a back-end implements,<br>
say, G3 compression, and the front-end knows how to handle that, it's<br>
not an issue.  As soon as you encode these values into SANE itself,<br>
you get into the business of having to track everyone's pet format.<br>
<p>
For the time being, it looks like I'll implement this using just the<br>
standard GREY format.<br>
<p>
Also, any suggestions on the best back-end to use as a model for a new<br>
one would be appreciated.<br>
<p>
Thanks,<br>
Sean<br>
<pre>
-- 
 A smart terminal is not a smart*ass* terminal, but rather a terminal
 you can educate.  -- Rob Pike
Sean Reifschneider, Inimitably Superfluous &lt;<a href="mailto:jafo@tummy.com">jafo@tummy.com</a>&gt;
URL: &lt;<a href="http://www.tummy.com/xvscan">http://www.tummy.com/xvscan</a>&gt; HP-UX/Linux/FreeBSD/BSDOS scanning software.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">David Mosberger-Tang: "Re: Scan Size Clarification and JPEG/whatever format data"</a>
<li> <b>Previous message:</b> <a href="0256.html">Andreas Tille: "Coolscan driver produces error at the image border"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
