<!-- received="Wed Oct 28 01:40:15 1998 PST" -->
<!-- sent="28 Oct 1998 01:38:58 -0800" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="sane: Coolscan driver produces error at the image border" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane: Coolscan driver produces error at the image border</title>
<h1>sane: Coolscan driver produces error at the image border</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>28 Oct 1998 01:38:58 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#289">[ date ]</a><a href="index.html#289">[ thread ]</a><a href="subject.html#289">[ subject ]</a><a href="author.html#289">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0290.html">Kevin Dalley: "sane: Coolscan driver produces unsharp images"</a>
<li> <b>Previous message:</b> <a href="0288.html">Andreas Tille: "Re: nikon ls film scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a bug report from a Debian sane user for the Coolscan driver.<br>
I am keeping the dependency information in the message, just in case<br>
any of the problems suggest something.<br>
<p>
<pre>
--
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<p>
Package: sane
Version: 0.74
<p>
Since sane 0.74 I recognized that a small border in the left and in
the right is produced, which is significant brighter than the rest of
the image.  This border is about 2% of the image width.
<p>
I didn't use sane 0.73 but downgrading to sane 0.72 helped to
solve this problem.
<p>
I'm using sane with Nikon Coolscan LS-20.  I don't know if this
is a general problem of all scanners or only this module.
<p>
Kind regards
<p>
          Andreas.
<p>
-- System Information
Debian Release: slink
Kernel Version: Linux tower 2.0.33 #165 Mon Apr 27 09:40:53 /etc/localtime 1998 i586 unknown
<p>
Versions of the packages sane depends on:
ii  libc6           2.0.7u-3       The GNU C library version 2 (run-time files)
ii  libgimp1        1.0.2-1        Libraries necessary to run the GIMP
ii  libgtk1         1.0.6-2        The GIMP Toolkit set of widgets for X
hi  xlib6g          3.3.2.3a-1     shared libraries required by X clients
<p>
--- Begin /etc/sane.d/apple.conf (modified conffile)
/dev/scanner
<p>
--- End /etc/sane.d/apple.conf
<p>
--- Begin /etc/sane.d/coolscan.conf (modified conffile)
/dev/scanner
<p>
--- End /etc/sane.d/coolscan.conf
<p>
--- Begin /etc/sane.d/dll.conf (modified conffile)
coolscan
pnm
<p>
--- End /etc/sane.d/dll.conf
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0290.html">Kevin Dalley: "sane: Coolscan driver produces unsharp images"</a>
<li> <b>Previous message:</b> <a href="0288.html">Andreas Tille: "Re: nikon ls film scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
