<!-- received="Mon Jun  1 05:25:03 1998 PDT" -->
<!-- sent="Mon, 1 Jun 1998 05:24:18 -0700 (PDT)" -->
<!-- name="Zach Fine" -->
<!-- email="czyz@u.washington.edu" -->
<!-- subject="Using a mac quickcam on PC with sane?" -->
<!-- id="199806011224.FAA30692@saul9.u.washington.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Using a mac quickcam on PC with sane?</title>
<h1>Using a mac quickcam on PC with sane?</h1>
<b>Zach Fine</b> (<a href="mailto:czyz@u.washington.edu"><i>czyz@u.washington.edu</i></a>)<br>
<i>Mon, 1 Jun 1998 05:24:18 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#6">[ date ]</a><a href="index.html#6">[ thread ]</a><a href="subject.html#6">[ subject ]</a><a href="author.html#6">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">John Warren Duprey: "Re: no SANE devices found.."</a>
<li> <b>Previous message:</b> <a href="0005.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 6000P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm just wondering if anyone has tried, or has any idea if it might be<br>
possible to use a Macintosh color quickcam on a PC with sane.<br>
<p>
I'm thinking that maybe if I'm able to feed the right voltage to the<br>
proper pins on the quickcam's ADB port and get a mac to PC serial port<br>
adapter that such a feat might be possible. Then again, the PC<br>
quickcam and the SANE driver are most likely written for the parallel<br>
port...<br>
<p>
Any thoughts? Thanks for any information.<br>
<p>
-Zach Fine<br>
<a href="mailto:czyz@u.washington.edu">czyz@u.washington.edu</a><br>
<p>
<p>
PS. I'm running NetBSD 1.3.2 on a Cyrix 686 based PC with an NCR SCSI<br>
card, in case that matters.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">John Warren Duprey: "Re: no SANE devices found.."</a>
<li> <b>Previous message:</b> <a href="0005.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 6000P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
