<!-- received="Mon Jun  1 06:21:33 1998 PDT" -->
<!-- sent="Mon, 01 Jun 1998 13:17:57 +0000" -->
<!-- name="John Warren Duprey" -->
<!-- email="jduprey@milo.roc.servtech.com" -->
<!-- subject="Re: no SANE devices found.." -->
<!-- id="" -->
<!-- inreplyto="no SANE devices found.." -->
<title>sane-devel: Re: no SANE devices found..</title>
<h1>Re: no SANE devices found..</h1>
<b>John Warren Duprey</b> (<a href="mailto:jduprey@milo.roc.servtech.com"><i>jduprey@milo.roc.servtech.com</i></a>)<br>
<i>Mon, 01 Jun 1998 13:17:57 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane &amp; umac-astra 610s"</a>
<li> <b>Previous message:</b> <a href="0006.html">Zach Fine: "Using a mac quickcam on PC with sane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; [jduprey@otis tools]$ ./find-scanner</i><br>
<i>&gt; &gt; # You may want to run this program as super-user to find all devices.</i><br>
<i>&gt; &gt; # Once you found the scanner devices, be sure to adjust access</i><br>
<i>&gt; &gt; # permissions as necessary.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; find-scanner: found scanner " Scanner 600 1.90" at device /dev/scanner</i><br>
<i>&gt; &gt; find-scanner: found scanner " Scanner 600 1.90" at device /dev/sga</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; [jduprey@otis frontend]$ ./scanimage -v</i><br>
<i>&gt; &gt; scanimage: no SANE devices found</i><br>
<i>&gt; &gt; [jduprey@otis frontend]$ ./scanimage -L</i><br>
<i>&gt; &gt; [jduprey@otis frontend]$</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I would appreciate any help or guidance you might have.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
 The above output was done as a regular user, not root.<br>
As you can see find-scanner does find the scanner..<br>
( I did try scanimage and find-scanner as root, just to make sure that it<br>
wasn't a permissions problem.<br>
I don't &lt;&lt;think&gt;&gt; it is. )<br>
<p>
-John<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane &amp; umac-astra 610s"</a>
<li> <b>Previous message:</b> <a href="0006.html">Zach Fine: "Using a mac quickcam on PC with sane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
