<!-- received="Thu Jun  4 06:42:35 1998 PDT" -->
<!-- sent="Thu, 4 Jun 1998 06:41:45 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="SANE Network Protocol..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE Network Protocol...</title>
<h1>SANE Network Protocol...</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Thu, 4 Jun 1998 06:41:45 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#28">[ date ]</a><a href="index.html#28">[ thread ]</a><a href="subject.html#28">[ subject ]</a><a href="author.html#28">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">DUPERVAL, LAURENT: "Questions on UMAX 1220S"</a>
<li> <b>Previous message:</b> <a href="0027.html">Michael Sweet: "MUSTEK problems? with 0.73"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I noticed if send a SANE_NET_INIT packect immediately by a SANE_NET_EXIT<br>
packet that it ignores the exit packet. Is the network protocol timing<br>
sensitive? Must there be a certain amount of time between packets?<br>
<p>
Brian Macy<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">DUPERVAL, LAURENT: "Questions on UMAX 1220S"</a>
<li> <b>Previous message:</b> <a href="0027.html">Michael Sweet: "MUSTEK problems? with 0.73"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
