<!-- received="Fri Jun  5 16:30:56 1998 PDT" -->
<!-- sent="Fri, 5 Jun 1998 16:30:06 -0700" -->
<!-- name="Kevin Turner" -->
<!-- email="kevint@aracnet.com" -->
<!-- subject="HP psc/380" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP psc/380</title>
<h1>HP psc/380</h1>
<b>Kevin Turner</b> (<a href="mailto:kevint@aracnet.com"><i>kevint@aracnet.com</i></a>)<br>
<i>Fri, 5 Jun 1998 16:30:06 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Tom Tromey: "Re: GNOME SANE 0.73"</a>
<li> <b>Previous message:</b> <a href="0037.html">Brian Macy: "Eeck.. network protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just got a HP Printer/Scanner/Copier 380.<br>
Brand new product line, no Linux/Unix support...<br>
Thing works through parallel port, not scsi.<br>
<p>
Any suggestions on where to go from here?<br>
<p>
Thanks,<br>
  - Kevin Turner<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Tom Tromey: "Re: GNOME SANE 0.73"</a>
<li> <b>Previous message:</b> <a href="0037.html">Brian Macy: "Eeck.. network protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
