<!-- received="Fri Jun  5 21:36:11 1998 PDT" -->
<!-- sent="05 Jun 1998 00:43:26 -0600" -->
<!-- name="Tom Tromey" -->
<!-- email="tromey@cygnus.com" -->
<!-- subject="Re: GNOME SANE 0.73" -->
<!-- id="" -->
<!-- inreplyto="Wed, 3 Jun 1998 07:58:12 +1000 (EST)" -->
<title>sane-devel: Re: GNOME SANE 0.73</title>
<h1>Re: GNOME SANE 0.73</h1>
<b>Tom Tromey</b> (<a href="mailto:tromey@cygnus.com"><i>tromey@cygnus.com</i></a>)<br>
<i>05 Jun 1998 00:43:26 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">David Mosberger-Tang: "Re: Eeck.. network protocol"</a>
<li> <b>Previous message:</b> <a href="0041.html">Hakan Ardo: "Scanner support"</a>
<li> <b>In reply to:</b> <a href="0017.html">Craig Small: "GNOME SANE 0.73"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Craig&gt; PS: Is there one 'correct way' to merge in an upstream tar file<br>
Craig&gt; into my CVS directories?<br>
<p>
I'm not entirely sure what you mean.<br>
<p>
If you mean that (e.g.) somebody just released SANE 0.74, and you want<br>
to incorporate it into the Gnome CVS repository, while preserving<br>
local changes, then "cvs update" is the perfect tool for the job.<br>
<p>
If you instead mean that you want to check a tar file directly into<br>
the repo with unpacking it, then you're on your own.<br>
<p>
Tom<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">David Mosberger-Tang: "Re: Eeck.. network protocol"</a>
<li> <b>Previous message:</b> <a href="0041.html">Hakan Ardo: "Scanner support"</a>
<li> <b>In reply to:</b> <a href="0017.html">Craig Small: "GNOME SANE 0.73"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
