<!-- received="Sun Jun  7 21:45:23 1998 PDT" -->
<!-- sent="Sun, 7 Jun 1998 22:07:19 -0600 (MDT)" -->
<!-- name="charter@cs.ualberta.ca" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: SANE options" -->
<!-- id="19980608040723Z13485-16412+196@scapa.cs.ualberta.ca" -->
<!-- inreplyto="m0yiVE5-0000ZpC@charon.beck-sw.de" -->
<title>sane-devel: Re: SANE options</title>
<h1>Re: SANE options</h1>
<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a><br>
<i>Sun, 7 Jun 1998 22:07:19 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Rogier Wolff: "Re: Scanace NDA for your perusal."</a>
<li> <b>Previous message:</b> <a href="0070.html">Sylvain Gamel: "Support for IS-22 Scanner Cartridge for canon printer"</a>
<li> <b>In reply to:</b> <a href="0065.html">becka@rz.uni-duesseldorf.de: "Re: SANE options"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; This is easy. SANE supports text fields, and those can be set from the</i><br>
<i>&gt; backend easily be requesting a full option reload.</i><br>
<p>
Ah, of course! I hadn't thought of that.<br>
<p>
<i>&gt; </i><br>
<i>&gt; &gt; or "I have a yes/no/cancel question", </i><br>
<i>&gt; </i><br>
<i>&gt; Please if at all possible - avoid that. This is really bad for </i><br>
<i>&gt; scripting ...</i><br>
<p>
Yes, though that's why I suggested callbacks. A non-interactive<br>
frontend like scanimage can supply callbacks that just deny the<br>
request to ask a question, and the backend must be written to take<br>
some suitable action even if all requests are denied.<br>
<p>
I don't have any specific examples in mind (other than posting status<br>
messages). Text fields are probably fine almost all the time, though<br>
if there is some urgent information that needs to be conveyed to the<br>
user, there isn't much urgency in a text field. For example, I imagine<br>
some scanners might be capable of returning specific diagnostic<br>
information that might be good to draw the user's attention to. If the<br>
scanner fails in some way, it would be nice if interactive backends<br>
like xscanimage could pop up a dialog box (indicating that the<br>
information is important or somehow unusual) and say "Your scanner<br>
seems to be broken. The diagnostic self-test indicates a problem with<br>
[blah]." This way the interactive backends can act more as though they<br>
were specifically tailored to each device. With just a generic text<br>
field, there is no way for the frontend to distinguish between a<br>
routine message and an urgent one, so the user interface cannot<br>
reflect the difference.<br>
<p>
Just my two cents. I don't think this is an urgently-needed feature,<br>
just one that might be nice under some limited circumstances. I<br>
realize that it's important to keep the API simple.<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
	       		             --------------    Edmonton AB CANADA
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Rogier Wolff: "Re: Scanace NDA for your perusal."</a>
<li> <b>Previous message:</b> <a href="0070.html">Sylvain Gamel: "Support for IS-22 Scanner Cartridge for canon printer"</a>
<li> <b>In reply to:</b> <a href="0065.html">becka@rz.uni-duesseldorf.de: "Re: SANE options"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
