<!-- received="Thu Jun 11 06:41:32 1998 PDT" -->
<!-- sent="Thu, 11 Jun 1998 03:04:28 -0700" -->
<!-- name="Mr Ada" -->
<!-- email="mrada@catalina-inter.net" -->
<!-- subject="Re: os/2 and Parallel scanners" -->
<!-- id="" -->
<!-- inreplyto="os/2 and Parallel scanners" -->
<title>sane-devel: Re: os/2 and Parallel scanners</title>
<h1>Re: os/2 and Parallel scanners</h1>
<b>Mr Ada</b> (<a href="mailto:mrada@catalina-inter.net"><i>mrada@catalina-inter.net</i></a>)<br>
<i>Thu, 11 Jun 1998 03:04:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Tristan Tarrant: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0086.html">Adam Williams: "Digital-Camera-HOWTO (Call For Info)"</a>
<li> <b>Maybe in reply to:</b> <a href="0085.html">jnealy@icubed.net: "os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Fredrick P. Eisele Sr.: "Re: os/2 and Parallel scanners"</a>
<li> <b>Next in thread:</b> <a href="0089.html">Chris Sparks: "Re: os/2 and Parallel scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:jnealy@icubed.net">jnealy@icubed.net</a> wrote:<br>
<p>
<i>&gt; Is there any plan to implement support for parallel port scanners (via</i><br>
<i>&gt; the actual standard port)?  Is there any source code that would help me</i><br>
<i>&gt; accomplish such a task?</i><br>
<p>
Wishful thinking!  I don't think anyone really cares on this list<br>
forparallet port scanners.  No one really seemed to care when I asked.<br>
Sorry.<br>
<p>
<i>&gt; Thanks, and great work with SANE!</i><br>
<p>
I sure wish I could use this product.  Oh well.<br>
<p>
Chris Sparks<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Tristan Tarrant: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0086.html">Adam Williams: "Digital-Camera-HOWTO (Call For Info)"</a>
<li> <b>Maybe in reply to:</b> <a href="0085.html">jnealy@icubed.net: "os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Fredrick P. Eisele Sr.: "Re: os/2 and Parallel scanners"</a>
<li> <b>Next in thread:</b> <a href="0089.html">Chris Sparks: "Re: os/2 and Parallel scanners"</a>
<!-- reply="end" -->
</ul>
