<!-- received="Thu Jun 11 07:09:32 1998 PDT" -->
<!-- sent="Thu, 11 Jun 1998 16:08:33 +0200 (MET DST)" -->
<!-- name="Tristan Tarrant" -->
<!-- email="ttarrant@suntlc.etnoteam.it" -->
<!-- subject="Re: os/2 and Parallel scanners" -->
<!-- id="" -->
<!-- inreplyto="357FABAC.4E905C96@catalina-inter.net" -->
<title>sane-devel: Re: os/2 and Parallel scanners</title>
<h1>Re: os/2 and Parallel scanners</h1>
<b>Tristan Tarrant</b> (<a href="mailto:ttarrant@suntlc.etnoteam.it"><i>ttarrant@suntlc.etnoteam.it</i></a>)<br>
<i>Thu, 11 Jun 1998 16:08:33 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#88">[ date ]</a><a href="index.html#88">[ thread ]</a><a href="subject.html#88">[ subject ]</a><a href="author.html#88">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">erikyyy@studbox.uni-stuttgart.de: "Quickcam"</a>
<li> <b>Next message:</b> <a href="0089.html">Chris Sparks: "Re: os/2 and Parallel scanners"</a>
<li> <b>Next message:</b> <a href="0089.html">erikyyy@studbox.uni-stuttgart.de: "Casio Digital Cameras (all types)"</a>
<li> <b>Previous message:</b> <a href="0087.html">Mr Ada: "Re: os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 11 Jun 1998, Mr Ada wrote:<br>
<p>
<i>&gt; Wishful thinking!  I don't think anyone really cares on this list</i><br>
<i>&gt; forparallet port scanners.  No one really seemed to care when I asked.</i><br>
<i>&gt; Sorry.</i><br>
<p>
It's not a matter of nobody caring for parallel scanners. SANE works<br>
basically like this: someone has a parallel scanner, pesters the<br>
manufacturer for specs, writes a driver for it, submits it to the SANE<br>
distribution. Simple (or complicated) as that. <br>
<p>
What you need to do is get the programming specs from your manufacturer and<br>
start coding (or find someone who is willing to do it).<br>
<p>
Tristan<br>
<pre>
--
Tristan Tarrant                                          <a href="mailto:ttarrant@etnoteam.it">ttarrant@etnoteam.it</a>
- Sei. Numero perfetto.              |- Six. Perfect number.
- Non e' tre il numero perfetto ?    |- Isn't three the perfect number ?
- Si'. Ma io ho sei colpi qua dentro.|- Yes. But I have six bullets here.
     Il buono, il brutto e il cattivo|         The good, the bad and the ugly
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">erikyyy@studbox.uni-stuttgart.de: "Quickcam"</a>
<li> <b>Next message:</b> <a href="0089.html">Chris Sparks: "Re: os/2 and Parallel scanners"</a>
<li> <b>Next message:</b> <a href="0089.html">erikyyy@studbox.uni-stuttgart.de: "Casio Digital Cameras (all types)"</a>
<li> <b>Previous message:</b> <a href="0087.html">Mr Ada: "Re: os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
