<!-- received="Thu Jun 11 15:11:39 1998 PDT" -->
<!-- sent="Thu, 11 Jun 1998 22:11:42 +0000" -->
<!-- name="Wolfgang Jung" -->
<!-- email="woju@keep.in-berlin.de" -->
<!-- subject="Re: Casio Digital Cameras (all types)" -->
<!-- id="" -->
<!-- inreplyto="19980611162043.A478@vulcain.yyydom" -->
<title>sane-devel: Re: Casio Digital Cameras (all types)</title>
<h1>Re: Casio Digital Cameras (all types)</h1>
<b>Wolfgang Jung</b> (<a href="mailto:woju@keep.in-berlin.de"><i>woju@keep.in-berlin.de</i></a>)<br>
<i>Thu, 11 Jun 1998 22:11:42 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Dominik Strasser: "Re: xscanimgae in 0.73"</a>
<li> <b>Previous message:</b> <a href="0093.html">becka@rz.uni-duesseldorf.de: "Re: os/2 and Parallel scanners"</a>
<li> <b>In reply to:</b> <a href="0039.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Bernd Schroeder: "Re: Problems with Microtek ScanMaker 630"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, Jun 11, 1998 at 04:20:43PM +0200, <a href="mailto:erikyyy@studbox.uni-stuttgart.de">erikyyy@studbox.uni-stuttgart.de</a> wrote: <br>
<i>&gt; someone of you told me URLs about the CASIO cameras.</i><br>
<i>&gt; </i><br>
<i>&gt; i downloaded the programs, and they work.</i><br>
<i>&gt; </i><br>
<i>&gt; of course a SANE driver would be better.</i><br>
<i>&gt; </i><br>
<i>&gt; i'll tell, what the differences between Casio Cameras and normal</i><br>
<i>&gt; scanners are, and other interesting things:</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; - previews can be downloaded from the cam. (goes faster)</i><br>
<i>&gt; - 115200 baud is best, but setserial needs to be called.</i><br>
<p>
which setting is needed with setserial ?<br>
for telling it 115200 bps zthen it needs to be recompiled with termios<br>
since then you can directly access the 115200 setting with linux.<br>
<p>
<i>&gt;   this should be included in the code !</i><br>
<p>
This shoul be corrected<br>
<p>
<i>&gt;   you have to tell the camera, which speed you want.</i><br>
<i>&gt; - camera is connected to RS232.</i><br>
<i>&gt; - no timing problems</i><br>
<i>&gt; - camera stores several pictures. (may be very many, depending on camera</i><br>
<i>&gt;   type)</i><br>
<i>&gt; - camera supports 2 formats. (high and low quality)</i><br>
<i>&gt; - camera stores pictures in JPEG !!!!!</i><br>
<i>&gt; - camera sends pictures in JPEG !!!!!</i><br>
<i>&gt; - need to convert JPEG to pnm in order to work with sane.</i><br>
<i>&gt; - converting from jpeg to pnm only to compress the picture after scannign</i><br>
<i>&gt;   it, with a JPEG compressor may be quality reducing.</i><br>
<i>&gt; - you cannot just say "SCAN". you must instead choose, WHAT you scan :-)</i><br>
<i>&gt; - SCAN is not the right word. remember, you can even tell the camera</i><br>
<i>&gt;   to shoot a picture via RS232, so SCAN mustn't be used for downloading,</i><br>
<i>&gt;   but shooting new pictures.</i><br>
<i>&gt; - this leads to problems. should the number of the picture to scan be</i><br>
<i>&gt;   a device parameter or what ?</i><br>
<i>&gt; - software can tell camera, wich picture to show on cameras LCD display.</i><br>
<i>&gt; </i><br>
<i>&gt; so there are various ways to develop program for camera.</i><br>
<i>&gt; </i><br>
<i>&gt; nice idea would be to download ALL thumbnail pictures, display them,</i><br>
<i>&gt; tag some, and start transfer afterwards.</i><br>
<i>&gt; (does this fit into SANE's way of doing things ?)</i><br>
<i>&gt; </i><br>
<i>&gt; the preview _window_ is not really useful ?</i><br>
<i>&gt; </i><br>
<i>&gt; perhaps for a first version it would be enough to choose the picture number</i><br>
<i>&gt; the way you choose the brightness of a quickcam. then you do</i><br>
<i>&gt; "Acquire Preview" and get the thumbnail image.</i><br>
<i>&gt; "Scan" Downloads the full image.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; unfortunately i am out of time, and i am no good in GTK prorgamming</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; the cameras in question are all casio digital cameras !</i><br>
<i>&gt; the driver already exists, and it works !</i><br>
<i>&gt; (but it is not SANE compatible)</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; remember: casio cameras are MANY :-) and i like them.</i><br>
<i>&gt; </i><br>
<i>&gt; byebye</i><br>
<i>&gt; Erik</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:erikyyy@studbox.uni-stuttgart.de">erikyyy@studbox.uni-stuttgart.de</a>                  \\\\</i><br>
<i>&gt;        <a href="mailto:thieleek@tick.informatik.uni-stuttgart.de">thieleek@tick.informatik.uni-stuttgart.de</a>         o `QQ'_</i><br>
<i>&gt; IRC:   erikyyy                                            /   __8</i><br>
<i>&gt; WWW:   <a href="http://wwwcip.rus.uni-stuttgart.de/~inf24628/">http://wwwcip.rus.uni-stuttgart.de/~inf24628/</a>      '  `</i><br>
<i>&gt;        <a href="http://tick.informatik.uni-stuttgart.de/~thieleek/">http://tick.informatik.uni-stuttgart.de/~thieleek/</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Dominik Strasser: "Re: xscanimgae in 0.73"</a>
<li> <b>Previous message:</b> <a href="0093.html">becka@rz.uni-duesseldorf.de: "Re: os/2 and Parallel scanners"</a>
<li> <b>In reply to:</b> <a href="0039.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Bernd Schroeder: "Re: Problems with Microtek ScanMaker 630"</a>
<!-- reply="end" -->
</ul>
