<!-- received="Sat Jun 13 11:51:47 1998 PDT" -->
<!-- sent="Sat, 13 Jun 1998 20:48:39 +0200 (CEST)" -->
<!-- name="Oliver Neukum" -->
<!-- email="neukum@fachschaft.org.chemie.uni-muenchen.de" -->
<!-- subject="which driver ?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: which driver ?</title>
<h1>which driver ?</h1>
<b>Oliver Neukum</b> (<a href="mailto:neukum@fachschaft.org.chemie.uni-muenchen.de"><i>neukum@fachschaft.org.chemie.uni-muenchen.de</i></a>)<br>
<i>Sat, 13 Jun 1998 20:48:39 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Kevin Turner: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0098.html">Mr Ada: "Re: os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dear Listmembers,<br>
which driver is to be used with that scanner:<br>
<p>
aha152x: processing commandline: ok<br>
aha152x: BIOS test: passed, detected 1 controller(s)<br>
aha152x0: vital data: PORTBASE=0x140, IRQ=9, SCSI ID=7, reconnect=disabled, parity=enabled, synchronous=disabled, delay=100, extended translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
scsi0 : Adaptec 152x SCSI driver; $Revision: 1.7 $<br>
scsi : 1 host.<br>
  Vendor: MII SC21  Model: MSF300ZS SCANNER  Rev: V4.2<br>
  Type:   Scanner                            ANSI SCSI revision: 02<br>
Detected scsi generic sga at scsi0, channel 0, id 1, lun 0<br>
scsi : detected total.<br>
<p>
written on it is:<br>
<p>
MICROTEK ScanMaker 600GS<br>
<p>
sane 0.73 does not autodetect it.<br>
<p>
TIA<br>
<p>
Oliver Neukum<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Kevin Turner: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0098.html">Mr Ada: "Re: os/2 and Parallel scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
