<!-- received="Mon Jun 15 11:54:04 1998 PDT" -->
<!-- sent="Mon, 15 Jun 1998 20:43:57 MET" -->
<!-- name="Bohumir Horeni" -->
<!-- email="horeni@login.cz" -->
<!-- subject="mustek backend in OS/2" -->
<!-- id="199806151844.UAA02725@lnx.int" -->
<!-- inreplyto="" -->
<title>sane-devel: mustek backend in OS/2</title>
<h1>mustek backend in OS/2</h1>
<b>Bohumir Horeni</b> (<a href="mailto:horeni@login.cz"><i>horeni@login.cz</i></a>)<br>
<i>Mon, 15 Jun 1998 20:43:57 MET</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#121">[ date ]</a><a href="index.html#121">[ thread ]</a><a href="subject.html#121">[ subject ]</a><a href="author.html#121">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Bernd Schroeder: "Re: Problems with Microtek ScanMaker 630"</a>
<li> <b>Previous message:</b> <a href="0120.html">Sreenivasa P. Sista: "LEO scanner - SCSI II - DTC3181E - help appreciated"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0145.html">Yuri Dario: "Re: mustek backend in OS/2"</a>
<li> <b>Reply:</b> <a href="0145.html">Yuri Dario: "Re: mustek backend in OS/2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OS/2 required minor changes in mustek backend ( testetd with MFS-12000SP<br>
firmware 1.02 ), maybe in other backends if fork() is used.<br>
<p>
(1) required for OS/2 if fork() used in backend<br>
-----------------------------------------------<br>
<p>
/*=============*/              <br>
/*sanei_scsi.c */<br>
/*=============*/<br>
               /* static int       */<br>
               /* open_aspi (void) */<br>
                <br>
297,298c297,298<br>
&lt;   rc = DosAllocSharedMem (&amp;aspi_buf, 0,  sanei_scsi_max_request_size,<br>
&lt;  	    OBJ_TILE | PAG_READ | PAG_WRITE | PAG_COMMIT | OBJ_GETTABLE );<br>
<pre>
---
&gt;   rc = DosAllocMem (&amp;aspi_buf, sanei_scsi_max_request_size,
&gt; 		    OBJ_TILE | PAG_READ | PAG_WRITE | PAG_COMMIT);
<p>
               /* new function for mustek backend  */
               /* ( umax, qcam ... )               */       
368,376d367
<p>
&lt; int sanei_fork_init()
&lt; {  
&lt; #if USE == OS2_INTERFACE
&lt;   if(DosOpenEventSem(0,&amp;postSema)||
&lt;      DosGetSharedMem(aspi_buf,PAG_READ|PAG_WRITE))return -1;
&lt; #endif
&lt;   return SANE_STATUS_GOOD;
&lt; }
&lt; 
               /*  #ifndef WE_HAVE_FIND_DEVICES */
               /*  missing parameter in         */
               /*  sanei_scsi_find_devices      */
2087d2077
&lt;                          const char *type,
<p>
/*===========================*/
/* mustek.c ( umax.c, .... ) */
/*===========================*/
<p>
 /*  s-&gt;reader_pid = fork (); */
 /*  if (s-&gt;reader_pid == 0)  */
 /*   {                       */
 /*     sigset_t ignore_set;  */
 /*     struct SIGACTION act; */
<p>
2760,2762d2759
&lt; 
&lt;       status=sanei_fork_init();
&lt;       if (status != SANE_STATUS_GOOD)_exit(status);
<p>
(2) Scanner MFS-12000SP firmware 1.02
-------------------------------------
<p>
 a)  stop_scan (s); failed in OS/2 
<p>
     if (DosWaitEventSem (postSema, -1) ||	  /* wait forever for sema. */
            DosResetEventSem (postSema, &amp;count))  /* reset semaphore. */
     really "wait forever" -&gt; ^C  ; work ok if stop_scan() removed
<p>
 b)  ? maybe better default value ( ... protection against exceeding
     the physical scan area height, ... small buffer 32kB etc. ) 
     s-&gt;val[OPT_BACKTRACK].w = SANE_TRUE;  /* SANE_FALSE; */ 
<p>
<p>
Regards
<p>
  Bohumir Horeni                     <a href="mailto:horeni@login.cz">horeni@login.cz</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Bernd Schroeder: "Re: Problems with Microtek ScanMaker 630"</a>
<li> <b>Previous message:</b> <a href="0120.html">Sreenivasa P. Sista: "LEO scanner - SCSI II - DTC3181E - help appreciated"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0145.html">Yuri Dario: "Re: mustek backend in OS/2"</a>
<li> <b>Reply:</b> <a href="0145.html">Yuri Dario: "Re: mustek backend in OS/2"</a>
<!-- reply="end" -->
</ul>
