<!-- received="Thu Jun 18 00:12:02 1998 PDT" -->
<!-- sent="Thu, 18 Jun 1998 09:10:22 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: mustek backend in OS/2" -->
<!-- id="199806180711.JAA28616@ammi.mclink.it" -->
<!-- inreplyto="mustek backend in OS/2" -->
<title>sane-devel: Re: mustek backend in OS/2</title>
<h1>Re: mustek backend in OS/2</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Thu, 18 Jun 1998 09:10:22 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#145">[ date ]</a><a href="index.html#145">[ thread ]</a><a href="subject.html#145">[ subject ]</a><a href="author.html#145">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Miguel Alvarez Blanco: "Mustek Paragon 1200 SP Pro"</a>
<li> <b>Previous message:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Maybe in reply to:</b> <a href="0121.html">Bohumir Horeni: "mustek backend in OS/2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 15 Jun 1998 20:43:57 MET, Bohumir Horeni wrote:<br>
<p>
<i>&gt;(1) required for OS/2 if fork() used in backend</i><br>
<p>
<p>
I found that it is more efficient to use a secondary thread for the reader process: I have patched the umax <br>
backend in SANE 0.73, moving the code<br>
<p>
  if (s-&gt;reader_pid == 0) <br>
   {  .... }<br>
<p>
into a function called OS2ReaderProcess, and then calling _beginthread() to run it.<br>
<p>
That's because the forked process doesn't inherit the semaphore used by AspiRout$, and also fork() is <br>
very inefficient under OS/2. I'm doing the same changes in the mustek backend.<br>
<p>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Miguel Alvarez Blanco: "Mustek Paragon 1200 SP Pro"</a>
<li> <b>Previous message:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Maybe in reply to:</b> <a href="0121.html">Bohumir Horeni: "mustek backend in OS/2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
