<!-- received="Thu Jun 18 11:58:20 1998 PDT" -->
<!-- sent="Wed, 17 Jun 1998 19:19:07 +0100" -->
<!-- name="Jim Ford" -->
<!-- email="jf001@watford.net" -->
<!-- subject="Re: SANE-0.73 crashes system" -->
<!-- id="" -->
<!-- inreplyto="SANE-0.73 crashes system" -->
<title>sane-devel: Re: SANE-0.73 crashes system</title>
<h1>Re: SANE-0.73 crashes system</h1>
<b>Jim Ford</b> (<a href="mailto:jf001@watford.net"><i>jf001@watford.net</i></a>)<br>
<i>Wed, 17 Jun 1998 19:19:07 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Chris Sparks: "Re: SANE-0.73 crashes system"</a>
<li> <b>Previous message:</b> <a href="0147.html">Simon Redwood: "GI1904 based Hand scanner"</a>
<li> <b>In reply to:</b> <a href="0039.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Chris Sparks: "Re: SANE-0.73 crashes system"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bruce F. Press wrote:<br>
<p>
<i>&gt; have access to the two pseudo devices (pnm 0 and 1).  Once the</i><br>
<i>&gt; scanner is recognized I get a kernel panic on startup of the</i><br>
<i>&gt; sane software.</i><br>
<p>
You lucky, lucky bastard - I can't even get my scanner to be recognised by<br>
sane!  The kernal finds the SCSI card and scanner on boot, but I don't get a<br>
/dev/scanner, only a /dev/sga.<br>
<p>
I've all but given up on SANE  - also getting  colour prints to match those<br>
with Win 95 . It's grotesque using Linux all the time, but having to shutdown<br>
and boot into Win 95  whenever I want to scan or print!<br>
<p>
Regards: Jim Ford<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Chris Sparks: "Re: SANE-0.73 crashes system"</a>
<li> <b>Previous message:</b> <a href="0147.html">Simon Redwood: "GI1904 based Hand scanner"</a>
<li> <b>In reply to:</b> <a href="0039.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Chris Sparks: "Re: SANE-0.73 crashes system"</a>
<!-- reply="end" -->
</ul>
