<!-- received="Thu Jun 18 15:32:36 1998 PDT" -->
<!-- sent="Fri, 19 Jun 1998 00:33:57 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: Rebuild with VisualAge C++" -->
<!-- id="199806182231.AAA13557@ammi.mclink.it" -->
<!-- inreplyto="Rebuild with VisualAge C++" -->
<title>sane-devel: Re: Rebuild with VisualAge C++</title>
<h1>Re: Rebuild with VisualAge C++</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Fri, 19 Jun 1998 00:33:57 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Previous message:</b> <a href="0154.html">Mark Dennehy: "Sane at high framerates ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Wolfgang Kaess: "Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 18 Jun 1998 17:28:46 -0400, Wolfgang Kaess wrote:<br>
<p>
<i>&gt;#define lseek fseek</i><br>
<i>&gt;#define read fread</i><br>
<i>&gt;#define write fwrite</i><br>
<i>&gt;#define close fclose</i><br>
<i>&gt;The above 4 procs gives a warning about different params.</i><br>
<p>
lseek uses a int handle, while fseek requires a pointer to a FILE structure. You can't mix them.<br>
<p>
<i>&gt;As for now I got a runing exe but not a running program.</i><br>
<i>&gt;I don't want to use the "ASPIROUT" because I use the Orignal HP Adapter Card.</i><br>
<p>
AspiRout is only a SCSI message router: it allow programs to access the scsi bus (under OS/2 only a <br>
driver can do this).<br>
<p>
<i>&gt; </i><br>
<i>&gt;Have you also trouble with above 4 procs ?</i><br>
<p>
download SANE 0.72 from my homepage, <br>
<p>
<a href="http://www.geocities.com/SiliconValley/Peaks/4320">http://www.geocities.com/SiliconValley/Peaks/4320</a><br>
<p>
where you can get a working DLL that could be used with your program.<br>
<p>
Bye,<br>
<p>
	Yuri<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Previous message:</b> <a href="0154.html">Mark Dennehy: "Sane at high framerates ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Wolfgang Kaess: "Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<!-- reply="end" -->
</ul>
