<!-- received="Fri Jun 19 08:42:39 1998 PDT" -->
<!-- sent="Fri, 19 Jun 1998 17:39:42 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Mustek ScanMagic 9636 P" -->
<!-- id="" -->
<!-- inreplyto="358A1BAC.1E918EA2@tytan.umcs.lublin.pl" -->
<title>sane-devel: Re: Mustek ScanMagic 9636 P</title>
<h1>Re: Mustek ScanMagic 9636 P</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 19 Jun 1998 17:39:42 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Jon Schneider: "Mustek patches(s)"</a>
<li> <b>Previous message:</b> <a href="0163.html">Andre Schroeter: "support for slides on hp scanjet 4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 19 Jun 1998, mirekp wrote:<br>
<p>
<i>&gt; I'm "Mustek ScanMagic 9636 P " flatbet scaner owner and Linux user so</i><br>
<i>&gt; I'd like to use this scaner</i><br>
<i>&gt; under Linux but I can't because it is not work.</i><br>
<i>&gt; find-scaner -v  /dev/lp0 can't  find it</i><br>
<i>&gt; This is  parallel scaner not SCSI. What should I do to work properly ?</i><br>
<p>
Write a driver I fear.<br>
<p>
Support for parallel port scanners is still minimal as scanner builders<br>
are reluctant to give programmers info and they are even more scared to<br>
give info on parallel scnanners as it seems.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Jon Schneider: "Mustek patches(s)"</a>
<li> <b>Previous message:</b> <a href="0163.html">Andre Schroeter: "support for slides on hp scanjet 4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
