<!-- received="Sat Jun 20 09:45:31 1998 PDT" -->
<!-- sent="Sat, 20 Jun 1998 17:37:51 +0100" -->
<!-- name="Jim Ford" -->
<!-- email="jf001@watford.net" -->
<!-- subject="UMax 1220S" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMax 1220S</title>
<h1>UMax 1220S</h1>
<b>Jim Ford</b> (<a href="mailto:jf001@watford.net"><i>jf001@watford.net</i></a>)<br>
<i>Sat, 20 Jun 1998 17:37:51 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Oliver Rauch: "Re: UMax 1220S"</a>
<li> <b>Previous message:</b> <a href="0170.html">Christian Reiser: "aha1522 + scanmaker e6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0173.html">Zach Fine: "Re: UMax 1220S"</a>
<li> <b>Reply:</b> <a href="0173.html">Zach Fine: "Re: UMax 1220S"</a>
<li> <b>Reply:</b> <a href="0174.html">Nicolas Lucas de Peslouan: "Re: UMax 1220S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is  to report that the Umax  Astra 1220S - the latest in the 1200<br>
series  - appears to work fine with SANE, with no nasty noises from the<br>
mechanism! The resolution on xscanimage only goes up to 600dpi though<br>
(but see below)<br>
<p>
The main problems I'm having are now related to my Epson ST600 printer.<br>
For a start I can't get the pnmtops - or any other of the netpbm tools<br>
to work - they all want the  libtiff.so.1 library, which I havn't been<br>
able to locate. The other problem is that whilst the screen image is<br>
true to the original, the printed image is not. I'm using the<br>
stc600p.upp  Alladin GS  5.10 filter (which works much better than the<br>
st600 filter - which _drenches_ the paper with ink!)<br>
<p>
Whilst on the subject of scanning, the issues of scanner verses printer<br>
resolution appear to be more complicated than meets the eye. Are there<br>
any rules of thumb or  is there a book `How to get the best from your<br>
Scanner' available?<br>
<p>
Why does my scanner provide resolutions up to 9600 dpi when the default<br>
resolution for photos seems to be 100 and OCR 300? What use is 9600 -<br>
scanning postage stamps?<br>
<p>
Regards: Jim Ford<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Oliver Rauch: "Re: UMax 1220S"</a>
<li> <b>Previous message:</b> <a href="0170.html">Christian Reiser: "aha1522 + scanmaker e6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0173.html">Zach Fine: "Re: UMax 1220S"</a>
<li> <b>Reply:</b> <a href="0173.html">Zach Fine: "Re: UMax 1220S"</a>
<li> <b>Reply:</b> <a href="0174.html">Nicolas Lucas de Peslouan: "Re: UMax 1220S"</a>
<!-- reply="end" -->
</ul>
