<!-- received="Sun Jun 21 09:54:09 1998 PDT" -->
<!-- sent="Sun, 21 Jun 1998 12:53:17 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Unbelievable Marketing Hype (Was: UMax 1220S)" -->
<!-- id="m0ynnMj-000J3mC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Unbelievable Marketing Hype (Was: UMax 1220S)" -->
<title>sane-devel: Re: Unbelievable Marketing Hype (Was: UMax 1220S)</title>
<h1>Re: Unbelievable Marketing Hype (Was: UMax 1220S)</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sun, 21 Jun 1998 12:53:17 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#178">[ date ]</a><a href="index.html#178">[ thread ]</a><a href="subject.html#178">[ subject ]</a><a href="author.html#178">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Paul Nixon: "parallel port scanners"</a>
<li> <b>Previous message:</b> <a href="0177.html">Gunnar Weikamp: "Mustek Scanner 12000SP gives wrong SCSI-Information"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
   From: <a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a><br>
   Date: Sun, 21 Jun 1998 12:13:54 +0200 (MET DST)<br>
   ...<br>
   Visible light ranges at around 400-700nm. Let's have a look at the<br>
   red component (longest wavelength) and assume we look at a bright red<br>
   at 620nm.<br>
<p>
   Now there is a simple calculation:<br>
<p>
   MaxDPI = 1 Inch / MinimumDotSize <br>
<p>
   MaxDPI = 25.4 mm / 620nm = 25.4e-3 / 620e-9 = 25.4/620 * 1e+6 = 40968.<br>
<p>
   That means the marketing folks have only two numbers left, if they don't <br>
   want to advertise beyond physical limits of real achieveable resolution :<br>
   19200 and 38400 (assuming they keep going up in *2 increments).<br>
<p>
<p>
Cool!  So then, if my lowly E6 were advertized to do 40968 dpi scans,<br>
 I could use it to copy CD's!!!<br>
<p>
(Although, due to the interpolation, the audio would be automatically<br>
 downsampled to 6kHz instead of 44.1kHz -- oh, well. :)<br>
<p>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Paul Nixon: "parallel port scanners"</a>
<li> <b>Previous message:</b> <a href="0177.html">Gunnar Weikamp: "Mustek Scanner 12000SP gives wrong SCSI-Information"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
