<!-- received="Sun Jan  3 15:53:52 1999 PST" -->
<!-- sent="Mon, 4 Jan 1999 00:52:37 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Problems compiling" -->
<!-- id="" -->
<!-- inreplyto="368FC6CF.DAD0DCF3@shiresoft.com" -->
<title>sane-devel: Re: Problems compiling</title>
<h1>Re: Problems compiling</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Mon, 4 Jan 1999 00:52:37 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Khoo Ee Lek: "IntreScan"</a>
<li> <b>Next message:</b> <a href="0034.html">Kyle Lahnakoski: "Mustek 1200 LP"</a>
<li> <b>Next message:</b> <a href="0034.html">Martin Mevald: "Re: Umax Astra 610P Support"</a>
<li> <b>Next message:</b> <a href="0034.html">Matthew: "Microtek2 Development Progress"</a>
<li> <b>Previous message:</b> <a href="0032.html">Guy G. Sotomayor: "Re: Problems compiling"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 3 Jan 1999, Guy G. Sotomayor wrote:<br>
<p>
<i>&gt; Hugo van der Kooij wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; On Sun, 3 Jan 1999, Michael J Surette wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; I am running Stampede Linux w/2.0.26 kernel and pgcc -2.91.57.  I am</i><br>
<i>&gt; &gt; &gt; trying to compile sane-1.00.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; On my first try backend/abaton.c gave me an error on line 1116.  I changed</i><br>
<i>&gt; &gt; &gt; it from...</i><br>
<i>&gt; &gt; &gt;           s-&gt;val[OPT_X_RESOLUTION] = *(SANE_Word *)val;</i><br>
<i>&gt; &gt; &gt; to...</i><br>
<i>&gt; &gt; &gt;           s-&gt;val[OPT_X_RESOLUTION].w = *(SANE_Word *)val;</i><br>
<i>&gt; &gt; &gt; and that file gave me no more problems.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; This *isn't* a compiler problem.</i><br>
<p>
I didn't say that. The posting indicated a required fix in the sources.<br>
Usually not something I would associate with a compiler problem.<br>
<p>
<i>&gt; &gt; &gt; umax.c now gives me a 'virtual memory exhausted' error (see below).  I</i><br>
<i>&gt; &gt; &gt; have 32Mb of ram and a 64Mb swap partition.  Shouldn't this be enough?</i><br>
<i>&gt; &gt; &gt; Any ideas?</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; This *is* a compiler problem.  Although it also appears on the RH5.1</i><br>
<i>&gt; sparc/Linux too.</i><br>
<p>
Didn't I say so?<br>
<p>
<i>&gt; &gt; This is a compiler problem!</i><br>
<p>
Right here!<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Khoo Ee Lek: "IntreScan"</a>
<li> <b>Next message:</b> <a href="0034.html">Kyle Lahnakoski: "Mustek 1200 LP"</a>
<li> <b>Next message:</b> <a href="0034.html">Martin Mevald: "Re: Umax Astra 610P Support"</a>
<li> <b>Next message:</b> <a href="0034.html">Matthew: "Microtek2 Development Progress"</a>
<li> <b>Previous message:</b> <a href="0032.html">Guy G. Sotomayor: "Re: Problems compiling"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
