<!-- received="Mon Jan  4 08:15:02 1999 PST" -->
<!-- sent="Mon, 4 Jan 1999 16:13:40 +0000" -->
<!-- name="Julian Coleman" -->
<!-- email="J.D.Coleman@newcastle.ac.uk" -->
<!-- subject="Re: SANE umax/NetBSD problem" -->
<!-- id="" -->
<!-- inreplyto="368E0DF5.CF3F7789@wolfsburg.de" -->
<title>sane-devel: Re: SANE umax/NetBSD problem</title>
<h1>Re: SANE umax/NetBSD problem</h1>
<b>Julian Coleman</b> (<a href="mailto:J.D.Coleman@newcastle.ac.uk"><i>J.D.Coleman@newcastle.ac.uk</i></a>)<br>
<i>Mon, 4 Jan 1999 16:13:40 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Christian Ordig: "RE: Primax scanners"</a>
<li> <b>Previous message:</b> <a href="0046.html">Arun Tanksali: "TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Jeff Weisberg wrote:</i><br>
<i>&gt; I am trying to use a Umax Astra 1220S on a NetBSD (1.3I, sparc)</i><br>
<i>&gt; with SANE (1.00).</i><br>
<i>&gt; The kernel recogizes the scanner:</i><br>
<i>&gt;     ss0 at scsibus0 targ 5 lun 0: &lt;UMAX, Astra 1220S, V1.3&gt; SCSI2 6/scanner fixed</i><br>
<p>
The problem here is that the PiNT code built into NetBSD is finding the<br>
scanner and attaching it (as /dev/ss0).  The PiNT interface has no support<br>
for the userland SCSI that SANE uses.  To get round this, you'll need to<br>
build a kernel without SCSI scanner support but with SCSI unknown support.<br>
The scanner will then show up as /dev/uk0.<br>
<p>
J<br>
<p>
Who has an HP 4P on his NetBSD(1.3.2)/sparc system.<br>
<p>
<pre>
-- 
"Railways have always been plagued by politicians, and it is not hard to
think that Robert Stephenson had the right idea when he drove his engine
over one of them at the opening of the Liverpool &amp; Manchester Railway"
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Christian Ordig: "RE: Primax scanners"</a>
<li> <b>Previous message:</b> <a href="0046.html">Arun Tanksali: "TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
