<!-- received="Mon Jan  4 13:25:32 1999 PST" -->
<!-- sent="Sun, 03 Jan 1999 20:29:45 +0300" -->
<!-- name="Antony Kazintsev" -->
<!-- email="antoha17@mtu-net.ru" -->
<!-- subject="Mustek SE 12000SP Problems" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek SE 12000SP Problems</title>
<h1>Mustek SE 12000SP Problems</h1>
<b>Antony Kazintsev</b> (<a href="mailto:antoha17@mtu-net.ru"><i>antoha17@mtu-net.ru</i></a>)<br>
<i>Sun, 03 Jan 1999 20:29:45 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Dan Bizuneh: "MUSTEK 1200 III EP Scanner"</a>
<li> <b>Previous message:</b> <a href="0054.html">Oliver Rauch: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
We have next problem with installation. We have no *.inf and no *.drv<br>
files for SCANNER! Win95 after it found scanner asking for inf file and<br>
... nothing. Where we can download only inf files without other<br>
programes.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Dan Bizuneh: "MUSTEK 1200 III EP Scanner"</a>
<li> <b>Previous message:</b> <a href="0054.html">Oliver Rauch: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
