<!-- received="Mon Jan  4 14:24:24 1999 PST" -->
<!-- sent="Mon, 04 Jan 1999 17:23:26 -0500" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="Re: TWAIN - SANE interface : announce" -->
<!-- id="" -->
<!-- inreplyto="TWAIN - SANE interface : announce" -->
<title>sane-devel: Re: TWAIN - SANE interface : announce</title>
<h1>Re: TWAIN - SANE interface : announce</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Mon, 04 Jan 1999 17:23:26 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">David Huggins-Daines: "Re: abaton 300 GS"</a>
<li> <b>Previous message:</b> <a href="0066.html">Chris Sparks: "Re: Scanner compatibility list"</a>
<li> <b>Maybe in reply to:</b> <a href="0046.html">Arun Tanksali: "TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I now see what you mean, the "twain UI" is not distributed as source... ;-(((<br>
<p>
/ac<br>
<p>
Brian Macy wrote:<br>
<p>
<i>&gt; &gt;TWAIN looks good, and I know it's the first version and there will be many</i><br>
<i>&gt; more.</i><br>
<i>&gt; &gt;one problem I notice with most frontend, is that they are developped and</i><br>
<i>&gt; tested</i><br>
<i>&gt; &gt;for one backend and the authors has to rely on fixes from other tester, but</i><br>
<i>&gt; &gt;unfortunatly and often fixes/changes seem to be lost or not implemented.</i><br>
<i>&gt;</i><br>
<i>&gt; Unfortunately in this case the source isn't available for the TWAIN DLL so</i><br>
<i>&gt; we can't be of any help.</i><br>
<i>&gt;</i><br>
<i>&gt; Brian Macy</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">David Huggins-Daines: "Re: abaton 300 GS"</a>
<li> <b>Previous message:</b> <a href="0066.html">Chris Sparks: "Re: Scanner compatibility list"</a>
<li> <b>Maybe in reply to:</b> <a href="0046.html">Arun Tanksali: "TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<!-- reply="end" -->
</ul>
