<!-- received="Mon Jan  4 15:52:30 1999 PST" -->
<!-- sent="Tue, 05 Jan 1999 00:52:03 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Compilation problems" -->
<!-- id="" -->
<!-- inreplyto="Compilation problems" -->
<title>sane-devel: Re: Compilation problems</title>
<h1>Re: Compilation problems</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 05 Jan 1999 00:52:03 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Chris Pinkham: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0070.html">Jeff DeFouw: "Re: MUSTEK 1200 III EP Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:lduperval@sprint.ca">lduperval@sprint.ca</a> wrote:<br>
<p>
<i>&gt; preview.o(.text+0x1f28): undefined reference to `gtk_type_check_object_cast'</i><br>
<i>&gt; xscanimage.o(.text+0x6fb): undefined reference to `gtk_type_check_object_cast'</i><br>
<i>&gt;</i><br>
<p>
  Hi,<br>
<p>
it looks like you have an old gtk-version istalled.<br>
<p>
Remove all gtk-versions and reinstall a recent one.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Chris Pinkham: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0070.html">Jeff DeFouw: "Re: MUSTEK 1200 III EP Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
