<!-- received="Tue Jan  5 08:09:48 1999 PST" -->
<!-- sent="Tue, 5 Jan 1999 16:53:49 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek2 Development Progress" -->
<!-- id="" -->
<!-- inreplyto="XFMail.981229120122.matthew@mattshouse.com" -->
<title>sane-devel: Re: Microtek2 Development Progress</title>
<h1>Re: Microtek2 Development Progress</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Tue, 5 Jan 1999 16:53:49 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Peter Kirchgessner: "Re: Works fine, now (Was: Re: SANE sees only 1 of 2 scanners)"</a>
<li> <b>Previous message:</b> <a href="0079.html">Bernd Schroeder: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Dec 29, 1998 at 12:01:22PM -0600, Matthew wrote:<br>
<i>&gt; </i><br>
<i>&gt;   I noticed that the microtek2 development doesn't have a web page.  I own one</i><br>
<i>&gt; of these scanners, and use the driver.  I can't contribute with code, so I</i><br>
<i>&gt; would like to contribute with some free webspace.  Do you know how I can get a</i><br>
<i>&gt; hold of the author?</i><br>
<p>
Thanks for the offer, but lack of webspace is not the problem, it is the<br>
lack of input. :( I started recently to write a web page, but thought, that<br>
it contains still not enough information, and it not worth to be published.<br>
<p>
According to the mails I receive, a lot of people seem to have problems<br>
to get their devices running with SCSI adapters other than the AVA1505.<br>
If people who had such problems, would tell me what the symptoms were and how<br>
exactly they solved them (along with adapter settings, module parameters,..)<br>
I could publish this. I think, that this would be useful information.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Peter Kirchgessner: "Re: Works fine, now (Was: Re: SANE sees only 1 of 2 scanners)"</a>
<li> <b>Previous message:</b> <a href="0079.html">Bernd Schroeder: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
