<!-- received="Tue Jan  5 21:02:47 1999 PST" -->
<!-- sent="Mon, 4 Jan 1999 12:19:32 -0800 (PST)" -->
<!-- name="tjk@tksoft.com" -->
<!-- email=""tjk@tksoft.com"" -->
<!-- subject="Memorex / Laptop parallel ports" -->
<!-- id="199901042019.MAA20764@gyw.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Memorex / Laptop parallel ports</title>
<h1>Memorex / Laptop parallel ports</h1>
<b>tjk@tksoft.com</b> (<a href="mailto:"tjk@tksoft.com""><i>"tjk@tksoft.com"</i></a>)<br>
<i>Mon, 4 Jan 1999 12:19:32 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">marvin stodolsky: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Previous message:</b> <a href="0088.html">Cederik De Leon: "Drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0090.html">marvin stodolsky: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Reply:</b> <a href="0090.html">marvin stodolsky: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Reply:</b> <a href="0102.html">Raymond A. Ingles: "Re: Memorex / Laptop parallel ports"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dear list members,<br>
I am begging for your indulgence with a few questions.<br>
<p>
Question A: Does anyone have a Memorex scanner?<br>
<p>
Question B: Does anyone know about the requirements <br>
            for using a parellel port scanner on a laptop?<br>
<p>
I got the scanner, and installed SANE 1.0, in the hopes<br>
I would be able to figure out a way to connect the scanner<br>
to my laptop.<br>
<p>
If I understand correctly, I should see the scanner <br>
listed if it is supported by entering "scanimage -L." <br>
I had no luck there. Only the two virtual devices <br>
showed up.<br>
<p>
I am not confident with the cabling either, as<br>
I am using a Toshiba laptop which only has<br>
one parallel port for a printer, with a female<br>
connector. I have the two connected to each other with<br>
an RS-232C serial cable. It would seem to me that<br>
this setup is not going to work, but since I don't<br>
know what other setup would, I tried it anyway.<br>
<p>
I also tried the serial port, using a DB9/DB25<br>
cable for serial printers. No luck there either.<br>
<p>
If anyone knows what type of cable would work, if<br>
any will at all, I would greatly appreciate hearing from <br>
you.<br>
<p>
P.S. If no backend exists for Memorex, how does the process work<br>
     foradding a new backend. I looked at microtec and umax backend<br>
     code, and they seemed rather voluminous. There were <br>
     some common threads, but I didn't look further<br>
     as scanners are a new beast for me, and I figured I<br>
     would be better off asking first. This is not an offer<br>
     to write a driver. I am just curious. Who knows if I decide<br>
     to write one in the future, once I am familiar with<br>
     what we are dealing with here.<br>
<p>
<p>
Thanks a million,<br>
<p>
<p>
Troy<br>
<p>
Troy Korjuslommi                Tksoft OY, Inc.<br>
<a href="mailto:tjk@tksoft.com">tjk@tksoft.com</a>                  Software Development<br>
                                Open Source Solutions<br>
                                Hosting Services<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">marvin stodolsky: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Previous message:</b> <a href="0088.html">Cederik De Leon: "Drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0090.html">marvin stodolsky: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Reply:</b> <a href="0090.html">marvin stodolsky: "Re: Memorex / Laptop parallel ports"</a>
<li> <b>Reply:</b> <a href="0102.html">Raymond A. Ingles: "Re: Memorex / Laptop parallel ports"</a>
<!-- reply="end" -->
</ul>
