<!-- received="Wed Jan  6 05:03:32 1999 PST" -->
<!-- sent="Wed, 6 Jan 1999 14:00:07 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: I need Help???" -->
<!-- id="199901061300.OAA02392@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="000501be385c$6f25af80$91171ccb@ntwork" -->
<title>sane-devel: Re: I need Help???</title>
<h1>Re: I need Help???</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 6 Jan 1999 14:00:07 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">John Stoffel: "Re: xscanimage won't launch"</a>
<li> <b>Previous message:</b> <a href="0093.html">Shad: "Re: 25pin SCSI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I need to modify a flat bed scanner to scan upto a 1 metre lenght at 600dpi.</i><br>
<p>
Oh ... I suppose you know about the mechanical implications of that task - right ?<br>
<p>
<i>&gt; Is it possible to use SANE to give the necessary low level instructions to</i><br>
<i>&gt; the scanner or would it have to be down through the eprom controler?</i><br>
<p>
At least the Mustek scanners used to happily go beyond physical limits, <br>
if asked to do so by the software.<br>
<p>
I don't know, if it lasts for one metre, but the scanner wagon crashes into<br>
the end of the rail, if the length given is too long.<br>
<p>
You just need to modify a const in SANE to allow that.<br>
<p>
<p>
Also make sure you get a scanner, that moves the optics as a whole.<br>
<p>
Some models are known to have the CCD at the back and use some clever <br>
system of guiding wires to move a 45 degree mirror and the focussing<br>
optics under the tray.<br>
This would probably be very hard to extend to 1m.<br>
<p>
<i>&gt; Do modern day scanners position by stepper motor counts or some other means?</i><br>
<p>
I'd say so. though the microcontroller usually takes care of the stepping<br>
itself.<br>
<p>
<i>&gt; Where is the auto calibration functions coming from? </i><br>
<p>
You mean the alignment of the three colours ? depends. Some do it in the <br>
scanner, some after transmission.<br>
<p>
Or things like AccuPage ? I.e. auto-adjusting brightness/contrast ?<br>
<p>
These are often done in software. You scan a bit, analyze it, and tell the <br>
scanner to adjust its gain/offset.<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">John Stoffel: "Re: xscanimage won't launch"</a>
<li> <b>Previous message:</b> <a href="0093.html">Shad: "Re: 25pin SCSI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
