<!-- received="Tue Jan 12 23:00:10 1999 PST" -->
<!-- sent="Tue, 12 Jan 1999 23:25:39 -0700 (MST)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: TWAIN - SANE interface : announce" -->
<!-- id="199901130625.XAA15113@andreas.dilger.net" -->
<!-- inreplyto="Pine.LNX.3.96.990104152925.27263A-100000@pixie.localdomain" -->
<title>sane-devel: Re: TWAIN - SANE interface : announce</title>
<h1>Re: TWAIN - SANE interface : announce</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Tue, 12 Jan 1999 23:25:39 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0114.html">Petter Reinholdtsen: "Re: New and improved development model?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Arun writes:<br>
<i>&gt; A simple but functional interface (WinSANE) is available for download. </i><br>
<i>&gt; I have tested with a Mustek 1200 scanner. Tested with Win 95/98 PCs.</i><br>
<i>&gt; Seems to work OK. There are a few more things I would have liked to add,</i><br>
<i>&gt; but had to leave out(usual reasons - time etc.). A decent progress bar for</i><br>
<i>&gt; one would have made scanning more easier (right now, you have a dumb box</i><br>
<i>&gt; telling you that it will take some time to scan).</i><br>
<i>&gt; I would appreciate feedback from the many people who wanted to try it out. </i><br>
<p>
I have tested the software on Windows (version 0.9 dated Dec 31).  The<br>
sanedll and scanimage appeared to work properly - I could scan an image<br>
from Win95 with the scanner on my Linux box, and the .ppm images were<br>
identical.<br>
<p>
However, I had problems with the TWAIN interface using Adobe PhotoDeluxe<br>
that was shipped with the UMAX 1220S scanner.  I configured the .ini<br>
file to point to my scanner, and the TWAIN_32 interface appeared OK.<br>
When I selected the TWAIN_32 source, WinSANE Ver 0.9 started, with my<br>
scanner selected.<br>
<p>
However, some of the parameters (eg Mode, Resolution, and Scan-size) in<br>
the GUI did not match what was in the .ini file.  I tried scanning<br>
several times, and each time either WinSANE would report "Scan failed"<br>
or I would get a white image back.  There was a flicker of disk activity<br>
on the Linux server, but no scanner activity at all.  I was watching<br>
"top", and did not see if saned started.  However, my scanner kernel-module<br>
was loaded, so I assume saned started and stopped very quickly.<br>
<p>
I also tried running "saned -d 128" as root to see if there were any<br>
debug messages, but nothing appeared on the console.  However, no debug<br>
messages appeared when I used scanimage and xscanimage on my SANE server<br>
either (bug/omission in saned or stupidity on my part?).  Unfortunately<br>
I can't see what's wrong with WinSANE, since the source isn't available...<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger  University of Calgary \ "If a man ate a pound of pasta and
                Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \  cancel out, leaving him still
&lt;<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>&gt;    hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0114.html">Petter Reinholdtsen: "Re: New and improved development model?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
