<!-- received="Fri Jan 15 04:28:39 1999 PST" -->
<!-- sent="Fri, 15 Jan 1999 12:28:21 +0000" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Horizotal offset with Mustek SE 6000 SP" -->
<!-- id="" -->
<!-- inreplyto="Horizotal offset with Mustek SE 6000 SP" -->
<title>sane-devel: Re: Horizotal offset with Mustek SE 6000 SP</title>
<h1>Re: Horizotal offset with Mustek SE 6000 SP</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Fri, 15 Jan 1999 12:28:21 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Jan Christopher Bernauer: "tamarack scanner"</a>
<li> <b>Previous message:</b> <a href="0119.html">Heinrich Rebehn: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Heinrich Rebehn wrote:<br>
<p>
<i>&gt; yes, it is. BTW i still have the # linedistance-fix and the lineart-fix</i><br>
<i>&gt; options enabled although they may not be necessary (they come as</i><br>
<i>&gt; default). Can they produce this effect?</i><br>
<p>
No, certainly not. But nonetheless, comment them out.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Jan Christopher Bernauer: "tamarack scanner"</a>
<li> <b>Previous message:</b> <a href="0119.html">Heinrich Rebehn: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
