<!-- received="Mon Jan 18 20:02:11 1999 PST" -->
<!-- sent="Fri, 08 Jan 1999 22:59:19 +0100" -->
<!-- name="Andreas Wolpers" -->
<!-- email="Andreas.Wolpers@t-online.de" -->
<!-- subject="Epson FilmScan200" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson FilmScan200</title>
<h1>Epson FilmScan200</h1>
<b>Andreas Wolpers</b> (<a href="mailto:Andreas.Wolpers@t-online.de"><i>Andreas.Wolpers@t-online.de</i></a>)<br>
<i>Fri, 08 Jan 1999 22:59:19 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Wolfgang Platzer: "Olympus Digital Cameras!"</a>
<li> <b>Previous message:</b> <a href="0135.html">John M. Mills: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I just installed sane1.00 and ran it against an Epson FilmScan200, using<br>
the Epson flatbet scanner backend.<br>
<p>
Didn't work, of course...<br>
<p>
Well, it's not that bad: After adding the device name in the setup code <br>
and inserting a simple sense_handler, I can scan the first frame on<br>
the negative carrier (or a part of the first frame of the slide<br>
carrier).<br>
<p>
Setting scan resolution, halftome/color, prescan seem to work.<br>
<p>
Right now, I should be writing up my PhD thesis. After that<br>
(spring/summer), <br>
I might have some spare time to try to make the thing really usable. For<br>
this,<br>
it would of course be helpful to have some internal technical info about<br>
the device.<br>
[ Esp. for switching between slide/negative carriers, and selecting<br>
slide/negative mode ]<br>
Alternatively (I'm window-illiterate), is there any tool for Win9x to<br>
log<br>
scsi commands etc? I have s.th. somewhere to monitor what seems to be<br>
the equivalent<br>
of system calls, which might do the trick, but it requires a mouse click<br>
per system call,<br>
which might take some time...<br>
<p>
I'm changing my net config every 5 minutes, please make sure any replies<br>
go to <br>
<a href="mailto:wolpers@dfki.de">wolpers@dfki.de</a><br>
<p>
Thanks &amp; Regards,<br>
Andreas<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Wolfgang Platzer: "Olympus Digital Cameras!"</a>
<li> <b>Previous message:</b> <a href="0135.html">John M. Mills: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
