<!-- received="Mon Jan 18 20:08:58 1999 PST" -->
<!-- sent="Mon, 11 Jan 1999 16:19:09 +0000" -->
<!-- name="malcolm@cs.york.ac.uk" -->
<!-- email="malcolm@cs.york.ac.uk" -->
<!-- subject="Re: Symbios Logic 53C400A problems" -->
<!-- id="" -->
<!-- inreplyto="Symbios Logic 53C400A problems" -->
<title>sane-devel: Re: Symbios Logic 53C400A problems</title>
<h1>Re: Symbios Logic 53C400A problems</h1>
<a href="mailto:malcolm@cs.york.ac.uk"><i>malcolm@cs.york.ac.uk</i></a><br>
<i>Mon, 11 Jan 1999 16:19:09 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Michael Ivanov: "Symbios Logic 53C400A problems"</a>
<li> <b>Previous message:</b> <a href="0141.html">Pekka Parviainen: "My scanner is the exotic type ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Michael Ivanov: "Symbios Logic 53C400A problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I'm trying to hook up ScanJet 4C with Symbios Logic card</i><br>
<i>&gt; (53C400A, which came with the scanner)</i><br>
<p>
There is a kernel patch available (called mustek-scsi-patch-0.5 I think)<br>
which allows the g_NCR5380 driver to cover the 53c400a card as well.<br>
I have a 53c400a card which came with my Artec scanner, and although it<br>
requires a bit of fiddling, the scsi card now seems to work.<br>
<p>
Regards,<br>
    Malcolm<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Michael Ivanov: "Symbios Logic 53C400A problems"</a>
<li> <b>Previous message:</b> <a href="0141.html">Pekka Parviainen: "My scanner is the exotic type ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Michael Ivanov: "Symbios Logic 53C400A problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
