<!-- received="Mon Jan 18 23:17:43 1999 PST" -->
<!-- sent="Thu, 14 Jan 1999 15:12:07 PST" -->
<!-- name="Ralph Kulgere" -->
<!-- email="mysticalflame@hotmail.com" -->
<!-- subject="Mustek TwainScan 600 III EP Plus" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek TwainScan 600 III EP Plus</title>
<h1>Mustek TwainScan 600 III EP Plus</h1>
<b>Ralph Kulgere</b> (<a href="mailto:mysticalflame@hotmail.com"><i>mysticalflame@hotmail.com</i></a>)<br>
<i>Thu, 14 Jan 1999 15:12:07 PST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">David M. Ronis: "Problem in sane-1.00"</a>
<li> <b>Previous message:</b> <a href="0149.html">VSW: "BeOS R4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0168.html">Gregory Skrivan: "Re: Mustek TwainScan 600 III EP Plus"</a>
<li> <b>Reply:</b> <a href="0168.html">Gregory Skrivan: "Re: Mustek TwainScan 600 III EP Plus"</a>
<li> <b>Reply:</b> <a href="0188.html">Dirk: "Re: Mustek TwainScan 600 III EP Plus"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Do you know of any working drivers for this scanner that are released or <br>
in development? Its a parallel port scanner with a passthrough cable for <br>
the printer. Any help would be appreciated. Thanks.<br>
<p>
-Ralph<br>
<p>
______________________________________________________<br>
Get Your Private, Free Email at <a href="http://www.hotmail.com">http://www.hotmail.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">David M. Ronis: "Problem in sane-1.00"</a>
<li> <b>Previous message:</b> <a href="0149.html">VSW: "BeOS R4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0168.html">Gregory Skrivan: "Re: Mustek TwainScan 600 III EP Plus"</a>
<li> <b>Reply:</b> <a href="0168.html">Gregory Skrivan: "Re: Mustek TwainScan 600 III EP Plus"</a>
<li> <b>Reply:</b> <a href="0188.html">Dirk: "Re: Mustek TwainScan 600 III EP Plus"</a>
<!-- reply="end" -->
</ul>
