<!-- received="Mon Jan 18 23:45:24 1999 PST" -->
<!-- sent="Tue, 19 Jan 1999 08:44:27 -0500" -->
<!-- name="Roderick Klein" -->
<!-- email="rwklein@wxs.nl" -->
<!-- subject="Re: My scanner is the exotic type ..." -->
<!-- id="" -->
<!-- inreplyto="My scanner is the exotic type ..." -->
<title>sane-devel: Re: My scanner is the exotic type ...</title>
<h1>Re: My scanner is the exotic type ...</h1>
<b>Roderick Klein</b> (<a href="mailto:rwklein@wxs.nl"><i>rwklein@wxs.nl</i></a>)<br>
<i>Tue, 19 Jan 1999 08:44:27 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Milon Firikis: "Re: Two Questions"</a>
<li> <b>Previous message:</b> <a href="0152.html">Gunter Koenigsmann: "mustek 12000P"</a>
<li> <b>Maybe in reply to:</b> <a href="0141.html">Pekka Parviainen: "My scanner is the exotic type ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Pekka Parviainen wrote:<br>
<i>&gt; </i><br>
<i>&gt; My Scanner is the exotic type, The Simplex Scanner DP30M.</i><br>
<i>&gt; Support planned in the future ? ;*)</i><br>
<p>
Hello<br>
<p>
Big change that you don't have an Simplex scanner and that is couldfor<br>
instance a Mustek or another more famous brand and that you just have an<br>
OEM, remeber this could be the case, so sorry if it is a famous brand.<br>
<p>
Look if you find the FCC number on it and go to www.fcc.gov . Here you<br>
can search on the FCC number. In many cases you will get a company from<br>
taiwan how owns the FCC number. Although the scanner is sold under a<br>
different name, I have never seen an FCC id that changed. I got a Trust<br>
2400 SP and it turns out te be a scanner from Teco Information products<br>
in Taiwan. And before people start asking it now I did not got scanner<br>
working with the port SANE to OS/2.<br>
<p>
I did get I working a bit with IMPOS/2, well a little bit, the scanner<br>
moves for 5 seconds and then it stops and I need to turn it off to<br>
reset. I can however use it in WIN/OS2. I got it going via a mustek<br>
driver that comes with IMPOS/2. Looks like the firmware rivision (1.04)<br>
does not match the driver.<br>
<p>
So good luck<br>
<p>
Greetings Roderick Klein<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Milon Firikis: "Re: Two Questions"</a>
<li> <b>Previous message:</b> <a href="0152.html">Gunter Koenigsmann: "mustek 12000P"</a>
<li> <b>Maybe in reply to:</b> <a href="0141.html">Pekka Parviainen: "My scanner is the exotic type ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
