<!-- received="Tue Jan 19 08:01:05 1999 PST" -->
<!-- sent="Tue, 19 Jan 1999 16:46:27 +0100" -->
<!-- name="Klas Axelsson" -->
<!-- email="klas.axelsson@entra.se" -->
<!-- subject="RE: Any work being done on the UMAX scanner parallel port support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: Any work being done on the UMAX scanner parallel port support</title>
<h1>RE: Any work being done on the UMAX scanner parallel port support</h1>
<b>Klas Axelsson</b> (<a href="mailto:klas.axelsson@entra.se"><i>klas.axelsson@entra.se</i></a>)<br>
<i>Tue, 19 Jan 1999 16:46:27 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Chris Sparks: "Re: Any work being done on the UMAX scanner parallel port support"</a>
<li> <b>Previous message:</b> <a href="0155.html">Martin Mevald: "Re: Any work being done on the UMAX scanner parallel port support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I sniff communication with the scanner (WINE with special patches).</i><br>
<i>&gt; </i><br>
<i>&gt; Driver is on the way (after  two or three weeks).</i><br>
<i>&gt; </i><br>
Is there any help available for programmers who wants to do this?<br>
<p>
Some kind of howto for reverseengineering could maybe result in<br>
more backends beeing developed.<br>
<p>
   /Klas<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Chris Sparks: "Re: Any work being done on the UMAX scanner parallel port support"</a>
<li> <b>Previous message:</b> <a href="0155.html">Martin Mevald: "Re: Any work being done on the UMAX scanner parallel port support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
