<!-- received="Thu Jan 21 01:47:06 1999 PST" -->
<!-- sent="Thu, 21 Jan 1999 10:45:46 +0100 (MET)" -->
<!-- name="Manuel Panea" -->
<!-- email="mpd@rzg.mpg.de" -->
<!-- subject="Re: Having problems with canon backend" -->
<!-- id="" -->
<!-- inreplyto="199810012052.UAA82196@out5.ibm.net" -->
<title>sane-devel: Re: Having problems with canon backend</title>
<h1>Re: Having problems with canon backend</h1>
<b>Manuel Panea</b> (<a href="mailto:mpd@rzg.mpg.de"><i>mpd@rzg.mpg.de</i></a>)<br>
<i>Thu, 21 Jan 1999 10:45:46 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Manuel Panea: "Re: Canoscan 620P"</a>
<li> <b>Previous message:</b> <a href="0179.html">Pete Clark: "Re: UMAX Astra 1200s scanning problems."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
<p>
<p>
On Fri, 2 Oct 1998, Simon Thompson wrote:<br>
<p>
<i>&gt; On Sun, 13 Sep 1998 18:04:15 +0000, Durk Talsma wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;Last week I posted a message here because I was having trouble with</i><br>
<i>&gt; &gt;getting my Canon Canoscan 300 to work. After some communication with a</i><br>
<i>&gt; &gt;few other list members, I came to the conclusion that my setup should</i><br>
<i>&gt; &gt;now in principle be okay. But there still appears to be going something</i><br>
<i>&gt; &gt;wrong though. </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;I have an NCR810 scsi host adapter, with generic scsi support configured</i><br>
<i>&gt; &gt;as a module. Currently, I'm running linux 2.0.35. Running</i><br>
<i>&gt; &gt;tools/find-scanner reports the following. </i><br>
<i>&gt; [Snip]</i><br>
<i>&gt; </i><br>
<i>&gt; Have you made any progress on this as I have a similar setup, with</i><br>
<i>&gt; the same problems.</i><br>
<i>&gt; </i><br>
<p>
<p>
<p>
Hi. Could you guys have a look at the extended CanoScan driver and send me<br>
some comments or error reports? <br>
<p>
Find it here:<br>
<p>
  <a href="http://www.rzg.mpg.de/~mpd/sane">http://www.rzg.mpg.de/~mpd/sane</a><br>
<p>
<p>
Cheers,<br>
<p>
<p>
 ---------------------------------------------------------------------------<br>
  Manuel Panea                      ||               E-mail: <a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a><br>
  Rechenzentrum Garching            ||           <a href="http://www.rzg.mpg.de/~mpd">http://www.rzg.mpg.de/~mpd</a><br>
  Postfach 1533                     ||                Tel. +49 89 3299 1133<br>
  85740 Garching                    ||                Fax  +49 89 3299 1301<br>
  Germany                           ||         Public PGP key: see homepage<br>
 ---------------------------------------------------------------------------<br>
<p>
<p>
<p>
<p>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGPfreeware 5.0i for non-commercial use<br>
Charset: noconv<br>
<p>
iQCVAwUBNqb3UYnxRMteJ3RRAQG9SgP+IsSuOvLksagmCM7ycPTGkIyJPn0BOMev<br>
PwEM37FJhIqsFTYw+SrTFMeXyTw1yMkGjX88nWIftGEcAquP2MPWQF4GJ5c0kBn4<br>
fB75P7DD3kGLdOeR2V0gwmARehHw6eZei51lASRrMF9mm3AT1YEdtO3xc1lBHeFF<br>
Rryb+j+9lDM=<br>
=DGKM<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Manuel Panea: "Re: Canoscan 620P"</a>
<li> <b>Previous message:</b> <a href="0179.html">Pete Clark: "Re: UMAX Astra 1200s scanning problems."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
