<!-- received="Thu Jan 28 00:32:12 1999 PST" -->
<!-- sent="28 Jan 1999 03:30:02 -0500" -->
<!-- name="Cory Kempf" -->
<!-- email="ckempf@enigami.com" -->
<!-- subject="Re: FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem" -->
<!-- id="" -->
<!-- inreplyto="Thu, 28 Jan 1999 01:13:15 -0600"" -->
<title>sane-devel: Re: FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem</title>
<h1>Re: FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem</h1>
<b>Cory Kempf</b> (<a href="mailto:ckempf@enigami.com"><i>ckempf@enigami.com</i></a>)<br>
<i>28 Jan 1999 03:30:02 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#238">[ date ]</a><a href="index.html#238">[ thread ]</a><a href="subject.html#238">[ subject ]</a><a href="author.html#238">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Milon Firikis: "Re: Frontend XSane-0.06 available"</a>
<li> <b>Previous message:</b> <a href="0237.html">William McVey: "FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem"</a>
<li> <b>In reply to:</b> <a href="0237.html">William McVey: "FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
William McVey &lt;<a href="mailto:wam@sa.fedex.com">wam@sa.fedex.com</a>&gt; writes:<br>
<p>
<i>&gt; Ok... it just took me several hours of pounding my head against my</i><br>
<i>&gt; monitor (and resorting to reading pieces of the CAM driver in the</i><br>
<i>&gt; kernel sources), but I have just discovered that contrary to the</i><br>
<i>&gt; recommendation of README in the source distribution of SANE, FreeBSD 3.0</i><br>
<i>&gt; can not handle accessing the scanner via a symlink (not even</i><br>
<i>&gt; hardlink) named /dev/scanner.</i><br>
<p>
Even Better: you can even remove the actuall /dev/pass device, and it<br>
still works.<br>
<p>
Unfortunately, CAM treats the device name I pass it as a string,<br>
then parses the string, looking for 'passN'  It then converts that<br>
to the xpt device, which is does open.<br>
<p>
I bitched up a storm on the FreeBSD-SCSI when I discovered it, as<br>
this completely breaks the model that has worked on unix since the<br>
dawn of time, even offering to fix the CAM code to use major and minor<br>
device numbers, but was turned down.<br>
<p>
Eventually, I got tired of arguing.<br>
<p>
<i>&gt; Anyway, I'd like someone with access</i><br>
<i>&gt; to the SANE source to make a note of this FreeBSD braindamage in</i><br>
<i>&gt; either PROBLEMS, README,</i><br>
<p>
My fault.  I was going to write a README on the subject, but got <br>
side tracked with a crunch mode job.<br>
<p>
<i>&gt; FreeBSD ports maintainer for this package should probably ensure</i><br>
<i>&gt; this is documented in the install messages as well.</i><br>
<p>
Can't help you there.<br>
<p>
<i>&gt; And perhaps related, but perhaps not, when using the SANE software,</i><br>
<i>&gt; I'm only ever able to scan as root (blech).</i><br>
<p>
Change permissions of the /dev/xpt device.  That same CAM brain dammage<br>
actually does use *that* device.<br>
<p>
<i>&gt; if any other FreeBSD users had got it working as a non-root user.</i><br>
<p>
Yup.  Although, for some reason, the FreeBSD stuff seems to only be<br>
partially present in SANE 1.0.  So far, nobody has answered my question<br>
as to what happened to it.<br>
<p>
+C<br>
<p>
<p>
<pre>
-- 
Thinking of purchasing RAM from the Chip Merchant?  
Please read this first: &lt;<a href="http://www.enigami.com/~ckempf/chipmerchant.html">http://www.enigami.com/~ckempf/chipmerchant.html</a>&gt;
<p>
Cory Kempf                Macintosh / Unix Consulting &amp; Software Development
<a href="mailto:ckempf@enigami.com">ckempf@enigami.com</a>        &lt;<a href="http://www.enigami.com/~ckempf/">http://www.enigami.com/~ckempf/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Milon Firikis: "Re: Frontend XSane-0.06 available"</a>
<li> <b>Previous message:</b> <a href="0237.html">William McVey: "FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem"</a>
<li> <b>In reply to:</b> <a href="0237.html">William McVey: "FreeBSD 3.0 CAM braindamage and an (unrelated?) permission problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
