<!-- received="Sat Jan 30 11:13:28 1999 PST" -->
<!-- sent="Tue, 26 Jan 1999 16:14:11 -0800" -->
<!-- name="Kyle" -->
<!-- email="xzielinski@boink.net" -->
<!-- subject="A question about Relysis..." -->
<!-- id="4.1.19990126161245.00923f10@mail.boink.net" -->
<!-- inreplyto="" -->
<title>sane-devel: A question about Relysis...</title>
<h1>A question about Relysis...</h1>
<b>Kyle</b> (<a href="mailto:xzielinski@boink.net"><i>xzielinski@boink.net</i></a>)<br>
<i>Tue, 26 Jan 1999 16:14:11 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">Ingo Assenmacher: "sane contribution"</a>
<li> <b>Previous message:</b> <a href="0256.html">Cory Kempf: "Re: Xscanimage in freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<li> <b>Reply:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I see that Relysis scanners aren't supported by SANE, and I was wondering<br>
if there's another way to set up scanners in linux....and I figured this'd<br>
be the best place to ask ::chuckling:: Any input would be appreciated.<br>
<p>
Kyle Zielinski<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">Ingo Assenmacher: "sane contribution"</a>
<li> <b>Previous message:</b> <a href="0256.html">Cory Kempf: "Re: Xscanimage in freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<li> <b>Reply:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<!-- reply="end" -->
</ul>
