<!-- received="Sat Jan 30 19:15:02 1999 PST" -->
<!-- sent="Sun, 31 Jan 1999 02:17:52 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Reviving logiscan" -->
<!-- id="m106lWK-000CH8C@hades.beck-sw.de" -->
<!-- inreplyto="19990119001918.B25340@iki.fi" -->
<title>sane-devel: Re: Reviving logiscan</title>
<h1>Re: Reviving logiscan</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 31 Jan 1999 02:17:52 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#265">[ date ]</a><a href="index.html#265">[ thread ]</a><a href="subject.html#265">[ subject ]</a><a href="author.html#265">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0266.html">becka@rz.uni-duesseldorf.de: "Re: Fax-Scanner"</a>
<li> <b>Previous message:</b> <a href="0264.html">BARTO, Agustin Andres: "Re: Genius works with sane ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Lauri !<br>
<p>
<i>&gt; I recently got an old Logitech ScanMan 256, and found Andreas Beck's logiscan</i><br>
<i>&gt; kernel module (version 0.0.5b, I assume it's the latest). I want to get it to</i><br>
<i>&gt; work with SANE, so off I went to update it to work with Linux 2.2. Though I</i><br>
<i>&gt; fear I'll end up writing a new backend for SANE, I also want to have it work</i><br>
<i>&gt; through the PINT interface as well, even though I find both logiscan's native</i><br>
<i>&gt; ioctl interface (LHII) and PINT somewhat inadequate.</i><br>
<p>
Didn't you get my mails, or were the sane mails just horribly delayed for<br>
some reason ?<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0266.html">becka@rz.uni-duesseldorf.de: "Re: Fax-Scanner"</a>
<li> <b>Previous message:</b> <a href="0264.html">BARTO, Agustin Andres: "Re: Genius works with sane ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
