<!-- received="Wed Jun  9 08:56:45 1999 PDT" -->
<!-- sent="Wed, 09 Jun 1999 17:55:56 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX T-30 and Adaptec 2906" -->
<!-- id="" -->
<!-- inreplyto="UMAX T-30 and Adaptec 2906" -->
<title>sane-devel: Re: UMAX T-30 and Adaptec 2906</title>
<h1>Re: UMAX T-30 and Adaptec 2906</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 09 Jun 1999 17:55:56 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Wim Taymans: "Scanman Color 2000 driver (it exists !)"</a>
<li> <b>Previous message:</b> <a href="0048.html">Douglas Gilbert: "Re: problems increasing SG_BIG_BUFF"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Eduardo M. A. M. Mendes: "UMAX T-30 and Adaptec 2906"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">mendes@mgconecta.com.br: "Re: UMAX T-30 and Adaptec 2906"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Eduardo M. A. M. Mendes" wrote:<br>
<p>
<i>&gt; Hi everybody</i><br>
<i>&gt;     Although my umax t-630 did come with its own isa-scsi card I</i><br>
<i>&gt; couldn't get it</i><br>
<i>&gt; working on linux.  I have recently bought a scsi card Adaptec 2906 and</i><br>
<i>&gt; wonder whether someone could tell me how to get the scanner and sane</i><br>
<i>&gt; working with this new setup.</i><br>
<i>&gt;     Thanks a lot.</i><br>
<i>&gt;</i><br>
<i>&gt; Ed</i><br>
<p>
Hi Ed,<br>
<p>
I don`t know if there is a driver for the Adaptec 2906 scsi card for linux!<br>
<p>
Did you check this before you bought the card?<br>
<p>
Bye<br>
<p>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Wim Taymans: "Scanman Color 2000 driver (it exists !)"</a>
<li> <b>Previous message:</b> <a href="0048.html">Douglas Gilbert: "Re: problems increasing SG_BIG_BUFF"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Eduardo M. A. M. Mendes: "UMAX T-30 and Adaptec 2906"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">mendes@mgconecta.com.br: "Re: UMAX T-30 and Adaptec 2906"</a>
<!-- reply="end" -->
</ul>
