<!-- received="Thu Jun 10 23:49:44 1999 PDT" -->
<!-- sent="Fri, 11 Jun 1999 08:47:26 +0200" -->
<!-- name="Andreas Rick" -->
<!-- email="rickand@gemse.fr" -->
<!-- subject="Re: First sucess with Coolscan LS-30" -->
<!-- id="3760B0FE.A0B23C95@gemse.fr" -->
<!-- inreplyto="First sucess with Coolscan LS-30" -->
<title>sane-devel: Re: First sucess with Coolscan LS-30</title>
<h1>Re: First sucess with Coolscan LS-30</h1>
<b>Andreas Rick</b> (<a href="mailto:rickand@gemse.fr"><i>rickand@gemse.fr</i></a>)<br>
<i>Fri, 11 Jun 1999 08:47:26 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Oliver Rauch: "Re: UMAX and UTA?"</a>
<li> <b>Previous message:</b> <a href="0061.html">Andreas Rick: "Re: First sucessSecond version of Coolscan backend for the LS-30 and"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David wrote:<br>
<i>&gt; </i><br>
<i>&gt; Will I need to make changes to XSane?</i><br>
<p>
I just installed Xsane on my machine yesterday but<br>
I havn't tested my driver with xsane yet.<br>
I think it should work without recompiling XSane<br>
as long as you stay off the RGBI or IRED mode.<br>
If you choose RGBI you will probably get <br>
wrong results or segmentation faults.<br>
<p>
I plan make the same modifications I already made<br>
for the xscanimage to incorporate RGBI also to<br>
xsane as soon as I have the time.<br>
<p>
Once the infrared code is more stable and I am sure<br>
about the modifications we need to make to sane.h<br>
I will try to validate as much as I can, to what<br>
extent these changes may influence other backends.<br>
When this problem is solved I need to make sure<br>
that all the frontends can support or at least<br>
tolerate the modifications before we can make the<br>
modifications part of the official sane<br>
distribution.<br>
<p>
Andreas<br>
<p>
-------------------------------------------------------------<br>
Andreas RICK                    e-mail:   <a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a><br>
-------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Oliver Rauch: "Re: UMAX and UTA?"</a>
<li> <b>Previous message:</b> <a href="0061.html">Andreas Rick: "Re: First sucessSecond version of Coolscan backend for the LS-30 and"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
