<!-- received="Sat Jun 19 05:31:26 1999 PDT" -->
<!-- sent="Sat, 19 Jun 1999 14:39:15 +0200 (MEST)" -->
<!-- name="Bernd Schroeder" -->
<!-- email="Bernd.M.Schroeder@gmx.de" -->
<!-- subject="Re: A small compatibility update" -->
<!-- id="30139.929795955@www2.gmx.net" -->
<!-- inreplyto="A small compatibility update" -->
<title>sane-devel: Re: A small compatibility update</title>
<h1>Re: A small compatibility update</h1>
<b>Bernd Schroeder</b> (<a href="mailto:Bernd.M.Schroeder@gmx.de"><i>Bernd.M.Schroeder@gmx.de</i></a>)<br>
<i>Sat, 19 Jun 1999 14:39:15 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#107">[ date ]</a><a href="index.html#107">[ thread ]</a><a href="subject.html#107">[ subject ]</a><a href="author.html#107">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0106.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe in reply to:</b> <a href="0104.html">Chris Mortensen: "A small compatibility update"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; ATTENTION SANE:</i><br>
<i>&gt; </i><br>
<i>&gt; Recently, I was able to get my Starlight III scsi scanner to work with </i><br>
<i>&gt; Redhat Linux 6.0, by utilizing SANE.  Please update your web site  with</i><br>
this <br>
<i>&gt; information, as there may be others inquisitive concerning whether this </i><br>
<i>&gt; scanner has any Linux compatibility.  If at all possible, please note</i><br>
that <br>
<i>&gt; the reason the Starlight III is compatible with SANE and thus Linux, is </i><br>
<i>&gt; because it mirrors closely the protocols used by the Microtek 2 series </i><br>
<i>&gt; scanners, which are already officially supported (Xscan actually</i><br>
recognizes <br>
<i>&gt; my scanner as a Microtek 2).  Being a new convert to the Linux/open</i><br>
source <br>
<i>&gt; community, it is pleasing to know that a great deal of my windows</i><br>
supported <br>
<i>&gt; hardware will work with Linux because of projects like SANE.  Thank you</i><br>
for <br>
<i>&gt; your time and contributions.</i><br>
<p>
Thanks for the info. So the StarLight III is obviously a rebadged<br>
Microtek. If possible, can you please provide some more <br>
information: <br>
 <br>
- Under which brand/vendor name is this model sold ? This<br>
  information would be neccessary to update the web page.<br>
  A quick search with altavista reveiled that a model with <br>
  this name is sold by a company named Adara. Is it this one ?<br>
 <br>
- Is it possible to send the scanner attributes, so that it can<br>
  be determined, which Microtek model it corresponds to. The<br>
  attributes are printed to stderr, if 'option dump 1' is<br>
  set in the microtek2.conf file (which is the current default).<br>
 <br>
Bernd<br>
<p>
<pre>
-- 
Sent through Global Message Exchange - <a href="http://www.gmx.net">http://www.gmx.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0106.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe in reply to:</b> <a href="0104.html">Chris Mortensen: "A small compatibility update"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
