<!-- received="Sat Jun 19 07:54:10 1999 PDT" -->
<!-- sent="Fri, 18 Jun 1999 20:34:21 +0000" -->
<!-- name="Michele Bini" -->
<!-- email="mibin@tin.it" -->
<!-- subject="Re: [PARPORT] BETA test, new ppSCSI drivers" -->
<!-- id="" -->
<!-- inreplyto="19990617023116.A538@diamond.tin.it" -->
<title>sane-devel: Re: [PARPORT] BETA test, new ppSCSI drivers</title>
<h1>Re: [PARPORT] BETA test, new ppSCSI drivers</h1>
<b>Michele Bini</b> (<a href="mailto:mibin@tin.it"><i>mibin@tin.it</i></a>)<br>
<i>Fri, 18 Jun 1999 20:34:21 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Juha Sahakangas: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0108.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have tried the 0.7 version of the microtek2 backend:<br>
<p>
it seems to work the same, except that scanning in<br>
color mode each scanline is divided in three, one<br>
for each color channel, and is in grayscale:<br>
<p>
before the pixel color components received<br>
were like:<br>
<p>
RGBRGBRGBRGBRGBRGBRGBRGBRGBRGBRGB<br>
<p>
now<br>
<p>
RRRRRRRRRRRGGGGGGGGGGGBBBBBBBBBBB<br>
<p>
(it is grayscale probably<br>
because the difference of intensity<br>
of adiacent color components are<br>
so smaller that each pixel is<br>
composed of approx. the same<br>
color components value)<br>
<p>
(the order of the color components is bogus,<br>
if it is relevant I can try to figure it out)<br>
<p>
-Michele<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Juha Sahakangas: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0108.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
