<!-- received="Mon Jun 21 04:24:31 1999 PDT" -->
<!-- sent="Mon, 21 Jun 1999 12:23:18 +0100" -->
<!-- name="Fernando Fernandez" -->
<!-- email="ferdez@despodata.pt" -->
<!-- subject="scanimage doesn't cope with saned breaking connection (apparently)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: scanimage doesn't cope with saned breaking connection (apparently)</title>
<h1>scanimage doesn't cope with saned breaking connection (apparently)</h1>
<b>Fernando Fernandez</b> (<a href="mailto:ferdez@despodata.pt"><i>ferdez@despodata.pt</i></a>)<br>
<i>Mon, 21 Jun 1999 12:23:18 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#128">[ date ]</a><a href="index.html#128">[ thread ]</a><a href="subject.html#128">[ subject ]</a><a href="author.html#128">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Joachim Kunze: "Re: pnm-files"</a>
<li> <b>Previous message:</b> <a href="0127.html">Herwin Jan Steehouwer: "SprintScan 35 LE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I just found out a small bug in scanimage that makes it dump core.<br>
Scanimage dumped core when I tried to use the scanned via net<br>
but worked when it used the device directly.<br>
<p>
Stracing scanimage terminated after a Broken Pipe. I run "saned -d"<br>
by hand and it worked (scanimage din't dump core). Finally I found<br>
out that the problem was I don't have a saned user/group in<br>
the machine and I solved it quickly.<br>
<p>
Scanimage should be able to treat this error more nicely (this and <br>
other errors too!).<br>
<p>
By the way: thanks for scanimage and all the SANE software, anyway.<br>
<p>
Fernando<br>
<p>
<p>
<pre>
-- 
Fernando Fernandez
<a href="http://despodata.pt/ddata/pessoal/ferdez.htm">http://despodata.pt/ddata/pessoal/ferdez.htm</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Joachim Kunze: "Re: pnm-files"</a>
<li> <b>Previous message:</b> <a href="0127.html">Herwin Jan Steehouwer: "SprintScan 35 LE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
