<!-- received="Wed Jun 23 12:47:01 1999 PDT" -->
<!-- sent="Wed, 23 Jun 1999 21:46:28 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 23 Jun 1999 21:46:28 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#161">[ date ]</a><a href="index.html#161">[ thread ]</a><a href="subject.html#161">[ subject ]</a><a href="author.html#161">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Oliver Rauch: "Re: Newbie question ;-)"</a>
<li> <b>Previous message:</b> <a href="0160.html">Gunnar Schroeder: "Newbie question ;-)"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Simon Piette wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; It looks like the umax backend is not able to get an inuiry</i><br>
<i>&gt; &gt; from the scanner.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Are you able to use other scsi-devices via the generic scsi driver</i><br>
<i>&gt; &gt; on your computer?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Is it possible to test with an EZ drive?</i><br>
<i>&gt; Would I have to compile a kernel without my specific SCSI driver?</i><br>
<i>&gt; Any docs to refer to?</i><br>
<i>&gt;</i><br>
<p>
Hi Simon,<br>
<p>
I don`t think that sg is used if you use the EZ drive.<br>
I also don`t think that it is necessary to build a kernel without<br>
scsi support, it must work as module and kernel internal.<br>
<p>
I don`t know if SANE is tested on a big endian machine.<br>
May be there are problems too. I am not sure if the umax<br>
backend is tested on a big endian machine.<br>
But if the inquiry command returns with an error<br>
the problem is in the sanei/scsi or in the sg or scsi driver.<br>
<p>
<p>
<i>&gt; Host: scsi1 Channel: 00 Id: 05 Lun: 00</i><br>
looks like you have the scanner on a secondary scsi controller.<br>
Did you test it if you connect the scanner to the first scsi controller?<br>
<p>
Which controllers do you use?<br>
<p>
How is the scsi bus terminated and how long are the scsi cables (internal +<br>
external).<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Oliver Rauch: "Re: Newbie question ;-)"</a>
<li> <b>Previous message:</b> <a href="0160.html">Gunnar Schroeder: "Newbie question ;-)"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
