<!-- received="Sun Jun 27 06:52:41 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 09:51:44 -0400" -->
<!-- name="Simon Piette" -->
<!-- email="spiette@generation.net" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Simon Piette</b> (<a href="mailto:spiette@generation.net"><i>spiette@generation.net</i></a>)<br>
<i>Sun, 27 Jun 1999 09:51:44 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#206">[ date ]</a><a href="index.html#206">[ thread ]</a><a href="subject.html#206">[ subject ]</a><a href="author.html#206">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Tomm Aldridge: "make fails on RH 6.0"</a>
<li> <b>Previous message:</b> <a href="0205.html">Yuri Dario: "[ANNOUNCE] SANE 1.0.1 for OS/2 is ready"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0208.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Olivier,<br>
<p>
I changed my SCSI terminator for an active one, and now scanimage -L see<br>
my scanner (sge, I change the SCSI ID for 1 , 4 devices on scsi0). <br>
<p>
The comments were already there (sane 1.0.1), but it was on the line<br>
after.<br>
<p>
scanimage is nevertheless unable to scan. With export<br>
SANE_DEBUG_UMAX=10, scanimage -d umax:/dev/sge &gt; out.pnm :<br>
<p>
[sanei_init_debug]: Setting debug level of umax to 10.<br>
[umax] sane_init<br>
[umax] This is sane-umax version 1.0 build 3<br>
[umax] (C) 1997-1999 by Oliver Rauch<br>
[umax] EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a><br>
[umax] attach_scanner: opening /dev/sge<br>
[umax] init<br>
[umax] backend runs on big endian machine<br>
[umax] initialize_values<br>
[umax] identify_scanner<br>
[umax] do_inquiry<br>
[umax] Found UMAX  scanner Astra 1200S version V1.3 on device /dev/sge<br>
[umax] get_inquiry_values<br>
[umax] INQUIRY:<br>
[umax] ========<br>
[umax] <br>
[umax] vendor........................: 'UMAX    '<br>
[umax] product.......................: 'Astra 1200S     '<br>
[umax] version.......................: 'V1.3'<br>
[umax] <br>
[umax] CBHS value range..............: 0-255<br>
[umax] scanmode......................: flatbed (FB)<br>
[umax] inquiry block length..........: 161 bytes<br>
[umax] <br>
[umax] ISO  Version (reserved).......: 0<br>
[umax] ECMA Version (reserved).......: 0<br>
[umax] ANSI Version .................: 2<br>
[umax] <br>
[umax] reserved byte 0x05 = 0<br>
[umax] reserved byte 0x06 = 0<br>
[umax] <br>
[umax] f/w support function:<br>
[umax] ---------------------<br>
[umax]  - quality calibration<br>
[umax]  - fast preview function<br>
[umax] <br>
[umax] reserved byte 0x36 = 0<br>
[umax] reserved byte 0x37 = 0<br>
[umax] <br>
[umax] scan modes:<br>
[umax] -----------<br>
[umax]  - single pass color mode<br>
[umax]  - lineart mode<br>
[umax]  - gray mode<br>
[umax]  - color mode<br>
[umax]  - transparency (UTA)<br>
[umax] <br>
[umax] scanner capability:<br>
[umax] -------------------<br>
[umax]  - send high byte first<br>
[umax]  - bi-level image reverse<br>
[umax]  - multi-level image reverse<br>
[umax]  - paper length can reach to 14 inch<br>
[umax] <br>
[umax] gamma download available<br>
[umax] gamma download type 2<br>
[umax] lines of gamma curve: one line (gray), three lines (color)<br>
download<br>
[umax] gamma input   8 bits/pixel support<br>
[umax] gamma input  10 bits/pixel support<br>
[umax] gamma output  8 bits/pixel support<br>
[umax] gamma output 10 bits/pixel support<br>
[umax] <br>
[umax] reserved byte 0x65 = 0<br>
[umax] reserved byte 0x67 = 0<br>
[umax] <br>
[umax] reserved byte 0x6b = 0<br>
[umax] reserved byte 0x6c = 0<br>
[umax] <br>
[umax] color sequence............................: all supported<br>
[umax] color ordering support....................: pixel<br>
[umax] <br>
[umax] maximum video memory......................: 223 KB<br>
[umax] <br>
[umax] reserved byte 0x72 = 0<br>
[umax] <br>
[umax] maximum optical resolution................: 600 dpi<br>
[umax] maximum x-resolution......................: 600 dpi<br>
[umax] maximum y-resolution......................: 1200 dpi<br>
[umax] <br>
[umax] FB (flatbed-mode):<br>
[umax] FB maximum scan width.....................: 8.50 inch<br>
[umax] FB maximum scan length....................: 14.00 inch<br>
[umax] <br>
[umax] UTA (transparency-mode):<br>
[umax] UTA x-original point......................: 0.00 inch<br>
[umax] UTA y-original point......................: 0.00 inch<br>
[umax] UTA maximum scan width....................: 8.50 inch<br>
[umax] UTA maximum scan length...................: 11.70 inch<br>
[umax] <br>
[umax] reserved byte 0x82 = 0<br>
[umax] reserved byte 0x83 = 0<br>
[umax] reserved byte 0x84 = 0<br>
[umax] reserved byte 0x85 = 0<br>
[umax] <br>
[umax] DOR (double optical resolution-mode):<br>
[umax] DOR x-original point......................: 0.00 inch<br>
[umax] DOR y-original point......................: 0.00 inch<br>
[umax] DOR maximum scan width....................: 0.00 inch<br>
[umax] DOR maximum scan length...................: 0.00 inch<br>
[umax] <br>
[umax] reserved byte 0x8e = 0<br>
[umax] <br>
[umax] last calibration lamp density.............: 0<br>
[umax] <br>
[umax] reserved byte 0x90 = 0<br>
[umax] <br>
[umax] lamp warmup maximum time..................: 0 sec<br>
[umax] window descriptor block length............: 82 bytes<br>
[umax] no analog gamma function<br>
[umax] <br>
[umax] reserved byte 0x98 = 0<br>
[umax] reserved byte 0x99 = 0<br>
[umax] <br>
[umax] maximum calibration data lines for shading: 64<br>
[umax] fb/uta: color line arrangement mode.......: 0<br>
[umax] adf:    color line arrangement mode.......: 0<br>
[umax] CCD line distance.........................: 8<br>
[umax] <br>
[umax] reserved byte 0x9e = 0<br>
[umax] reserved byte 0x9f = 0<br>
[umax] reserved byte 0xa0 = 0<br>
[umax] attach_scanner: opening /dev/scanner<br>
[umax] init<br>
[umax] backend runs on big endian machine<br>
[umax] initialize_values<br>
[umax] identify_scanner<br>
[umax] do_inquiry<br>
[umax] Found UMAX  scanner Astra 1200S version V1.3 on device<br>
/dev/scanner<br>
[umax] get_inquiry_values<br>
[umax] INQUIRY:<br>
[umax] ========<br>
[umax] <br>
[umax] vendor........................: 'UMAX    '<br>
[umax] product.......................: 'Astra 1200S     '<br>
[umax] version.......................: 'V1.3'<br>
[umax] <br>
[umax] CBHS value range..............: 0-255<br>
[umax] scanmode......................: flatbed (FB)<br>
[umax] inquiry block length..........: 161 bytes<br>
[umax] <br>
[umax] ISO  Version (reserved).......: 0<br>
[umax] ECMA Version (reserved).......: 0<br>
[umax] ANSI Version .................: 2<br>
[umax] <br>
[umax] reserved byte 0x05 = 0<br>
[umax] reserved byte 0x06 = 0<br>
[umax] <br>
[umax] f/w support function:<br>
[umax] ---------------------<br>
[umax]  - quality calibration<br>
[umax]  - fast preview function<br>
[umax] <br>
[umax] reserved byte 0x36 = 0<br>
[umax] reserved byte 0x37 = 0<br>
[umax] <br>
[umax] scan modes:<br>
[umax] -----------<br>
[umax]  - single pass color mode<br>
[umax]  - lineart mode<br>
[umax]  - gray mode<br>
[umax]  - color mode<br>
[umax]  - transparency (UTA)<br>
[umax] <br>
[umax] scanner capability:<br>
[umax] -------------------<br>
[umax]  - send high byte first<br>
[umax]  - bi-level image reverse<br>
[umax]  - multi-level image reverse<br>
[umax]  - paper length can reach to 14 inch<br>
[umax] <br>
[umax] gamma download available<br>
[umax] gamma download type 2<br>
[umax] lines of gamma curve: one line (gray), three lines (color)<br>
download<br>
[umax] gamma input   8 bits/pixel support<br>
[umax] gamma input  10 bits/pixel support<br>
[umax] gamma output  8 bits/pixel support<br>
[umax] gamma output 10 bits/pixel support<br>
[umax] <br>
[umax] reserved byte 0x65 = 0<br>
[umax] reserved byte 0x67 = 0<br>
[umax] <br>
[umax] reserved byte 0x6b = 0<br>
[umax] reserved byte 0x6c = 0<br>
[umax] <br>
[umax] color sequence............................: all supported<br>
[umax] color ordering support....................: pixel<br>
[umax] <br>
[umax] maximum video memory......................: 223 KB<br>
[umax] <br>
[umax] reserved byte 0x72 = 0<br>
[umax] <br>
[umax] maximum optical resolution................: 600 dpi<br>
[umax] maximum x-resolution......................: 600 dpi<br>
[umax] maximum y-resolution......................: 1200 dpi<br>
[umax] <br>
[umax] FB (flatbed-mode):<br>
[umax] FB maximum scan width.....................: 8.50 inch<br>
[umax] FB maximum scan length....................: 14.00 inch<br>
[umax] <br>
[umax] UTA (transparency-mode):<br>
[umax] UTA x-original point......................: 0.00 inch<br>
[umax] UTA y-original point......................: 0.00 inch<br>
[umax] UTA maximum scan width....................: 8.50 inch<br>
[umax] UTA maximum scan length...................: 11.70 inch<br>
[umax] <br>
[umax] reserved byte 0x82 = 0<br>
[umax] reserved byte 0x83 = 0<br>
[umax] reserved byte 0x84 = 0<br>
[umax] reserved byte 0x85 = 0<br>
[umax] <br>
[umax] DOR (double optical resolution-mode):<br>
[umax] DOR x-original point......................: 0.00 inch<br>
[umax] DOR y-original point......................: 0.00 inch<br>
[umax] DOR maximum scan width....................: 0.00 inch<br>
[umax] DOR maximum scan length...................: 0.00 inch<br>
[umax] <br>
[umax] reserved byte 0x8e = 0<br>
[umax] <br>
[umax] last calibration lamp density.............: 0<br>
[umax] <br>
[umax] reserved byte 0x90 = 0<br>
[umax] <br>
[umax] lamp warmup maximum time..................: 0 sec<br>
[umax] window descriptor block length............: 82 bytes<br>
[umax] no analog gamma function<br>
[umax] <br>
[umax] reserved byte 0x98 = 0<br>
[umax] reserved byte 0x99 = 0<br>
[umax] <br>
[umax] maximum calibration data lines for shading: 64<br>
[umax] fb/uta: color line arrangement mode.......: 0<br>
[umax] adf:    color line arrangement mode.......: 0<br>
[umax] CCD line distance.........................: 8<br>
[umax] <br>
[umax] reserved byte 0x9e = 0<br>
[umax] reserved byte 0x9f = 0<br>
[umax] reserved byte 0xa0 = 0<br>
[umax] sane_open<br>
[umax] sane_start<br>
[umax] initialize_values<br>
[umax] grab_scanner<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] scanner reserved<br>
[umax] check_values<br>
[umax] using one pass scanning mode<br>
[umax] scanner uses color-pixel-ordering<br>
[umax] trying to reposition scanner ...<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] scanner repositioned<br>
[umax] set_window_param<br>
[umax] window descriptor block created with 82 bytes<br>
[umax] window(s) set<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] start_scan<br>
[umax] starting scan<br>
scanimage: stopping scanner...<br>
[umax] sane_cancel<br>
[umax] trying to reposition scanner ...<br>
scanimage: sanei_scsi.c:1352: sanei_scsi_req_wait: Assertion `req ==<br>
qhead' failed.<br>
<p>
Seems to be related to sane-scsi instead of sane-umax ...<br>
<p>
Simon<br>
<p>
<p>
<p>
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi Simon,</i><br>
<i>&gt; </i><br>
<i>&gt; please edit sane/backend/umax.c</i><br>
<i>&gt; </i><br>
<i>&gt; search for sense_handler</i><br>
<i>&gt; and set a remark in the return-line:</i><br>
<i>&gt; </i><br>
<i>&gt; if ( get_RS_error_code(result) != 0x70 )</i><br>
<i>&gt;   {</i><br>
<i>&gt;     DBG(DBG_proc, "invalid sense key =&gt; handled as DEVICE BUSY!\n");</i><br>
<i>&gt; //    return</i><br>
<i>&gt; SANE_STATUS_DEVICE_BUSY;                                                     /* sense</i><br>
<i>&gt; key invalid */</i><br>
<i>&gt;   }</i><br>
<i>&gt; </i><br>
<i>&gt; search for identify_scanner</i><br>
<i>&gt; some lines down set a remark in the if-line:</i><br>
<i>&gt; </i><br>
<i>&gt; //  if (get_inquiry_periph_devtype(dev-&gt;buffer) != IN_periph_devtype_scanner) {</i><br>
<i>&gt; return 1; }      /* no scanner */</i><br>
<i>&gt; </i><br>
<i>&gt; The do</i><br>
<i>&gt; </i><br>
<i>&gt;     make clean</i><br>
<i>&gt; </i><br>
<i>&gt;     make</i><br>
<i>&gt; </i><br>
<i>&gt; as root:</i><br>
<i>&gt; </i><br>
<i>&gt;     make install</i><br>
<i>&gt; </i><br>
<i>&gt; and then as normal user:</i><br>
<i>&gt; </i><br>
<i>&gt; export SANE_DEBUG_UMAX=10</i><br>
<i>&gt; </i><br>
<i>&gt; and call (x)scanimage</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; </i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; </i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Tomm Aldridge: "make fails on RH 6.0"</a>
<li> <b>Previous message:</b> <a href="0205.html">Yuri Dario: "[ANNOUNCE] SANE 1.0.1 for OS/2 is ready"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0208.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
