<!-- received="Wed Jun 30 08:39:19 1999 PDT" -->
<!-- sent="Wed, 30 Jun 1999 17:29:30 +0200" -->
<!-- name="abel deuring" -->
<!-- email="a.deuring@satzbau-gmbh.de" -->
<!-- subject="Re: problems increasing SG_BIG_BUFF" -->
<!-- id="" -->
<!-- inreplyto="problems increasing SG_BIG_BUFF" -->
<title>sane-devel: Re: problems increasing SG_BIG_BUFF</title>
<h1>Re: problems increasing SG_BIG_BUFF</h1>
<b>abel deuring</b> (<a href="mailto:a.deuring@satzbau-gmbh.de"><i>a.deuring@satzbau-gmbh.de</i></a>)<br>
<i>Wed, 30 Jun 1999 17:29:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#250">[ date ]</a><a href="index.html#250">[ thread ]</a><a href="subject.html#250">[ subject ]</a><a href="author.html#250">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">abel deuring: "Re: problems increasing SG_BIG_BUFF"</a>
<li> <b>Previous message:</b> <a href="0249.html">Rainer Krienke: "Re: problems increasing SG_BIG_BUFF"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Andreas Buesching: "problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0251.html">abel deuring: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Doug!<br>
<p>
<i>&gt; Command queuing is already there but turned off by</i><br>
<i>&gt; default (because cdparanoia got upset when it found</i><br>
<i>&gt; it :-) ). It is demonstrated in a program called</i><br>
<i>&gt; sgq_dd512 (a "dd" variant) that can be found on</i><br>
<i>&gt; sg's home page in the utility tarball.</i><br>
<i>&gt; </i><br>
<i>&gt; See the SG_SET_COMMAND_Q ioctl(). I was not aware</i><br>
<i>&gt; that many scanners supported command queuing.</i><br>
<p>
This shows that I am obviously too stupid to read your SG documentation<br>
and the source code properly :) <br>
<p>
So I'll ask the next question (again without first looking for an<br>
answer): Is yet anybody working on an implementation of command queueing<br>
for the Linux part of sanei-scsi.c which makes proper use of Doug's SG<br>
driver capabilities? (While I would like to some work on it, I am not<br>
sure if I have enough time at present to get a result within a<br>
reasonable time.)<br>
<p>
<p>
Abel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">abel deuring: "Re: problems increasing SG_BIG_BUFF"</a>
<li> <b>Previous message:</b> <a href="0249.html">Rainer Krienke: "Re: problems increasing SG_BIG_BUFF"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Andreas Buesching: "problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0251.html">abel deuring: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- reply="end" -->
</ul>
