<title>sane-devel by date</title>
<a name="start"><h1>sane-devel by date</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</b>
</ul>
<p>
<b>Starting:</b> <i>Tue 01 Jun 1999 - 01:57:47 PDT</i><br>
<b>Ending:</b> <i>Wed 30 Jun 1999 - 18:48:10 PDT</i><br>
<b>Messages:</b> 260
<p>
<ul>
<li> <a href="0000.html"><b>microtek x6 and TMA not working</b></a> <a name="0"><i>Harald Finster</i></a>
<li> <a href="0001.html"><b>Re: Mustek ScanExpress 12000SP slow</b></a> <a name="1"><i>Dr. Andreas Bolsch</i></a>
<li> <a href="0002.html"><b>To UMAX Astra 6X0S and UMAX High End scanner users</b></a> <a name="2"><i>Oliver Rauch</i></a>
<li> <a href="0003.html"><b>Genius Colorpage HR5 (Pro) should work with sane</b></a> <a name="3"><i>Thorsten Skrabal</i></a>
<li> <a href="0004.html"><b>Re: To UMAX Astra 6X0S and UMAX High End scanner users</b></a> <a name="4"><i>Oliver Rauch</i></a>
<li> <a href="0005.html"><b>[Fwd: HP SJ 5100C]</b></a> <a name="5"><i>Peter Kirchgessner</i></a>
<li> <a href="0006.html"><b>ARTEC 6000C Plus Problems</b></a> <a name="6"><i>Ron Burton</i></a>
<li> <a href="0007.html"><b>Re: problems with HP SJ 4C and Linux</b></a> <a name="7"><i>Britt Bolen</i></a>
<li> <a href="0008.html"><b>Success - Primax 4800 Direct</b></a> <a name="8"><i>Danilo Godec</i></a>
<li> <a href="0009.html"><b>RE: saned: process_request: received unexpected procedure number 0</b></a> <a name="9"><i>Scott Wells</i></a>
<li> <a href="0010.html"><b>Re: microtek x6 and TMA not working</b></a> <a name="10"><i>Bernd Schroeder</i></a>
<li> <a href="0011.html"><b>Re: FAQs for HP scanners</b></a> <a name="11"><i>Mentore #cat# Siesto</i></a>
<li> <a href="0012.html"><b>Re: problems with HP SJ 4C and Linux</b></a> <a name="12"><i>Ewald R. de Wit</i></a>
<li> <a href="0013.html"><b>Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="13"><i>Christophe PUZENAT</i></a>
<li> <a href="0014.html"><b>Re: problems with HP SJ 4C and Linux</b></a> <a name="14"><i>Dave</i></a>
<li> <a href="0015.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="15"><i>Kick Glorie</i></a>
<li> <a href="0016.html"><b>backend-HOWTO</b></a> <a name="16"><i>Meino Christian Cramer</i></a>
<li> <a href="0017.html"><b>Re: Mustek ScanExpress 12000SP slow</b></a> <a name="17"><i>Nemeth Laszlo</i></a>
<li> <a href="0018.html"><b>Re: Mustek ScanExpress 12000SP slow</b></a> <a name="18"><i>Nemeth Laszlo</i></a>
<li> <a href="0019.html"><b>Re: Mustek ScanExpress 12000SP slow</b></a> <a name="19"><i>Dr. Andreas Bolsch</i></a>
<li> <a href="0020.html"><b>Re: problems with HP SJ 4C and Linux</b></a> <a name="20"><i>Peter Kirchgessner</i></a>
<li> <a href="0021.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="21"><i>Wolfgang Goeller</i></a>
<li> <a href="0022.html"><b>Problem with xscanimage</b></a> <a name="22"><i>Wolfgang Goeller</i></a>
<li> <a href="0023.html"><b>Re: Problem with xscanimage</b></a> <a name="23"><i>Peter Kirchgessner</i></a>
<li> <a href="0024.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="24"><i>Kevin Charter</i></a>
<li> <a href="0025.html"><b>Re: microtek x6 and TMA not working</b></a> <a name="25"><i>Harald Finster</i></a>
<li> <a href="0026.html"><b>Re: microtek x6 and TMA not working (apologies)</b></a> <a name="26"><i>Harald Finster</i></a>
<li> <a href="0027.html"><b>Re: microtek x6 and TMA not working (apologies)</b></a> <a name="27"><i>Greg Franks</i></a>
<li> <a href="0028.html"><b>Re: Re: microtek x6 and TMA not working</b></a> <a name="28"><i>Bernd Schroeder</i></a>
<li> <a href="0030.html"><b>First version of modified Coolscan backend for the LS-30</b></a> <a name="30"><i>Andreas Rick</i></a>
<li> <a href="0029.html"><b>Genius Colorpage HR5 and HR5 Pro should work as UMAX Astra 1200</b></a> <a name="29"><i>B.Skrabal@t-online.de</i></a>
<li> <a href="0031.html"><b>translate docs into Japanese</b></a> <a name="31"><i>Ryoji KAWAGISHI</i></a>
<li> <a href="0032.html"><b>Re: First version of modified Coolscan backend for the LS-30</b></a> <a name="32"><i>Nick Lamb</i></a>
<li> <a href="0033.html"><b>Re: microtek x6 and TMA not working</b></a> <a name="33"><i>Harald Finster</i></a>
<li> <a href="0034.html"><b>Re: First version of modified Coolscan backend for the LS-30</b></a> <a name="34"><i>Andreas Rick</i></a>
<li> <a href="0035.html"><b>UMAX 1220S not recognized</b></a> <a name="35"><i>Egg Ham</i></a>
<li> <a href="0036.html"><b>Re: UMAX 1220S not recognized</b></a> <a name="36"><i>Larry Snyder</i></a>
<li> <a href="0037.html"><b>Re: UMAX 1220S not recognized</b></a> <a name="37"><i>Douglas Gilbert</i></a>
<li> <a href="0038.html"><b>Re: First version of modified Coolscan backend for the LS-30</b></a> <a name="38"><i>David Fox</i></a>
<li> <a href="0039.html"><b>Slow DTC3181 aka UDS-IS11 SCSI card with Domex 436P chip</b></a> <a name="39"><i>Niko =?iso-8859-1?Q?Mikkil=E4?=</i></a>
<li> <a href="0040.html"><b>With a little help from my frineds... :-)</b></a> <a name="40"><i>Meino Christian Cramer</i></a>
<li> <a href="0041.html"><b>"scsi HP" in hp.conf</b></a> <a name="41"><i>J. Milgram</i></a>
<li> <a href="0042.html"><b>Re: "scsi HP" in hp.conf</b></a> <a name="42"><i>Nick Lamb</i></a>
<li> <a href="0043.html"><b>UMAX and UTA?</b></a> <a name="43"><i>Oliver Rauch</i></a>
<li> <a href="0044.html"><b>Re: "scsi HP" in hp.conf</b></a> <a name="44"><i>Wolfgang Goeller</i></a>
<li> <a href="0045.html"><b>UMAX T-30 and Adaptec 2906</b></a> <a name="45"><i>Eduardo M. A. M. Mendes</i></a>
<li> <a href="0046.html"><b>Re: UMAX and UTA?</b></a> <a name="46"><i>Lorenzo M. Catucci</i></a>
<li> <a href="0047.html"><b>problems increasing SG_BIG_BUFF</b></a> <a name="47"><i>Andreas Buesching</i></a>
<li> <a href="0048.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="48"><i>Douglas Gilbert</i></a>
<li> <a href="0049.html"><b>Re: UMAX T-30 and Adaptec 2906</b></a> <a name="49"><i>Oliver Rauch</i></a>
<li> <a href="0050.html"><b>Scanman Color 2000 driver (it exists !)</b></a> <a name="50"><i>Wim Taymans</i></a>
<li> <a href="0051.html"><b>Re: UMAX T-30 and Adaptec 2906</b></a> <a name="51"><i>mendes@mgconecta.com.br</i></a>
<li> <a href="0052.html"><b>Re: UMAX T-30 and Adaptec 2906</b></a> <a name="52"><i>Wim Taymans</i></a>
<li> <a href="0053.html"><b>Re: UMAX T-30 and Adaptec 2906</b></a> <a name="53"><i>Oliver Rauch</i></a>
<li> <a href="0054.html"><b>Re: UMAX T-30 and Adaptec 2906</b></a> <a name="54"><i>Eduardo M. A. M. Mendes</i></a>
<li> <a href="0055.html"><b>Re: UMAX T-30 and Adaptec 2906</b></a> <a name="55"><i>James H. Cloos Jr.</i></a>
<li> <a href="0056.html"><b>Re: UMAX T-30 and Adaptec 2906</b></a> <a name="56"><i>r_valetti@iol.it</i></a>
<li> <a href="0057.html"><b>Re: With a little help from my frineds... :-)</b></a> <a name="57"><i>Milon Firikis</i></a>
<li> <a href="0058.html"><b>Epson Scanner GT-7000</b></a> <a name="58"><i>Frank Berke</i></a>
<li> <a href="0059.html"><b>Re: UMAX and UTA?</b></a> <a name="59"><i>wolfgang Rapp</i></a>
<li> <a href="0060.html"><b>Re: UMAX 1220S not recognized</b></a> <a name="60"><i>Egg Ham</i></a>
<li> <a href="0061.html"><b>Re: First sucessSecond version of Coolscan backend for the LS-30 and</b></a> <a name="61"><i>Andreas Rick</i></a>
<li> <a href="0062.html"><b>Re: First sucess with Coolscan LS-30</b></a> <a name="62"><i>Andreas Rick</i></a>
<li> <a href="0063.html"><b>Re: UMAX and UTA?</b></a> <a name="63"><i>Oliver Rauch</i></a>
<li> <a href="0064.html"><b>Re: UMAX and UTA?</b></a> <a name="64"><i>wolfgang Rapp</i></a>
<li> <a href="0065.html"><b>Re: UMAX and UTA?</b></a> <a name="65"><i>Oliver Rauch</i></a>
<li> <a href="0067.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="67"><i>Petter Reinholdtsen</i></a>
<li> <a href="0066.html"><b>Missing month in mail archive webpage</b></a> <a name="66"><i>Petter Reinholdtsen</i></a>
<li> <a href="0068.html"><b>Re: "scsi HP" in hp.conf</b></a> <a name="68"><i>Peter Kirchgessner</i></a>
<li> <a href="0069.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="69"><i>Douglas Gilbert</i></a>
<li> <a href="0070.html"><b>EPSON GT7-000 transparency unit patch</b></a> <a name="70"><i>Norihiko Sawa</i></a>
<li> <a href="0071.html"><b>600 ||| EP Plus</b></a> <a name="71"><i>Bart</i></a>
<li> <a href="0072.html"><b>Artec AT6</b></a> <a name="72"><i>Brian B.</i></a>
<li> <a href="0073.html"><b>Re: 600 ||| EP Plus</b></a> <a name="73"><i>Jeff DeFouw</i></a>
<li> <a href="0074.html"><b>Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</b></a> <a name="74"><i>Fred Willingham</i></a>
<li> <a href="0075.html"><b>Re: Artec AT6</b></a> <a name="75"><i>Douglas Gilbert</i></a>
<li> <a href="0076.html"><b>SANE 1.0.1 under DEC UNIX 4.0</b></a> <a name="76"><i>Marian Szebenyi</i></a>
<li> <a href="0077.html"><b>Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</b></a> <a name="77"><i>David Fox</i></a>
<li> <a href="0078.html"><b>SANE 1.0.1 under RedHat 6.0</b></a> <a name="78"><i>Pedro Almeida</i></a>
<li> <a href="0079.html"><b>Re: Second version of Coolscan backend for the LS-30 and LS-2000</b></a> <a name="79"><i>Andreas Rick</i></a>
<li> <a href="0080.html"><b>Umax Astra 2400S</b></a> <a name="80"><i>Oliver Rauch</i></a>
<li> <a href="0081.html"><b>Re: Umax Astra 2400S</b></a> <a name="81"><i>Jonathan A. Buzzard</i></a>
<li> <a href="0082.html"><b>Re: Umax Astra 2400S</b></a> <a name="82"><i>Oliver Rauch</i></a>
<li> <a href="0083.html"><b>Artec AT6 yet again</b></a> <a name="83"><i>Brian B.</i></a>
<li> <a href="0084.html"><b>Re: Artec AT6 yet again</b></a> <a name="84"><i>Wolfgang Goeller</i></a>
<li> <a href="0085.html"><b>Request for more info on Obscure Scanner</b></a> <a name="85"><i>Jeffrey C. Jacobs</i></a>
<li> <a href="0086.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="86"><i>Michele Bini</i></a>
<li> <a href="0087.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="87"><i>Michele Bini</i></a>
<li> <a href="0088.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="88"><i>Michele Bini</i></a>
<li> <a href="0089.html"><b>Re: Artec AT6 yet again</b></a> <a name="89"><i>Brian B.</i></a>
<li> <a href="0090.html"><b>Re: Artec AT6 yet again</b></a> <a name="90"><i>Wolfgang Goeller</i></a>
<li> <a href="0091.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="91"><i>Juha Sahakangas</i></a>
<li> <a href="0092.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="92"><i>Michele Bini</i></a>
<li> <a href="0093.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="93"><i>Michele Bini</i></a>
<li> <a href="0094.html"><b>Re: Artec AT6 yet again</b></a> <a name="94"><i>Brian B.</i></a>
<li> <a href="0095.html"><b>Re: Request for more info on Obscure Scanner</b></a> <a name="95"><i>Warren</i></a>
<li> <a href="0096.html"><b>Re: Artec AT6 yet again</b></a> <a name="96"><i>Wolfgang Goeller</i></a>
<li> <a href="0097.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="97"><i>Michele Bini</i></a>
<li> <a href="0098.html"><b>Polaroid scanner</b></a> <a name="98"><i>regis rampnoux</i></a>
<li> <a href="0099.html"><b>Re: Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="99"><i>Bernd Schroeder</i></a>
<li> <a href="0100.html"><b>Re: Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="100"><i>Bernd Schroeder</i></a>
<li> <a href="0101.html"><b>Re: Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="101"><i>Juha Sahakangas</i></a>
<li> <a href="0102.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="102"><i>Bernd Schroeder</i></a>
<li> <a href="0103.html"><b>Fujitsu Scanner support?</b></a> <a name="103"><i>Rooster</i></a>
<li> <a href="0104.html"><b>A small compatibility update</b></a> <a name="104"><i>Chris Mortensen</i></a>
<li> <a href="0105.html"><b>Re: Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="105"><i>Bernd Schroeder</i></a>
<li> <a href="0106.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="106"><i>Bernd Schroeder</i></a>
<li> <a href="0107.html"><b>Re: A small compatibility update</b></a> <a name="107"><i>Bernd Schroeder</i></a>
<li> <a href="0109.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="109"><i>Michele Bini</i></a>
<li> <a href="0108.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="108"><i>Michele Bini</i></a>
<li> <a href="0110.html"><b>Re: Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="110"><i>Juha Sahakangas</i></a>
<li> <a href="0111.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="111"><i>Juha Sahakangas</i></a>
<li> <a href="0112.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="112"><i>Michele Bini</i></a>
<li> <a href="0113.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="113"><i>Michele Bini</i></a>
<li> <a href="0114.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="114"><i>Michele Bini</i></a>
<li> <a href="0115.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="115"><i>Bernd Schroeder</i></a>
<li> <a href="0116.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="116"><i>Bernd Schroeder</i></a>
<li> <a href="0117.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="117"><i>Juha Sahakangas</i></a>
<li> <a href="0118.html"><b>Re: Fujitsu Scanner support?</b></a> <a name="118"><i>Oliver Rauch</i></a>
<li> <a href="0119.html"><b>Re: Fujitsu Scanner support?</b></a> <a name="119"><i>Rooster</i></a>
<li> <a href="0120.html"><b>UMAX Astra 2400S</b></a> <a name="120"><i>Oliver Rauch</i></a>
<li> <a href="0121.html"><b>Re: Fujitsu Scanner support?</b></a> <a name="121"><i>Oliver Rauch</i></a>
<li> <a href="0122.html"><b>UMAX T-630 question</b></a> <a name="122"><i>mendes@mgconecta.com.br</i></a>
<li> <a href="0123.html"><b>Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</b></a> <a name="123"><i>Fred Willingham</i></a>
<li> <a href="0124.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="124"><i>Michele Bini</i></a>
<li> <a href="0125.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="125"><i>Michele Bini</i></a>
<li> <a href="0126.html"><b>Re: [PARPORT] BETA test, new ppSCSI drivers</b></a> <a name="126"><i>Michele Bini</i></a>
<li> <a href="0127.html"><b>SprintScan 35 LE</b></a> <a name="127"><i>Herwin Jan Steehouwer</i></a>
<li> <a href="0128.html"><b>scanimage doesn't cope with saned breaking connection (apparently)</b></a> <a name="128"><i>Fernando Fernandez</i></a>
<li> <a href="0129.html"><b>Re: pnm-files</b></a> <a name="129"><i>Joachim Kunze</i></a>
<li> <a href="0130.html"><b>Spy on the SCSI-bus</b></a> <a name="130"><i>Meino Christian Cramer</i></a>
<li> <a href="0131.html"><b>Re: UMAX T-630 question</b></a> <a name="131"><i>Oliver Rauch</i></a>
<li> <a href="0132.html"><b>Re: Spy on the SCSI-bus</b></a> <a name="132"><i>Andreas Rick</i></a>
<li> <a href="0133.html"><b>Re: UMAX T-630 question</b></a> <a name="133"><i>Eduardo M. A. M. Mendes</i></a>
<li> <a href="0134.html"><b>Re: UMAX T-630 question</b></a> <a name="134"><i>Eduardo M. A. M. Mendes</i></a>
<li> <a href="0135.html"><b>Re: Artec AT6 yet again</b></a> <a name="135"><i>Brian B.</i></a>
<li> <a href="0136.html"><b>Re: Artec AT6 yet again</b></a> <a name="136"><i>Wolfgang Goeller</i></a>
<li> <a href="0137.html"><b>Re: Spy on the SCSI-bus</b></a> <a name="137"><i>Henry Miller</i></a>
<li> <a href="0138.html"><b>artec home handheld scanners</b></a> <a name="138"><i>scratch</i></a>
<li> <a href="0139.html"><b>Segmentation Fault</b></a> <a name="139"><i>Steve Springett</i></a>
<li> <a href="0140.html"><b>Umax 1200S on LinuxPPC R5</b></a> <a name="140"><i>Simon Piette</i></a>
<li> <a href="0141.html"><b>SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F</b></a> <a name="141"><i>Meino Christian Cramer</i></a>
<li> <a href="0142.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="142"><i>Oliver Rauch</i></a>
<li> <a href="0143.html"><b>Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F</b></a> <a name="143"><i>Nick Lamb</i></a>
<li> <a href="0144.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="144"><i>Simon Piette</i></a>
<li> <a href="0145.html"><b>Re: Segmentation Fault</b></a> <a name="145"><i>Peter Kirchgessner</i></a>
<li> <a href="0146.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="146"><i>Oliver Rauch</i></a>
<li> <a href="0147.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="147"><i>Simon Piette</i></a>
<li> <a href="0148.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="148"><i>Nick Lamb</i></a>
<li> <a href="0149.html"><b>Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F</b></a> <a name="149"><i>Meino Christian Cramer</i></a>
<li> <a href="0150.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="150"><i>Simon Piette</i></a>
<li> <a href="0151.html"><b>scanimage: support $SANE_DEFAULT_DEVICE (patch)</b></a> <a name="151"><i>Ingo Wilken</i></a>
<li> <a href="0152.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="152"><i>Oliver Rauch</i></a>
<li> <a href="0153.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="153"><i>Simon Piette</i></a>
<li> <a href="0154.html"><b>Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="154"><i>David Fox</i></a>
<li> <a href="0155.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="155"><i>Oliver Rauch</i></a>
<li> <a href="0156.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="156"><i>Oliver Rauch</i></a>
<li> <a href="0157.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="157"><i>Simon Piette</i></a>
<li> <a href="0158.html"><b>New umax backend (build 6)</b></a> <a name="158"><i>Oliver Rauch</i></a>
<li> <a href="0159.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="159"><i>David Fox</i></a>
<li> <a href="0160.html"><b>Newbie question ;-)</b></a> <a name="160"><i>Gunnar Schroeder</i></a>
<li> <a href="0161.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="161"><i>Oliver Rauch</i></a>
<li> <a href="0162.html"><b>Re: Newbie question ;-)</b></a> <a name="162"><i>Oliver Rauch</i></a>
<li> <a href="0163.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="163"><i>Oliver Rauch</i></a>
<li> <a href="0164.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="164"><i>Nick Lamb</i></a>
<li> <a href="0165.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="165"><i>Robert Fargher</i></a>
<li> <a href="0166.html"><b>Re: Newbie question ;-)</b></a> <a name="166"><i>amalmin@coho.halcyon.com</i></a>
<li> <a href="0167.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="167"><i>David Fox</i></a>
<li> <a href="0168.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="168"><i>Oliver Rauch</i></a>
<li> <a href="0169.html"><b>Re: Fix for grayscale scans with gamma &lt; 1.0</b></a> <a name="169"><i>Oliver Rauch</i></a>
<li> <a href="0170.html"><b>UMAX Vendors</b></a> <a name="170"><i>Jeffrey Thompson</i></a>
<li> <a href="0171.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="171"><i>Simon Piette</i></a>
<li> <a href="0172.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="172"><i>Douglas Gilbert</i></a>
<li> <a href="0173.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="173"><i>Hugo van der Kooij</i></a>
<li> <a href="0174.html"><b>Re: Re DTC 3181 etc</b></a> <a name="174"><i>Niko Mikkila</i></a>
<li> <a href="0175.html"><b>Re: Segmentation Fault</b></a> <a name="175"><i>Steve Springett</i></a>
<li> <a href="0176.html"><b>Re: Segmentation Fault</b></a> <a name="176"><i>Peter Kirchgessner</i></a>
<li> <a href="0177.html"><b>myterious success problem...</b></a> <a name="177"><i>Meino Christian Cramer</i></a>
<li> <a href="0178.html"><b>Re: UMAX Vendors</b></a> <a name="178"><i>Oliver Rauch</i></a>
<li> <a href="0179.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="179"><i>Oliver Rauch</i></a>
<li> <a href="0180.html"><b>Re: UMAX Vendors</b></a> <a name="180"><i>Jeffrey Thompson</i></a>
<li> <a href="0181.html"><b>Re: UMAX Vendors</b></a> <a name="181"><i>Oliver Rauch</i></a>
<li> <a href="0182.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="182"><i>Hugo van der Kooij</i></a>
<li> <a href="0183.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="183"><i>Oliver Rauch</i></a>
<li> <a href="0184.html"><b>Problems detecting my scanner.</b></a> <a name="184"><i>Carlos Costa Portela</i></a>
<li> <a href="0185.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="185"><i>Hugo van der Kooij</i></a>
<li> <a href="0186.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="186"><i>Oliver Rauch</i></a>
<li> <a href="0187.html"><b>Microtek 600GS &amp; Solaris 7 : trouble</b></a> <a name="187"><i>dolbeau romain</i></a>
<li> <a href="0188.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="188"><i>David Mosberger-Tang</i></a>
<li> <a href="0189.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="189"><i>Tom Martone</i></a>
<li> <a href="0190.html"><b>New Camera</b></a> <a name="190"><i>Remmert</i></a>
<li> <a href="0191.html"><b>Microtek 600GS &amp; Solaris 7 : trouble</b></a> <a name="191"><i>Romain Dolbeau</i></a>
<li> <a href="0192.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="192"><i>Oliver Rauch</i></a>
<li> <a href="0193.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="193"><i>Oliver Rauch</i></a>
<li> <a href="0194.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="194"><i>Douglas Gilbert</i></a>
<li> <a href="0195.html"><b>Re: New Camera</b></a> <a name="195"><i>Hugo van der Kooij</i></a>
<li> <a href="0196.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="196"><i>Simon Piette</i></a>
<li> <a href="0197.html"><b>Re: Problems detecting my scanner.</b></a> <a name="197"><i>Ingo Wilken</i></a>
<li> <a href="0198.html"><b>Re: New Camera</b></a> <a name="198"><i>Oliver Rauch</i></a>
<li> <a href="0199.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="199"><i>Oliver Rauch</i></a>
<li> <a href="0200.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="200"><i>Oliver Rauch</i></a>
<li> <a href="0201.html"><b>Re: New Camera</b></a> <a name="201"><i>Nick Lamb</i></a>
<li> <a href="0202.html"><b>Re: New Camera</b></a> <a name="202"><i>Hugo van der Kooij</i></a>
<li> <a href="0203.html"><b>Re: New Camera</b></a> <a name="203"><i>Oliver Rauch</i></a>
<li> <a href="0204.html"><b>Re: your mail</b></a> <a name="204"><i>Ingo Wilken</i></a>
<li> <a href="0205.html"><b>[ANNOUNCE] SANE 1.0.1 for OS/2 is ready</b></a> <a name="205"><i>Yuri Dario</i></a>
<li> <a href="0206.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="206"><i>Simon Piette</i></a>
<li> <a href="0207.html"><b>make fails on RH 6.0</b></a> <a name="207"><i>Tomm Aldridge</i></a>
<li> <a href="0208.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="208"><i>Oliver Rauch</i></a>
<li> <a href="0209.html"><b>Standard reply to manufacturers</b></a> <a name="209"><i>Hugo van der Kooij</i></a>
<li> <a href="0210.html"><b>SE 12000SP (Mustek)</b></a> <a name="210"><i>Dr. Ing. Dieter Jurzitza</i></a>
<li> <a href="0211.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="211"><i>Douglas Gilbert</i></a>
<li> <a href="0212.html"><b>X6EL modes under OS/2?</b></a> <a name="212"><i>joel@cs.rochester.edu</i></a>
<li> <a href="0213.html"><b>Re: Fujitsu Scanner support?</b></a> <a name="213"><i>Patrice Espie</i></a>
<li> <a href="0214.html"><b>Re: Fujitsu Scanner support?</b></a> <a name="214"><i>Rooster</i></a>
<li> <a href="0215.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="215"><i>Simon Piette</i></a>
<li> <a href="0216.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="216"><i>Simon Piette</i></a>
<li> <a href="0217.html"><b>Re: X6EL modes under OS/2?</b></a> <a name="217"><i>Bernd Schroeder</i></a>
<li> <a href="0218.html"><b>Microtek X6 and TMA</b></a> <a name="218"><i>Bernd Schroeder</i></a>
<li> <a href="0219.html"><b>Re: Re DTC 3181 etc</b></a> <a name="219"><i>Niko Mikkila</i></a>
<li> <a href="0220.html"><b>calculation of bytes to read, bytes per line etc</b></a> <a name="220"><i>Meino Christian Cramer</i></a>
<li> <a href="0221.html"><b>Re: calculation of bytes to read, bytes per line etc</b></a> <a name="221"><i>Oliver Rauch</i></a>
<li> <a href="0222.html"><b>Re: xsane-26: Options for normal/fine were not saved</b></a> <a name="222"><i>Thomas Ziegler</i></a>
<li> <a href="0223.html"><b>Scanner Development</b></a> <a name="223"><i>M. Been</i></a>
<li> <a href="0224.html"><b>Re: xsane-26: Options for normal/fine were not saved</b></a> <a name="224"><i>Oliver Rauch</i></a>
<li> <a href="0225.html"><b>XSANE-0.27 available</b></a> <a name="225"><i>Oliver Rauch</i></a>
<li> <a href="0226.html"><b>Re: calculation of bytes to read, bytes per line etc</b></a> <a name="226"><i>abel deuring</i></a>
<li> <a href="0227.html"><b>Re: X6EL modes under OS/2?</b></a> <a name="227"><i>joel@cs.rochester.edu</i></a>
<li> <a href="0228.html"><b>Re: Scanner Development</b></a> <a name="228"><i>Roderick Klein</i></a>
<li> <a href="0229.html"><b>Re: X6EL modes under OS/2?</b></a> <a name="229"><i>Yuri Dario</i></a>
<li> <a href="0230.html"><b>Re: Umax 1200S on LinuxPPC R5</b></a> <a name="230"><i>Douglas Gilbert</i></a>
<li> <a href="0231.html"><b>Snapscan &amp; kernels &gt;2.2.5</b></a> <a name="231"><i>Francois Desarmenien</i></a>
<li> <a href="0232.html"><b>Re: myterious success problem...</b></a> <a name="232"><i>Andreas Rick</i></a>
<li> <a href="0233.html"><b>Re: myterious success problem...</b></a> <a name="233"><i>Meino Christian Cramer</i></a>
<li> <a href="0234.html"><b>ST400 backend update</b></a> <a name="234"><i>Ingo Wilken</i></a>
<li> <a href="0235.html"><b>Re: Standard reply to manufacturers</b></a> <a name="235"><i>Petter Reinholdtsen</i></a>
<li> <a href="0236.html"><b>Re: Standard reply to manufacturers</b></a> <a name="236"><i>Hugo van der Kooij</i></a>
<li> <a href="0237.html"><b>Re: X6EL modes under OS/2?</b></a> <a name="237"><i>Bernd Schroeder</i></a>
<li> <a href="0238.html"><b>Problems compiling sane on my box</b></a> <a name="238"><i>Dr. Ing. Dieter Jurzitza</i></a>
<li> <a href="0239.html"><b>Re: Problems compiling sane on my box</b></a> <a name="239"><i>Hugo van der Kooij</i></a>
<li> <a href="0240.html"><b>Re: Problems compiling sane on my box</b></a> <a name="240"><i>Oliver Rauch</i></a>
<li> <a href="0241.html"><b>Re: Problems compiling sane on my box</b></a> <a name="241"><i>amalmin@coho.halcyon.com</i></a>
<li> <a href="0242.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="242"><i>Douglas Gilbert</i></a>
<li> <a href="0243.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="243"><i>Rainer Krienke</i></a>
<li> <a href="0244.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="244"><i>Kick Glorie</i></a>
<li> <a href="0245.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="245"><i>Francois Desarmenien</i></a>
<li> <a href="0246.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="246"><i>abel deuring</i></a>
<li> <a href="0247.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="247"><i>Douglas Gilbert</i></a>
<li> <a href="0248.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="248"><i>Douglas Gilbert</i></a>
<li> <a href="0249.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="249"><i>Rainer Krienke</i></a>
<li> <a href="0250.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="250"><i>abel deuring</i></a>
<li> <a href="0251.html"><b>Re: problems increasing SG_BIG_BUFF</b></a> <a name="251"><i>abel deuring</i></a>
<li> <a href="0252.html"><b>Nikon Coolscan with RedHat 6.0</b></a> <a name="252"><i>Malcolm Wallace</i></a>
<li> <a href="0253.html"><b>Re: Nikon Coolscan with RedHat 6.0</b></a> <a name="253"><i>David Fox</i></a>
<li> <a href="0254.html"><b>Re: Nikon Coolscan with RedHat 6.0</b></a> <a name="254"><i>Andreas</i></a>
<li> <a href="0255.html"><b>Compiling difficulties</b></a> <a name="255"><i>Dr. Ing. Dieter Jurzitza</i></a>
<li> <a href="0256.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="256"><i>Francois Desarmenien</i></a>
<li> <a href="0257.html"><b>Scanner detected, but scanimage doesn't run...</b></a> <a name="257"><i>Carlos Costa Portela</i></a>
<li> <a href="0258.html"><b>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</b></a> <a name="258"><i>Kevin Charter</i></a>
<li> <a href="0259.html"><b>Re: Scanner detected, but scanimage doesn't run...</b></a> <a name="259"><i>Brian Macy</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Wed 30 Jun 1999 - 18:48:10 PDT</i><br>
<b>Archived on:</b> <i>Wed Jun 30 1999 - 18:49:01 PDT</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
