<!-- received="Mon Nov  2 06:34:36 1998 PST" -->
<!-- sent="Mon, 2 Nov 1998 15:32:41 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Sym53c416 driver problem" -->
<!-- id="199811021432.PAA12275@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="Pine.LNX.4.03.9811021017500.3153-100000@manna.yok.utu.fi" -->
<title>sane-devel: Re: Sym53c416 driver problem</title>
<h1>Re: Sym53c416 driver problem</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 2 Nov 1998 15:32:41 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Christoph Doerbeck A242369: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0010.html">Mike Mitten: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Matti Koskimies: "Re: Sym53c416 driver problem"</a>
<li> <b>Reply:</b> <a href="0017.html">Matti Koskimies: "Re: Sym53c416 driver problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I can't get the Sym53c416 -driver working.</i><br>
<p>
This is an ISA card still, right ?<br>
<p>
<i>&gt; When I type 'insmod sym53c416', the response is:</i><br>
<i>&gt; </i><br>
<i>&gt; sym53c416: no available ports found</i><br>
<i>&gt; scsi : 0 hosts.</i><br>
<i>&gt; /lib/modules/2.0.35/misc/sym53c416.o: init_module: Device or resource busy</i><br>
<p>
Looks like it is missing the io=parameter, or the card needs to be set up<br>
by PNP or something. Read the driver docs.<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Christoph Doerbeck A242369: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0010.html">Mike Mitten: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Matti Koskimies: "Re: Sym53c416 driver problem"</a>
<li> <b>Reply:</b> <a href="0017.html">Matti Koskimies: "Re: Sym53c416 driver problem"</a>
<!-- reply="end" -->
</ul>
