<!-- received="Mon Nov  2 07:36:05 1998 PST" -->
<!-- sent="Mon, 02 Nov 1998 16:35:07 +0100" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: problem getting linux to recognize SCSI host adapter" -->
<!-- id="" -->
<!-- inreplyto="problem getting linux to recognize SCSI host adapter" -->
<title>sane-devel: Re: problem getting linux to recognize SCSI host adapter</title>
<h1>Re: problem getting linux to recognize SCSI host adapter</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Mon, 02 Nov 1998 16:35:07 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Mike Mitten: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0012.html">Christoph Doerbeck A242369: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Mike<br>
<p>
<i>&gt; 'cause the card's BIOS seems to</i><br>
<i>&gt; hang at boot time, looking for a non-existent device on ID 1 after</i><br>
<i>&gt; it's found the scanner on 0.  I'm thinking my best bet is to print out</i><br>
<i>&gt; the SCSI section of the hardware compatibility HOWTO and take it to</i><br>
<i>&gt; CompUSA to get, as someone else said, a real SCSI controler.</i><br>
<p>
Did you ever try to put the scanner on ID 3 and to load the <br>
driver as module - this might help you a lot.<br>
Cheaper than buying a new card<br>
<p>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Mike Mitten: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0012.html">Christoph Doerbeck A242369: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
