<!-- received="Thu Nov  5 15:56:19 1998 PST" -->
<!-- sent="Fri, 6 Nov 1998 00:49:36 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: ScanMaker V600 under Linux" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.03.9811012355380.26402-100000@localhost" -->
<title>sane-devel: Re: ScanMaker V600 under Linux</title>
<h1>Re: ScanMaker V600 under Linux</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 6 Nov 1998 00:49:36 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0052.html">Bernd Schroeder: "Re: Patch to make Microtek Phantom 636 SCSI (aka ScanMaker X6) work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Mon, Nov 02, 1998 at 12:01:02AM +0000, Stefan Mashkevich wrote:<br>
<i>&gt; Hello All,</i><br>
<i>&gt; </i><br>
<i>&gt; sorry for a newcomer question... Pentium/Red Hat 5.1, Microtek</i><br>
<i>&gt; ScanMaker V600 (parallel port version); sane-0.74 won't recognize</i><br>
<i>&gt; it -- /dev/scanner is not created and no further action takes place.</i><br>
<i>&gt; I haven't found any hints in the documentation...</i><br>
<i>&gt; what could be the problem?</i><br>
<p>
Microtek parallel port scanners are currently not supported by sane.<br>
<p>
What I can tell is the following: According to a mail from Grant Guenter<br>
(the maintainer (or one of the maintainers ?) of the Linux parport<br>
project) on the parport mailinglist some weeks ago, at least some<br>
Microtek scanners have an OnSpec 90C26 for their SCSI-connection.<br>
<p>
This chip allows to add some additional hardware (some kind of<br>
SCSI &lt;-&gt; parallel adapter), so that SCSI-devices can be connected<br>
to the PC's parallel port.<br>
<p>
This means, that those "parallel port" devices, that are built with this<br>
chip, are actually SCSI devices. I suppose, that this is at least the<br>
case for models, where both a SCSI and a parallel port version exist.<br>
<p>
It also means, that the protocol, which is used for the communication<br>
between the backend and the device, is most likely the same for both<br>
variants, so that these parallelport scanners would be useable, if a<br>
parallel port driver would exist.<br>
<p>
According to his mail on the parport mailing list, Grant is currently<br>
working on such a driver (which would indeed only work under Linux).<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0052.html">Bernd Schroeder: "Re: Patch to make Microtek Phantom 636 SCSI (aka ScanMaker X6) work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
