<!-- received="Mon Nov  9 11:02:54 1998 PST" -->
<!-- sent="Mon, 09 Nov 98 11:59:58 -0700" -->
<!-- name="John Brush" -->
<!-- email="jbrush@aros.net" -->
<!-- subject="Microtek and high res" -->
<!-- id="199811091901.MAA14159@mars.aros.net" -->
<!-- inreplyto="36463487.E5B08AE7@ariadne-t.gr" -->
<title>sane-devel: Microtek and high res</title>
<h1>Microtek and high res</h1>
<b>John Brush</b> (<a href="mailto:jbrush@aros.net"><i>jbrush@aros.net</i></a>)<br>
<i>Mon, 09 Nov 98 11:59:58 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#68">[ date ]</a><a href="index.html#68">[ thread ]</a><a href="subject.html#68">[ subject ]</a><a href="author.html#68">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Kris Kadela: "sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<li> <b>Previous message:</b> <a href="0067.html">Milon Firikis: "Q: sane-1.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have asked before and am not sure my posts are even showing up, but<br>
here goes again.<br>
<p>
Does SANE for OS/2 support better than 100DPI for Microtek E3?<br>
<p>
Am I asking this in the right place? :) <br>
<p>
The web page says it does, but reality doesn't match what the page<br>
says, unless I am doing something wrong.<br>
<p>
Thanks,<br>
<p>
John<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Kris Kadela: "sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<li> <b>Previous message:</b> <a href="0067.html">Milon Firikis: "Q: sane-1.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
