<!-- received="Mon Nov  9 18:32:39 1998 PST" -->
<!-- sent="Mon, 09 Nov 1998 21:31:40 -0500" -->
<!-- name="Neil Zampella" -->
<!-- email="neilz@techie.com" -->
<!-- subject="Re: Sane v.74 for OS/2 and Acer Prism SCSI" -->
<!-- id="199811100231.VAA14899@pop02.globecomm.net" -->
<!-- inreplyto="Sane v.74 for OS/2 and Acer Prism SCSI" -->
<title>sane-devel: Re: Sane v.74 for OS/2 and Acer Prism SCSI</title>
<h1>Re: Sane v.74 for OS/2 and Acer Prism SCSI</h1>
<b>Neil Zampella</b> (<a href="mailto:neilz@techie.com"><i>neilz@techie.com</i></a>)<br>
<i>Mon, 09 Nov 1998 21:31:40 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Rainer Seupel: "EPSON GT-7000"</a>
<li> <b>Previous message:</b> <a href="0071.html">Chris Pinkham: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Yuri Dario: "Re: Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 07 Nov 1998 15:38:56 +0100, Yuri Dario wrote:<br>
<p>
<i>&gt;On Fri, 06 Nov 1998 17:07:13 -0500, Neil Zampella wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt;when I use the v.74 version I get:</i><br>
<i>&gt;</i><br>
<i>&gt;it's a bug, that I should address soon.</i><br>
<i>&gt;</i><br>
<p>
Thanks Yuri .. wasn't sure if it was a programming bug, or something on my system.<br>
<p>
<i>&gt;&gt;So the system is definitely seeing something ... however, I can't scan as the device isn't recognized by any </i><br>
of <br>
<i>&gt;&gt;the 'back ends'.    Any assistance or advice would be appreciated !!</i><br>
<i>&gt;</i><br>
<i>&gt;find.scanner finds everything that is a scsi device, but you need a backend to drive your scanner model. </i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;Bye,</i><br>
<i>&gt;</i><br>
<i>&gt;	Yuri Dario</i><br>
<i>&gt;</i><br>
<p>
Arggh ... OK .. since I've been told that this scanner is really a version of the Artec scanner, whoever is doing <br>
that backend, can this scanner be included under that ??<br>
<p>
Neil Zampella<br>
<p>
Why do I use OS/2 ??<br>
Because I like choice !!<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Rainer Seupel: "EPSON GT-7000"</a>
<li> <b>Previous message:</b> <a href="0071.html">Chris Pinkham: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Yuri Dario: "Re: Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- reply="end" -->
</ul>
