<!-- received="Mon Nov  9 21:14:56 1998 PST" -->
<!-- sent="Mon, 09 Nov 1998 20:22:21 -0500" -->
<!-- name="The Nichols" -->
<!-- email="jnichols@tcia.net" -->
<!-- subject="Scn2_90.zip &amp; 9a.zip" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scn2_90.zip &amp; 9a.zip</title>
<h1>Scn2_90.zip &amp; 9a.zip</h1>
<b>The Nichols</b> (<a href="mailto:jnichols@tcia.net"><i>jnichols@tcia.net</i></a>)<br>
<i>Mon, 09 Nov 1998 20:22:21 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">David Mosberger-Tang: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0075.html">James Carter: "gimp plugin finding no scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Reply:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Reply:</b> <a href="0087.html">Kris Kadela: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Reply:</b> <a href="0108.html">Yuri Dario: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Hi,<br>
 <br>
 Don't know if I asking this in the right place so please forgive me. The<br>
pm version of sane for OS2 is Trapping out when I try to open the Scan<br>
It/2 ..   <br>
<p>
The install went nicely..   <br>
<p>
Got a Umax 1220S at a good price hoping it work in OS2.  If <br>
not please let me know so I can return it for a refund ?<br>
<p>
------------------------------------------------------------<br>
<p>
11-08-1998  21:56:31  SYS3175  PID 0038  TID 0001  Slot 0065<br>
G:\SCNIT2\SCN2.EXE<br>
c0000005<br>
1bdc2aa0<br>
P1=00000001  P2=00000000  P3=XXXXXXXX  P4=XXXXXXXX  <br>
EAX=00000000  EBX=005ff370  ECX=ffffffff  EDX=00000042<br>
ESI=000d4c80  EDI=00000000  <br>
DS=0053  DSACC=d0f3  DSLIM=1fffffff  <br>
ES=0053  ESACC=d0f3  ESLIM=1fffffff  <br>
FS=150b  FSACC=00f3  FSLIM=00000030<br>
GS=0000  GSACC=****  GSLIM=********<br>
CS:EIP=005b:1bdc2aa0  CSACC=d0df  CSLIM=1fffffff<br>
SS:ESP=0053:000d4a38  SSACC=d0f3  SSLIM=1fffffff<br>
EBP=000d4b98  FLG=00012286<br>
<p>
PMMERGE.DLL 0004:000c2aa0<br>
<p>
<p>
<p>
Thanks,<br>
Jerry<br>
<p>
<p>
<pre>
-- 
-----------------------------------------------------------
<a href="mailto:jnichols@tcia.net">jnichols@tcia.net</a>
-----------------------------------------------------------
<p>
          MR/2 Ice Internet Cruiser Edition for OS/2 Registered                    
                InJoy Extended Client Release 2.0b for OS/2       
                        IBM OS/2 Warp v4 Revision 9.033
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">David Mosberger-Tang: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0075.html">James Carter: "gimp plugin finding no scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Reply:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Reply:</b> <a href="0087.html">Kris Kadela: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Reply:</b> <a href="0108.html">Yuri Dario: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<!-- reply="end" -->
</ul>
