<!-- received="Mon Nov  9 21:36:17 1998 PST" -->
<!-- sent="Mon, 9 Nov 1998 21:36:16 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: gimp plugin finding no scanner" -->
<!-- id="199811100536.VAA01423@panda.mostang.com" -->
<!-- inreplyto="swordfish.910616931@cs.york.ac.uk" -->
<title>sane-devel: Re: gimp plugin finding no scanner</title>
<h1>Re: gimp plugin finding no scanner</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 9 Nov 1998 21:36:16 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Andre Couture: "Re: Scanner"</a>
<li> <b>Previous message:</b> <a href="0077.html">David Mosberger-Tang: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">James Carter: "Re: gimp plugin finding no scanner"</a>
<li> <b>Reply:</b> <a href="0122.html">James Carter: "Re: gimp plugin finding no scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 9 Nov 1998 12:48:02 +0000, James Carter &lt;<a href="mailto:james@cs.york.ac.uk">james@cs.york.ac.uk</a>&gt; said:</i><br>
<p>
  James&gt; my problem is this: sane cannot find the hporig device<br>
  James&gt; (eg. scanimage -L returns nothing). this is not a problem<br>
  James&gt; when calling xscanimage from the command line because i can<br>
  James&gt; simply specify the driver, but i don't have this option when<br>
  James&gt; using it as a gimp plugin.<br>
<p>
If hporig appears in /usr/local/etc/sane.d/dll.conf, scanimage -L<br>
should find it.  If this doesn't work, try running scanimage -L with<br>
environment variables SANE_DEBUG_DLL and SANE_DEBUG_HPORIG set to 255.<br>
<p>
BTW: I really would prefer if someone could integrate the hporig stuff<br>
into hp.  I don't want to have to distribute two different HP backends<br>
if I can help it.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Andre Couture: "Re: Scanner"</a>
<li> <b>Previous message:</b> <a href="0077.html">David Mosberger-Tang: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">James Carter: "Re: gimp plugin finding no scanner"</a>
<li> <b>Reply:</b> <a href="0122.html">James Carter: "Re: gimp plugin finding no scanner"</a>
<!-- reply="end" -->
</ul>
