<!-- received="Tue Nov 10 07:29:27 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 15:28:42 +0000" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek 1200 III EP?" -->
<!-- id="" -->
<!-- inreplyto="Mustek 1200 III EP?" -->
<title>sane-devel: Re: Mustek 1200 III EP?</title>
<h1>Re: Mustek 1200 III EP?</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Tue, 10 Nov 1998 15:28:42 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Previous message:</b> <a href="0084.html">J. Rhett Aultman: "Re: Mustek 1200 III EP?"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">J. Rhett Aultman: "Mustek 1200 III EP?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Andre Couture: "Re: Mustek 1200 III EP?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"J. Rhett Aultman" wrote:<br>
<p>
<i>&gt; When I called Mustek asking if they had any UNIX drivers of any kind, the</i><br>
<i>&gt; tech rep said "no, but there's been some discussion </i><br>
<p>
The tech staff is probably not allowed to disclose<br>
any technical information. So, address yourself<br>
to the marketing department (Linux has become very<br>
popular recently, so you may sell much more units if<br>
they'd been usable with Linux, and all you have to<br>
do is to send us the docs ...). See www.mustek.com.tw<br>
for their email address.<br>
<p>
This worked for me some months ago for the SCSI<br>
scanners.  <br>
<p>
<i>&gt; I did have a thought, however...since it goes in my printer's parallel</i><br>
<i>&gt; port, the process of reading from it can't be too different than the</i><br>
<i>&gt; process of writing to it (i.e. to send out to the printer), right?</i><br>
<p>
Well, yes, and from the docs for the SCSI models<br>
I would suspect that the 1200 III EP uses uses the<br>
same command set as the ScanExpress 6000SP/12000SP.<br>
<p>
The point is just how the scanner knows that data<br>
on the data lines is intended for itself, not for<br>
the printer, and how direction of data flow and<br>
distinction of data/commands is done.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Oliver Rauch: "Re: Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Previous message:</b> <a href="0084.html">J. Rhett Aultman: "Re: Mustek 1200 III EP?"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">J. Rhett Aultman: "Mustek 1200 III EP?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Andre Couture: "Re: Mustek 1200 III EP?"</a>
<!-- reply="end" -->
</ul>
