<!-- received="Tue Nov 10 14:03:41 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 22:02:11 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: New pretest available [was: Re: available for testing: Is delay Possible?]" -->
<!-- id="199811102102.WAA01012@garfield.m.isar.de" -->
<!-- inreplyto="New pretest available [was: Re: available for testing: Is delay Possible?]" -->
<title>sane-devel: Re: New pretest available [was: Re: available for testing: Is delay Possible?]</title>
<h1>Re: New pretest available [was: Re: available for testing: Is delay Possible?]</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Tue, 10 Nov 1998 22:02:11 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Andre Couture: "Re: Mustek 1200 III EP?"</a>
<li> <b>Previous message:</b> <a href="0094.html">Jonathan Buzzard: "Re: Mustek 1200 III EP?"</a>
<li> <b>Maybe in reply to:</b> <a href="0048.html">David Mosberger-Tang: "New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Petter Adsen: "Re: pre-release available for testing: Is delay Possible?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Fri, 6 Nov 1998 01:06:35 +0100 (MET), Martin Huber </i><br>
&lt;<a href="mailto:hu@garfield.m.isar.de">hu@garfield.m.isar.de</a>&gt; said:<br>
<i>&gt; </i><br>
<i>&gt;   Martin&gt; -- HP C6270A 3824 (Scanjet VI) works mostly. The automatic</i><br>
<i>&gt;   Martin&gt; sheet feeder takes one sheet of paper every time the scan</i><br>
<i>&gt;   Martin&gt; button is pressed, if paper is loaded in it.  However, it is</i><br>
<i>&gt;   Martin&gt; not foolproof: sometimes it crashes, and than it is</i><br>
<i>&gt;   Martin&gt; spoiled. It refuses to do anything useful, even if I remove</i><br>
<i>&gt;   Martin&gt; all files in .sane and .sane/xscanimage. I will send</i><br>
<i>&gt;   Martin&gt; detailed information to Peter Kirchgessner.</i><br>
<i>&gt; </i><br>
<i>&gt; But the new backend still works better than the old one, right?</i><br>
<i>&gt; </i><br>
<i>&gt; 	--david</i><br>
<p>
<p>
Oh yes, *far* better.<br>
The only thing you should not do is to press the "scan" button in<br>
xscanimage until the sheet feeder of the C6270A has stopped and gimp<br>
has completely finished to draw the scanned picture. If you do so,<br>
xscanimages crashes and can be used only after removing all papers<br>
from the sheet feeder.<br>
<p>
It is easy to live with this if it is known.<br>
<p>
   --martin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Andre Couture: "Re: Mustek 1200 III EP?"</a>
<li> <b>Previous message:</b> <a href="0094.html">Jonathan Buzzard: "Re: Mustek 1200 III EP?"</a>
<li> <b>Maybe in reply to:</b> <a href="0048.html">David Mosberger-Tang: "New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Petter Adsen: "Re: pre-release available for testing: Is delay Possible?"</a>
<!-- reply="end" -->
</ul>
