<!-- received="Tue Nov 10 17:23:56 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 20:21:01 -0500 (EST)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Blackwidow 4800SP is really..." -->
<!-- id="m0zdOxx-000q11C@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Blackwidow 4800SP is really..." -->
<title>sane-devel: Re: Blackwidow 4800SP is really...</title>
<h1>Re: Blackwidow 4800SP is really...</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 10 Nov 1998 20:21:01 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Matto Marjanovic: "Re: Microtek E3 and OS/2"</a>
<li> <b>Previous message:</b> <a href="0098.html">Andre Couture: "BizCard drivers??? (Re: Mustek 1200 III EP?)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0109.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Reply:</b> <a href="0109.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 ...<br>
<i> &gt;The problem here is that the vendor string is not unique, because</i><br>
<i> &gt;Microtek uses the same eight spaces as vendor id for their scanners.</i><br>
 ...<br>
<i> &gt;I also looked into the documentation for the devices that are supported</i><br>
<i> &gt;by the microtek(1) backend, and according to the specs, they return</i><br>
<i> &gt;some vendor specific ASCII string, starting at that position, so that this</i><br>
<i> &gt;check should be save.</i><br>
<i> &gt;</i><br>
<i> &gt;Nevertheless, I don't know whether it is actually the case, that an</i><br>
<i> &gt;ASCII string is always there (Matto ?).</i><br>
<p>
Nope, not always the case.  Among others, the Microtek E6 has a blank<br>
 (8 spaces) vendor string.  All-in-all, the microtek(1) backend looks<br>
 for a choice of five possible strings (one is "AGFA", the other four<br>
 are a variety of brain-dead Microtek options).<br>
<p>
It's a good idea to try to pick a bunch of characteristics that are<br>
 particular to your scanner command set and unlikely to be duplicated<br>
 in another scanner brand.  The microtek(1) backend looks for:<br>
<p>
   o a valid vendor string (out of 5 options, including blank)<br>
   o a SCSI response format of 0x01 (which instantly knocks out<br>
      microtek(2) scanners).<br>
   o a valid model code, found in the microtek-specific byte #62.<br>
<p>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Matto Marjanovic: "Re: Microtek E3 and OS/2"</a>
<li> <b>Previous message:</b> <a href="0098.html">Andre Couture: "BizCard drivers??? (Re: Mustek 1200 III EP?)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0109.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Reply:</b> <a href="0109.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<!-- reply="end" -->
</ul>
