<!-- received="Wed Nov 11 14:28:19 1998 PST" -->
<!-- sent="11 Nov 1998 14:27:20 -0800" -->
<!-- name="David Fox" -->
<!-- email="dsfox@cogsci.ucsd.edu" -->
<!-- subject="Polaroid SprintScan?  Or Nikon Coolscan LS-2000?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Polaroid SprintScan?  Or Nikon Coolscan LS-2000?</title>
<h1>Polaroid SprintScan?  Or Nikon Coolscan LS-2000?</h1>
<b>David Fox</b> (<a href="mailto:dsfox@cogsci.ucsd.edu"><i>dsfox@cogsci.ucsd.edu</i></a>)<br>
<i>11 Nov 1998 14:27:20 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Andre Couture: "BizCard,, anybody have Windows drivers??? I lost mine!"</a>
<li> <b>Previous message:</b> <a href="0109.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings!  I've got a Polaroid SprintScan slide scanner, which is<br>
listed as a "work in progress" but I've been unable to contact the<br>
author.  Does anyone have any information about this driver?  Failing<br>
that, does anyone know if the Coolscan LS-2000 will function with SANE<br>
as the LS-1000 does?  Is there support for the automatic 50 slide<br>
feeder or the APS cartridge reader?  Is there some way I could help<br>
develop this support?  Is there another scanner with similar features<br>
that would work well with SANE?<br>
<p>
Getting a handle on the best scanner to buy for SANE is somewhat<br>
problematic.  I get the impression that some pretty neat advanced<br>
features are available for some of the drivers, and that others are<br>
quite basic, and that some scanners have advanced features such as the<br>
ability to automatically select good contrast and brightness levels<br>
after a pre-scan.  I would love to hear some discussion of what<br>
drivers support what features.<br>
<pre>
-- 
David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD
UCSD HCI Lab                                         baL ICH DSCU
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Andre Couture: "BizCard,, anybody have Windows drivers??? I lost mine!"</a>
<li> <b>Previous message:</b> <a href="0109.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
