<!-- received="Sat Nov 21 22:04:16 1998 PST" -->
<!-- sent="Sun, 22 Nov 1998 07:00:05 +0100 (MET)" -->
<!-- name="Sebastian Erdmann" -->
<!-- email="serdmann@cs.tu-berlin.de" -->
<!-- subject="Re: Patch for Microtek ScanMaker X6 (microtek2 backend)" -->
<!-- id="199811220600.HAA11283@elephant.cs.tu-berlin.de" -->
<!-- inreplyto="19981119233131.2879.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Patch for Microtek ScanMaker X6 (microtek2 backend)</title>
<h1>Re: Patch for Microtek ScanMaker X6 (microtek2 backend)</h1>
<b>Sebastian Erdmann</b> (<a href="mailto:serdmann@cs.tu-berlin.de"><i>serdmann@cs.tu-berlin.de</i></a>)<br>
<i>Sun, 22 Nov 1998 07:00:05 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">chris burgess: "Nikon AX-210"</a>
<li> <b>Previous message:</b> <a href="0193.html">David Mosberger-Tang: "SANE v1.00 is out!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 21 Nov 1998 17:24:57 +0100, Bernd Schroeder writes:<br>
<i> &gt; </i><br>
<i> &gt; On Fri, Nov 20, 1998 at 01:41:21PM +0100, Sebastian Erdmann wrote:</i><br>
[...] <br>
<i> &gt; &gt; I tried every computer/scanner power-up sequence I could think of :-)</i><br>
<i> &gt; &gt; I also tried loading/unloading the SCSI driver, but the problem occurs</i><br>
<i> &gt; &gt; every time. It doesn't seem to be related to SCSI, since it occurs on</i><br>
<i> &gt; &gt; both the Adaptec AVA-1505 host adapter (supplied with the scanner)</i><br>
<i> &gt; &gt; and my NCR 53C810 controller.</i><br>
<i> &gt; </i><br>
<i> &gt; But I still don't understand why the device doesn't work after it is</i><br>
<i> &gt; powered on, and then works better, if it switched off an on again.</i><br>
<p>
I don't understand it, either. :-(<br>
<p>
[...]<br>
<i> &gt; The reason why I am somewhat sceptical about this "send diagnostics" is</i><br>
<i> &gt; that I think it is an overkill to introduce a command that costs a lot</i><br>
<i> &gt; of time and additional movements of the scan head (and may have side effects)</i><br>
<i> &gt; to work around a problem, that occurs only once after the scanner is powered</i><br>
<i> &gt; on.</i><br>
<p>
Unfortunately, the problem isn't gone after the first scan -- it<br>
persists until the scanner is power-cycled or a "send diagnostics"<br>
command is sent. Also, the problem is present in all scan modes<br>
(line art, greyscale and color -- didn't test the 12-bit modes, though) <br>
<p>
[...]<br>
<i> &gt; The next release will have an option "disable backtracking", and it can</i><br>
<i> &gt; be configured in the configuration file, whether this option will be</i><br>
<i> &gt; visible in the frontend or not. If not it is set to a default value.</i><br>
<i> &gt; Some other less important options will follow (bind resolution is another</i><br>
<i> &gt; candidate). The purpose is to have less active options in order to reduce</i><br>
<i> &gt; the height of the xscanimage window, because on small screens and with</i><br>
<i> &gt; low resolutions xscanimage exceeds the size of the screen.</i><br>
<i> &gt; </i><br>
<i> &gt; So something like 'option fix-thisorthatproblem on/off'</i><br>
<i> &gt; in the configuration file, that activates/deactivates a respective</i><br>
<i> &gt; boolean option in the frontend might indeed be useful (one for each problem).</i><br>
<p>
That's a neat idea.<br>
<p>
<i> &gt; But I strongly recommend to set the default value for this</i><br>
<i> &gt; "send diagnostics" to "off" (and never activate it if it is not an X6) :) .</i><br>
<p>
Agreed. :-)<br>
<p>
<i> &gt; It looks as if you have the documentation, so if iyou discover anything that</i><br>
<i> &gt; explains, why these problems occur, please let me know.</i><br>
<p>
I got the SCSI command set documentation from Microtek's USA FTP site.<br>
Reading it back-to-back didn't reveal anything particular enlighting<br>
(except for that ugly "send diagnostics" workaround...)<br>
<p>
I'll keep you informed.<br>
<p>
Sebastian<br>
<p>
<pre>
-- 
                                        ___
Sebastian Erdmann                      /
<a href="mailto:serdmann@cs.tu-berlin.de">serdmann@cs.tu-berlin.de</a>           ___|__
<a href="mailto:se@pobox.com">se@pobox.com</a>                      (_  |
<a href="http://pobox.com/~se">http://pobox.com/~se</a>              __)  \___
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">chris burgess: "Nikon AX-210"</a>
<li> <b>Previous message:</b> <a href="0193.html">David Mosberger-Tang: "SANE v1.00 is out!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
