<!-- received="Sun Nov 22 09:45:10 1998 PST" -->
<!-- sent="Sun, 22 Nov 1998 07:44:32 -0500 (EST)" -->
<!-- name="Manuel Panea" -->
<!-- email="mpd@rzg.mpg.de" -->
<!-- subject="Announce: Canon driver extensions for 2700F" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Announce: Canon driver extensions for 2700F</title>
<h1>Announce: Canon driver extensions for 2700F</h1>
<b>Manuel Panea</b> (<a href="mailto:mpd@rzg.mpg.de"><i>mpd@rzg.mpg.de</i></a>)<br>
<i>Sun, 22 Nov 1998 07:44:32 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#200">[ date ]</a><a href="index.html#200">[ thread ]</a><a href="subject.html#200">[ subject ]</a><a href="author.html#200">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">David Mosberger-Tang: "Re: compiling problem with egcs-1.03a"</a>
<li> <b>Previous message:</b> <a href="0199.html">Christian Ordig: "The Primax Scanner Driver Project for Linux/UN*X homepage started"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0214.html">Helmut Koeberle: "Re: Announce: Canon driver extensions for 2700F"</a>
<li> <b>Reply:</b> <a href="0214.html">Helmut Koeberle: "Re: Announce: Canon driver extensions for 2700F"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi. I am extending the existing (alpha) backend for Canon scanners by<br>
Helmut Koeberle with some extra functions supported by the film scanner<br>
Canon 2700F.<br>
<p>
Get it from:<br>
<p>
 <a href="http://www.rzg.mpg.de/~mpd/private/sane-canon.html">http://www.rzg.mpg.de/~mpd/private/sane-canon.html</a><br>
<p>
<p>
<p>
 ---------------------------------------------------------------------------<br>
  Manuel Panea                                       E-mail: <a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a><br>
  Rechenzentrum Garching                         <a href="http://www.rzg.mpg.de/~mpd">http://www.rzg.mpg.de/~mpd</a><br>
  Postfach 1533                                       Tel. +49 89 3299 1133<br>
  85740 Garching                                      Fax  +49 89 3299 1301<br>
  Germany                                      Public PGP key: see homepage<br>
 ---------------------------------------------------------------------------<br>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">David Mosberger-Tang: "Re: compiling problem with egcs-1.03a"</a>
<li> <b>Previous message:</b> <a href="0199.html">Christian Ordig: "The Primax Scanner Driver Project for Linux/UN*X homepage started"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0214.html">Helmut Koeberle: "Re: Announce: Canon driver extensions for 2700F"</a>
<li> <b>Reply:</b> <a href="0214.html">Helmut Koeberle: "Re: Announce: Canon driver extensions for 2700F"</a>
<!-- reply="end" -->
</ul>
