<!-- received="Mon Nov 23 09:20:00 1998 PST" -->
<!-- sent="Mon, 23 Nov 1998 18:18:58 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Too many options for xscanimage" -->
<!-- id="" -->
<!-- inreplyto="Too many options for xscanimage" -->
<title>sane-devel: Re: Too many options for xscanimage</title>
<h1>Re: Too many options for xscanimage</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 23 Nov 1998 18:18:58 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#222">[ date ]</a><a href="index.html#222">[ thread ]</a><a href="subject.html#222">[ subject ]</a><a href="author.html#222">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0221.html">David Mosberger-Tang: "Re: Too many options for xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Manuel Panea wrote:<br>
<p>
<i>&gt; -----BEGIN PGP SIGNED MESSAGE-----</i><br>
<i>&gt;</i><br>
<i>&gt; Hi. I am working on the Canon backend and have the following annoying</i><br>
<i>&gt; problem:</i><br>
<i>&gt;</i><br>
<i>&gt; The number of settable options has got so long that the xscanimage window</i><br>
<i>&gt; is too high to fit on my screen (1024x768). Is there any solution for</i><br>
<i>&gt; this? I saw that other backends like Mustek or Umax also have lots of</i><br>
<i>&gt; options. How do they look like, then?</i><br>
<i>&gt;</i><br>
<p>
  Hi Manuel,<br>
<p>
I am working an a new frontend that solves this problem, but it will take some<br>
days<br>
until I can publish a pre-alpha-version of it. I think in 1-2 weeks I will have<br>
the<br>
first version ready. I will send a mail about it into the sane-devel-list!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0221.html">David Mosberger-Tang: "Re: Too many options for xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
