<!-- received="Mon Nov 23 14:25:43 1998 PST" -->
<!-- sent="Mon, 23 Nov 1998 20:02:37 +0100" -->
<!-- name="Torsten Neuer" -->
<!-- email="tneuer@inwise.de" -->
<!-- subject="SANE 1.00 configuration (libjpeg)" -->
<!-- id="98112320084100.08519@Nicole" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE 1.00 configuration (libjpeg)</title>
<h1>SANE 1.00 configuration (libjpeg)</h1>
<b>Torsten Neuer</b> (<a href="mailto:tneuer@inwise.de"><i>tneuer@inwise.de</i></a>)<br>
<i>Mon, 23 Nov 1998 20:02:37 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Nils Juergens: "Mustek 12000 SP not working"</a>
<li> <b>Previous message:</b> <a href="0226.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0230.html">David Mosberger-Tang: "Re: SANE 1.00 configuration (libjpeg)"</a>
<li> <b>Reply:</b> <a href="0230.html">David Mosberger-Tang: "Re: SANE 1.00 configuration (libjpeg)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
DC210 backend fails to compile *with* installed libjpeg, because<br>
`configure' does not check for the correct include directory.<br>
We got the jpeg library includes in the X11 directory tree, which<br>
is not in -I by default.  The check for the jpeg library itself<br>
works (-ljpeg) as far as I can figure it out.<br>
Perhaps adding an option to `configure` to manually provide the<br>
include path forth the jpeg library header files or enhance it<br>
by checking the various standard include paths could help other<br>
people, too (I'll be going to patch the sources instead) ,-)<br>
<p>
regs,<br>
  Torsten<br>
<p>
<pre>
--
InWise - Wirtschaftlich-Wissenschaftlicher Internet Service GmbH
Friedrichshulder Weg 56                     Tel: +49-4101-403605
D-25469 Halstenbek                          Fax: +49-4101-403606
E-Mail: <a href="mailto:info@inwise.de">info@inwise.de</a>                 WWW: <a href="http://www.inwise.de">http://www.inwise.de</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Nils Juergens: "Mustek 12000 SP not working"</a>
<li> <b>Previous message:</b> <a href="0226.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0230.html">David Mosberger-Tang: "Re: SANE 1.00 configuration (libjpeg)"</a>
<li> <b>Reply:</b> <a href="0230.html">David Mosberger-Tang: "Re: SANE 1.00 configuration (libjpeg)"</a>
<!-- reply="end" -->
</ul>
