<!-- received="Mon Nov 23 20:57:17 1998 PST" -->
<!-- sent="Mon, 23 Nov 98 21:51:52 -0700" -->
<!-- name="John Brush" -->
<!-- email="jbrush@aros.net" -->
<!-- subject="What do I need to do to get high res?" -->
<!-- id="199811240455.VAA09856@mars.aros.net" -->
<!-- inreplyto="m0zi7vM-000CIHC@hades.beck-sw.de" -->
<title>sane-devel: What do I need to do to get high res?</title>
<h1>What do I need to do to get high res?</h1>
<b>John Brush</b> (<a href="mailto:jbrush@aros.net"><i>jbrush@aros.net</i></a>)<br>
<i>Mon, 23 Nov 98 21:51:52 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#239">[ date ]</a><a href="index.html#239">[ thread ]</a><a href="subject.html#239">[ subject ]</a><a href="author.html#239">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0240.html">Milon Firikis: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0238.html">Chris Pinkham: "Re: sane-backends patch"</a>
<li> <b>In reply to:</b> <a href="0236.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0247.html">Dr. Andreas Bolsch: "Re: Mustek 12000 SP not working"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am just asking, not demanding or complaining :) about what it would<br>
take, or who it will take, to upgrade Sane for OS/2 so that it can<br>
scan better than 100dpi on a Microtek E3??<br>
<p>
Is there someone I can bribe? :-) Is it an on-going project and just a<br>
matter of time? Who should I contact about this particular version?<br>
<p>
I understand it is all individuals working on each project, so I am<br>
not expecting someone to just sit down and do it, but I would really<br>
love to have Sane so that I can use the scanner in OS/2, as CFM Twain<br>
is an overpriced, underfeatured piece of software, IMO, and there is<br>
little else I am aware of for scannning in OS/2<br>
<p>
Just wondering if I should even hold out hope, or drop the $50+ for<br>
the inferior CFM drivers.<br>
<p>
Thanks a lot.<br>
<p>
Best Regards,<br>
<p>
John<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0240.html">Milon Firikis: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0238.html">Chris Pinkham: "Re: sane-backends patch"</a>
<li> <b>In reply to:</b> <a href="0236.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0247.html">Dr. Andreas Bolsch: "Re: Mustek 12000 SP not working"</a>
<!-- reply="end" -->
</ul>
