<!-- received="Thu Nov 26 12:17:02 1998 PST" -->
<!-- sent="Thu, 26 Nov 1998 12:17:00 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Comments, questions and corrections for programmers manual" -->
<!-- id="199811262017.MAA03446@panda.mostang.com" -->
<!-- inreplyto="199811231226.NAA12702@minerva.cc.uit.no" -->
<title>sane-devel: Re: Comments, questions and corrections for programmers manual</title>
<h1>Re: Comments, questions and corrections for programmers manual</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 26 Nov 1998 12:17:00 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">David Mosberger-Tang: "Re: SANE &amp; Digital UNIX 3.2g"</a>
<li> <b>In reply to:</b> <a href="0216.html">Petter Reinholdtsen: "Comments, questions and corrections for programmers manual"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks for your feedback on sane.tex.  I updated docs to clarify the<br>
questions you had.<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 23 Nov 1998 13:26:26 +0100, Petter Reinholdtsen &lt;<a href="mailto:pere@hungry.com">pere@hungry.com</a>&gt; said:</i><br>
<p>
  Petter&gt; 5.2.8 SANE_NET_START<br>
<p>
  Petter&gt; If the reply value byte_order contains the byte order, there<br>
  Petter&gt; should be no need for the data record to start with length<br>
  Petter&gt; spesified as unsigned integer in big-endian format.  Why is<br>
  Petter&gt; this inconsistency there?<br>
<p>
  Petter&gt; Big endian format is the same as network order.  The text<br>
  Petter&gt; should make a comment about that.<br>
<p>
No, the byte order applies to the _image data_.  The RPCs<br>
requests/replies (sans image data) are always in big-endian order.<br>
<p>
  Petter&gt; 5.2.10 SANE_NET_AUTHORIZE<br>
<p>
  Petter&gt; Must the protocol be changed to handle encrypted network<br>
  Petter&gt; communications when it comes to username/password?<br>
<p>
  Petter&gt; This network request should contain which encryption method<br>
  Petter&gt; is used to hide the password.  Maybe there also should be a<br>
  Petter&gt; new message type to get a challenge/public key from the<br>
  Petter&gt; server to use when encrypting the password.<br>
<p>
I suppose one option would be to run the SANE network protocol over<br>
SSL.  But I'm not opposed to changing the protocol to allow encryption<br>
of the password alone---if someone volunteers to prototype an<br>
implementation of the proposed changes.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">David Mosberger-Tang: "Re: SANE &amp; Digital UNIX 3.2g"</a>
<li> <b>In reply to:</b> <a href="0216.html">Petter Reinholdtsen: "Comments, questions and corrections for programmers manual"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
