<!-- received="Thu Nov 26 16:05:28 1998 PST" -->
<!-- sent="Thu, 26 Nov 1998 19:05:21 -0500 (EST)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@infi.net" -->
<!-- subject="Re: Fw: ViewStation AT3/A6000C Plus Reference Document" -->
<!-- id="199811270005.TAA23697@panther.panther.net" -->
<!-- inreplyto="016d01be17de$e9bb5720$2d01a8c0@holodeck.starbase1.net" -->
<title>sane-devel: Re: Fw: ViewStation AT3/A6000C Plus Reference Document</title>
<h1>Re: Fw: ViewStation AT3/A6000C Plus Reference Document</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@infi.net"><i>cpinkham@infi.net</i></a>)<br>
<i>Thu, 26 Nov 1998 19:05:21 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">John Brush: "Microtek E3, SaneOS/2, &amp; High Res"</a>
<li> <b>Previous message:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andre,<br>
<p>
<i>&gt; For those interested I got this document from Artec/Ultima directly.</i><br>
<i>&gt; It contains all specs required for writing drivers for those scanners.</i><br>
<p>
Those are the same docs which are available on my website which is linked<br>
to from the main SANE site.  Someone at Artec sent them to me at least 4<br>
months ago.  I also have docs for the AT12 available for download online.<br>
Now what I need is docs for the AT6 model (which I have asked for, but<br>
as of yet have not received a response).<br>
<p>
Chris<br>
<p>
*****************************************************************************<br>
** Chris Pinkham                      Linux v2.0.35, Sane v1.00, GIMP v1.0 **<br>
** <a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a>                 <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **<br>
*****************************************************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">John Brush: "Microtek E3, SaneOS/2, &amp; High Res"</a>
<li> <b>Previous message:</b> <a href="0261.html">Milon Firikis: "Re: parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
