<!-- received="Mon Nov 30 15:22:29 1998 PST" -->
<!-- sent="Mon, 30 Nov 98 16:20:40 -0700" -->
<!-- name="John Brush" -->
<!-- email="jbrush@aros.net" -->
<!-- subject="Microtek E3 and sane OS/2, anyone??" -->
<!-- id="199811302320.QAA07946@mars.aros.net" -->
<!-- inreplyto="366320F6.2B4BC5B1@key.net.au" -->
<title>sane-devel: Microtek E3 and sane OS/2, anyone??</title>
<h1>Microtek E3 and sane OS/2, anyone??</h1>
<b>John Brush</b> (<a href="mailto:jbrush@aros.net"><i>jbrush@aros.net</i></a>)<br>
<i>Mon, 30 Nov 98 16:20:40 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#298">[ date ]</a><a href="index.html#298">[ thread ]</a><a href="subject.html#298">[ subject ]</a><a href="author.html#298">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">becka@rz.uni-duesseldorf.de: "solution for sane 1.0.0 compilation errors (fwd)"</a>
<li> <b>Previous message:</b> <a href="0297.html">Collin Tree: "Re: Mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Does anyone know who I should speak to about the lack of resolution in<br>
the Saneos2 backend for the Microtek E3. 100 dpi just isn't good for<br>
anything.<br>
<p>
Thanks,<br>
<p>
John<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">becka@rz.uni-duesseldorf.de: "solution for sane 1.0.0 compilation errors (fwd)"</a>
<li> <b>Previous message:</b> <a href="0297.html">Collin Tree: "Re: Mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
