<!-- received="Sat Jul  5 10:42:49 1997 MST" -->
<!-- sent="Sat, 5 Jul 1997 17:12:00 +0000 (GMT)" -->
<!-- name="Roeland Th. Jansen" -->
<!-- email="bengel@grobbebol.xs4all.nl" -->
<!-- subject="Re: sane requiremtns" -->
<!-- id="199707051712.RAA28201@grobbebol.xs4all.nl" -->
<!-- inreplyto="199707051645.MAA29778@nigel.redhat.com" -->
<title>sane-devel: Re: sane requiremtns</title>
<h1>Re: sane requiremtns</h1>
<b>Roeland Th. Jansen</b> (<a href="mailto:bengel@grobbebol.xs4all.nl"><i>bengel@grobbebol.xs4all.nl</i></a>)<br>
<i>Sat, 5 Jul 1997 17:12:00 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#17">[ date ]</a><a href="index.html#17">[ thread ]</a><a href="subject.html#17">[ subject ]</a><a href="author.html#17">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">XxEDGExX: "Help with a Mustek"</a>
<li> <b>Previous message:</b> <a href="0016.html">Michael K. Johnson: "Re: sane requiremtns"</a>
<li> <b>In reply to:</b> <a href="0016.html">Michael K. Johnson: "Re: sane requiremtns"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; a scanner.  It's extremely hard to write a driver for a scanner that</i><br>
<i>&gt; you do not have, especially if it isn't related to one you have.  I</i><br>
<p>
I understand. also, thanks David for his input. I'll try to get the<br>
information after looking at the sources etc. Just got the davidm gtk stuff<br>
and now, I'm getting sane 0.6.<br>
<p>
Although David told me that it wouldn't be too hard to write a backend, I'm<br>
afraid I won't be able. I'll see. <br>
<p>
And if it's not working, I can send it to you as a present and get myself<br>
one that's supported &lt;grin&gt;<br>
<p>
<p>
<pre>
-- 
Grobbebol's Home                 |      Don't give in to spammers.
<a href="http://www.xs4all.nl/~bengel">http://www.xs4all.nl/~bengel</a>     |     Use your real e-mail address
Linux 2.0.30 on an i586/64 MB    |             on Usenet.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">XxEDGExX: "Help with a Mustek"</a>
<li> <b>Previous message:</b> <a href="0016.html">Michael K. Johnson: "Re: sane requiremtns"</a>
<li> <b>In reply to:</b> <a href="0016.html">Michael K. Johnson: "Re: sane requiremtns"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
