<!-- received="Sat Jul 12 23:51:34 1997 MST" -->
<!-- sent="Sun, 13 Jul 1997 02:15:57 -0400 (EDT)" -->
<!-- name="eric" -->
<!-- email="eric@tarsier.colo.erols.net" -->
<!-- subject="Gimp using sane to acquire images?" -->
<!-- id="199707130615.CAA28129@tarsier.colo.erols.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Gimp using sane to acquire images?</title>
<h1>Gimp using sane to acquire images?</h1>
<b>eric</b> (<a href="mailto:eric@tarsier.colo.erols.net"><i>eric@tarsier.colo.erols.net</i></a>)<br>
<i>Sun, 13 Jul 1997 02:15:57 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">eric: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Previous message:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Maybe reply:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
What needs to be done to make gimp know that it can use *scanimage to <br>
acquire images? I can't seem to find any documentation that says any more<br>
than that it is possible. I've build the frontends with the latest gtk+<br>
library and libgimp installed, etc... What else do I have to do, or where<br>
is the documentation that seems to be eluding me? :) <br>
<p>
this is FreeBSD 2.2.2 incidentally. <br>
<p>
				eric<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">eric: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Previous message:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Maybe reply:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<!-- reply="end" -->
</ul>
