<!-- received="Mon Jul 14 07:54:12 1997 MST" -->
<!-- sent="Mon, 14 Jul 1997 10:18:39 -0400 (EDT)" -->
<!-- name="Andrew Kuchling" -->
<!-- email="amk@magnet.com" -->
<!-- subject="Re: python interface" -->
<!-- id="199707141418.KAA13641@lemur.magnet.com" -->
<!-- inreplyto="199707120339.UAA17858@panda.mosberger" -->
<title>sane-devel: Re: python interface</title>
<h1>Re: python interface</h1>
<b>Andrew Kuchling</b> (<a href="mailto:amk@magnet.com"><i>amk@magnet.com</i></a>)<br>
<i>Mon, 14 Jul 1997 10:18:39 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">David Mosberger-Tang: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0054.html">Thomas Dent Mirlacher: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>In reply to:</b> <a href="0037.html">David Mosberger-Tang: "python interface"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0050.html">Guido Muesch: "Re: Hangs with B&amp;W QuickCam"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David M-T wrote:<br>
<i>&gt; Is <a href="http://starship.skyport.net/crew/amk/projects/">http://starship.skyport.net/crew/amk/projects/</a> going to stay around</i><br>
<i>&gt; for a while?  I'd like to start collecting pointers to projects that</i><br>
<i>&gt; use SANE in one form or another and put those on the SANE home page.</i><br>
<p>
	Yes, that URL will hang around for the indefinite future.<br>
However, the SANE interface will be included in the next version of<br>
the Python Imaging Library, as soon as the author finds time to<br>
release it.  I'll let you know as soon as that happens.  I'm also<br>
working on a SaneDialog class for Tkinter which will pop-up a<br>
configuration dialog for a given scanning device, but that's not a<br>
priority for me at the moment (OCR stuff is).<br>
<p>
<p>
	Andrew Kuchling<br>
	<a href="mailto:amk@magnet.com">amk@magnet.com</a><br>
	<a href="http://people.magnet.com/%7Eamk/">http://people.magnet.com/%7Eamk/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">David Mosberger-Tang: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0054.html">Thomas Dent Mirlacher: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>In reply to:</b> <a href="0037.html">David Mosberger-Tang: "python interface"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0050.html">Guido Muesch: "Re: Hangs with B&amp;W QuickCam"</a>
<!-- reply="end" -->
</ul>
