<!-- received="Mon Jul 14 10:15:38 1997 MST" -->
<!-- sent="Mon, 14 Jul 1997 09:27:50 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Hangs with B&amp;W QuickCam" -->
<!-- id="199707141627.JAA32039@panda.mosberger" -->
<!-- inreplyto="199707141524.LAA16152@lemur.magnet.com" -->
<title>sane-devel: Re: Hangs with B&amp;W QuickCam</title>
<h1>Re: Hangs with B&amp;W QuickCam</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 14 Jul 1997 09:27:50 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Rildo Pragana: "Re: Cheap linux photo scanner"</a>
<li> <b>Previous message:</b> <a href="0058.html">David Mosberger-Tang: "Re: Cheap linux photo scanner"</a>
<li> <b>In reply to:</b> <a href="0057.html">Andrew Kuchling: "Re: Hangs with B&amp;W QuickCam"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 14 Jul 1997 11:24:53 -0400 (EDT), Andrew Kuchling &lt;<a href="mailto:amk@magnet.com">amk@magnet.com</a>&gt; said:</i><br>
<p>
  Andrew&gt; Adding qc_reset(q) after the qc_lock() in sane_start<br>
  Andrew&gt; (resetting things *before* the scan) seems to fix things,<br>
  Andrew&gt; but I have no idea what else that might break on colour<br>
  Andrew&gt; qcams, so I wouldn't consider that a fix just yet.  Perhaps<br>
  Andrew&gt; if qc_reset() was only called if q-&gt;version!=QC_COLOR?<br>
<p>
(a) it will reduce the maximum frame rate<br>
(b) it will loose the settings (such as brightness etc) on the second<br>
    through n-th image<br>
<p>
  Andrew&gt; Another minor problem: run xscanimage using the qcam, and<br>
  Andrew&gt; set it to high resolution.  The dialog box isn't redrawn<br>
  Andrew&gt; properly, with some doubled text; an xwd dump of the result<br>
  Andrew&gt; is at <a href="http://starship.skyport.net/crew/amk/ocr/bug.xwd">http://starship.skyport.net/crew/amk/ocr/bug.xwd</a> .<br>
  Andrew&gt; The resulting scan doesn't work; does high resolution mode<br>
  Andrew&gt; exist on the B&amp;W qcam?<br>
<p>
No, it should be disabled for b&amp;w.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Rildo Pragana: "Re: Cheap linux photo scanner"</a>
<li> <b>Previous message:</b> <a href="0058.html">David Mosberger-Tang: "Re: Cheap linux photo scanner"</a>
<li> <b>In reply to:</b> <a href="0057.html">Andrew Kuchling: "Re: Hangs with B&amp;W QuickCam"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
