<!-- received="Tue Jul 22 12:27:14 1997 MST" -->
<!-- sent="22 Jul 97 17:07:50 +0200" -->
<!-- name="Kolja Waschk" -->
<!-- email="kawk@Home.Yo.COM" -->
<!-- subject="More on Mustek 8000SP adventures..." -->
<!-- id="199707221503.IAA08551@linda.teleport.com" -->
<!-- inreplyto="" -->
<title>sane-devel: More on Mustek 8000SP adventures...</title>
<h1>More on Mustek 8000SP adventures...</h1>
<b>Kolja Waschk</b> (<a href="mailto:kawk@Home.Yo.COM"><i>kawk@Home.Yo.COM</i></a>)<br>
<i>22 Jul 97 17:07:50 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Reply:</b> <a href="0122.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 GT&gt; The README does say this, but it doesn't give the slightest hint as<br>
 GT&gt; to *where* this "SCSI timeout" is changable. I didn't see anything<br>
 GT&gt; about SCSI timout in the kernel configuration, and the line that I<br>
 GT&gt; changed in the ncr53c8xx.c had the number "10" hardcoded. <br>
<p>
afaik, /usr/src/linux/drivers/scsi/scsi.c (look for TIMEOUT defines)<br>
<p>
bibi,<br>
Kolja<br>
<p>
<pre>
---
Kolja Waschk (<a href="mailto:kawk@Home.Yo.COM">kawk@Home.Yo.COM</a>)
<a href="http://WWW.TU-Harburg.DE/~sekw0206">http://WWW.TU-Harburg.DE/~sekw0206</a>
Operator of "Yo.COM news &amp; mail service for small budget"
Tel +49-40-8891-3034, BBS/Fax -3035 (ISDN V.110/X.75 &amp; ZyXEL/V.34)
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Reply:</b> <a href="0122.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- reply="end" -->
</ul>
