<!-- received="Fri Jul 25 17:49:38 1997 MST" -->
<!-- sent="Fri, 25 Jul 1997 17:30:10 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: More on Mustek 8000SP adventures..." -->
<!-- id="199707260030.RAA01739@panda.mosberger" -->
<!-- inreplyto="199707241547.RAA03244@cave.BitWizard.nl" -->
<title>sane-devel: Re: More on Mustek 8000SP adventures...</title>
<h1>Re: More on Mustek 8000SP adventures...</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 25 Jul 1997 17:30:10 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: HP ScanJet 5p in SANE 0.6"</a>
<li> <b>Previous message:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>In reply to:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0135.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: More on Mustek 8000SP adventures..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 24 Jul 1997 17:47:42 +0200 (MET DST), <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> (Rogier Wolff) said:</i><br>
<p>
<i>  &gt;&gt;  Hmmh, I don't think I would want to _force_ this behavior, since</i><br>
<i>  &gt;&gt; it would slow down scanning by quite a bit.  However, maybe we</i><br>
<i>  &gt;&gt; could put an option into mustek.conf that lets you limit the</i><br>
<i>  &gt;&gt; maximum distance scanned in one chunk.  Then we can distribute</i><br>
<i>  &gt;&gt; SANE with a mustek.conf that is safe for owners of an unpatched</i><br>
<i>  &gt;&gt; Linux ncr810 driver.  This leaves the option of getting back the</i><br>
<i>  &gt;&gt; old behavior when it's known to be safe.</i><br>
<p>
  Rogier&gt; The Tamarack looses 2 seconds on each "read". At 32k/read<br>
  Rogier&gt; and 25Mb per scan, that comes to 2000 seconds. In this case<br>
  Rogier&gt; the buffer size is the limiting factor.<br>
<p>
OK, I ended up adding an option to the mustek.conf that is called<br>
`strip-height'.  It lets us limit the maximum strip height scanned with<br>
a single SCSI command.  The syntax is:<br>
<p>
  option strip-height HEIGHT<br>
<p>
where HEIGHT is a floating point number specifying the height in<br>
inches.<br>
<p>
My plan is for all future SANE distributions will ship with a default<br>
strip-height of 1 inch.  This should be safe even for the ncr810<br>
driver.<br>
<p>
Limiting the strip-height does not seem to affect scan performance in<br>
lineart and grayscale mode on my scanner (Paragon 600 II SP).  The<br>
story is quite different for color mode though:<br>
<p>
        strip-height:	scan time (@ 18 dpi):<br>
	-------------	---------------------<br>
	1"		78sec<br>
	2"		56sec<br>
	unlimited	40sec<br>
<p>
A strip-height of 2" seems to take about 7 seconds to scan, which is<br>
about as close as I would want to get to the 10sec timeout in the<br>
ncr810 driver.  As you can see, this limit causes a slow down by 16<br>
seconds, which certainly exceeds my level of patience.  Thus, I'd<br>
still recommend to patch the ncr810 driver where applicable and remove<br>
the `strip-height' option.  That will give you the old level of<br>
performance.  Note that you don't have to do anything if you have SANE<br>
already installed and working---the "make install" step does not<br>
overwrite existing configuration files, hence you don't have to worry<br>
about getting slow scans when upgrading in the future.<br>
<p>
BTW: Did anyone try out the pre0.62 patch?  I haven't gotten any<br>
reports so far.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: HP ScanJet 5p in SANE 0.6"</a>
<li> <b>Previous message:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>In reply to:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0135.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: More on Mustek 8000SP adventures..."</a>
<!-- reply="end" -->
</ul>
