<!-- received="Sat Jul 26 10:26:40 1997 MST" -->
<!-- sent="Sat, 26 Jul 1997 10:04:57 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: HP ScanJet 5p in SANE 0.6" -->
<!-- id="199707261704.KAA11128@panda.mosberger" -->
<!-- inreplyto="33DA08D3.CEED76A8@ophelia.tuwien.ac.at" -->
<title>sane-devel: Re: HP ScanJet 5p in SANE 0.6</title>
<h1>Re: HP ScanJet 5p in SANE 0.6</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sat, 26 Jul 1997 10:04:57 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#138">[ date ]</a><a href="index.html#138">[ thread ]</a><a href="subject.html#138">[ subject ]</a><a href="author.html#138">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Bryan White: "Mustek CG-8400"</a>
<li> <b>Previous message:</b> <a href="0137.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 26 Jul 1997 16:25:23 +0200, Raphael Wegmann &lt;wegmann@ophe=</i><br>
lia.tuwien.ac.at&gt; said:<br>
<p>
  Raphael&gt; hello, i have a HP scanjet 5p and tried the sane<br>
  Raphael&gt; programs. I found out that I couldn=B4t change the<br>
  Raphael&gt; resolution, but if I do the following changes in the<br>
  Raphael&gt; source, it scans 300 dpi.<br>
<p>
Try version 0.61---it supports the 5P.<br>
<p>
=09--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Bryan White: "Mustek CG-8400"</a>
<li> <b>Previous message:</b> <a href="0137.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
