<!-- received="Sun May 25 15:52:07 1997 MST" -->
<!-- sent="Mon, 26 May 1997 00:26:59 +0200" -->
<!-- name="Thomas Blume" -->
<!-- email="mblum1@nightshift.uni-paderborn.de" -->
<!-- subject="Re: mustek-probs: color, preview" -->
<!-- id="199705252226.AAA00601@nightshift.uni-paderborn.de" -->
<!-- inreplyto="mustek-probs: color, preview" -->
<title>sane-devel: Re: mustek-probs: color, preview</title>
<h1>Re: mustek-probs: color, preview</h1>
<b>Thomas Blume</b> (<a href="mailto:mblum1@nightshift.uni-paderborn.de"><i>mblum1@nightshift.uni-paderborn.de</i></a>)<br>
<i>Mon, 26 May 1997 00:26:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#14">[ date ]</a><a href="index.html#14">[ thread ]</a><a href="subject.html#14">[ subject ]</a><a href="author.html#14">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">David Mosberger-Tang: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<li> <b>Previous message:</b> <a href="0013.html">Thomas Blume: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">Andreas Gaumann: "mustek-probs: color, preview"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">David Mosberger-Tang: "Re: mustek-probs: color, preview"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;   Andreas&gt; patch for 06000 SP-scanner) runs very slow but the images</i><br>
                                              ^^^^^^^^^<br>
Set SG_BIG_BUFF in /usr/include/scsi/sg.h to 1024*128 - 512. <br>
This is the largest possible size to set. A larger buffer could<br>
dramatically decrease start/stop overhead, but I don't know where<br>
to get more bytes :-(<br>
<p>
<i>&gt;   Andreas&gt; Another problem is in the preview-window. If I try to scan</i><br>
<i>&gt;   Andreas&gt; a preview-image the scanner starts to scan from the top</i><br>
<i>&gt;   Andreas&gt; till the bottom. But arriving at the bottom the head of the</i><br>
<i>&gt;   Andreas&gt; scanner stops while the LED at the front of the scanner is</i><br>
<i>&gt;   Andreas&gt; still blinking. Then nothing more happens and the only way</i><br>
<i>&gt;   Andreas&gt; to stop the scanner and to reset sane is to turn the</i><br>
<i>&gt;   Andreas&gt; scanner off, delete the modules and then start all</i><br>
<p>
This sounds like the "scanner suicide problem" with mustek scanners.<br>
If you hear a strange noise then you should immediately turn off the<br>
scanner. Last year I had 600 II SP which destroyed itself this way<br>
(under NT) because Mustek seems to ignore the need for end position<br>
sensors. <br>
With the 1200SP this can happen, too, but this scanner seems to be more<br>
robust.<br>
<p>
<i>&gt;  (a) The height of the scanner is not correct.  At present, mustek.c defines</i><br>
<i>&gt;      the height to be 360mm for your scanner type.  If that's not correct,</i><br>
<i>&gt;      could you measure the width and height of the scan area and let me know?</i><br>
<i>&gt;      (you could also experiment/change with the width and height as defined</i><br>
<i>&gt;       around line 339 in backend/mustek.c).</i><br>
<p>
<p>
Sometimes the scanner can be confused after aborting a scan, but at<br>
present I could not reproduce this.<br>
<p>
	Thomas<br>
<p>
<p>
<pre>
-- 
Thomas Blume                          &lt;<a href="mailto:mblum1@hrz.uni-paderborn.de">mblum1@hrz.uni-paderborn.de</a>&gt;
Technische Chemie und Chemische Verfahrenstechnik, UNI-GH-Paderborn
Tel.: +49 5251 602598                          Fax: +49 5251 603244
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">David Mosberger-Tang: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<li> <b>Previous message:</b> <a href="0013.html">Thomas Blume: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">Andreas Gaumann: "mustek-probs: color, preview"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">David Mosberger-Tang: "Re: mustek-probs: color, preview"</a>
<!-- reply="end" -->
</ul>
