<!-- received="Tue May 27 18:01:11 1997 MST" -->
<!-- sent="Tue, 27 May 1997 17:44:41 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: HP support" -->
<!-- id="199705280044.RAA03363@panda.mosberger" -->
<!-- inreplyto="543689639213847402@toto.iv" -->
<title>sane-devel: Re: HP support</title>
<h1>Re: HP support</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 27 May 1997 17:44:41 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#26">[ date ]</a><a href="index.html#26">[ thread ]</a><a href="subject.html#26">[ subject ]</a><a href="author.html#26">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: SANE/TWAIN"</a>
<li> <b>Previous message:</b> <a href="0025.html">Worawut Wisutmethangoon: "Re: HP support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 27 May 1997 15:42:19 -0500, Worawut Wisutmethangoon &lt;<a href="mailto:wisutmet@cae.wisc.edu">wisutmet@cae.wisc.edu</a>&gt; said:</i><br>
<p>
  Worawut&gt; However, the preview still does not work.<br>
  Worawut&gt; More specifically, when I try to scan the preview I got these<br>
<p>
  Worawut&gt; 	Popup window error : <br>
<p>
  Worawut&gt; 		Failed to allocate image memory: Out of memory<br>
<p>
<p>
  Worawut&gt; 	Stderr:<br>
<p>
  Worawut&gt; 	Error: Failed restore value of option tl-x: Invalid argument.<br>
  Worawut&gt; 	Error: Failed restore value of option tl-y: Invalid argument.<br>
<p>
  Worawut&gt; 	** ERROR **: sigint caught<br>
<p>
Can somebody with an HP scanner debug this?  I suspect it's a silly<br>
problem someplace that would simply take some gdb'ing.  It sounds like<br>
there really are two problems:<br>
<p>
	(a) tl-x/tl-y invalid argument problem---as far as I can tell, this<br>
	    seems to occur with the 5c only<br>
<p>
	(b) preview problems---looks like the problem occurs with both 4c<br>
	    and 5c<br>
<p>
I have one idea: if the range-inquiries fail on the 5c, then one might<br>
observe problems of the kind reported in (a).  If that happens to you,<br>
would you mind invoking scanimage in a way that reproduces the problem<br>
and with environment variable SANE_DEBUG_HP set to 128 and send me the<br>
debug output?  My suspicion is that the inquire() calls in<br>
hp.c:attach() fail for some reason.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: SANE/TWAIN"</a>
<li> <b>Previous message:</b> <a href="0025.html">Worawut Wisutmethangoon: "Re: HP support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
