<!-- received="Wed May 28 21:07:30 1997 MST" -->
<!-- sent="Wed, 28 May 1997 20:42:24 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Logitech Support ?" -->
<!-- id="199705290342.UAA11482@panda.mosberger" -->
<!-- inreplyto="199705281725.NAA01034@orion.webexpert.net" -->
<title>sane-devel: Re: Logitech Support ?</title>
<h1>Re: Logitech Support ?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 28 May 1997 20:42:24 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">David Mosberger-Tang: "Re: Question regarding known support: HP1150C Officejet PPA scanner"</a>
<li> <b>Previous message:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>In reply to:</b> <a href="0034.html">Bellerophon: "Logitech Support ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0050.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech Support ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 28 May 1997 13:25:50 -0400, Bellerophon &lt;<a href="mailto:bellerophon@pobox.com">bellerophon@pobox.com</a>&gt; said:</i><br>
<p>
  Patricia&gt; I've got a Logitech PageScan Color, through a parallel<br>
  Patricia&gt; interface.  Is there any support for this through SANE?<br>
  Patricia&gt; Is there any support other than SANE for Linux?  I've seen<br>
  Patricia&gt; drivers for the ScanMan through a specialized interface<br>
  Patricia&gt; card, but this doesn't seem to work for the PageScan.<br>
<p>
I'm afraid I haven't heard of any support or plans to support this<br>
parallel interface scanner.  It certainly would be possible and<br>
welcome to have SANE support for it, but if the parallel interface is<br>
proprietary, it may be difficult to get the necessary docs.  Anybody<br>
know more?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">David Mosberger-Tang: "Re: Question regarding known support: HP1150C Officejet PPA scanner"</a>
<li> <b>Previous message:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>In reply to:</b> <a href="0034.html">Bellerophon: "Logitech Support ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0050.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech Support ?"</a>
<!-- reply="end" -->
</ul>
