<!-- received="Tue Jun  3 10:58:55 1997 MST" -->
<!-- sent="Tue, 3 Jun 1997 10:18:49 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Mustek Paragon II CD works" -->
<!-- id="199706031718.KAA31827@panda.mosberger" -->
<!-- inreplyto="199706031654.SAA00767@wintermute.huettenstudios.de" -->
<title>sane-devel: Re: Mustek Paragon II CD works</title>
<h1>Re: Mustek Paragon II CD works</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 3 Jun 1997 10:18:49 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#56">[ date ]</a><a href="index.html#56">[ thread ]</a><a href="subject.html#56">[ subject ]</a><a href="author.html#56">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Previous message:</b> <a href="0055.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 3 Jun 1997 10:07:25 -0700, Sven Neumann &lt;<a href="mailto:neumanns@uni-duesseldorf.de">neumanns@uni-duesseldorf.de</a>&gt; said:</i><br>
<p>
  Sven&gt; Hi, the new model from Mustek, called Paragon II CD seems to<br>
  Sven&gt; be equivalent to the former SP II. I have got it working with<br>
  Sven&gt; all features (preview etc.) with xscanimage from SANE-0.57.<br>
  Sven&gt; This is what was necessary to bring this scanner to life under<br>
  Sven&gt; Linux: - got a new SCSI card ( I bought a NCR 810 ) - patched<br>
  Sven&gt; the NCR-module by setting the SCSI-timeout from 10 to 100<br>
  Sven&gt; seconds - patched the kernel to allow a bigger SCSI buffer -<br>
  Sven&gt; linked /dev/scanner to /dev/sga - recompiled everything and<br>
  Sven&gt; enjoyed!<br>
<p>
  Sven&gt; Thanks a lot to the SANE developers for your great work!<br>
<p>
Great!  It's always good to hear success stories (for a change... ;-).<br>
<p>
  Sven&gt; BTW: Why is xscanimage complaining about curve_new not<br>
  Sven&gt; implemented in my GTK libs? I'm using the libs that come with<br>
  Sven&gt; version 0.99.9 of The GIMP and the widget is present in this<br>
  Sven&gt; release.<br>
<p>
No, 0.99.9 does not come with the curve widget.  If you get the gtk<br>
snapshot from the SANE directory, it should work, though (assuming all<br>
compiles and is installed so ./configure can find things).  I'm told<br>
that the Red Hat RPM of gtk includes the gtkcurve widget as well.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Previous message:</b> <a href="0055.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
