<!-- received="Wed Jun  4 09:56:04 1997 MST" -->
<!-- sent="Wed, 4 Jun 1997 14:05:18 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Logitech Support ?" -->
<!-- id="m0wZEoY-000BVQC@charon.beck-sw.de" -->
<!-- inreplyto="199706031730.NAA00932@orion.webexpert.net" -->
<title>sane-devel: Re: Logitech Support ?</title>
<h1>Re: Logitech Support ?</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 4 Jun 1997 14:05:18 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Driver for Genius Color Page-CS"</a>
<li> <b>Previous message:</b> <a href="0058.html">Rildo Pragana: "Driver for Genius Color Page-CS"</a>
<li> <b>In reply to:</b> <a href="0058.html">Rildo Pragana: "Driver for Genius Color Page-CS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Jim Chisholm: "Sane newbie questions.."</a>
<li> <b>Reply:</b> <a href="0061.html">Jim Chisholm: "Sane newbie questions.."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; There should be a domain logitech.com. I suppose they have a Website and there</i><br>
<i>&gt; &gt; you should find pointer to their technical and marketing staff.</i><br>
<i>&gt; Of course, brilliantly enough, the support.logitech.com server was down when I </i><br>
<i>&gt; checked just now.</i><br>
Grmpf ... hope it will come up again ...<br>
<p>
<i>&gt; &gt; &gt; &gt; The other way out would be to find someone who writes a driver. The parallel</i><br>
<i>&gt; &gt; I will gladly try to help, if you want to take the challenge, but you will</i><br>
<i>&gt; &gt; need at least basic knowledge of electronics and how to wield a soldering iron</i><br>
<i>&gt; &gt; if you want to monitor the parallel port in hardware or a solid knowledge</i><br>
<i>&gt; &gt; of WinDoze drivers to do it on the software-side.</i><br>
<i>&gt; Well, unfortunately, knowledge of electronics isn't passed in the genes.  </i><br>
<i>&gt; I might convince my Dad to help out on that end, but he lives four hours away,</i><br>
<i>&gt; and we visit for a weekend a month.  Besides, I'm still trying to complete his </i><br>
<i>&gt; linux upgrade, and I don't think he's up for another bout of craziness yet. </i><br>
<i>&gt; I might be able to get a parallel-port-monitoring-thingy out of him if he's </i><br>
<i>&gt; got the time, though.</i><br>
Maybe you find someone near you by screaming loud on this list ...<br>
Anybody with data-logging facilities handy on the list ?<br>
<p>
<i>&gt; As for Windoze, I gave up that nasty, smelly habit some time ago, and never </i><br>
<i>&gt; did know anything about its drivers... </i><br>
<i>&gt; I've got the hardware handy, and the they say that necessity is the mother of </i><br>
<i>&gt; invention, but I get the feeling that reality is working against me.</i><br>
;-)<br>
<p>
<i>&gt; I'll certainly write to Logitech and see if I can get the specs on the scanner, </i><br>
<i>&gt; but I won't know what to do with the information if/when I get it without a </i><br>
<i>&gt; good deal of guidance.</i><br>
Should you get it, I will gladly try to be your guide, though I doubt they will<br>
give you anything ...<br>
<p>
Maybe asking on another list might get you some contacts to other owners<br>
which might want to help, too.<br>
<p>
CU,Andy<br>
<p>
P.S.: Your line-break it not set correctly. I get lines with about 500 <br>
chars in it.<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Driver for Genius Color Page-CS"</a>
<li> <b>Previous message:</b> <a href="0058.html">Rildo Pragana: "Driver for Genius Color Page-CS"</a>
<li> <b>In reply to:</b> <a href="0058.html">Rildo Pragana: "Driver for Genius Color Page-CS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0061.html">Jim Chisholm: "Sane newbie questions.."</a>
<li> <b>Reply:</b> <a href="0061.html">Jim Chisholm: "Sane newbie questions.."</a>
<!-- reply="end" -->
</ul>
