<!-- received="Thu Jun  5 17:09:18 1997 MST" -->
<!-- sent="Thu, 05 Jun 1997 19:47:17 -0400" -->
<!-- name="Michael J. Long" -->
<!-- email="mjlong@mindspring.com" -->
<!-- subject="Re: Microtek?" -->
<!-- id="199706050751.JAA00453@darkstar.faho.rwth-aachen.de" -->
<!-- inreplyto="Microtek?" -->
<title>sane-devel: Re: Microtek?</title>
<h1>Re: Microtek?</h1>
<b>Michael J. Long</b> (<a href="mailto:mjlong@mindspring.com"><i>mjlong@mindspring.com</i></a>)<br>
<i>Thu, 05 Jun 1997 19:47:17 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#65">[ date ]</a><a href="index.html#65">[ thread ]</a><a href="subject.html#65">[ subject ]</a><a href="author.html#65">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Previous message:</b> <a href="0064.html">Hallow: "Microtek?"</a>
<li> <b>Maybe in reply to:</b> <a href="0064.html">Hallow: "Microtek?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
<p>
--------------6532AE95998FED46071CDD9<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
I have atteached the same question I asked a month back<br>
and the response I received.<br>
<p>
Looks like someone is working on it.<br>
<p>
If you are not aware of the mtekscan package, it can be<br>
found at:<br>
<a href="http://fb4-1112.uni-muenster.de/ffwd/ffwd_mtekscan.html">http://fb4-1112.uni-muenster.de/ffwd/ffwd_mtekscan.html</a><br>
<p>
Michael J. Long<br>
<p>
<p>
Hallow wrote:<br>
<i>&gt; </i><br>
<i>&gt; Just got a microtek E6, wondering how work's going, if at</i><br>
<i>&gt; all on a SANE driver?</i><br>
<p>
[...snip...]<br>
<p>
<pre>
-- 
* Michael J. Long * #include &lt;disclaimer.h&gt;
*     NORTEL      * Work: <a href="mailto:mjlong@nortel.ca">mjlong@nortel.ca</a>
*    RTP,  NC     * Play: <a href="mailto:mjlong@mindspring.com">mjlong@mindspring.com</a>
<p>
--------------6532AE95998FED46071CDD9
Content-Type: message/rfc822
Content-Transfer-Encoding: 7bit
Content-Disposition: inline
<p>
Return-Path: &lt;<a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>&gt;
Received: from aries.azstarnet.com (aries.azstarnet.com [169.197.1.12])
	by camel10.mindspring.com (8.8.5/8.8.5) with ESMTP id PAA24075
	for &lt;mjlong@mindspring.com&gt;; Sun, 11 May 1997 15:28:54 -0400 (EDT)
Received: (from slist@localhost) by aries.azstarnet.com (8.8.5/8.8.5) id MAA04687; Sun, 11 May 1997 12:19:02 -0700
Resent-Date: Sun, 11 May 1997 12:19:02 -0700
From: Nem W Schlecht &lt;<a href="mailto:nem@abattoir.cc.ndsu.nodak.edu">nem@abattoir.cc.ndsu.nodak.edu</a>&gt;
Message-Id: &lt;199705111908.OAA10241@abattoir.cc.ndsu.nodak.edu&gt;
Subject: Re: Q: Status of Microtek backend??
To: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a>
Date: Sun, 11 May 1997 14:08:40 -0500 (CDT)
In-Reply-To: &lt;3375CC4B.36E8257C@mindspring.com&gt; from "Michael J. Long" at May 11, 1997 09:40:27 AM
Work: IACC, Room 242J1, NDSU, Fargo, ND, 58105, 1(701)231-7584
Home: 910 3rd. Ave. S., Fargo, ND, 58103-1707, 1(701)237-6733
Reply-To: Nem W Schlecht &lt;<a href="mailto:nem@abattoir.cc.ndsu.nodak.edu">nem@abattoir.cc.ndsu.nodak.edu</a>&gt;
X-Face: &lt;`wPgO"bJB4b@0\O,QSJXjs{z9G?XFyIi_1-o\asGZyNE$)msX/Yr#*Kr171E{D9h7|gCLL
	5g)h*ITme8Hs{]UHA2Se&lt;($xU/Z6v0h%K=/{n|/0H{kk`i~/E&amp;l*d&gt;~?(f#?~!n`Ti$-;py
	&lt;.+yt.f-a7k!GH\S[H#19ExsC|0T!ng8v~(.z[?fH1&amp;|D%)9S&gt;qwd&lt;-B7!mvs
X-Mailer: ELM [version 2.5 PL0b1]
MIME-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit
Resent-Message-ID: &lt;"TYIix3.0.A91.ckXTp"@aries&gt;
Resent-From: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a>
X-Mailing-List: &lt;<a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a>&gt; archive/latest/205
X-Loop: <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a>
Precedence: list
Resent-Sender: <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
<p>
Michael J. Long e-mailed me on Sun May 11 08:40:27 1997
(Re: "Q: Status of Microtek backend??")
&gt;
&gt;I have looked through the mailing list archives and saw that
&gt;a couple of people have volunteered to develop it.
&gt;
&gt;Does anyone know the status of the development??  I have a
&gt;Microtek ScanMaker HRII and can't get mtekscan to work with
&gt;it.  Therefore, I am hoping this will work.  I am willing to
&gt;be a tester for it when it is ready.
<p>
Now that the summer time is here (ie - school is over) I should have more
time to work on this - however, I'll probably be using the mtekscan code as
a basis for anything that work on.  In that case, it may not be very
helpful for you. :-(
<p>
<pre>
-- 
Nem W Schlecht                  <a href="mailto:nem@plains.nodak.edu">nem@plains.nodak.edu</a>
NDUS UNIX SysAdmin         <a href="http://www.nodak.edu/~nem">http://www.nodak.edu/~nem</a>
"Perl did the magic.  I just waved the wand."
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
<p>
<p>
--------------6532AE95998FED46071CDD9--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Previous message:</b> <a href="0064.html">Hallow: "Microtek?"</a>
<li> <b>Maybe in reply to:</b> <a href="0064.html">Hallow: "Microtek?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
