<!-- received="Thu Jun 12 08:17:44 1997 MST" -->
<!-- sent="Thu, 12 Jun 1997 08:11:35 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: ScanJet 5p working with SANE" -->
<!-- id="199706121511.IAA06903@panda.mosberger" -->
<!-- inreplyto="339F26D3.E2CFFBED@ihug.co.nz" -->
<title>sane-devel: Re: ScanJet 5p working with SANE</title>
<h1>Re: ScanJet 5p working with SANE</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 12 Jun 1997 08:11:35 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<li> <b>Previous message:</b> <a href="0073.html">Rodger Donaldson: "ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 12 Jun 1997 10:29:39 +1200, Rodger Donaldson &lt;<a href="mailto:rodgerd@ihug.co.nz">rodgerd@ihug.co.nz</a>&gt; said:</i><br>
<p>
  Rodger&gt; I have an HP ScanJet 5p working with SANE 0.57 (sort of).<br>
  Rodger&gt; The details are:<br>
<p>
  Rodger&gt; Host: scsi0 Channel: 00 Id: 02 Lun: 00 Vendor: HP Model:<br>
  Rodger&gt; C5110A Rev: 3638 Type: Processor ANSI SCSI revision: 02<br>
<p>
  Rodger&gt; It's hanging off an Adaptec 2940, on an x86 system running<br>
  Rodger&gt; the RH 4 dist of Linux, upgraded to Kernel 2.0.27 and libc<br>
  Rodger&gt; 5.4.22<br>
<p>
  Rodger&gt; The problem is that currently, the preview function doesn't<br>
  Rodger&gt; work.  If I open the preview window, all OK.  If I try<br>
  Rodger&gt; activating the preview function, I get a:<br>
<p>
  Rodger&gt; Error: Failed restore value of option tl-x: Invalid<br>
  Rodger&gt; argument.  Error: Failed restore value of option tl-y:<br>
  Rodger&gt; Invalid argument.<br>
<p>
  Rodger&gt; from stdout and a dialogue popping up to tell me "Not enough<br>
  Rodger&gt; memory".  Since I've got 32MB of physical RAM and another<br>
  Rodger&gt; 50-odd MB of swap, this seems unlikely.<br>
<p>
  Rodger&gt; Whether this is an error specific to the 5p or a problem<br>
  Rodger&gt; with my build, I'm unsure.<br>
<p>
It's a known problem with the 5p.  Unlike all other ScanJets, the 5p<br>
doesn't support the commands that specify the scan area in decipoints.<br>
Instead, it only supports the commands that use the device-pixel unit.<br>
So the HP backend needs to be changed to use the device-pixel commands<br>
(all ScanJet scanners support this).  It's not hard to do, but since I<br>
don't have an HP scanner myself (yet), I can't do this effectively.<br>
If you want to give a shot at it, let me know (I have the docs for the<br>
necessary commands).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<li> <b>Previous message:</b> <a href="0073.html">Rodger Donaldson: "ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
