<!-- received="Sun Jun 15 11:26:35 1997 MST" -->
<!-- sent="Sun, 15 Jun 1997 11:21:01 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: ScanJet 5p working with SANE" -->
<!-- id="199706151821.LAA19577@panda.mosberger" -->
<!-- inreplyto="199706121511.IAA06903@panda.mosberger" -->
<title>sane-devel: Re: ScanJet 5p working with SANE</title>
<h1>Re: ScanJet 5p working with SANE</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 15 Jun 1997 11:21:01 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#93">[ date ]</a><a href="index.html#93">[ thread ]</a><a href="subject.html#93">[ subject ]</a><a href="author.html#93">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">orauch@physik.uni-osnabrueck.de: "xscanimage redraw-error"</a>
<li> <b>Previous message:</b> <a href="0092.html">Neville Wilford: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>In reply to:</b> <a href="0075.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 15 Jun 1997 19:56:05 +0200, Sascha Ziemann &lt;<a href="mailto:szi@aibon.ping.de">szi@aibon.ping.de</a>&gt; said:</i><br>
<p>
  Sascha&gt; David Mosberger-Tang wrote:<br>
<p>
<i>  &gt;&gt; What is the "template mechanism" you are referring to?</i><br>
<p>
  Sascha&gt; That is the way to specify the scan parameters, which is<br>
  Sascha&gt; used in the Win soft for the HP only. You can give a set of<br>
  Sascha&gt; parameters a name and can refer those settings via the<br>
  Sascha&gt; name. This is done by the cmdline tool for the HP too. For<br>
  Sascha&gt; example, if you want to scan a cd cover you can define a<br>
  Sascha&gt; 12x12 cm area in one corner with 24 bit and 300 dpi and a<br>
  Sascha&gt; special gamma.  Later you can say scan cd cover and the<br>
  Sascha&gt; program uses those settings.<br>
<p>
Ah, yes, xcam supports that, but I didn't implement it in xscanimage<br>
yet.  I wasn't sure whether it would just confuse the user.  If you<br>
look at how parameters are saved/restored in xscanimage and look at<br>
xcam, it should be pretty clear how this could be added, though.<br>
<p>
If scanimage could support that, it would be nice, too, I agree.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">orauch@physik.uni-osnabrueck.de: "xscanimage redraw-error"</a>
<li> <b>Previous message:</b> <a href="0092.html">Neville Wilford: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>In reply to:</b> <a href="0075.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Sascha Ziemann: "Re: ScanJet 5p working with SANE"</a>
<!-- reply="end" -->
</ul>
