<!-- received="Tue Jun 17 16:57:38 1997 MST" -->
<!-- sent="Tue, 17 Jun 1997 19:51:45 -0400 (EDT)" -->
<!-- name="Andrew Kuchling" -->
<!-- email="amk@magnet.com" -->
<!-- subject="B&amp;W qcam: Curiouser..." -->
<!-- id="199706172351.TAA02920@lemur.magnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: B&amp;W qcam: Curiouser...</title>
<h1>B&amp;W qcam: Curiouser...</h1>
<b>Andrew Kuchling</b> (<a href="mailto:amk@magnet.com"><i>amk@magnet.com</i></a>)<br>
<i>Tue, 17 Jun 1997 19:51:45 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">David Mosberger-Tang: "Re: You have been removed from the list"</a>
<li> <b>Previous message:</b> <a href="0108.html">Andrew Kuchling: "Re: B&amp;W qcam with SANE 0.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	I fiddled with the camera parametes, and found something<br>
really interesting.  Look at the 3 images in<br>
<a href="http://people.magnet.com/~amk/qcam/">http://people.magnet.com/~amk/qcam/</a>.  All are of me looking straight<br>
at the qcam.  The number is the --transfer-scale parameter; test1.pnm<br>
is with a transfer scale of 1, and so forth.  They're all with --depth<br>
6.<br>
<p>
	test2.pnm looks OK; I'm easily visible.  In test1 and test4,<br>
the image is skewed diagonally; my face is the diagonal line going<br>
from the middle of the left side to the bottom edge.  <br>
<p>
	With --depth 4, the images are all really dark, but using the<br>
edge detection function in xv shows that the images look correct.<br>
<p>
	So, the code's buggy for depth=6 and transfer-scale=1 or 4.<br>
David, any idea what function does that point to as the buggy one?<br>
<p>
<p>
	Andrew Kuchling<br>
	<a href="mailto:amk@magnet.com">amk@magnet.com</a><br>
	<a href="http://people.magnet.com/%7Eamk/">http://people.magnet.com/%7Eamk/</a><br>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">David Mosberger-Tang: "Re: You have been removed from the list"</a>
<li> <b>Previous message:</b> <a href="0108.html">Andrew Kuchling: "Re: B&amp;W qcam with SANE 0.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
