<!-- received="Mon Jun 23 14:57:10 1997 MST" -->
<!-- sent="Mon, 23 Jun 1997 18:12:24 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek 600CD &amp; Buslogic error on sane 0.6" -->
<!-- id="m0wgBj7-000BWNC@charon.beck-sw.de" -->
<!-- inreplyto="33AE33C1.5CBF1192@rrz.uni-hamburg.de" -->
<title>sane-devel: Re: Mustek 600CD &amp; Buslogic error on sane 0.6</title>
<h1>Re: Mustek 600CD &amp; Buslogic error on sane 0.6</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 23 Jun 1997 18:12:24 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic error on sane 0.6"</a>
<li> <b>Previous message:</b> <a href="0136.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic  error on sane 0.6"</a>
<li> <b>In reply to:</b> <a href="0135.html">Christophe Zwecker: "Mustek 600CD &amp; Buslogic  error on sane 0.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0138.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic error on sane 0.6"</a>
<li> <b>Reply:</b> <a href="0138.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic error on sane 0.6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; So quickly I compiled it. ok I got an BUslogic 948 (linux 2.0.30) and</i><br>
<i>&gt; when I do </i><br>
<p>
<i>&gt; (got /dev/scanner in mustek config file) it starts scanning, but after a</i><br>
<i>&gt; while I get this in messages:</i><br>
<p>
<i>&gt; Jun 23 10:18:24 dumbo kernel: scsi : aborting command due to timeout :</i><br>
<i>&gt; pid 9455, scsi0, channel 0, id 1</i><br>
<i>&gt; , lun 0 Read (10) 00 00 2a 6e 2b 00 00 02 00</i><br>
<i>&gt; Jun 23 10:18:24 dumbo kernel: scsi0: Aborting CCB #9694 to Target 1</i><br>
<i>&gt; Jun 23 10:18:24 dumbo kernel: SCSI host 0 abort (pid 9455) timed out -</i><br>
<i>&gt; resetting</i><br>
<i>&gt; Jun 23 10:18:24 dumbo kernel: SCSI bus is being reset for host 0 channel</i><br>
<i>&gt; 0.</i><br>
<i>&gt; Jun 23 10:18:24 dumbo kernel: scsi0: Sending Bus Device Reset CCB #9703</i><br>
<i>&gt; to Target 1</i><br>
<i>&gt; Jun 23 10:18:25 dumbo kernel: scsi0: CCB #9694 to Target 1 Aborted</i><br>
<i>&gt; Jun 23 10:18:25 dumbo kernel: scsi0: Bus Device Reset CCB #9703 to</i><br>
<i>&gt; Target 1 Completed</i><br>
<i>&gt; Jun 23 10:18:26 dumbo kernel: scsi0: Tagged Queuing now active for</i><br>
<i>&gt; Target 6</i><br>
<i>&gt; Jun 23 10:18:41 dumbo kernel: scsi : aborting command due to timeout :</i><br>
<i>&gt; pid 9479, scsi0, channel 0, id 1</i><br>
<i>&gt; , lun 0 Write (10) 00 00 23 6e 15 00 00 04 00</i><br>
<i>&gt; Jun 23 10:18:41 dumbo kernel: scsi0: Aborting CCB #9721 to Target 1   </i><br>
<i>&gt; ......</i><br>
<p>
This is due to the Mustek scanner being unfriendly on the SCSI bus.<br>
<p>
It will not disconnect, though it stays on the bus for _very_ long times,<br>
as it scanning speed is rather slow.<br>
<p>
This means that you should most probably get another SCSI-card (a very cheap <br>
one will do) for the scanner, as it blocks the bus while scanning which<br>
is not good, if you need access to the scsi-bus in the meantime.<br>
<p>
Anyway timeouts need to be raised for other drivers, too.<br>
<p>
<i>&gt; I chack the file I dumped the output to and thereis already somthing,</i><br>
<i>&gt; just only til the scanner stops...</i><br>
<p>
<i>&gt; Do I have to fiddle with the scsi source ? Where ?</i><br>
<p>
Don't know for the Buslogic card. Grep for "timeout". But I assume the <br>
problem might persist, due to the unfriendly behaviour of the scanner. <br>
<p>
<i>&gt; is Mustek MFC-06000CZ the right thing for the 600CD ?</i><br>
<p>
Don't know yet. Could be CZ, could be SP ... Mustek seems to be continously <br>
giving new names to their products.<br>
We will find this out, when we see the images ;-)<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic error on sane 0.6"</a>
<li> <b>Previous message:</b> <a href="0136.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic  error on sane 0.6"</a>
<li> <b>In reply to:</b> <a href="0135.html">Christophe Zwecker: "Mustek 600CD &amp; Buslogic  error on sane 0.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0138.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic error on sane 0.6"</a>
<li> <b>Reply:</b> <a href="0138.html">David Mosberger-Tang: "Re: Mustek 600CD &amp; Buslogic error on sane 0.6"</a>
<!-- reply="end" -->
</ul>
