<!-- received="Tue Jan 13 13:28:44 1998 PST" -->
<!-- sent="Tue, 13 Jan 1998 16:29:53 -0500 (EST)" -->
<!-- name="William T Wilson" -->
<!-- email="fluffy@benatar.dunadan.com" -->
<!-- subject="Astra 610" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Astra 610</title>
<h1>Astra 610</h1>
<b>William T Wilson</b> (<a href="mailto:fluffy@benatar.dunadan.com"><i>fluffy@benatar.dunadan.com</i></a>)<br>
<i>Tue, 13 Jan 1998 16:29:53 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Michael K. Johnson: "An in-print book with a scsi analyzer program..."</a>
<li> <b>Previous message:</b> <a href="0048.html">Dominik Kubla: "Re: sane running on Solaris 2.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have one of the accursed 610's, and was wondering if there is any help<br>
you need with the driver.  I know you probably have a handle on all the<br>
coding yourself, but I am certainly willing to test; and I have also heard<br>
there is a software based SCSI analyzer for DOS in a book called 'The SCSI<br>
Book'.  I don't have such a book but I was wondering if anyone does or has<br>
heard of it; such an analyzer would be most useful in figuring out the<br>
driver for those of us with scanners but no analyzers.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Michael K. Johnson: "An in-print book with a scsi analyzer program..."</a>
<li> <b>Previous message:</b> <a href="0048.html">Dominik Kubla: "Re: sane running on Solaris 2.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
