<!-- received="Sat Jan 17 14:23:15 1998 PST" -->
<!-- sent="Sat, 17 Jan 1998 23:22:11 +0100 (CET)" -->
<!-- name="Alexander Schulz" -->
<!-- email="Alexander.Schulz@stud.uni-karlsruhe.de" -->
<!-- subject="Re: Mustek Paragon 1200SP and transparancy" -->
<!-- id="199801172222.XAA01106@silvermine.blue.sky.mining.de" -->
<!-- inreplyto="Mustek Paragon 1200SP and transparancy" -->
<title>sane-devel: Re: Mustek Paragon 1200SP and transparancy</title>
<h1>Re: Mustek Paragon 1200SP and transparancy</h1>
<b>Alexander Schulz</b> (<a href="mailto:Alexander.Schulz@stud.uni-karlsruhe.de"><i>Alexander.Schulz@stud.uni-karlsruhe.de</i></a>)<br>
<i>Sat, 17 Jan 1998 23:22:11 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">becka@rz.uni-duesseldorf.de: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Previous message:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Alexander Schulz: "Mustek Paragon 1200SP and transparancy"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello again,<br>
<p>
<i>&gt;&gt;David Mosberger-Tang:</i><br>
<i>&gt;In theory, the Mustek backend can already detect the presence of a</i><br>
<i>&gt;transparency adapter (but it doesn't know much else). If you set</i><br>
<i>&gt;environment variable SANE_DEBUG_MUSTEK to a value &gt;=2, you should see</i><br>
<i>&gt;a message of the form:</i><br>
<p>
[mustek] attach: firmware revision 1.02<br>
[mustek] attach: scanner has automatic line-distance correction<br>
[mustek] attach: found Mustek scanner model MFS-12000SP (flatbed scanner),<br>
         1-pass, TA<br>
<p>
thats what my scanner says. But that is not the problem. You can scan normal<br>
documents with the full size even if the TA is _installed_. Only if you tell<br>
the scanner to _use_ trancparency, it switches the two lights and moves the<br>
head. So from this moment on you must scan only 254mm. If you change the<br>
input type back to "Flatbed", you have the full scan area again. So it seems<br>
one must even tell the frontend (if it has a preview) that the area is<br>
smaller while scanning transparent documents?!<br>
<p>
I think I will search my sane documentation first, too many thinks I don't<br>
know about the commuication between the frontend and the backend.<br>
<p>
<i>&gt;Patches for supporting transparancy adapters would be of course very</i><br>
<i>&gt;welcome (I don't have such a beat myself). If you end up playing with</i><br>
<i>&gt;this, let me know and I'll see about getting the Mustek SCSI command</i><br>
<i>&gt;docs to you.</i><br>
<p>
I would like to help, as time permits, but as I said, first I'll check the<br>
docs now...<br>
<p>
Alexander<br>
<p>
<pre>
-- 
       ,,,
      (o o)
+-oOO--(_)--OOo--/"T"""""""""""""""""""""""""T""""""""""""""""""""""""""""""""T
| Alexander Schulz |  Fax: +49 6221 384746   | ... denn man ist immer so tot, |
| <a href="mailto:Alexander.Schulz@stud.uni-karlsruhe.de">Alexander.Schulz@stud.uni-karlsruhe.de</a>     | wie man sich fuehlt!           |
| <a href="http://www.uni-karlsruhe.de/~un23">http://www.uni-karlsruhe.de/~un23</a>          | (D. Adams : mostly harmless)   |
+------------------+-------------------------+--------------------------------+
| The system has detected an internal processing error in module REALITY.SYS. |
| Please shut down your universe and reboot.                                  |
+-----------------------------------------------------------------------------+
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">becka@rz.uni-duesseldorf.de: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Previous message:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Alexander Schulz: "Mustek Paragon 1200SP and transparancy"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
