<!-- received="Sun Jan 18 08:13:20 1998 PST" -->
<!-- sent="Sun, 18 Jan 1998 14:04:55 +0100 (MET)" -->
<!-- name="oli@Wolfsburg.DE" -->
<!-- email="oli@Wolfsburg.DE" -->
<!-- subject="umax-backend" -->
<!-- id="199801181304.OAA00230@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: umax-backend</title>
<h1>umax-backend</h1>
<a href="mailto:oli@Wolfsburg.DE"><i>oli@Wolfsburg.DE</i></a><br>
<i>Sun, 18 Jan 1998 14:04:55 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#68">[ date ]</a><a href="index.html#68">[ thread ]</a><a href="subject.html#68">[ subject ]</a><a href="author.html#68">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0067.html">Pkirchg: "HP C5100 photosmart photoscanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<li> <b>Maybe reply:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I crashed my root-partition today and so I lost ...<br>
<p>
- no, the umax-sources are ok (/home partition stayed alive) -<br>
<p>
but I lost my mail-database.<br>
<p>
So if anyone is waiting for a mail from me, please reply<br>
to this mail!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0067.html">Pkirchg: "HP C5100 photosmart photoscanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<li> <b>Maybe reply:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
