<!-- received="Mon Jan 19 07:44:52 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 16:54:24 +0100 (MET)" -->
<!-- name="Andreas Pohl" -->
<!-- email="pohl@fh-zwickau.de" -->
<!-- subject="Agfa Snapscan with Sane" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Agfa Snapscan with Sane</title>
<h1>Agfa Snapscan with Sane</h1>
<b>Andreas Pohl</b> (<a href="mailto:pohl@fh-zwickau.de"><i>pohl@fh-zwickau.de</i></a>)<br>
<i>Mon, 19 Jan 1998 16:54:24 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Bill Carlson: "35mm Film Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi ..<br>
<p>
I didn't found any support for Agfa Snapscan in the Sane-Dokumentation ..<br>
Is there any way to use this Scanner with Sane?<br>
<p>
A. Pohl<br>
------------------------------------------------------------------<br>
Andreas Pohl &lt;&gt;&lt; IRC-Nick: bassmann &lt;&gt;&lt; <a href="mailto:">mailto:</a> pohl@fh-zwickau.de<br>
&lt;&gt;&lt; Puschkinstrasse 27, 07950 Triebes, Tel. (0177)3315988 &gt;&lt;&gt;<br>
------------------------------------------------------------------<br>
  - Man sollte die Welt so nehmen, wie sie ist, <br>
    aber nicht so lassen (Silone). -<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Bill Carlson: "35mm Film Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
