<!-- received="Mon Jan 19 08:08:46 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 11:00:22 -0500" -->
<!-- name="Bill Carlson" -->
<!-- email="wwc@jordan.wwc.abs.net" -->
<!-- subject="35mm Film Scanner Support" -->
<!-- id="199801191600.LAA00642@jordan.wwc.abs.net" -->
<!-- inreplyto="" -->
<title>sane-devel: 35mm Film Scanner Support</title>
<h1>35mm Film Scanner Support</h1>
<b>Bill Carlson</b> (<a href="mailto:wwc@jordan.wwc.abs.net"><i>wwc@jordan.wwc.abs.net</i></a>)<br>
<i>Mon, 19 Jan 1998 11:00:22 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0076.html">Andreas Pohl: "Agfa Snapscan with Sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0190.html">Stefan Knodt: "Re: 35mm Film Scanner Support"</a>
<li> <b>Reply:</b> <a href="0190.html">Stefan Knodt: "Re: 35mm Film Scanner Support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi All,<br>
	I'm looking for a SANE-supported 35mm film scanner.  I know that some<br>
sane drivers support transparent media adapters (like umax), but I believe that<br>
the film-specific scanners like Nikon CoolScan, HP PhotoSmart Scanner, and<br>
MicroTek 35T (among others) work MUCH better than the TMA solution.  Any<br>
hints on devices such at these that may be SANE supported?  I'm willing to<br>
put a bit of work into such support if info was available.<br>
<p>
		Cheers,<br>
<p>
		Bill Carlson<br>
		<a href="mailto:wwc@abs.net">wwc@abs.net</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0076.html">Andreas Pohl: "Agfa Snapscan with Sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0190.html">Stefan Knodt: "Re: 35mm Film Scanner Support"</a>
<li> <b>Reply:</b> <a href="0190.html">Stefan Knodt: "Re: 35mm Film Scanner Support"</a>
<!-- reply="end" -->
</ul>
