<!-- received="Tue Jan 20 12:59:31 1998 PST" -->
<!-- sent="Tue, 20 Jan 1998 13:02:01 -0800" -->
<!-- name="Paul Walker" -->
<!-- email="pwalker@hifn.com" -->
<!-- subject="RE: Umax Backend." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: Umax Backend.</title>
<h1>RE: Umax Backend.</h1>
<b>Paul Walker</b> (<a href="mailto:pwalker@hifn.com"><i>pwalker@hifn.com</i></a>)<br>
<i>Tue, 20 Jan 1998 13:02:01 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<li> <b>Previous message:</b> <a href="0097.html">Raymond A. Ingles: "NCR53c8xx timeout change?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Nicolas - I would like to get these files.  Could you please send<br>
them<br>
to me?  Or perhaps I could FTP them from you.<br>
<p>
Paul Walker<br>
<p>
<i>&gt; ----------</i><br>
<i>&gt; From: 	Nicolas Lucas de Peslouan[SMTP:nlp@usa.net]</i><br>
<i>&gt; Sent: 	Tuesday, January 20, 1998 4:49 AM</i><br>
<i>&gt; To: 	sane-devel</i><br>
<i>&gt; Subject: 	Umax Backend.</i><br>
<i>&gt; </i><br>
<i>&gt; Hi !</i><br>
<i>&gt; </i><br>
<i>&gt; After escalating with Umax reseller in France for several months now,</i><br>
<i>&gt; today I finally received a floppy disk having 4 RTF files.</i><br>
<i>&gt; </i><br>
<i>&gt; The floppy is labelled "Development Kit for Unix"...</i><br>
<i>&gt; </i><br>
<i>&gt; I grepped the files for "Astra 610", and find something in a file</i><br>
<i>&gt; called</i><br>
<i>&gt; h6900010.rtf, which apparently deal with Astra 600S, Astra 610S and</i><br>
<i>&gt; S6E.</i><br>
<i>&gt; </i><br>
<i>&gt; Does anyone already have this ? if not, does anyone want it ? :-) </i><br>
<i>&gt; (Oliver, already repaired your / filesystem ? :-)</i><br>
<i>&gt; </i><br>
<i>&gt; The files apparently ranges from PowerLook II, III, 2000, 3000 to</i><br>
<i>&gt; Astra</i><br>
<i>&gt; 600S, 610S, 1200S to S6E.</i><br>
<i>&gt; </i><br>
<i>&gt; I can send a .tar.gz file with all files (168k long).</i><br>
<i>&gt; </i><br>
<i>&gt; 	Nicolas.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail</i><br>
<i>&gt; <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<li> <b>Previous message:</b> <a href="0097.html">Raymond A. Ingles: "NCR53c8xx timeout change?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
