<!-- received="Tue Jan 20 14:07:31 1998 PST" -->
<!-- sent="Tue, 20 Jan 1998 17:09:51 +0100" -->
<!-- name="Joachim Woll" -->
<!-- email="woll@physik.uni-kassel.de" -->
<!-- subject="Re: xerox settings for DINA4" -->
<!-- id="" -->
<!-- inreplyto="xerox settings for DINA4" -->
<title>sane-devel: Re: xerox settings for DINA4</title>
<h1>Re: xerox settings for DINA4</h1>
<b>Joachim Woll</b> (<a href="mailto:woll@physik.uni-kassel.de"><i>woll@physik.uni-kassel.de</i></a>)<br>
<i>Tue, 20 Jan 1998 17:09:51 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">David Mosberger-Tang: "Re: NCR53c8xx timeout change?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Paul Walker: "RE: Umax Backend."</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Henning Sauer: "xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Michael Sweet wrote:<br>
<p>
<i>&gt; Henning Sauer wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Hello,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; the xerox script that comes with sane-0.68 seems to expect the width and</i><br>
<i>&gt; &gt; length in inches and as here in Germany we use the metric system and I</i><br>
<i>&gt; &gt; would like to copy DINA4 papers I'm searching for the right settings for</i><br>
<i>&gt; &gt; DINA4.</i><br>
<i>&gt;</i><br>
<i>&gt; A4 media is 8.27x11.69 inches.</i><br>
<p>
Yes might be, but with this settings pnmtops ist scaling the image in a<br>
waythat it appears compressed on the paper.<br>
That what "xerox" should do is just a copy without any scaling.<br>
And I really dont know how to do this.<br>
Another thing is the brightness option for scanimage.<br>
Using my mustek-scanner this option simply does not work.<br>
<p>
Best regards,<br>
   Joachim<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">David Mosberger-Tang: "Re: NCR53c8xx timeout change?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Paul Walker: "RE: Umax Backend."</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Henning Sauer: "xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<!-- reply="end" -->
</ul>
