<!-- received="Tue Jan 27 14:22:14 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 18:21:33 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Astra 6X0S-patch available" -->
<!-- id="199801261721.SAA00246@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.94.980126001748.24999A-102000@pinguin.seebaer.ruhr.de" -->
<title>sane-devel: Re: Astra 6X0S-patch available</title>
<h1>Re: Astra 6X0S-patch available</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 26 Jan 1998 18:21:33 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Matthias Kleinschmidt: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0193.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0175.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0175.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0202.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0203.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; 1. Preview</i><br>
<i>&gt; The Preview shows the picture, but the images per color are not at the</i><br>
<i>&gt; same position. The position of the scan is almost ok. For an example see</i><br>
<i>&gt; scanimage-preview.ppm.gz.</i><br>
That looks very good for the first try! The rest is to order the lines<br>
in a correct way.<br>
<p>
<i>&gt; </i><br>
<i>&gt; 2. Scan</i><br>
<i>&gt; The scanner doesn't move to the right location. The scan shows only</i><br>
<i>&gt; horizontal bars as shown in scanimage-white.ppm.gz.</i><br>
Hm, what do you mean with "The scanner doesn't move to the right location" ?<br>
<p>
<p>
I will have a closer look at it.<br>
Please could you tell me if you have an Astra 600S or Astra 610S,<br>
because the need different order-paramters!<br>
<p>
Thanks and bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Matthias Kleinschmidt: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0193.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0175.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0175.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0202.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<li> <b>Reply:</b> <a href="0203.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- reply="end" -->
</ul>
