<!-- received="Tue Jan 27 18:44:44 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 23:24:18 +0100 (MET)" -->
<!-- name="Bernd Seemann" -->
<!-- email="bernd@seebaer.ruhr.de" -->
<!-- subject="Re: Astra 6X0S-patch availabley" -->
<!-- id="" -->
<!-- inreplyto="199801261744.SAA00451@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: Astra 6X0S-patch availabley</title>
<h1>Re: Astra 6X0S-patch availabley</h1>
<b>Bernd Seemann</b> (<a href="mailto:bernd@seebaer.ruhr.de"><i>bernd@seebaer.ruhr.de</i></a>)<br>
<i>Mon, 26 Jan 1998 23:24:18 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#206">[ date ]</a><a href="index.html#206">[ thread ]</a><a href="subject.html#206">[ subject ]</a><a href="author.html#206">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Peter JD Hall: "Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Previous message:</b> <a href="0205.html">Phil Risby: "Input files and devices?"</a>
<li> <b>In reply to:</b> <a href="0192.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch availabley"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">William T Wilson: "SCSI card?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi.<br>
<p>
On Mon, 26 Jan 1998 <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<i>&gt; Could you do some other scans for me?</i><br>
<i>&gt; </i><br>
<i>&gt; I need:</i><br>
<i>&gt; - a greyscale preview</i><br>
<i>&gt; - a color preview</i><br>
<i>&gt; - a greyscale scan</i><br>
<i>&gt; - a color scan of the same area and picture</i><br>
<p>
I've sent them directly to you, thinking not everyone here is needing the<br>
pictures. If someone else wants to look at them, please mail to me.<br>
<p>
Bye, Bernd.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Peter JD Hall: "Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Previous message:</b> <a href="0205.html">Phil Risby: "Input files and devices?"</a>
<li> <b>In reply to:</b> <a href="0192.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch availabley"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">William T Wilson: "SCSI card?"</a>
<!-- reply="end" -->
</ul>
