<!-- received="Tue Jan 27 21:12:00 1998 PST" -->
<!-- sent="Tue, 27 Jan 1998 21:11:59 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Documentation: Scanarea" -->
<!-- id="199801280511.VAA23038@panda.mostang.com" -->
<!-- inreplyto="19980127162447.41851@calvin.snafu.de" -->
<title>sane-devel: Re: Documentation: Scanarea</title>
<h1>Re: Documentation: Scanarea</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 27 Jan 1998 21:11:59 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">David Mosberger-Tang: "Re: Input files and devices?"</a>
<li> <b>Previous message:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 27 Jan 1998 16:24:47 +0100, Ralph Angenendt &lt;<a href="mailto:ralph@berlin.snafu.de">ralph@berlin.snafu.de</a>&gt; said:</i><br>
<p>
  Ralph&gt; Hi folks after fiddling around with scanimage and xscanimage<br>
  Ralph&gt; (and nearly giving up) I figured out, that the<br>
  Ralph&gt; default-scanarea (only with the Microtek-backend???)  is<br>
  Ralph&gt; something like 2x0 cm. After changing this to default a4 size<br>
  Ralph&gt; everything was okay. Could you somehow put this into the<br>
  Ralph&gt; documentation (took me nearly 2-1/2 days to figure that out -<br>
  Ralph&gt; stupid me ;))<br>
<p>
The intent is that backends default to the full scanarea (where<br>
possible/sensible).  I'm not sure why the Microtek backend limits the<br>
scan area to 2x0cm.  Matthew?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">David Mosberger-Tang: "Re: Input files and devices?"</a>
<li> <b>Previous message:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
