<!-- received="Thu Jan 29 08:12:33 1998 PST" -->
<!-- sent="Thu, 29 Jan 1998 08:12:32 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE and Mustek 1200 PRO" -->
<!-- id="199801291612.IAA20036@panda.mostang.com" -->
<!-- inreplyto="199801290740.IAA21466@rainer.informatik.uni-dortmund.de" -->
<title>sane-devel: Re: SANE and Mustek 1200 PRO</title>
<h1>Re: SANE and Mustek 1200 PRO</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 29 Jan 1998 08:12:32 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#244">[ date ]</a><a href="index.html#244">[ thread ]</a><a href="subject.html#244">[ subject ]</a><a href="author.html#244">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">David Mosberger-Tang: "Re: A new SANE frontend"</a>
<li> <b>Previous message:</b> <a href="0243.html">Ivan Shvedunov: "A new SANE frontend"</a>
<li> <b>In reply to:</b> <a href="0240.html">Andreas van Almsick: "SANE and Mustek 1200 PRO"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 29 Jan 1998 08:40:01 +0100, "Andreas van Almsick" &lt;<a href="mailto:almsick@jojo.informatik.uni-dortmund.de">almsick@jojo.informatik.uni-dortmund.de</a>&gt; said:</i><br>
<p>
  Andreas&gt; Hi, I have tried to use SANE with a Mustek 1200 PRO<br>
  Andreas&gt; scanner. After patching the source code the scanner<br>
  Andreas&gt; identified itself as a FS-1200SPPR. If I try to scan SANE<br>
  Andreas&gt; answeres that the image is 0 pixel wide, then it blocks the<br>
  Andreas&gt; scsi-channel.  Has anyone had success with this scanner?<br>
<p>
Sorry, that scanner is not supported yet.  As mentioned in an earlier<br>
mail, we haven't had much luck in contacting Mustek to get updated<br>
specs.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">David Mosberger-Tang: "Re: A new SANE frontend"</a>
<li> <b>Previous message:</b> <a href="0243.html">Ivan Shvedunov: "A new SANE frontend"</a>
<li> <b>In reply to:</b> <a href="0240.html">Andreas van Almsick: "SANE and Mustek 1200 PRO"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
