<!-- received="Thu Jan 29 11:35:02 1998 PST" -->
<!-- sent="Thu, 29 Jan 1998 22:34:37 -0500 (EST)" -->
<!-- name="Ivan Shvedunov" -->
<!-- email="ivan@rf-hp.npi.msu.su" -->
<!-- subject="Re: A new SANE frontend" -->
<!-- id="Pine.OSF.3.96.980129222622.21539A-100000@rf-hp.npi.msu.su" -->
<!-- inreplyto="A new SANE frontend" -->
<title>sane-devel: Re: A new SANE frontend</title>
<h1>Re: A new SANE frontend</h1>
<b>Ivan Shvedunov</b> (<a href="mailto:ivan@rf-hp.npi.msu.su"><i>ivan@rf-hp.npi.msu.su</i></a>)<br>
<i>Thu, 29 Jan 1998 22:34:37 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Markus Rudolf Domula: "looking for twain-module"</a>
<li> <b>Previous message:</b> <a href="0248.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<li> <b>Maybe in reply to:</b> <a href="0243.html">Ivan Shvedunov: "A new SANE frontend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; That's nice.  But the front end should also allows to adjust the</i><br>
<i>&gt; brightness/contrast controls of the backend, where applicable.  The</i><br>
<i>&gt; two are not the same as the scanner's controls are often implemented</i><br>
<i>&gt; in the analog part of the circuitry, i.e., before quantization is</i><br>
<i>&gt; performed.  Same goes for gamma-correction.</i><br>
  KScan uses scanner's brightness/contrast controls during the final<br>
scan. I'll introduce the same feature for gamma correction soon. Emu-<br>
lation is made primarily for preview image.<br>
<i>&gt; I don't see where you inquire the controls that are available in a</i><br>
<i>&gt; backend.  If kscan doesn't do that yet, you might want to look at</i><br>
<i>&gt; gtkglue.c to see how that could be done.</i><br>
  OK, I'll fix that. But I even doubt now that anyone except me can<br>
compile/run it. I want that to be confirmed before adding any new<br>
features and fixing the bugs that leave some possibility to run it.<br>
  A homepage for KScan was created : <a href="http://rf-hp.npi.msu.su/kscan.html">http://rf-hp.npi.msu.su/kscan.html</a><br>
<p>
    Ivan Shvedunov &lt;ivan_iv@rf-hp.npi.msu.su&gt;<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Markus Rudolf Domula: "looking for twain-module"</a>
<li> <b>Previous message:</b> <a href="0248.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<li> <b>Maybe in reply to:</b> <a href="0243.html">Ivan Shvedunov: "A new SANE frontend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
