<!-- received="Thu Jan 29 12:13:36 1998 PST" -->
<!-- sent="Thu, 29 Jan 1998 21:09:39 +0100" -->
<!-- name="Markus Rudolf Domula" -->
<!-- email="md12@Rcs1.urz.tu-dresden.de" -->
<!-- subject="looking for twain-module" -->
<!-- id="199801292012.VAA24015@rcs1.urz.tu-dresden.de" -->
<!-- inreplyto="" -->
<title>sane-devel: looking for twain-module</title>
<h1>looking for twain-module</h1>
<b>Markus Rudolf Domula</b> (<a href="mailto:md12@Rcs1.urz.tu-dresden.de"><i>md12@Rcs1.urz.tu-dresden.de</i></a>)<br>
<i>Thu, 29 Jan 1998 21:09:39 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#250">[ date ]</a><a href="index.html#250">[ thread ]</a><a href="subject.html#250">[ subject ]</a><a href="author.html#250">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX Atra 610S"</a>
<li> <b>Previous message:</b> <a href="0249.html">Ivan Shvedunov: "Re: A new SANE frontend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0255.html">becka@rz.uni-duesseldorf.de: "Re: looking for twain-module"</a>
<li> <b>Reply:</b> <a href="0255.html">becka@rz.uni-duesseldorf.de: "Re: looking for twain-module"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi, I'm looking for a driver whitch supports the twain-module of my<br>
scanner. Can you help me?<br>
Thanks.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX Atra 610S"</a>
<li> <b>Previous message:</b> <a href="0249.html">Ivan Shvedunov: "Re: A new SANE frontend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0255.html">becka@rz.uni-duesseldorf.de: "Re: looking for twain-module"</a>
<li> <b>Reply:</b> <a href="0255.html">becka@rz.uni-duesseldorf.de: "Re: looking for twain-module"</a>
<!-- reply="end" -->
</ul>
