<!-- received="Fri Jan 30 12:38:29 1998 PST" -->
<!-- sent="Fri, 30 Jan 1998 21:37:00 +0100" -->
<!-- name="Sascha Ziemann" -->
<!-- email="szi@aibon.ping.de" -->
<!-- subject="Brightness and Contrast" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Brightness and Contrast</title>
<h1>Brightness and Contrast</h1>
<b>Sascha Ziemann</b> (<a href="mailto:szi@aibon.ping.de"><i>szi@aibon.ping.de</i></a>)<br>
<i>Fri, 30 Jan 1998 21:37:00 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#263">[ date ]</a><a href="index.html#263">[ thread ]</a><a href="subject.html#263">[ subject ]</a><a href="author.html#263">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Samuli Ylinen: "HP 4P + Adaptec 2940U + Linux 2.0.33 + Sane 0.70"</a>
<li> <b>Previous message:</b> <a href="0262.html">Kevin R. Charter: "Re: sane-0.70 is out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
When I change the brightness and contrast I have to do a new preview<br>
scan. This takes much time. The Windows software of the HP changes the<br>
preview without a new scan. I think that would be better.<br>
<p>
-- <a href="http://www.ping.de/sites/aibon/">http://www.ping.de/sites/aibon/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Samuli Ylinen: "HP 4P + Adaptec 2940U + Linux 2.0.33 + Sane 0.70"</a>
<li> <b>Previous message:</b> <a href="0262.html">Kevin R. Charter: "Re: sane-0.70 is out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
