<!-- received="Fri Jan 30 13:35:18 1998 PST" -->
<!-- sent="Fri, 30 Jan 1998 14:44:40 -0700" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="If you *don't* have an AGFA SnapScan and use sane-0.70" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: If you *don't* have an AGFA SnapScan and use sane-0.70</title>
<h1>If you *don't* have an AGFA SnapScan and use sane-0.70</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Fri, 30 Jan 1998 14:44:40 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#265">[ date ]</a><a href="index.html#265">[ thread ]</a><a href="subject.html#265">[ subject ]</a><a href="author.html#265">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0266.html">=?iso-8859-1?B?Sm9z6SBBbelyaWNvIFJpbw==?=: "Re: HP NCR 53c400a SCSI card under Linux anyone?"</a>
<li> <b>Previous message:</b> <a href="0264.html">Samuli Ylinen: "HP 4P + Adaptec 2940U + Linux 2.0.33 + Sane 0.70"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everyone--<br>
<p>
I'm embarrassed to say that an oversight on my part is giving people who<br>
don't have a SnapScan problems: namely that xscanimage complains about<br>
not finding an AGFA scanner and then hangs. This bug should be fixed by<br>
Patch 2 for the snapscan backend, available at<br>
<a href="http://www.cs.ualberta.ca/~charter/snapscan.html">http://www.cs.ualberta.ca/~charter/snapscan.html</a>.<br>
The annoying messages should be fixed by Patch 3.<br>
<p>
Or you can disable the snapscan backend by commenting out the snapscan line<br>
in the etc/sane.d/dll.conf file.<br>
<p>
My apologies for any inconvenience,<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
                                     ---------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0266.html">=?iso-8859-1?B?Sm9z6SBBbelyaWNvIFJpbw==?=: "Re: HP NCR 53c400a SCSI card under Linux anyone?"</a>
<li> <b>Previous message:</b> <a href="0264.html">Samuli Ylinen: "HP 4P + Adaptec 2940U + Linux 2.0.33 + Sane 0.70"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
