<title>sane-devel by thread</title>
<a name="start"><h1>sane-devel by thread</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Thu 01 Jan 1998 - 06:00:05 PST</i><br>
<b>Ending:</b> <i>Sat 31 Jan 1998 - 15:21:23 PST</i><br>
<b>Messages:</b> 271
<p>
<ul>
<li> <a href="0000.html"><b>Re: Missing feature: "Auto"-button</b></a> <a name="0"><i>Rogier Wolff</i></a>
<li> <a href="0001.html"><b>Problems with Mustek 600 II N</b></a> <a name="1"><i>Henning Meier-Geinitz</i></a>
<li> <a href="0002.html"><b>Re: Problems with Mustek 600 II N</b></a> <a name="2"><i>Henning Meier-Geinitz</i></a>
<li> <a href="0003.html"><b>Compilation problems and fix for 0.68 with Gtk 0.99.2</b></a> <a name="3"><i>Ben Gertzfield</i></a>
<li> <a href="0004.html"><b>Re: canon 2700F backend wanted...</b></a> <a name="4"><i>Helmut Koeberle</i></a>
<li> <a href="0005.html"><b>condition codes, /dev/sg, and Linux</b></a> <a name="5"><i>Matto Marjanovic</i></a>
<ul>
<li> <a href="0009.html"><b>Re: condition codes, /dev/sg, and Linux </b></a> <a name="9"><i>Michael K. Johnson</i></a>
</ul>
<li> <a href="0006.html"><b>Mustek scanner docs</b></a> <a name="6"><i>John Corey</i></a>
<li> <a href="0007.html"><b>Any reasons why sane-0.68 doesn't compile with gtk 0.99.0 ?</b></a> <a name="7"><i>Ralph Angenendt</i></a>
<li> <a href="0008.html"><b>Re: UMAX 1200S SCSI CARD</b></a> <a name="8"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0010.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="10"><i>Bernd Johannes Wuebben</i></a>
<li> <a href="0011.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="11"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0012.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="12"><i>Bernd Johannes Wuebben</i></a>
<li> <a href="0016.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="16"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0015.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="15"><i>Henning Sauer</i></a>
<li> <a href="0026.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="26"><i>Kevin Dalley</i></a>
</ul>
<li> <a href="0013.html"><b>RE: UMAX 1200S SCSI CARD</b></a> <a name="13"><i>Paul Walker</i></a>
<li> <a href="0014.html"><b>Re: UMAX 1200S SCSI CARD</b></a> <a name="14"><i>Michael K. Johnson</i></a>
<ul>
<li> <a href="0018.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="18"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0027.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="27"><i>Peter Daum</i></a>
</ul>
<li> <a href="0017.html"><b>Re: UMAX 1200S SCSI CARD</b></a> <a name="17"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0019.html"><b>Re: UMAX 1200S SCSI CARD</b></a> <a name="19"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0020.html"><b>RE: UMAX 1200S SCSI CARD</b></a> <a name="20"><i>Paul Walker</i></a>
<li> <a href="0021.html"><b>Re: UMAX 1200S SCSI CARD</b></a> <a name="21"><i>Michael K. Johnson</i></a>
<ul>
<li> <a href="0022.html"><b>DTC3181A card usable in Linux? </b></a> <a name="22"><i>Raymond A. Ingles</i></a>
</ul>
<ul>
<li> <a href="0024.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="24"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
</ul>
<li> <a href="0023.html"><b>Ben Gertzfield's patch for gtk-0.99.2 problem needed</b></a> <a name="23"><i>A. Leidenfrost</i></a>
<li> <a href="0025.html"><b>RE: Ben Gertzfield's patch for gtk-0.99.2 problem needed</b></a> <a name="25"><i>A. Leidenfrost</i></a>
<li> <a href="0028.html"><b>Re: UMAX 1200S SCSI CARD</b></a> <a name="28"><i>Peter Schildmann</i></a>
<ul>
<li> <a href="0029.html"><b>Re: UMAX 1200S SCSI CARD </b></a> <a name="29"><i>A. Leidenfrost</i></a>
</ul>
<li> <a href="0030.html"><b>Re: UMAX 1200S SCSI CARD</b></a> <a name="30"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0031.html"><b>Sane-&gt;TWAIN</b></a> <a name="31"><i>Michael Taht</i></a>
<li> <a href="0032.html"><b>umax-backend</b></a> <a name="32"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0033.html"><b>Re: umax-backend </b></a> <a name="33"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0034.html"><b>Re: umax-backend </b></a> <a name="34"><i>Peter Daum</i></a>
</ul>
<li> <a href="0036.html"><b>umax-backend</b></a> <a name="36"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0037.html"><b>Re: umax-backend</b></a> <a name="37"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0038.html"><b>Scanning in color (30 bits) with Linux.</b></a> <a name="38"><i>Nicolas Lucas de Peslouan</i></a>
<ul>
<li> <a href="0040.html"><b>Re: Scanning in color (30 bits) with Linux. </b></a> <a name="40"><i>Nicolas Lucas de Peslouan</i></a>
</ul>
<li> <a href="0039.html"><b>Re: Scanning in color (30 bits) with Linux.</b></a> <a name="39"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0041.html"><b>Mustek 600 III EP plus</b></a> <a name="41"><i>Dan Sugalski</i></a>
<ul>
<li> <a href="0044.html"><b>Re: Mustek 600 III EP plus </b></a> <a name="44"><i>David Mosberger-Tang</i></a>
<li> <a href="0046.html"><b>Re: Mustek 600 III EP plus </b></a> <a name="46"><i>Dan Sugalski</i></a>
<li> <a href="0047.html"><b>Re: Mustek 600 III EP plus </b></a> <a name="47"><i>Norm Peterson</i></a>
</ul>
<li> <a href="0042.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="42"><i>David Mosberger-Tang</i></a>
<ul>
<li> <a href="0045.html"><b>Re: Probable Bugs &amp; Suggestions </b></a> <a name="45"><i>Rogier Wolff</i></a>
<li> <a href="0053.html"><b>Re: Probable Bugs &amp; Suggestions </b></a> <a name="53"><i>David Mosberger-Tang</i></a>
<li> <a href="0056.html"><b>Re: Probable Bugs &amp; Suggestions </b></a> <a name="56"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0057.html"><b>Re: Probable Bugs &amp; Suggestions </b></a> <a name="57"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0043.html"><b>forwarded message from Bruce Milner</b></a> <a name="43"><i>David Mosberger-Tang</i></a>
<li> <a href="0048.html"><b>Re: sane running on Solaris 2.5</b></a> <a name="48"><i>Dominik Kubla</i></a>
<li> <a href="0049.html"><b>Astra 610</b></a> <a name="49"><i>William T Wilson</i></a>
<li> <a href="0050.html"><b>An in-print book with a scsi analyzer program...</b></a> <a name="50"><i>Michael K. Johnson</i></a>
<li> <a href="0051.html"><b>Re: Mustek 600 III EP plus</b></a> <a name="51"><i>Rogier Wolff</i></a>
<li> <a href="0052.html"><b>Re: Problems with Mustek 600 II N</b></a> <a name="52"><i>Andreas Czechanowski</i></a>
<ul>
<li> <a href="0055.html"><b>Re: Problems with Mustek 600 II N </b></a> <a name="55"><i>Henning Meier-Geinitz</i></a>
</ul>
<li> <a href="0054.html"><b>Parallel Support?</b></a> <a name="54"><i>Gareth J. Greenaway</i></a>
<ul>
<li> <a href="0058.html"><b>Re: Parallel Support? </b></a> <a name="58"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0059.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="59"><i>Christoph Doerbeck</i></a>
<li> <a href="0060.html"><b>USB support coming soon</b></a> <a name="60"><i>Alberto Menegazzi</i></a>
<li> <a href="0061.html"><b>Re: USB support coming soon</b></a> <a name="61"><i>David Mosberger-Tang</i></a>
<li> <a href="0062.html"><b>Mustek Paragon 1200SP and transparancy</b></a> <a name="62"><i>Alexander Schulz</i></a>
<ul>
<li> <a href="0063.html"><b>Re: Mustek Paragon 1200SP and transparancy </b></a> <a name="63"><i>David Mosberger-Tang</i></a>
<li> <a href="0065.html"><b>Re: Mustek Paragon 1200SP and transparancy </b></a> <a name="65"><i>becka@rz.uni-duesseldorf.de</i></a>
</ul>
<ul>
<li> <a href="0064.html"><b>Re: Mustek Paragon 1200SP and transparancy </b></a> <a name="64"><i>Alexander Schulz</i></a>
</ul>
<li> <a href="0066.html"><b>test...</b></a> <a name="66"><i>Trae Mc Combs</i></a>
<li> <a href="0067.html"><b>HP C5100 photosmart photoscanner</b></a> <a name="67"><i>Pkirchg</i></a>
<ul>
<li> <a href="0071.html"><b>Re: HP C5100 photosmart photoscanner </b></a> <a name="71"><i>Martin Huber</i></a>
</ul>
<li> <a href="0068.html"><b>umax-backend</b></a> <a name="68"><i>oli@Wolfsburg.DE</i></a>
<li> <a href="0069.html"><b>support for HP 6100C</b></a> <a name="69"><i>Frank Kardel</i></a>
<ul>
<li> <a href="0070.html"><b>Re: support for HP 6100C </b></a> <a name="70"><i>Martin Huber</i></a>
</ul>
<ul>
<li> <a href="0073.html"><b>Re: support for HP 6100C </b></a> <a name="73"><i>Carsten Zerbst</i></a>
</ul>
<ul>
<li> <a href="0078.html"><b>Re: support for HP 6100C </b></a> <a name="78"><i>Carsten Zerbst</i></a>
<li> <a href="0079.html"><b>Re: support for HP 6100C </b></a> <a name="79"><i>becka@rz.uni-duesseldorf.de</i></a>
</ul>
<ul>
<li> <a href="0081.html"><b>Re: support for HP 6100C </b></a> <a name="81"><i>Carsten Zerbst</i></a>
</ul>
<ul>
<li> <a href="0118.html"><b>Re: support for HP 6100C </b></a> <a name="118"><i>Carsten Zerbst</i></a>
</ul>
<ul>
<li> <a href="0119.html"><b>Re: support for HP 6100C </b></a> <a name="119"><i>Carsten Zerbst</i></a>
<li> <a href="0075.html"><b>Re: support for HP 6100C </b></a> <a name="75"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0122.html"><b>Re: support for HP 6100C </b></a> <a name="122"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0072.html"><b>find-scanner (fwd)</b></a> <a name="72"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0074.html"><b>Sane 0.68 with Gimp 0.99.7</b></a> <a name="74"><i>descarte@arcana.co.uk</i></a>
<li> <a href="0076.html"><b>Agfa Snapscan with Sane</b></a> <a name="76"><i>Andreas Pohl</i></a>
<li> <a href="0077.html"><b>35mm Film Scanner Support</b></a> <a name="77"><i>Bill Carlson</i></a>
<ul>
<li> <a href="0190.html"><b>Re: 35mm Film Scanner Support </b></a> <a name="190"><i>Stefan Knodt</i></a>
</ul>
<li> <a href="0080.html"><b>HP ScanJet 5P supported or not</b></a> <a name="80"><i>Edward Sargisson</i></a>
<ul>
<li> <a href="0085.html"><b>Re: HP ScanJet 5P supported or not </b></a> <a name="85"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0082.html"><b>Lockups on Astra 610s</b></a> <a name="82"><i>William T Wilson</i></a>
<ul>
<li> <a href="0083.html"><b>Re: Lockups on Astra 610s </b></a> <a name="83"><i>Michael K. Johnson</i></a>
</ul>
<li> <a href="0084.html"><b>Re: Agfa Snapscan with Sane</b></a> <a name="84"><i>David Mosberger-Tang</i></a>
<li> <a href="0086.html"><b>xerox settings for DINA4</b></a> <a name="86"><i>Henning Sauer</i></a>
<ul>
<li> <a href="0092.html"><b>Re: xerox settings for DINA4 </b></a> <a name="92"><i>Michael Sweet</i></a>
</ul>
<ul>
<li> <a href="0099.html"><b>Re: xerox settings for DINA4 </b></a> <a name="99"><i>Joachim Woll</i></a>
</ul>
<ul>
<li> <a href="0146.html"><b>Re: xerox settings for DINA4 </b></a> <a name="146"><i>Joachim Woll</i></a>
</ul>
<li> <a href="0087.html"><b>Re: Paragon 1200SP mit falschen Farben</b></a> <a name="87"><i>Sascha Ziemann</i></a>
<li> <a href="0088.html"><b>Primax Compact 4800 Direct</b></a> <a name="88"><i>Anders Reggestad</i></a>
<li> <a href="0089.html"><b>Epson Filmscan 200</b></a> <a name="89"><i>Nicolas Bouthors</i></a>
<li> <a href="0090.html"><b>Give me Recommendations please</b></a> <a name="90"><i>Phil Risby</i></a>
<li> <a href="0091.html"><b>Umax Backend.</b></a> <a name="91"><i>Nicolas Lucas de Peslouan</i></a>
<ul>
<li> <a href="0096.html"><b>Re: Umax Backend. </b></a> <a name="96"><i>Jonathan Buzzard</i></a>
</ul>
<ul>
<li> <a href="0104.html"><b>Re: Umax Backend. </b></a> <a name="104"><i>Nicolas Lucas de Peslouan</i></a>
</ul>
<ul>
<li> <a href="0108.html"><b>Re: Umax Backend. </b></a> <a name="108"><i>Jonathan Buzzard</i></a>
</ul>
<ul>
<li> <a href="0123.html"><b>Re: Umax Backend. </b></a> <a name="123"><i>Nicolas Lucas de Peslouan</i></a>
</ul>
<li> <a href="0093.html"><b>Re: Umax Backend.</b></a> <a name="93"><i>Preston Brown</i></a>
<li> <a href="0094.html"><b>Re: Umax Backend.</b></a> <a name="94"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0095.html"><b>Re: Paragon 1200SP mit falschen Farben</b></a> <a name="95"><i>Rogier Wolff</i></a>
<li> <a href="0097.html"><b>NCR53c8xx timeout change?</b></a> <a name="97"><i>Raymond A. Ingles</i></a>
<ul>
<li> <a href="0100.html"><b>Re: NCR53c8xx timeout change? </b></a> <a name="100"><i>David Mosberger-Tang</i></a>
<li> <a href="0107.html"><b>Re: NCR53c8xx timeout change? </b></a> <a name="107"><i>Rogier Wolff</i></a>
</ul>
<li> <a href="0098.html"><b>RE: Umax Backend.</b></a> <a name="98"><i>Paul Walker</i></a>
<li> <a href="0101.html"><b>sane-0.69, finally!</b></a> <a name="101"><i>David Mosberger-Tang</i></a>
<ul>
<li> <a href="0125.html"><b>Re: sane-0.69, finally! </b></a> <a name="125"><i>Martin Huber</i></a>
<li> <a href="0133.html"><b>Re: sane-0.69, finally! </b></a> <a name="133"><i>David Mosberger-Tang</i></a>
<li> <a href="0136.html"><b>Re: sane-0.69, finally! </b></a> <a name="136"><i>A. Leidenfrost</i></a>
</ul>
<li> <a href="0102.html"><b>Re: xerox settings for DINA4</b></a> <a name="102"><i>Henning Sauer</i></a>
<li> <a href="0103.html"><b>Re: xerox settings for DINA4</b></a> <a name="103"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0105.html"><b>Re: Umax Backend.</b></a> <a name="105"><i>William T Wilson</i></a>
<li> <a href="0106.html"><b>Re: xerox settings for DINA4</b></a> <a name="106"><i>Rogier Wolff</i></a>
<ul>
<li> <a href="0124.html"><b>Re: xerox settings for DINA4 </b></a> <a name="124"><i>Henning Sauer</i></a>
</ul>
<li> <a href="0109.html"><b>umax-backend</b></a> <a name="109"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0110.html"><b>Re: Umax Backend.</b></a> <a name="110"><i>Rogier Wolff</i></a>
<ul>
<li> <a href="0113.html"><b>Re: Umax Backend. </b></a> <a name="113"><i>David Mosberger-Tang</i></a>
<li> <a href="0127.html"><b>Re: Umax Backend. </b></a> <a name="127"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
</ul>
<ul>
<li> <a href="0115.html"><b>Re: Umax Backend. </b></a> <a name="115"><i>William T Wilson</i></a>
</ul>
<li> <a href="0111.html"><b>find-scanner (fwd)</b></a> <a name="111"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0112.html"><b>find-scanner (fwd)</b></a> <a name="112"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0114.html"><b>Backend for AGFA SnapScan now available.</b></a> <a name="114"><i>Kevin R. Charter</i></a>
<li> <a href="0116.html"><b>HP 6100 works</b></a> <a name="116"><i>Carsten Zerbst</i></a>
<li> <a href="0117.html"><b>Re: Umax Backend.</b></a> <a name="117"><i>Rogier Wolff</i></a>
<ul>
<li> <a href="0130.html"><b>Re: Umax Backend. </b></a> <a name="130"><i>Warren Early</i></a>
</ul>
<ul>
<li> <a href="0147.html"><b>Re: Umax Backend. </b></a> <a name="147"><i>William T Wilson</i></a>
</ul>
<li> <a href="0120.html"><b>Sane 0.68 with Gimp 0.99.7</b></a> <a name="120"><i>descarte@arcana.co.uk</i></a>
<li> <a href="0121.html"><b>Re: HP 6100 works</b></a> <a name="121"><i>David Mosberger-Tang</i></a>
<li> <a href="0126.html"><b>umax-backend</b></a> <a name="126"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0035.html"><b>Re: umax-backend </b></a> <a name="35"><i>Nicolas Lucas de Peslouan</i></a>
</ul>
<li> <a href="0129.html"><b>Re: Backend for AGFA SnapScan now available.</b></a> <a name="129"><i>Warren Early</i></a>
<li> <a href="0131.html"><b>Sane 0.68 with Gimp 0.99.7</b></a> <a name="131"><i>descarte@arcana.co.uk</i></a>
<ul>
<li> <a href="0128.html"><b>Re: Sane 0.68 with Gimp 0.99.7 </b></a> <a name="128"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0132.html"><b>Re: xerox settings for DINA4</b></a> <a name="132"><i>David Mosberger-Tang</i></a>
<li> <a href="0134.html"><b>Page limit problem with Mustek 6000CZ</b></a> <a name="134"><i>Roberto Cespa</i></a>
<li> <a href="0135.html"><b>Parallel driver for umax under linux</b></a> <a name="135"><i>SZYNDEL, Patrick -Syntegra</i></a>
<ul>
<li> <a href="0137.html"><b>Re: Parallel driver for umax under linux </b></a> <a name="137"><i>Jonathan Buzzard</i></a>
</ul>
<ul>
<li> <a href="0143.html"><b>Re: Parallel driver for umax under linux </b></a> <a name="143"><i>Jonathan Buzzard</i></a>
</ul>
<li> <a href="0138.html"><b>Re: Umax spec distribution via ftp</b></a> <a name="138"><i>Joe Nestlerode</i></a>
<li> <a href="0139.html"><b>SnapScan backend, version 0.2</b></a> <a name="139"><i>Kevin R. Charter</i></a>
<li> <a href="0140.html"><b>color fails on 1200SP</b></a> <a name="140"><i>Mike Neuhaus</i></a>
<li> <a href="0141.html"><b>Re: Parallel driver for umax under linux</b></a> <a name="141"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0142.html"><b>Q: Developing a backend</b></a> <a name="142"><i>Vassilis Virvilis</i></a>
<ul>
<li> <a href="0179.html"><b>Re: Q: Developing a backend </b></a> <a name="179"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0144.html"><b>Parse error when compiling xscanimage.c as a gimp-plug-in</b></a> <a name="144"><i>Stefan Weiser</i></a>
<li> <a href="0145.html"><b>configuring/using xscanimage</b></a> <a name="145"><i>Brian Hall</i></a>
<li> <a href="0148.html"><b>RE: color fails on 1200SP</b></a> <a name="148"><i>Stefano Garavaglia</i></a>
<li> <a href="0149.html"><b>[sane, umax] My Vista-S6E doesn't work anymore.</b></a> <a name="149"><i>Guilhem Lavaux</i></a>
<ul>
<li> <a href="0159.html"><b>Re: [sane, umax] My Vista-S6E doesn't work anymore. </b></a> <a name="159"><i>Guilhem Lavaux</i></a>
</ul>
<li> <a href="0150.html"><b>HP C5100A Photscanner support</b></a> <a name="150"><i>Pkirchg</i></a>
<li> <a href="0151.html"><b>Mustek MFC-600S and SC-200 problems...</b></a> <a name="151"><i>Frederick</i></a>
<ul>
<li> <a href="0156.html"><b>Re: Mustek MFC-600S and SC-200 problems... </b></a> <a name="156"><i>Frederick</i></a>
</ul>
<li> <a href="0152.html"><b>Mustek 800II SP+ AHA2940 =bad colors!</b></a> <a name="152"><i>Viererbande</i></a>
<li> <a href="0153.html"><b>did not make the xscanimage file</b></a> <a name="153"><i>Peter Bruley</i></a>
<li> <a href="0154.html"><b>AGFA SnapScan version 0.3</b></a> <a name="154"><i>Kevin R. Charter</i></a>
<li> <a href="0155.html"><b>Re: [sane, umax] My Vista-S6E doesn't work anymore.</b></a> <a name="155"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0157.html"><b>Problems with installing SANE 0.68 (02DEC97)</b></a> <a name="157"><i>Volker Braun</i></a>
<li> <a href="0158.html"><b>Astra 6X0S-patch available</b></a> <a name="158"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0162.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="162"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0170.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="170"><i>Nicolas Lucas de Peslouan</i></a>
</ul>
<ul>
<li> <a href="0186.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="186"><i>Nicolas Lucas de Peslouan</i></a>
</ul>
<ul>
<li> <a href="0195.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="195"><i>Matthias Kleinschmidt</i></a>
<li> <a href="0229.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="229"><i>Bernd Seemann</i></a>
</ul>
<li> <a href="0160.html"><b>Calibration on HP Scanners</b></a> <a name="160"><i>P. Kirchgessner</i></a>
<li> <a href="0161.html"><b>Change Makefile(.in) ?</b></a> <a name="161"><i>Stefan Knodt</i></a>
<li> <a href="0163.html"><b>Micotek E3, SANE-0.69</b></a> <a name="163"><i>Slana</i></a>
<ul>
<li> <a href="0164.html"><b>Re: Micotek E3, SANE-0.69 </b></a> <a name="164"><i>Jeremy Rosenberger</i></a>
</ul>
<ul>
<li> <a href="0268.html"><b>Re: Micotek E3, SANE-0.69 </b></a> <a name="268"><i>Matto Marjanovic</i></a>
</ul>
<li> <a href="0165.html"><b>sane 0.69, Irix 6.3</b></a> <a name="165"><i>Jamie Zawinski</i></a>
<ul>
<li> <a href="0167.html"><b>Re: sane 0.69, Irix 6.3 </b></a> <a name="167"><i>Michael Sweet</i></a>
</ul>
<ul>
<li> <a href="0184.html"><b>Re: sane 0.69, Irix 6.3 </b></a> <a name="184"><i>Jamie Zawinski</i></a>
</ul>
<li> <a href="0166.html"><b>Re: sane 0.69, Irix 6.3</b></a> <a name="166"><i>Per Harald Myrvang</i></a>
<li> <a href="0168.html"><b>Which version of SANE/Gimp work well together...</b></a> <a name="168"><i>Christoph Doerbeck</i></a>
<li> <a href="0169.html"><b>direct solaris support</b></a> <a name="169"><i>D. Cameron Mauch</i></a>
<ul>
<li> <a href="0196.html"><b>Re: direct solaris support </b></a> <a name="196"><i>Martin Huber</i></a>
</ul>
<li> <a href="0171.html"><b>Re: Astra 6X0S-patch availabley</b></a> <a name="171"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0172.html"><b>Re: Astra 6X0S-patch available</b></a> <a name="172"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0173.html"><b>Re: Astra 6X0S-patch available</b></a> <a name="173"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0174.html"><b>Astra 6X0S-patch the second</b></a> <a name="174"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0177.html"><b>Compile error  on Slackware 3.3.0  Sane 0.69</b></a> <a name="177"><i>Peter JD Hall</i></a>
<li> <a href="0181.html"><b>Re: configuring/using xscanimage</b></a> <a name="181"><i>David Mosberger-Tang</i></a>
<ul>
<li> <a href="0188.html"><b>Re: configuring/using xscanimage </b></a> <a name="188"><i>Brian Hall</i></a>
</ul>
<li> <a href="0182.html"><b>Re: sane 0.69, Irix 6.3</b></a> <a name="182"><i>David Mosberger-Tang</i></a>
<li> <a href="0183.html"><b>Re: Compile error  on Slackware 3.3.0  Sane 0.69</b></a> <a name="183"><i>David Mosberger-Tang</i></a>
<li> <a href="0185.html"><b>PH600D scanner</b></a> <a name="185"><i>Varga Attila</i></a>
<li> <a href="0187.html"><b>HP Scanjet 4p and NetBSD/Sparc</b></a> <a name="187"><i>Julian Coleman</i></a>
<ul>
<li> <a href="0211.html"><b>Re: HP Scanjet 4p and NetBSD/Sparc </b></a> <a name="211"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0189.html"><b>Patch "B" on Astra 610S.</b></a> <a name="189"><i>Nicolas Lucas de Peslouan</i></a>
<li> <a href="0191.html"><b>Re: Astra 6X0S-patch availabley</b></a> <a name="191"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0192.html"><b>Re: Astra 6X0S-patch availabley</b></a> <a name="192"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0176.html"><b>Re: Astra 6X0S-patch availabley </b></a> <a name="176"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0204.html"><b>Re: Astra 6X0S-patch availabley </b></a> <a name="204"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0206.html"><b>Re: Astra 6X0S-patch availabley </b></a> <a name="206"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0216.html"><b>SCSI card? </b></a> <a name="216"><i>William T Wilson</i></a>
</ul>
<li> <a href="0193.html"><b>Re: Astra 6X0S-patch available</b></a> <a name="193"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0194.html"><b>Re: Astra 6X0S-patch available</b></a> <a name="194"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0175.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="175"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0202.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="202"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0203.html"><b>Re: Astra 6X0S-patch available </b></a> <a name="203"><i>Bernd Seemann</i></a>
</ul>
<li> <a href="0197.html"><b>Documentation: Scanarea</b></a> <a name="197"><i>Ralph Angenendt</i></a>
<li> <a href="0199.html"><b>Re: Astra 6X0S-patch available</b></a> <a name="199"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0198.html"><b>Re: Astra 6X0S-patch available</b></a> <a name="198"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0200.html"><b>Astra 6X0S-patch the second</b></a> <a name="200"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0201.html"><b>Astra 6X0S-patch the second</b></a> <a name="201"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0178.html"><b>Re: Astra 6X0S-patch the second </b></a> <a name="178"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0209.html"><b>Re: Astra 6X0S-patch the second </b></a> <a name="209"><i>Bernd Seemann</i></a>
</ul>
<ul>
<li> <a href="0210.html"><b>Re: Astra 6X0S-patch the second </b></a> <a name="210"><i>Bernd Seemann</i></a>
</ul>
<li> <a href="0205.html"><b>Input files and devices?</b></a> <a name="205"><i>Phil Risby</i></a>
<li> <a href="0207.html"><b>Compile error  on Slackware 3.3.0  Sane 0.69</b></a> <a name="207"><i>Peter JD Hall</i></a>
<li> <a href="0208.html"><b>Compile error  on Slackware 3.3.0  Sane 0.69</b></a> <a name="208"><i>Peter JD Hall</i></a>
<ul>
<li> <a href="0180.html"><b>Re: Compile error  on Slackware 3.3.0  Sane 0.69 </b></a> <a name="180"><i>Mathias Weigt</i></a>
</ul>
<ul>
<li> <a href="0212.html"><b>Re: Compile error  on Slackware 3.3.0  Sane 0.69 </b></a> <a name="212"><i>Mathias Weigt</i></a>
</ul>
<ul>
<li> <a href="0213.html"><b>Re: Compile error  on Slackware 3.3.0  Sane 0.69 </b></a> <a name="213"><i>Mathias Weigt</i></a>
</ul>
<li> <a href="0214.html"><b>Re: Documentation: Scanarea</b></a> <a name="214"><i>David Mosberger-Tang</i></a>
<li> <a href="0215.html"><b>Re: Input files and devices?</b></a> <a name="215"><i>David Mosberger-Tang</i></a>
<ul>
<li> <a href="0225.html"><b>Re: Input files and devices? </b></a> <a name="225"><i>becka@rz.uni-duesseldorf.de</i></a>
</ul>
<li> <a href="0217.html"><b>thanks.. and a suggestion for www</b></a> <a name="217"><i>Phil Brown</i></a>
<ul>
<li> <a href="0218.html"><b>Re: thanks.. and a suggestion for www </b></a> <a name="218"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0219.html"><b>SnapScan backend patch</b></a> <a name="219"><i>Kevin R. Charter</i></a>
<li> <a href="0220.html"><b>Re: Input files and devices?</b></a> <a name="220"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0221.html"><b>Re: SCSI card?</b></a> <a name="221"><i>Benedikt Heinen</i></a>
<li> <a href="0222.html"><b>sane-0.69 doesn't compile with `--disable-static'</b></a> <a name="222"><i>Alexander Jolk</i></a>
<li> <a href="0223.html"><b>Re[2]: HP Scanjet 4p and NetBSD/Sparc</b></a> <a name="223"><i>Eric Ludlam</i></a>
<ul>
<li> <a href="0233.html"><b>Re: Re[2]: HP Scanjet 4p and NetBSD/Sparc </b></a> <a name="233"><i>David Mosberger-Tang</i></a>
</ul>
<ul>
<li> <a href="0246.html"><b>Re: HP Scanjet 4p and NetBSD/Sparc </b></a> <a name="246"><i>Julian Coleman</i></a>
</ul>
<li> <a href="0224.html"><b>SANE 0.69 and GTK+ 0.99.3</b></a> <a name="224"><i>Henning Sauer</i></a>
<li> <a href="0226.html"><b>Problems with SANE-0.69</b></a> <a name="226"><i>David Rector</i></a>
<ul>
<li> <a href="0234.html"><b>Re: Problems with SANE-0.69 </b></a> <a name="234"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0227.html"><b>AppleScanner(s) Support</b></a> <a name="227"><i>Milon Firikis</i></a>
<ul>
<li> <a href="0236.html"><b>Re: AppleScanner(s) Support </b></a> <a name="236"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0228.html"><b>Re: SANE 0.69 and GTK+ 0.99.3</b></a> <a name="228"><i>Mathias Weigt</i></a>
<li> <a href="0230.html"><b>Re: SCSI card?</b></a> <a name="230"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0231.html"><b>SANE works on SPARCLinux!</b></a> <a name="231"><i>Justin</i></a>
<li> <a href="0232.html"><b>Re: SANE works on SPARCLinux!</b></a> <a name="232"><i>William T Wilson</i></a>
<li> <a href="0235.html"><b>What a backlog... (microtek)</b></a> <a name="235"><i>Matto Marjanovic</i></a>
<li> <a href="0237.html"><b>Re: SANE works on SPARCLinux!</b></a> <a name="237"><i>David Mosberger-Tang</i></a>
<li> <a href="0238.html"><b>sane-0.70 is out</b></a> <a name="238"><i>David Mosberger-Tang</i></a>
<ul>
<li> <a href="0256.html"><b>Re: sane-0.70 is out </b></a> <a name="256"><i>Sascha Ziemann</i></a>
</ul>
<ul>
<li> <a href="0257.html"><b>Re: sane-0.70 is out </b></a> <a name="257"><i>Kevin R. Charter</i></a>
</ul>
<ul>
<li> <a href="0259.html"><b>Re: sane-0.70 is out </b></a> <a name="259"><i>Sascha Ziemann</i></a>
</ul>
<ul>
<li> <a href="0260.html"><b>Re: sane-0.70 is out </b></a> <a name="260"><i>Kevin R. Charter</i></a>
</ul>
<ul>
<li> <a href="0261.html"><b>RE: sane-0.70 is out </b></a> <a name="261"><i>Henning Sauer</i></a>
</ul>
<ul>
<li> <a href="0262.html"><b>Re: sane-0.70 is out </b></a> <a name="262"><i>Kevin R. Charter</i></a>
</ul>
<li> <a href="0239.html"><b>UMAX Atra 610S</b></a> <a name="239"><i>Tracy R Reed</i></a>
<li> <a href="0240.html"><b>SANE and Mustek 1200 PRO</b></a> <a name="240"><i>Andreas van Almsick</i></a>
<ul>
<li> <a href="0244.html"><b>Re: SANE and Mustek 1200 PRO </b></a> <a name="244"><i>David Mosberger-Tang</i></a>
</ul>
<li> <a href="0241.html"><b>Re: UMAX Atra 610S</b></a> <a name="241"><i>Matthias Kleinschmidt</i></a>
<ul>
<li> <a href="0248.html"><b>Re: UMAX Atra 610S </b></a> <a name="248"><i>Tracy R Reed</i></a>
</ul>
<li> <a href="0242.html"><b>Re[4]: HP Scanjet 4p and NetBSD/Sparc</b></a> <a name="242"><i>Eric Ludlam</i></a>
<li> <a href="0243.html"><b>A new SANE frontend</b></a> <a name="243"><i>Ivan Shvedunov</i></a>
<ul>
<li> <a href="0245.html"><b>Re: A new SANE frontend </b></a> <a name="245"><i>David Mosberger-Tang</i></a>
</ul>
<ul>
<li> <a href="0249.html"><b>Re: A new SANE frontend </b></a> <a name="249"><i>Ivan Shvedunov</i></a>
</ul>
<li> <a href="0247.html"><b>HP NCR 53c400a SCSI card under Linux anyone?</b></a> <a name="247"><i>Alexander Jolk</i></a>
<ul>
<li> <a href="0266.html"><b>Re: HP NCR 53c400a SCSI card under Linux anyone? </b></a> <a name="266"><i>=?iso-8859-1?B?Sm9z6SBBbelyaWNvIFJpbw==?=</i></a>
</ul>
<li> <a href="0250.html"><b>looking for twain-module</b></a> <a name="250"><i>Markus Rudolf Domula</i></a>
<ul>
<li> <a href="0255.html"><b>Re: looking for twain-module </b></a> <a name="255"><i>becka@rz.uni-duesseldorf.de</i></a>
</ul>
<li> <a href="0251.html"><b>Re: UMAX Atra 610S</b></a> <a name="251"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<ul>
<li> <a href="0253.html"><b>Re: UMAX Atra 610S </b></a> <a name="253"><i>Tracy R Reed</i></a>
</ul>
<li> <a href="0252.html"><b>SANE and Sparc</b></a> <a name="252"><i>D. Cameron Mauch</i></a>
<li> <a href="0254.html"><b>Bug in Microtek-Backend?</b></a> <a name="254"><i>Timo Neumann</i></a>
<li> <a href="0258.html"><b>Patch 2 for SnapScan backend version 0.3</b></a> <a name="258"><i>Kevin R. Charter</i></a>
<li> <a href="0263.html"><b>Brightness and Contrast</b></a> <a name="263"><i>Sascha Ziemann</i></a>
<li> <a href="0264.html"><b>HP 4P + Adaptec 2940U + Linux 2.0.33 + Sane 0.70</b></a> <a name="264"><i>Samuli Ylinen</i></a>
<li> <a href="0265.html"><b>If you *don't* have an AGFA SnapScan and use sane-0.70</b></a> <a name="265"><i>Kevin R. Charter</i></a>
<li> <a href="0267.html"><b>Re: sane-0.70 is out</b></a> <a name="267"><i>Henning Sauer</i></a>
<li> <a href="0269.html"><b>Startup problems with SnapScan backend appear fixed.</b></a> <a name="269"><i>Kevin R. Charter</i></a>
<li> <a href="0270.html"><b>xscanimage, gtk and gamma curves.</b></a> <a name="270"><i>Didier Carlier</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Sat 31 Jan 1998 - 15:21:23 PST</i><br>
<b>Archived on:</b> <i>Sat Jan 31 1998 - 15:21:41 PST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
