<!-- received="Sat May  2 22:27:35 1998 PDT" -->
<!-- sent="Sun, 3 May 1998 00:26:46 -0500 (CDT)" -->
<!-- name="Daniel Stephens" -->
<!-- email="daniel@cheeseplant.org" -->
<!-- subject="Re: Info Request: UMAX Astra 1200S" -->
<!-- id="199805030526.AAA13388@sponge.home.cheeseplant.org" -->
<!-- inreplyto="354bfba7.3340132@mail.inreach.com" -->
<title>sane-devel: Re: Info Request: UMAX Astra 1200S</title>
<h1>Re: Info Request: UMAX Astra 1200S</h1>
<b>Daniel Stephens</b> (<a href="mailto:daniel@cheeseplant.org"><i>daniel@cheeseplant.org</i></a>)<br>
<i>Sun, 3 May 1998 00:26:46 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Oliver.Rauch@Wolfsburg.DE: "Re: Info Request: UMAX Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0019.html">Donald Burr: "Info Request: UMAX Astra 1200S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0022.html">Oliver.Rauch@Wolfsburg.DE: "Re: Info Request: UMAX Astra 1200S"</a>
<li> <b>Reply:</b> <a href="0022.html">Oliver.Rauch@Wolfsburg.DE: "Re: Info Request: UMAX Astra 1200S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Thanks to everyone who responded to my recent request for a list of</i><br>
<i>&gt; scanners supported under SANE.</i><br>
<i>&gt; </i><br>
<i>&gt; Based on the data I collected, I am considering the purchase of a UMAX</i><br>
<i>&gt; Astra 1200S scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; However, before I make this purchase, I'd like to hear the experiences</i><br>
<i>&gt; of other people who purchased this scanner.  How well does it work,</i><br>
<i>&gt; any problems or pitfalls that I should be aware of, etc.?  Good points</i><br>
<i>&gt; and bad points?  Are you satisfied with it, and would you recommend</i><br>
<i>&gt; its purchase to someone else?</i><br>
<p>
I have one, it's a nice device, and I'm happy with it's quality, BUT, I've<br>
had some problems which (from responses on this list) lead me to believe<br>
that there are some compatibility issues with "Advansys" based SCSI cards<br>
(i.e. those that use the advansys linux driver).<br>
<p>
It's got a 25 pin SCSI connector so that may help you pick what kind of SCSI<br>
card to get it.<br>
<p>
Also, be aware it'll need its own SCSI bus, or one that doesn't share any<br>
devices that need to be active while it is. {That's buried in a SANE FAQ<br>
somewhere} <br>
<p>
Daniel.<br>
<p>
<pre>
-- 
/--- Daniel Stephens -----------------------|No. 84 |        .    ..          |
|  {Perl, Linux, C++, gcc, GNU} Advocate    |Collect|            ..        ...|
|          <a href="mailto:daniel@cheeseplant.org">daniel@cheeseplant.org</a>           |all 150|         ..       .      |
|&lt;A HREF='<a href="http://www.mcs.net/~daniels'">http://www.mcs.net/~daniels'</a>&gt;&lt;/A&gt; |[05,13]|                   ..... /
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Oliver.Rauch@Wolfsburg.DE: "Re: Info Request: UMAX Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0019.html">Donald Burr: "Info Request: UMAX Astra 1200S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0022.html">Oliver.Rauch@Wolfsburg.DE: "Re: Info Request: UMAX Astra 1200S"</a>
<li> <b>Reply:</b> <a href="0022.html">Oliver.Rauch@Wolfsburg.DE: "Re: Info Request: UMAX Astra 1200S"</a>
<!-- reply="end" -->
</ul>
