<!-- received="Tue May  5 10:24:07 1998 PDT" -->
<!-- sent="Tue, 05 May 1998 16:40:50 +0200" -->
<!-- name="Guido Hennecke" -->
<!-- email="ghennecke@dialup.nacamar.de" -->
<!-- subject="MFS 12000SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: MFS 12000SP</title>
<h1>MFS 12000SP</h1>
<b>Guido Hennecke</b> (<a href="mailto:ghennecke@dialup.nacamar.de"><i>ghennecke@dialup.nacamar.de</i></a>)<br>
<i>Tue, 05 May 1998 16:40:50 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Dr. Andreas Bolsch: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Previous message:</b> <a href="0045.html">Timothy Kelm: "Mustek Paragon 1200 III SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there,<br>
<p>
first i have to say that sane is a very good tool to work with a<br>
Scanner. But (sorry) i have a little Problem with my scanner. First the<br>
outlet from SANE_DEBUG_MUSTEK=3 scanimage -h -d mustek &gt;/dev/null   :<br>
<p>
guido:/root # SANE_DEBUG_MUSTEK=3 scanimage -h -d mustek &gt;/dev/null<br>
[sanei_init_debug]: Setting debug level of mustek to 3.<br>
[mustek] attach: opening  as scsi device<br>
[mustek] dev_open: Invalid argument: can't open  as a SCSI device<br>
[mustek] dev_open: Invalid argument: can't open  as a parallel-port<br>
device<br>
[mustek] sane_init: strip-height set to 1 inches<br>
[mustek] attach: opening  as scsi device<br>
[mustek] dev_open: Invalid argument: can't open  as a SCSI device<br>
[mustek] dev_open: Invalid argument: can't open  as a parallel-port<br>
device<br>
[mustek] attach: opening /dev/scanner as scsi device<br>
[mustek] attach: sending INQUIRY<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] attach: firmware revision 1.02<br>
[mustek] attach: scanner has automatic line-distance correction<br>
[mustek] attach: found Mustek scanner model MFS-12000SP (flatbed<br>
scanner), 1-pass<br>
[mustek] sane_init: enabling linedistance-fix for /dev/scanner<br>
[mustek] sane_init: enabling lineart-fix for /dev/scanner<br>
[snapscan] add_device: "SCANNER                 " is not an AGFA<br>
SnapScan<br>
[snapscan] sane_snapscan_init: failed to add device "/dev/scanner"<br>
<p>
When i scan something with greyscale, the scanned picture is great! But<br>
in colour ..... i can't say how bad the picture look's like :-((<br>
Scanner: Mustek Paragon 12000SP (like front of scanner)<br>
Firmware revision 1.02<br>
As i read the man page sane-mustek, i found an entry, that mustek<br>
Paragon 12000SP Firmware 1.00 and higher scans great colour but Firmware<br>
1.02 'MFS-12000SP v1.02 [color fails?] 1-pass' .  Can i change the<br>
Firmware to lower 1.00????? Or is there an Update of sane to scan with<br>
this thing?? Or do you know a way to get it run with sane 0.70???<br>
<p>
Thank's for your time and please try to help me with this Problem.<br>
<p>
Guido Hennecke<br>
<p>
<pre>
--
May The Force Be With You!
<p>
+--------------------------------------------------+
| <a href="mailto:ghennecke@dialup.nacamar.de">ghennecke@dialup.nacamar.de</a>                      |
|        _      _   __        _  _     _  _     _  |
|       / /    | | |   \     | || |   | | \ \  / / |
|      / /     | | | |\ \    | || |   | |  \ \/ /  |
|     / /      | | | | \ \   | || |   | |   \  /   |
|    / /       | | | |  \ \  | || |   | |   /  \   |
|   / /        | | | |   \ \ | || |   | |  / /\ \  |
|  / /_______  | | | |    \ \| || |___| | / /  \ \ |
| /__________| |_| |_|     \___||_______|/_/    \_\|
+--------------------------------------------------+
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Dr. Andreas Bolsch: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Previous message:</b> <a href="0045.html">Timothy Kelm: "Mustek Paragon 1200 III SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
