<!-- received="Wed May  6 08:17:47 1998 PDT" -->
<!-- sent="Wed, 6 May 1998 12:51:45 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Coolscan not detected" -->
<!-- id="199805061051.MAA02688@cave.BitWizard.nl" -->
<!-- inreplyto="Pine.HPP.3.96n.980429121213.16108A-100000@mlucom6.urz.uni-halle.de" -->
<title>sane-devel: Re: Coolscan not detected</title>
<h1>Re: Coolscan not detected</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Wed, 6 May 1998 12:51:45 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Previous message:</b> <a href="0058.html">Craig Ruff: "Re: HP Photoscan..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Reply:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Tille wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; I completely new to this list and sane.  I hope that this isn't a FAQ.</i><br>
<i>&gt; I'm using Debian/GNU Linux (hamm = frozen) with sane-0.72.</i><br>
<i>&gt; Hardware: K6, Buslogic BT-930 SCSI contoller (no other SCSI devices</i><br>
<i>&gt; than the Nikon Coolscan (LS-20)) so I can't check whether the contoller</i><br>
<i>&gt; works under Linux).</i><br>
<i>&gt; </i><br>
<i>&gt; I'm able to access the LS-20 under Win 95, but this is not what I wanted</i><br>
<i>&gt; to do ;-).  I brought this Scanner because it is the only slidescanner</i><br>
<i>&gt; which is supported by sane.</i><br>
<i>&gt; </i><br>
<i>&gt; I tried </i><br>
<i>&gt; </i><br>
<i>&gt; ~&gt; scanimage -L</i><br>
<i>&gt; device `pnm:0' is a Noname PNM file reader virtual device</i><br>
<i>&gt; device `pnm:1' is a Noname PNM file reader virtual device</i><br>
<i>&gt; </i><br>
<i>&gt; ... and as you see the Coolscan isn't listed.</i><br>
<i>&gt; </i><br>
<i>&gt; My /etc/sane.d/dll.conf (this is the Debian location of the configuration</i><br>
<i>&gt; file looks like</i><br>
<i>&gt; </i><br>
<i>&gt; # enable the next line if you want to allow access through the network:</i><br>
<i>&gt; #net</i><br>
<i>&gt; # apple</i><br>
<i>&gt; # canon</i><br>
<i>&gt; coolscan</i><br>
<i>&gt; # dmc</i><br>
<i>&gt; # epson</i><br>
<i>&gt; # hp</i><br>
<i>&gt; # microtek</i><br>
<i>&gt; # mustek</i><br>
<i>&gt; # pint</i><br>
<i>&gt; pnm</i><br>
<i>&gt; # ... more comments</i><br>
<i>&gt; </i><br>
<i>&gt; and coolscan.conf is</i><br>
<i>&gt; </i><br>
<i>&gt; /dev/scanner</i><br>
<i>&gt; </i><br>
<i>&gt; where /dev/scanner is a symbolic link to sg5 (5 is the SCSI address of</i><br>
<i>&gt; scanner).</i><br>
<p>
It should be "sga". The sg devices are allocated when a device is found.<br>
As the scanner is the only one, it's at sga. <br>
<p>
					Roger. <br>
<p>
<i>&gt; </i><br>
<i>&gt; I use compiled the SCSI controller as module.  So when I do</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;modprobe BusLogic</i><br>
<i>&gt; scsi2 : BusLogic BT-930</i><br>
<i>&gt; scsi : 2 hosts.</i><br>
<i>&gt;   Vendor: Nikon     Model: COOLSCAN II       Rev: 1.02</i><br>
<i>&gt;   Type:   Scanner                            ANSI SCSI revision: 02</i><br>
<i>&gt; </i><br>
<i>&gt; The scanner seems to be detected well.</i><br>
<i>&gt; </i><br>
<i>&gt; I havn't any idea why it isn't detected in the device list of scanimage.</i><br>
<i>&gt; </i><br>
<i>&gt; What is my fault?</i><br>
<i>&gt; </i><br>
<i>&gt; Kind regards</i><br>
<i>&gt; </i><br>
<i>&gt;          Andreas.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Previous message:</b> <a href="0058.html">Craig Ruff: "Re: HP Photoscan..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Reply:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<!-- reply="end" -->
</ul>
