<!-- received="Wed May  6 10:37:39 1998 PDT" -->
<!-- sent="Wed, 6 May 1998 19:15:07 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Astra 1220S" -->
<!-- id="199805061715.TAA00222@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.980504160600.213B-100000@steerpike" -->
<title>sane-devel: Astra 1220S</title>
<h1>Astra 1220S</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 6 May 1998 19:15:07 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Donald Burr: "[umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Previous message:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Jim,<br>
<p>
<i>&gt; I've not tried my scanner with Linux yet - I'm using the card that came</i><br>
<i>&gt; with it and haven't got any SCSI drivers installed in my kernal at the</i><br>
<i>&gt; moment. I think my next move is to get an NCR card as advised and give it</i><br>
<i>&gt; a try. I'll do this soon and keep you posted.</i><br>
<p>
You may have luck and sane only prints a warning.<br>
Please hold one hand on the power-button of the scanner<br>
while doing the first scans!<br>
<p>
Please mail what happends, I will try to include the Astra 1220S<br>
<p>
bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Donald Burr: "[umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Previous message:</b> <a href="0060.html">Andreas Tille: "Re: Coolscan not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
