<!-- received="Wed May  6 14:38:03 1998 PDT" -->
<!-- sent="Wed, 6 May 1998 21:21:28 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Coolscan not detected" -->
<!-- id="199805061921.VAA14152@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.HPP.3.96n.980506174422.16437C-100000@mlucom6.urz.uni-halle.de" -->
<title>sane-devel: Re: Coolscan not detected</title>
<h1>Re: Coolscan not detected</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 6 May 1998 21:21:28 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Bernd Schroeder: "Backend for Microtek SCSI-II scanners"</a>
<li> <b>Previous message:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] what options to use to get best results?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Reply:</b> <a href="0073.html">Andreas Tille: "Re: Coolscan not detected"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Andreas,<br>
<p>
<i>&gt; Hmm, my /dev contains only sg[0-7].  Do I have to create sga by MAKEDEV??</i><br>
<p>
use "find-scanner" in directory "tools" as root<br>
<p>
bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Bernd Schroeder: "Backend for Microtek SCSI-II scanners"</a>
<li> <b>Previous message:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] what options to use to get best results?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Andreas Tille: "Re: Coolscan not detected"</a>
<li> <b>Reply:</b> <a href="0073.html">Andreas Tille: "Re: Coolscan not detected"</a>
<!-- reply="end" -->
</ul>
