<!-- received="Thu May  7 00:06:11 1998 PDT" -->
<!-- sent="Thu, 7 May 1998 09:05:23 +0200 (METDST)" -->
<!-- name="Andreas Tille" -->
<!-- email="tille@physik.uni-halle.de" -->
<!-- subject="Re: Coolscan not detected" -->
<!-- id="" -->
<!-- inreplyto="199805061921.VAA14152@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: Coolscan not detected</title>
<h1>Re: Coolscan not detected</h1>
<b>Andreas Tille</b> (<a href="mailto:tille@physik.uni-halle.de"><i>tille@physik.uni-halle.de</i></a>)<br>
<i>Thu, 7 May 1998 09:05:23 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Rogier Wolff: "Re: Coolscan not detected"</a>
<li> <b>Previous message:</b> <a href="0072.html">Donald Burr: "[umax] using custom gamma table dumps core"</a>
<li> <b>In reply to:</b> <a href="0067.html">Oliver.Rauch@Wolfsburg.DE: "Re: Coolscan not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 6 May 1998 <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<i>&gt; &gt; Hmm, my /dev contains only sg[0-7].  Do I have to create sga by MAKEDEV??</i><br>
<i>&gt; </i><br>
<i>&gt; use "find-scanner" in directory "tools" as root</i><br>
OK:<br>
<p>
tower:/dev! find-scanner<br>
Detected scsi generic sga at scsi3, channel 0, id 5, lun 0<br>
find-scanner: found scanner "Nikon COOLSCAN II 1.02" at device /dev/sg0<br>
tower:/dev! ln -s sg0 scanner<br>
tower:/dev! find-scanner<br>
find-scanner: found scanner "Nikon COOLSCAN II 1.02" at device /dev/scanner<br>
find-scanner: found scanner "Nikon COOLSCAN II 1.02" at device /dev/sg0<br>
<p>
The real problem that /dev/sg0 was rw only for root.  A chmod 666 /dev/sg0<br>
solved my problem ... as I said, I'm a beginner ;-).<br>
<p>
Thanks in any case<br>
<p>
          Andreas.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Rogier Wolff: "Re: Coolscan not detected"</a>
<li> <b>Previous message:</b> <a href="0072.html">Donald Burr: "[umax] using custom gamma table dumps core"</a>
<li> <b>In reply to:</b> <a href="0067.html">Oliver.Rauch@Wolfsburg.DE: "Re: Coolscan not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
