<!-- received="Thu May  7 09:27:42 1998 PDT" -->
<!-- sent="Thu, 7 May 1998 17:53:11 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: [umax] using custom gamma table dumps core" -->
<!-- id="199805071553.RAA00318@Babylon5.wolfsburg.de" -->
<!-- inreplyto="XFMail.980506231738.dburr@POBoxes.com" -->
<title>sane-devel: Re: [umax] using custom gamma table dumps core</title>
<h1>Re: [umax] using custom gamma table dumps core</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 7 May 1998 17:53:11 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#79">[ date ]</a><a href="index.html#79">[ thread ]</a><a href="subject.html#79">[ subject ]</a><a href="author.html#79">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Previous message:</b> <a href="0078.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">Donald Burr: "Re: [umax] using custom gamma table dumps core"</a>
<li> <b>Reply:</b> <a href="0089.html">Donald Burr: "Re: [umax] using custom gamma table dumps core"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Donald,<br>
<p>
<i>&gt; ** ERROR **: could not allocate -20 bytes</i><br>
<p>
<i>&gt; GIMP 0.99.28, GTK 1.0.0</i><br>
<p>
I hear the first time of this error.<br>
<p>
May be it has to do with mixed gtk-versions.<br>
Please could you update to gtk+-1.0.1.<br>
<p>
Before you do that, please remove every old gtk-libs and includes and ...<br>
<p>
The compile gtk+-1.0.1 and install it,<br>
then recompile sane and install it.<br>
<p>
I don't know if that's it, but it is the only idea I have in the moment!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Previous message:</b> <a href="0078.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">Donald Burr: "Re: [umax] using custom gamma table dumps core"</a>
<li> <b>Reply:</b> <a href="0089.html">Donald Burr: "Re: [umax] using custom gamma table dumps core"</a>
<!-- reply="end" -->
</ul>
