<!-- received="Thu May  7 12:00:52 1998 PDT" -->
<!-- sent="Thu, 7 May 1998 14:59:58 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Two *other* problems with xscanimage" -->
<!-- id="m0yXVte-000J3sC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Two *other* problems with xscanimage" -->
<title>sane-devel: Re: Two *other* problems with xscanimage</title>
<h1>Re: Two *other* problems with xscanimage</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Thu, 7 May 1998 14:59:58 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Matt Martin: "DS-7 Backend"</a>
<li> <b>Previous message:</b> <a href="0083.html">Jan Krueger: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
     Matto&gt; b) ___Gamma Curve data is corrupted.___<br>
<p>
   It looks like Owen Taylor fixed this bug in gtk+-1.0.1.  At least, I<br>
   don't see any problems anymore since upgrading.<br>
<p>
	   --david<br>
<p>
<p>
I haven't checked how it works yet myself (the latest GTK hasn't percolated<br>
 through to Debian), but from the Changelog, it looks like he made the change<br>
 he suggested in his reply to my bug report (attached below).<br>
It kind of strikes me as a hack to avoid some more insidious problem, but,<br>
 you know, I've got other things to think about right now, etc....<br>
<p>
-matt m.<br>
<p>
<p>
<p>
   From: Owen Taylor &lt;<a href="mailto:owen@gtk.org">owen@gtk.org</a>&gt;<br>
   Cc: <a href="mailto:gtkdev@gimp.org">gtkdev@gimp.org</a><br>
   Date: Sat, 02 May 1998 23:05:07 -0400<br>
   Sender: <a href="mailto:owt1@cornell.edu">owt1@cornell.edu</a><br>
<p>
<p>
   Matto Marjanovic &lt;<a href="mailto:maddog@mir.com">maddog@mir.com</a>&gt; writes:<br>
<p>
<i>   &gt; There seems to be a bug in the GtkCurve widget, which is manifested in</i><br>
<i>   &gt;  the "xscanimage" program from SANE (0.72) [<a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>].</i><br>
<i>   &gt; </i><br>
<i>   &gt; This would be GTK 1.0.0 (from the Debian package, although the same bug</i><br>
<i>   &gt;  has been reported in other sources).  My particular system is Linux 2.0.32,</i><br>
<i>   &gt;  Debian 2.0/Frozen w/glibc, XFree86 3.3.2.</i><br>
<i>   &gt; </i><br>
<i>   &gt; What follows is the assessment I had sent to the sane-devel mailing list.</i><br>
<i>   &gt;  I'll include the relevant snippets of xscanimage code at the end.</i><br>
<i>   &gt; </i><br>
<i>   &gt; If you need more information, please ask.</i><br>
<i>   &gt; </i><br>
<i>   &gt; Thanks!</i><br>
<i>   &gt; matt marjanovic</i><br>
<i>   &gt; <a href="mailto:maddog@mir.com">maddog@mir.com</a></i><br>
<p>
   [...]<br>
<p>
<i>   &gt;    From: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>   &gt; </i><br>
<i>   &gt;    &gt; b)  ___Gamma Curve data is corrupted.___</i><br>
<i>   &gt;    &gt;     When turning on table-based gamma correction (and thus instantiating the</i><br>
<i>   &gt;    &gt;     gamma curve widget), the following happen:</i><br>
<i>   &gt;    &gt;       o correct values are read from the (microtek) backend, so far so good.</i><br>
<i>   &gt;    &gt;       o immediately after the call to gtk_curve_set_gamma in curve_new(),</i><br>
<i>   &gt;    &gt;          a call to gtk_curve_get_gamma reveals the correct values were </i><br>
<i>   &gt;    &gt; 	 written to the widget.</i><br>
<i>   &gt;    &gt;       o sometime later (when the event loop updates/displays the widget, I</i><br>
<i>   &gt;    &gt;          imagine), xscanimage declares</i><br>
<p>
   Not knowing exactly what the symptoms are (and not wanting<br>
   to compile SANE right now, and not having a scanner) it's<br>
   a bit hard to figure out what needs to be fixed, but...<br>
<p>
<i>   &gt; For no good reason, I went poking at this with gdb (well, at least I'm</i><br>
<i>   &gt;  learning how to use gdb), and made some discoveries.  The problem is in</i><br>
<i>   &gt;  the widgets, not xscanimage.  Someone who knows more about GTK widget</i><br>
<i>   &gt;  programming will need to take over from here....</i><br>
<i>   &gt; </i><br>
<i>   &gt; When xscanimage runs, the corruption to the gamma curve widget happens</i><br>
<i>   &gt;  during the call to gtk_widget_show(notebook) at the end of vector_new()</i><br>
<i>   &gt;  ["gtkglue.c"].  Here are before and after snapshots of the Curve:</i><br>
<i>   &gt; </i><br>
<i>   &gt; BEFORE:</i><br>
<p>
   [...]<br>
<p>
<i>   &gt; Note how "height" and "num_points" are now the unlikely values of -5, and</i><br>
<i>   &gt;  the "point" vector has moved.</i><br>
<i>   &gt; </i><br>
<i>   &gt; The basic problem is that "allocation.width" and "allocation.height" are 1,1</i><br>
<i>   &gt;  and not 262,262.  The chain of events (I believe) is:  [in "gtk/gtkcurve.c"]</i><br>
<p>
   Here's some background on the situation. In versions of GTK+ before<br>
   0.99.8 or so, a widget would always have its window created<br>
   with an initial size of 1x1, then afterwords be size_allocated()<br>
   to the proper size. However, under certain circumstances this <br>
   initial invalid size could cause problems, and the procedure<br>
   was inefficient as well.<br>
<p>
   So that was changed so that whenever possible a widget would be<br>
   allocated to the correct size, then be realized. This caused<br>
   problems with the way GtkDrawingArea generated its configure<br>
   events - because they were generated in size_allocate() - but<br>
   only after it was realized. So the code to generate the <br>
   configure events was also added to the realize() handler.<br>
<p>
   But note "whenever possible". Under some circumstances a widget _must_<br>
   be "realized" (have its window created) before it is size allocated -<br>
   for instance, when the user calls realize() explicitely. In those<br>
   cases, a DrawingArea widget will generate two configure events -<br>
   the first one with a size of 1x1, and the second one with the<br>
   real size. This is what is apparently confusing GtkGammaCureve.<br>
<p>
   I am less sure why this applies to xscanimage. I can't see anything<br>
   that would cause it to be realized before the toplevel window is<br>
   gtk_widget_show()'d and it is size_allocated, at least without<br>
   running the code.<br>
<p>
<i>   &gt;  gtk_curve_graph_events() is called for either a CONFIGURE or EXPOSE event,</i><br>
<i>   &gt;   and subsequently calls gtk_curve_draw() with the width and height taken</i><br>
<i>   &gt;   from the "allocation", as:</i><br>
<i>   &gt;           width = w-&gt;allocation.width - RADIUS * 2;</i><br>
<i>   &gt; 	  height = w-&gt;allocation.height - RADIUS * 2;</i><br>
<i>   &gt;   i.e. -5 and -5</i><br>
<i>   &gt; </i><br>
<i>   &gt;  gtk_curve_draw() sees the requested width,height (-5,-5) doesn't match what</i><br>
<i>   &gt;   was loaded into it (256,256), and calls gtk_curve_interpolate(), which then</i><br>
<i>   &gt;   generates screwy numbers.</i><br>
<p>
<p>
<i>   &gt; SO:  Perhaps gtk_curve_graph_events() should use the curve's "requisition"</i><br>
<i>   &gt;       instead of its "allocation" to calculate those width and height.</i><br>
<i>   &gt;      Perhaps in an earlier incarnation of GTK, the curve widget got 'allocated'</i><br>
<i>   &gt;       earlier or something.</i><br>
<i>   &gt;      I don't really know what design issues are involved here.</i><br>
<p>
   Using the requisition is not a good idea, because perhaps the curve<br>
   widget got more or less size than it requested.<br>
<p>
   What I think is the right think to do is:<br>
<p>
   Index: gtkcurve.c<br>
   ===================================================================<br>
   RCS file: /debian/home/gnomecvs/gtk+/gtk/gtkcurve.c,v<br>
   retrieving revision 1.9<br>
   diff -u -r1.9 gtkcurve.c<br>
   --- gtkcurve.c	1998/04/13 01:59:47	1.9<br>
   +++ gtkcurve.c	1998/05/03 02:40:12<br>
   @@ -294,6 +294,9 @@<br>
      width = w-&gt;allocation.width - RADIUS * 2;<br>
      height = w-&gt;allocation.height - RADIUS * 2;<br>
<p>
   +  if ((width &lt; 0) || (height &lt; 0))<br>
   +    return FALSE;<br>
   +<br>
      /*  get the pointer position  */<br>
      gdk_window_get_pointer (w-&gt;window, &amp;tx, &amp;ty, NULL);<br>
      x = CLAMP ((tx - RADIUS), 0, width-1);<br>
<p>
   That is, simply ignore the event that occurs with the initial bogus<br>
   size, since a real one will come along later. I don't really<br>
   understand why the initial bogus size confuses the GammaCurve widget<br>
   _after_ the second real size is determined - that would require more<br>
   investigation into the internals of GammaCurve than I want to do at<br>
   the moment.<br>
<p>
   If you want to check this out and see if it fixes the problem,<br>
   it would be appreciated.<br>
<p>
   (BTW, are there plans to release a version of SANE that uses<br>
   'gtk-config' to determine the proper include directories and<br>
   libraries for GTK+? (see the file docs/gtk-config.txt in<br>
   the GTK+ distribution) I believe that the Debian maintainer<br>
   might have a suitable patch. SANE-0.72 will not work with<br>
   any version of GTK+ released in the last 1.5 months.)<br>
<p>
   Regards,<br>
					   Owen<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Matt Martin: "DS-7 Backend"</a>
<li> <b>Previous message:</b> <a href="0083.html">Jan Krueger: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
