<!-- received="Sat May  9 13:27:55 1998 PDT" -->
<!-- sent="Sat, 9 May 1998 21:27:11 +0100 (BST)" -->
<!-- name="chriss@home.pipex.com" -->
<!-- email="chriss@home.pipex.com" -->
<!-- subject="Is the Plustek driver still being worked on?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Is the Plustek driver still being worked on?</title>
<h1>Is the Plustek driver still being worked on?</h1>
<a href="mailto:chriss@home.pipex.com"><i>chriss@home.pipex.com</i></a><br>
<i>Sat, 9 May 1998 21:27:11 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Brian Macy: "Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "IMPORTANT info for backend writers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Mr Ada: "Re: Is the Plustek driver still being worked on?"</a>
<li> <b>Reply:</b> <a href="0115.html">Mr Ada: "Re: Is the Plustek driver still being worked on?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
According to the projects file, the Plustek driver is being worked on by<br>
Chris Wall, but one of the last times I saw it mentioned on this list was<br>
in a message from Chris last October saying he'd given up following a disc<br>
crash.<br>
<p>
Does anyone know it's current status?<br>
<p>
    Chris.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Brian Macy: "Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "IMPORTANT info for backend writers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Mr Ada: "Re: Is the Plustek driver still being worked on?"</a>
<li> <b>Reply:</b> <a href="0115.html">Mr Ada: "Re: Is the Plustek driver still being worked on?"</a>
<!-- reply="end" -->
</ul>
