<!-- received="Sun May 10 14:02:22 1998 PDT" -->
<!-- sent="Sun, 10 May 1998 22:59:41 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Highscreen RealScan" -->
<!-- id="" -->
<!-- inreplyto="355604B6.338BE83E@fleggaard.dk" -->
<title>sane-devel: Re: Highscreen RealScan</title>
<h1>Re: Highscreen RealScan</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 10 May 1998 22:59:41 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#119">[ date ]</a><a href="index.html#119">[ thread ]</a><a href="subject.html#119">[ subject ]</a><a href="author.html#119">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Brian Schau: "RE: Highscreen RealScan"</a>
<li> <b>Previous message:</b> <a href="0118.html">Brian Schau: "Re: Highscreen RealScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 10 May 1998, Brian Schau wrote:<br>
<p>
<i>&gt; * sigh *   I've spent an whole evening getting this scanner to work</i><br>
<i>&gt; ...   Status:</i><br>
<i>&gt; </i><br>
<i>&gt; -	Downloaded and installed sane-0.72.  By doing so, I broke 'gimp'.  </i><br>
<i>&gt; And now I can't get gimp compiled (can't find gtk-config) ... so now I</i><br>
<i>&gt; am downloading gtk-sources (and they propably won't compile since I am</i><br>
<i>&gt; not using glibc ...!)   Talk about bad luck.</i><br>
<i>&gt; </i><br>
<i>&gt; -	It still won't scan colors.   It places the three layers side by</i><br>
<i>&gt; side.   Well, at least it scans ...</i><br>
<p>
Sounds odd enough. Perhaps you should use a version of gimp and gtk that<br>
can handle the 'old' libc stuff.<br>
<p>
<i>&gt; </i><br>
<i>&gt; -	When done acquiring a preview, xscanimage closes all open xscanimage</i><br>
<i>&gt; windows when I close the preview window.   Is this a bug?  Or a</i><br>
<i>&gt; "feature"?     Or is it just me?   ;o)</i><br>
<p>
It is a feature since someone was kind enough to document it. A patch was<br>
also posted and should be in the archive.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Brian Schau: "RE: Highscreen RealScan"</a>
<li> <b>Previous message:</b> <a href="0118.html">Brian Schau: "Re: Highscreen RealScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
