<!-- received="Wed May 13 21:11:49 1998 PDT" -->
<!-- sent="Thu, 14 May 1998 00:11:28 -0400 (EDT)" -->
<!-- name="Tim Kallinis" -->
<!-- email="bt404@freenet.toronto.on.ca" -->
<!-- subject="Need SCSI card advice" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Need SCSI card advice</title>
<h1>Need SCSI card advice</h1>
<b>Tim Kallinis</b> (<a href="mailto:bt404@freenet.toronto.on.ca"><i>bt404@freenet.toronto.on.ca</i></a>)<br>
<i>Thu, 14 May 1998 00:11:28 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0157.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Michael K. Johnson: "Re: Need SCSI card advice"</a>
<li> <b>Reply:</b> <a href="0169.html">Michael K. Johnson: "Re: Need SCSI card advice"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello, this is my first message to this newsgroup. I'm hoping someone can <br>
provide me with some advice as to which SCSI card I should purchase to <br>
access a scanner under SANE. I have an ASUS P/I-P55T2P4 motherboard and <br>
was thinking of getting the associated ASUS PCI-SC200 SCSI card <br>
(NCR52C810 chip I believe). I understand this card is detected and works <br>
fine under Linux (at least from the DejaNews articles I've read), however <br>
I'm uncertain if it's a good choice for SANE or in general (I have no<br>
experience with SCSI devices). I'm interested in getting a UMAX Astra 1200,<br>
however I remember reading in the SANE archive that the UMAX uses a Mac <br>
style connector, whereas, the ASUS card uses a SCSI-2 externel cable. <br>
Would this present a problem in connecting the two (I suspect/hope it <br>
doesn't) ? Is there some way to force this card or any PnP card to a <br>
specific IRQ (I think it's a PnP card and I wouldn't want it to get<br>
assigned to IRQ 9 which holds an 8-bit serial card, COM3, I use for my <br>
Wyse 60 terminal - IRQs 10 or 12 would be fine however) ?<br>
<p>
I would also appreciate any suggestions/recommendations regarding other <br>
SCSI cards. I'm looking for something cheap that won't cause any problems <br>
under Linux or force itself on any IRQs &lt;= 9 (I hate PnP).<br>
<p>
(Please reply to my e-mail address as well as the list)<br>
<p>
Regards,<br>
<p>
Timothy Kallinis<br>
<p>
<a href="mailto:bt404@torfree.net">bt404@torfree.net</a><br>
<a href="mailto:timothy.kallinis@utoronto.ca">timothy.kallinis@utoronto.ca</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0157.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Michael K. Johnson: "Re: Need SCSI card advice"</a>
<li> <b>Reply:</b> <a href="0169.html">Michael K. Johnson: "Re: Need SCSI card advice"</a>
<!-- reply="end" -->
</ul>
