<!-- received="Thu May 14 06:45:03 1998 PDT" -->
<!-- sent="Thu, 14 May 1998 06:44:15 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="" -->
<!-- inreplyto="Win32 TWAIN DLL to interface with SANE" -->
<title>sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>Re: Win32 TWAIN DLL to interface with SANE</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Thu, 14 May 1998 06:44:15 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Jeff Freedman: "Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0170.html">Andreas Tille: "RGB-exposure and RGB-shift used in Gray images?"</a>
<li> <b>Maybe in reply to:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thank you.... now I think I understand. SANE doesn't use "Remote Procedure<br>
Calls", saned listens for packets on a socket and processes them... its just<br>
a socketed IPC. Ok, is the packet format(s) documented somewhere?<br>
<p>
I don't want to have to port a huge portion of SANE just to get the network<br>
stuff working. If I have to do a partial port, does anyone know which pieces<br>
I would need to do network communication only. I certainly wouldn't be<br>
porting any of the scanners, just the network stuff.<br>
<p>
saned.c<br>
sanei_wire.c<br>
sanei_net.c<br>
and probably several other files that are needed by these.<br>
<p>
Again, I'd rather just do what I need from scratch. A C++ lib that handles<br>
SANE networking only support would be far more useful for me than anything<br>
else.<br>
<p>
Brian Macy<br>
<p>
<i>&gt;  Andy&gt; saned and the net dll are _examples_ and the "native" protocol</i><br>
<i>&gt;  Andy&gt; of how to route SANE data through a network.</i><br>
<i>&gt;</i><br>
<i>&gt;The SANE network protocol can be implemented on anything that supports</i><br>
<i>&gt;TCP.  It's as simple as that.  Indeed, most if not all of the</i><br>
<i>&gt;sanei_net and sanei_codec code is plain ANSI C and in no way platform</i><br>
<i>&gt;specific.</i><br>
<i>&gt;</i><br>
<i>&gt; --david</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Jeff Freedman: "Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0170.html">Andreas Tille: "RGB-exposure and RGB-shift used in Gray images?"</a>
<li> <b>Maybe in reply to:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
