<!-- received="Fri May 15 20:26:02 1998 PDT" -->
<!-- sent="Fri, 15 May 1998 23:29:49 -0400" -->
<!-- name="TomStuJed" -->
<!-- email="linux@gilbertschool.org" -->
<!-- subject="RE: umax.c" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: umax.c</title>
<h1>RE: umax.c</h1>
<b>TomStuJed</b> (<a href="mailto:linux@gilbertschool.org"><i>linux@gilbertschool.org</i></a>)<br>
<i>Fri, 15 May 1998 23:29:49 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">David Mosberger-Tang: "RE: umax.c"</a>
<li> <b>Previous message:</b> <a href="0187.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
    I still have the same problem with umax.c<br>
<p>
    it runs out of memory when compiling<br>
    umax.c<br>
<p>
    Apparently this is because I have slackware<br>
    and I tried to compile without optimizations<br>
    ... it worked.... to compile... but xscanimage<br>
    is on crack... and won't work.... it complains<br>
    about something called '__outb'<br>
    and croaks...<br>
<p>
                            Thomas<br>
<p>
Does anyone have anyother ideas?<br>
<p>
    ---less important---<br>
<p>
    I don't understand why....   I can compile the<br>
    GIMP with out memory problems....<br>
<p>
    I will setup a swapfile and see if that will help<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">David Mosberger-Tang: "RE: umax.c"</a>
<li> <b>Previous message:</b> <a href="0187.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
