<!-- received="Thu May 21 20:28:54 1998 PDT" -->
<!-- sent="Thu, 21 May 1998 12:14:15 +0100" -->
<!-- name="Bjoern A. Zeeb" -->
<!-- email="bear@dinx.de" -->
<!-- subject="NT frontend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: NT frontend</title>
<h1>NT frontend</h1>
<b>Bjoern A. Zeeb</b> (<a href="mailto:bear@dinx.de"><i>bear@dinx.de</i></a>)<br>
<i>Thu, 21 May 1998 12:14:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#223">[ date ]</a><a href="index.html#223">[ thread ]</a><a href="subject.html#223">[ subject ]</a><a href="author.html#223">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">David Mosberger-Tang: "Re: Non Disclosure Agreements"</a>
<li> <b>Previous message:</b> <a href="0222.html">becka@rz.uni-duesseldorf.de: "Re: Non Disclosure Agreements"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0227.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0227.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0228.html">Chris Sparks: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0233.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0244.html">Brian Macy: "Re: NT frontend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I'm not on the list and so I didn't really follow all the discussions<br>
about a NT frontend for saned.<br>
I'm also not a programmer but my dad just wants to use my scanner but<br>
for my own health I do not want to give him access to my linux box. He<br>
has to use NT. But as someone has written Scan It/2 for OS2 Warp it also<br>
should be possible to write a frontend just connecting over network to<br>
saned and receiving the data an zoming in, etc. and then saving it as a<br>
nice pici. Or am I wrong ?<br>
<p>
--bjoern<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">David Mosberger-Tang: "Re: Non Disclosure Agreements"</a>
<li> <b>Previous message:</b> <a href="0222.html">becka@rz.uni-duesseldorf.de: "Re: Non Disclosure Agreements"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0227.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0227.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0228.html">Chris Sparks: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0233.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Reply:</b> <a href="0244.html">Brian Macy: "Re: NT frontend"</a>
<!-- reply="end" -->
</ul>
