<!-- received="Fri May 22 16:15:22 1998 PDT" -->
<!-- sent="Fri, 22 May 1998 16:14:28 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: NT frontend" -->
<!-- id="" -->
<!-- inreplyto="NT frontend" -->
<title>sane-devel: Re: NT frontend</title>
<h1>Re: NT frontend</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Fri, 22 May 1998 16:14:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#233">[ date ]</a><a href="index.html#233">[ thread ]</a><a href="subject.html#233">[ subject ]</a><a href="author.html#233">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0234.html">Sylvester Burckhardt: "MUSTEK SCANEXPRESS 12000: Problems with .... and sane"</a>
<li> <b>Previous message:</b> <a href="0232.html">Rob Fargher: "Re: Non Disclosure Agreements"</a>
<li> <b>Maybe in reply to:</b> <a href="0223.html">Bjoern A. Zeeb: "NT frontend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0244.html">Brian Macy: "Re: NT frontend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;?? It is in the sane package that can be found on</i><br>
<i>&gt;<a href="http://www.mostang.com/sane">http://www.mostang.com/sane</a>.</i><br>
<i>&gt;</i><br>
<i>&gt;I have checked V 0.72, and it has a subdirectory doc, that contains net.tex</i><br>
<i>&gt;which describes the RPCs that make up the net protocol.</i><br>
<p>
The actual wrapper around the packet is what isn't documented. It shows what<br>
data is transmitted but nothing else. For example, I assume the format is<br>
probably something like:<br>
<p>
&lt;packet id byte&gt;&lt;..data bytes..&gt;<br>
<p>
If I don't have to look through the code to find this, I'll be happy:)<br>
<p>
<i>&gt;For an actual implementation reference, see :</i><br>
<i>&gt;</i><br>
<i>&gt;sanei/sanei_codec_ascii.c</i><br>
<i>&gt;sanei/sanei_codec_bin.c</i><br>
<i>&gt;sanei/sanei_net.c</i><br>
<i>&gt;sanei/sanei_wire.c</i><br>
<i>&gt;backend/net.c</i><br>
<i>&gt;frontend/saned.c</i><br>
<i>&gt;</i><br>
<i>&gt;This should provide you with quite enough reference and a bunch of</i><br>
convenience<br>
<i>&gt;functions to access the sane net protocol.</i><br>
<p>
Truthfully I'd rather reverse engineer the protocol than figure it out via<br>
the code. I've looked through it some and have followed the data flow, but<br>
that's about as far as I'm going.<br>
<p>
<i>&gt;Actually what you need to do, is to rewrite backend/net.c in a way that</i><br>
<i>&gt;it exports a TWAIN interface, or write a SANE-&gt;TWAIN bridge interface</i><br>
<i>&gt;that is simply linked to net.c.</i><br>
<p>
<p>
Basically, I'll just write a C++ SANE wrapper around the network protocol<br>
and implement the TWAIN DLL with it. I'll initially probably test the SANE<br>
wrapper with a simple Win32 program that dumps 24bit Bitmap files given a<br>
size and offset to scan with. Then when I get a chance I'll write the TWAIN<br>
DLL.<br>
<p>
Brian Macy<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0234.html">Sylvester Burckhardt: "MUSTEK SCANEXPRESS 12000: Problems with .... and sane"</a>
<li> <b>Previous message:</b> <a href="0232.html">Rob Fargher: "Re: Non Disclosure Agreements"</a>
<li> <b>Maybe in reply to:</b> <a href="0223.html">Bjoern A. Zeeb: "NT frontend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0244.html">Brian Macy: "Re: NT frontend"</a>
<!-- reply="end" -->
</ul>
