<!-- received="Mon May 25 00:05:50 1998 PDT" -->
<!-- sent="Mon, 25 May 1998 12:47:04 +1100" -->
<!-- name="Helen Terbizan" -->
<!-- email="helent@sentience.com.au" -->
<!-- subject="Mustek Scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek Scanners</title>
<h1>Mustek Scanners</h1>
<b>Helen Terbizan</b> (<a href="mailto:helent@sentience.com.au"><i>helent@sentience.com.au</i></a>)<br>
<i>Mon, 25 May 1998 12:47:04 +1100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#250">[ date ]</a><a href="index.html#250">[ thread ]</a><a href="subject.html#250">[ subject ]</a><a href="author.html#250">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Previous message:</b> <a href="0249.html">Peter Fales: "Kodak DC-20/25 Backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
<p>
I have a Mustek MFS-12000SP which has a bios revision 1.05.<br>
<p>
I have noticed that this bios revision is not listed, has anyone got<br>
this one to work.<br>
<p>
Cheers<br>
Helen<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Previous message:</b> <a href="0249.html">Peter Fales: "Kodak DC-20/25 Backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
