<!-- received="Mon May 25 11:17:09 1998 PDT" -->
<!-- sent="Mon, 25 May 1998 14:19:07 -0400 (EDT)" -->
<!-- name="Paul D. Robertson" -->
<!-- email="proberts@clark.net" -->
<!-- subject="[long] Overall usage impressions" -->
<!-- id="" -->
<!-- inreplyto="199805251610.SAA00217@Babylon5.wolfsburg.de" -->
<title>sane-devel: [long] Overall usage impressions</title>
<h1>[long] Overall usage impressions</h1>
<b>Paul D. Robertson</b> (<a href="mailto:proberts@clark.net"><i>proberts@clark.net</i></a>)<br>
<i>Mon, 25 May 1998 14:19:07 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#258">[ date ]</a><a href="index.html#258">[ thread ]</a><a href="subject.html#258">[ subject ]</a><a href="author.html#258">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Andreas Tille: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0257.html">Dr. Andreas Bolsch: "Mustek ScanExpress backend"</a>
<li> <b>In reply to:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0262.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Reply:</b> <a href="0262.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Reply:</b> <a href="0263.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I promised to follow-up after getting my act together, so here it is:<br>
<p>
I initially had serious problems getting GTK installed, due to the <br>
placement of the default RedHat installation's libraries versus my <br>
upgrades.  It wasn't as much trouble as the problmes I had with GTK on <br>
a FreeBSD box, so I decided to upgrade GTK on the RedHat box, rather <br>
than FreeBSD on the other machine.  <br>
<p>
Oliver Rauch convinced me that I needed xscanimage, so I bit the <br>
bullet and got the GTK stuff straightened out for that, which included <br>
upgrading a lot of software on the box my scanner is connected to.<br>
<p>
Once I got SANE working with X, things went pretty smoothly.  I also upgraded<br>
my copy of The GIMP, and made SANE do the cool Photoshop-like scanner <br>
thing with xscanimage (and it works better than the Mustek/Photoshop <br>
combo on a Mac at work).<br>
<p>
When I scanned prints in that mode, things were wonderful.  Many kudos to <br>
the whole SANE team, and Oliver in particular for the Astra code.  My <br>
next try was to scan some 6cm x 6cm slides, and the gamma on them was <br>
very bad.  I then sent off for the transparancy adapter, hoping this <br>
would clear up my problems.  It was a significant money investment, <br>
considering the price of the scanner, but overall the cost of both the <br>
scanner and adapter were well under what I would have paid when I <br>
originally looked at scanners for the scanner alone, and still less than <br>
the equiv. HP combo with xvscan.<br>
<p>
Also, since I'm not starting to shoot both 6x6 and 6x4.5, I'm not willing <br>
to pay the price for a negative scanner in those formats, which like <br>
slide projectors for them, are generally priced a great deal higher than <br>
the 35mm equivalent.  <br>
<p>
Now, I have to admit up-front that I'm not one to read the manual <br>
carefully, especially in the case of GUIs.  So, when my transparancy adapter <br>
still showed dark images, I tried to adjust the gamma with the pencil-like <br>
tool that is the default interface.  This produced some very interesting, but <br>
unwanted results.  Oliver once again stepped to my rescue and explained the <br>
true gamma correction method for xscanimage, and after pressing the gamma <br>
button and entering a value, things got much, much better.  <br>
<p>
I'm now happily scanning medium format transparencies on my 1200s (Velvia <br>
and Astia if it makes a difference, though the Velvia needs some color <br>
balance correction to look like Velvia, it scans well, my 35mm slides are <br>
the new E200, and I can't wait for it in 120).  The gamma value I tend to use <br>
is between 1.6 and 1.8.  I am also happily scanning 35mm transparencies, which<br>
I wasn't sure would work.<br>
<p>
Preview mode doesn't seem to work well for me, so I scan at 300dpi x <br>
300dpi, normally the full bed with several slides on it using xscanimage <br>
from within The Gimp, then cropping, and pasting each image into a <br>
working window.  I've rarely had to increase the image brightness or <br>
colors within the Gimp, mostly it's just a way for me to crop and save as <br>
JPEG.    <br>
<p>
The transparency lamp does seem to shut itself off, so perhaps my problem <br>
with that was from my trials with upgrading and hanging up things.<br>
<p>
Bad bits:<br>
<p>
Preview mode shows weird stuff, not a preview.  Selecting "Preview Patch" <br>
makes things die.<br>
<p>
35mm slides don't always scan well, mostly I'm sure due to the size of <br>
the image, and the scanner itself.  Not a SANE problem at all, and I've a <br>
good number of them that have scanned wonderfully.  <br>
<p>
When SANE is busy scanning, hitting cancel tends to hang things pretty <br>
badly, so I've learned not to cancel a scan in progress.  <br>
<p>
The GIMP wants to put all of its busy work in ~/.gimp, not /tmp, in a <br>
per-pid file, which is maddening, since I have a lot of space in /tmp, <br>
but I don't want to symlink the entire .gimp directory there.<br>
<p>
Summary:<br>
<p>
Sane works well.  There are some rough edges, but overall I've been very happy<br>
with the package.  My thanks to everyone who's put so much effort into <br>
such a fine piece of work.  The Umax Astra code is great!  Oliver's support <br>
and code are both first-rate.  The GIMP is a fantastic piece of work.  The <br>
combination of them all is phenonimal.  <br>
<p>
The Umax transparency adapter functions very well.  At this point, I'd <br>
recommend it to anyone wishing to scan slides in, though I'm sure that now I <br>
know how to do gamma correction, I'd try an inverted lightbox on the scanner <br>
bed first, since those tend to come in at ~$35 with the good lights, and <br>
anyone working with a lot of slides won't mind having a small one about if it <br>
doesn't work out.  If you're considering the adapter, and you only have <br>
35mm slides, I'd recommend getting it from some place that will take a <br>
return if you don't like the results.  I didn't check their return policy, <br>
but I got mine from Microwarehouse/Macwarehose with an on-line purchase.  <br>
<p>
Paul<br>
-----------------------------------------------------------------------------<br>
Paul D. Robertson      "My statements in this message are personal opinions<br>
<a href="mailto:proberts@clark.net">proberts@clark.net</a>      which may have no basis whatsoever in fact."<br>
                                                                     PSB#9280<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Andreas Tille: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0257.html">Dr. Andreas Bolsch: "Mustek ScanExpress backend"</a>
<li> <b>In reply to:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0262.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Reply:</b> <a href="0262.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Reply:</b> <a href="0263.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<!-- reply="end" -->
</ul>
