<!-- received="Mon May 25 23:01:30 1998 PDT" -->
<!-- sent="Mon, 25 May 1998 23:01:22 -0700" -->
<!-- name="John Labovitz" -->
<!-- email="johnl@meer.net" -->
<!-- subject="Re: [long] Overall usage impressions" -->
<!-- id="E0yeCna-0003Jm-00@polymecca.com" -->
<!-- inreplyto="[long] Overall usage impressions" -->
<title>sane-devel: Re: [long] Overall usage impressions</title>
<h1>Re: [long] Overall usage impressions</h1>
<b>John Labovitz</b> (<a href="mailto:johnl@meer.net"><i>johnl@meer.net</i></a>)<br>
<i>Mon, 25 May 1998 23:01:22 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0261.html">becka@rz.uni-duesseldorf.de: "Re: sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0258.html">Paul D. Robertson: "[long] Overall usage impressions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0263.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Paul D. Robertson &lt;<a href="mailto:proberts@clark.net">proberts@clark.net</a>&gt; said:<br>
<p>
<i>&gt; Oliver once again stepped to my rescue and explained the </i><br>
<i>&gt; true gamma correction method for xscanimage, and after pressing the gamma </i><br>
<i>&gt; button and entering a value, things got much, much better.  </i><br>
<p>
Could you write more about this?  I've been scanning black and white<br>
negatives (Tri-X Pan, mostly) and found a curve setting that worked,<br>
but i did it by hand (using the straight-line tool at the bottom of<br>
the left-hand curve toolbar), not using a gamma number.  I haven't had<br>
as good luck scanning color transparencies (Kodak EPD).<br>
<p>
I've been meaning to ask a question (to the list in general, not just<br>
you, Paul) about gamma -- does setting the gamma (either by number or<br>
by manually shaping the curve) affect the actual scanning operation?<br>
That is, does the gamma get downloaded to the scanner and used to<br>
shape the scanned samples, or is just something that's applied to the<br>
data once it comes back from the scanner?<br>
<p>
And while I'm at it, what's the `Highlight (%)' slider do?<br>
<p>
john<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0261.html">becka@rz.uni-duesseldorf.de: "Re: sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0258.html">Paul D. Robertson: "[long] Overall usage impressions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0263.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<!-- reply="end" -->
</ul>
