<!-- received="Tue May 26 08:56:04 1998 PDT" -->
<!-- sent="Tue, 26 May 1998 11:56:39 -0400 (EDT)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@infi.net" -->
<!-- subject="Re: Scsi commands for the Artec viewstation AT12?" -->
<!-- id="199805261556.LAA00150@panther.infi.net" -->
<!-- inreplyto="356A769A.C8205C63@wau.mis.ah.nl" -->
<title>sane-devel: Re: Scsi commands for the Artec viewstation AT12?</title>
<h1>Re: Scsi commands for the Artec viewstation AT12?</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@infi.net"><i>cpinkham@infi.net</i></a>)<br>
<i>Tue, 26 May 1998 11:56:39 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#270">[ date ]</a><a href="index.html#270">[ thread ]</a><a href="subject.html#270">[ subject ]</a><a href="author.html#270">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Jeff Freedman: "Re: sane"</a>
<li> <b>Previous message:</b> <a href="0269.html">William L. Sebok: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I've bought the Artec Viewstation AT12 scanner.</i><br>
<i>&gt; I've had no respons to mails to the US and Taiwan for my request on info for</i><br>
<i>&gt; this scanner.</i><br>
<i>&gt; Does anybody has some SCSI command info on the viewstation series?</i><br>
<i>&gt; Every info would help, even other Artec scanner info.</i><br>
<i>&gt; Is it compatible with an other scanner?</i><br>
<i>&gt; I want to make a backend for dealing with this scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; Dick Bruijn</i><br>
<p>
I emailed you the lastest version of my Artec AT3 driver (with a minor<br>
change to see if it will work with the AT12).  This has quite a few changes<br>
from the version included in SANE v0.73 and quite a few bug fixes.  I have<br>
submitted a diff, but assume it won't appear until SANE v0.74.<br>
<p>
Artec seems to have become tight-lipped about releasing info on their<br>
scanners.  A few months ago, I requested (and recieved) documentation on<br>
the AT3 and A6000C (they are supposed to be compatible).  I wrote a<br>
'thank you' email back.  A month or two later, I found someone looking for<br>
info on the AT6.  He had requested docs using the same email address I had.<br>
I don't remember if they responded to him or not.  I sent another email<br>
again thanking for previously received docs, gave the URL for the SANE<br>
homepage so they could see the driver, and asked for docs on the AT6 and<br>
AT12.  I never heard back.  I'm not sure if the guy who sent me the docs<br>
got in trouble or who knows what???<br>
<p>
Anyway, see how the files I sent you work and let me know.  If anyone else<br>
reads this and has an AT6 or AT12 and is willing to be a guinea pig, drop<br>
me an email.<br>
<p>
Chris<br>
<a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Jeff Freedman: "Re: sane"</a>
<li> <b>Previous message:</b> <a href="0269.html">William L. Sebok: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
