<!-- received="Wed May 27 07:45:28 1998 PDT" -->
<!-- sent="Wed, 27 May 1998 16:44:45 +0200" -->
<!-- name="Brian Schau" -->
<!-- email="bsc@fleggaard.dk" -->
<!-- subject="SV: xscanimage is crashing alot" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SV: xscanimage is crashing alot</title>
<h1>SV: xscanimage is crashing alot</h1>
<b>Brian Schau</b> (<a href="mailto:bsc@fleggaard.dk"><i>bsc@fleggaard.dk</i></a>)<br>
<i>Wed, 27 May 1998 16:44:45 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#285">[ date ]</a><a href="index.html#285">[ thread ]</a><a href="subject.html#285">[ subject ]</a><a href="author.html#285">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>Previous message:</b> <a href="0284.html">Christoph Doerbeck: "xscanimage is crashing alot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It is fixed in sane-0.73.<br>
<p>
Christoph Doerbeck [SMTP:doerbeck@dma.isg.mot.com] skrev 27. maj 1998<br>
16:29:<br>
<i>&gt; </i><br>
<i>&gt; I'm running sane-0.72 with gtk-1.0.1 and here is my problem.</i><br>
<i>&gt; When executed from GIMP as an extension, every time I</i><br>
<i>&gt; use the preview window, and then unselect the preview window,</i><br>
<i>&gt; xscanimage dies.</i><br>
<i>&gt; </i><br>
<i>&gt; Will upgrading to sane-0.73, or gtk-1.0.2 fix this?</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; - Christoph</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail</i><br>
<a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>Previous message:</b> <a href="0284.html">Christoph Doerbeck: "xscanimage is crashing alot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
