<!-- received="Fri May 29 03:06:51 1998 PDT" -->
<!-- sent="Fri, 29 May 1998 10:08:04 +0000" -->
<!-- name="Wolfgang Jung" -->
<!-- email="woju@keep.in-berlin.de" -->
<!-- subject="Re: Mustek Scan Express 12000SP Problems" -->
<!-- id="" -->
<!-- inreplyto="356E7B47.8CCDABE8@ic.ac.uk" -->
<title>sane-devel: Re: Mustek Scan Express 12000SP Problems</title>
<h1>Re: Mustek Scan Express 12000SP Problems</h1>
<b>Wolfgang Jung</b> (<a href="mailto:woju@keep.in-berlin.de"><i>woju@keep.in-berlin.de</i></a>)<br>
<i>Fri, 29 May 1998 10:08:04 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#296">[ date ]</a><a href="index.html#296">[ thread ]</a><a href="subject.html#296">[ subject ]</a><a href="author.html#296">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>Previous message:</b> <a href="0295.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 6000SP Problems"</a>
<li> <b>In reply to:</b> <a href="0294.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 12000SP Problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0297.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 12000SP Problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
===<br>
<p>
<p>
Is someone able to list the BUGS, Features &amp; missfeatures of<br>
the Mustek Paragon 1200 SP FW ?<br>
I currently know the existrence of (Docs)<br>
1.00<br>
1.02<br>
1.04 (I have this one)<br>
1.07 (one on the list has this one)<br>
<p>
It seems (I checked the CHIP) the FW is inside an FLASH <br>
<p>
Is someone able to get a FW Update Software from MUSTEK ?<br>
Maybe some Problems might be bugs within the <br>
FW of the Scanner...<br>
<p>
On Fri, May 29, 1998 at 11:09:27AM +0200, Dr. Andreas Bolsch wrote: <br>
<i>&gt; Ole Gerden wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I have got a Mustek Scanexpress 12000SP and have another problem:</i><br>
<i>&gt; &gt; Scanning in gray- and colourmode only works correct in low resolution or</i><br>
<i>&gt; &gt; if the scanwidth is reduced. In other modes the result contains</i><br>
<i>&gt; &gt; some horizontal stripes in irregular distances. It seems so that the</i><br>
<i>&gt; &gt; imagedata in these stripes is shifted to the left or right. In these</i><br>
<i>&gt; </i><br>
<i>&gt; That's exactly the problem I mentioned. However, I've one report of</i><br>
<i>&gt; no such problem. Seems to be a problem of speed/memory. I will try</i><br>
<i>&gt; to decouple reading and postprocessing of data, maybe it will help.</i><br>
<i>&gt; But I can't do until the other (not next) week.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; memory-hungry modes the scanner also sometimes pauses while scanning</i><br>
<i>&gt; &gt; (undependant of strip-height). But I do not know if this normal.</i><br>
<i>&gt; </i><br>
<i>&gt; That's o.k. The scanner HAS TO pause as soon as his buffer gets full.</i><br>
<i>&gt; You may increase 'BUFFER' in mustek.c if you've a lots of memory.</i><br>
<i>&gt; </i><br>
<i>&gt; Andreas Bolsch</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>Previous message:</b> <a href="0295.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 6000SP Problems"</a>
<li> <b>In reply to:</b> <a href="0294.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 12000SP Problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0297.html">Dr. Andreas Bolsch: "Re: Mustek Scan Express 12000SP Problems"</a>
<!-- reply="end" -->
</ul>
