<!-- received="Sun Mar  1 18:38:14 1998 PST" -->
<!-- sent="Sun, 01 Mar 1998 15:19:16 -0800 (PST)" -->
<!-- name="Donald Burr" -->
<!-- email="dburr@POBoxes.com" -->
<!-- subject="Help configuring SANE requested" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Help configuring SANE requested</title>
<h1>Help configuring SANE requested</h1>
<b>Donald Burr</b> (<a href="mailto:dburr@POBoxes.com"><i>dburr@POBoxes.com</i></a>)<br>
<i>Sun, 01 Mar 1998 15:19:16 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Ray Clouse: "Minolta Dimage Scan Dual backends?"</a>
<li> <b>Previous message:</b> <a href="0001.html">Erdmann Bloch: "sane unable to find mustek scanner 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
*****<br>
NOTE: I have sent this message before, but have not received any<br>
response. I'm not sure if it's making it to the list.  If you see this<br>
message, even if you don't know the answer, I would appreciate hearing<br>
from you, just so that I can make sure that my mailer configuration is<br>
working, etc.<br>
*****<br>
<p>
Hi there.  I found your SANE program while browsing the web, and it sounds<br>
very interesting.  I have a mcachine that runs Linux and another that runs<br>
FreeBSD.  Both of them have scanners attached to them.  It would be nice<br>
to be able to use the scanners without having to reboot into Windows95.<br>
Your SANE program looks like it will fit the bill nicely.  The only<br>
problem is that I can't seem to find a driver to fit my scanner.<br>
<p>
It's a "Simplex Scanner DP30M" and is made by "CompEye Corporation".  They<br>
have a web site, <a href="http://www.compeye.com.tw/">http://www.compeye.com.tw/</a>, but it doesn't have much<br>
information other than the basic product spec's (although they do have an<br>
e-mail address).  It uses the parallel port as the interface.<br>
<p>
(Oh yeah, my OS is FreeBSD, although I do have Linux available to<br>
me as well, if that will help.)<br>
<p>
Does anyone know about this scanner, and more specifically, if it can be<br>
gotten to work with SANE?  (perhaps it uses a protocol that is compatible<br>
with some other scanner that's already supported)  Or, perhaps the company<br>
can release programming information so that a driver may be written?<br>
<p>
I thank you in advance for any assistance that you can offer.<br>
- ---<br>
Donald Burr &lt;<a href="mailto:dburr@POBoxes.com">dburr@POBoxes.com</a>&gt; - Ask me for my PGP key | PGP: Your<br>
WWW HomePage: <a href="http://DonaldBurr.base.org/">http://DonaldBurr.base.org/</a>  ICQ #1347455 | right to<br>
Address: P.O. Box 91212, Santa Barbara, CA 93190-1212   | 'Net privacy.<br>
Phone: (805) 957-9666    FAX: (800) 492-5954            | USE IT.<br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: 2.6.2<br>
<p>
iQCVAwUBNPns8/jpixuAwagxAQFZXAP8DzcDuc5nf+Y4z+VMXGik9xcRvBQeVcru<br>
riGvtNFFPxehxvY/R3QazfmICRUcOzAI/v7pKQQUb7NtBr8+BMwtd+QOXdEwNS7I<br>
4MFOp7kwdoUoq4pZXt4fi6VV07+04ABLE3qactWgZdhm64v/DQ3ohRgXE6PhK3o5<br>
aNUPP6bKXmc=<br>
=YSDn<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Ray Clouse: "Minolta Dimage Scan Dual backends?"</a>
<li> <b>Previous message:</b> <a href="0001.html">Erdmann Bloch: "sane unable to find mustek scanner 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
