<!-- received="Mon Mar  2 09:25:07 1998 PST" -->
<!-- sent="Mon, 2 Mar 1998 18:18:32 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Help configuring SANE requested" -->
<!-- id="199803021718.SAA00250@Babylon5.wolfsburg.de" -->
<!-- inreplyto="XFMail.980301151916.dburr@POBoxes.com" -->
<title>sane-devel: Re: Help configuring SANE requested</title>
<h1>Re: Help configuring SANE requested</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 2 Mar 1998 18:18:32 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>Previous message:</b> <a href="0003.html">Ray Clouse: "Minolta Dimage Scan Dual backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Donald,<br>
<p>
<i>&gt; It's a "Simplex Scanner DP30M" and is made by "CompEye Corporation". </i><br>
<i>&gt; It uses the parallel port as the interface.</i><br>
<p>
As far as I know this scanner is not supported and it will not be supported<br>
in the next time. The backends that are available for sane are all<br>
(but one) SCSI-scanner-drivers.<br>
<p>
But if you get the protocol-docs for your scanner, you might find one<br>
who will programm a backend!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>Previous message:</b> <a href="0003.html">Ray Clouse: "Minolta Dimage Scan Dual backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
