<!-- received="Tue Mar  3 06:36:23 1998 PST" -->
<!-- sent="Tue, 3 Mar 1998 15:35:46 +0100 (MET)" -->
<!-- name="Louis van Dompselaar" -->
<!-- email="louis@sitebysite.nl" -->
<!-- subject="sane 0.71 and gtk 0.99.4" -->
<!-- id="199803031435.PAA26361@ostia.sitebysite.nl" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 0.71 and gtk 0.99.4</title>
<h1>sane 0.71 and gtk 0.99.4</h1>
<b>Louis van Dompselaar</b> (<a href="mailto:louis@sitebysite.nl"><i>louis@sitebysite.nl</i></a>)<br>
<i>Tue, 3 Mar 1998 15:35:46 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Kaz Sasayama: "ad-hoc changes for FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: sane unable to find mustek scanner 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've had some problems with sane 0.71 and gtk 0.99.4.  I now<br>
have a working version, so this information might help<br>
others as wel.  This is all on linux 2.1.88 with gcc 2.8.0.<br>
<p>
I had to remove dmc from the backends/Makefile.  This doesn't<br>
compile at all for me.<br>
<p>
Tooltips are playing up again.  As I don't want those anyway,<br>
I commented them out of gtkglue.c (lines 75 and 811).<br>
<p>
I also had to comment out line 899 of xcam.c (gdk_set_debug_level).<br>
<p>
After that, it worked fine, also as a gimp .19 plug-in.<br>
<p>
<pre>
-- 
Louis van Dompselaar                              Site by Site B.V.
                                          <a href="http://www.sitebysite.nl/">http://www.sitebysite.nl/</a>
                                   Postbus 63559  2502 JN  Den Haag
                               Tel: 070 358 8782  fax: 070 358 5637
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Kaz Sasayama: "ad-hoc changes for FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: sane unable to find mustek scanner 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
