<!-- received="Sat Mar  7 02:49:05 1998 PST" -->
<!-- sent="Sat, 07 Mar 1998 11:50:40 +0100" -->
<!-- name="Ondrej Popp" -->
<!-- email="ondrej@geocities.com" -->
<!-- subject="faint vertical stripes while scanning" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: faint vertical stripes while scanning</title>
<h1>faint vertical stripes while scanning</h1>
<b>Ondrej Popp</b> (<a href="mailto:ondrej@geocities.com"><i>ondrej@geocities.com</i></a>)<br>
<i>Sat, 07 Mar 1998 11:50:40 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#37">[ date ]</a><a href="index.html#37">[ thread ]</a><a href="subject.html#37">[ subject ]</a><a href="author.html#37">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Bjoern Chyba: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0036.html">Matto Marjanovic: "Re: sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I have just discoverd that when I scan under 300 dpi with my<br>
UMAX Astra 1200S I get faint vertical stripes in my image. <br>
Sometimes. Moiree Pattern? First I thought it was due to my long (3.5m)<br>
SCSI cable<br>
but before I hooked my scanner to it I did some tests and did not notice<br>
any difference.<br>
I did not notice the stripes then either so I think I need to try that<br>
out again.<br>
But on the other hand why does it disappear at 300dpi? So before I start<br>
to move the stuff around I thought I might mention this inhere to see if <br>
there woud be someone who knows about this. To remove the stripes I did<br>
a little 'Dolby noise reduction'. Scanning at 300 dpi and scaling the<br>
image in the gimp to 1/3. This removes the stripes effectively.<br>
<p>
Ondrej<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Bjoern Chyba: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0036.html">Matto Marjanovic: "Re: sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
