<!-- received="Mon Mar  9 22:08:26 1998 PST" -->
<!-- sent="Tue, 10 Mar 1998 01:08:45 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Microtek ScanMaker 330" -->
<!-- id="199803100608.BAA18481@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Microtek ScanMaker 330" -->
<title>sane-devel: Re: Microtek ScanMaker 330</title>
<h1>Re: Microtek ScanMaker 330</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 10 Mar 1998 01:08:45 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Matto Marjanovic: "Microtek woes"</a>
<li> <b>Previous message:</b> <a href="0062.html">Tomas Hecker: "Microtek ScanMaker 330"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Tomas Hecker: "Microtek ScanMaker 330"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">Rogier Wolff: "Re: Microtek ScanMaker 330"</a>
<li> <b>Reply:</b> <a href="0066.html">Rogier Wolff: "Re: Microtek ScanMaker 330"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Just to inform the list, as far as the new Microtek scanners go, I am not<br>
 working on a backend for them, nor am I planning to anytime soon.  (The<br>
 non-SCSI-II scanners are enough of a pain as it is! :)<br>
<p>
Microtek does have the documentation for this new command set on-line (as<br>
 a matter of fact, they published this long before they admitted to the<br>
 command set for the E6/E3/etc):<br>
<p>
     <a href="ftp://ftp.microtek.com/microtek/devpack/scsicmd.doc">ftp://ftp.microtek.com/microtek/devpack/scsicmd.doc</a><br>
<p>
It seems to follow some kind of SCSI-II standard.  I don't know how similar<br>
 it is to the command sets of other brands of new scanners, but perhaps one<br>
 generic SCSI-II scanner backend will be possible.  We can dream, no?<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Matto Marjanovic: "Microtek woes"</a>
<li> <b>Previous message:</b> <a href="0062.html">Tomas Hecker: "Microtek ScanMaker 330"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Tomas Hecker: "Microtek ScanMaker 330"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">Rogier Wolff: "Re: Microtek ScanMaker 330"</a>
<li> <b>Reply:</b> <a href="0066.html">Rogier Wolff: "Re: Microtek ScanMaker 330"</a>
<!-- reply="end" -->
</ul>
