<!-- received="Thu Mar 12 05:25:27 1998 PST" -->
<!-- sent="Thu, 12 Mar 1998 14:24:26 +0100" -->
<!-- name="Mike" -->
<!-- email="root@srv.enet.it" -->
<!-- subject="(no subject)" -->
<!-- id="199803121324.OAA15857@srv.enet.it" -->
<!-- inreplyto="" -->
<title>sane-devel: (no subject)</title>
<h1>(no subject)</h1>
<b>Mike</b> (<a href="mailto:root@srv.enet.it"><i>root@srv.enet.it</i></a>)<br>
<i>Thu, 12 Mar 1998 14:24:26 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">mikem@enet.it: "Getting an "unresolved symbol 'outb'" error"</a>
<li> <b>Previous message:</b> <a href="0082.html">Stefano Buelow: "Re: Microtek woes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi...<br>
I've been playing with sane-0.71 for a while, and i got it all well compiled. <br>
The only thing is that when I enable some drivers in dll.conf other than pnm, <br>
I immediately get an error: can't resolve symbol "outb", from both scanimage <br>
and xscanimage.<br>
If someone is so kind to give me the right compilation hint, I'de be very <br>
grateful. Please notice that I have no scanner attached to my system yet, but <br>
I am using sane only for testing purposes, with a BW quickcam.<br>
Thanx in advance for the eventual answer.<br>
Michael.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">mikem@enet.it: "Getting an "unresolved symbol 'outb'" error"</a>
<li> <b>Previous message:</b> <a href="0082.html">Stefano Buelow: "Re: Microtek woes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
