<!-- received="Sat Mar 14 13:19:10 1998 PST" -->
<!-- sent="Sat, 14 Mar 1998 15:34:48 -0500 (EST)" -->
<!-- name="Raymond A. Ingles" -->
<!-- email="inglesra@frc.com" -->
<!-- subject="HP Scanjet Plus?" -->
<!-- id="Pine.SUN.3.91.980314152436.11198F-100000@lookdown" -->
<!-- inreplyto="19980314172726.44416@luxor.IN-Berlin.DE" -->
<title>sane-devel: HP Scanjet Plus?</title>
<h1>HP Scanjet Plus?</h1>
<b>Raymond A. Ingles</b> (<a href="mailto:inglesra@frc.com"><i>inglesra@frc.com</i></a>)<br>
<i>Sat, 14 Mar 1998 15:34:48 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Kevin Dalley: "Re: PB compile sane-0.71"</a>
<li> <b>Previous message:</b> <a href="0099.html">Arfst Ludwig: "Backends"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Here at work they are throuwing out an old HP ScanJet Plus. This is an<br>
8-bit greyscale scanner. The manuals are with it, along with all the <br>
software. I'd like to play with it, but I thought I'd ask first and see <br>
if I'm wasting my time.<br>
<p>
 This thing is *old*. The software comes on 11 5-1/4" floppies, and <br>
are copyright 1988, and are for Windows 286. :-&gt; Still, it appears to be <br>
functional.<br>
<p>
 However, the manuals mention an interface card (from the pictures, an <br>
8-bit ISA card). The back of the scanner has a Centronics plug clearly <br>
labeled "Parallel I/F". The interface card is not available.<br>
<p>
 Does anyone know what kind of interface card this might be? A friend of <br>
mine thought it might have used a special SCSI-to-parallel card. If it's <br>
a parallel I/F, I might take a swing at reverse engineering it. If it's <br>
SCSI, well, I might be able to hack up a cable and see what can be done.<br>
<p>
 If no one knows I'll go bug HP directly, but I thought this was a very <br>
likely place to go for information. Thanks!<br>
<p>
 Sincerely,<br>
<p>
 Ray Ingles        (248) 377-7735        <a href="mailto:ray.ingles@fanucrobotics.com">ray.ingles@fanucrobotics.com</a><br>
<p>
 "Is knowledge knowable? If not, how do we know this?" -- Woody Allen<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Kevin Dalley: "Re: PB compile sane-0.71"</a>
<li> <b>Previous message:</b> <a href="0099.html">Arfst Ludwig: "Backends"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
