<!-- received="Mon Mar 16 00:31:23 1998 PST" -->
<!-- sent="Mon, 16 Mar 1998 09:26:46 +0100" -->
<!-- name="Sven Geggus" -->
<!-- email="geg@iitb.fhg.de" -->
<!-- subject="Polaroid Digital Kamera PDC-2000" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Polaroid Digital Kamera PDC-2000</title>
<h1>Polaroid Digital Kamera PDC-2000</h1>
<b>Sven Geggus</b> (<a href="mailto:geg@iitb.fhg.de"><i>geg@iitb.fhg.de</i></a>)<br>
<i>Mon, 16 Mar 1998 09:26:46 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Leigh Orf: "memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Previous message:</b> <a href="0104.html">Kenneth Crudup: "Just the facts, ma'am"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
as I didn't find any info concerning sane support for the Polaroid Digital<br>
Camera PDC-2000 but something about Microscope Camera's, my question is now:<br>
<p>
Will the Driver for Microscope Camera's work with the PDC-2000 as well?<br>
<p>
TIA for Info<br>
<p>
Please send responces via Email, as I am not on this MAjordomo list.<br>
<p>
Bye<br>
<p>
Sven<br>
<p>
<pre>
-- 
|_||_|||| Sven Geggus @ Fraunhofer Institut fuer Informations und
|_||_|||| Datenverarbeitung, Karlsruhe, GERMANY (<a href="http://wsd.iitb.fhg.de/">http://wsd.iitb.fhg.de/</a>)
|       | ... LinuX powered DATA aquisition and evaluation
| IITB  | PGP Key available @ <a href="http://www.ca1.fhg.de/fhgpca/">http://www.ca1.fhg.de/fhgpca/</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Leigh Orf: "memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Previous message:</b> <a href="0104.html">Kenneth Crudup: "Just the facts, ma'am"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
