<!-- received="Tue Mar 17 16:35:24 1998 PST" -->
<!-- sent="Tue, 17 Mar 1998 19:34:08 -0500" -->
<!-- name="Peter JD Hall" -->
<!-- email="phall@ilap.com" -->
<!-- subject="Re: Adaptec AVA-1502AE vs. aha152x" -->
<!-- id="" -->
<!-- inreplyto="Adaptec AVA-1502AE vs. aha152x" -->
<title>sane-devel: Re: Adaptec AVA-1502AE vs. aha152x</title>
<h1>Re: Adaptec AVA-1502AE vs. aha152x</h1>
<b>Peter JD Hall</b> (<a href="mailto:phall@ilap.com"><i>phall@ilap.com</i></a>)<br>
<i>Tue, 17 Mar 1998 19:34:08 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">David Wolfskill: "Re: MicroTek scanner"</a>
<li> <b>Previous message:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0107.html">Mike: "Adaptec AVA-1502AE vs. aha152x"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Mike,<br>
    I have  read on the net that there is some problem with sane 71 working<br>
with the micotek backend.  Currently I am using sane .70.  I will stay with<br>
this version until the issue is resolved.  I have not set up the gimp as I<br>
really only need line art scanning B/W for my purposes.  I do not know if<br>
these two chips are the same.  I will have to open my box later this week.<br>
I will let you know at that time if mine is different.<br>
 In /etc/conf.modules<br>
&lt;alias ppp0 ppp<br>
alias ppp1 ppp<br>
alias scsi_hostadapter aha152x<br>
alias slip0 slip<br>
alias slip1 slip<br>
alias tty-ldisc-1 slip<br>
alias tty-ldisc-3 ppp<br>
# Options<br>
options dummy0 -o dummy0<br>
options dummy1 -o dummy1&gt;<br>
<p>
/etc/rc.d/rc.modules<br>
<p>
#/sbin/modprobe 53c7,8xx<br>
#/sbin/modprobe NCR53c406a<br>
/sbin/modprobe aha152x aha152x=0x140,10,7,1<br>
#/sbin/modprobe aha1542<br>
.............................................................. snip<br>
......................<br>
#/sbin/modprobe scsi_syms<br>
#/sbin/modprobe sd_mod<br>
#/sbin/modprobe seagate<br>
/sbin/modprobe sg<br>
#/sbin/modprobe sr_mod<br>
#/sbin/modprobe st<br>
#/sbin/modprobe u14-34f<br>
#/sbin/modprobe ultrastor<br>
#/sbin/modprobe wd700<br>
/etc/rc.d/rc.S<br>
# This loads any kernel modules that are needed.  These might be required<br>
to<br>
# use your CD-ROM drive, bus mouse, ethernet card, or other optional<br>
hardware.<br>
if [ -x /etc/rc.d/rc.modules ]; then<br>
  . /etc/rc.d/rc.modules<br>
fi<br>
<p>
Well Mike I hope this is some help.  The problem I had was with the linking<br>
of the scanner with the correct device ie sge in my case.  I have the<br>
required driver compiled into the kernel and then I turn on the scanner<br>
when I want to use it but I was not able to get it working as a loadable<br>
module.<br>
Cheers<br>
Peter Hall<br>
PS I don't really know much about this but I kept on hacking until it<br>
worked.<br>
Mike wrote:<br>
<p>
<i>&gt; Hi...</i><br>
<i>&gt; I've seen a mail from you in the mostang mail list.</i><br>
<i>&gt; I think you can give me some hints...</i><br>
<i>&gt; I am running a linux box with Slackware 3.3.0 and kernel 2.0.33, gimp</i><br>
<i>&gt; latest, sane-0.71 and gtk+ latest.</i><br>
<i>&gt; I have been desperatedly working in the past 2 days on having the</i><br>
<i>&gt; Adaptec AVA-1502AE (not simply AVA-1502E: 1st question:</i><br>
<i>&gt; IS THERE ANY DIFFERENCE BETWEEN THE 2?) recognized by linux. My attempts</i><br>
<i>&gt; failed. I tried both with sg and aha152x compiled into the kernel with a</i><br>
<i>&gt; lilo command line AND with the modularized version of the 3 scsi modules</i><br>
<i>&gt; (scsi_mod sg and aha152x).</i><br>
<i>&gt; I suppose in both cases I provided the wrong configuration line.</i><br>
<i>&gt; Has it to be exactly aha152x=0x140,9,7,0,1,1?? (while the defaults would</i><br>
<i>&gt; be 0x140,11,7,1,1,0,100,0)</i><br>
<i>&gt; I tried with aha152x=0x140,9,7,1 leaving the rest as default, with no</i><br>
<i>&gt; success.</i><br>
<i>&gt; The thing I especially wonder about is, whether the AVA-1502E and</i><br>
<i>&gt; AVA-1502AE are the same card and chip.</i><br>
<i>&gt; In my scanner (Microtek ScanMaker E3) manual, for example, I have the</i><br>
<i>&gt; card referred to as AVA-1502E, but on the card chip the type is</i><br>
<i>&gt; AVA-1502AE. In the manual I have 5 jumpers, IRQ9, IRPQ10, IRQ11, IRQ12</i><br>
<i>&gt; and ALT.</i><br>
<i>&gt; On the card I have:</i><br>
<i>&gt; INT0</i><br>
<i>&gt; INT1</i><br>
<i>&gt; IRQ12</i><br>
<i>&gt; IRQ11</i><br>
<i>&gt; IRQ10</i><br>
<i>&gt; IRQ9</i><br>
<i>&gt; Another question is: do you need in /etc/conf.modules the entries 'alias</i><br>
<i>&gt; sga sg' and 'scsi_hostadapter aha152x'??</i><br>
<i>&gt; Thanx for your attention, and I rely very much upon some (needed) help.</i><br>
<i>&gt; Michael.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">David Wolfskill: "Re: MicroTek scanner"</a>
<li> <b>Previous message:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0107.html">Mike: "Adaptec AVA-1502AE vs. aha152x"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
