<!-- received="Wed Mar 18 12:01:31 1998 PST" -->
<!-- sent="Wed, 18 Mar 1998 15:01:53 -0500 (EST)" -->
<!-- name="-==-" -->
<!-- email="root@syru224-111.syr.edu" -->
<!-- subject="Microtek Scanmaker E3" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek Scanmaker E3</title>
<h1>Microtek Scanmaker E3</h1>
<b>-==-</b> (<a href="mailto:root@syru224-111.syr.edu"><i>root@syru224-111.syr.edu</i></a>)<br>
<i>Wed, 18 Mar 1998 15:01:53 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">w1.rapp@von.ulm.de: "sane port to Unixware"</a>
<li> <b>Previous message:</b> <a href="0122.html">David Mosberger-Tang: "Re: An offical SANE FAQ"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	Has anyone been able, using Linux, to install the Scanmaker E3 on<br>
the Jim32eli AVA-1502AE adaptec ISA-to-SCSi Host Adapter? I can't get<br>
Linux to even hint at recognizing it...<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">w1.rapp@von.ulm.de: "sane port to Unixware"</a>
<li> <b>Previous message:</b> <a href="0122.html">David Mosberger-Tang: "Re: An offical SANE FAQ"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
