<!-- received="Thu Mar 19 11:43:16 1998 PST" -->
<!-- sent="Thu, 19 Mar 1998 14:42:51 -0500" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="SCSI problems during my SANE demo" -->
<!-- id="199803191942.OAA16298@prospero.dma.isg.mot.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SCSI problems during my SANE demo</title>
<h1>SCSI problems during my SANE demo</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Thu, 19 Mar 1998 14:42:51 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Jeremy Probber: "Need some advice"</a>
<li> <b>Previous message:</b> <a href="0132.html">Matto Marjanovic: "Microtek, SCSI, and Sane-0.71...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well,<br>
after all the hype, my SANE presentation at my local area Linux users<br>
group is over.  Unfortunately, it did not go as planned.<br>
<p>
First, my harddrive started spinning up and down.  So while I proceded<br>
to talk about SANE, my assistant opened the system and found a loose<br>
floppy cable???.  That problem went away.<br>
<p>
Then after the system came up, xscanimage locked everytime it tried to<br>
access the scanner.  Normally, there are more devices on the scanners<br>
aha1540cf SCSI chain, but tonight it was flying solo.  It's a mustek<br>
600 IICD connected via a centronics&lt;-&gt;25pin cable, and an active <br>
terminator attached to the sun-style mini SCSI connector.  In fact, it's<br>
a sun terminator (with the littel light in the back).<br>
<p>
Once I removed the terminator, everything worked great.  Too bad the meeting<br>
was over 5 minutes later.  *sigh*<br>
<p>
Does anyone have any insight to my hardware failures?  This configuration<br>
works great at home.  Once my system was reassembled at home, everything<br>
worked fine....<br>
<p>
We did compile SANE on a laptop and proceded to demo from it using the<br>
scanner (again without a terminator).  That worked out pretty well while<br>
we finished doctoring my system.<br>
<p>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Jeremy Probber: "Need some advice"</a>
<li> <b>Previous message:</b> <a href="0132.html">Matto Marjanovic: "Microtek, SCSI, and Sane-0.71...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
