<!-- received="Thu Mar 19 13:27:42 1998 PST" -->
<!-- sent="Thu, 19 Mar 1998 21:32:21 +0000" -->
<!-- name="Petri Lehtonen" -->
<!-- email="onaias@iki.fi" -->
<!-- subject="xscanimage problems" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage problems</title>
<h1>xscanimage problems</h1>
<b>Petri Lehtonen</b> (<a href="mailto:onaias@iki.fi"><i>onaias@iki.fi</i></a>)<br>
<i>Thu, 19 Mar 1998 21:32:21 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#138">[ date ]</a><a href="index.html#138">[ thread ]</a><a href="subject.html#138">[ subject ]</a><a href="author.html#138">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Matto Marjanovic: "a "hints" page for the AVA-1502"</a>
<li> <b>Previous message:</b> <a href="0137.html">Paul Walker: "RE: Need some advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I have sane 0.71 installed from the binary RPM (for Intel) on RedHat<br>
5.0.  scanimage works fine,  but xscanimage doesn't do anything just<br>
dies away.<br>
<p>
I have included here the last 30 or so lines of strace output on<br>
xscanimage, in case some of can work something out of it.<br>
<p>
Oh and is there a way to control the dpi from scanimage. It seems pretty<br>
low on default. Couldn't find any info on it's man page.<br>
<p>
petri<br>
<p>
<p>
------------strace output---------<br>
<p>
open("/usr/X11R6/lib/libnss_files.so.1", O_RDONLY) = -1 ENOENT (No such<br>
file or directory)<br>
open("/lib/libnss_files.so.1", O_RDONLY) = 4<br>
mmap(0, 4096, PROT_READ, MAP_PRIVATE, 4, 0) = 0x4030f000<br>
brk(0x807b000)                          = 0x807b000<br>
munmap(0x4030f000, 4096)                = 0<br>
mmap(0, 31964, PROT_READ|PROT_EXEC, MAP_PRIVATE, 4, 0) = 0x4030f000<br>
mprotect(0x40316000, 3292, PROT_NONE)   = 0<br>
mmap(0x40316000, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 4,<br>
0x6000) = 0x40316000<br>
close(4)                                = 0<br>
mprotect(0x4030f000, 28672, PROT_READ|PROT_WRITE) = 0<br>
mprotect(0x4030f000, 28672, PROT_READ|PROT_EXEC) = 0<br>
open("/etc/passwd", O_RDONLY)           = 4<br>
fcntl(4, F_GETFD)                       = 0<br>
fcntl(4, F_SETFD, FD_CLOEXEC)           = 0<br>
fstat(4, {st_mode=0, st_size=0, ...})   = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) =<br>
0x40317000<br>
read(4, "root:JHtzoWUiYiKcE:0:0:root:/roo"..., 4096) = 748<br>
close(4)                                = 0<br>
munmap(0x40317000, 4096)                = 0<br>
--- SIGSEGV (Segmentation fault) ---<br>
write(3, "f\0\3\0\200\0\0\0\1\0\0\0&lt;a\2\0\0"..., 32) = 32<br>
read(3, 0xbfffee0c, 32)                 = -1 EAGAIN (Resource<br>
temporarily unavailable)<br>
select(4, [3], NULL, NULL, NULL)        = 1 (in [3])<br>
read(3, "\1\1$\0\0\0\0\0\v\0\200\2\0\0\0\0"..., 32) = 32<br>
shutdown(3, 2 /* send and receive */)   = 0<br>
close(3)                                = 0<br>
_exit(1)                                = ?<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Matto Marjanovic: "a "hints" page for the AVA-1502"</a>
<li> <b>Previous message:</b> <a href="0137.html">Paul Walker: "RE: Need some advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
