<!-- received="Sun Mar 22 14:28:01 1998 PST" -->
<!-- sent="Mon, 23 Mar 1998 09:27:29 +1100 (EST)" -->
<!-- name="Stephen Robert Norris" -->
<!-- email="srn@flibble.psrg.cs.usyd.edu.AU" -->
<!-- subject="Re: xscanimage &amp; preview bug?" -->
<!-- id="" -->
<!-- inreplyto="199803222157.NAA01949@panda.mostang.com" -->
<title>sane-devel: Re: xscanimage &amp; preview bug?</title>
<h1>Re: xscanimage &amp; preview bug?</h1>
<b>Stephen Robert Norris</b> (<a href="mailto:srn@flibble.psrg.cs.usyd.edu.AU"><i>srn@flibble.psrg.cs.usyd.edu.AU</i></a>)<br>
<i>Mon, 23 Mar 1998 09:27:29 +1100 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Stephen Robert Norris: "Re: xscanimage &amp; preview bug?"</a>
<li> <b>Previous message:</b> <a href="0154.html">Hugo van der Kooij: "Re: xscanimage &amp; preview bug?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; What OS are you using?  Have you tried starting xscanimage with the</i><br>
<i>&gt; --no-xshm option?</i><br>
<i>&gt; </i><br>
<i>&gt;      --david</i><br>
<p>
Linux. Yes. Didn't help.<br>
<p>
	Stephen<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Stephen Robert Norris: "Re: xscanimage &amp; preview bug?"</a>
<li> <b>Previous message:</b> <a href="0154.html">Hugo van der Kooij: "Re: xscanimage &amp; preview bug?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
