<!-- received="Sun Mar 22 14:40:55 1998 PST" -->
<!-- sent="Mon, 23 Mar 1998 09:40:25 +1100 (EST)" -->
<!-- name="Stephen Robert Norris" -->
<!-- email="srn@flibble.psrg.cs.usyd.edu.AU" -->
<!-- subject="Re: xscanimage &amp; preview bug?" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980322231007.31820A-100000@hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: xscanimage &amp; preview bug?</title>
<h1>Re: xscanimage &amp; preview bug?</h1>
<b>Stephen Robert Norris</b> (<a href="mailto:srn@flibble.psrg.cs.usyd.edu.AU"><i>srn@flibble.psrg.cs.usyd.edu.AU</i></a>)<br>
<i>Mon, 23 Mar 1998 09:40:25 +1100 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Hugo van der Kooij: "Re: xscanimage &amp; preview bug?"</a>
<li> <b>Previous message:</b> <a href="0155.html">Stephen Robert Norris: "Re: xscanimage &amp; preview bug?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I could not et the posted patch working. So I used my own patch. (which is</i><br>
<i>&gt; just the patch on the first two files) and sane 0.71 works great here with</i><br>
<i>&gt; gtk+ 0.99.8 and gimp 0.99.22!</i><br>
<i>&gt; </i><br>
<i>&gt; Hugo.</i><br>
<i>&gt; </i><br>
<p>
This is what I did too - I ignored everything except the first two files.<br>
<p>
This is not a new problem with gtk 0.99.7 - it's been happening for months...<br>
<p>
	Stephen<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Hugo van der Kooij: "Re: xscanimage &amp; preview bug?"</a>
<li> <b>Previous message:</b> <a href="0155.html">Stephen Robert Norris: "Re: xscanimage &amp; preview bug?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
