<!-- received="Sun Mar 22 15:42:41 1998 PST" -->
<!-- sent="Mon, 23 Mar 1998 00:42:34 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: xscanimage &amp; preview bug?" -->
<!-- id="" -->
<!-- inreplyto="ML-2.3.890606425.2583.srn@flibble.psrg.cs.usyd.edu.au" -->
<title>sane-devel: Re: xscanimage &amp; preview bug?</title>
<h1>Re: xscanimage &amp; preview bug?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Mon, 23 Mar 1998 00:42:34 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Arjen Schoneveld: "Re: non-Linux &amp; Mustek ScanExpress"</a>
<li> <b>Previous message:</b> <a href="0156.html">Stephen Robert Norris: "Re: xscanimage &amp; preview bug?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 23 Mar 1998, Stephen Robert Norris wrote:<br>
<p>
<i>&gt; &gt; I could not et the posted patch working. So I used my own patch. (which is</i><br>
<i>&gt; &gt; just the patch on the first two files) and sane 0.71 works great here with</i><br>
<i>&gt; &gt; gtk+ 0.99.8 and gimp 0.99.22!</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Hugo.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; </i><br>
<i>&gt; This is what I did too - I ignored everything except the first two files.</i><br>
<i>&gt; </i><br>
<i>&gt; This is not a new problem with gtk 0.99.7 - it's been happening for months...</i><br>
<p>
Well the main difference could be that I have done the mainstream work on<br>
my Alpha system.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Arjen Schoneveld: "Re: non-Linux &amp; Mustek ScanExpress"</a>
<li> <b>Previous message:</b> <a href="0156.html">Stephen Robert Norris: "Re: xscanimage &amp; preview bug?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
