<!-- received="Mon Mar 23 00:44:09 1998 PST" -->
<!-- sent="Mon, 23 Mar 1998 09:44:08 +0100 (MET)" -->
<!-- name="Arjen Schoneveld" -->
<!-- email="arjen@wins.uva.nl" -->
<!-- subject="Re: non-Linux &amp; Mustek ScanExpress" -->
<!-- id="199803230844.JAA25611@carol.wins.uva.nl" -->
<!-- inreplyto="35140096.D6478B37@ic.ac.uk" -->
<title>sane-devel: Re: non-Linux &amp; Mustek ScanExpress</title>
<h1>Re: non-Linux &amp; Mustek ScanExpress</h1>
<b>Arjen Schoneveld</b> (<a href="mailto:arjen@wins.uva.nl"><i>arjen@wins.uva.nl</i></a>)<br>
<i>Mon, 23 Mar 1998 09:44:08 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Mathias Koerber: "Minolta DUalscan , first shades of success?"</a>
<li> <b>Previous message:</b> <a href="0157.html">Hugo van der Kooij: "Re: xscanimage &amp; preview bug?"</a>
<li> <b>In reply to:</b> <a href="0149.html">Dr. Andreas Bolsch: "non-Linux &amp; Mustek ScanExpress"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0160.html">Dr. Andreas Bolsch: "Re: non-Linux &amp; Mustek ScanExpress"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Quoting Dr. Andreas Bolsch,<br>
<i>&gt; </i><br>
<i>&gt; Does anybody have experience with a Mustek ScanExpress on a non-Linux</i><br>
<i>&gt; system? On my Linux box the ScanExpress 12000SP is connected via</i><br>
<i>&gt; the DTCT436 card shipped with scanner. The scanner is detected and</i><br>
<i>&gt; reacts (to some extent) to the SCSI commands. </i><br>
<i>&gt; </i><br>
<i>&gt;</i><br>
<p>
Hi,<br>
<p>
Could you tell me what SCSI driver you used under Linux for the <br>
DTCT436 card?<br>
I've just obtained a ScanExpress 12000SP and I'd like to use it<br>
under Linux.<br>
In previous mails I read that the 12000SP is properly<br>
functioning under SANE. Do you happen to know if there are any<br>
differences between the ScanExpress 12000SP and the ... 12000SP?<br>
<p>
Thanks very much in advance,<br>
<p>
Arjen Schoneveld<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Mathias Koerber: "Minolta DUalscan , first shades of success?"</a>
<li> <b>Previous message:</b> <a href="0157.html">Hugo van der Kooij: "Re: xscanimage &amp; preview bug?"</a>
<li> <b>In reply to:</b> <a href="0149.html">Dr. Andreas Bolsch: "non-Linux &amp; Mustek ScanExpress"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0160.html">Dr. Andreas Bolsch: "Re: non-Linux &amp; Mustek ScanExpress"</a>
<!-- reply="end" -->
</ul>
