<!-- received="Mon Mar 30 17:42:14 1998 PST" -->
<!-- sent="Mon, 30 Mar 1998 16:43:39 -0900" -->
<!-- name="Slana" -->
<!-- email="suslosit@ptialaska.net" -->
<!-- subject="Micotek E3, SANE-0.69," -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Micotek E3, SANE-0.69,</title>
<h1>Micotek E3, SANE-0.69,</h1>
<b>Slana</b> (<a href="mailto:suslosit@ptialaska.net"><i>suslosit@ptialaska.net</i></a>)<br>
<i>Mon, 30 Mar 1998 16:43:39 -0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#206">[ date ]</a><a href="index.html#206">[ thread ]</a><a href="subject.html#206">[ subject ]</a><a href="author.html#206">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">David Mosberger-Tang: "Re: Looking for help"</a>
<li> <b>Previous message:</b> <a href="0205.html">Chris Pinkham: "Artec AT3 and A6000C Plus driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Had success for some time with this setup including RH 5.0, and GIMP.<br>
I now find after various Red Hat Errata updates and a netscape 4.04rpm<br>
install that the color option no longer works under scan though the<br>
preview sindow still shows the object in color. Gray and LineArt still<br>
work fine however.<br>
	Am I missing something obvious?<br>
<p>
<a href="mailto:suslosit@ptialaska.net">suslosit@ptialaska.net</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">David Mosberger-Tang: "Re: Looking for help"</a>
<li> <b>Previous message:</b> <a href="0205.html">Chris Pinkham: "Artec AT3 and A6000C Plus driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
