<!-- received="Sun Mar 30 23:54:06 1997 MST" -->
<!-- sent="Sun, 30 Mar 1997 23:46:38 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: new snapshot" -->
<!-- id="199703310646.XAA27430@panda.mosberger" -->
<!-- inreplyto="new snapshot" -->
<title>sane-devel: Re: new snapshot</title>
<h1>Re: new snapshot</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 30 Mar 1997 23:46:38 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">XxEDGExX: "Re: new snapshot"</a>
<li> <b>Previous message:</b> <a href="0032.html">XxEDGExX: "Re: new snapshot"</a>
<li> <b>Maybe in reply to:</b> <a href="0031.html">David Mosberger-Tang: "new snapshot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 30 Mar 1997 16:56:47 -0500 (EST), XxEDGExX &lt;<a href="mailto:jeremy@xxedgexx.com">jeremy@xxedgexx.com</a>&gt; said:</i><br>
<p>
  Jeremy&gt; The new snapshot worked fine configuring on my P6.  One<br>
  Jeremy&gt; thing I noticed, is that xscan.c looks for gimp.h in a usual<br>
  Jeremy&gt; include directory, and it seems like with the latest gimp's<br>
  Jeremy&gt; from the development tree, that it places gimp.h in<br>
  Jeremy&gt; /usr/local/include/libgimp/gimp.h.  Just a little minor<br>
  Jeremy&gt; detail.<br>
<p>
Oops, you're right.  I didn't notice that gimp.h moved into its own<br>
subdirectory.  Will be fixed in the next snapshot.<br>
<p>
  Jeremy&gt; As far as testing the qcam, I only have a B&amp;W.  Will it even<br>
  Jeremy&gt; attempt to find my qcam with it being a B&amp;W, because it<br>
  Jeremy&gt; doesn't even seem to try to locate it.<br>
<p>
Yes, it should detect the camera.  See the SANE archive for mails on<br>
somebody else's experience with a b&amp;w qcam.<br>
<p>
  Jeremy&gt; The gtk window just pops up listing no devices, and I do<br>
  Jeremy&gt; have a qcam.conf /etc/sane.d<br>
<p>
Note that SANE looks in /usr/local/etc/sane.d by default (as described<br>
in the READMEs).<br>
<p>
  Jeremy&gt; Also I was wondering,<br>
  Jeremy&gt; just for testing purposed, will the DTC SCSI card work with<br>
  Jeremy&gt; sane and the Mustek, or is that out of the question.<br>
<p>
Please do read the READMEs.  This is documented in backend/mustek.README.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">XxEDGExX: "Re: new snapshot"</a>
<li> <b>Previous message:</b> <a href="0032.html">XxEDGExX: "Re: new snapshot"</a>
<li> <b>Maybe in reply to:</b> <a href="0031.html">David Mosberger-Tang: "new snapshot"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
