<!-- received="Wed Apr  2 07:37:30 1997 MST" -->
<!-- sent="Wed, 2 Apr 1997 07:29:18 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: =?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=" -->
<!-- id="199704021429.HAA18195@panda.mosberger" -->
<!-- inreplyto="=?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=" -->
<title>sane-devel: Re: =?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=</title>
<h1>Re: =?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 2 Apr 1997 07:29:18 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Gordon Matzigkeit: "0.50: xscan parameters label problems"</a>
<li> <b>Previous message:</b> <a href="0039.html">Mathias Weigt: "=?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?="</a>
<li> <b>Maybe in reply to:</b> <a href="0039.html">Mathias Weigt: "=?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?="</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 2 Apr 1997 14:04:34 -0600, "Mathias Weigt (Stud. 94)" &lt;<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a>&gt; said:</i><br>
<p>
  Mathias&gt; The GTK+ from gimp-0.99.6 works no longer. Only<br>
  Mathias&gt; with the provided gtk+ sane-0.51 can be compiled.<br>
<p>
This is correct (well, SANE will compile with an older gtk, but you<br>
won't get xscan &amp; xcam that way).<br>
<p>
  Mathias&gt; I had to<br>
  Mathias&gt; include sys/param.h in frontend/preview.h to avoid the an<br>
  Mathias&gt; error that sounds like that: "PATH_MAX wasn`t<br>
  Mathias&gt; defined...". But with the new gtk+ this has become<br>
  Mathias&gt; obsolete.<br>
<p>
OK, I fixed this.<br>
<p>
  Mathias&gt; Sane-0.51 works (tooltips are a nice feature). Your mustek<br>
  Mathias&gt; patch works also but not for color scanning. It fixes the<br>
  Mathias&gt; range mismatch. But every resolution<br>
  Mathias&gt; &gt; 311 dpi is divided by 10; so at 599dpi 60dpi are scanned.<br>
<p>
Oops, there was a typo.  Try this patch:<br>
<p>
--- sane-0.51/backend/mustek.c~	Wed Apr  2 07:25:29 1997<br>
+++ sane-0.51/backend/mustek.c	Wed Apr  2 07:25:54 1997<br>
@@ -673,7 +673,7 @@<br>
   /* or in single/multi bit: */<br>
   start[4] |= (s-&gt;mode &amp; MUSTEK_MODE_MULTIBIT) ? (1 &lt;&lt; 6) : 0;<br>
 <br>
-  if (!s-&gt;hw-&gt;flags &amp; MUSTEK_FLAG_SINGLE_PASS)<br>
+  if (!(s-&gt;hw-&gt;flags &amp; MUSTEK_FLAG_SINGLE_PASS))<br>
     /* or in expanded resolution bit: */<br>
     start[4] |= (s-&gt;resolution_code &amp; 0x100) &gt;&gt; 1;<br>
<p>
  Mathias&gt; When scanning in color mode the following error message<br>
  Mathias&gt; occurs after the first pass: "Failed to start scanner:<br>
  Mathias&gt; Device busy"<br>
<p>
I'm not sure yet what's going wrong.  Could you send me the output you<br>
get when invoking "scan" with environment variables SANE_DEBUG_MUSTEK<br>
and SANE_DEBUG_DLL set to 128?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Gordon Matzigkeit: "0.50: xscan parameters label problems"</a>
<li> <b>Previous message:</b> <a href="0039.html">Mathias Weigt: "=?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?="</a>
<li> <b>Maybe in reply to:</b> <a href="0039.html">Mathias Weigt: "=?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?="</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
