<!-- received="Wed Apr  2 14:04:53 1997 MST" -->
<!-- sent="Wed, 2 Apr 1997 13:51:03 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: 0.50: xscan parameters label problems" -->
<!-- id="199704022051.NAA00472@panda.mosberger" -->
<!-- inreplyto="0.50: xscan parameters label problems" -->
<title>sane-devel: Re: 0.50: xscan parameters label problems</title>
<h1>Re: 0.50: xscan parameters label problems</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 2 Apr 1997 13:51:03 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">David Mosberger-Tang: "gtk-tooltips.diff.gz"</a>
<li> <b>Previous message:</b> <a href="0041.html">Gordon Matzigkeit: "0.50: xscan parameters label problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0041.html">Gordon Matzigkeit: "0.50: xscan parameters label problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Gordon Matzigkeit: "Re: 0.50: xscan parameters label problems"</a>
<li> <b>Reply:</b> <a href="0044.html">Gordon Matzigkeit: "Re: 0.50: xscan parameters label problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On 02 Apr 1997 12:03:59 -0700, Gordon Matzigkeit &lt;<a href="mailto:gord@m-tech.ab.ca">gord@m-tech.ab.ca</a>&gt; said:</i><br>
<p>
  Gord&gt; Hi!  When I set my PINT scanner to scan really big, high<br>
  Gord&gt; resolution pictures, xscan doesn't like me.<br>
<p>
I guess that means the PING backend is working, more or less---great!<br>
;-)<br>
<p>
  Gord&gt; Here is the standard output:<br>
<p>
  Gord&gt; new params: 746x1296: 22.1 MB new params: 1007x1750: 40.3 MB<br>
  Gord&gt; new params: 1537x2670: 93.9 MB new params: 2066x3589: 169.7 MB<br>
  Gord&gt; new params: 2595x4509: -148676209.-6 B new params: 3125x5429:<br>
  Gord&gt; -22321729.-6 B<br>
<p>
  Gord&gt; As you see, the parameters overflow.<br>
<p>
You mean you're running on a wimpy 32-bit machine? ;-))  Seriously though:<br>
<p>
	2595*4509*24 = 2.8e8 ~= 268MB<br>
<p>
I don't see why this should overflow even on a 32 bit machine.  Can you<br>
look into this?<br>
<p>
Aside from the overflow: note that the depth parameter is the depth<br>
_per channel_, so it probably ought to be 8 instead (none of the<br>
frontends currently support more than that).  E.g., with the Mustek<br>
backend I get:<br>
<p>
	new params: 4612x6469: 85.3 MB<br>
<p>
(i.e., 4612*6469*3, which gives more reasonable sizes).<br>
<p>
  Gord&gt; Also, the ``new params'' aren't displayed when I change the<br>
  Gord&gt; scanning mode from color to grayscale and vice versa.  I have<br>
  Gord&gt; to change some other attribute to get them redisplayed.<br>
<p>
Did you return an info value with SANE_INFO_RELOAD_PARAMS on when<br>
xscan set the color-&gt;grayscale option?  If you don't set that bit,<br>
xscan won't now that it should update the parameters.<br>
<p>
  Gord&gt; And finally, xscan displays nothing in the window when the<br>
  Gord&gt; params exceed 19 chars (or whatever the size of "x: . MB" plus<br>
  Gord&gt; 11 digits is), e.g. when ``new params'' shows that the output<br>
  Gord&gt; file is greater than 100 MB in size.<br>
<p>
Yes, this is believed to be a gtk bug.  It used to work fine with the<br>
previous gtk version (October 1996).  With the current gtk version,<br>
you have to resize the xscan window to make the label wide enough so<br>
the text fits in.  I'm not planning on spending time on this until gtk<br>
becomes more stable.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">David Mosberger-Tang: "gtk-tooltips.diff.gz"</a>
<li> <b>Previous message:</b> <a href="0041.html">Gordon Matzigkeit: "0.50: xscan parameters label problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0041.html">Gordon Matzigkeit: "0.50: xscan parameters label problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Gordon Matzigkeit: "Re: 0.50: xscan parameters label problems"</a>
<li> <b>Reply:</b> <a href="0044.html">Gordon Matzigkeit: "Re: 0.50: xscan parameters label problems"</a>
<!-- reply="end" -->
</ul>
