<!-- received="Thu Apr 10 09:23:05 1997 MST" -->
<!-- sent="Thu, 10 Apr 1997 09:08:28 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="anybody with a Mustek 3-pass scanner?" -->
<!-- id="199704101608.JAA15303@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: anybody with a Mustek 3-pass scanner?</title>
<h1>anybody with a Mustek 3-pass scanner?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 10 Apr 1997 09:08:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Matthias Lautner: "Re: mustek 3-pass backend fix"</a>
<li> <b>Previous message:</b> <a href="0048.html">David Mosberger-Tang: "Re: color scanning and MFS-6000CX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Could anybody with access to a Mustek 3-pass scanner help me fix the<br>
remaining 3 pass scanning related bugs in the Mustek SANE backend?  As<br>
near as I can tell, it almost works and I suspect there are just two<br>
or three minor bugs left.  The problem is: I can't debug it myself<br>
since I don't have such a scanner.  Could somebody with such a scanner<br>
<p>
	(a) get the sources and debug the remaining problem(s), or<br>
	(b) give me access to a machine with such a scanner so I can debug<br>
	    it myself (I have had access to Linus's and Red Hat's development<br>
	    machine, so you really do not need to worry about me messing up<br>
	    your system), or<br>
	(c) test the current code and provide debug output when things go<br>
	    wrong (you don't need to worry about damaging your scanner<br>
	    or computer doing this...); short email turnaround time would<br>
	    help here to get this done quickly<br>
<p>
For those of you not on the SANE mailing list: you can find the latest<br>
SANE snapshot at:<br>
<p>
	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-0.52.tar.gz">ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-0.52.tar.gz</a><br>
<p>
If you have tried earlier versions of SANE, you might want to try<br>
again: building has become a snap (just run configure &amp; make and<br>
you're all set; this is true even if you had problems with<br>
shared/dynamic loading).<br>
<p>
More info (with standards docs &amp; mailing-list archive) can be found at:<br>
<p>
	<a href="http://www.azstarnetcom/~axplinux/sane/">http://www.azstarnetcom/~axplinux/sane/</a><br>
<p>
Note that SANE comes with a graphical frontend called xscan.  To build<br>
it, you'll need to get the gtk tar ball in the above ftp directory.<br>
But I think you'll find it's well worth the trouble when looking at<br>
the advantages of xscan over tkmscan or tkmuscan.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Matthias Lautner: "Re: mustek 3-pass backend fix"</a>
<li> <b>Previous message:</b> <a href="0048.html">David Mosberger-Tang: "Re: color scanning and MFS-6000CX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
