<!-- received="Tue Apr 22 19:38:35 1997 MST" -->
<!-- sent="Tue, 22 Apr 1997 19:16:31 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="sane-0.55 now available!" -->
<!-- id="199704230216.TAA01166@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.55 now available!</title>
<h1>sane-0.55 now available!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 22 Apr 1997 19:16:31 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Mathias Weigt: "Re: xscanimage performance"</a>
<li> <b>Previous message:</b> <a href="0081.html">David Mosberger-Tang: "Re: Connecting SANE and Java?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OK, as promised, sane-0.55 is now available:<br>
<p>
	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/">ftp://ftp.azstarnet.com/pub/linux/axp/sane/</a><br>
<p>
files:<br>
<p>
-rw-rw-r--   1 davidm   other        768 Apr 22 19:04 sane-0.55.lsm<br>
-rw-rw-r--   1 davidm   other     273093 Apr 22 19:06 sane-0.55.tar.gz<br>
-rw-rw-r--   1 davidm   other      59058 Apr 22 19:04 sane-0.54-0.55.diff.gz<br>
<p>
The headline <a href="news:">news:</a><br>
<p>
	- Gordon's PINT backend has been integrated<br>
<p>
	- many man-pages have been written (and the corresponding READMEs<br>
	  are gone); so far, the following is covered:<br>
<p>
		saned.1 xscanimage.1<br>
		sane-dll.5 sane-hp.5 sane-mustek.5 sane-net.5 sane-pnm.5<br>
		sane-qcam.5<br>
<p>
	- various bug fixes (xscanimage no longer crashes when restoring<br>
	  the device settings for the Mustek backend through the net<br>
	  backend; filename browser should no longer get random characters;<br>
	  preserving the preview image is now really optional, etc.)<br>
<p>
If somebody could help writing the remaining man pages, I'd really<br>
greatly appreciate it.  I think the man page for "scanimage" is the<br>
most urgent one.  Also, it would be nice to have man-pages for the<br>
SANE API functions.  Maybe we could generate them automatically from<br>
the corresponding sane.tex documentation?  Just a thought...<br>
<p>
Ah, image size computation of xscanimage should now work properly for<br>
three-pass scanners as well (this was actually fixed in sane-0.54<br>
already).  Could somebody with such a scanner confirm this to me?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Mathias Weigt: "Re: xscanimage performance"</a>
<li> <b>Previous message:</b> <a href="0081.html">David Mosberger-Tang: "Re: Connecting SANE and Java?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
