<!-- received="Sun Apr 27 08:56:47 1997 MST" -->
<!-- sent="27 Apr 1997 09:46:47 -0600" -->
<!-- name="Gordon Matzigkeit" -->
<!-- email="gord@m-tech.ab.ca" -->
<!-- subject="Re: feature request: xscanimage postview window" -->
<!-- id="m0wL65v-000BVaC@charon.beck-sw.de" -->
<!-- inreplyto="Sat, 26 Apr 1997 13:56:47 +0200 (MET DST)" -->
<title>sane-devel: Re: feature request: xscanimage postview window</title>
<h1>Re: feature request: xscanimage postview window</h1>
<b>Gordon Matzigkeit</b> (<a href="mailto:gord@m-tech.ab.ca"><i>gord@m-tech.ab.ca</i></a>)<br>
<i>27 Apr 1997 09:46:47 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">David  Mosberger: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<li> <b>Previous message:</b> <a href="0093.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: feature request: xscanimage postview window"</a>
<li> <b>In reply to:</b> <a href="0093.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: feature request: xscanimage postview window"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; Andreas Beck writes:</i><br>
<p>
<i> &gt;&gt; When not using the standalone xscanimage, I think it would be</i><br>
<i> &gt;&gt; *really* useful if a `postview' window popped up after the image</i><br>
<i> &gt;&gt; was scanned.</i><br>
<p>
 AB&gt; A simple and useful solution to this would be to be able to<br>
 AB&gt; specify a pipe as the filename, just as xv does.<br>
<p>
 AB&gt; Specifying "|xv -" would do quite what you want. Other might want<br>
 AB&gt; to use "|ppmtogif &gt;bla.gif" ...<br>
<p>
Actually, no.  This would only work for the first file that you<br>
scanned, right?  Then one would have to restart xscanimage for each<br>
new scan.  For my slow PINT backend, I want to avoid such a process.<br>
<p>
The biggest use of a `postview' window would be a to be able to see<br>
each scan attempt until one got it right.<br>
<p>
But, the more I think about it, the more it seems that such an option<br>
would be just too hard to make generic.  Even having a `postprocess'<br>
preference would be too hard to get right.<br>
<p>
I guess the current workflow:<br>
<p>
xscanimage&amp;<br>
xv out.ppm&amp;<br>
# Reload out.ppm each time it changes by hitting &lt;enter&gt; on XV.<br>
<p>
is just fine, unless anybody has any other bright ideas.<br>
<p>
Thanks anyway for your comments,<br>
<p>
<pre>
-- 
  Gord Matzigkeit   | Proudly running pieces of the GNU operating system.
 gord@m-tech.ab.ca  |  Jacques Cousteau loved programming in assembler.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">David  Mosberger: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<li> <b>Previous message:</b> <a href="0093.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: feature request: xscanimage postview window"</a>
<li> <b>In reply to:</b> <a href="0093.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: feature request: xscanimage postview window"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
