<!-- received="Sat May  3 16:36:02 1997 MST" -->
<!-- sent="Sat, 3 May 1997 15:35:10 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: xscanimage" -->
<!-- id="199705032235.PAA31080@panda.mosberger" -->
<!-- inreplyto="Pine.SUN.3.95.970503182432.11429B-100000@speedy.cip.physik.tu-muenchen.de" -->
<title>sane-devel: Re: xscanimage</title>
<h1>Re: xscanimage</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sat, 3 May 1997 15:35:10 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">David Mosberger-Tang: "Re: scanner help"</a>
<li> <b>Previous message:</b> <a href="0099.html">Vance Stith: "scanner help"</a>
<li> <b>In reply to:</b> <a href="0098.html">Andy Thaller: "xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 3 May 1997 18:48:24 +0200 (MET DST), Andy Thaller &lt;<a href="mailto:Andy.Thaller@Physik.TU-Muenchen.DE">Andy.Thaller@Physik.TU-Muenchen.DE</a>&gt; said:</i><br>
<p>
  Andy&gt; I'm using xscanimage from sane-0.56 and gtk-libs from<br>
  Andy&gt; gimp-0.99.9 Having seen the screenshots on the sane-homepage I<br>
  Andy&gt; almost immediately missed the dialog for the cusomizable gamma<br>
  Andy&gt; table. Also, I get a curve_new: sorry, the GTK library this program<br>
  Andy&gt; was linked against does not support the curve widget.  Please<br>
  Andy&gt; upgrade to the latest available GTK library.<br>
<p>
  Andy&gt; According to the code, this is because gtk/gtkcurve.h is<br>
  Andy&gt; missing.  Gimp-0.99.9 simply doesn't have it. Is there a still<br>
  Andy&gt; newer version of gtk than that coming with gimp-0.99.9 (which<br>
  Andy&gt; came out just recently) or should I link xscanimage against an<br>
  Andy&gt; older version - and which?<br>
<p>
In the SANE ftp directory, there is a file called:<br>
<p>
	gtk+970426-davidm.tar.gz<br>
<p>
It contains the gimp-0.99.9 gtk+ with gtkcurve widget (and a few other<br>
minor fixes).<br>
<p>
  Andy&gt; I've also got a suggestion for another feature in xscanimage:<br>
  Andy&gt; many scan-programs allow selecting the colormode for the<br>
  Andy&gt; preview independently of that of the scan itself. with<br>
  Andy&gt; three-pass-scanners one would rather scan a quick preview in<br>
  Andy&gt; gra y and do the high-resolution scan in color.  In<br>
  Andy&gt; xscanimage, however, you've got to change the colormode before<br>
  Andy&gt; doing the scan. What do you think about providing mode<br>
  Andy&gt; selectors for each preview and scan allowing the user to<br>
  Andy&gt; select independently?<br>
<p>
For 1-pass scanners, I kind of prefer to have the preview be in the<br>
same mode as the actual scan, but, yes, for 3-pass scanners, your<br>
suggestion makes perfect sense.  One possible solution is to have an<br>
extra option for 3-pass scanners that forces preview scans in<br>
grayscale mode.  The backend can tell wether a scan is in preview mode<br>
by looking at the value of option "preview" (which isn't implemented<br>
in the Mustek backend at present).  Do you want to add this feature?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">David Mosberger-Tang: "Re: scanner help"</a>
<li> <b>Previous message:</b> <a href="0099.html">Vance Stith: "scanner help"</a>
<li> <b>In reply to:</b> <a href="0098.html">Andy Thaller: "xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
