<!-- received="Mon May 12 08:15:59 1997 MST" -->
<!-- sent="Mon, 12 May 1997 07:49:53 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Q: Status of Microtek backend??" -->
<!-- id="199705121449.HAA05296@panda.mosberger" -->
<!-- inreplyto="199705111908.OAA10241@abattoir.cc.ndsu.nodak.edu" -->
<title>sane-devel: Re: Q: Status of Microtek backend??</title>
<h1>Re: Q: Status of Microtek backend??</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 12 May 1997 07:49:53 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">David Mosberger-Tang: "small preview fix"</a>
<li> <b>Previous message:</b> <a href="0138.html">Mathias Weigt: "Re: sane-0.57 available"</a>
<li> <b>In reply to:</b> <a href="0137.html">Nem W Schlecht: "Re: Q: Status of Microtek backend??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 11 May 1997 14:08:40 -0500 (CDT), Nem W Schlecht &lt;<a href="mailto:nem@abattoir.cc.ndsu.nodak.edu">nem@abattoir.cc.ndsu.nodak.edu</a>&gt; said:</i><br>
<p>
  Nem&gt; Michael J. Long e-mailed me on Sun May 11 08:40:27 1997 (Re:<br>
  Nem&gt; "Q: Status of Microtek backend??")<br>
<p>
<i>  &gt;&gt;  I have looked through the mailing list archives and saw that a</i><br>
<i>  &gt;&gt; couple of people have volunteered to develop it.</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; Does anyone know the status of the development??  I have a</i><br>
<i>  &gt;&gt; Microtek ScanMaker HRII and can't get mtekscan to work with it.</i><br>
<i>  &gt;&gt; Therefore, I am hoping this will work.  I am willing to be a</i><br>
<i>  &gt;&gt; tester for it when it is ready.</i><br>
<p>
  Nem&gt; Now that the summer time is here (ie - school is over) I should<br>
  Nem&gt; have more time to work on this - however, I'll probably be<br>
  Nem&gt; using the mtekscan code as a basis for anything that work on.<br>
  Nem&gt; In that case, it may not be very helpful for you. :-(<br>
<p>
It's good to see the Microtek backend is gaining momentum!  In fact,<br>
just on Saturday, Jeremy Rosenberger &lt;<a href="mailto:mustang@henge1.henge.com">mustang@henge1.henge.com</a>&gt; sent<br>
me a mail that he's making good progress on such a backend.  It looks<br>
like it might be a good idea for the people with Microtek scanners to<br>
"get together" (this mailing list is, of course, a perfectly<br>
appropriate place to do so).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">David Mosberger-Tang: "small preview fix"</a>
<li> <b>Previous message:</b> <a href="0138.html">Mathias Weigt: "Re: sane-0.57 available"</a>
<li> <b>In reply to:</b> <a href="0137.html">Nem W Schlecht: "Re: Q: Status of Microtek backend??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
