<!-- received="Thu Jul  2 12:07:33 1998 PDT" -->
<!-- sent="Thu, 02 Jul 1998 00:03:35 +0200" -->
<!-- name="Oliver Neukum" -->
<!-- email="neukum@fachschaft.org.chemie.uni-muenchen.de" -->
<!-- subject="Re: which driver ?" -->
<!-- id="" -->
<!-- inreplyto="which driver ?" -->
<title>sane-devel: Re: which driver ?</title>
<h1>Re: which driver ?</h1>
<b>Oliver Neukum</b> (<a href="mailto:neukum@fachschaft.org.chemie.uni-muenchen.de"><i>neukum@fachschaft.org.chemie.uni-muenchen.de</i></a>)<br>
<i>Thu, 02 Jul 1998 00:03:35 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">becka@rz.uni-duesseldorf.de: "STOP asking me for Win drivers !"</a>
<li> <b>Previous message:</b> <a href="0006.html">Christoph Doerbeck: "Re: sane on HP-UX 10.20"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------67C14B2085C7C278948CAA2A<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Matto Marjanovic wrote:<br>
<p>
<i>&gt; [Anyone have any clues/suggestions as to what is going on?</i><br>
<i>&gt;  The hardware involved is a Microtek 600GS scanner, with the classic</i><br>
<i>&gt;  Adaptec AVA-1502 scsi card, Linux 2.1.107.</i><br>
<i>&gt;  The weird part:  scanimage works as non-root, but hangs as root.]</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;   Date: Wed, 01 Jul 1998 18:06:57 +0200</i><br>
<i>&gt; &gt;   From: Oliver Neukum &lt;<a href="mailto:neukum@fachschaft.org.chemie.uni-muenchen.de">neukum@fachschaft.org.chemie.uni-muenchen.de</a>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;     Hi Matto,</i><br>
<i>&gt; &gt;   i fear i have more bad news for you.</i><br>
<i>&gt; &gt;   The scanner's firmware has a bug, it crashes when a lun&gt;0 is referred to.</i><br>
<i>&gt;</i><br>
<i>&gt; Not so unexpected....</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;   I s this done within SANE ? Might it explain hangs as root ?</i><br>
<i>&gt; &gt;   Do you need any more information ?</i><br>
<i>&gt; &gt;   A patch against kernel 2.1.107 is attached.</i><br>
<i>&gt;</i><br>
<i>&gt; Isn't there also a kernel configuration option to disable scanning</i><br>
<i>&gt;  all LUNs?  That's usually what you want, unless you have a multi-platter</i><br>
<i>&gt;  CDROM that actually uses them... (Either way, I'll put this info somewhere</i><br>
<i>&gt;  on my web page.)</i><br>
<i>&gt;</i><br>
<p>
... to learn this after 4 days of debugging ...<br>
<p>
<i>&gt; &gt;   i can confirm that my inabillity to scan as root is caused by sane touching</i><br>
<i>&gt; &gt;   luns&gt;0.</i><br>
<i>&gt; &gt;   The patch to the kernel, which i sent you yesterday allows scanimage to work.</i><br>
<i>&gt;</i><br>
<p>
i can't rule out, that it was caused by the switch from 2.1.105 to 2.1.107.<br>
<p>
<i>&gt; Can you tell where this happens?  The microtek backend shouldn't touch any</i><br>
<i>&gt;  LUN other than 0 --- is this some other backend?  (Are the others commented</i><br>
<i>&gt;  out of dll.conf?)</i><br>
<i>&gt;</i><br>
<p>
yes only pnm and microtek<br>
<p>
<i>&gt; Also, the "BLIST_NOLUN" designation in the patch only affects how the</i><br>
<i>&gt;  mid-level scsi driver scans the scsi bus --- thus your patch should only</i><br>
<i>&gt;  affect what happens a) when machine boots, b) when a scsi driver module</i><br>
<i>&gt;  is loaded.  SANE doesn't cause either, unless you have kerneld set up to</i><br>
<i>&gt;  automatically load the scsi modules.</i><br>
<i>&gt;</i><br>
<p>
scsi, scsi_generic and aha152x compiled into the kernel; sd, sr and st would be<br>
autoloadedit allowed me to boot and i was happy<br>
<p>
<i>&gt; And... I don't see how any part of SANE does anything differently whether</i><br>
<i>&gt;  or not it is used as root.  SANE's only interaction with the Linux system</i><br>
<i>&gt;  is to open/read/write/close the sg devices (which is affected by their</i><br>
<i>&gt;  permissions), and open/read/close "/proc/scsi/scsi".  Since you can scan</i><br>
<i>&gt;  as non-root, SANE as root would only be touching *other* sg devices</i><br>
<i>&gt;  differently.</i><br>
<i>&gt;</i><br>
<i>&gt; Hmm... of course, I'm looking at 2.0.33 kernel code --- maybe the scsi bus</i><br>
<i>&gt;  is rescanned in the 2.1.107 code?  Some drastic difference?</i><br>
<i>&gt;</i><br>
<p>
i have no clue, but the symptom was observable under 2.0.33, too.<br>
<p>
<i>&gt; -matt m.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
  I will locate kernel images and run a lot of straces. It might take some time.<br>
<p>
trace1: scanimage -L as an ordinary user on 2.1.107 patched twice<br>
<p>
trace2: the same as root<br>
<p>
patched twice means my private patch to the driver, too, which i would like to<br>
promote a bit here. :-)<br>
<p>
now rebooting into 2.0.33 ...<br>
<p>
<p>
--------------67C14B2085C7C278948CAA2A<br>
Content-Type: text/plain; charset=us-ascii; name="trace1"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline; filename="trace1"<br>
<p>
execve("/usr/local/bin/scanimage", ["scanimage", "-L"], [/* 56 vars */]) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40007000<br>
mprotect(0x40000000, 20673, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
mprotect(0x8048000, 14298, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
stat("/etc/ld.so.cache", {st_mode=S_IFREG|0644, st_size=15453, ...}) = 0<br>
open("/etc/ld.so.cache", O_RDONLY)      = 3<br>
mmap(0, 15453, PROT_READ, MAP_SHARED, 3, 0) = 0x40008000<br>
close(3)                                = 0<br>
stat("/etc/ld.so.preload", 0xbffff618)  = -1 ENOENT (No such file or directory)<br>
open("/usr/local/lib/libsane.so.0", O_RDONLY) = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 16384, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x4000c000<br>
mmap(0x4000c000, 11276, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x4000c000<br>
mmap(0x4000f000, 3576, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x2000) = 0x4000f000<br>
close(3)                                = 0<br>
mprotect(0x4000c000, 11276, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
open("/usr/local/lib/libdl.so.1", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/opt/kde/lib/libdl.so.1", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/lib/libdl.so.1", O_RDONLY)       = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 12288, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40010000<br>
mmap(0x40010000, 4170, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x40010000<br>
mmap(0x40012000, 344, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x1000) = 0x40012000<br>
close(3)                                = 0<br>
mprotect(0x40010000, 4170, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
open("/usr/local/lib/libm.so.5", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/opt/kde/lib/libm.so.5", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/lib/libm.so.5", O_RDONLY)        = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 36864, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40013000<br>
mmap(0x40013000, 25012, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x40013000<br>
mmap(0x4001a000, 4480, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x6000) = 0x4001a000<br>
close(3)                                = 0<br>
mprotect(0x40013000, 25012, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
open("/usr/local/lib/libc.so.5", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/opt/kde/lib/libc.so.5", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/lib/libc.so.5", O_RDONLY)        = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 770048, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x4001c000<br>
mmap(0x4001c000, 538317, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x4001c000<br>
mmap(0x400a0000, 20932, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x83000) = 0x400a0000<br>
mmap(0x400a6000, 203952, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED|MAP_ANONYMOUS, -1, 0) = 0x400a6000<br>
close(3)                                = 0<br>
mprotect(0x4001c000, 538317, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
munmap(0x40008000, 15453)               = 0<br>
mprotect(0x8048000, 14298, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x4000c000, 11276, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x40010000, 4170, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x40013000, 25012, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x4001c000, 538317, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x40000000, 20673, PROT_READ|PROT_EXEC) = 0<br>
personality(PER_LINUX)                  = 0<br>
geteuid()                               = 209<br>
getuid()                                = 209<br>
getgid()                                = 101<br>
getegid()                               = 101<br>
brk(0x804cb18)                          = 0x804cb18<br>
brk(0x804d000)                          = 0x804d000<br>
open("./dll.conf", O_RDONLY)            = -1 ENOENT (No such file or directory)<br>
open("/usr/local/etc/sane.d/dll.conf", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFREG|0644, st_size=194, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40008000<br>
read(3, "# enable the next line if you wa"..., 4096) = 194<br>
read(3, "", 4096)                       = 0<br>
close(3)                                = 0<br>
munmap(0x40008000, 4096)                = 0<br>
open("/usr/share/locale/locale.alias", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFREG|0644, st_size=2005, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40008000<br>
read(3, "# Locale name alias data base\n#"..., 4096) = 2005<br>
brk(0x804e000)                          = 0x804e000<br>
read(3, "", 4096)                       = 0<br>
close(3)                                = 0<br>
munmap(0x40008000, 4096)                = 0<br>
open("/usr/share/i18n/locale.alias", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/usr/share/locale/de_DE.ISO-8859-1/LC_MESSAGES", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/usr/share/locale/de_DE.iso88591/LC_MESSAGES", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/usr/share/locale/de_DE/LC_MESSAGES", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFDIR|0755, st_size=1024, ...}) = 0<br>
close(3)                                = 0<br>
open("/usr/share/locale/de_DE/LC_MESSAGES/SYS_LC_MESSAGES", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFREG|0644, st_size=42, ...}) = 0<br>
mmap(0, 42, PROT_READ, MAP_PRIVATE, 3, 0) = 0x40008000<br>
close(3)                                = 0<br>
stat("/usr/share/locale/de_DE/libc.cat", 0xbffff178) = -1 ENOENT (No such file or directory)<br>
stat("/usr/share/locale/libc/de_DE", 0xbffff178) = -1 ENOENT (No such file or directory)<br>
stat("/usr/local/share/locale/de_DE/libc.cat", 0xbffff178) = -1 ENOENT (No such file or directory)<br>
open("/usr/local/lib/sane/libsane-pnm.so.0", O_RDONLY) = 3<br>
stat("/etc/ld.so.cache", {st_mode=S_IFREG|0644, st_size=15453, ...}) = 0<br>
open("/etc/ld.so.cache", O_RDONLY)      = 4<br>
mmap(0, 15453, PROT_READ, MAP_SHARED, 4, 0) = 0x400d8000<br>
close(4)                                = 0<br>
open("/usr/local/lib/sane/libsane-pnm.so.0", O_RDONLY) = 4<br>
read(4, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 20480, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x400dc000<br>
mmap(0x400dc000, 11558, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 4, 0) = 0x400dc000<br>
mmap(0x400df000, 4328, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 4, 0x2000) = 0x400df000<br>
close(4)                                = 0<br>
mprotect(0x400dc000, 11558, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
munmap(0x400d8000, 15453)               = 0<br>
open("/usr/local/lib/sane/libsane-microtek.so.0", O_RDONLY) = 4<br>
stat("/etc/ld.so.cache", {st_mode=S_IFREG|0644, st_size=15453, ...}) = 0<br>
open("/etc/ld.so.cache", O_RDONLY)      = 5<br>
mmap(0, 15453, PROT_READ, MAP_SHARED, 5, 0) = 0x400d8000<br>
close(5)                                = 0<br>
open("/usr/local/lib/sane/libsane-microtek.so.0", O_RDONLY) = 5<br>
read(5, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 65536, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x400e1000<br>
mmap(0x400e1000, 56942, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 5, 0) = 0x400e1000<br>
mmap(0x400ef000, 4528, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 5, 0xd000) = 0x400ef000<br>
close(5)                                = 0<br>
mprotect(0x400e1000, 56942, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
munmap(0x400d8000, 15453)               = 0<br>
open("./microtek.conf", O_RDONLY)       = -1 ENOENT (No such file or directory)<br>
open("/usr/local/etc/sane.d/microtek.conf", O_RDONLY) = 5<br>
fstat(5, {st_mode=S_IFREG|0644, st_size=30, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40009000<br>
read(5, "scsi * * Scanner\n/dev/scanner\n"..., 4096) = 30<br>
open("/proc/scsi/scsi", O_RDONLY)       = 6<br>
fstat(6, {st_mode=S_IFREG|0644, st_size=0, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x4000a000<br>
read(6, "Attached devices: \nHost: scsi0 "..., 1024) = 177<br>
open("/dev/sga", O_RDWR)                = 7<br>
close(7)                                = 0<br>
open("/proc/sys/kernel/sg-big-buff", O_RDONLY) = 7<br>
read(7, "32768\n", 31)                  = 6<br>
open("/dev/sga", O_RDWR|O_EXCL)         = 8<br>
ioctl(8, TIOCSCCINI, 0xbfffecbc)        = 0<br>
brk(0x8057000)                          = 0x8057000<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
write(8, "*\0\0\0\204\0\0\0\0\0\0\0\0\0\0\0"..., 42) = 42<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
oldselect(9, [8], NULL, NULL, NULL)     = 1 (in [8])<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
read(8, "\204\0\0\0\204\0\0\0\0\0\0\0\0\0"..., 132) = 132<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
close(8)                                = 0<br>
read(6, "", 1024)                       = 0<br>
open("/dev/sga", O_RDWR)                = 8<br>
close(8)                                = 0<br>
close(6)                                = 0<br>
munmap(0x4000a000, 4096)                = 0<br>
open("/dev/scanner", O_RDWR|O_EXCL)     = 6<br>
ioctl(6, TIOCSCCINI, 0xbffff0a4)        = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
write(6, "*\0\0\0\204\0\0\0\1\0\0\0\0\0\0\0"..., 42) = 42<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
oldselect(7, [6], NULL, NULL, NULL)     = 1 (in [6])<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
read(6, "\204\0\0\0\204\0\0\0\1\0\0\0\0\0"..., 132) = 132<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
close(6)                                = 0<br>
read(5, "", 4096)                       = 0<br>
close(5)                                = 0<br>
munmap(0x40009000, 4096)                = 0<br>
fstat(1, {st_mode=S_IFCHR|0666, st_rdev=makedev(3, 8), ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40009000<br>
ioctl(1, TCGETS, {B9600 opost isig icanon echo ...}) = 0<br>
write(1, "device `pnm:0\' is a Noname PNM "..., 58) = 58<br>
write(1, "device `pnm:1\' is a Noname PNM "..., 58) = 58<br>
write(1, "device `microtek:/dev/scanner\' "..., 77) = 77<br>
write(1, "device `microtek:/dev/sga\' is a"..., 73) = 73<br>
munmap(0x400dc000, 16712)               = 0<br>
munmap(0x400e1000, 61992)               = 0<br>
_exit(0)                                = ?<br>
<p>
--------------67C14B2085C7C278948CAA2A<br>
Content-Type: text/plain; charset=us-ascii; name="trace2"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline; filename="trace2"<br>
<p>
execve("/usr/local/bin/scanimage", ["/usr/local/bin/scanimage", "-L"], [/* 55 vars */]) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40007000<br>
mprotect(0x40000000, 20673, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
mprotect(0x8048000, 14298, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
stat("/etc/ld.so.cache", {st_mode=S_IFREG|0644, st_size=15453, ...}) = 0<br>
open("/etc/ld.so.cache", O_RDONLY)      = 3<br>
mmap(0, 15453, PROT_READ, MAP_SHARED, 3, 0) = 0x40008000<br>
close(3)                                = 0<br>
stat("/etc/ld.so.preload", 0xbffff6c8)  = -1 ENOENT (No such file or directory)<br>
open("/usr/local/lib/libsane.so.0", O_RDONLY) = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 16384, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x4000c000<br>
mmap(0x4000c000, 11276, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x4000c000<br>
mmap(0x4000f000, 3576, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x2000) = 0x4000f000<br>
close(3)                                = 0<br>
mprotect(0x4000c000, 11276, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
open("/usr/local/lib/libdl.so.1", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/lib/libdl.so.1", O_RDONLY)       = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 12288, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40010000<br>
mmap(0x40010000, 4170, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x40010000<br>
mmap(0x40012000, 344, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x1000) = 0x40012000<br>
close(3)                                = 0<br>
mprotect(0x40010000, 4170, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
open("/usr/local/lib/libm.so.5", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/lib/libm.so.5", O_RDONLY)        = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 36864, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40013000<br>
mmap(0x40013000, 25012, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x40013000<br>
mmap(0x4001a000, 4480, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x6000) = 0x4001a000<br>
close(3)                                = 0<br>
mprotect(0x40013000, 25012, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
open("/usr/local/lib/libc.so.5", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/lib/libc.so.5", O_RDONLY)        = 3<br>
read(3, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 770048, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x4001c000<br>
mmap(0x4001c000, 538317, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 3, 0) = 0x4001c000<br>
mmap(0x400a0000, 20932, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 3, 0x83000) = 0x400a0000<br>
mmap(0x400a6000, 203952, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED|MAP_ANONYMOUS, -1, 0) = 0x400a6000<br>
close(3)                                = 0<br>
mprotect(0x4001c000, 538317, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
munmap(0x40008000, 15453)               = 0<br>
mprotect(0x8048000, 14298, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x4000c000, 11276, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x40010000, 4170, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x40013000, 25012, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x4001c000, 538317, PROT_READ|PROT_EXEC) = 0<br>
mprotect(0x40000000, 20673, PROT_READ|PROT_EXEC) = 0<br>
personality(PER_LINUX)                  = 0<br>
geteuid()                               = 0<br>
getuid()                                = 0<br>
getgid()                                = 0<br>
getegid()                               = 0<br>
brk(0x804cb18)                          = 0x804cb18<br>
brk(0x804d000)                          = 0x804d000<br>
open("./dll.conf", O_RDONLY)            = -1 ENOENT (No such file or directory)<br>
open("/usr/local/etc/sane.d/dll.conf", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFREG|0644, st_size=194, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40008000<br>
read(3, "# enable the next line if you wa"..., 4096) = 194<br>
read(3, "", 4096)                       = 0<br>
close(3)                                = 0<br>
munmap(0x40008000, 4096)                = 0<br>
open("/usr/share/locale/locale.alias", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFREG|0644, st_size=2005, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40008000<br>
read(3, "# Locale name alias data base\n#"..., 4096) = 2005<br>
brk(0x804e000)                          = 0x804e000<br>
read(3, "", 4096)                       = 0<br>
close(3)                                = 0<br>
munmap(0x40008000, 4096)                = 0<br>
open("/usr/share/i18n/locale.alias", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/usr/share/locale/de_DE.ISO-8859-1/LC_MESSAGES", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/usr/share/locale/de_DE.iso88591/LC_MESSAGES", O_RDONLY) = -1 ENOENT (No such file or directory)<br>
open("/usr/share/locale/de_DE/LC_MESSAGES", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFDIR|0755, st_size=1024, ...}) = 0<br>
close(3)                                = 0<br>
open("/usr/share/locale/de_DE/LC_MESSAGES/SYS_LC_MESSAGES", O_RDONLY) = 3<br>
fstat(3, {st_mode=S_IFREG|0644, st_size=42, ...}) = 0<br>
mmap(0, 42, PROT_READ, MAP_PRIVATE, 3, 0) = 0x40008000<br>
close(3)                                = 0<br>
stat("/usr/share/locale/de_DE/libc.cat", 0xbffff228) = -1 ENOENT (No such file or directory)<br>
stat("/usr/share/locale/libc/de_DE", 0xbffff228) = -1 ENOENT (No such file or directory)<br>
stat("/usr/local/share/locale/de_DE/libc.cat", 0xbffff228) = -1 ENOENT (No such file or directory)<br>
open("/usr/local/lib/sane/libsane-pnm.so.0", O_RDONLY) = 3<br>
stat("/etc/ld.so.cache", {st_mode=S_IFREG|0644, st_size=15453, ...}) = 0<br>
open("/etc/ld.so.cache", O_RDONLY)      = 4<br>
mmap(0, 15453, PROT_READ, MAP_SHARED, 4, 0) = 0x400d8000<br>
close(4)                                = 0<br>
open("/usr/local/lib/sane/libsane-pnm.so.0", O_RDONLY) = 4<br>
read(4, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 20480, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x400dc000<br>
mmap(0x400dc000, 11558, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 4, 0) = 0x400dc000<br>
mmap(0x400df000, 4328, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 4, 0x2000) = 0x400df000<br>
close(4)                                = 0<br>
mprotect(0x400dc000, 11558, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
munmap(0x400d8000, 15453)               = 0<br>
open("/usr/local/lib/sane/libsane-microtek.so.0", O_RDONLY) = 4<br>
stat("/etc/ld.so.cache", {st_mode=S_IFREG|0644, st_size=15453, ...}) = 0<br>
open("/etc/ld.so.cache", O_RDONLY)      = 5<br>
mmap(0, 15453, PROT_READ, MAP_SHARED, 5, 0) = 0x400d8000<br>
close(5)                                = 0<br>
open("/usr/local/lib/sane/libsane-microtek.so.0", O_RDONLY) = 5<br>
read(5, "\177ELF\1\1\1\0\0\0\0\0\0\0\0\0\3"..., 4096) = 4096<br>
mmap(0, 65536, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x400e1000<br>
mmap(0x400e1000, 56942, PROT_READ|PROT_EXEC, MAP_PRIVATE|MAP_FIXED, 5, 0) = 0x400e1000<br>
mmap(0x400ef000, 4528, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_FIXED, 5, 0xd000) = 0x400ef000<br>
close(5)                                = 0<br>
mprotect(0x400e1000, 56942, PROT_READ|PROT_WRITE|PROT_EXEC) = 0<br>
munmap(0x400d8000, 15453)               = 0<br>
open("./microtek.conf", O_RDONLY)       = -1 ENOENT (No such file or directory)<br>
open("/usr/local/etc/sane.d/microtek.conf", O_RDONLY) = 5<br>
fstat(5, {st_mode=S_IFREG|0644, st_size=30, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40009000<br>
read(5, "scsi * * Scanner\n/dev/scanner\n"..., 4096) = 30<br>
open("/proc/scsi/scsi", O_RDONLY)       = 6<br>
fstat(6, {st_mode=S_IFREG|0644, st_size=0, ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x4000a000<br>
read(6, "Attached devices: \nHost: scsi0 "..., 1024) = 177<br>
open("/dev/sga", O_RDWR)                = 7<br>
close(7)                                = 0<br>
open("/proc/sys/kernel/sg-big-buff", O_RDONLY) = 7<br>
read(7, "32768\n", 31)                  = 6<br>
open("/dev/sga", O_RDWR|O_EXCL)         = 8<br>
ioctl(8, TIOCSCCINI, 0xbfffed6c)        = 0<br>
brk(0x8057000)                          = 0x8057000<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
write(8, "*\0\0\0\204\0\0\0\0\0\0\0\0\0\0\0"..., 42) = 42<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
oldselect(9, [8], NULL, NULL, NULL)     = 1 (in [8])<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
read(8, "\204\0\0\0\204\0\0\0\0\0\0\0\0\0"..., 132) = 132<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
close(8)                                = 0<br>
read(6, "", 1024)                       = 0<br>
open("/dev/sga", O_RDWR)                = 8<br>
close(8)                                = 0<br>
close(6)                                = 0<br>
munmap(0x4000a000, 4096)                = 0<br>
open("/dev/scanner", O_RDWR|O_EXCL)     = 6<br>
ioctl(6, TIOCSCCINI, 0xbffff154)        = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
write(6, "*\0\0\0\204\0\0\0\1\0\0\0\0\0\0\0"..., 42) = 42<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
oldselect(7, [6], NULL, NULL, NULL)     = 1 (in [6])<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
read(6, "\204\0\0\0\204\0\0\0\1\0\0\0\0\0"..., 132) = 132<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
sigprocmask(SIG_SETMASK, [], NULL)      = 0<br>
close(6)                                = 0<br>
read(5, "", 4096)                       = 0<br>
close(5)                                = 0<br>
munmap(0x40009000, 4096)                = 0<br>
fstat(1, {st_mode=S_IFCHR|0666, st_rdev=makedev(3, 8), ...}) = 0<br>
mmap(0, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x40009000<br>
ioctl(1, TCGETS, {B9600 opost isig icanon echo ...}) = 0<br>
write(1, "device `pnm:0\' is a Noname PNM "..., 58) = 58<br>
write(1, "device `pnm:1\' is a Noname PNM "..., 58) = 58<br>
write(1, "device `microtek:/dev/scanner\' "..., 77) = 77<br>
write(1, "device `microtek:/dev/sga\' is a"..., 73) = 73<br>
munmap(0x400dc000, 16712)               = 0<br>
munmap(0x400e1000, 61992)               = 0<br>
_exit(0)                                = ?<br>
<p>
--------------67C14B2085C7C278948CAA2A<br>
Content-Type: text/plain; charset=us-ascii; name="scsi.c.diff"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline; filename="scsi.c.diff"<br>
<p>
--- Desktop/scsi.c	Tue Jun 30 23:07:45 1998<br>
+++ linux/drivers/scsi/scsi.c	Tue Jun 30 23:29:41 1998<br>
@@ -262,9 +262,10 @@<br>
 {"HP", "C1790A", "", BLIST_NOLUN},              /* scanjet iip */<br>
 {"HP", "C2500A", "", BLIST_NOLUN},              /* scanjet iicx */<br>
 {"YAMAHA", "CDR102", "1.00", BLIST_NOLUN},	/* extra reset */<br>
-<br>
-/*<br>
- * Other types of devices that have special flags.<br>
+{"MII SC21", "MSF300ZS SCANNER", "V4.2",BLIST_NOLUN}, <br>
+/* failed sense request lun&gt;0 on aha152x */<br>
+/*  <br>
+* Other types of devices that have special flags.<br>
  */<br>
 {"SONY","CD-ROM CDU-8001","*", BLIST_BORKEN},<br>
 {"TEXEL","CD-ROM","1.06", BLIST_BORKEN},<br>
<p>
--------------67C14B2085C7C278948CAA2A--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">becka@rz.uni-duesseldorf.de: "STOP asking me for Win drivers !"</a>
<li> <b>Previous message:</b> <a href="0006.html">Christoph Doerbeck: "Re: sane on HP-UX 10.20"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
