<!-- received="Mon Jul  6 15:23:35 1998 PDT" -->
<!-- sent="Tue, 7 Jul 1998 00:20:20 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Suggestions?  Microtek ScanMaker X6?" -->
<!-- id="" -->
<!-- inreplyto="199807050348.WAA17667@sunset.backbone.olemiss.edu" -->
<title>sane-devel: Re: Suggestions?  Microtek ScanMaker X6?</title>
<h1>Re: Suggestions?  Microtek ScanMaker X6?</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Tue, 7 Jul 1998 00:20:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Michael Land Morgan: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0014.html">Hugo van der Kooij: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>In reply to:</b> <a href="0009.html">Michael Land Morgan: "Suggestions?  Microtek ScanMaker X6?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Sat, Jul 04, 1998 at 10:48:20PM -0500, Michael Land Morgan wrote:<br>
<i>&gt; I would like to purchase a scanner within the next few months for use with</i><br>
<i>&gt; SANE.  High end, expensive scanners are a waste on me since I only want to</i><br>
<i>&gt; get a scanner for personal use.  I found a Microtek ScanMaker X6 for &lt; $200.</i><br>
<i>&gt; I didn't find any mention of it on the SANE web site.  Is it known to work</i><br>
<i>&gt; (or not work)?  I did see mention of the E3?  Is the E3 Plus supported?</i><br>
<p>
I just visited the Microtek web server to read the the specs for the<br>
X6. According to these informations, the X6 for PCs has an EPP interface,<br>
and this interface is currently not supported.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Michael Land Morgan: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0014.html">Hugo van der Kooij: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>In reply to:</b> <a href="0009.html">Michael Land Morgan: "Suggestions?  Microtek ScanMaker X6?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
