<!-- received="Sun Jul 12 10:25:21 1998 PDT" -->
<!-- sent="Sun, 12 Jul 1998 19:26:31 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="New version Mustek ScanExpress backend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: New version Mustek ScanExpress backend</title>
<h1>New version Mustek ScanExpress backend</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Sun, 12 Jul 1998 19:26:31 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Wolfgang Kaess: "Who maintain SANE source?"</a>
<li> <b>Previous message:</b> <a href="0034.html">Dr. Andreas Bolsch: "Re: Mustek Scanexpress 12000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've just posted an improved(?) version of the<br>
Mustek backend extension.<br>
<p>
Full page color scans at 600dpi now works for me,<br>
and colors for 6000SP are hopefully correct now.<br>
<p>
See <br>
<p>
  <a href="http://www.math.tu-berlin.de/funktion/bolsch/sane">http://www.math.tu-berlin.de/funktion/bolsch/sane</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Wolfgang Kaess: "Who maintain SANE source?"</a>
<li> <b>Previous message:</b> <a href="0034.html">Dr. Andreas Bolsch: "Re: Mustek Scanexpress 12000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
