<!-- received="Sun Jul 12 16:04:41 1998 PDT" -->
<!-- sent="Sun, 12 Jul 1998 18:59:12 -0400" -->
<!-- name="Wolfgang Kaess" -->
<!-- email="100346.2055@compuserve.com" -->
<!-- subject="Who maintain SANE source?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Who maintain SANE source?</title>
<h1>Who maintain SANE source?</h1>
<b>Wolfgang Kaess</b> (<a href="mailto:100346.2055@compuserve.com"><i>100346.2055@compuserve.com</i></a>)<br>
<i>Sun, 12 Jul 1998 18:59:12 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Ian Grant: "Re: Installing SANE on DU machines"</a>
<li> <b>Previous message:</b> <a href="0035.html">Dr. Andreas Bolsch: "New version Mustek ScanExpress backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0045.html">Matto Marjanovic: "Re: Who maintain SANE source?"</a>
<li> <b>Reply:</b> <a href="0045.html">Matto Marjanovic: "Re: Who maintain SANE source?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello, <br>
<p>
I have changed 2 SANE source files and want to become this files SANE<br>
standard files. <br>
<p>
<p>
           HOW COULD THIS BE DONE ? <br>
<p>
<p>
Wolfgang Kaess Using SANE 0.73 with hp/xhp backend, compiled with IBM<br>
VisualAge C++ for  OS/2. <br>
<p>
<p>
*** <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Ian Grant: "Re: Installing SANE on DU machines"</a>
<li> <b>Previous message:</b> <a href="0035.html">Dr. Andreas Bolsch: "New version Mustek ScanExpress backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0045.html">Matto Marjanovic: "Re: Who maintain SANE source?"</a>
<li> <b>Reply:</b> <a href="0045.html">Matto Marjanovic: "Re: Who maintain SANE source?"</a>
<!-- reply="end" -->
</ul>
