<!-- received="Thu Jul 16 01:40:11 1998 PDT" -->
<!-- sent="Thu, 16 Jul 1998 10:39:34 +0200" -->
<!-- name="Didier Carlier" -->
<!-- email="carlierd@acm.org" -->
<!-- subject="Re: Need... more... .desc... files" -->
<!-- id="199807160839.KAA00885@corto.sema.be" -->
<!-- inreplyto="Need... more... .desc... files" -->
<title>sane-devel: Re: Need... more... .desc... files</title>
<h1>Re: Need... more... .desc... files</h1>
<b>Didier Carlier</b> (<a href="mailto:carlierd@acm.org"><i>carlierd@acm.org</i></a>)<br>
<i>Thu, 16 Jul 1998 10:39:34 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#57">[ date ]</a><a href="index.html#57">[ thread ]</a><a href="subject.html#57">[ subject ]</a><a href="author.html#57">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Andreas Dilger: "Re: raw parallel device Q"</a>
<li> <b>Previous message:</b> <a href="0056.html">Chris Conley: "raw parallel device Q"</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">Matto Marjanovic: "Need... more... .desc... files"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multipart MIME message.<br>
<p>
--==_Exmh_-6024443360<br>
Content-Type: text/plain; charset=us-ascii<br>
<p>
<p>
<i>&gt; 8 more to go....</i><br>
<i>&gt; </i><br>
<i>&gt; -matt m.</i><br>
<p>
7 ? :-)<br>
<p>
Didier<br>
<p>
<p>
--==_Exmh_-6024443360<br>
Content-Type: text/plain; name="coolscan.desc"; charset=us-ascii<br>
Content-Description: coolscan.desc<br>
Content-Disposition: attachment; filename="coolscan.desc"<br>
<p>
;<br>
; SANE Backend specification file<br>
;<br>
; It's basically emacs-lisp --- so ";" indicates comment to end of line.<br>
; All syntactic elements are keyword tokens, followed by a string or<br>
;  keyword argument, as specified.<br>
;<br>
; ":backend" *must* be specified.<br>
; All other information is optional (but what good is the file without it?).<br>
;<br>
<p>
:backend "coolscan"               ; name of backend<br>
:version "0.3"                    ; version of backend<br>
:status :beta                     ; :alpha, :beta, :stable, :new<br>
:url "<a href="http://www.sema.be/coolscan/">http://www.sema.be/coolscan/</a>" ; backend's web page<br>
<p>
:devicetype :scanner              ; start of a list of devices....<br>
                                  ; other types:  :stillcam, :vidcam,<br>
                                  ;               :meta, :api<br>
<p>
:mfg "Nikon"                   ; name a manufacturer<br>
:url "<a href="http://www.nikon.com">http://www.nikon.com</a>"<br>
:model LS-20"                  ; name models for above-specified mfg.<br>
:comment "The LS-20 has been replaced by the LS-30"<br>
:model "LS-1000"<br>
:comment "Doesn't support gamma correction" <br>
<p>
; :comment and :url specifiers are optional after :mfg, :model, :desc,<br>
;  and at the top-level.<br>
<p>
--==_Exmh_-6024443360--<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Andreas Dilger: "Re: raw parallel device Q"</a>
<li> <b>Previous message:</b> <a href="0056.html">Chris Conley: "raw parallel device Q"</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">Matto Marjanovic: "Need... more... .desc... files"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
