<!-- received="Thu Jul 16 16:02:03 1998 PDT" -->
<!-- sent="Fri, 17 Jul 1998 00:01:32 +0100" -->
<!-- name="Delman Lee" -->
<!-- email="delman@earthling.net" -->
<!-- subject="HP PhotoSmart programming info?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP PhotoSmart programming info?</title>
<h1>HP PhotoSmart programming info?</h1>
<b>Delman Lee</b> (<a href="mailto:delman@earthling.net"><i>delman@earthling.net</i></a>)<br>
<i>Fri, 17 Jul 1998 00:01:32 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Craig Ruff: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Previous message:</b> <a href="0063.html">Martin Huber: "Re: Frame Buffer for ULTRA10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Reply:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi! Has anybody got the programming info for HP PhotoSmart scanner?<br>
that US people may be able to join the developer program and get the PhotoSmart<br>
developers kit for free. For European, there is a charge. Anybody in the US got<br>
the PhotoSmart developers kit? <br>
<p>
Thanks, Delman<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Craig Ruff: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Previous message:</b> <a href="0063.html">Martin Huber: "Re: Frame Buffer for ULTRA10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Reply:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<!-- reply="end" -->
</ul>
