<!-- received="Thu Jul 16 18:36:17 1998 PDT" -->
<!-- sent="Thu, 16 Jul 1998 21:35:28 -0400 (EWT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: SCSI-II scanner command list - specification file - common lib" -->
<!-- id="m0ywzQm-000J2XC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="SCSI-II scanner command list - specification file - common lib" -->
<title>sane-devel: Re: SCSI-II scanner command list - specification file - common lib</title>
<h1>Re: SCSI-II scanner command list - specification file - common lib</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Thu, 16 Jul 1998 21:35:28 -0400 (EWT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Previous message:</b> <a href="0066.html">Wolfgang Goeller: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;&gt; I've tried SANE 0.73 on my linux 2.0.30 with a LEO scanner. It did not</i><br>
<i> &gt;&gt; work and it will not work (anyway my question is not related to my</i><br>
<i> &gt;&gt; scanner).</i><br>
<i> &gt;</i><br>
<i> &gt;LEO is only a marketing - brand. Chances are very high, that some</i><br>
<i> &gt;existing drivers might work.</i><br>
<i> &gt;I would get as much technical information as possible for your</i><br>
<i> &gt;Scanner. Than compare it with some wellknown Scanners.</i><br>
<p>
...also, if debugging is turned on, the microtek backend will print out<br>
 0x60 bytes of INQUIRY info from the scanner, which *might* help someone<br>
 else (i.e. a backend author) recognize a semi-compatible scanner.<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Previous message:</b> <a href="0066.html">Wolfgang Goeller: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
