<!-- received="Sun Jul 19 05:35:18 1998 PDT" -->
<!-- sent="Fri, 17 Jul 1998 08:57:41 +0100 (BST)" -->
<!-- name="Ian Grant" -->
<!-- email="I.A.N.Grant@damtp.cam.ac.uk" -->
<!-- subject="Re: Is anyone coordinating development?" -->
<!-- id="Pine.OSF.3.96.980717085414.1884D-100000@quark.amtp.cam.ac.uk" -->
<!-- inreplyto="Pine.LNX.3.96.980716233857.17693B-100000@asimov.hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: Is anyone coordinating development?</title>
<h1>Re: Is anyone coordinating development?</h1>
<b>Ian Grant</b> (<a href="mailto:I.A.N.Grant@damtp.cam.ac.uk"><i>I.A.N.Grant@damtp.cam.ac.uk</i></a>)<br>
<i>Fri, 17 Jul 1998 08:57:41 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<li> <b>Previous message:</b> <a href="0072.html">Dr. Andreas Bolsch: "Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0074.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<li> <b>Reply:</b> <a href="0074.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 16 Jul 1998, Hugo van der Kooij wrote:<br>
<p>
<i>&gt; On 16 Jul 1998, Cory Kempf wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Subject pretty much says it all.</i><br>
<i>&gt; &gt; I need to hack on SANE, specifically the SCSI implimentation.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Is there anyone I should talk to?</i><br>
<i>&gt; </i><br>
<i>&gt; If you had a better glance at the archive you might have noticed the name</i><br>
<i>&gt; of David.</i><br>
<i>&gt; </i><br>
<i>&gt; The term 'hack' is too much abused to be really meaningfull. Why not start</i><br>
<i>&gt; on this list and see what comes up.</i><br>
<i>&gt; </i><br>
<p>
He did send a question to this list and no-one answered it. Maybe David is<br>
too busy, in which case perhaps he should appoint a deputy.<br>
<p>
Ian<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<li> <b>Previous message:</b> <a href="0072.html">Dr. Andreas Bolsch: "Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0074.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<li> <b>Reply:</b> <a href="0074.html">Hugo van der Kooij: "Re: Is anyone coordinating development?"</a>
<!-- reply="end" -->
</ul>
