<!-- received="Tue Jul 21 04:40:25 1998 PDT" -->
<!-- sent="Tue, 21 Jul 1998 13:41:20 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek ScanExpress Backend" -->
<!-- id="" -->
<!-- inreplyto="Mustek ScanExpress Backend" -->
<title>sane-devel: Re: Mustek ScanExpress Backend</title>
<h1>Re: Mustek ScanExpress Backend</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Tue, 21 Jul 1998 13:41:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Jon Knight: "Re: developing plustek driver-- questions"</a>
<li> <b>Previous message:</b> <a href="0109.html">Dieter Urban: "Re: Mustek ScanExpress Backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Dr. Andreas Bolsch: "Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0144.html">Dieter Urban: "Re: Mustek ScanExpress Backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Try to scan a narrow strip at 1200dpi (e.g. -x50)<br>
If the problem does NOT appear then it is probably a<br>
problem with the SCSI-Interface.<br>
<p>
The scanner suffers from buffer overrun at high data<br>
rates. I experienced this problem with the SCSI card<br>
shipped with the scanner and (less worse) with<br>
my Adaptec AVA-1505. <br>
<p>
Resolutions &gt;300 dpi are extremly demanding as they<br>
are actually mapped to 600dpi or 1200dpi<br>
(the scanners firmware can't deal correctly with "odd"<br>
resolutions in color mode) and downscaled by the<br>
backend.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Jon Knight: "Re: developing plustek driver-- questions"</a>
<li> <b>Previous message:</b> <a href="0109.html">Dieter Urban: "Re: Mustek ScanExpress Backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Dr. Andreas Bolsch: "Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0144.html">Dieter Urban: "Re: Mustek ScanExpress Backend"</a>
<!-- reply="end" -->
</ul>
