<!-- received="Tue Jul 21 13:54:43 1998 PDT" -->
<!-- sent="Tue, 21 Jul 1998 16:53:34 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: shmem in backends?" -->
<!-- id="m0yyjPi-000J3sC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="shmem in backends?" -->
<title>sane-devel: Re: shmem in backends?</title>
<h1>Re: shmem in backends?</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 21 Jul 1998 16:53:34 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>Previous message:</b> <a href="0116.html">Antal Novak: "Re: developing plustek driver-- questions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>Reply:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;From: "Yuri Dario" &lt;<a href="mailto:mc6530@mclink.it">mc6530@mclink.it</a>&gt;</i><br>
<i> &gt;Date: Tue, 21 Jul 1998 14:33:23 +0100</i><br>
<p>
<i> &gt;On Mon, 20 Jul 1998 23:24:01 -0700, David Mosberger-Tang wrote:</i><br>
<i> &gt;</i><br>
<i> &gt;&gt;  Matto&gt;  to be implemented using Sys V shared memory IPC (instead of</i><br>
<i> &gt;&gt;  Matto&gt; pipes, as the connection to a child reader process)?</i><br>
<i> &gt;&gt;</i><br>
<i> &gt;&gt;I'd suspect problems with the OS/2 port.  </i><br>
<i> &gt;</i><br>
<i> &gt;OS/2 supports shared memory between processes, but actually using threads has less impact on system </i><br>
<i> &gt;resources. I'm working on multiple threads in backends that are using fork().</i><br>
<p>
It seems like threads are precisely what you want for scanner<br>
 backends.  Well, actually, non-blocking SCSI I/O with a select<br>
 mechanism is *really* what you want --- so that you can toss the<br>
 READ_DATA_VERY_SLOWLY command to the scanner and then not get stuck<br>
 waiting while it completes.<br>
<p>
Anyhow, threads do seem more apropos than a full-process fork, because<br>
 of the unnecessary bit-slinging overhead you incur copying scanner<br>
 data back to a parent process.  (Yeah, the scanner head is such a<br>
 time-limiter it probably doesn't matter, but it can't hurt to try to<br>
 be as efficient as possible.)<br>
<p>
Is there a well-established, portable thread standard that I could <br>
 code with?  (Posix threads?)  Any suggestions on what manpages to<br>
 start with?<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>Previous message:</b> <a href="0116.html">Antal Novak: "Re: developing plustek driver-- questions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>Reply:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<!-- reply="end" -->
</ul>
