<!-- received="Fri Jul 24 00:31:01 1998 PDT" -->
<!-- sent="Fri, 24 Jul 1998 09:26:08 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: shmem in backends?" -->
<!-- id="199807240730.JAA13507@ammi.mclink.it" -->
<!-- inreplyto="shmem in backends?" -->
<title>sane-devel: Re: shmem in backends?</title>
<h1>Re: shmem in backends?</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Fri, 24 Jul 1998 09:26:08 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">Didier Carlier: "Re: problems with sgi/umax"</a>
<li> <b>Previous message:</b> <a href="0145.html">Matto Marjanovic: "Latest Microtek Backend: v0.9"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 23 Jul 1998 09:29:26 -0400 (EDT), Matto Marjanovic wrote:<br>
<p>
<i>&gt;I suggest just using an opaque pointer ("void *") instead of any</i><br>
<i>&gt; structure....  No need to tie a backend down to passing any</i><br>
<i>&gt; particular set of data to its threads, when this threading is all</i><br>
<i>&gt; quite backend-dependent anyway.  (Much like SANE_Handle is cast</i><br>
<i>&gt; about into all those Mustek_Scanner, Umax_Scanner, etc., ptrs.)</i><br>
<p>
I'm doing it already: beginthread accept only a pointer to void for data.<br>
<p>
<i>&gt;I still like the idea of adopting a single config file for all the</i><br>
<i>&gt; backends, with a SAMBA-config-like syntax to split it up into</i><br>
<i>&gt; per-backend blocks, and set tokens = values.  Then provide a </i><br>
<i>&gt; mechanism to read this once and give access to the the database</i><br>
<i>&gt; of values to each backend.</i><br>
<p>
very interesting. Also many people forget to create a specific configuration file, so having only one file to <br>
mantain, should be easy for them.<br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 */<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">Didier Carlier: "Re: problems with sgi/umax"</a>
<li> <b>Previous message:</b> <a href="0145.html">Matto Marjanovic: "Latest Microtek Backend: v0.9"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
