<!-- received="Fri Jul 24 12:21:52 1998 PDT" -->
<!-- sent="Fri, 24 Jul 1998 19:47:49 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Does CANCEL_PREVIEW work?" -->
<!-- id="" -->
<!-- inreplyto="Does CANCEL_PREVIEW work?" -->
<title>sane-devel: Re: Does CANCEL_PREVIEW work?</title>
<h1>Re: Does CANCEL_PREVIEW work?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 24 Jul 1998 19:47:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Oliver Rauch: "Re: Mustek ScanExpress Backend"</a>
<li> <b>Previous message:</b> <a href="0151.html">Oliver Rauch: "Re: problems with sgi/umax"</a>
<li> <b>Maybe in reply to:</b> <a href="0103.html">Oliver Rauch: "Does CANCEL_PREVIEW work?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matto Marjanovic wrote:<br>
<p>
<i>&gt;  &gt;what did you do that it works?</i><br>
<i>&gt;</i><br>
<i>&gt; I don't know --- it just worked when I tried it.</i><br>
<i>&gt;</i><br>
<p>
The problem is already solved,<br>
<p>
thanks and bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Oliver Rauch: "Re: Mustek ScanExpress Backend"</a>
<li> <b>Previous message:</b> <a href="0151.html">Oliver Rauch: "Re: problems with sgi/umax"</a>
<li> <b>Maybe in reply to:</b> <a href="0103.html">Oliver Rauch: "Does CANCEL_PREVIEW work?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
