<!-- received="Sun Jul 26 06:31:53 1998 PDT" -->
<!-- sent="Sun, 26 Jul 1998 14:29:55 -0100 (GMT+1)" -->
<!-- name="Norman Uhlmann" -->
<!-- email="unicorn@unicorn.franken.de" -->
<!-- subject="segfault with Microtek Scanmaker 330" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: segfault with Microtek Scanmaker 330</title>
<h1>segfault with Microtek Scanmaker 330</h1>
<b>Norman Uhlmann</b> (<a href="mailto:unicorn@unicorn.franken.de"><i>unicorn@unicorn.franken.de</i></a>)<br>
<i>Sun, 26 Jul 1998 14:29:55 -0100 (GMT+1)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Oliver Rauch: "Re: problems with sgi/umax"</a>
<li> <b>Previous message:</b> <a href="0155.html">Didier Carlier: "Re: problems with sgi/umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  This message is in MIME format.  The first part should be readable text,<br>
  while the remaining parts are likely unreadable without MIME-aware tools.<br>
  Send mail to <a href="mailto:mime@docserver.cac.washington.edu">mime@docserver.cac.washington.edu</a> for more info.<br>
<p>
--1589795320-1924414093-901466995=:24174<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII<br>
<p>
Hi all,<br>
<p>
I am unable to get my scanner working fine :-(<br>
<p>
Microtek Scanmaker 330 with aha1505 pnp<br>
<p>
Linux kernel 2.0.33 on an redhat5.0.<br>
aha152x support in kernel included.<br>
Scanner SCSI ID set to 6.<br>
while booting the system, the aha152x driver finds my aha1505,<br>
and also the scannner is found.<br>
<p>
I installed sane-0.73.tar.gz<br>
all installationprocedures seemed to be normal.<br>
make; make install....<br>
<p>
----<br>
1. I inserted some lines into ./backend/microtek2.c:<br>
<p>
line 129;<br>
+      case 0x93: fprintf(stderr, "Scanmaker 330"); break;<br>
<p>
line 278-280;<br>
+      case 0x93 :<br>
+        *model_string = "Scanmaker 330";<br>
+        break;<br>
<p>
So the microtek2 driver will return SANE_STATUS_GOOD;<br>
<p>
----<br>
2. I defined (like in the sane-scsi sayed) in /usr/inlcude/scsi/sg.h<br>
<p>
#define SG_BIG_BUFF 130560<br>
<p>
and recompiled the kernel.<br>
----<br>
3. remake sane with make; make install<br>
----<br>
<p>
The Problem:<br>
scanimage exits with an Out of memory/segmentation fault :-(<br>
The scanner moves to the image, scans about 0.5 cm<br>
and then stops.<br>
<p>
----<br>
[root@unicorn bin]#./scanimage -d microtek2:/dev/scanner --mode 8-Bit Gray<br>
--resolution 100dpi 2&gt;debug.asc &gt;bild<br>
Segmentation fault<br>
<p>
[root@unicorn bin]# strace ./scanimage --mode 8-Bit Gray --resolution<br>
100dpi 2&gt;trace.asc &gt;bild<br>
----<br>
<p>
I attached the strace and debug=128 output of scanimage to the mail.<br>
Hope someone can help me, I got stuck somewhere in sanei_scsi.c<br>
<p>
The important parts I think.<br>
-----<br>
[microtek2] scsi_set_window: ms=0x80551d8, wnd=1<br>
[microtek2] scsi_read_image_info: ms=0x80551d8<br>
[microtek2] scsi_read_image_info: ppl=791, bpl=792, lines=1089,<br>
remain=862488<br>
[microtek2] scsi_send_gamma: pos=0x8055938, word_size=1, lut_size=3072<br>
[microtek2] scsi_wait_for_ready: ms=0x80551d8<br>
[microtek2] scsi_read_image_status: ms=0x80551d8<br>
[microtek2] sane_get_parameters: handle=0x80551d8, params=0xbfff7cc4<br>
[microtek2] sane_get_parameters: format=0, last_frame=0, lines=1089<br>
[microtek2] sane_get_parameters: depth=8, ppl=791, bpl=792<br>
[microtek2] sane_read(): handle=0x80551d8, buf=0xbfff7cdc, maxlen=32768<br>
[microtek2] sane_read: transferlength=32472, lines=41 linelength=792<br>
[microtek2] scsi_wait_for_ready: ms=0x80551d8<br>
[microtek2] scsi_read_image_status: ms=0x80551d8<br>
[microtek2] scsi_read_image:  ms=0x80551d8<br>
[microtek2] scsi_read_image: transferlength=32472<br>
[microtek2] scsi_read_image: 'Out of memory'<br>
scanimage: sane_read: Out of memory<br>
[microtek2] sane_close: ms=0x80551d8<br>
[microtek2] sane_exit:<br>
[microtek2] sane_get_devices: local_only=0<br>
******<br>
...<br>
open("/proc/sys/kernel/sg-big-buff", O_RDONLY) = -1 ENOENT (No such file<br>
or directory)<br>
...<br>
sigprocmask(SIG_BLOCK, ~[], [])         = 0<br>
write(4, ".\0\0\0$\376\1\0\t\0\0\0\0\0\0\0"..., 46) = -1 ENOMEM (Cannot<br>
allocate<br>
 memory)<br>
...<br>
write(2, "scanimage: sane_read: Out of mem"..., 36scanimage: sane_read:<br>
Out of memory<br>
) = 36<br>
brk(0x8057000)                          = 0x8057000<br>
--- SIGSEGV (Segmentation fault) ---<br>
+++ killed by SIGSEGV +++<br>
----------<br>
<p>
Greetings Unicorn<br>
<p>
 A unicorn slowly drifts downward to you<br>
 speaks to you with the loveliest voice <br>
 you have ever heard, and vanishes into nothing<br>
 You feel happy!                 <br>
<p>
--1589795320-1924414093-901466995=:24174<br>
Content-Type: TEXT/plain; name="debug.asc"<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.3.96.980726142955.24174C@unicorn.franken.de">Pine.LNX.3.96.980726142955.24174C@unicorn.franken.de</a>&gt;<br>
Content-Description: <br>
<p>
W3NhbmVpX2luaXRfZGVidWddOiBTZXR0aW5nIGRlYnVnIGxldmVsIG9mIG1p<br>
Y3JvdGVrMiB0byAxMjguDQpbbWljcm90ZWsyXSBzYW5lX2luaXQ6IE1pY3Jv<br>
dGVrMiAodjAuMSkgc2F5cyBoZWxsby4uLg0KW21pY3JvdGVrMl0gYWRkX2Rl<br>
dmljZV9saXN0OiBkZXZpY2U9Jy9kZXYvc2Nhbm5lcg0KJ1ttaWNyb3RlazJd<br>
IGF0dGFjaF9kZXZpY2U6IGRldmljZT0nL2Rldi9zY2FubmVyJw0KW21pY3Jv<br>
dGVrMl0gc2NzaV9pbnF1aXJ5OiBtaT0weDgwNGNiMmMsIGRldmljZT0nL2Rl<br>
di9zY2FubmVyJw0KW21pY3JvdGVrMl0gc2NzaV9yZWFkX2F0dHJpYnV0ZXM6<br>
IG1pPTB4ODA0Y2IyYywgZGV2aWNlPScvZGV2L3NjYW5uZXInDQpbbWljcm90<br>
ZWsyXSBpZF9taWNyb3RlazI6DQpbbWljcm90ZWsyXSBzYW5lX29wZW46IGRl<br>
dmljZT0nL2Rldi9zY2FubmVyJw0KW21pY3JvdGVrMl0gYWRkX2RldmljZV9s<br>
aXN0OiBkZXZpY2U9Jy9kZXYvc2Nhbm5lcidbbWljcm90ZWsyXSBhZGRfZGV2<br>
aWNlX2xpc3Q6IGRldmljZSAvZGV2L3NjYW5uZXIgYWxyZWFkeSBpbiBsaXN0<br>
DQpbbWljcm90ZWsyXSBhdHRhY2hfZGV2aWNlOiBkZXZpY2U9Jy9kZXYvc2Nh<br>
bm5lcicNClttaWNyb3RlazJdIHNjc2lfaW5xdWlyeTogbWk9MHg4MDRjYjJj<br>
LCBkZXZpY2U9Jy9kZXYvc2Nhbm5lcicNClttaWNyb3RlazJdIHNjc2lfcmVh<br>
ZF9hdHRyaWJ1dGVzOiBtaT0weDgwNGNiMmMsIGRldmljZT0nL2Rldi9zY2Fu<br>
bmVyJw0KW21pY3JvdGVrMl0gaWRfbWljcm90ZWsyOg0KW21pY3JvdGVrMl0g<br>
Z2V0X2x1dF9zaXplOiBtaT0weDgwNGNiMmMNClttaWNyb3RlazJdIGdldF9s<br>
dXRfc2l6ZTogIG1pPTB4ODA0Y2IyYywgbHV0X3NpemU9MTAyNCwgbHV0X3dv<br>
cmQ9MQ0KW21pY3JvdGVrMl0gaW5pdF9vcHRpb25zOiBoYW5kbGU9MHg4MDU1<br>
MWQ4DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjog<br>
aGFuZGxlPTB4ODA1NTFkOCwgb3B0PTANClttaWNyb3RlazJdIHNhbmVfZ2V0<br>
X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBvcHQ9MQ0K<br>
W21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRs<br>
ZT0weDgwNTUxZDgsIG9wdD0yDQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRp<br>
b25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTMNClttaWNy<br>
b3RlazJdIHNhbmVfZ2V0X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5kbGU9MHg4<br>
MDU1MWQ4LCBvcHQ9NA0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rl<br>
c2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD01DQpbbWljcm90ZWsy<br>
XSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFk<br>
OCwgb3B0PTYNClttaWNyb3RlazJdIHNhbmVfZ2V0X29wdGlvbl9kZXNjcmlw<br>
dG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBvcHQ9Nw0KW21pY3JvdGVrMl0gc2Fu<br>
ZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9w<br>
dD04DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjog<br>
aGFuZGxlPTB4ODA1NTFkOCwgb3B0PTkNClttaWNyb3RlazJdIHNhbmVfZ2V0<br>
X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBvcHQ9MTAN<br>
ClttaWNyb3RlazJdIHNhbmVfZ2V0X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5k<br>
bGU9MHg4MDU1MWQ4LCBvcHQ9MTENClttaWNyb3RlazJdIHNhbmVfZ2V0X29w<br>
dGlvbl9kZXNjcmlwdG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBvcHQ9MTINCltt<br>
aWNyb3RlazJdIHNhbmVfY29udHJvbF9vcHRpb246IG9wdD0xMiwgYWN0PTAs<br>
IHZhbD0yMTUuODk5OTk0DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25f<br>
ZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTEzDQpbbWljcm90<br>
ZWsyXSBzYW5lX2NvbnRyb2xfb3B0aW9uOiBvcHQ9MTMsIGFjdD0wLCB2YWw9<br>
Mjk3LjE3OTk5Mw0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2Ny<br>
aXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0xNA0KW21pY3JvdGVrMl0g<br>
c2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgs<br>
IG9wdD0xNQ0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0<br>
b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0xNg0KW21pY3JvdGVrMl0gc2Fu<br>
ZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9w<br>
dD0xNw0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6<br>
IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0xOA0KW21pY3JvdGVrMl0gc2FuZV9n<br>
ZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0x<br>
OQ0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhh<br>
bmRsZT0weDgwNTUxZDgsIG9wdD0yMA0KW21pY3JvdGVrMl0gc2FuZV9nZXRf<br>
b3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0yMQ0K<br>
W21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRs<br>
ZT0weDgwNTUxZDgsIG9wdD0yMg0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0<br>
aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0yMw0KW21p<br>
Y3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0w<br>
eDgwNTUxZDgsIG9wdD0yNA0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9u<br>
X2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0yNQ0KW21pY3Jv<br>
dGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgw<br>
NTUxZDgsIG9wdD0yNg0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rl<br>
c2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0yNw0KW21pY3JvdGVr<br>
Ml0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUx<br>
ZDgsIG9wdD0yOA0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2Ny<br>
aXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0yOQ0KW21pY3JvdGVrMl0g<br>
c2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgs<br>
IG9wdD0zMA0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0<br>
b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0zMQ0KW21pY3JvdGVrMl0gc2Fu<br>
ZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9w<br>
dD0zMg0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6<br>
IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0zMw0KW21pY3JvdGVrMl0gc2FuZV9n<br>
ZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0z<br>
NA0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhh<br>
bmRsZT0weDgwNTUxZDgsIG9wdD0zNQ0KW21pY3JvdGVrMl0gc2FuZV9nZXRf<br>
b3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0zNg0K<br>
W21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRs<br>
ZT0weDgwNTUxZDgsIG9wdD0zNw0KW21pY3JvdGVrMl0gc2FuZV9jb250cm9s<br>
X29wdGlvbjogb3B0PTEwLCBhY3Q9MCwgdmFsPTAuMDAwMDAwDQpbbWljcm90<br>
ZWsyXSBzYW5lX2NvbnRyb2xfb3B0aW9uOiBvcHQ9MTEsIGFjdD0wLCB2YWw9<br>
MC4wMDAwMDANClttaWNyb3RlazJdIHNhbmVfZ2V0X29wdGlvbl9kZXNjcmlw<br>
dG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBvcHQ9Mg0KW21pY3JvdGVrMl0gc2Fu<br>
ZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9w<br>
dD0yDQpbbWljcm90ZWsyXSBzYW5lX2NvbnRyb2xfb3B0aW9uOiBvcHRpb249<br>
MiwgYWN0aW9uPTEsIHZhbHVlPTgtYml0IEdyYXkNClttaWNyb3RlazJdIHNh<br>
bmVfZ2V0X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBv<br>
cHQ9MA0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6<br>
IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0xDQpbbWljcm90ZWsyXSBzYW5lX2dl<br>
dF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTIN<br>
ClttaWNyb3RlazJdIHNhbmVfZ2V0X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5k<br>
bGU9MHg4MDU1MWQ4LCBvcHQ9Mw0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0<br>
aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD00DQpbbWlj<br>
cm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4<br>
ODA1NTFkOCwgb3B0PTUNClttaWNyb3RlazJdIHNhbmVfZ2V0X29wdGlvbl9k<br>
ZXNjcmlwdG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBvcHQ9Ng0KW21pY3JvdGVr<br>
Ml0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUx<br>
ZDgsIG9wdD03DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3Jp<br>
cHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTgNClttaWNyb3RlazJdIHNh<br>
bmVfZ2V0X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5kbGU9MHg4MDU1MWQ4LCBv<br>
cHQ9OQ0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6<br>
IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0xMA0KW21pY3JvdGVrMl0gc2FuZV9n<br>
ZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUxZDgsIG9wdD0x<br>
MQ0KW21pY3JvdGVrMl0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhh<br>
bmRsZT0weDgwNTUxZDgsIG9wdD0xMg0KW21pY3JvdGVrMl0gc2FuZV9jb250<br>
cm9sX29wdGlvbjogb3B0PTEyLCBhY3Q9MCwgdmFsPTIxNS44OTk5OTQNCltt<br>
aWNyb3RlazJdIHNhbmVfZ2V0X29wdGlvbl9kZXNjcmlwdG9yOiBoYW5kbGU9<br>
MHg4MDU1MWQ4LCBvcHQ9MTMNClttaWNyb3RlazJdIHNhbmVfY29udHJvbF9v<br>
cHRpb246IG9wdD0xMywgYWN0PTAsIHZhbD0yOTcuMTc5OTkzDQpbbWljcm90<br>
ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1<br>
NTFkOCwgb3B0PTE0DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVz<br>
Y3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTE1DQpbbWljcm90ZWsy<br>
XSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFk<br>
OCwgb3B0PTE2DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3Jp<br>
cHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTE3DQpbbWljcm90ZWsyXSBz<br>
YW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwg<br>
b3B0PTE4DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRv<br>
cjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTE5DQpbbWljcm90ZWsyXSBzYW5l<br>
X2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0<br>
PTIwDQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjog<br>
aGFuZGxlPTB4ODA1NTFkOCwgb3B0PTIxDQpbbWljcm90ZWsyXSBzYW5lX2dl<br>
dF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTIy<br>
DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFu<br>
ZGxlPTB4ODA1NTFkOCwgb3B0PTIzDQpbbWljcm90ZWsyXSBzYW5lX2dldF9v<br>
cHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTI0DQpb<br>
bWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxl<br>
PTB4ODA1NTFkOCwgb3B0PTI1DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRp<br>
b25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTI2DQpbbWlj<br>
cm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4<br>
ODA1NTFkOCwgb3B0PTI3DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25f<br>
ZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTI4DQpbbWljcm90<br>
ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1<br>
NTFkOCwgb3B0PTI5DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVz<br>
Y3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTMwDQpbbWljcm90ZWsy<br>
XSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFk<br>
OCwgb3B0PTMxDQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3Jp<br>
cHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTMyDQpbbWljcm90ZWsyXSBz<br>
YW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwg<br>
b3B0PTMzDQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRv<br>
cjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTM0DQpbbWljcm90ZWsyXSBzYW5l<br>
X2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0<br>
PTM1DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3JpcHRvcjog<br>
aGFuZGxlPTB4ODA1NTFkOCwgb3B0PTM2DQpbbWljcm90ZWsyXSBzYW5lX2dl<br>
dF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTM3<br>
DQpbbWljcm90ZWsyXSBzYW5lX2NvbnRyb2xfb3B0aW9uOiBvcHQ9MTAsIGFj<br>
dD0wLCB2YWw9MC4wMDAwMDANClttaWNyb3RlazJdIHNhbmVfY29udHJvbF9v<br>
cHRpb246IG9wdD0xMSwgYWN0PTAsIHZhbD0wLjAwMDAwMA0KW21pY3JvdGVr<br>
Ml0gc2FuZV9nZXRfb3B0aW9uX2Rlc2NyaXB0b3I6IGhhbmRsZT0weDgwNTUx<br>
ZDgsIG9wdD01DQpbbWljcm90ZWsyXSBzYW5lX2dldF9vcHRpb25fZGVzY3Jp<br>
cHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0PTUNClttaWNyb3RlazJdIHNh<br>
bmVfY29udHJvbF9vcHRpb246IG9wdGlvbj01LCBhY3Rpb249MSwgdmFsdWU9<br>
MTAwLjAwMDAwMA0KW21pY3JvdGVrMl0gc2FuZV9jb250cm9sX29wdGlvbjog<br>
b3B0PTEwLCBhY3Q9MCwgdmFsPTAuMDAwMDAwDQpbbWljcm90ZWsyXSBzYW5l<br>
X2dldF9vcHRpb25fZGVzY3JpcHRvcjogaGFuZGxlPTB4ODA1NTFkOCwgb3B0<br>
PTEyDQpbbWljcm90ZWsyXSBzYW5lX2NvbnRyb2xfb3B0aW9uOiBvcHRpb249<br>
MTIsIGFjdGlvbj0xLCB2YWx1ZT0yMTUuODk5OTk0DQpbbWljcm90ZWsyXSBz<br>
YW5lX2NvbnRyb2xfb3B0aW9uOiBvcHQ9MTEsIGFjdD0wLCB2YWw9MC4wMDAw<br>
MDANClttaWNyb3RlazJdIHNhbmVfZ2V0X29wdGlvbl9kZXNjcmlwdG9yOiBo<br>
YW5kbGU9MHg4MDU1MWQ4LCBvcHQ9MTMNClttaWNyb3RlazJdIHNhbmVfY29u<br>
dHJvbF9vcHRpb246IG9wdGlvbj0xMywgYWN0aW9uPTEsIHZhbHVlPTI5Ny4x<br>
Nzk5OTMNClttaWNyb3RlazJdIHNhbmVfc3RhcnQ6IGhhbmRsZT0weDB4ODA1<br>
NTFkOA0KW21pY3JvdGVrMl0gZ2V0X3NjYW5fcGFyYW1ldGVyczogaGFuZGxl<br>
PTB4ODA1NTFkOA0KW21pY3JvdGVrMl0gZ2V0X3NjYW5fbW9kZV9hbmRfZGVw<br>
dGg6IGhhbmRsZT0weDgwNTUxZDgNClttaWNyb3RlazJdIGdldF9zY2FuX21v<br>
ZGVfYW5kX2RlcHRoOiBtb2RlPTIsIGRlcHRoPTgNClttaWNyb3RlazJdIGdl<br>
dF9zY2FuX3BhcmFtZXRlcnM6IG1vZGU9MiwgZGVwdGg9OA0KW21pY3JvdGVr<br>
Ml0gZ2V0X3NjYW5fcGFyYW1ldGVyczogeXJlcz0xMDAsIHgxPTAsIHdpZHRo<br>
PTIzNzQsIHkxPTAsIGhlaWdodD0zMjY4DQpbbWljcm90ZWsyXSBjYWxjdWxh<br>
dGVfZ2FtbWE6IG1zPTB4ODA1NTFkOCwgcG9zPTB4ODA1NTk0Mg0KW21pY3Jv<br>
dGVrMl0gY2FsY3VsYXRlX2dhbW1hOiBmYWN0b3I9NCwgbXVsdCA9MjU1LjAw<br>
MDAwMCwgc3RlcHM9MTAyMy4wMDAwMDANClttaWNyb3RlazJdIGNhbGN1bGF0<br>
ZV9nYW1tYTogbXM9MHg4MDU1MWQ4LCBwb3M9MHg4MDU1ZDQyDQpbbWljcm90<br>
ZWsyXSBjYWxjdWxhdGVfZ2FtbWE6IGZhY3Rvcj00LCBtdWx0ID0yNTUuMDAw<br>
MDAwLCBzdGVwcz0xMDIzLjAwMDAwMA0KW21pY3JvdGVrMl0gY2FsY3VsYXRl<br>
X2dhbW1hOiBtcz0weDgwNTUxZDgsIHBvcz0weDgwNTYxNDINClttaWNyb3Rl<br>
azJdIGNhbGN1bGF0ZV9nYW1tYTogZmFjdG9yPTQsIG11bHQgPTI1NS4wMDAw<br>
MDAsIHN0ZXBzPTEwMjMuMDAwMDAwDQpbbWljcm90ZWsyXSBzY3NpX3NldF93<br>
aW5kb3c6IG1zPTB4ODA1NTFkOCwgd25kPTENClttaWNyb3RlazJdIHNjc2lf<br>
cmVhZF9pbWFnZV9pbmZvOiBtcz0weDgwNTUxZDgNClttaWNyb3RlazJdIHNj<br>
c2lfcmVhZF9pbWFnZV9pbmZvOiBwcGw9NzkxLCBicGw9NzkyLCBsaW5lcz0x<br>
MDg5LCByZW1haW49ODYyNDg4DQpbbWljcm90ZWsyXSBzY3NpX3NlbmRfZ2Ft<br>
bWE6IHBvcz0weDgwNTU5MzgsIHdvcmRfc2l6ZT0xLCBsdXRfc2l6ZT0zMDcy<br>
DQpbbWljcm90ZWsyXSBzY3NpX3dhaXRfZm9yX3JlYWR5OiBtcz0weDgwNTUx<br>
ZDgNClttaWNyb3RlazJdIHNjc2lfcmVhZF9pbWFnZV9zdGF0dXM6IG1zPTB4<br>
ODA1NTFkOA0KW21pY3JvdGVrMl0gc2FuZV9nZXRfcGFyYW1ldGVyczogaGFu<br>
ZGxlPTB4ODA1NTFkOCwgcGFyYW1zPTB4YmZmZjdjYzQNClttaWNyb3RlazJd<br>
IHNhbmVfZ2V0X3BhcmFtZXRlcnM6IGZvcm1hdD0wLCBsYXN0X2ZyYW1lPTAs<br>
IGxpbmVzPTEwODkNClttaWNyb3RlazJdIHNhbmVfZ2V0X3BhcmFtZXRlcnM6<br>
IGRlcHRoPTgsIHBwbD03OTEsIGJwbD03OTINClttaWNyb3RlazJdIHNhbmVf<br>
cmVhZCgpOiBoYW5kbGU9MHg4MDU1MWQ4LCBidWY9MHhiZmZmN2NkYywgbWF4<br>
bGVuPTMyNzY4DQpbbWljcm90ZWsyXSBzYW5lX3JlYWQ6IHRyYW5zZmVybGVu<br>
Z3RoPTMyNDcyLCBsaW5lcz00MSBsaW5lbGVuZ3RoPTc5Mg0KW21pY3JvdGVr<br>
Ml0gc2NzaV93YWl0X2Zvcl9yZWFkeTogbXM9MHg4MDU1MWQ4DQpbbWljcm90<br>
ZWsyXSBzY3NpX3JlYWRfaW1hZ2Vfc3RhdHVzOiBtcz0weDgwNTUxZDgNCltt<br>
aWNyb3RlazJdIHNjc2lfcmVhZF9pbWFnZTogIG1zPTB4ODA1NTFkOA0KW21p<br>
Y3JvdGVrMl0gc2NzaV9yZWFkX2ltYWdlOiB0cmFuc2Zlcmxlbmd0aD0zMjQ3<br>
Mg0KW21pY3JvdGVrMl0gc2NzaV9yZWFkX2ltYWdlOiAnT3V0IG9mIG1lbW9y<br>
eScNCnNjYW5pbWFnZTogc2FuZV9yZWFkOiBPdXQgb2YgbWVtb3J5DQpbbWlj<br>
cm90ZWsyXSBzYW5lX2Nsb3NlOiBtcz0weDgwNTUxZDgNClttaWNyb3RlazJd<br>
IHNhbmVfZXhpdDoNClttaWNyb3RlazJdIHNhbmVfZ2V0X2RldmljZXM6IGxv<br>
Y2FsX29ubHk9MA0K<br>
--1589795320-1924414093-901466995=:24174<br>
Content-Type: TEXT/plain; name="trace.asc"<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.3.96.980726142955.24174D@unicorn.franken.de">Pine.LNX.3.96.980726142955.24174D@unicorn.franken.de</a>&gt;<br>
Content-Description: <br>
<p>
ZXhlY3ZlKCIuL3NjYW5pbWFnZSIsIFsiLi9zY2FuaW1hZ2UiLCAiLWQiLCAi<br>
bWljcm90ZWsyOi9kZXYvc2Nhbm5lciIsICItLW1vZGUiLCAiOC1CaXQiLCAi<br>
R3JheSIsICItLXJlc29sdXRpb24iLCAiMTAwZHBpIl0sIFsvKiAxOCB2YXJz<br>
ICovXSkgPSAwDQpicmsoMCkgICAgICAgICAgICAgICAgICAgICAgICAgICAg<br>
ICAgICAgPSAweDgwNGM3OTQNCm9wZW4oIi9ldGMvbGQuc28ucHJlbG9hZCIs<br>
IE9fUkRPTkxZKSAgICA9IC0xIEVOT0VOVCAoTm8gc3VjaCBmaWxlIG9yIGRp<br>
cmVjdG9yeSkNCm9wZW4oIi91c3IvbG9jYWwvbGliL2xpYnNhbmUuc28uMCIs<br>
IE9fUkRPTkxZKSA9IDMNCm1tYXAoMCwgNDA5NiwgUFJPVF9SRUFELCBNQVBf<br>
UFJJVkFURSwgMywgMCkgPSAweDQwMDBiMDAwDQptdW5tYXAoMHg0MDAwYjAw<br>
MCwgNDA5NikgICAgICAgICAgICAgICAgPSAwDQptbWFwKDAsIDE1NDI0LCBQ<br>
Uk9UX1JFQUR8UFJPVF9FWEVDLCBNQVBfUFJJVkFURSwgMywgMCkgPSAweDQw<br>
MDBiMDAwDQptcHJvdGVjdCgweDQwMDBlMDAwLCAzMTM2LCBQUk9UX05PTkUp<br>
ICAgPSAwDQptbWFwKDB4NDAwMGUwMDAsIDQwOTYsIFBST1RfUkVBRHxQUk9U<br>
X1dSSVRFLCBNQVBfUFJJVkFURXxNQVBfRklYRUQsIDMsIDB4MjAwMCkgPSAw<br>
eDQwMDBlMDAwDQpjbG9zZSgzKSAgICAgICAgICAgICAgICAgICAgICAgICAg<br>
ICAgICAgPSAwDQpvcGVuKCIvdXNyL2xvY2FsL2xpYi9saWJkbC5zby4yIiwg<br>
T19SRE9OTFkpID0gLTEgRU5PRU5UIChObyBzdWNoIGZpbGUgb3IgZGlyZWN0<br>
b3J5KQ0Kb3BlbigiL3Vzci9sb2NhbC9saWIvbGliZGwuc28uMiIsIE9fUkRP<br>
TkxZKSA9IC0xIEVOT0VOVCAoTm8gc3VjaCBmaWxlIG9yIGRpcmVjdG9yeSkN<br>
Cm9wZW4oIi9ldGMvbGQuc28uY2FjaGUiLCBPX1JET05MWSkgICAgICA9IDMN<br>
CmZzdGF0KDMsIHtzdF9tb2RlPTAsIHN0X3NpemU9MCwgLi4ufSkgICA9IDAN<br>
Cm1tYXAoMCwgMTE1MDMsIFBST1RfUkVBRCwgTUFQX1BSSVZBVEUsIDMsIDAp<br>
ID0gMHg0MDAwZjAwMA0KY2xvc2UoMykgICAgICAgICAgICAgICAgICAgICAg<br>
ICAgICAgICAgID0gMA0Kb3BlbigiL2xpYi9saWJkbC5zby4yIiwgT19SRE9O<br>
TFkpICAgICAgID0gMw0KbW1hcCgwLCA0MDk2LCBQUk9UX1JFQUQsIE1BUF9Q<br>
UklWQVRFLCAzLCAwKSA9IDB4NDAwMTIwMDANCm11bm1hcCgweDQwMDEyMDAw<br>
LCA0MDk2KSAgICAgICAgICAgICAgICA9IDANCm1tYXAoMCwgOTI1NiwgUFJP<br>
VF9SRUFEfFBST1RfRVhFQywgTUFQX1BSSVZBVEUsIDMsIDApID0gMHg0MDAx<br>
MjAwMA0KbXByb3RlY3QoMHg0MDAxNDAwMCwgMTA2NCwgUFJPVF9OT05FKSAg<br>
ID0gMA0KbW1hcCgweDQwMDE0MDAwLCA0MDk2LCBQUk9UX1JFQUR8UFJPVF9X<br>
UklURSwgTUFQX1BSSVZBVEV8TUFQX0ZJWEVELCAzLCAweDEwMDApID0gMHg0<br>
MDAxNDAwMA0KY2xvc2UoMykgICAgICAgICAgICAgICAgICAgICAgICAgICAg<br>
ICAgID0gMA0Kb3BlbigiL3Vzci9sb2NhbC9saWIvbGlibnNsLnNvLjEiLCBP<br>
X1JET05MWSkgPSAtMSBFTk9FTlQgKE5vIHN1Y2ggZmlsZSBvciBkaXJlY3Rv<br>
cnkpDQpvcGVuKCIvdXNyL2xvY2FsL2xpYi9saWJuc2wuc28uMSIsIE9fUkRP<br>
TkxZKSA9IC0xIEVOT0VOVCAoTm8gc3VjaCBmaWxlIG9yIGRpcmVjdG9yeSkN<br>
Cm9wZW4oIi9saWIvbGlibnNsLnNvLjEiLCBPX1JET05MWSkgICAgICA9IDMN<br>
Cm1tYXAoMCwgNDA5NiwgUFJPVF9SRUFELCBNQVBfUFJJVkFURSwgMywgMCkg<br>
PSAweDQwMDE1MDAwDQptdW5tYXAoMHg0MDAxNTAwMCwgNDA5NikgICAgICAg<br>
ICAgICAgICAgPSAwDQptbWFwKDAsIDIxOTgwLCBQUk9UX1JFQUR8UFJPVF9F<br>
WEVDLCBNQVBfUFJJVkFURSwgMywgMCkgPSAweDQwMDE1MDAwDQptcHJvdGVj<br>
dCgweDQwMDE5MDAwLCA1NTk2LCBQUk9UX05PTkUpICAgPSAwDQptbWFwKDB4<br>
NDAwMTkwMDAsIDgxOTIsIFBST1RfUkVBRHxQUk9UX1dSSVRFLCBNQVBfUFJJ<br>
VkFURXxNQVBfRklYRUQsIDMsIDB4MzAwMCkgPSAweDQwMDE5MDAwDQpjbG9z<br>
ZSgzKSAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPSAwDQpvcGVu<br>
KCIvdXNyL2xvY2FsL2xpYi9saWJtLnNvLjYiLCBPX1JET05MWSkgPSAtMSBF<br>
Tk9FTlQgKE5vIHN1Y2ggZmlsZSBvciBkaXJlY3RvcnkpDQpvcGVuKCIvdXNy<br>
L2xvY2FsL2xpYi9saWJtLnNvLjYiLCBPX1JET05MWSkgPSAtMSBFTk9FTlQg<br>
KE5vIHN1Y2ggZmlsZSBvciBkaXJlY3RvcnkpDQpvcGVuKCIvbGliL2xpYm0u<br>
c28uNiIsIE9fUkRPTkxZKSAgICAgICAgPSAzDQptbWFwKDAsIDQwOTYsIFBS<br>
T1RfUkVBRCwgTUFQX1BSSVZBVEUsIDMsIDApID0gMHg0MDAxYjAwMA0KbW1h<br>
cCgwLCA0MDk2LCBQUk9UX1JFQUR8UFJPVF9XUklURSwgTUFQX1BSSVZBVEV8<br>
TUFQX0FOT05ZTU9VUywgLTEsIDApID0gMHg0MDAxYzAwMA0KbXVubWFwKDB4<br>
NDAwMWIwMDAsIDQwOTYpICAgICAgICAgICAgICAgID0gMA0KbW1hcCgwLCAx<br>
MDAwNjQsIFBST1RfUkVBRHxQUk9UX0VYRUMsIE1BUF9QUklWQVRFLCAzLCAw<br>
KSA9IDB4NDAwMWQwMDANCm1wcm90ZWN0KDB4NDAwMzUwMDAsIDE3NjAsIFBS<br>
T1RfTk9ORSkgICA9IDANCm1tYXAoMHg0MDAzNTAwMCwgNDA5NiwgUFJPVF9S<br>
RUFEfFBST1RfV1JJVEUsIE1BUF9QUklWQVRFfE1BUF9GSVhFRCwgMywgMHgx<br>
NzAwMCkgPSAweDQwMDM1MDAwDQpjbG9zZSgzKSAgICAgICAgICAgICAgICAg<br>
ICAgICAgICAgICAgICAgPSAwDQpvcGVuKCIvdXNyL2xvY2FsL2xpYi9saWJj<br>
LnNvLjYiLCBPX1JET05MWSkgPSAtMSBFTk9FTlQgKE5vIHN1Y2ggZmlsZSBv<br>
ciBkaXJlY3RvcnkpDQpvcGVuKCIvdXNyL2xvY2FsL2xpYi9saWJjLnNvLjYi<br>
LCBPX1JET05MWSkgPSAtMSBFTk9FTlQgKE5vIHN1Y2ggZmlsZSBvciBkaXJl<br>
Y3RvcnkpDQpvcGVuKCIvbGliL2xpYmMuc28uNiIsIE9fUkRPTkxZKSAgICAg<br>
ICAgPSAzDQptbWFwKDAsIDQwOTYsIFBST1RfUkVBRCwgTUFQX1BSSVZBVEUs<br>
IDMsIDApID0gMHg0MDAxYjAwMA0KbXVubWFwKDB4NDAwMWIwMDAsIDQwOTYp<br>
ICAgICAgICAgICAgICAgID0gMA0KbW1hcCgwLCA2NzA1ODAsIFBST1RfUkVB<br>
RHxQUk9UX0VYRUMsIE1BUF9QUklWQVRFLCAzLCAwKSA9IDB4NDAwMzYwMDAN<br>
Cm1wcm90ZWN0KDB4NDAwYzcwMDAsIDc2NjYwLCBQUk9UX05PTkUpICA9IDAN<br>
Cm1tYXAoMHg0MDBjNzAwMCwgMjg2NzIsIFBST1RfUkVBRHxQUk9UX1dSSVRF<br>
LCBNQVBfUFJJVkFURXxNQVBfRklYRUQsIDMsIDB4OTAwMDApID0gMHg0MDBj<br>
NzAwMA0KbW1hcCgweDQwMGNlMDAwLCA0Nzk4OCwgUFJPVF9SRUFEfFBST1Rf<br>
V1JJVEUsIE1BUF9QUklWQVRFfE1BUF9GSVhFRHxNQVBfQU5PTllNT1VTLCAt<br>
MSwgMCkgPSAweDQwMGNlMDAwDQpjbG9zZSgzKSAgICAgICAgICAgICAgICAg<br>
ICAgICAgICAgICAgICAgPSAwDQptcHJvdGVjdCgweDQwMDBiMDAwLCAxMjI4<br>
OCwgUFJPVF9SRUFEfFBST1RfV1JJVEUpID0gMA0KbXByb3RlY3QoMHg0MDAw<br>
YjAwMCwgMTIyODgsIFBST1RfUkVBRHxQUk9UX0VYRUMpID0gMA0KcGVyc29u<br>
YWxpdHkoMCAvKiBQRVJfPz8/ICovKSAgICAgICAgICAgID0gMA0KZ2V0cGlk<br>
KCkgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgID0gMjQxNjgNCmJy<br>
aygwKSAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA9IDB4ODA0<br>
Yzc5NA0KYnJrKDB4ODA0YzdjNCkgICAgICAgICAgICAgICAgICAgICAgICAg<br>
ID0gMHg4MDRjN2M0DQpicmsoMHg4MDRkMDAwKSAgICAgICAgICAgICAgICAg<br>
ICAgICAgICAgPSAweDgwNGQwMDANCm9wZW4oIi4vZGxsLmNvbmYiLCBPX1JE<br>
T05MWSkgICAgICAgICAgICA9IC0xIEVOT0VOVCAoTm8gc3VjaCBmaWxlIG9y<br>
IGRpcmVjdG9yeSkNCm9wZW4oIi91c3IvbG9jYWwvZXRjL3NhbmUuZC9kbGwu<br>
Y29uZiIsIE9fUkRPTkxZKSA9IDMNCmZzdGF0KDMsIHtzdF9tb2RlPTAsIHN0<br>
X3NpemU9MCwgLi4ufSkgICA9IDANCm1tYXAoMCwgNDA5NiwgUFJPVF9SRUFE<br>
fFBST1RfV1JJVEUsIE1BUF9QUklWQVRFfE1BUF9BTk9OWU1PVVMsIC0xLCAw<br>
KSA9IDB4NDAwMWIwMDANCnJlYWQoMywgIiMgZW5hYmxlIHRoZSBuZXh0IGxp<br>
bmUgaWYgeW91IHdhIi4uLiwgNDA5NikgPSAxOTQNCnJlYWQoMywgIiIsIDQw<br>
OTYpICAgICAgICAgICAgICAgICAgICAgICA9IDANCmNsb3NlKDMpICAgICAg<br>
ICAgICAgICAgICAgICAgICAgICAgICAgICA9IDANCm11bm1hcCgweDQwMDFi<br>
MDAwLCA0MDk2KSAgICAgICAgICAgICAgICA9IDANCm9wZW4oIi91c3IvbG9j<br>
YWwvbGliL3NhbmUvbGlic2FuZS1taWNyb3RlazIuc28uMCIsIE9fUkRPTkxZ<br>
KSA9IDMNCm9wZW4oIi91c3IvbG9jYWwvbGliL3NhbmUvbGlic2FuZS1taWNy<br>
b3RlazIuc28uMCIsIE9fUkRPTkxZKSA9IDQNCm1tYXAoMCwgNDA5NiwgUFJP<br>
VF9SRUFELCBNQVBfUFJJVkFURSwgNCwgMCkgPSAweDQwMDFiMDAwDQptdW5t<br>
YXAoMHg0MDAxYjAwMCwgNDA5NikgICAgICAgICAgICAgICAgPSAwDQptbWFw<br>
KDAsIDU5MjQ0LCBQUk9UX1JFQUR8UFJPVF9FWEVDLCBNQVBfUFJJVkFURSwg<br>
NCwgMCkgPSAweDQwMGRhMDAwDQptcHJvdGVjdCgweDQwMGU4MDAwLCAxOTAw<br>
LCBQUk9UX05PTkUpICAgPSAwDQptbWFwKDB4NDAwZTgwMDAsIDQwOTYsIFBS<br>
T1RfUkVBRHxQUk9UX1dSSVRFLCBNQVBfUFJJVkFURXxNQVBfRklYRUQsIDQs<br>
IDB4ZDAwMCkgPSAweDQwMGU4MDAwDQpjbG9zZSg0KSAgICAgICAgICAgICAg<br>
ICAgICAgICAgICAgICAgICAgPSAwDQptcHJvdGVjdCgweDQwMGRhMDAwLCA1<br>
NzM0NCwgUFJPVF9SRUFEfFBST1RfV1JJVEUpID0gMA0KbXByb3RlY3QoMHg0<br>
MDBkYTAwMCwgNTczNDQsIFBST1RfUkVBRHxQUk9UX0VYRUMpID0gMA0Kb3Bl<br>
bigiLi9taWNyb3RlazIuY29uZiIsIE9fUkRPTkxZKSAgICAgID0gLTEgRU5P<br>
RU5UIChObyBzdWNoIGZpbGUgb3IgZGlyZWN0b3J5KQ0Kb3BlbigiL3Vzci9s<br>
b2NhbC9ldGMvc2FuZS5kL21pY3JvdGVrMi5jb25mIiwgT19SRE9OTFkpID0g<br>
NA0KZnN0YXQoNCwge3N0X21vZGU9MCwgc3Rfc2l6ZT0wLCAuLi59KSAgID0g<br>
MA0KbW1hcCgwLCA0MDk2LCBQUk9UX1JFQUR8UFJPVF9XUklURSwgTUFQX1BS<br>
SVZBVEV8TUFQX0FOT05ZTU9VUywgLTEsIDApID0gMHg0MDAxYjAwMA0KcmVh<br>
ZCg0LCAiL2Rldi9zY2FubmVyXG4iLCA0MDk2KSAgICAgICAgID0gMTMNCmJy<br>
aygweDgwNGUwMDApICAgICAgICAgICAgICAgICAgICAgICAgICA9IDB4ODA0<br>
ZTAwMA0Kb3BlbigiL3Byb2Mvc3lzL2tlcm5lbC9zZy1iaWctYnVmZiIsIE9f<br>
UkRPTkxZKSA9IC0xIEVOT0VOVCAoTm8gc3VjaCBmaWxlIG9yIGRpcmVjdG9y<br>
eSkNCm9wZW4oIi9kZXYvc2Nhbm5lciIsIE9fUkRXUnxPX0VYQ0wpICAgICA9<br>
IDUNCmlvY3RsKDUsIFRJT0NTQ0NJTkksIDB4YmZmZmY3YTQpICAgICAgICA9<br>
IDANCmJyaygweDgwNTcwMDApICAgICAgICAgICAgICAgICAgICAgICAgICA9<br>
IDB4ODA1NzAwMA0Kc2lncHJvY21hc2soU0lHX0JMT0NLLCB+W10sIFtdKSAg<br>
ICAgICAgID0gMA0Kc2lncHJvY21hc2soU0lHX1NFVE1BU0ssIFtdLCBOVUxM<br>
KSAgICAgID0gMA0Kc2lncHJvY21hc2soU0lHX0JMT0NLLCB+W10sIFtdKSAg<br>
ICAgICAgID0gMA0Kd3JpdGUoNSwgIipcMFwwXDBcMjA0XDBcMFwwXDBcMFww<br>
XDBcMFwwXDBcMCIuLi4sIDQyKSA9IDQyDQpzaWdwcm9jbWFzayhTSUdfU0VU<br>
TUFTSywgW10sIE5VTEwpICAgICAgPSAwDQpzZWxlY3QoNiwgWzVdLCBOVUxM<br>
LCBOVUxMLCBOVUxMKSAgICAgICAgPSAxIChpbiBbNV0pDQpzaWdwcm9jbWFz<br>
ayhTSUdfQkxPQ0ssIH5bXSwgW10pICAgICAgICAgPSAwDQpyZWFkKDUsICJc<br>
MjA0XDBcMFwwXDIwNFwwXDBcMFwwXDBcMFwwXDBcMCIuLi4sIDEzMikgPSAx<br>
MzINCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9<br>
IDANCmNsb3NlKDUpICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA9<br>
IDANCm9wZW4oIi9kZXYvc2Nhbm5lciIsIE9fUkRXUnxPX0VYQ0wpICAgICA9<br>
IDUNCmlvY3RsKDUsIFRJT0NTQ0NJTkksIDB4YmZmZmY3ZTApICAgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAgICA9<br>
IDANCndyaXRlKDUsICIuXDBcMFwwQ1wwXDBcMFwxXDBcMFwwXDBcMFwwXDBc<br>
MCIuLi4sIDQ2KSA9IDQ2DQpzaWdwcm9jbWFzayhTSUdfU0VUTUFTSywgW10s<br>
IE5VTEwpICAgICAgPSAwDQpzZWxlY3QoNiwgWzVdLCBOVUxMLCBOVUxMLCBO<br>
VUxMKSAgICAgICAgPSAxIChpbiBbNV0pDQpzaWdwcm9jbWFzayhTSUdfQkxP<br>
Q0ssIH5bXSwgW10pICAgICAgICAgPSAwDQpyZWFkKDUsICJDXDBcMFwwQ1ww<br>
XDBcMFwxXDBcMFwwXDBcMFwwXDBcMCIuLi4sIDY3KSA9IDY3DQpzaWdwcm9j<br>
bWFzayhTSUdfU0VUTUFTSywgW10sIE5VTEwpICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfQkxPQ0ssIH5bXSwgW10pICAgICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfU0VUTUFTSywgW10sIE5VTEwpICAgICAgPSAwDQpjbG9zZSg1<br>
KSAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPSAwDQpyZWFkKDQs<br>
ICIiLCA0MDk2KSAgICAgICAgICAgICAgICAgICAgICAgPSAwDQpjbG9zZSg0<br>
KSAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPSAwDQptdW5tYXAo<br>
MHg0MDAxYjAwMCwgNDA5NikgICAgICAgICAgICAgICAgPSAwDQpvcGVuKCIv<br>
ZGV2L3NjYW5uZXIiLCBPX1JEV1J8T19FWENMKSAgICAgPSA0DQppb2N0bCg0<br>
LCBUSU9DU0NDSU5JLCAweGJmZmZmYmJjKSAgICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfQkxPQ0ssIH5bXSwgW10pICAgICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfU0VUTUFTSywgW10sIE5VTEwpICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfQkxPQ0ssIH5bXSwgW10pICAgICAgICAgPSAwDQp3cml0ZSg0<br>
LCAiKlwwXDBcMFwyMDRcMFwwXDBcMlwwXDBcMFwwXDBcMFwwIi4uLiwgNDIp<br>
ID0gNDINCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAg<br>
ICA9IDANCnNlbGVjdCg1LCBbNF0sIE5VTEwsIE5VTEwsIE5VTEwpICAgICAg<br>
ICA9IDEgKGluIFs0XSkNCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBb<br>
XSkgICAgICAgICA9IDANCnJlYWQoNCwgIlwyMDRcMFwwXDBcMjA0XDBcMFww<br>
XDJcMFwwXDBcMFwwIi4uLiwgMTMyKSA9IDEzMg0Kc2lncHJvY21hc2soU0lH<br>
X1NFVE1BU0ssIFtdLCBOVUxMKSAgICAgID0gMA0Kc2lncHJvY21hc2soU0lH<br>
X0JMT0NLLCB+W10sIFtdKSAgICAgICAgID0gMA0Kc2lncHJvY21hc2soU0lH<br>
X1NFVE1BU0ssIFtdLCBOVUxMKSAgICAgID0gMA0KY2xvc2UoNCkgICAgICAg<br>
ICAgICAgICAgICAgICAgICAgICAgICAgID0gMA0Kb3BlbigiL2Rldi9zY2Fu<br>
bmVyIiwgT19SRFdSfE9fRVhDTCkgICAgID0gNA0KaW9jdGwoNCwgVElPQ1ND<br>
Q0lOSSwgMHhiZmZmZmJmOCkgICAgICAgID0gMA0Kc2lncHJvY21hc2soU0lH<br>
X0JMT0NLLCB+W10sIFtdKSAgICAgICAgID0gMA0Kc2lncHJvY21hc2soU0lH<br>
X1NFVE1BU0ssIFtdLCBOVUxMKSAgICAgID0gMA0Kc2lncHJvY21hc2soU0lH<br>
X0JMT0NLLCB+W10sIFtdKSAgICAgICAgID0gMA0Kd3JpdGUoNCwgIi5cMFww<br>
XDBDXDBcMFwwXDNcMFwwXDBcMFwwXDBcMFwwIi4uLiwgNDYpID0gNDYNCnNp<br>
Z3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9IDANCnNl<br>
bGVjdCg1LCBbNF0sIE5VTEwsIE5VTEwsIE5VTEwpICAgICAgICA9IDEgKGlu<br>
IFs0XSkNCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAg<br>
ICA9IDANCnJlYWQoNCwgIkNcMFwwXDBDXDBcMFwwXDNcMFwwXDBcMFwwXDBc<br>
MFwwIi4uLiwgNjcpID0gNjcNCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBb<br>
XSwgTlVMTCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltd<br>
LCBbXSkgICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBb<br>
XSwgTlVMTCkgICAgICA9IDANCmNsb3NlKDQpICAgICAgICAgICAgICAgICAg<br>
ICAgICAgICAgICAgICA9IDANCnNpZ2FjdGlvbihTSUdIVVAsIHsweDgwNDhi<br>
ZjAsIFtdLCBTQV9OT01BU0t8MHhlYTcwfSwge1NJR19ERkx9KSA9IDANCnNp<br>
Z2FjdGlvbihTSUdJTlQsIHsweDgwNDhiZjAsIFtdLCBTQV9TVEFDS3wweDU1<br>
MWQ4fSwge1NJR19ERkx9KSA9IDANCnNpZ2FjdGlvbihTSUdQSVBFLCB7MHg4<br>
MDQ4YmYwLCBbXSwgU0FfTk9NQVNLfDB4ZTg0YzR9LCB7U0lHX0RGTH0pID0g<br>
MA0Kc2lnYWN0aW9uKFNJR1RFUk0sIHsweDgwNDhiZjAsIFtdLCAwfSwge1NJ<br>
R19ERkx9KSA9IDANCm9wZW4oIi9kZXYvc2Nhbm5lciIsIE9fUkRXUnxPX0VY<br>
Q0wpICAgICA9IDQNCmlvY3RsKDQsIFRJT0NTQ0NJTkksIDB4YmZmZjdjMGMp<br>
ICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkg<br>
ICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVM<br>
TCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkg<br>
ICAgICAgICA9IDANCndyaXRlKDQsICJzXDBcMFwwJFwwXDBcMFw0XDBcMFww<br>
XDBcMFwwXDBcMCIuLi4sIDExNSkgPSAxMTUNCnNpZ3Byb2NtYXNrKFNJR19T<br>
RVRNQVNLLCBbXSwgTlVMTCkgICAgICA9IDANCnNlbGVjdCg1LCBbNF0sIE5V<br>
TEwsIE5VTEwsIE5VTEwpICAgICAgICA9IDEgKGluIFs0XSkNCnNpZ3Byb2Nt<br>
YXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAgICA9IDANCnJlYWQoNCwg<br>
IiRcMFwwXDAkXDBcMFwwXDRcMFwwXDBcMFwwXDBcMFwwIi4uLiwgMzYpID0g<br>
MzYNCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9<br>
IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkgICAgICAgICA9<br>
IDANCndyaXRlKDQsICIuXDBcMFwwMDA0XDBcMFwwXDVcMFwwXDBcMFwwXDBc<br>
MCIuLi4sIDQ2KSA9IDQ2DQpzaWdwcm9jbWFzayhTSUdfU0VUTUFTSywgW10s<br>
IE5VTEwpICAgICAgPSAwDQpzZWxlY3QoNSwgWzRdLCBOVUxMLCBOVUxMLCBO<br>
VUxMKSAgICAgICAgPSAxIChpbiBbNF0pDQpzaWdwcm9jbWFzayhTSUdfQkxP<br>
Q0ssIH5bXSwgW10pICAgICAgICAgPSAwDQpyZWFkKDQsICI0XDBcMFwwMDA0<br>
XDBcMFwwXDVcMFwwXDBcMFwwXDBcMCIuLi4sIDUyKSA9IDUyDQpzaWdwcm9j<br>
bWFzayhTSUdfU0VUTUFTSywgW10sIE5VTEwpICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfQkxPQ0ssIH5bXSwgW10pICAgICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfU0VUTUFTSywgW10sIE5VTEwpICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfQkxPQ0ssIH5bXSwgW10pICAgICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfU0VUTUFTSywgW10sIE5VTEwpICAgICAgPSAwDQpzaWdwcm9j<br>
bWFzayhTSUdfQkxPQ0ssIH5bXSwgW10pICAgICAgICAgPSAwDQp3cml0ZSg0<br>
LCAiLlxmXDBcMCRcMFwwXDBcNlwwXDBcMFwwXDBcMFwwXDAiLi4uLCAzMTE4<br>
KSA9IDMxMTgNCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkg<br>
ICAgICA9IDANCnNlbGVjdCg1LCBbNF0sIE5VTEwsIE5VTEwsIE5VTEwpICAg<br>
ICAgICA9IDEgKGluIFs0XSkNCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltd<br>
LCBbXSkgICAgICAgICA9IDANCnJlYWQoNCwgIiRcMFwwXDAkXDBcMFwwXDZc<br>
MFwwXDBcMFwwXDBcMFwwIi4uLiwgMzYpID0gMzYNCnNpZ3Byb2NtYXNrKFNJ<br>
R19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJ<br>
R19CTE9DSywgfltdLCBbXSkgICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJ<br>
R19TRVRNQVNLLCBbXSwgTlVMTCkgICAgICA9IDANCmJyaygweDgwNzcwMDAp<br>
ICAgICAgICAgICAgICAgICAgICAgICAgICA9IDB4ODA3NzAwMA0Kc2lncHJv<br>
Y21hc2soU0lHX0JMT0NLLCB+W10sIFtdKSAgICAgICAgID0gMA0Kc2lncHJv<br>
Y21hc2soU0lHX1NFVE1BU0ssIFtdLCBOVUxMKSAgICAgID0gMA0Kc2lncHJv<br>
Y21hc2soU0lHX0JMT0NLLCB+W10sIFtdKSAgICAgICAgID0gMA0Kd3JpdGUo<br>
NCwgIi5cMFwwXDAkXDBcMFwwXDdcMFwwXDBcMFwwXDBcMFwwIi4uLiwgNDYp<br>
ID0gNDYNCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVMTCkgICAg<br>
ICA9IDANCnNlbGVjdCg1LCBbNF0sIE5VTEwsIE5VTEwsIE5VTEwpICAgICAg<br>
ICA9IDEgKGluIFs0XSkNCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBb<br>
XSkgICAgICAgICA9IDANCnJlYWQoNCwgIiRcMFwwXDAkXDBcMFwwXDdcMFww<br>
XDBcMFwwXDBcMFwwIi4uLiwgMzYpID0gMzYNCnNpZ3Byb2NtYXNrKFNJR19T<br>
RVRNQVNLLCBbXSwgTlVMTCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19C<br>
TE9DSywgfltdLCBbXSkgICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19T<br>
RVRNQVNLLCBbXSwgTlVMTCkgICAgICA9IDANCmZzdGF0KDEsIHtzdF9tb2Rl<br>
PTAsIHN0X3NpemU9MCwgLi4ufSkgICA9IDANCm1tYXAoMCwgNDA5NiwgUFJP<br>
VF9SRUFEfFBST1RfV1JJVEUsIE1BUF9QUklWQVRFfE1BUF9BTk9OWU1PVVMs<br>
IC0xLCAwKSA9IDB4NDAwMWIwMDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywg<br>
fltdLCBbXSkgICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNL<br>
LCBbXSwgTlVMTCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywg<br>
fltdLCBbXSkgICAgICAgICA9IDANCndyaXRlKDQsICIuXDBcMFwwJFwwXDBc<br>
MFwxMFwwXDBcMFwwXDBcMFwwXDAiLi4uLCA0NikgPSA0Ng0Kc2lncHJvY21h<br>
c2soU0lHX1NFVE1BU0ssIFtdLCBOVUxMKSAgICAgID0gMA0Kc2VsZWN0KDUs<br>
IFs0XSwgTlVMTCwgTlVMTCwgTlVMTCkgICAgICAgID0gMSAoaW4gWzRdKQ0K<br>
c2lncHJvY21hc2soU0lHX0JMT0NLLCB+W10sIFtdKSAgICAgICAgID0gMA0K<br>
cmVhZCg0LCAiJFwwXDBcMCRcMFwwXDBcMTBcMFwwXDBcMFwwXDBcMFwwIi4u<br>
LiwgMzYpID0gMzYNCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVM<br>
TCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkg<br>
ICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVM<br>
TCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkg<br>
ICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVM<br>
TCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkg<br>
ICAgICAgICA9IDANCndyaXRlKDQsICIuXDBcMFwwJFwzNzZcMVwwXHRcMFww<br>
XDBcMFwwXDBcMCIuLi4sIDQ2KSA9IC0xIEVOT01FTSAoQ2Fubm90IGFsbG9j<br>
YXRlIG1lbW9yeSkNCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVM<br>
TCkgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19CTE9DSywgfltdLCBbXSkg<br>
ICAgICAgICA9IDANCnNpZ3Byb2NtYXNrKFNJR19TRVRNQVNLLCBbXSwgTlVM<br>
TCkgICAgICA9IDANCndyaXRlKDIsICJzY2FuaW1hZ2U6IHNhbmVfcmVhZDog<br>
T3V0IG9mIG1lbSIuLi4sIDM2c2NhbmltYWdlOiBzYW5lX3JlYWQ6IE91dCBv<br>
ZiBtZW1vcnkNCikgPSAzNg0KYnJrKDB4ODA1NzAwMCkgICAgICAgICAgICAg<br>
ICAgICAgICAgICAgID0gMHg4MDU3MDAwDQotLS0gU0lHU0VHViAoU2VnbWVu<br>
dGF0aW9uIGZhdWx0KSAtLS0NCisrKyBraWxsZWQgYnkgU0lHU0VHViArKysN<br>
Cg==<br>
--1589795320-1924414093-901466995=:24174--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Oliver Rauch: "Re: problems with sgi/umax"</a>
<li> <b>Previous message:</b> <a href="0155.html">Didier Carlier: "Re: problems with sgi/umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
