<!-- received="Tue Aug  3 07:19:56 1999 PDT" -->
<!-- sent="03 Aug 1999 10:20:53 -0400" -->
<!-- name="Allan Strand" -->
<!-- email="stranda@cofc.edu" -->
<!-- subject="Sane + FreeBSD 3.2" -->
<!-- id="" -->
<!-- inreplyto="Wed, 12 May 1999 16:24:46 +0200"" -->
<title>sane-devel: Sane + FreeBSD 3.2</title>
<h1>Sane + FreeBSD 3.2</h1>
<b>Allan Strand</b> (<a href="mailto:stranda@cofc.edu"><i>stranda@cofc.edu</i></a>)<br>
<i>03 Aug 1999 10:20:53 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Previous message:</b> <a href="0019.html">Andreas Rick: "SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0021.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Reply:</b> <a href="0021.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Reply:</b> <a href="0024.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Has anyone had luck with sane and freebsd 3.2?  Since I have changed<br>
to the new freebsd CAM SCSI system, I have not been able to make any<br>
version of sane work satisfactorily.  Currently, the scanner is only<br>
recognized by root.  Furthermore, when scanning as root, the scanner<br>
seems to always hang.<br>
<p>
My hardware setup:<br>
<p>
sane 1.0.1 built from the freebsd ports collection<br>
adaptec 2940 <br>
umax 610S<br>
<p>
I'd appreciate any hints.<br>
<pre>
-- 
Allan E. Strand          <a href="mailto:stranda@cofc.edu">stranda@cofc.edu</a>,  <a href="http://linum.cofc.edu">http://linum.cofc.edu</a>
Department of Biology    Phone:      (843) 953-8085
College of Charleston    Fax:        (843) 953-5453
Charleston, SC 29424           
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Previous message:</b> <a href="0019.html">Andreas Rick: "SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0021.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Reply:</b> <a href="0021.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Reply:</b> <a href="0024.html">Oliver Rauch: "Re: Sane + FreeBSD 3.2"</a>
<!-- reply="end" -->
</ul>
