<!-- received="Tue Aug  3 10:35:45 1999 PDT" -->
<!-- sent="Tue, 3 Aug 1999 18:36:48 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SANE_FRAME Formats (was Re: xsane-0.31 available)" -->
<!-- id="" -->
<!-- inreplyto="37A69A5C.3C815D75@gemse.fr" -->
<title>sane-devel: Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</title>
<h1>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Tue, 3 Aug 1999 18:36:48 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#26">[ date ]</a><a href="index.html#26">[ thread ]</a><a href="subject.html#26">[ subject ]</a><a href="author.html#26">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Nick Lamb: "Digital cameras (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>In reply to:</b> <a href="0019.html">Andreas Rick: "SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Oliver Rauch: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 3 Aug 1999, Andreas Rick wrote:<br>
<i>&gt; The problem with defining all thinkable formats is that it</i><br>
<i>&gt; adds a considerable amount of complexity to the frontend</i><br>
<i>&gt; which is only used for one specific backend which is able</i><br>
<i>&gt; to produce that one particular data-type.</i><br>
<p>
And if we don't, we don't get any functionality for that particular data<br>
type. So I don't see what we're losing. The infrared channel is not<br>
useful unless you know what to do with it -- it's not "REAL" image data<br>
in the usual sense.<br>
<p>
Also, you are falling into the same trap as Oliver with regard to the<br>
number of additional formats. Since SANE's inception, only one new<br>
format has been added and probably only one or two more will be needed<br>
to fulfill the needs of every commercially-available type of scanner.<br>
<p>
<i>&gt; By this I mean there should be a different frame format</i><br>
<i>&gt; only if the data-flow in the frontend is impacted.</i><br>
<i>&gt; There typically is no different data-flow for a</i><br>
<i>&gt; RGB-Infrared image or a RGB_Ultraviolet image so it</i><br>
<i>&gt; is acceptable to have the same SANE_FRAME format.</i><br>
<p>
It's a trap. The data flow depends only on number of channels, which<br>
we already know. So now I wonder why SANE defines all these FRAME types<br>
if not to tell me what's inside the frame...<br>
<p>
If I treat an infrared scan from my Nikon Coolscan as simple RGBA, I<br>
will get nonsense out. The scanner knew what was in that data, and<br>
SANE knows right now. But with Oliver's design, suddenly SANE forgets<br>
this useful knowledge, and I just have junk in my alpha channel<br>
<p>
NB Just because you can't save "channel 4 is infrared" in PNG, doesn't<br>
mean you can't export the fouth channel directly to Gimp as <br>
"Additional channel: Name: Infrared, Colour: Orange 50%", and let a<br>
Gimp plug-in do the rest. You can even attach a parasite (in 1.1.x)<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">Nick Lamb: "Digital cameras (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>In reply to:</b> <a href="0019.html">Andreas Rick: "SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Oliver Rauch: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
