<!-- received="Tue Aug  3 16:56:43 1999 PDT" -->
<!-- sent="Tue, 03 Aug 1999 16:58:05 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: SANE_FRAME Formats (was Re: xsane-0.31 available)" -->
<!-- id="199908032358.QAA01925@icarus.com" -->
<!-- inreplyto="37A762F5.B917FBBA@wolfsburg.de" -->
<title>sane-devel: Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</title>
<h1>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Tue, 03 Aug 1999 16:58:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#37">[ date ]</a><a href="index.html#37">[ thread ]</a><a href="subject.html#37">[ subject ]</a><a href="author.html#37">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Nick Lamb: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0036.html">Oliver Rauch: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:<br>
<i>&gt; Does the backend need to know what a frontend can handle? </i><br>
<p>
No, it just needs to know what format the frontend wants the next<br>
image to be in. If the frontend can't handle JFIF, it won't ask for it.<br>
Sound sane (er, sensible)?<br>
<p>
<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:<br>
<i>&gt; I don`t know if we really need "must have" frame formats. If there is</i><br>
<i>&gt; a frontend that only can handle JPEG-frames, where is the problem? </i><br>
<p>
The "must have" would apply to the scanner driver, I think. An application<br>
that uses one of the "must have" formats should be able to operate any<br>
SANE driver, albeit not necessarily optimally. If the application is not<br>
happy with any of the "must have" formats, then that application is<br>
taking the chance of not being able to connect to certain scanners.<br>
<p>
If GIMP uses "must have" formats, then it can read an image from *any*<br>
scanner, or the driver for that scanner is broken. If GIMP insists on<br>
some optional format, then that is its own problem.<br>
<p>
<p>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Nick Lamb: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0036.html">Oliver Rauch: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
