<!-- received="Wed Aug  4 07:44:45 1999 PDT" -->
<!-- sent="Wed, 04 Aug 1999 07:46:33 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: JPEG scanner stuff" -->
<!-- id="199908041446.HAA04410@icarus.com" -->
<!-- inreplyto="Pine.LNX.4.10.9908040631590.15999-100000@chef.ecs.soton.ac.uk" -->
<title>sane-devel: Re: JPEG scanner stuff</title>
<h1>Re: JPEG scanner stuff</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Wed, 04 Aug 1999 07:46:33 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">David Fox: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0053.html">Chris Edwards: "SANE-1.0.1,  Linux/m68k 2.0.36 (Amiga), Scanmaker E3+"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:njl98r@ecs.soton.ac.uk">njl98r@ecs.soton.ac.uk</a> said:<br>
<i>&gt; What exactly comes out of your scanners? Is it just a JFIF standard</i><br>
<i>&gt; header followed by JPEG image data? </i><br>
<p>
Well, JFIF is really just an APP marker and some constraints on the<br>
JPEG stream that follows. DQT and DHT markers, and all the other required<br>
markers to make a fully formed JPEG compressed stream are present.<br>
So I'm not quite sure what you mean by "JFIF header followed by JPEG<br>
image data."<br>
<p>
If the image is color, I've had one component per scan, combined the<br>
color components in a scan, etc. The SOF marker describes the internal<br>
structure. The scanner boards have hardware jpeg compressors that can<br>
produce the JFIF images, with a little help from a micoprocessor.<br>
<p>
The IJG libjpeg software has no trouble reading these streams.<br>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">David Fox: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0053.html">Chris Edwards: "SANE-1.0.1,  Linux/m68k 2.0.36 (Amiga), Scanmaker E3+"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
