<!-- received="Wed Aug  4 08:57:42 1999 PDT" -->
<!-- sent="04 Aug 1999 08:58:14 -0700" -->
<!-- name="David Fox" -->
<!-- email="dsfox@cogsci.ucsd.edu" -->
<!-- subject="Re: RGBI (was Re: xsane-0.31 available)" -->
<!-- id="" -->
<!-- inreplyto="Tue, 03 Aug 1999 23:26:25 +0200"" -->
<title>sane-devel: Re: RGBI (was Re: xsane-0.31 available)</title>
<h1>Re: RGBI (was Re: xsane-0.31 available)</h1>
<b>David Fox</b> (<a href="mailto:dsfox@cogsci.ucsd.edu"><i>dsfox@cogsci.ucsd.edu</i></a>)<br>
<i>04 Aug 1999 08:58:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Ewald R. de Wit: "Re: SANE_FRAME Formats"</a>
<li> <b>Previous message:</b> <a href="0054.html">Stephen Williams: "Re: JPEG scanner stuff"</a>
<li> <b>In reply to:</b> <a href="0034.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0041.html">Steve Gunnell: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; writes:<br>
<p>
<i>&gt; If the nikon coolscan is the only device that uses an IR channel,</i><br>
<i>&gt; the nicon backend is the right place for the filter and the backend</i><br>
<i>&gt; will send a SANE_FRAME_RGB to the frontend. In that case we would</i><br>
<i>&gt; not need a SANE_FRAME_RGBI.</i><br>
<p>
I don't think this reasoning holds.  The data itself might be of use<br>
to the front end, even if only the Nikon backend can produce it -- and<br>
if one scanner produces it now, it is not unlikely that others will<br>
produce it in the future.  It does not seem prudent for the backend to<br>
discard *any* data unilaterally.<br>
<pre>
-- 
David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD
UCSD HCI Lab                                         baL ICH DSCU
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Ewald R. de Wit: "Re: SANE_FRAME Formats"</a>
<li> <b>Previous message:</b> <a href="0054.html">Stephen Williams: "Re: JPEG scanner stuff"</a>
<li> <b>In reply to:</b> <a href="0034.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0041.html">Steve Gunnell: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
