<!-- received="Thu Aug  5 14:57:03 1999 PDT" -->
<!-- sent="Thu, 5 Aug 1999 18:48:12 +0200" -->
<!-- name="Andreas Beck" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Basic info needed" -->
<!-- id="" -->
<!-- inreplyto="37A760DE.9FF736F5@cpinternet.com" -->
<title>sane-devel: Re: Basic info needed</title>
<h1>Re: Basic info needed</h1>
<b>Andreas Beck</b> (<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a>)<br>
<i>Thu, 5 Aug 1999 18:48:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Andreas Beck: "Re: Vivicam 2000 / Mustek VDC-100"</a>
<li> <b>Previous message:</b> <a href="0062.html">Andreas: "Autofocus problem with Coolscan  LS-30 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I have an older OBM Page FX, B&amp;W scanner. [...]</i><br>
<i>&gt; It has its own control card in the pc and [...]</i><br>
<i>&gt; Is there any hope of finding docs on this? I have written letters to </i><br>
<i>&gt; Plustek, but to no avail. I could reverse enginner the win95 driver </i><br>
<i>&gt; using a dis-assembler, but would rather not.</i><br>
<p>
I am afraid that is what you will have to do. Most drivers for uncooperative<br>
hardware vendors were done in such a way. If noone with a good connection to <br>
the manufacturer pops up here, you are probably pretty much on your own.<br>
<p>
Note, that the proprietary control card often means you have to use a<br>
kernelmode driver, as you might need access to DMA/IRQ.<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Andreas Beck: "Re: Vivicam 2000 / Mustek VDC-100"</a>
<li> <b>Previous message:</b> <a href="0062.html">Andreas: "Autofocus problem with Coolscan  LS-30 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
