<!-- received="Mon Aug  9 17:34:28 1999 PDT" -->
<!-- sent="Tue, 10 Aug 1999 01:34:27 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Slide scanner support?" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.10.9908092043070.2741-100000@fenun.icemark.ch" -->
<title>sane-devel: Re: Slide scanner support?</title>
<h1>Re: Slide scanner support?</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Tue, 10 Aug 1999 01:34:27 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#79">[ date ]</a><a href="index.html#79">[ thread ]</a><a href="subject.html#79">[ subject ]</a><a href="author.html#79">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Tom Martone: "Interpretation of the Standard"</a>
<li> <b>Previous message:</b> <a href="0078.html">Irv Thomae: "Re: Slide scanner support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 9 Aug 1999, Benedikt Eric Heinen wrote:<br>
<p>
<i>&gt; 	- Nikon Coolscan II    (how about Coolscan III, or LS-2000?), </i><br>
<p>
The older Coolscan models LS-20 and LS-1000 work in SANE 1.0.1, though<br>
the included software wasn't written which much thought on slides etc.<br>
<p>
Hopefully one or more frontends better suited to this work will arrive?<br>
<p>
Andreas Rick (who will likely explain further) has written drivers for<br>
LS-30 (Coolscan III) and LS-2000, but that backend isn't part of a neat<br>
packaged bundle yet. You can get it from --<br>
<a href="http://andreas.rick.free.fr/sane/coolscan.html">http://andreas.rick.free.fr/sane/coolscan.html</a><br>
<p>
There is also a known problem with some combinations of SCSI controller,<br>
Linux driver, Coolscan scanners and the Coolscan III SANE backend :(<br>
<p>
<i>&gt;   The Coolscan III and LS-2000 are advertised to have some sort of </i><br>
<i>&gt; "scratch detection/elimination" - are these things wired into the scanner,</i><br>
<i>&gt; or is this a pure software thing (e.g. do I have access to this feature in</i><br>
<i>&gt; sane/The Gimp)?</i><br>
<p>
The scanner uses an additional Infrared light component to identify bits<br>
of the image which have dust/ scratches/ whatever. A software process can<br>
use this extra data to fix up problems. Andreas Rick (again!) is working<br>
on software for this. There are some ongoing discussions on the list<br>
about the technical side, but yeah, SANE or The Gimp can/will do this.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Tom Martone: "Interpretation of the Standard"</a>
<li> <b>Previous message:</b> <a href="0078.html">Irv Thomae: "Re: Slide scanner support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
