<!-- received="Wed Aug 11 12:39:47 1999 PDT" -->
<!-- sent="Wed, 11 Aug 1999 12:47:43 -0800" -->
<!-- name="Pamela Akazawa" -->
<!-- email="pakazawa@radonc17.ucsf.edu" -->
<!-- subject="Re: a few questions" -->
<!-- id="v03110707b3d7913f557d@[128.218.120.66]" -->
<!-- inreplyto="199908111933.VAA27056@lee.Cc.Uit.No" -->
<title>sane-devel: Re: a few questions</title>
<h1>Re: a few questions</h1>
<b>Pamela Akazawa</b> (<a href="mailto:pakazawa@radonc17.ucsf.edu"><i>pakazawa@radonc17.ucsf.edu</i></a>)<br>
<i>Wed, 11 Aug 1999 12:47:43 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Hugo van der Kooij: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<li> <b>In reply to:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<li> <b>Next in thread:</b> <a href="0099.html">Hugo van der Kooij: "Re: a few questions"</a>
<li> <b>Reply:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Not to belabor this point, but i am a newbie<br>
In what order should I do this commands?<br>
Thanks agian.<br>
<p>
<i>&gt;[Petter Reinholdtsen]</i><br>
<i>&gt;&gt; You should use 'modprobe sg' instead to handle dependencies.</i><br>
<i>&gt;</i><br>
<i>&gt;[Hugo van der Kooij]</i><br>
<i>&gt;&gt; The `modprobe -a` at boot up does take of that allready.</i><br>
<i>&gt;</i><br>
<i>&gt;Eh, 'depmod -a' during boot takes care of that.  Then one uses</i><br>
<i>&gt;'modprobe &lt;module&gt;' to load modules, and everything they depend on.</i><br>
<i>&gt;</i><br>
<i>&gt;You almost had me fooled.  I had to test to check if my memory was</i><br>
<i>&gt;correct.  It was. :-)</i><br>
<i>&gt;--</i><br>
<i>&gt;##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a></i><br>
<i>&gt; O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;</i><br>
<i>&gt;<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
--Pam<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Hugo van der Kooij: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<li> <b>In reply to:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<li> <b>Next in thread:</b> <a href="0099.html">Hugo van der Kooij: "Re: a few questions"</a>
<li> <b>Reply:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<!-- reply="end" -->
</ul>
