<!-- received="Wed Aug 11 13:05:38 1999 PDT" -->
<!-- sent="Wed, 11 Aug 1999 22:06:43 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="Hugo.van.der.Kooij@caiw.nl" -->
<!-- subject="Re: a few questions" -->
<!-- id="" -->
<!-- inreplyto="199908111933.VAA27056@lee.Cc.Uit.No" -->
<title>sane-devel: Re: a few questions</title>
<h1>Re: a few questions</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:Hugo.van.der.Kooij@caiw.nl"><i>Hugo.van.der.Kooij@caiw.nl</i></a>)<br>
<i>Wed, 11 Aug 1999 22:06:43 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Petter Reinholdtsen: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0098.html">Pamela Akazawa: "Re: a few questions"</a>
<li> <b>In reply to:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 11 Aug 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; [Petter Reinholdtsen]</i><br>
<i>&gt; &gt; You should use 'modprobe sg' instead to handle dependencies.</i><br>
<i>&gt; </i><br>
<i>&gt; [Hugo van der Kooij]</i><br>
<i>&gt; &gt; The `modprobe -a` at boot up does take of that allready.</i><br>
<i>&gt; </i><br>
<i>&gt; Eh, 'depmod -a' during boot takes care of that.  Then one uses</i><br>
<i>&gt; 'modprobe &lt;module&gt;' to load modules, and everything they depend on.</i><br>
<i>&gt; </i><br>
<i>&gt; You almost had me fooled.  I had to test to check if my memory was</i><br>
<i>&gt; correct.  It was. :-)</i><br>
<p>
`insmod sg` still works fine here.<br>
<p>
Hugo.<br>
<p>
<pre>
-- 
Hugo van der Kooij; Oranje Nassaustraat 16; 3155 VJ  Maasland
<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>		 <a href="http://www.caiw.nl/~hvdkooij/">http://www.caiw.nl/~hvdkooij/</a>
--------------------------------------------------------------
Use of any of my email addresses for unsollicited (commercial)
    email is a clear intrusion of my privacy and illegal!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Petter Reinholdtsen: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0098.html">Pamela Akazawa: "Re: a few questions"</a>
<li> <b>In reply to:</b> <a href="0097.html">Petter Reinholdtsen: "Re: a few questions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
