<!-- received="Wed Aug 11 13:43:30 1999 PDT" -->
<!-- sent="Wed, 11 Aug 1999 22:44:33 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="199908112044.WAA06780@lee.Cc.Uit.No" -->
<!-- inreplyto="Starting a discussion about SANE and TWAIN..." -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Wed, 11 Aug 1999 22:44:33 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Oliver Rauch: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0099.html">Hugo van der Kooij: "Re: a few questions"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0110.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Reply:</b> <a href="0110.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; My short term goal, though, doesn't target portable code quite so</i><br>
<i>&gt; much as ported code.  The model I am working from at this time</i><br>
<i>&gt; posits a developer running either on UNIX, Windows or Macintosh</i><br>
<i>&gt; saying "I'd like to run on one of the other platforms with as little</i><br>
<i>&gt; effort as possible, to see if there is a market there."</i><br>
<p>
I think you misunderstod me.  There are at least two goals to reach<br>
for when making TWAIN/SANE connections.<br>
<p>
 - Making SANE devices available on Win32 as TWAIN sources<br>
 - Making TWAIN applications available on Unix<br>
<p>
I suggest reaching these goals by making a pseudo-frontend which<br>
abstract the SANE API and present a TWAIN API and GUI to the<br>
application layer.  Maybe my first diagram did not show the different<br>
levels of the TWAIN API and the SANE API.  Here is another try:<br>
<p>
          +---------+------------+<br>
<i>          |  SANE   | TWAIN app  |</i><br>
<i>          |         +-------+----+</i><br>
<i>          | frontend| TWAIN | GUI|</i><br>
<i>          |         |   API +----+</i><br>
          +---------+------------+<br>
<i>          |     SANE backends    |</i><br>
          +----------------------+<br>
<p>
The SANE API (the SANE backends) is more lowlevel then the TWAIN API.<br>
To avoid separating the effort, the code for the TWAIN pseudo-frontend<br>
should be written to both work on Unix and Win32, with the GUI part of<br>
the code separated to handle the two different platforms.<br>
<p>
Currently, we hook up our scanners to the Unix server, but would like<br>
to access it from windows clients.  Having a TWAIN source making this<br>
possible would solve our problems. :-)<br>
<p>
<i>&gt; So, considering the diagram that you created, I suggest that the</i><br>
<i>&gt; SANE and TWAIN would not merge as interfaces.  Instead, TWAIN on</i><br>
<i>&gt; UNIX would come with a generic Source that talks to SANE drivers.</i><br>
<i>&gt; Thus, any TWAIN application on UNIX would be able to communicate</i><br>
<i>&gt; with any SANE supported device.</i><br>
<i>&gt; </i><br>
<i>&gt; The same could be done for SANE on Windows and Macintosh platforms.</i><br>
<i>&gt; But given the GUI-centric nature of most TWAIN Sources, there might</i><br>
<i>&gt; not be as much benefit from doing that right now.</i><br>
<p>
My suggestion is to share code to reach these two goals at once.<br>
<p>
On the other hand, I do not think it is possible to port the TWAIN<br>
scanner drivers to SANE without lot of work.  Instead I think the<br>
effort on Unix should be put on making SANE only scanner HW drivers.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">Oliver Rauch: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0099.html">Hugo van der Kooij: "Re: a few questions"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0110.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Reply:</b> <a href="0110.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
