<!-- received="Wed Aug 11 15:13:34 1999 PDT" -->
<!-- sent="Thu, 12 Aug 1999 00:08:32 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Discussion about SANE and TWAIN..." -->
<!-- id="" -->
<!-- inreplyto="Discussion about SANE and TWAIN..." -->
<title>sane-devel: Re: Discussion about SANE and TWAIN...</title>
<h1>Re: Discussion about SANE and TWAIN...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 12 Aug 1999 00:08:32 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Nick Lamb: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0100.html">Petter Reinholdtsen: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Maybe in reply to:</b> <a href="0092.html">Oliver Rauch: "Discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">252353N@knotes.kodak.com: "Re: Discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Mark,<br>
<p>
thanks for your answer.<br>
<p>
<p>
<a href="mailto:252353N@knotes.kodak.com">252353N@knotes.kodak.com</a> wrote:<br>
<p>
<i>&gt; From: Mark McLaughlin</i><br>
<i>&gt;</i><br>
<i>&gt; Hi Oliver...</i><br>
<i>&gt;</i><br>
<i>&gt; Many thanks for your reply.</i><br>
<i>&gt;</i><br>
<i>&gt; I'm glad that you also see a benefit from this interaction between</i><br>
<i>&gt; SANE and TWAIN.  The fact that TWAIN's user base is expressing</i><br>
<i>&gt; an interest in UNIX is a little daunting in some ways, since not many</i><br>
<i>&gt; of the current TWAIN members are doing anything with UNIX.</i><br>
<i>&gt; So one of the opportunities we see from working with SANE is a</i><br>
<i>&gt; chance to draw on your experience and expertise.</i><br>
<i>&gt;</i><br>
<i>&gt; As stated in my first message, I believe the principle benefit from</i><br>
<i>&gt; SANE and TWAIN working together is a chance to help app</i><br>
<i>&gt; writers cross from one OS to the other with less effort than it takes</i><br>
<i>&gt; today.  So, TWAIN runs on UNIX, SANE runs on Windows, and</i><br>
<i>&gt; application writers have one less component to worry about</i><br>
<i>&gt; when trying to build their source code on an alternate platform.</i><br>
<i>&gt;</i><br>
<i>&gt; Bearing that in mind, I propose that on UNIX TWAIN runs in</i><br>
<i>&gt; communication with a generic Source that talks to SANE drivers.</i><br>
<i>&gt; We would have to make some minor changes to our Source</i><br>
<i>&gt; Manager to allow this to work properly, but such a TWAIN Source</i><br>
<i>&gt; would be able to communicate with any SANE supported image</i><br>
<i>&gt; capture device.</i><br>
<p>
This sounds very good because TWAIN on UNIX will be able to<br>
support all scanners / image acquiring devices that are supported by<br>
SANE. SANE will benefit from this because the scanner<br>
manufacturers will give better support to the SANE developers<br>
(e.g. documentation about their protocols, hardware for doing some<br>
tests).<br>
If TWAIN does support the generic source that talks to SANE drivers<br>
on Windows/Macinthos, we will be able to use a scanner that is<br>
connected on a UNIX system and the TAWIN-GUI runs on a<br>
Windows/Macintosh platform. That would be a benefit for a lot<br>
of users because they can share one scanner for<br>
UNIX/Windows/Mac.<br>
<p>
<i>&gt; At this time I don't believe there is much to be gained from having</i><br>
<i>&gt; a generic SANE driver that talks to TWAIN.  Technically it is very</i><br>
<i>&gt; doable, but TWAIN Sources have a history of relying heavily or</i><br>
<i>&gt; even exclusively on their internal GUIs, which doesn't fit well into</i><br>
<i>&gt; SANE's programmatic design.  We are working to change this</i><br>
<i>&gt; behavior (and have been since TWAIN 1.7 -- 1997), so in the</i><br>
<i>&gt; future it might be advantageous to do this.</i><br>
<p>
It would be nice if this would work one day.<br>
<p>
If I understand it right there are "generic" GUIs for TWAIN<br>
that are not positioned in the source driver level - right?<br>
Are these GUIs positioned in the Application layer or in the<br>
source managaer layer?<br>
<p>
Would it be necessary to write an own GUI for the generic<br>
SANE source driver?<br>
<p>
<p>
<i>&gt; One question I have regarding SANE has to do with writing drivers</i><br>
<i>&gt; for mulitple UNIX platforms.  Writing a 'single' device driver for</i><br>
<i>&gt; Solaris and AIX and Linux, etc must be appealing to some device</i><br>
<i>&gt; manufacterers (nobody wants to have write one driver per OS for</i><br>
<i>&gt; their device).  Has SANE investigated an abstraction between</i><br>
<i>&gt; it's interface and the actual communication with the OS?  I'm kind of</i><br>
<i>&gt; looking for something like ASPI (though wire independent).  The</i><br>
<i>&gt; idea being that me, as a driver writer, would be able to write a</i><br>
<i>&gt; SANE driver that with a minimum of #ifdef's would be buildable on</i><br>
<i>&gt; UNIX or Macintosh or Windows platforms.</i><br>
<p>
Normally there are no OS dependend #ifdef's in the backend sources.<br>
There is a common interface for scsi communication (sanei_scsi) used<br>
by all backends. In sanei-scsi there are the OS dependend #ifdef's<br>
that make sure that the backend authors do not have to care about<br>
the OS.<br>
The only machine dependant thing the backends have to care about<br>
is the endianess of the machine on which the backend is running.<br>
<p>
For parallel scanners there is no common interface because there are<br>
only a few parallel scanners supported due to missing documentation for<br>
parallel port scanners.<br>
<p>
The support for USB scanners is not so simple because there are  no<br>
generic USB drivers for most UNIX platforms.<br>
<p>
<p>
<i>&gt; If such a mechanism could be created, I would have a very good</i><br>
<i>&gt; reason for running SANE on Windows and Macintosh platforms...</i><br>
<p>
I don`t know anything about scsi-communtication on Windows<br>
and Macintosh platforms, but I don`t see any problems to add<br>
support for them to sanei-scsi.<br>
SANE already works (at least a bit) with OS/2.<br>
<p>
May be we have to do some minor changes in some backends<br>
to make them work on Windows/Macintosh platforms, but that<br>
shall not make big problems.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Nick Lamb: "Re: a few questions"</a>
<li> <b>Previous message:</b> <a href="0100.html">Petter Reinholdtsen: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Maybe in reply to:</b> <a href="0092.html">Oliver Rauch: "Discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0200.html">252353N@knotes.kodak.com: "Re: Discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
