<!-- received="Thu Aug 12 08:30:54 1999 PDT" -->
<!-- sent="Thu, 12 Aug 1999 17:26:35 +0100" -->
<!-- name="Pete Ruijters" -->
<!-- email="ruyters@casema.net" -->
<!-- subject="re: modprobe" -->
<!-- id="99081217311000.00806@Bullterrier.org" -->
<!-- inreplyto="modprobe" -->
<title>sane-devel: re: modprobe</title>
<h1>re: modprobe</h1>
<b>Pete Ruijters</b> (<a href="mailto:ruyters@casema.net"><i>ruyters@casema.net</i></a>)<br>
<i>Thu, 12 Aug 1999 17:26:35 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Arlet Ottens: "Re: modprobe"</a>
<li> <b>Previous message:</b> <a href="0104.html">Pamela Akazawa: "modprobe"</a>
<li> <b>Maybe in reply to:</b> <a href="0104.html">Pamela Akazawa: "modprobe"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0106.html">Arlet Ottens: "Re: modprobe"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I had the same problems you have. Using Redhat 6 and linux recognising my<br>
scanner and Sane not. Sane worked fine until I added the generic scsi for my<br>
atapi cdwriter. After that it no longer saw my scanner.  It took me two days<br>
before I realised that before I compiled my kernel the scanner was at /dev/sga;<br>
and after compiling it was at /dev/sgc. Maybe its the same in you're case.<br>
Adding a symlink from /dev/sgc to /dev/scanner did the trick <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Arlet Ottens: "Re: modprobe"</a>
<li> <b>Previous message:</b> <a href="0104.html">Pamela Akazawa: "modprobe"</a>
<li> <b>Maybe in reply to:</b> <a href="0104.html">Pamela Akazawa: "modprobe"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0106.html">Arlet Ottens: "Re: modprobe"</a>
<!-- reply="end" -->
</ul>
