<!-- received="Thu Aug 12 11:26:52 1999 PDT" -->
<!-- sent="Thu, 12 Aug 1999 20:28:06 +0200 (CEST)" -->
<!-- name="Arlet Ottens" -->
<!-- email="arlet@club.tip.nl" -->
<!-- subject="Re: modprobe" -->
<!-- id="199908121828.UAA07397@feynman.et.tudelft.nl" -->
<!-- inreplyto="v03110701b3d8a67d79d9@[128.218.120.66]" -->
<title>sane-devel: Re: modprobe</title>
<h1>Re: modprobe</h1>
<b>Arlet Ottens</b> (<a href="mailto:arlet@club.tip.nl"><i>arlet@club.tip.nl</i></a>)<br>
<i>Thu, 12 Aug 1999 20:28:06 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#106">[ date ]</a><a href="index.html#106">[ thread ]</a><a href="subject.html#106">[ subject ]</a><a href="author.html#106">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">David Fox: "Re: modprobe"</a>
<li> <b>Previous message:</b> <a href="0105.html">Pete Ruijters: "re: modprobe"</a>
<li> <b>In reply to:</b> <a href="0104.html">Pamela Akazawa: "modprobe"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">David Fox: "Re: modprobe"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Pamela Akazawa wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; hello again</i><br>
<i>&gt; well I rushed home and tried</i><br>
<i>&gt; /sbin modprobe sg</i><br>
<i>&gt; I checked /proc/devices and saw sg listed</i><br>
<i>&gt; but when I ran xscanimage no devices showed up except the defaults</i><br>
<i>&gt; any ideas anyone.</i><br>
<i>&gt; i even uninstalled and reinstalled sane after I loaded sg still no luck.</i><br>
<p>
did you run xscanimage as a normal user ? In that case, you need to check<br>
your permissions on /dev/sg*, or run it as root.<br>
<p>
<pre>
-- 
Arlet Ottens / Talent Store / Seattle Torn / Art Teen Lost
Very funny, Scotty ... now beam down my clothes.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">David Fox: "Re: modprobe"</a>
<li> <b>Previous message:</b> <a href="0105.html">Pete Ruijters: "re: modprobe"</a>
<li> <b>In reply to:</b> <a href="0104.html">Pamela Akazawa: "modprobe"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">David Fox: "Re: modprobe"</a>
<!-- reply="end" -->
</ul>
