<!-- received="Thu Aug 12 12:29:50 1999 PDT" -->
<!-- sent="Thu, 12 Aug 1999 12:38:38 -0800" -->
<!-- name="Pamela Akazawa" -->
<!-- email="pakazawa@radonc17.ucsf.edu" -->
<!-- subject="Re: modprobe" -->
<!-- id="v03110700b3d8e0742cee@[128.218.120.66]" -->
<!-- inreplyto="luvhak7qym.fsf@pipeline.ucsd.edu" -->
<title>sane-devel: Re: modprobe</title>
<h1>Re: modprobe</h1>
<b>Pamela Akazawa</b> (<a href="mailto:pakazawa@radonc17.ucsf.edu"><i>pakazawa@radonc17.ucsf.edu</i></a>)<br>
<i>Thu, 12 Aug 1999 12:38:38 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#108">[ date ]</a><a href="index.html#108">[ thread ]</a><a href="subject.html#108">[ subject ]</a><a href="author.html#108">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Andreas Beck: "[252353N@knotes.kodak.com: Re: Starting a discussion about SANE and"</a>
<li> <b>Previous message:</b> <a href="0107.html">David Fox: "Re: modprobe"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have been running xcanimage as root and I do remember seeing<br>
scsi0 channel 0 id6 lun 0<br>
durring boot up<br>
in fact I see the description of the scanner plain as day<br>
Epson Perfection 636.<br>
You would think sane would see the device but it may not work properly if<br>
it was not supported.<br>
Thanks for all your ideas<br>
I will keep trying<br>
I welcome all thoughts on the subject, however.<br>
<p>
<p>
<i>&gt;Pamela Akazawa &lt;<a href="mailto:pakazawa@radonc17.ucsf.edu">pakazawa@radonc17.ucsf.edu</a>&gt; writes:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; hello again</i><br>
<i>&gt;&gt; well I rushed home and tried</i><br>
<i>&gt;&gt; /sbin modprobe sg</i><br>
<i>&gt;&gt; I checked /proc/devices and saw sg listed</i><br>
<i>&gt;&gt; but when I ran xscanimage no devices showed up except the defaults</i><br>
<i>&gt;&gt; any ideas anyone.</i><br>
<i>&gt;&gt; i even uninstalled and reinstalled sane after I loaded sg still no luck.</i><br>
<i>&gt;</i><br>
<i>&gt;Try running it as root if you haven't already.  Also look for a message</i><br>
<i>&gt;like</i><br>
<i>&gt;</i><br>
<i>&gt;  Detected scsi generic sga at scsi0, channel 0, id 5, lun 0</i><br>
<i>&gt;</i><br>
<i>&gt;in the output of the dmesg command.  If its not sga you may have</i><br>
<i>&gt;to change your scanner link as someone else mentioned.</i><br>
<i>&gt;</i><br>
<i>&gt;By the way, I don't have to run modprobe to get my generic devices</i><br>
<i>&gt;started, and I use a more-or-less stock redhat kernel.  I don't think</i><br>
<i>&gt;this is your problem.</i><br>
<i>&gt;--</i><br>
<i>&gt;David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD</i><br>
<i>&gt;UCSD HCI Lab                                         baL ICH DSCU</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
--Pam<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Andreas Beck: "[252353N@knotes.kodak.com: Re: Starting a discussion about SANE and"</a>
<li> <b>Previous message:</b> <a href="0107.html">David Fox: "Re: modprobe"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
