<!-- received="Thu Aug 12 15:07:16 1999 PDT" -->
<!-- sent="Thu, 12 Aug 1999 18:22:11 -0400" -->
<!-- name="Fred Willingham" -->
<!-- email="fcw@worldpath.net" -->
<!-- subject="Re: A page on the Coolscan LS-30/2000" -->
<!-- id="" -->
<!-- inreplyto="A page on the Coolscan LS-30/2000" -->
<title>sane-devel: Re: A page on the Coolscan LS-30/2000</title>
<h1>Re: A page on the Coolscan LS-30/2000</h1>
<b>Fred Willingham</b> (<a href="mailto:fcw@worldpath.net"><i>fcw@worldpath.net</i></a>)<br>
<i>Thu, 12 Aug 1999 18:22:11 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Andreas Beck: "Re: Unexpected Win32 success story"</a>
<li> <b>Previous message:</b> <a href="0112.html">Petter Reinholdtsen: "Unexpected Win32 success story"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I worked with the CoolScan back end last night.<br>
<p>
I used the patched version of SANE. I am running RedHat Linux 6. My SCSI<br>
card is an Adaptec AVA-2902E/I.<br>
<p>
I scanned black and white negatives, with autofocus before preview and scan.<br>
I was set for gray scale. I tried 12-bit, but got a message that leads me to<br>
believe that's just not implemented yet. I used 1350 dpi.<br>
<p>
Are you supposed to be able to drag an area in your preview window to<br>
indicate the area you want? That didn't seem to work. Maybe it's an<br>
xscanimage problem.<br>
<p>
My pictures looked pretty sharp. Seems to work well.<br>
<p>
-F<br>
<p>
----- Original Message -----<br>
From: Andreas Rick &lt;<a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a>&gt;<br>
To: &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt;<br>
Sent: Thursday, July 1, 1999 3:37 AM<br>
Subject: A page on the Coolscan LS-30/2000<br>
<p>
<p>
<i>&gt; Hi there</i><br>
<i>&gt;</i><br>
<i>&gt; After sorting out all the problems with wanadoo+linux</i><br>
<i>&gt; I have uploaded a page about the modified Backend</i><br>
<i>&gt; for the Coolscan LS-30 and LS-2000 on:</i><br>
<i>&gt;</i><br>
<i>&gt; <a href="http://perso.wanadoo.fr/rick/sane/coolscan.html">http://perso.wanadoo.fr/rick/sane/coolscan.html</a></i><br>
<i>&gt;</i><br>
<i>&gt; It also has a page on the dust removal feature.</i><br>
<i>&gt;</i><br>
<i>&gt; After a discussion with Didier - the author of</i><br>
<i>&gt; the original Coolscan Backend - we will try</i><br>
<i>&gt; to make one single version of the backend for</i><br>
<i>&gt; all Coolscans (ls20 ls1000 ls30 ls2000).</i><br>
<i>&gt;</i><br>
<i>&gt; To help me with the testing, I would appreciate</i><br>
<i>&gt; if people who have one of the scanners and are</i><br>
<i>&gt; willing to do some testing with the new backend</i><br>
<i>&gt; would tell me so.</i><br>
<i>&gt;</i><br>
<i>&gt; Happy scanning/testing</i><br>
<i>&gt;</i><br>
<i>&gt; Andreas</i><br>
<i>&gt;</i><br>
<i>&gt; ----------------------------------------------------------</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Andreas Beck: "Re: Unexpected Win32 success story"</a>
<li> <b>Previous message:</b> <a href="0112.html">Petter Reinholdtsen: "Unexpected Win32 success story"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
