<!-- received="Sat Aug 14 19:18:28 1999 PDT" -->
<!-- sent="Sat, 14 Aug 1999 19:15:43 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="199908150215.TAA03217@icarus.com" -->
<!-- inreplyto="Pine.LNX.4.10.9908150047570.20001-100000@chef.ecs.soton.ac.uk" -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Sat, 14 Aug 1999 19:15:43 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0153.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Reply:</b> <a href="0156.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; sane_read (SANE_Handle h, SANE_Byte * buf, SANE_Int maxlen, SANE_Int * len);</i><br>
<p>
<a href="mailto:njl98r@ecs.soton.ac.uk">njl98r@ecs.soton.ac.uk</a> said:<br>
<i>&gt; This means that the backend is required to copy at most maxlen bytes</i><br>
<i>&gt; into the buffer (buf) which was provided by the frontend. This</i><br>
<i>&gt; interface is not optional, and should incur exactly one copy, which I</i><br>
<i>&gt; don't think is unreasonable.</i><br>
<p>
That's OK, as I can just memcpy from my mapped buffer. There are cases<br>
where I would like to just write to disk directly from the buffer, but<br>
precious few.<br>
<p>
If someone wants to operate, say a PS3000 remotely, the net module<br>
can use sockets to move buffers. I'm happy with that.<br>
<p>
So all I'm looking for at the moment is some sort of means to negotiate<br>
frame formats.<br>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0153.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Reply:</b> <a href="0156.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
