<!-- received="Sun Aug 15 10:18:07 1999 PDT" -->
<!-- sent="Sun, 15 Aug 1999 20:23:36 +0300" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="" -->
<!-- inreplyto="Starting a discussion about SANE and TWAIN..." -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Sun, 15 Aug 1999 20:23:36 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Stephen Williams: "SANE frames"</a>
<li> <b>Previous message:</b> <a href="0171.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">252353N@knotes.kodak.com: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Stephen Williams wrote:<br>
<i>&gt; </i><br>
<i>&gt; <a href="mailto:milonf@ariadne-t.gr">milonf@ariadne-t.gr</a> said:</i><br>
<i>&gt; &gt; 1) TWAIN people haven't realized that SANE is open source in general,</i><br>
<i>&gt; &gt; and GPL in particular</i><br>
<i>&gt; </i><br>
<i>&gt; They most certainly have.</i><br>
<p>
cool<br>
<p>
<i>&gt; </i><br>
<i>&gt; <a href="mailto:milonf@ariadne-t.gr">milonf@ariadne-t.gr</a> said:</i><br>
<i>&gt; &gt; 2) They think that they need special permission to get the code</i><br>
<i>&gt; </i><br>
<i>&gt; They know better.</i><br>
<p>
even cooler<br>
<p>
<i>&gt; </i><br>
<i>&gt; <a href="mailto:milonf@ariadne-t.gr">milonf@ariadne-t.gr</a> said:</i><br>
<i>&gt; &gt; Otherwise I find the lack of knowledge about them a very good base for</i><br>
<i>&gt; &gt; mutual misunderstanding :-/.</i><br>
<i>&gt; </i><br>
<i>&gt; They know more about SANE/Linux/etc then you realize.</i><br>
<i>&gt; They are not M$ drones.</i><br>
<i>&gt; --</i><br>
<p>
OK. but I don't have anything against microsoft. I just panicked a<br>
little because, at a moment I saw e-mails diverging and I wanted<br>
somebody to calm me down :)<br>
<p>
	MF<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Stephen Williams: "SANE frames"</a>
<li> <b>Previous message:</b> <a href="0171.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">252353N@knotes.kodak.com: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
