<!-- received="Sun Aug 15 15:50:57 1999 PDT" -->
<!-- sent="Sun, 15 Aug 1999 23:50:54 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SANE V2" -->
<!-- id="" -->
<!-- inreplyto="37B72F91.19FFEFBF@martoneconsulting.com" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Sun, 15 Aug 1999 23:50:54 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#182">[ date ]</a><a href="index.html#182">[ thread ]</a><a href="subject.html#182">[ subject ]</a><a href="author.html#182">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0181.html">Nick Lamb: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 15 Aug 1999, Tom Martone wrote:<br>
<p>
<i>&gt; I'd have to disagree with you on this on, Nick.  If you have a scanner</i><br>
<i>&gt; that has an integral barcode/patchcode decoding feature that works on the</i><br>
<i>&gt; surrently scanned image data in the firmware of the scanner, do we want to</i><br>
<i>&gt; use SANE just to get the image data?  Then do we get an OCR package to</i><br>
<i>&gt; decode in software, the barcodes out of the saved image data?  I've</i><br>
<i>&gt; observed that the scanner firmware does it more quickly and more reliably, </i><br>
<i>&gt; than an OCR approach and it does it at scan time rather than a separate</i><br>
<i>&gt; pass.</i><br>
<p>
Well, you make a very convincing argument, and you do have this hardware<br>
sat in front of you, which I don't. I asked this before, but I can't<br>
remember what exactly you said in response:<br>
<p>
Does it make sense to you (considering the TWAIN way of doing it among<br>
other things) for us to provide the results of a stuff like barcode<br>
scans in a SANE Option (just like you can specify the R/G/B exposures<br>
used by an auto-calibrating slide scanner) OR more like the existing<br>
image transfer frames, only with text in?<br>
<p>
Initially I thought that using SANE Options was a nicer way, because you<br>
can have something like this (I might be bending SANE's rules here a<br>
little bit, but I think it works today, in theory)<br>
<p>
SANE Option "Barcodes", hardware feature, not user alterable, string<br>
constraint { "9 780201 835953", "3 057640 136993", "MULTIM-44-2731" }<br>
<p>
But if this stuff is just another output from a scan which might also<br>
give us 5 JPEGs and a couple of G32D images, then I guess the text<br>
frame makes a lot of sense. Formatting it would be your problem :)<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0181.html">Nick Lamb: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
