<!-- received="Wed Aug 18 06:34:25 1999 PDT" -->
<!-- sent="Wed, 18 Aug 1999 15:35:00 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: canon fs 2710 unde linux?" -->
<!-- id="199908181335.PAA29746@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="37BAA515.890A4F2F@ruhr-uni-bochum.de" -->
<title>sane-devel: Re: canon fs 2710 unde linux?</title>
<h1>Re: canon fs 2710 unde linux?</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 18 Aug 1999 15:35:00 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0226.html">Sebastian Ahrens: "canon fs 2710 unde linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
HI !<br>
<p>
<i>&gt; The problem is that according to /proc/scsi/scsi both scanners (UMAX</i><br>
<i>&gt; Astra 1220 &amp; Canon 2710) are known to the system . </i><br>
<p>
Hmm - according to the SANE Web pages, only the CanoScan 300,600 and 2700F<br>
are known to be supported. From the information I can only tell, that your <br>
scanner might work, work partially or not work at all. Maybe there is <br>
someone with more recent information on the support of that particular<br>
type of scanner her on the list ?<br>
<p>
<i>&gt; but if I choose the Canon scanner in the xscanimage-device-dialog, the window</i><br>
<i>&gt; pops up, and  if I hit the "Aquire preview" button an error message appears</i><br>
<i>&gt; saying something about an I/O error. </i><br>
<p>
That might be related to the Scanner type mismatch. However the backend <br>
should usually check if the scanner is known. It can also be related to <br>
your possible HW problem below.<br>
<p>
<i>&gt; After fiddling around with this for a while strange effects appeared: </i><br>
<i>&gt; The machine (Win98 &amp; Linux are installed) is only booting one</i><br>
<i>&gt; out of 5 or 6 times. </i><br>
<p>
Did you turn the scanner off before rebooting ? If the scanner is not quite<br>
compatible with the supported ones, it might be left in a hell of a confused <br>
state, which can also confuse the SCSI BIOS.<br>
<p>
<i>&gt; Sometimes it hangs after the scsi-devices are probed by the controler (even </i><br>
<i>&gt; before the lilo-menue) sometimes it freezes right after the</i><br>
<i>&gt; fsck etc. After several reboots I suddenly had nice little graphics on the</i><br>
<i>&gt; screen instead of bios-messages or the bootmessages...</i><br>
<p>
That sounds pretty much like a very confused SCSI subsystem. There are two <br>
possible reasons for that:<br>
<p>
A device that has gone mad or bad termination.<br>
<p>
<i>&gt; problem I obviously have. I think this must be a problem of the tecram</i><br>
<i>&gt; controler or the wires or what ever, but not of the sane-configuration?!</i><br>
<p>
Check if turning all devices (including the host) off for a couple of <br>
seconds (at least 10 or so) and then turning them all back on helps.<br>
<p>
If it then boots cleanly, chances are, that some device was very confused <br>
(probably the the canon scanner) and made trouble on the bus.<br>
<p>
If you still have problems, chances are, that you have a termination or <br>
wiring problem. IIRC this has been discussed at length in this group before, <br>
so only the most important points:<br>
<p>
1. The bus must be straight through. No Y-shaped branching of the bus.<br>
2. The bus must be terminated at both ends, really at the ends (i.e. don't<br>
let the cable go on, put the last device on the last connector and turn on<br>
termination on the last device), and only thre (i.e. exactly two devices<br>
should have termination on. Host-adaptors are often missen in that count.<br>
If the Adaptor is in the middle, don't terminate it, if it is at the end, do).<br>
<p>
Keep the bus short. This depends on how good your cables are, how fast <br>
you drive the bus, ... The shorter the better.<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0226.html">Sebastian Ahrens: "canon fs 2710 unde linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
