<!-- received="Fri Aug 20 07:42:47 1999 PDT" -->
<!-- sent="Fri, 20 Aug 1999 07:42:44 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE frames" -->
<!-- id="199908201442.HAA29804@panda.mostang.com" -->
<!-- inreplyto="37B71520.F0BD8617@martoneconsulting.com" -->
<title>sane-devel: Re: SANE frames</title>
<h1>Re: SANE frames</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 20 Aug 1999 07:42:44 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#243">[ date ]</a><a href="index.html#243">[ thread ]</a><a href="subject.html#243">[ subject ]</a><a href="author.html#243">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Stephen Williams: "Re: SANE frames"</a>
<li> <b>Previous message:</b> <a href="0242.html">Oliver Rauch: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0245.html">Nick Lamb: "Re: SANE frames"</a>
<li> <b>Reply:</b> <a href="0245.html">Nick Lamb: "Re: SANE frames"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 20 Aug 1999 15:48:49 +0200, Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; said:</i><br>
<p>
  Oliver&gt; Another thing is that some scanners are able to do a "batch<br>
  Oliver&gt; scan", that means the scanner does scan multiple images<br>
  Oliver&gt; while the scanhead moves over the page, so the scanhead is<br>
  Oliver&gt; not moved into start position every time.  But this can not<br>
  Oliver&gt; be used with the current sane standard.<br>
<p>
I disagree.  sane_start() is a signal that the frontend is ready to<br>
read the next image.  It does _not_ necessarily mean that the scanhead<br>
should go back to its start position.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Stephen Williams: "Re: SANE frames"</a>
<li> <b>Previous message:</b> <a href="0242.html">Oliver Rauch: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0245.html">Nick Lamb: "Re: SANE frames"</a>
<li> <b>Reply:</b> <a href="0245.html">Nick Lamb: "Re: SANE frames"</a>
<!-- reply="end" -->
</ul>
