<!-- received="Sun Aug 22 09:48:58 1999 PDT" -->
<!-- sent="Sun, 22 Aug 1999 19:00:20 +0200" -->
<!-- name="Wim Taymans" -->
<!-- email="wim.taymans@tvd.be" -->
<!-- subject="Re: net problem" -->
<!-- id="" -->
<!-- inreplyto="net problem" -->
<title>sane-devel: Re: net problem</title>
<h1>Re: net problem</h1>
<b>Wim Taymans</b> (<a href="mailto:wim.taymans@tvd.be"><i>wim.taymans@tvd.be</i></a>)<br>
<i>Sun, 22 Aug 1999 19:00:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#267">[ date ]</a><a href="index.html#267">[ thread ]</a><a href="subject.html#267">[ subject ]</a><a href="author.html#267">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0268.html">Wim Taymans: "Re: net problem"</a>
<li> <b>Previous message:</b> <a href="0266.html">Oliver Rauch: "xsane-0.33 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0260.html">Wim Taymans: "net problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0268.html">Wim Taymans: "Re: net problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--------------BEA5EA5946E0233C35823097<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Andreas Beck wrote:<br>
<p>
<i>&gt;</i><br>
<p>
Hi, thanks for replying<br>
<p>
&lt;snip&gt;<br>
<p>
<i>&gt; The root is not so nice, but o.k. for testing. I myself use "nobody" and</i><br>
<i>&gt; have a setgid saned for minimum risk, but for a first test, root should be</i><br>
<i>&gt; o.k.</i><br>
<i>&gt;</i><br>
<i>&gt; And I suppose you have sent SIGHUP to inetd, so it rereads its config -</i><br>
<i>&gt; right ?</i><br>
<i>&gt;</i><br>
<p>
Sure.<br>
<p>
<i>&gt; &gt; this is the output I get (with SANE_DEBUG_NET=128), the first</i><br>
<i>&gt; &gt; succesfull probe is from the local microtek2 backend, the other</i><br>
<i>&gt; &gt; failing probe is from the net driver. Needless to say, the net</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; [sanei_init_debug]: Setting debug level of net to 128.</i><br>
<i>&gt; &gt; [net] adding backend localhost</i><br>
<i>&gt; &gt; [net] get_devices: ignoring rpc-returned status Unknown SANE status code 168448867</i><br>
<i>&gt;</i><br>
<i>&gt; This is very weird. This sounds like the sane daemon failing very very early</i><br>
<i>&gt; or not connecting at all. Try straceing both sides of the connection.</i><br>
<i>&gt; The logs should give a clue on that.</i><br>
<i>&gt;</i><br>
<i>&gt; The daemon side might be a bit tricky, as it appears, when the connection is</i><br>
<i>&gt; made, started from inetd. There are two possible ways to get around this:</i><br>
<i>&gt;</i><br>
<i>&gt; 1. Make a small script "ssaned", that looks like</i><br>
<i>&gt; #!/bin/bash</i><br>
<i>&gt; exec strace saned 2&gt;/tmp/logfile</i><br>
<i>&gt;</i><br>
<i>&gt; 2. use "strace -p [pid_of_inetd] -f" to attach to the inetd, and "-f"ollow</i><br>
<i>&gt; when it forks off the saned.</i><br>
<i>&gt;</i><br>
<p>
I allready straced but couldn't make sense out of it. I'll show what I think to be the<br>
interesting part (the saned started from inetd):<br>
<p>
...<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 write(7, "*\0\0\0\204\0\0\0\1\0\0\0\0\0\0\0"..., 42) = 42<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 select(8, [7], NULL, NULL, NULL)  = 1 (in [7])<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 read(7, "\204\0\0\0\204\0\0\0\1\0\0\0\0\0"..., 132) = 132<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 close(7)                          = 0<br>
15526 open("/dev/sga", O_RDWR|O_EXCL)   = 7<br>
15526 ioctl(7, TIOCSCCINI, 0xbffff300)  = 0<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 write(7, ".\0\0\0L\0\0\0\2\0\0\0\0\0\0\0\0"..., 46) = 46<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 select(8, [7], NULL, NULL, NULL)  = 1 (in [7])<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 read(7, "L\0\0\0L\0\0\0\2\0\0\0\0\0\0\0\0"..., 76) = 76<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0<br>
15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0<br>
15526 close(7)                          = 0<br>
15526 write(2, "\n\nScanner attributes from devi"..., 43) = 43<br>
15526 write(2, "================================"..., 41) = 41<br>
15526 write(2, "\nScanner ID...\n", 15) = 15<br>
15526 write(2, "~~~~~~~~~~~~~\n", 14)   = 14<br>
15526 write(2, "  Vendor Name:        \'        "..., 33) = 33<br>
15526 write(2, "  Model Name:         \'Scanner "..., 41) = 41<br>
15526 write(2, "  Revision:           \'1.40\'\n"..., 29) = 29<br>
15526 write(2, "  Model Code:         0x91 (", 28) = 28<br>
15526 write(2, "X6", 2)                 = 2<br>
15526 write(2, ")\n", 2)                = 2<br>
15526 write(2, "  Device Type Code:   0x06 (Scan"..., 38) = 38<br>
15526 write(2, "  Scanner type:       ", 22) = 22<br>
15526 write(2, "Flatbed scanner\n", 16) = 16<br>
15526 write(2, "  Supported options:  Automatic "..., 53) = 53<br>
15526 write(2, "                      Transparen"..., 54) = 54<br>
15526 write(2, "                      Auto paper"..., 48) = 48<br>
15526 write(2, "                      Advanced p"..., 50) = 50<br>
15526 write(2, "                      Stripes: N"..., 34) = 34<br>
15526 write(2, "                      Slides: No"..., 33) = 33<br>
15526 write(2, "  Scan button:        Yes\n", 26) = 26<br>
15526 write(2, "\nImaging Capabilities...\n", 25) = -1 EPIPE (Broken pipe)<br>
15526 --- SIGPIPE (Broken pipe) ---<br>
15526 munmap(0x40171000, 81048)         = 0<br>
15526 time([935340345])                 = 935340345<br>
15526 getpid()                          = 15526<br>
15526 rt_sigaction(SIGPIPE, {0x40122de0, [], 0x4000000}, {0x804969c, [],<br>
SA_RESTART|0x4000000}, 8) = 0<br>
15526 send(3, "&lt;30&gt;Aug 22 18:45:45 saned[15526]"..., 43, 0) = 43<br>
15526 rt_sigaction(SIGPIPE, {0x804969c, [], SA_RESTART|0x4000000}, NULL, 8) = 0<br>
15526 close(3)                          = 0<br>
15526 _exit(0)                          = ?<br>
289   &lt;... select resumed&gt; )            = ? ERESTARTNOHAND (To be restarted)<br>
289   --- SIGCHLD (Child exited) ---<br>
289   wait4(-1, [WIFEXITED(s) &amp;&amp; WEXITSTATUS(s) == 0], WNOHANG, NULL) = 15526<br>
289   wait4(-1, 0xbffff9e8, WNOHANG, NULL) = -1 ECHILD (No child processes)<br>
289   sigreturn()                       = ? (mask now [])<br>
289   select(23, [4 5 6 8 10 11 12 13 14 15 16 17 18 19 20 22], NULL, NULL, NULL<br>
&lt;unfinished ...&gt;<br>
<p>
The SIGPIPE is weird.<br>
<p>
The other end of the network (scanimage -L, with just the net driver active):<br>
<p>
...<br>
read(25, "\10\0\0\0\\\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\10\0\0\0\205\2\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\7\0\0\0\206\2\0\0tty1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\6\0\0\0\207\2\0\0tty2\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\6\0\0\0\210\2\0\0tty3\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\6\0\0\0\211\2\0\0tty4\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\6\0\0\0\212\2\0\0tty5\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\6\0\0\0\213\2\0\0tty6\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\10\0\0\0\235\v\0\0ttyp0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\10\0\0\0Bb\0\0ttyp1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\10\0\0\0\370=\0\0ttyp2\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
read(25, "\7\0\0\0\277d\0\0ttyp3\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"..., 384) = 384<br>
fcntl(25, F_SETLKW, {type=F_UNLCK, whence=SEEK_SET, start=0, len=0}) = 0<br>
rt_sigaction(SIGALRM, {SIG_DFL}, NULL, 8) = 0<br>
alarm(0)                                = 1<br>
close(25)                               = 0<br>
write(24, "\0\0\0\0\1\0\0\3\0\0\0\4wim\0", 16) = 16<br>
read(24, "\0\0\0\0\1\0\0\3", 8192)      = 8<br>
write(24, "\0\0\0\1", 4)                = 4<br>
read(24, "\n\nScanner attributes from device"..., 8192) = 43<br>
write(2, "[net] get_devices: ignoring rpc-"..., 83[net] get_devices: ignoring<br>
rpc-returned status Unknown SANE status code 168448867<br>
) = 83<br>
munmap(0x40169000, 105240)              = 0<br>
munmap(0x40183000, 33368)               = 0<br>
munmap(0x4018c000, 60568)               = 0<br>
munmap(0x4019b000, 42616)               = 0<br>
munmap(0x401a6000, 32056)               = 0<br>
munmap(0x401ae000, 37624)               = 0<br>
munmap(0x401b8000, 33180)               = 0<br>
munmap(0x401c1000, 61468)               = 0<br>
munmap(0x401d1000, 83288)               = 0<br>
munmap(0x401e6000, 72184)               = 0<br>
munmap(0x401f8000, 105808)              = 0<br>
munmap(0x40212000, 47548)               = 0<br>
munmap(0x4021e000, 31320)               = 0<br>
munmap(0x40226000, 54616)               = 0<br>
munmap(0x40234000, 64920)               = 0<br>
munmap(0x40244000, 50680)               = 0<br>
munmap(0x40251000, 48152)               = 0<br>
munmap(0x4025d000, 41688)               = 0<br>
munmap(0x40268000, 35288)               = 0<br>
write(2, "[net] exiting\n", 14[net] exiting<br>
)         = 14<br>
write(2, "[net] closing dev 0x8058190, ctl"..., 36[net] closing dev 0x8058190, ctl=24<br>
) = 36<br>
write(24, "\0\0\0\n", 4)                = 4<br>
close(24)                               = 0<br>
munmap(0x40019000, 25628)               = 0<br>
_exit(0)                                = ?<br>
<p>
It stops right after the first 43 bytes = the first line of data.<br>
<p>
More strangeness: If I do saned -d, it works (just once though)...<br>
<p>
I was just thinking, is this due to the text appearing at startup. somehow<br>
saned started from inetd seems to also send this to the client, where with saned -d<br>
you only get to see the result of the probe, while the text is on the<br>
console where I started saned -d.<br>
<p>
<i>&gt;</i><br>
<i>&gt; CU, Andy</i><br>
<p>
Wim<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; = Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
"What people have been reduced to are mere 3-D representations of their own
data."
-- Arthur Miller
<p>
<p>
<p>
--------------BEA5EA5946E0233C35823097
Content-Type: text/html; charset=us-ascii
Content-Transfer-Encoding: 7bit
<p>
&lt;!doctype html public "-//w3c//dtd html 4.0 transitional//en"&gt;
<html>
Andreas Beck wrote:
<blockquote TYPE=CITE>&nbsp;</blockquote>
Hi, thanks for replying
<p>&lt;snip>
<blockquote TYPE=CITE>The root is not so nice, but o.k. for testing. I
myself use "nobody" and
<br>have a setgid saned for minimum risk, but for a first test, root should
be
<br>o.k.
<p>And I suppose you have sent SIGHUP to inetd, so it rereads its config
-
<br>right ?
<br>&nbsp;</blockquote>
Sure.
<blockquote TYPE=CITE>> this is the output I get (with SANE_DEBUG_NET=128),
the first
<br>> succesfull probe is from the local microtek2 backend, the other
<br>> failing probe is from the net driver. Needless to say, the net
<p>> [sanei_init_debug]: Setting debug level of net to 128.
<br>> [net] adding backend localhost
<br>> [net] get_devices: ignoring rpc-returned status Unknown SANE status
code 168448867
<p>This is very weird. This sounds like the sane daemon failing very very
early
<br>or not connecting at all. Try straceing both sides of the connection.
<br>The logs should give a clue on that.
<p>The daemon side might be a bit tricky, as it appears, when the connection
is
<br>made, started from inetd. There are two possible ways to get around
this:
<p>1. Make a small script "ssaned", that looks like
<br>#!/bin/bash
<br>exec strace saned 2>/tmp/logfile
<p>2. use "strace -p [pid_of_inetd] -f" to attach to the inetd, and "-f"ollow
<br>when it forks off the saned.
<br>&nbsp;</blockquote>
I allready straced but couldn't make sense out of it. I'll show what I
think to be the
<br>interesting part (the saned started from inetd):
<p>...
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 write(7, "*\0\0\0\204\0\0\0\1\0\0\0\0\0\0\0"..., 42) = 42
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 select(8, [7], NULL, NULL, NULL)&nbsp; = 1 (in [7])
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 read(7, "\204\0\0\0\204\0\0\0\1\0\0\0\0\0"..., 132) = 132
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 close(7)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>15526 open("/dev/sga", O_RDWR|O_EXCL)&nbsp;&nbsp; = 7
<br>15526 ioctl(7, TIOCSCCINI, 0xbffff300)&nbsp; = 0
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 write(7, ".\0\0\0L\0\0\0\2\0\0\0\0\0\0\0\0"..., 46) = 46
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 select(8, [7], NULL, NULL, NULL)&nbsp; = 1 (in [7])
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 read(7, "L\0\0\0L\0\0\0\2\0\0\0\0\0\0\0\0"..., 76) = 76
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 rt_sigprocmask(SIG_BLOCK, ~[], [], 8) = 0
<br>15526 rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
<br>15526 close(7)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>15526 write(2, "\n\nScanner attributes from devi"..., 43) = 43
<br>15526 write(2, "================================"..., 41) = 41
<br>15526 write(2, "\nScanner ID...\n", 15) = 15
<br>15526 write(2, "~~~~~~~~~~~~~\n", 14)&nbsp;&nbsp; = 14
<br>15526 write(2, "&nbsp; Vendor Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
\'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "..., 33) = 33
<br>15526 write(2, "&nbsp; Model Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
\'Scanner "..., 41) = 41
<br>15526 write(2, "&nbsp; Revision:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
\'1.40\'\n"..., 29) = 29
<br>15526 write(2, "&nbsp; Model Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
0x91 (", 28) = 28
<br>15526 write(2, "X6", 2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 2
<br>15526 write(2, ")\n", 2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 2
<br>15526 write(2, "&nbsp; Device Type Code:&nbsp;&nbsp; 0x06 (Scan"...,
38) = 38
<br>15526 write(2, "&nbsp; Scanner type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
", 22) = 22
<br>15526 write(2, "Flatbed scanner\n", 16) = 16
<br>15526 write(2, "&nbsp; Supported options:&nbsp; Automatic "..., 53)
= 53
<br>15526 write(2, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Transparen"..., 54) = 54
<br>15526 write(2, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Auto paper"..., 48) = 48
<br>15526 write(2, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Advanced p"..., 50) = 50
<br>15526 write(2, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Stripes: N"..., 34) = 34
<br>15526 write(2, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Slides: No"..., 33) = 33
<br>15526 write(2, "&nbsp; Scan button:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Yes\n", 26) = 26
<br>15526 write(2, "\nImaging Capabilities...\n", 25) = -1 EPIPE (Broken
pipe)
<br>15526 --- SIGPIPE (Broken pipe) ---
<br>15526 munmap(0x40171000, 81048)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>15526 time([935340345])&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 935340345
<br>15526 getpid()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 15526
<br>15526 rt_sigaction(SIGPIPE, {0x40122de0, [], 0x4000000}, {0x804969c,
[], SA_RESTART|0x4000000}, 8) = 0
<br>15526 send(3, "&lt;30>Aug 22 18:45:45 saned[15526]"..., 43, 0) = 43
<br>15526 rt_sigaction(SIGPIPE, {0x804969c, [], SA_RESTART|0x4000000},
NULL, 8) = 0
<br>15526 close(3)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>15526 _exit(0)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= ?
<br>289&nbsp;&nbsp; &lt;... select resumed> )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= ? ERESTARTNOHAND (To be restarted)
<br>289&nbsp;&nbsp; --- SIGCHLD (Child exited) ---
<br>289&nbsp;&nbsp; wait4(-1, [WIFEXITED(s) &amp;&amp; WEXITSTATUS(s) ==
0], WNOHANG, NULL) = 15526
<br>289&nbsp;&nbsp; wait4(-1, 0xbffff9e8, WNOHANG, NULL) = -1 ECHILD (No
child processes)
<br>289&nbsp;&nbsp; sigreturn()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= ? (mask now [])
<br>289&nbsp;&nbsp; select(23, [4 5 6 8 10 11 12 13 14 15 16 17 18 19 20
22], NULL, NULL, NULL &lt;unfinished ...>
<p>The SIGPIPE is weird.
<p>The other end of the network (scanimage -L, with just the net driver
active):
<p>...
<br>read(25, "\10\0\0\0\\\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\10\0\0\0\205\2\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\7\0\0\0\206\2\0\0tty1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\6\0\0\0\207\2\0\0tty2\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\6\0\0\0\210\2\0\0tty3\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\6\0\0\0\211\2\0\0tty4\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\6\0\0\0\212\2\0\0tty5\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\6\0\0\0\213\2\0\0tty6\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\10\0\0\0\235\v\0\0ttyp0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\10\0\0\0Bb\0\0ttyp1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\10\0\0\0\370=\0\0ttyp2\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>read(25, "\7\0\0\0\277d\0\0ttyp3\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"...,
384) = 384
<br>fcntl(25, F_SETLKW, {type=F_UNLCK, whence=SEEK_SET, start=0, len=0})
= 0
<br>rt_sigaction(SIGALRM, {SIG_DFL}, NULL, 8) = 0
<br>alarm(0)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 1
<br>close(25)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>write(24, "\0\0\0\0\1\0\0\3\0\0\0\4wim\0", 16) = 16
<br>read(24, "\0\0\0\0\1\0\0\3", 8192)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =
8
<br>write(24, "\0\0\0\1", 4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 4
<br>read(24, "\n\nScanner attributes from device"..., 8192) = 43
<br>write(2, "[net] get_devices: ignoring rpc-"..., 83[net] get_devices:
ignoring rpc-returned status Unknown SANE status code 168448867
<br>) = 83
<br>munmap(0x40169000, 105240)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40183000, 33368)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x4018c000, 60568)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x4019b000, 42616)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x401a6000, 32056)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x401ae000, 37624)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x401b8000, 33180)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x401c1000, 61468)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x401d1000, 83288)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x401e6000, 72184)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x401f8000, 105808)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40212000, 47548)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x4021e000, 31320)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40226000, 54616)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40234000, 64920)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40244000, 50680)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40251000, 48152)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x4025d000, 41688)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40268000, 35288)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>write(2, "[net] exiting\n", 14[net] exiting
<br>)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = 14
<br>write(2, "[net] closing dev 0x8058190, ctl"..., 36[net] closing dev
0x8058190, ctl=24
<br>) = 36
<br>write(24, "\0\0\0\n", 4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 4
<br>close(24)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>munmap(0x40019000, 25628)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= 0
<br>_exit(0)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= ?
<p>It stops right after the first 43 bytes = the first line of data.
<p>More strangeness: If I do saned -d, it works (just once though)...
<p>I was just thinking, is this due to the text appearing at startup. somehow
<br>saned started from inetd seems to also send this to the client, where
with saned -d
<br>you only get to see the result of the probe, while the text is on the
<br>console where I started saned -d.
<blockquote TYPE=CITE>&nbsp;
<br>CU, Andy</blockquote>
Wim
<blockquote TYPE=CITE>&nbsp;
<p>--
<br>= Andreas Beck&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
|&nbsp; Email :&nbsp; &lt;andreas.beck@ggi-project.org> =
<p>--
<br>Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
<br>To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com</blockquote>

<pre>--&nbsp;
"What people have been reduced to are mere 3-D representations of their own&nbsp;
data."
-- Arthur Miller</pre>
&nbsp;</html>

--------------BEA5EA5946E0233C35823097--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0268.html">Wim Taymans: "Re: net problem"</a>
<li> <b>Previous message:</b> <a href="0266.html">Oliver Rauch: "xsane-0.33 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0260.html">Wim Taymans: "net problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0268.html">Wim Taymans: "Re: net problem"</a>
<!-- reply="end" -->
</ul>
