<!-- received="Mon Aug 23 00:10:31 1999 PDT" -->
<!-- sent="Mon, 23 Aug 1999 09:03:32 +0200" -->
<!-- name="s.arunprabhakar@barco.com" -->
<!-- email="s.arunprabhakar@barco.com" -->
<!-- subject="UMAX parallel port scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX parallel port scanner</title>
<h1>UMAX parallel port scanner</h1>
<a href="mailto:s.arunprabhakar@barco.com"><i>s.arunprabhakar@barco.com</i></a><br>
<i>Mon, 23 Aug 1999 09:03:32 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#277">[ date ]</a><a href="index.html#277">[ thread ]</a><a href="subject.html#277">[ subject ]</a><a href="author.html#277">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0276.html">Adam Williams: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Reply:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Reply:</b> <a href="0281.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I had been seeing some messages about UMAX parallel port<br>
scanners not supported in Linux. Any further progress in<br>
getting UMAX revealing the techniques to connect to their<br>
*proprietory* parallel interface?<br>
<p>
I have a page-office IIc scanner which works very well<br>
with "WINx" (loose??) programs.. I wish I had one such interface<br>
in Linux so that I can throw away the 'wins'..<br>
<p>
Arun<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0276.html">Adam Williams: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Reply:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Reply:</b> <a href="0281.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<!-- reply="end" -->
</ul>
