<!-- received="Mon Aug 23 05:10:37 1999 PDT" -->
<!-- sent="Mon, 23 Aug 1999 13:15:41 +0100 (BST)" -->
<!-- name="Richard Tobin" -->
<!-- email="richard@cogsci.ed.ac.uk" -->
<!-- subject="Re: UMAX parallel port scanner" -->
<!-- id="199908231215.NAA11305@stevenson.cogsci.ed.ac.uk" -->
<!-- inreplyto="Mon, 23 Aug 1999 11:04:46 +0200" -->
<title>sane-devel: Re: UMAX parallel port scanner</title>
<h1>Re: UMAX parallel port scanner</h1>
<b>Richard Tobin</b> (<a href="mailto:richard@cogsci.ed.ac.uk"><i>richard@cogsci.ed.ac.uk</i></a>)<br>
<i>Mon, 23 Aug 1999 13:15:41 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#279">[ date ]</a><a href="index.html#279">[ thread ]</a><a href="subject.html#279">[ subject ]</a><a href="author.html#279">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Kevin Charter: "Re: Acer Scanners"</a>
<li> <b>Previous message:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>In reply to:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0281.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I am sorry to say that but there is no progress for umax</i><br>
<i>&gt; parallel port scanners. The one who has been working on</i><br>
<i>&gt; it stopped his work.</i><br>
<p>
Is it practical to reverse-engineer a parallel port connection without<br>
special hardware?  Could one daisychain the parallel cable through<br>
another PC to see what is happening?  Or somehow get MS Windows to<br>
log the traffic?<br>
<p>
Or does Sane not want to use information obtained by<br>
reverse-engineering?<br>
<p>
-- Richard<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Kevin Charter: "Re: Acer Scanners"</a>
<li> <b>Previous message:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>In reply to:</b> <a href="0278.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0281.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<!-- reply="end" -->
</ul>
