<!-- received="Wed Aug 25 10:41:47 1999 PDT" -->
<!-- sent="Wed, 25 Aug 1999 19:11:05 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: SANE V2" -->
<!-- id="" -->
<!-- inreplyto="SANE V2" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 25 Aug 1999 19:11:05 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#300">[ date ]</a><a href="index.html#300">[ thread ]</a><a href="subject.html#300">[ subject ]</a><a href="author.html#300">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0299.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe in reply to:</b> <a href="0296.html">Nick Lamb: "SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0312.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Nick Lamb wrote:<br>
<p>
<i>&gt; On Tue, 24 Aug 1999, Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Hello Nick,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; In my opinion Andreas is right that it is a bad idea to</i><br>
<i>&gt; &gt; add each frame format to enum SANE_FRAME_*.</i><br>
<i>&gt; &gt; It is much more simple to extend the standard to support</i><br>
<i>&gt; &gt; new formats when we define the frame format in a string.</i><br>
<i>&gt;</i><br>
<i>&gt; I'm not entirely sure I agree about that, but let's see where this is</i><br>
<i>&gt; going...</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; The question is if the string has to be a string defined by MIME.</i><br>
<i>&gt; &gt; I did not read the MIME specs but as far as I know there are</i><br>
<i>&gt; &gt; a lot of formats listed and MIME allows to extend the definition</i><br>
<i>&gt; &gt; by  eXperimental types.</i><br>
<i>&gt;</i><br>
<i>&gt; The enum based proposals so far cover:</i><br>
<i>&gt; JPEG (JFIF), JBIG (?), G31D, G32D, G42D</i><br>
<i>&gt;</i><br>
<i>&gt; MIME has a recognised type for JPEG and both G3 variants, however the</i><br>
<i>&gt; G3 MIME type isn't very helpful for our purposes, because it relies</i><br>
<i>&gt; on MIME headers for the G3 parameters, including encoding. I don't</i><br>
<i>&gt; know yet (see previous mail) if JBIG should be in SANE V2, but if it</i><br>
<i>&gt; is, there's no MIME type for that either.</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; So the question is do we define a new standard that has to be</i><br>
<i>&gt; &gt; extended step by step in the future or do we use a subset of an</i><br>
<i>&gt; &gt; existing standard.</i><br>
<i>&gt;</i><br>
<i>&gt; I think we should extend the existing standard, by adding more frame</i><br>
<i>&gt; types. I'm open to suggestions about encoding them in some other way</i><br>
<i>&gt; rather than by using integers, but note that this will mean SANE 1.0</i><br>
<i>&gt; cannot interoperate usefully with SANE 2.0</i><br>
<p>
If we call it sane-2.0, the sane-1.0 standard already says to it:<br>
<p>
: Whenever a change<br>
: to the SANE standard is made that may render an existing frontend or<br>
: backend incompatible with the new standard, the major version number<br>
: must be increased.  Thus, any frontend/backend pair is compatible<br>
: provided the major version number of the SANE standard they implement<br>
: is the same.  A frontend may implement backwards compatiblity by<br>
: allowing major numbers that are smaller than the expected major number<br>
: (provided the frontend really can cope with the older version).  In<br>
: contrast, a backend always provides support for one and only one<br>
: version of the standard.<br>
<p>
There are other planned extensions that make it necessary to<br>
change the major version of the sane standard.<br>
E.g. it is interesting to add some flags (e.g. multiple images available),<br>
to the parameter block and to add values for x_dpi, y_dpi and<br>
some other things.<br>
<p>
Because the frontend does allocate the memory for the parameter<br>
block there is no way that an old frontend can work with a new backend.<br>
So if we will add anything to the parameter block we have to make sane-2.0<br>
and not 1.02 or whatever.<br>
<p>
If we already do that there is no need to add the new frames in a compatible<br>
way to sane-1.0.<br>
<p>
<i>&gt;</i><br>
<i>&gt; &gt; We also could say we use the mime type definitions where they</i><br>
<i>&gt; &gt; make sense so frontends and other applications can take</i><br>
<i>&gt; &gt; advantage of this and we define our own definitions</i><br>
<i>&gt; &gt; like "sane/rgbi" where this makes sense.</i><br>
<i>&gt;</i><br>
<i>&gt; If we're sticking with MIME types that should be image/vnd.sane.rgbi</i><br>
<i>&gt; This sort of mistake is why I had no confidence in the opinions Andreas</i><br>
<i>&gt; gave about MIME's utility for SANE.</i><br>
<i>&gt;</i><br>
<i>&gt; I don't understand why MIME is thought to help us solve problems when</i><br>
<i>&gt; the only well-known type it shares with SANE is "JPEG", and IANA</i><br>
<i>&gt; seem less and less interested in adding well standardised MIME types,</i><br>
<i>&gt; preferring the vendor-specific name space.</i><br>
<p>
Please let us do the discussion about MIME or not MIME<br>
do when the rest of the standard is defined. This discussion<br>
is not constructive in the moment.<br>
<p>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Previous message:</b> <a href="0299.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe in reply to:</b> <a href="0296.html">Nick Lamb: "SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0312.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
