<!-- received="Thu Aug 26 07:53:34 1999 PDT" -->
<!-- sent="Thu, 26 Aug 1999 15:52:46 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SANE V2" -->
<!-- id="" -->
<!-- inreplyto="199908260357.UAA03827@icarus.com" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Thu, 26 Aug 1999 15:52:46 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#310">[ date ]</a><a href="index.html#310">[ thread ]</a><a href="subject.html#310">[ subject ]</a><a href="author.html#310">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0311.html">Stephen Williams: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0309.html">Petter Reinholdtsen: "Re: net problem"</a>
<li> <b>In reply to:</b> <a href="0304.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 25 Aug 1999, Stephen Williams wrote:<br>
<p>
<i>&gt; I have comments.</i><br>
<p>
Great!<br>
<p>
<i>&gt; --</i><br>
<i>&gt; In 3.2.2 Image Transmission you suggest that front ends provide some sort</i><br>
<i>&gt; of means of warning or constraining the user from requesting frame formats</i><br>
<i>&gt; that it does not support. I contend that this is not in general possible</i><br>
<i>&gt; unless optional frame types can be enabled by a well-known option.</i><br>
<i>&gt; Without a well-known option, the front end cannot know (in general)</i><br>
<i>&gt; how to constrain the backend.</i><br>
<p>
Yes, you may have noticed that the well-known options stuff hadn't changed<br>
in my draft -- it needs a lot of work, especially given the comment below<br>
<p>
There are two factors to concern ourselves about in controlling the data<br>
format of a scanner, we could combine them or leave them as separate<br>
options -- opinions about this are sought:<br>
<p>
1. Type of data scanned (RGB, Grey, Lineart...)<br>
2. Transmission format (interleaved RGB, JPEG, separate RGB, G32D)<br>
<p>
There are already a lot of backends offering a control for the type of<br>
scanning, but few (none?) control transmission format. The two are of<br>
course interelated, but SANE can handle this quite nicely as it is.<br>
<p>
<i>&gt; --</i><br>
<i>&gt; In 4.5.4 Scan area options It might be nice to allow multiple scan</i><br>
<i>&gt; areas for devices that support multiple scan areas per page. I know</i><br>
<i>&gt; of a couple scanners that support such things.</i><br>
<i>&gt; </i><br>
<i>&gt; In addition, on scanners we build, each "window" of the page may have</i><br>
<i>&gt; a different format (i.e. JFIF for the color and gray, TIFF/G4 for the</i><br>
<i>&gt; bitonal) ant it would be nice to specify the frame type within the</i><br>
<i>&gt; scan area specification.</i><br>
<p>
Yes, not quite sure how we should do this... perhaps with<br>
<p>
tl-x[1] ... tl-x[8] and format[1] ... format[8]<br>
<p>
and the appropriate user-interface grouping (we can create Groups in<br>
SANE options and expect the interface to do something sensible)<br>
<p>
Then we also need a way to turn off windows we're not using.<br>
<p>
This might take a bit longer to get right than I though ;)<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0311.html">Stephen Williams: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0309.html">Petter Reinholdtsen: "Re: net problem"</a>
<li> <b>In reply to:</b> <a href="0304.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
