<!-- received="Mon Aug 30 09:22:37 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 11:26:31 -0400 (EDT)" -->
<!-- name="ml@vianetinc.com" -->
<!-- email="ml@vianetinc.com" -->
<!-- subject="Mustek MFS-6000CX, once again please." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek MFS-6000CX, once again please.</title>
<h1>Mustek MFS-6000CX, once again please.</h1>
<a href="mailto:ml@vianetinc.com"><i>ml@vianetinc.com</i></a><br>
<i>Mon, 30 Aug 1999 11:26:31 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#338">[ date ]</a><a href="index.html#338">[ thread ]</a><a href="subject.html#338">[ subject ]</a><a href="author.html#338">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0339.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0337.html">Dan Kegel: "Newbie Q: Accessing Scanport SQ4800 via SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hate to be a pest but anyone out there can tell me if I need a SCSI<br>
terminator given that I'm using a new SCSI card. The Mustek came without<br>
one and I'm a little confused over the difference between the the<br>
Mustek-supplied "SCSI" card and a "real" card.<br>
<p>
Please advise. Thanks.<br>
<p>
Mike Lucente<br>
<a href="mailto:ml@vianetinc.com">ml@vianetinc.com</a><br>
ICQ# 12077166<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0339.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0337.html">Dan Kegel: "Newbie Q: Accessing Scanport SQ4800 via SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
