<!-- received="Mon Aug 30 10:51:39 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 19:53:10 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: SANE V2 - again..." -->
<!-- id="" -->
<!-- inreplyto="SANE V2 - again..." -->
<title>sane-devel: Re: SANE V2 - again...</title>
<h1>Re: SANE V2 - again...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 30 Aug 1999 19:53:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#345">[ date ]</a><a href="index.html#345">[ thread ]</a><a href="subject.html#345">[ subject ]</a><a href="author.html#345">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0346.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0344.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0346.html">abel deuring: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
abel deuring wrote:<br>
<p>
<i>&gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Nick Lamb wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt;  Should all these data be</i><br>
<i>&gt; &gt; &gt; &gt; considered as one data stream by the backend / frontend API,</i><br>
<i>&gt; &gt; &gt; &gt; or should there be provisions to allow multiple data</i><br>
<i>&gt; &gt; &gt; &gt; streams? I am sure that Tom Martone and other people working</i><br>
<i>&gt; &gt; &gt; &gt; with this class of scanners have already thought about it,</i><br>
<i>&gt; &gt; &gt; &gt; so I would like hear comments from them.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; There is a provision for multiple data frames, so the question</i><br>
<i>&gt; &gt; &gt; is: Should we use it for this in SANE 2.0, and I think the</i><br>
<i>&gt; &gt; &gt; answer has to be "Yes", unless there's a better idea.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; (SANE 1.0 doesn't use multiple data frames for this purpose,</i><br>
<i>&gt; &gt; &gt; but it does provide them for several other reasons anyway)</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Hm, can anyone tell me for what that shall be good?</i><br>
<i>&gt;</i><br>
<i>&gt; Hi Oliver,</i><br>
<i>&gt;</i><br>
<i>&gt; I simply wondered how Tom's backend/frontend combination handles the</i><br>
<i>&gt; different types and sets of data (ASCII/pixel data) for one scan, and if</i><br>
<i>&gt; there should be any kind of hints given by the backend to the frontend,</i><br>
<i>&gt; how to handle these sets of data: should they be stored just in one</i><br>
<i>&gt; file, or in several files, for example.</i><br>
<p>
Hi Abel,<br>
<p>
I think we will save one image to one file.<br>
For sane-2.0 I suggest to add a "comment" string to the<br>
parameter block, the backend can write any comment, into<br>
it and if the filetype allows comments in the header, the frontend<br>
saves the comment to the file.<br>
<p>
If we have different images, we will save them to different<br>
files so we call a new sane_start.<br>
<p>
If there is an audio stream or something else that shall be saved with the<br>
image into one file, that can be done with a raw format that is generated<br>
by the backend and the frontend simply saves the file.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0346.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0344.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0346.html">abel deuring: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
